@(m:  List[com.mapped.publisher.parse.classicvacations.datesearch.Booking], tripId: String)
@import org.joda.time.DateTimeConstants;

<script>
function getDetails(bookingID) {
$('#dynamicModalBody' ).modal('hide');
  var url = '/classicvacations/viewDetails?tripId=@tripId&bookingID=' + bookingID;
  setTimeout(function() {getModalPage(url);}, 500);
  return false;
}

function searchBooking (){
  var bookingID = $('#searchBookingId' ).val();
  return getDetails(bookingID);

}
</script>

<div id="dynamicModalBody" class="modal container hide fade documentModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h2 style="text-align:center;">Classic Vacations Bookings</h2>
  </div>
  <div class="modal-body" style="position:relative;font-family: 'Open Sans Condensed', sans-serif;">
  <div>
    <legend>Search by Booking ID</legend>
    <div class="row-fluid">
      <div class="span4"><input class="input-block-level" type="text" id="searchBookingId" name="searchBookingId" placeholder="Booking ID"></div>
      <div class="span2"><button class="btn btn-large btn-primary" onclick="searchBooking();">View Booking</button></div>
    </div>

  </div>
  @if(m != null && m.length > 0) {
    <div style="padding-top: 20px">
    <legend>Found Classic Vacations Bookings</legend>
    <table class="table table-striped">
      <thead>
        <tr>
          <th> BOOKED ON </th>
          <th> LEAD TRAVELLER </th>
          <th> DESTINATION </th>
          <th> DEPARTURE DATE </th>
          <th> AGENT</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      @for(p <- m) {
        <tr>
          <td> @p.getBookingDate </td>
          <td> @p.getLeadTravellerName</td>
          <td> @p.getDestination</td>
          <td> @p.getDepartureDate</td>
          <td> @p.getAgentName</td>
          <td> <button class="btn btn-primary" onclick="getDetails('@p.getBookingID')">View Details</button></td>
        </tr>
      }
      </tbody>
    </table>
    </div>
  }


  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>

</div>
