@(fv:  com.mapped.publisher.view.FeedTmpltView)
@import com.mapped.publisher.persistence.PoiMgr


@if(fv.message!=null && fv.message.length > 0) {
  <--alertMsg-->
  <div id="alertMsg">
    <h4> @fv.message</h4>
  </div>
  <--endAlertMsg-->
}

  <--pageTitle-->
<div id="pageTitle">
  <h1 class="page-title">Template Feed Management</h1>
</div>
  <--endPageTitle-->

  <--pageHeader-->
<div id="pageHeader">
</div>
  <--endPageHeader-->

  <--pageBody-->
  <div id="pageBody">
    <script type="application/javascript">
    $(function() {
      initTmpltFeeds();
    });
    </script>
    <legend>
      Select Feed To Manage
    </legend>
    <select class="selectpicker" id="feedSourceSelector">
      @for(v <- fv.srcList) {
        <option @if(v.getSrcId == fv.currSrc.getSrcId) {selected} value="@controllers.routes.AdminController.feedTmpltMgmt(v.getSrcId)">@v.getName</option>
      }
    </select>

    <div id="feedActivityStatus" class="well hide">
      <legend id="feedState">
      </legend>
      <div class="progress progress-striped active">
        <div class="bar" style="width: 0%;"></div>
        <span></span>
      </div>
    </div>

    <legend>
      Work With Feed
    </legend>
    <div class="well">
    <div class="container">
      <div class="row">
        <div class="span4 offset4">
          <a role="button" href="#feedWipeAllModal" id="feedWipe" class="btn btn btn-danger input-block-level" data-toggle="modal"><i class="fa fa-bomb"></i>&nbsp; Wipe All Imported Records</a>
          <p class="note">Deletes all records from 'tmplt_import' table for @fv.currSrc.getName source.</p>
        </div>
      </div>
      <div class="row">
        <div class="span3">
          <a role="button" href="#feedLoadModal" id="feedLoad" class="btn btn-info input-block-level" data-toggle="modal">1. Load Feed</a>
          <p class="note">Loading feed from the feed-custom source into 'tmplt_import' table.</p>
        </div>


        <div class="span3">
          <a role="button" href="#feedProcessModal" id="feedProcess" class="btn btn-info input-block-level" data-toggle="modal">2. Process Feed</a>
          <p class="note">For all records in 'tmplt_import' from @fv.currSrc.getName feed, generates trip templates.</p>
        </div>

        <div class="span3">
          <a role="button" href="#feedDeleteOrphanModal" id="feedDeleteOrphan" class="btn btn-info input-block-level" data-toggle="modal">3. Delete Orphan Templates</a>
          <p class="note">Deletes or marks as deleted @fv.currSrc.getName templates record, if it is no longer present in the feed as represented by records in 'tmplt_import' table.</p>
        </div>
        @*
        <div class="span3">
          <a role="button" href="#feedClearAmenitiesModal" id="feedClearAmenities" class="btn btn-info input-block-level" data-toggle="modal">3. Clear amenities</a>
          <p class="note">For all records that are present in 'poi_src_feed' table, but are not in 'poi_import' modifies records to remove amenities via a feed-custom transform function</p>
        </div>
        <div class="span3">
          <a role="button" href="#feedPurgeModal" id="feedRemoveUnchanged" class="btn btn-info input-block-level" data-toggle="modal">4. Purge Unchanged</a>
          <p class="note">Removes all records from 'poi_import' table that have matching hashes in 'poi_src_feed' table.</p>
        </div>

        *@
      </div>
      @*
      <br/>
      <div class="row">
        <div class="span3">
          <a role="button" href="#feedCopyModifiedModal" id="feedCopyModified" class="btn btn-info input-block-level" data-toggle="modal">5. Move matched</a>
          <p class="note">Inserts or updates 'MATCHED' records from 'poi_import' table to 'poi_src_feed'.</p>
        </div>
        <div class="span3">
          <a role="button" href="#feedAssociateModal" id="feedAssociate" class="btn btn-info input-block-level" data-toggle="modal">6. Associate</a>
          <p class="note">Runs feed customized algorithm on all 'UNPROCESSED' records in the 'poi_import' table against data in 'poi' table.</p>
        </div>
        <div class="span3">
          <a role="button" href="#feedSyncPOIModal" id="feedUpdatePOI" class="btn btn-info input-block-level" data-toggle="modal">7. Update POIs</a>
          <p class="note">Synchronizes (updates) records in the 'poi' table with records from 'poi_src_feed' that are marked as not in sync (is_synced column).</p>
        </div>

      </div>
      *@
    </div>
    </div>

    <div id="feedWipeAllModal" class="modal container hide fade" tabindex="-1" data-replace="true"
         data-backdrop="static" data-keyboard="false" data-modalOverflow="true">
      <div class="modal-header">
        <button id="feedWipeAllModalCloseTop" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Delete all loaded @fv.currSrc.getName resources</h3>
      </div>
      <div class="modal-body">
        <legend>
          Wipe All Records
        </legend>
        <div class="alert alert-block">
          <h4>Important!</h4>
          This operation will delete ALL imported records for @fv.currSrc.getName(). This will not touch records that are already converted to templates.
        </div>
        <div class="row">
          <div class="offset4 span3">
            <a role="button" class="btn btn-danger input-block-level"
               onclick="feedWipeAll('@controllers.routes.AdminController.feedTmpltWipe(fv.currSrc.getSrcId())');"><i class="fa fa-bomb"></i>&nbsp;Wipe</a></div>
        </div>
        <br/>
        <div class="well hide" id="wipeAllResults">
          <legend>Results are In</legend>
          <div class="alert alert-success hide" id="wipeAllCount">
          </div>
        </div>
        <div id="loadFeedModalSpinner" class="spinner"
        style="display:none; background: rgba(255,255,255,.7) url('@{fv.imgUrl}/img/ajax-loader-white-1.gif') center center no-repeat;width:100%;height:100%;position: absolute; top: 0px; left: 0px;z-index:100;min-height:200px">
        </div>
      </div> <!-- modal-body -->
      <div class="modal-footer">
        <button id="feedWipeAllModalClose" type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>

    <div id="feedLoadModal" class="modal container hide fade" tabindex="-1" data-replace="true"
         data-backdrop="static" data-keyboard="false" data-modalOverflow="true">
    <div class="modal-header">
      <button id="feedLoadModalCloseTop" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Load full feed for @fv.currSrc.getName</h3>
    </div>
    <div class="modal-body">
      <legend>
        Load Feed Records
      </legend>
      <div class="alert alert-block">
        <h4>Important!</h4>
        This operation will download @fv.currSrc.getName() feed and store it in 'tmplt_import' table.
        This will not touch records that are already converted to templates.
      </div>
      <div class="row">
        <div class="offset4 span3">
          <a role="button" class="btn btn-danger input-block-level"
          onclick="feedLoadSimple('@controllers.routes.AdminController.feedTmpltLoad(fv.currSrc.getSrcId())');"><i class="fa fa-cloud-download"></i>&nbsp;Load</a></div>
      </div>
      <br/>
      <div class="well hide" id="loadResults">
        <legend>Results are In</legend>
        <div class="alert alert-success hide" id="loadCount">
        </div>
      </div>
      <div id="loadFeedModalSpinner" class="spinner"
      style="display:none; background: rgba(255,255,255,.7) url('@{fv.imgUrl}/img/ajax-loader-white-1.gif') center center no-repeat;width:100%;height:100%;position: absolute; top: 0px; left: 0px;z-index:100;min-height:200px">
      </div>
    </div> <!-- modal-body -->
    <div class="modal-footer">
      <button id="feedLoadModalClose" type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
  </div>

    <div id="feedProcessModal" class="modal container hide fade" tabindex="-1" data-replace="true"
       data-backdrop="static" data-keyboard="false" data-modalOverflow="true">
    <div class="modal-header">
      <button id="feedProcessModalCloseTop" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Process full feed for @fv.currSrc.getName</h3>
    </div>
    <div class="modal-body">
      <legend>
        Process Feed Records
      </legend>
      <div class="alert alert-block">
        <h4>Important!</h4>
        This operation will process @fv.currSrc.getName() feed and store it in 'tmplt_import' table.
        This will not touch records that are already converted to templates.
      </div>
      <div class="row">
        <div class="offset4 span3">
          <a role="button" class="btn btn-danger input-block-level"
          onclick="feedProcessSimple('@controllers.routes.AdminController.feedTmpltProcess(fv.currSrc.getSrcId())');"><i class="fa fa-cloud-downprocess"></i>&nbsp;Process</a></div>
      </div>
      <br/>
      <div class="well hide" id="processResults">
        <legend>Results are In</legend>
        <div class="alert alert-success hide" id="processCount">
        </div>
      </div>
      <div id="processFeedModalSpinner" class="spinner"
      style="display:none; background: rgba(255,255,255,.7) url('@{fv.imgUrl}/img/ajax-loader-white-1.gif') center center no-repeat;width:100%;height:100%;position: absolute; top: 0px; left: 0px;z-index:100;min-height:200px">
      </div>
    </div> <!-- modal-body -->
    <div class="modal-footer">
      <button id="feedProcessModalClose" type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
  </div>


  <div id="feedDeleteOrphanModal" class="modal container hide fade" tabindex="-1" data-replace="true"
      data-backdrop="static"
      data-keyboard="false"
      data-modalOverflow="true">
    <div class="modal-header">
      <button id="feedDeleteOrphanPOIModalCloseTop" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Deletes @fv.currSrc.getName() imported records that are no longer in the feed as well as linked generated Templates.</h3>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="offset3 span3"><a role="button" class="btn btn-info input-block-level"
        onclick="feedDeleteOrphanPoi('@controllers.routes.AdminController.feedTmpltCleanup(fv.currSrc.getSrcId(), PoiMgr.DeleteMode.SOFT.name())')">Soft Delete</a></div>
        <div class="span3"><a role="button" class="btn btn-info input-block-level"
        onclick="feedDeleteOrphanPoi('@controllers.routes.AdminController.feedTmpltCleanup(fv.currSrc.getSrcId(), PoiMgr.DeleteMode.HARD.name())')">Hard Delete</a></div>
      </div>
      <br/>

      <div class="well hide" id="deleteOrphansResults">
        <legend>Results are In</legend>

        <div class="alert alert-success hide" id="deletedOrphansCounts">
        </div>
      </div>
      <div id="feedDeleteOrphanPOIModalSpinner" class="spinner"
      style="display:none; background: rgba(255,255,255,.7) url('@{fv.imgUrl}/img/ajax-loader-white-1.gif') center center no-repeat;width:100%;height:100%;position: absolute; top: 0px; left: 0px;z-index:100;min-height:200px">
      </div>
    </div> <!-- modal-body -->
    <div class="modal-footer">
      <button id="feedDeleteOrphanPOIModalClose" type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
  </div>



    @*
    <legend>
      Select Import State
    </legend>    <div id="feedWipeAllModal" class="modal container hide fade" tabindex="-1" data-replace="true"
    data-backdrop="static" data-keyboard="false" data-modalOverflow="true">
    <div class="modal-header">
    <button id="feedWipeAllModalCloseTop" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Delete all duplicates among loaded @fv.poiSrcs.get(fv.currSrc) resources</h3>
    </div>
    <div class="modal-body">
    <legend>
    Wipe All Records
    </legend>
    <div class="alert alert-block">
    <h4>Important!</h4>
    This operation will delete ALL imported records for @fv.poiSrcs.get(fv.currSrc). This will not touch records that are already in the POI feed.
    </div>
    <div class="row">
    <div class="offset4 span3">
    <a role="button" class="btn btn-danger input-block-level"
    onclick="feedWipeAll('@controllers.routes.PoiController.feedWipeAll(fv.currSrc)');"><i class="fa fa-bomb"></i>&nbsp;Wipe</a></div>
    </div>
    <br/>
    <div class="well hide" id="wipeAllResults">
    <legend>Results are In</legend>
    <div class="alert alert-success hide" id="wipeAllCount">
    </div>
    </div>
    <div id="loadFeedModalSpinner" class="spinner"
    style="display:none; background: rgba(255,255,255,.7) url('@{fv.url}/img/ajax-loader-white-1.gif') center center no-repeat;width:100%;height:100%;position: absolute; top: 0px; left: 0px;z-index:100;min-height:200px">
    </div>
    </div> <!-- modal-body -->
    <div class="modal-footer">
    <button id="feedWipeAllModalClose" type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
    </div>
    <select class="selectpicker" id="feedStateSelector">
    @for(v <- ImportState.values()) {
      <option  @if(v == fv.currFeedState){selected} value="@controllers.routes.PoiController.poiFeed(fv.currSrc, v.ordinal())">@v.name()</option>
    }
    </select>

    <legend>
      Currently Imported POIs
    </legend>
    <table id="importedPoisTable" class="table table-striped" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Country</th>
          <th>City</th>
          <th>Postal Code</th>
          <th>Import Time</th>
          <th>Filename</th>
          <th>Action</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Country</th>
          <th>City</th>
          <th>Postal Code</th>
          <th>Import Time</th>
          <th>Filename</th>
          <th>Action</th>
        </tr>
      </tfoot>
    </table>

    <div id="feedButtonArea">
      <br/>
      <div class="row">
        <div class="offset6 span2">
          <a onclick="doPost ('@controllers.routes.PoiController.feedDeleteAll(fv.currSrc, fv.currFeedState.ordinal())');return false;" role="button" class="btn btn-info input-block-level">
            Delete All
          </a>
        </div>

      @if(fv.currFeedState == ImportState.MISMATCH) {
          <div class="span2">
            <a onclick="doPost ('@controllers.routes.PoiController.feedMoveAllAsNewFeedRecords(fv.currSrc, fv.currFeedState.ordinal())');return false;" role="button" class="btn btn-info input-block-level">
              Import All as New
            </a>
          </div>
      }

      @if(fv.currFeedState == ImportState.UNSURE) {
        <div class="span2">
          <a onclick="doPost ('@controllers.routes.PoiController.feedMoveAllAsNewFeedRecords(fv.currSrc, fv.currFeedState.ordinal())');return false;" role="button" class="btn btn-danger input-block-level">
            <i class="fa fa-bomb"></i>&nbsp;Auto Insert
          </a>
        </div>
        <div class="span2">
          <a onclick="doPost ('@controllers.routes.PoiController.feedMoveAllAsNewFeedRecords(fv.currSrc, fv.currFeedState.ordinal(), true)');return false;" role="button" class="btn btn-info input-block-level">
            Import All as New
          </a>
        </div>
      }
      </div>
    </div>


    <div id="feedRecordPoiModal" class="modal container hide fade" tabindex="-1" data-replace="true" data-backdrop="static" data-keyboard="false" data-modalOverflow="true">
      <div class="modal-header">
        <button  id="feedRecordPoiModalCloseTop" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Associate imported @fv.poiSrcs.get(fv.currSrc) record with existing POI</h3>
      </div>
      <div class="modal-body">
        <legend>
          Feed Record
        </legend>

        <div class="row">
          <div class="span4">
            <label>Name</label>
            <input type="text" class="readonly input-block-level" readonly id="feedRecordName">
          </div>
          <div class="span1">
            <label>Country</label>
            <input type="text" class="readonly input-block-level" readonly id="feedRecordCountry">
          </div>
          <div class="span2">
            <label>City</label>
            <input type="text" class="readonly input-block-level" readonly id="feedRecordCity">
          </div>
          <div class="span3">
            <label>Address</label>
            <input type="text" class="readonly input-block-level" readonly id="feedRecordNameAddress">
          </div>
          <div class="span1">
            <label>Postal</label>
            <input type="text" class="readonly input-block-level" readonly id="feedRecordPostal">
          </div>
        </div>
        <legend>
          Suggestions
        </legend>
        <table id="feedRecordPoiTable" class="table table-striped" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Country</th>
              <th>City</th>
              <th>Address</th>
              <th>Postal Code</th>
              <th>Score</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="feedRecordPoiTableData">

          </tbody>
        </table>


        <div id="feedRecordPoiModalSpinner" class="spinner"
        style="display:none; background: rgba(255,255,255,.7) url('@{fv.url}/img/ajax-loader-white-1.gif') center center no-repeat;width:100%;height:100%;position: absolute; top: 0px; left: 0px;z-index:100;min-height:200px">
        </div>
      </div> <!-- modal-body -->
      <div class="modal-footer">
        <a id="recAsNewBtn" role="button" class="btn btn-warning  pull-left">
            Set As New POI
        </a>

        <button id="feedRecordPoiModalClose" type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>


    @if(fv.currSrc == FeedSourcesInfo.byName("Virtuoso Hotels")) {
      <div id="feedLoadModal" class="modal container hide fade" tabindex="-1" data-replace="true" data-backdrop="static" data-keyboard="false" data-modalOverflow="true">
        <div class="modal-header">
          <button id="feedLoadModalCloseTop" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3>Load one @fv.poiSrcs.get(fv.currSrc) resources</h3>
        </div>
        <div class="modal-body">
          <div class="alert hide" id="feedLoadModalAlert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <span></span>
          </div>
          <table id="feedFilesTable" class="table table-striped" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th>Filename</th>
                <th>Size</th>
                <th>Date</th>
                <th></th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>Filename</th>
                <th>Size</th>
                <th>Date</th>
                <th></th>
              </tr>
            </tfoot>
            <tbody>
            @for(v <- fv.files) {
              <tr>
                <td>@v.getKey</td>
                <td>@v.getSize</td>
                <td>@v.getLastModified</td>
                <td>
                  <a role="button" class="btn btn-warning input-block-level" onclick="feedLoadFile('@controllers.routes.PoiController.feedImportFile(fv.currSrc, v.getKey)')">
                    Load
                  </a>
                </td>
              </tr>
            }
            </tbody>
          </table>
          <div id="feedLoadModalSpinner" class="spinner" style="display:none; background: rgba(255,255,255,.7) url('@{fv.url}/img/ajax-loader-white-1.gif') center center no-repeat;width:100%;height:100%;position: absolute; top: 0px; left: 0px;z-index:100;min-height:200px">
          </div>
        </div> <!-- modal-body -->
        <div class="modal-footer">
          <button id="feedLoadModalClose" type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
      </div>
    } else { @* Ice Portal  *@@*
      @if(fv.currSrc == FeedSourcesInfo.byName("Ice Portal")) {
        <div id="feedLoadModal" class="modal container hide fade" tabindex="-1" data-replace="true" data-backdrop="static" data-keyboard="false" data-modalOverflow="true">
          <div class="modal-header">
            <button id="feedLoadModalCloseTop" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Load one @fv.poiSrcs.get(fv.currSrc) resources</h3>
          </div>
          <div class="modal-body">
            <div class="alert hide" id="feedLoadModalAlert">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <span></span>
            </div>
            <legend>
              Load Feed
            </legend>
            <div class="alert alert-block">
              <h4>Important!</h4>
              It may take considerable amount of time to load the feed from 3rd party systems. During this time this page might become unresponsive.
            </div>
            <div class="row">
              <div class="offset3 span3"><a role="button" class="btn btn-info input-block-level"
              onclick="feedLoad('@controllers.routes.PoiController.feedImport(fv.currSrc)', '@controllers.routes.PoiController.feedState(fv.currSrc)');">Load</a></div>
              <div class="span3"><a role="button" class="btn btn-info input-block-level"
              onclick="feedLoad('@controllers.routes.PoiController.feedUpdate(fv.currSrc)', '@controllers.routes.PoiController.feedState(fv.currSrc)');">Update</a></div>

            </div>
            <br/>
            <div id="feedLoadProgressArea" class="well hide">
              <legend id="feedState">
              </legend>
              <div class="progress progress-striped active">
                <div class="bar" style="width: 0%;"></div>
                <span></span>
              </div>
            </div>

            <div id="feedLoadModalSpinner" class="spinner"
            style="display:none; background: rgba(255,255,255,.7) url('@{fv.url}/img/ajax-loader-white-1.gif') center center no-repeat;width:100%;height:100%;position: absolute; top: 0px; left: 0px;z-index:100;min-height:200px">
            </div>
          </div> <!-- modal-body -->
          <div class="modal-footer">
            <button id="feedLoadModalClose" type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
          </div>
        </div>
      } else {
        @if(fv.currSrc == FeedSourcesInfo.byName("Big Five")) {
          <div id="feedLoadModal" class="modal container hide fade" tabindex="-1" data-replace="true" data-backdrop="static" data-keyboard="false" data-modalOverflow="true">
            <div class="modal-header">
              <button id="feedLoadModalCloseTop" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h3>Load one @fv.poiSrcs.get(fv.currSrc) resources</h3>
            </div>
            <div class="modal-body">
              <div class="alert hide" id="feedLoadModalAlert">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <span></span>
              </div>
              <legend>
                Load Feed
              </legend>
              <div class="alert alert-block">
                <h4>Important!</h4>
                It may take considerable amount of time to load the feed from 3rd party systems. During this time this page might become unresponsive.
              </div>
              <div class="row">
                <div class="offset3 span3"><a role="button" class="btn btn-info input-block-level"
                onclick="feedLoad('@controllers.routes.PoiController.feedImport(fv.currSrc)', '@controllers.routes.PoiController.feedState(fv.currSrc)');">Load</a></div>
                <div class="span3"><a role="button" class="btn btn-info input-block-level"
                onclick="feedLoad('@controllers.routes.PoiController.feedUpdate(fv.currSrc)', '@controllers.routes.PoiController.feedState(fv.currSrc)');">Update</a></div>

              </div>
              <br/>
              <div id="feedLoadProgressArea" class="well hide">
                <legend id="feedState">
                </legend>
                <div class="progress progress-striped active">
                  <div class="bar" style="width: 0%;"></div>
                  <span></span>
                </div>
              </div>

              <div id="feedLoadModalSpinner" class="spinner"
              style="display:none; background: rgba(255,255,255,.7) url('@{fv.url}/img/ajax-loader-white-1.gif') center center no-repeat;width:100%;height:100%;position: absolute; top: 0px; left: 0px;z-index:100;min-height:200px">
              </div>
            </div> <!-- modal-body -->
            <div class="modal-footer">
              <button id="feedLoadModalClose" type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
          </div>
        } else {
          @* Unsupported Feed  *@@*
          <div id="feedLoadModal" class="modal container hide fade" tabindex="-1" data-replace="true" data-backdrop="static" data-keyboard="false" data-modalOverflow="true">
            <div class="modal-header">
              <button id="feedLoadModalCloseTop" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h3>Load one @fv.poiSrcs.get(fv.currSrc) resources</h3>
            </div>
            <div class="modal-body">
              <div class="alert hide" id="feedLoadModalAlert">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <span></span>
              </div>

              <div class="alert">
                <strong>Note!</strong> Only file based resources can be loaded now.
              </div>

            <div id="feedLoadModalSpinner" class="spinner"
              style="display:none; background: rgba(255,255,255,.7) url('@{fv.url}/img/ajax-loader-white-1.gif') center center no-repeat;width:100%;height:100%;position: absolute; top: 0px; left: 0px;z-index:100;min-height:200px">
              </div>
            </div> <!-- modal-body -->
            <div class="modal-footer">
              <button id="feedLoadModalClose" type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
          </div>
        }
      }
    }



    <div id="feedDelDupModal" class="modal container hide fade" tabindex="-1" data-replace="true" data-backdrop="static" data-keyboard="false" data-modalOverflow="true">
      <div class="modal-header">
        <button id="feedDelDupModalCloseTop" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Delete all duplicates among loaded @fv.poiSrcs.get(fv.currSrc) resources</h3>
      </div>
      <div class="modal-body">
        <legend>
          Delete Duplicates
        </legend>
        <div class="alert alert-block">
          <h4>Important!</h4>
          This operation will delete all records which have the same reference id and name from the same source. It will preserve only one most recently imported entry.
        </div>
        <div class="row">
          <div class="offset4 span3"><a role="button" class="btn btn-info input-block-level" onclick="feedDelDup('@controllers.routes.PoiController.feedDeleteDuplicates(fv.currSrc, fv.currFeedState.ordinal())');">Delete Duplicates</a></div>
        </div>
        <br/>

        <div class="well hide" id="delDupResults">
          <legend>Results are In</legend>
          <div class="alert alert-error hide" id="delDupFail">
          </div>
          <div class="alert alert-success hide" id="delDupSuccess">
          </div>
        </div>

        <div id="loadFeedModalSpinner" class="spinner"
        style="display:none; background: rgba(255,255,255,.7) url('@{fv.url}/img/ajax-loader-white-1.gif') center center no-repeat;width:100%;height:100%;position: absolute; top: 0px; left: 0px;z-index:100;min-height:200px">
        </div>
      </div> <!-- modal-body -->
      <div class="modal-footer">
        <button id="feedDelDupModalClose" type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>



    <div id="feedClearAmenitiesModal" class="modal container hide fade" tabindex="-1" data-replace="true"
          data-backdrop="static"
          data-keyboard="false"
          data-modalOverflow="true">
      <div class="modal-header">
        <button id="feedClearAmenitiesModalCloseTop" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Deletes amenities for records that are no longer in the feed</h3>
      </div>
      <div class="modal-body">
        <div class="alert alert-block">
          <h4>Important!</h4>
          <p>
          <em>Feed should be freshly loaded and no other operations performed before running this command.
            Failure will result in removal of all amenities for all records currently not in the table.</em>
          </p>

          Depending on the number of records removed from the feed this request might timeout. Reload page if this happens a few minutes later.
        </div>
        <div class="row">
          <div class="offset3 span3"><a role="button" class="btn btn-info input-block-level"
          onclick="feedClearAmenities('@controllers.routes.PoiController.feedClearAmenities(fv.currSrc)')">Clear Amenities</a></div>
        </div>
        <br/>

        <div class="well hide" id="clearedAmenitiesResults">
          <legend>Results are In</legend>
          <div class="alert alert-success hide" id="clearedAmenitiesCount">
          </div>
        </div>
        <div id="feedClearAmenitiesModalSpinner" class="spinner"
        style="display:none; background: rgba(255,255,255,.7) url('@{fv.url}/img/ajax-loader-white-1.gif') center center no-repeat;width:100%;height:100%;position: absolute; top: 0px; left: 0px;z-index:100;min-height:200px">
        </div>
      </div> <!-- modal-body -->
      <div class="modal-footer">
        <button id="feedClearAmenitiesModalClose" type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>

    <div id="feedPurgeModal" class="modal container hide fade" tabindex="-1" data-replace="true" data-backdrop="static" data-keyboard="false" data-modalOverflow="true">
      <div class="modal-header">
        <button id="feedPurgeModalCloseTop" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Delete all unchanged @fv.poiSrcs.get(fv.currSrc) resources</h3>
      </div>
      <div class="modal-body">
        <legend>
          Purge Unchanged
        </legend>
        <div class="alert alert-block">
          <h4>Important!</h4>
          All loaded records that have hash that matches one of the existing hashes in the system will get deleted. This will
          speed-up all other operations.
        </div>
        <div class="row">
          <div class="offset4 span3"><a role="button" class="btn btn-info input-block-level" onclick="feedPurge('@controllers.routes.PoiController.feedPurgeData(fv.currSrc)');">Purge</a></div>
        </div>
        <br/>

        <div class="well hide" id="purgeResults">
          <legend>Results are In</legend>
          <div class="alert alert-error hide" id="purgeFail">
          </div>
          <div class="alert alert-success hide" id="purgeSuccess">
          </div>
        </div>

        <div id="loadFeedModalSpinner" class="spinner"
        style="display:none; background: rgba(255,255,255,.7) url('@{fv.url}/img/ajax-loader-white-1.gif') center center no-repeat;width:100%;height:100%;position: absolute; top: 0px; left: 0px;z-index:100;min-height:200px">
        </div>
      </div> <!-- modal-body -->
      <div class="modal-footer">
        <button id="feedPurgeModalClose" type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>

    <div id="feedCopyModifiedModal" class="modal container hide fade" tabindex="-1" data-replace="true" data-backdrop="static" data-keyboard="false" data-modalOverflow="true">
      <div class="modal-header">
        <button id="feedCopyModifiedModalCloseTop" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Move all matched or modified @fv.poiSrcs.get(fv.currSrc) resources</h3>
      </div>
      <div class="modal-body">
        <legend>
          Move Matched
        </legend>
        <div class="alert alert-block">
          <h4>Important!</h4>
          This operation is a three step process:
          <ul>
            <li>Insert all matched records that don't have corresponding match already in the feed storage</li>
            <li>Updated all modified records in the feed storage</li>
            <li>Purge all inserted and updated records from the import table</li>
          </ul>
        </div>
        <div class="row">
          <div class="offset4 span3"><a role="button" class="btn btn-info input-block-level" onclick="feedMove('@controllers.routes.PoiController.feedMoveMatched(fv.currSrc)');">Move</a></div>
        </div>
        <br/>

        <div class="well hide" id="moveResults">
          <legend>Results are In</legend>
          <div class="alert alert-error hide" id="moveFail">
          </div>
          <div class="alert alert-success hide" id="moveSuccess">
          </div>
        </div>

        <div id="feedCopyModifiedModalSpinner" class="spinner"
        style="display:none; background: rgba(255,255,255,.7) url('@{fv.url}/img/ajax-loader-white-1.gif') center center no-repeat;width:100%;height:100%;position: absolute; top: 0px; left: 0px;z-index:100;min-height:200px">
        </div>
      </div> <!-- modal-body -->
      <div class="modal-footer">
        <button id="feedCopyModifiedModalClose" type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>

    <div id="feedAssociateModal" class="modal container hide fade" tabindex="-1" data-replace="true" data-backdrop="static" data-keyboard="false" data-modalOverflow="true">
      <div class="modal-header">
        <button  id="feedAssociateModalCloseTop" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Associate imported @fv.poiSrcs.get(fv.currSrc) pois with existing set</h3>
      </div>
      <div class="modal-body">
        <legend>
          Select POI Type
        </legend>
        <select id="feedAssociatePoiTypes">
          @for((k,v) <- PoiTypeInfo.Instance().getTypeMap) {
            <option value="@controllers.routes.PoiController.feedAssociateData(fv.currSrc, k)">@v</option>
          }
        </select>

        <div class="alert alert-block">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <h4>Important!</h4>
          Depending on the number of unprocessed items this request might timeout. Reload page if this happens a few minutes later.<br/>This is a good time to have a <i>coffee break</i>.
        </div>
        <div class="row">
          <div class="offset4 span3"><a role="button" class="btn btn-info input-block-level" onclick="feedAssociate('@controllers.routes.PoiController.feedState(fv.currSrc)')">Perform Association</a></div>
        </div>
        <br/>

        <div id="feedAssociateState" class="well hide">
          <legend id="feedState">
          </legend>
          <div class="progress progress-striped active">
            <div class="bar" style="width: 0%;"></div>
            <span></span>
          </div>
        </div>

        <div class="well hide" id="associationResults">
          <legend>Results are In</legend>
          <div class="alert alert-error hide" id="associationMismatch">
          </div>
          <div class="alert alert-success hide" id="associationMatch">
          </div>
          <div class="alert hide" id="associationUnsure">
          </div>
          <div class="alert alert-error hide" id="associationUnprocessed">
          </div>
        </div>


        <div id="feedAssociateModalSpinner" class="spinner"
        style="display:none; background: rgba(255,255,255,.7) url('@{fv.url}/img/ajax-loader-white-1.gif') center center no-repeat;width:100%;height:100%;position: absolute; top: 0px; left: 0px;z-index:100;min-height:200px">
        </div>
      </div> <!-- modal-body -->
      <div class="modal-footer">
        <button id="feedAssociateModalClose" type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>

    <div id="feedSyncPOIModal" class="modal container hide fade" tabindex="-1" data-replace="true" data-backdrop="static" data-keyboard="false" data-modalOverflow="true">
      <div class="modal-header">
        <button id="feedSyncPOIModalCloseTop" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Sync updated @fv.poiSrcs.get(fv.currSrc) records to main POI table</h3>
      </div>
      <div class="modal-body">
        <div class="alert alert-block">
          <h4>Important!</h4>
          Depending on the number of unprocessed items this request might timeout. Reload page if this happens a few minutes later.
          <br/>This is a good time to have a <i>coffee break</i>.
        </div>
        <div class="row">
          <div class="offset4 span3"><a role="button" class="btn btn-info input-block-level" onclick="feedSyncPoi('@controllers.routes.PoiController.feedSyncPoi(fv.currSrc)')">Sync Feed to POI</a></div>
        </div>
        <br/>

        <div class="well hide" id="syncResults">
          <legend>Results are In</legend>
          <div class="alert alert-error hide" id="syncFail">
          </div>
          <div class="alert alert-success hide" id="syncSuccess">
          </div>
        </div>
        <div id="feedSyncPOIModalSpinner" class="spinner"
        style="display:none; background: rgba(255,255,255,.7) url('@{fv.url}/img/ajax-loader-white-1.gif') center center no-repeat;width:100%;height:100%;position: absolute; top: 0px; left: 0px;z-index:100;min-height:200px">
        </div>
      </div> <!-- modal-body -->
      <div class="modal-footer">
        <button id="feedSyncPOIModalClose" type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>


    *@

  </div>
  <--endPageBody-->
