@(m:  com.mapped.publisher.view.TripPreviewView)
@import com.umapped.persistence.enums.ReservationType
@import com.umapped.persistence.enums.ReservationType
@import org.apache.commons.lang3.StringEscapeUtils.escapeEcmaScript
@import com.mapped.publisher.view.UmFlightReservationView
@import com.mapped.publisher.view.UmAccommodationReservationView
@import com.mapped.publisher.view.UmCruiseReservationView
@import com.mapped.publisher.view.UmActivityReservationView
@import com.mapped.publisher.view.UmTransferReservationView

@if(m.message!=null && m.message.length > 0) {
<--alertMsg-->
<div id="alertMsg">
    <h4> @m.message</h4>
</div>
<--endAlertMsg-->

}

<--pageBody-->
<div id="pageBody">
  <script>
    var selectedTab = 'all';
    $(document).ready(function(){
        $("#flightTab").hide();
        $("#hotelTab").hide();
        $("#cruiseTab").hide();
        $("#activityTab").hide();
        $("#transportTab").hide();
    });

    function selectTab(tabName) {
        $('#' + selectedTab + 'Menu').removeClass('current');
        $('#' + tabName + 'Menu').addClass('current');
        $('#' + selectedTab + 'Tab').hide();
        $('#' + tabName + 'Tab').show();
        selectedTab = tabName;
    }

    $("#dateNavigation").change(function()
    {
    document.location.href = $(this).val();
    });

    //BX Slider
    $(document).ready(function(){
      $('.slider').bxSlider({
      slideWidth: 60,
      minSlide: 1,
      maxSlides: 9,
      slideMargin: 6,
      pager: false,
      preloadImages: 'all',
      infiniteLoop: false,
      hideControlOnEnd: true,
      });
    });


    function getYoutubeThumbnail( url, size )
    {
    if(url === null){ return ""; }

    size = (size === null) ? "big" : size;
    var vid;
    var results;

    if (url.indexOf('embed') > 0) {
    var embedPos  = url.indexOf("embed/") + 6;
    var ampersandPosition = url.indexOf('?');
      if(ampersandPosition != -1) {
        vid = url.substring(embedPos, ampersandPosition);
      } else {
        vid = url.substring(embedPos);
      }
    } else {
    results = url.match ( "[\\?&]v=([^&#]*)" ) ;
    vid = ( results === null ) ? url : results[1];

    }

    if(size == "small"){
    return "http://img.youtube.com/vi/"+vid+"/1.jpg";
    }else {
    return "http://img.youtube.com/vi/"+vid+"/0.jpg";
    }
    }



    /**
    *MASONRY
    */

    $(document).ready(function(){
      @if(m.bookings.notes != null && m.bookings.notes.length > 0) {

        @for(p <- m.bookings.notes) {
          @if(p.videos != null && p.videos.length > 0) {
            @for(v <- p.videos) {
              @if(v != null && v.attachUrl != null && v.attachUrl.trim.length > 0) {
                var v_@v.id = getYoutubeThumbnail('@v.attachUrl','small');
                $('#video_@v.id').attr("src",v_@v.id);
              }

            }
          }
        }
      }
  });

  </script>

  <div class="content">
    @if(m.tripCoverUrl != null && m.tripCoverUrl.trim().length > 0 && m.displayCover) {
      <div style="background: url(@m.tripCoverUrl) no-repeat center ; overflow: hidden; height:300px; width:100%;margin-left: 0px;-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;margin-top: 10px" > &nbsp;</div>

    }
    <h2 class="content-subhead">
        @Messages("webitinerary.bookings")
    </h2>
    <a class="note"  href="/trips/loadPdf?inTripId=@m.tripId" target="_blank" @if(m.tripCoverUrl != null && m.tripCoverUrl.trim().length > 0 && m.displayCover){style="margin-top: 325px" }>
        (Messages("webitinerary.downloadpdf") <i class="icon-download"></i>)
    </a>
    <div class="bookings-menu">
      <a href="#" class="bookings-tabs current" id="allMenu" onclick="javascript:selectTab('all');">
        <span>@Messages("webitinerary.bookings")</span>
      </a>
      @if(m.bookings != null && m.bookings.flights != null && m.bookings.flights.size() > 0) {
         <a href="#" class="bookings-tabs" id="flightMenu" onclick="javascript:selectTab('flight');">
          <i class="icon-flight"></i><span>@Messages("webitinerary.flights")</span>
        </a>
      }
      @if(m.bookings != null && m.bookings.hotels != null && m.bookings.hotels.size() > 0) {
        <a href="#" class="bookings-tabs" id="hotelMenu" onclick="javascript:selectTab('hotel');">
          <i class="icon-hotel"></i><span>@Messages("webitinerary.hotels")</span>
        </a>
      }
      @if(m.bookings != null && m.bookings.cruises != null && m.bookings.cruises.size() > 0) {
        <a href="#" class="bookings-tabs" id="cruiseMenu" onclick="javascript:selectTab('cruise');">
          <i class="icon1-cruise"></i><span>
        @Messages("webitinerary.cruises")</span>
        </a>
      }
      @if(m.bookings != null && m.bookings.transfers != null && m.bookings.transfers.size() > 0) {
        <a href="#" class="bookings-tabs" id="transportMenu" onclick="javascript:selectTab('transport');">
          <i class="icon-auto"></i><span>@Messages("webitinerary.transport")</span>
        </a>
      }
      @if(m.bookings != null && m.bookings.activities != null && m.bookings.activities.size() > 0) {
        <a href="#" class="bookings-tabs fifth" id="activityMenu" onclick="javascript:selectTab('activity');">
          <i class="icon-activity"></i><span>@Messages("webitinerary.activities")</span>
        </a>
      }
    </div>

    <div style="position: relative">
    <div id="allTab" style="position: absolute;top: 0;left: 0;height: 100%">
    @m.bookings.getChronologicalBookings()
        @if(m.bookings.chronologicalDates != null && m.bookings.chronologicalDates.size() > 0) {

            <select id="dateNavigation">
            @for((k, i) <- m.bookings.chronologicalDates.zipWithIndex) {
              @if(k!=null && k.trim.length > 0) {
                <option value="#date_@i">@k</option>
              }
            }
            </select>

            @for((k, i) <- m.bookings.chronologicalDates.zipWithIndex) {
               <a name="date_@i"></a>
                <h3 class="bookings-date">@k</h3>
                @for(p <- m.bookings.chronologicalBookings.get(k)) {
                  @if(p.noteId != null && p.noteId > 0) {
                    @views.html.webItinerary.note(p)
                  } else {
                    @if(p.detailsTypeId.getRootLevelType == ReservationType.FLIGHT) {
                      @views.html.webItinerary.flight(p.asInstanceOf[UmFlightReservationView])
                    } else {
                      @if(p.detailsTypeId.getRootLevelType == ReservationType.HOTEL) {
                        @views.html.webItinerary.hotel(p.asInstanceOf[UmAccommodationReservationView])
                      } else {
                        @if(p.detailsTypeId.getRootLevelType == ReservationType.CRUISE) {
                          @views.html.webItinerary.cruise(p.asInstanceOf[UmCruiseReservationView], m)
                        } else {
                          @if(p.detailsTypeId.getRootLevelType == ReservationType.TRANSPORT) {
                            @views.html.webItinerary.transport(p.asInstanceOf[UmTransferReservationView])
                          } else {
                            @if(p.detailsTypeId.getRootLevelType == ReservationType.ACTIVITY) {
                              @views.html.webItinerary.activity(p.asInstanceOf[UmActivityReservationView])
                            }
                          }
                        }
                      }
                    }
                  }
                  @if(m.travellerId) {
                    <a class="btn" onclick="noti.talkback('@p.tripId','@p.detailsId');return false;"><i class="fa fa-comments"></i>&nbsp;Discuss</a>
                  }
                }
              }
          } else {
              <h3>@Messages("webitinerary.nobookings")</h3>
          }
      </div>
      @if(m.bookings != null && m.bookings.flights != null && m.bookings.flights.size() > 0) {
        <div id="flightTab" style="position:absolute;top:0;left:0;">
        @defining(m.bookings.getSubtreeBookings(ReservationType.FLIGHT)) { flights =>

          @for(p <- flights) {
            @views.html.webItinerary.flight(p.asInstanceOf[UmFlightReservationView])
          }
          @if(flights.size() == 0) {
            <h3> @Messages("webitinerary.noflights")</h3>
          }
        }
        </div>
      }
      @if(m.bookings != null && m.bookings.hotels != null && m.bookings.hotels.size() > 0) {
        <div id="hotelTab" style="position:absolute; top:0; left:0;">
        @defining(m.bookings.getSubtreeBookings(ReservationType.HOTEL)) { hotels =>
          @for(p <- hotels) {
            @views.html.webItinerary.hotel(p.asInstanceOf[UmAccommodationReservationView])
          }
          @if(hotels.size() == 0) {
            <h3>@Messages("webitinerary.nohotels")</h3>
          }
        }
        </div>
      }
      @if(m.bookings != null && m.bookings.cruises != null && m.bookings.cruises.size() > 0) {
        <div id="cruiseTab" style="position:absolute; top:0; left:0;">
        @defining(m.bookings.getSubtreeBookings(ReservationType.CRUISE)) { cruises =>
          @for(p <- cruises) {
            @views.html.webItinerary.cruise(p.asInstanceOf[UmCruiseReservationView], m)
          }
          @if(cruises.size() == 0) {
            <h3>@Messages("webitinerary.nocruises")</h3>
          }
        }
        </div>
      }
      @if(m.bookings != null && m.bookings.activities != null && m.bookings.activities.size() > 0) {
        <div id="activityTab" style="position:absolute; top:0;left:0;">
        @defining(m.bookings.getSubtreeBookings(ReservationType.ACTIVITY)) { activities =>
          @for(p <- activities) {
            @views.html.webItinerary.activity(p.asInstanceOf[UmActivityReservationView])
          }
          @if(activities.size() == 0) {
            <h3>@Messages("webitinerary.noactivities")</h3>
          }
        }
        </div>
      }
      @if(m.bookings != null && m.bookings.transfers != null && m.bookings.transfers.size() > 0) {
        <div id="transportTab" style="position:absolute; top:0; left:0;">
        @defining(m.bookings.getSubtreeBookings(ReservationType.TRANSPORT)) { transports =>
          @for(p <- transports) {
            @views.html.webItinerary.transport(p.asInstanceOf[UmTransferReservationView])
          }
          @if(transports.size() == 0) {
            <h3>@Messages("webitinerary.notransport")</h3>
          }
        }
        </div>
      }
    </div>
  </div>
</div>
<--endPageBody-->
