@(p:  List[com.mapped.publisher.view.AttachmentView], m:  com.mapped.publisher.view.TripBookingDetailView)

<div style="padding-left: 20px">
@if(p != null && p.size > 0) {
    @for(v <- p) {
        <div class="bookings_gallery">
            <a href='@Html(v.attachUrl)' class="photo_@m.detailsId"  data-type="image">
                <img src="@v.attachUrl" style="height: 100px" >
            </a>
        </div>
    }
}
</div>

<script>
    // ILIGHTBOX
    $(document).ready(function(){




    @if(p != null && p.size > 0) {
        @for(v <- p) {
            $('.photo_@m.detailsId').iLightBox({
            skin: 'metro-white', path: 'horizontal', controls: { arrows: true, thumbnail: false }, caption: { start: true, show: 'click', hide: 'click' }
            });
        }
    }
    });

</script>
