@(m:  com.mapped.publisher.view.TripPreviewView)
@import org.apache.commons.lang3.StringEscapeUtils.escapeEcmaScript


@if(m.message!=null && m.message.length > 0){
  <--alertMsg-->
  <div id="alertMsg">
      <h4> @m.message</h4>
  </div>
  <--endAlertMsg-->
}

    <--pageBody-->
<div id="pageBody">
<script>
    $(document).ready(function()  {
        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();

        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next ',
                center: 'title',
                right: ''
            },
            year: @escapeEcmaScript(m.startYear),
            month: @escapeEcmaScript(m.startMonth),
            date: @escapeEcmaScript(m.startDay),
            editable: false,
            events: myEvents,
            eventRender: function(event, element) {
              if (event.flight){
                $(element)
                        .prepend('<div><i class="fa fa-plane">&nbsp;@Messages("webitinerary.flight")</i></div>');
              }
              else if (event.hotel) {
                $(element)
                        .prepend('<div><i class="fa fa-home">&nbsp;@Messages("webitinerary.hotel")</i></div>');
              }
              else if (event.cruise) {
                $(element)
                        .prepend('<div><i><img width="15px" src="@{m.imgUrl}/img/666-cruise.png"></img>&nbsp;@Messages("webitinerary.cruise")</i></div>');
              }
              else if (event.transport) {
                $(element)
                        .prepend('<div><i class="fa fa-road">&nbsp;@Messages("webitinerary.transfer")</i></div>');
              }
              else if (event.activity)
              {
                $(element)
                        .prepend('<div><i class="fa fa-globe">&nbsp;@Messages("webitinerary.activity")</i></div>');
              }
              else if (event.cruiseStop) {
                $(element)
                        .prepend('<div><img width="15px" src="@{m.imgUrl}/img/666-cruise.png"></img>&nbsp;Cruise Stop</i></div>');
              }
            },
            columnFormat: {
              month: 'ddd',    // Monday, Wednesday, etc
              week: 'ddd, MMM dS', // Monday 9/7
              day: 'ddd, MMM dS'  // Monday 9/7
            },
            titleFormat: {
              month: 'MMMM yyyy',    // Monday, Wednesday, etc
              day: ''  // Monday 9/7
            },
            windowResize: function(view) {
              if ($(window).width() < 480){
                $('#calendar').fullCalendar( 'changeView', 'basicDay' );
              } else {
                $('#calendar').fullCalendar( 'changeView', 'month' );
              }
            }
        });
    });


    $(document).ready(function() {
        if ($(window).width() < 480){
            $('#calendar').fullCalendar( 'changeView', 'basicDay' );
            if (!calendarInitialized) {
                calendarInitialized = true;
                $('#calendar').fullCalendar( 'gotoDate', @m.startYear, @m.startMonth,  @m.startDay );
            }
        }
    });
    </script>
    <div class="content">
        <h2 class="content-subhead">
            @Messages("webitinerary.calendar")
        </h2>
        <div id='calendar'>&nbsp;</div>

        <div>

</div>
    <--endPageBody-->
