@(crv:  com.mapped.publisher.view.UmCruiseReservationView, m:  com.mapped.publisher.view.TripPreviewView)

<div class="schedule cruise">
    @Messages("webitinerary.departs"): @if(crv.getStartDateItin != null){ @crv.getStartDateItin.toUpperCase()}
    <i class="icon-right-open"></i><div class="mobile"><br /></div>
    <span class="ends">@Messages("webitinerary.arrives"): @if(crv.getEndDateItin != null){ @crv.getEndDateItin.toUpperCase()}</span>
</div>
<div class="grid grid-bookings outer desktop">
  <div class="col col-4">
    <h4>
      @if(crv.getCruiseName != null && crv.getCruiseName.length > 0) {<strong> @crv.getCruiseName </strong> <br/> }
    </h4>
    <div class="add">
    @if(crv.getBookingNumber != null && crv.getBookingNumber.length > 0) {
      @Messages("webitinerary.confirmationnumber"):<br/>
      @crv.getBookingNumber
    }
    </div>
  </div>
  <div class="col col-8">
    <div class="grid grid-bookings desktop">
      <div class="col left top">
        <p>
          <strong>@crv.getDepartPort</strong><br/>
        </p>
      </div>
      <div class="col right top">
        <p>
          <strong>@crv.getArrivePort</strong><br/>
        </p>
      </div>
    </div>
    <div class="grid grid-bookings desktop">
      <div class="col left bottom">
        <p>
          @Messages("webitinerary.boardingat"):<br/>
          <strong>@crv.getStartTime<br/>
            @crv.getStartDateItin</strong><br/>
          <br/>
        </p>
      </div>
      <div class="col right">
        <p>
          @Messages("webitinerary.disembarkingat"):<br/>
          <strong>@crv.getEndTime<br/>
            @crv.getEndDateItin</strong><br/>
          <br/>
        </p>
      </div>
    </div>
  </div>
</div>


<!--Mobile version -->
<div class="grid grid-bookings outer mobile">
  <div class="col col-4">
    <h4>
      @if(crv.getCruiseCmpyName != null && crv.getCruiseCmpyName.length > 0) {<strong> @crv.getCruiseCmpyName </strong> <br/> }
    </h4>

    <div class="add">
    @if(crv.getBookingNumber != null && crv.getBookingNumber.length > 0) {
      @Messages("webitinerary.confirmationnumber"):<br/>
      @crv.getBookingNumber
    }
    @if(crv.getRecordLocator != null && crv.getRecordLocator.length > 0) {
      <br/>
      @Messages("webitinerary.recordlocator"):<br/>
      @crv.getRecordLocator
    }
    </div>

  </div>
  <div class="col col-8">
    <div class="grid grid-bookings">
      <div class="col left top">
        <p>
          <strong>@crv.getDepartPort</strong><br/>
        </p>
      </div>
      <div class="col left bottom">
        <p>
          @Messages("webitinerary.boardingat"):<br/>
          <strong>@crv.getStartTime<br/>
            @crv.getStartDateItin</strong><br/>
          <br/>
        </p>
      </div>
    </div>
    <div class="grid grid-bookings">
      <div class="col left">
        <p>
          <strong>@crv.getArrivePort</strong><br/>
        </p>
      </div>
      <div class="col right bottom">
        <p>
          @Messages("webitinerary.disembarkingat"):<br/>
          <strong>@crv.getEndTime<br/>
            @crv.getEndDateItin</strong><br/>
          <br/>
        </p>
      </div>
    </div>
  </div>
</div>

@if(crv.getNotesPlain != null || crv.getCategory != null || crv.getCabinNumber != null || crv.getDeck != null || crv.getBedding) {
  <div class="bookings_note">
    <strong>Note:</strong><br/>
    @if(crv.getCategory != null && crv.getCategory.length > 0) {
      <strong>@Messages("webitinerary.category"):</strong> &nbsp; @crv.getCategory <br/>
    }
    @if(crv.getCabinNumber != null && crv.getCabinNumber.length > 0) {
      <strong>@Messages("webitinerary.cabinnumber"):</strong> &nbsp; @crv.getCabinNumber <br/>
    }
    @if(crv.getDeck != null && crv.getDeck.length > 0) {
      <strong>@Messages("webitinerary.deck"):</strong> &nbsp; @crv.getDeck <br/>
    }
    @if(crv.getBedding != null && crv.getBedding.length > 0) {
      <strong>@Messages("webitinerary.bedding"):</strong> &nbsp; @crv.getBedding <br/>
    }
    @if(crv.getDining != null && crv.getDining.length > 0) {
      <strong>D@Messages("webitinerary.dining"):</strong> &nbsp; @crv.getDining <br/>
    }
    @Html(crv.getNotesPlain)
    @Html(crv.getProviderComments)
    @Html(crv.getCancellation)
  </div>
}
@views.html.webItinerary.bookingPhotos(crv.getPhotos, crv)

<div class="seperator"></div>
