@(p:  com.mapped.publisher.view.DestinationGuideView)
@import com.mapped.publisher.utils.Utils

@if(    (p.intro != null && p.intro.trim.length > 0) ||
        (p.description != null && p.description.trim.length > 0) ||
        (p.videos != null && p.videos.size() > 0) ||
        (p.links != null && p.links.length > 0) ||
        (p.photos != null && p.photos.size() > 0) ||
        (p.files != null && p.files.size() > 0)){
<div class="event">
    <h2>
        @p.name
        @if(p.datePrint != null && p.datePrint.trim.length > 0) {
            <br>
            @p.datePrint
            @if(p.timestampPrint != null && p.timestampPrint.trim().length > 0) {
                @if(p.time12hr != null && p.time12hr.trim().length() > 0) {
                    - @p.time12hr
                }
            }
        }
    </h2>
    <div class="document_desc">

        @if(p.streetAddr1 != null && p.streetAddr1.trim.length > 0) {
          @p.streetAddr1<br />
        }

        @if((p.city != null && p.city.trim.length > 0) || (p.state != null && p.state.trim.length > 0) || (p.country != null && p.country.trim.length > 0) ){

            @if(p.city != null && p.city.trim.length > 0) {
                @p.city
                @if((p.state != null && p.state.trim.length > 0) || (p.country != null && p.country.trim.length > 0)){
                    ,
                }
            }
            @if(p.state != null && p.state.trim.length > 0) {
                @p.state
            }
            @if(p.country != null && p.country.trim.length > 0) {
                @p.country
            }
            <br />
        }
        @if(p.zipCode != null && p.zipCode.trim.length > 0) {
            @p.zipCode
        }
    </div>
    <div class="desc_text">
        @if(p.intro != null && p.intro.trim.length > 0) {
            @Html(p.intro) <br/>
        }
        @if(p.description != null && p.description.trim.length > 0) {
            @Html(p.description) <br/>
        }

        @if(p.links != null && p.links.size() > 0) {
            <br/>
            @for(a <- p.links) {
              <a href="@a.attachUrl" target="_blank" style="word-break: break-word">@a.attachName</a><br/>
              @if(a.comments != null) {
                @Html(a.comments) <br/>
              }
            }
        }

        <!-- Hack to seperate Files from Links above, since they are both stored in p.links-->
        @if(p.files != null && p.files.size() > 0 ){
            <br/>
            @for(a <- p.files) {
              <a href="@a.attachUrl" target="_blank" style="word-break: break-word;">@a.attachName</a><br/>
              @if(a.comments != null) {
               @Html(a.comments)<br/>
              }
            }
        }
    </div>
</div>
@if((!p.isMobilized && p.photos != null && p.photos.size() > 0) || (p.videos != null && p.videos.size() > 0)){
    <div class="masonry">
      @if(p.videos != null && p.videos.size() > 0){
        @for(v <- p.videos){
          <div class="item">
            <a id="video1_@v.id" href="@v.attachUrl" class="photo_@p.id"  @if(v.comments != null && v.comments.trim.length > 0){data-caption="@v.comments"}>
            <img src="" id="video_@v.id">
            </a>
          </div>
        }
      }
      @if(p.photos != null && p.photos.size() > 0){
        @for(v <- p.photos) {
          <div class="item">
            <a href='@Html(v.attachUrl)' class="photo_@p.id"  @if(v.comments != null && v.comments.trim.length > 0){data-caption="@v.comments"} data-type="image">
              <img src="@v.attachUrl">
            </a>
          </div>
        }
      }
    </div>
}

<script>
// ILIGHTBOX
$(document).ready(function(){
  @if(!p.isMobilized && ((p.photos != null && p.photos.size() > 0) || (p.videos != null && p.videos.size() > 0))){
      $('.photo_@p.id').iLightBox({
        skin: 'metro-white', path: 'horizontal', controls: { arrows: true, thumbnail: false }, caption: { start: true, show: 'click', hide: 'click' }
      });
    }
  }
});

</script>

