@(arv:  com.mapped.publisher.view.UmAccommodationReservationView)

<div class="schedule hotel">
    Check-In: @if(arv.getStartDateItin != null){ @arv.getStartDateItin.toUpperCase()}
    <i class="icon-right-open"></i><div class="mobile"><br /></div>
    <span class="ends">Check-Out: @if(arv.getEndDateItin != null){ @arv.getEndDateItin.toUpperCase()}</span>
</div>
<div class="grid grid-bookings onecol outer">
    <div class="col col-4">
        <h4>
        @if(arv.getProviderName != null && arv.getProviderName.length > 0) {@arv.getProviderName }
        </h4>
        @if(arv.getBookingNumber != null && arv.getBookingNumber.length > 0) {
            <div class="add">
                @Messages("webitinerary.confirmationnumber"):<br/>
                @arv.getBookingNumber
            </div>
        }
    </div>
    <div class="col col-8">
      <p>
    @if((arv.getProviderAddr1 != null && arv.getProviderAddr1.length > 0) || (arv.getProviderAddr2 != null && arv.getProviderAddr2.length > 0)) {


            @if(arv.getProviderAddr1 != null && arv.getProviderAddr1.length > 0) {
                @arv.getProviderAddr1 <br>
            }
          @if(arv.getProviderAddr2 != null && arv.getProviderAddr2.length > 0) {
            @arv.getProviderAddr2 <br/>
          }

    }
        @if(arv.getProviderPhone != null && arv.getProviderPhone.length > 0) {
          @Messages("webitinerary.telephone"): @arv.getProviderPhone <br/>
        }
          @if(arv.getProviderFax != null && arv.getProviderFax.length > 0) {
              Fax: @Html(arv.getProviderFax) <br/>
          }
      @if(arv.getProviderEmail != null &&  arv.getProviderEmail.length > 0){
        E:<a href="mailto:@arv.getProviderEmail">  @arv.getProviderEmail </a> <br/>
      }
      @if(arv.getProviderWeb != null &&  arv.getProviderWeb.length > 0){
        W: @if(arv.getProviderWeb.startsWith("http:")){<a href="@arv.getProviderWeb" target="_blank"> View Website</a>} else {@arv.getProviderWeb} <br/>
      }
      </p>
        <div class="grid grid-bookings onecol">
            <div class="col left">
                <p>
                    @Messages("webitinerary.checkinat"):<br/>
                    <strong>@if(arv.getStartTime != null && arv.getStartTime.trim.length > 0){@arv.getStartTime} else {3:00 PM}<br/>
                        @arv.getStartDateItin</strong><br/>
                    <br/>
                </p>
            </div>
            <div class="col right">
                <p>
                    @Messages("webitinerary.checkoutat"):<br/>
                    <strong>@arv.getEndTime<br/>
                        @if(arv.getEndDateItin != null && arv.getEndDateItin.length > 0) {
                            @arv.getEndDateItin</strong><br/>
                }
                </p>
            </div>
        </div>
    </div>
</div>

@if(arv.getProviderComments != null && arv.getProviderComments.length > 0) {
    <div class="bookings_note">
        <strong>@Messages("webitinerary.about"):</strong>
        @Html(arv.getProviderComments)
    </div>
}

@if(arv.getNotesPlain != null && arv.getNotesPlain.trim.size > 0)  {
    <div class="bookings_note">
        <strong>@Messages("webitinerary.note"):</strong>
        @Html(arv.getNotesPlain)
    </div>
} else {
    <br>
}

@if(arv.getCancellation != null && arv.getCancellation.length > 0) {
<div class="bookings_note">
    <strong>@Messages("webitinerary.cancellation"):</strong>
    @Html(arv.getCancellation)
</div>
}



@views.html.webItinerary.bookingPhotos(arv.getPhotos, arv)


<div class="seperator"></div>
