@(m:  com.mapped.publisher.view.TripPreviewView)
@import com.mapped.publisher.view.GenericTypeView
@import com.mapped.publisher.common.APPConstants


@import org.apache.commons.lang3.StringEscapeUtils.escapeEcmaScript

@if(m.message!=null && m.message.length > 0) {
    <--alertMsg-->
    <div id="alertMsg">
        <h4> @m.message</h4>
    </div>
    <--endAlertMsg-->

}


    <--pageBody-->
<div id="pageBody">
    <script>
    $(function() {

    google.maps.event.trigger(map1, 'resize');
    $('#map1').gmap3({
    map:{
    options:{
    zoom: 3
        @if((m.bookingsLocations != null && m.bookingsLocations.size() > 0) || (m.documentLocations != null && m.documentLocations.size() > 0))   {
            ,center:myBookingLocationsPlot[0]
        }
    }
    }
        @if((m.bookingsLocations != null && m.bookingsLocations.size() > 0) || (m.documentLocations != null && m.documentLocations.size() > 0))   {
            ,
            marker:{
            values:myBookingLocations,
            options:{
            draggable: false
            },
            events:{
            mouseover: function(marker, event, context){
            var map = $("#map1").gmap3("get"),
            infowindow = $("#map1").gmap3({get:{name:"infowindow"}});
            if (infowindow){
            infowindow.open(map, marker);
            infowindow.setContent(context.data);
            } else {
            $("#map1").gmap3({
            infowindow:{
            anchor:marker,
            options:{content: context.data}
            }
            });
            }
            },
            mouseout: function(){
            var infowindow = $("#map1").gmap3({get:{name:"infowindow"}});
            if (infowindow){
            infowindow.close();
            }
            }
            }
            }
        }
        @if((m.bookingsLocations != null && m.bookingsLocations.size() > 0) || (m.documentLocations != null && m.documentLocations.size() > 0))   {
            ,
            polyline:{
            options:{
            strokeColor: "#FF0000",
            strokeOpacity: 0.8,
            strokeWeight: 1,
            path:myBookingLocationsPlot
            }
            }
        }
    });

    if ($(window).width() > 480){
    $('#map1').gmap3({
    autofit:{}
    });
    }


    });
    </script>
    <div class="content">

        <h2 class="content-subhead">
            @Messages("webitinerary.map")
        </h2>

    <div class="map">
        <div id="map1" class="map_div"></div>

    </div>
        </div>
</div>
<--endPageBody-->
