@(m:  com.mapped.publisher.view.TripPreviewView)
@import com.mapped.publisher.common.APPConstants
@if(m.message!=null && m.message.length > 0) {
    <--alertMsg-->
    <div id="alertMsg">
        <h4> @m.message</h4>
    </div>
    <--endAlertMsg-->

}


    <--pageBody-->
<div id="pageBody">
    <script>
    jQuery(document).ready(function() {

    $(".video").click(function() {
    $.fancybox({
    'type' : 'iframe',
    // hide the related video suggestions and autoplay the video
    'href' : this.href.replace(new RegExp('watch\\?v=', 'i'), 'embed/') + '?rel=0&autoplay=1',
    'overlayShow' : true,
    'centerOnScroll' : true,
    'speedIn' : 100,
    'speedOut' : 50,
    'width' : 640,
    'height' : 480
    });

    return false;
    });
    });
    </script>

    <div class="content">
        @if(m.tripCoverUrl != null && m.tripCoverUrl.trim().length > 0 && m.displayCover) {
            <div style="background: url(@m.tripCoverUrl) no-repeat center ; overflow: hidden; height:300px; width:100%;margin-left: 0px;-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;margin-top: 10px" > &nbsp;</div>

        }
     <div style="color: #00B4FF;font-family: 'Open Sans';font-size:22px; padding-top: 20px;line-height:30px;padding-left: 4px;">
       @Messages("webitinerary.viewitinerarydownloadpdf")
     </div>

      @if(m.bookings != null && ((m.bookings.flights != null && m.bookings.flights.size() > 0) ||
          (m.bookings.hotels != null && m.bookings.hotels.size() > 0) ||
          (m.bookings.cruises != null && m.bookings.cruises.size() > 0) ||
          (m.bookings.transfers != null && m.bookings.transfers.size() > 0) ||
          (m.bookings.activities != null && m.bookings.activities.size() > 0) || (m.bookings.notes != null && m.bookings.notes.size() > 0) ) ) {

        <a class="button" style=" text-decoration : none ;" onclick="javascript : doBookingMenu () ; return false ;">
          <div class="bookingsButton">

            <div style="font-family : 'Open Sans Condensed', sans-serif ; font-size : 18px; color : #ffffff ; padding-top : 15px">
              @Messages("webitinerary.viewbookingsandpdf")</div>
          </div>
        </a>
      } else {
        @if((m.destinations != null && m.destinations.destinationList != null && m.destinations.destinationList.size() > 0) || (m.tripAttachments != null && m.tripAttachments.size() > 0)) {
          <a class="button" style=" text-decoration : none ;" onclick="javascript : doDocumentMenu () ; return false ;">
            <div class="bookingsButton">

              <div style="font-family : 'Open Sans Condensed', sans-serif ; font-size : 18px ; font-weight : 400 ; color : #ffffff ; padding-top : 15px">
                @Messages("webitinerary.viewdocumentsandpdf")</div>
            </div>
          </a>
        }
      }

      <div style="color: #666666;font-family: 'Open Sans', sans-serif;font-size:20px; padding-top: 30px;line-height:22px">
        @Messages("webitinerary.downloadmobileapp")
      </div>

      <div style="margin-top: 40px;">
        <table>
          <tr>
            <td style="width: 60px;vertical-align: top">
              <div class="circle">
                1
              </div>
            </td>
            <td style=''>
              <div style="color: #666666;font-family: 'Open Sans', sans-serif;font-size:18px;line-height:20px;margin-top: 5px;padding-bottom: 10px"> @Messages("webitinerary.linkitinerary") </div>

              <form id="passengerForm" class="form-inline">
                <input type="hidden" id="inTripId" name="inTripId" value="@m.tripId">
                <input type="hidden" id="inTripStartDate" name="inStartDate" value="@m.tripStartDateMs">
                <input type="hidden" id="inTripEndDate" name="inEndDate" value="@m.tripEndDateMs">
                @if(m.groupId != null && m.groupId.trim().length() > 0){
                  <input type="hidden" id="inGroupId" name="inGroupId" value="@m.groupId">
                }

                <input type="text" id="inFirstName" name="inFirstName" class="required" placeholder="First Name" style="width: 180px">
                <input type="text" id="inLastName" name="inLastName" class="required" placeholder="Last Name" style="width: 180px">

                <input type="text" id="inEmail" name="inEmail" class="emailform required email" placeholder="Email address" style="width: 180px">
                <input type="submit" value="Go" class="emailregister" onclick="javascript:postForm('/tour/addEmail', 'passengerForm');return false;">
                <br/>
                <span style="font-size: 14px;color: #333333">@Messages("webitinerary.privatepolicy1") <a href="http://www.umapped.com/mobile/privacy.html" target="_blank">@Messages("webitinerary.privatepolicy2")</a>.)</span>

              </form>
              <span style="font-family: 'Open Sans Condensed', sans-serif;font-size:19px;font-weight: 400;color: #666666">
                @Messages("webitinerary.linkedemails")
              </span>

              @if(m.passengers != null && m.passengers.size() > 0) {
                @for((p,index) <- m.passengers.zipWithIndex) {
                  <div class="registered-email">
                    @p.email
                  <a href="#"  onclick="javascript:doRemoveTraveller('@p.email','@p.id')" data-toggle="modal" >(remove)</a>
                  </div>

                }
              } else {
                <div class="registered-email">
                  @Messages("webitinerary.noemailsregistered")
                </div>

              }
            </td>
          </tr>
        </table>
      </div>


      <div style="margin-top: 20px;">
        <table>
          <tr>
            <td style="width: 60px;vertical-align: top">
              <div class="circle">
                2
              </div>
            </td>
            <td style=''>
              <div style="color: #666666;font-family: 'Open Sans', sans-serif;font-size:18px;line-height:20px;margin-top: 5px;padding-bottom: 10px"> @Messages("webitinerary.downloadumapped") </div>
                <a href="@m.url/trip/appstore/ios/@m.tripId" target="_blank">
                    <img class="appStoreImg" alt="App Store" src="@{m.imgUrl}/img/itinerary/appstore.png">
                </a>
                <a href="@m.url/trip/appstore/android/@m.tripId" target="_blank"><img class="playStoreImg" src="@{m.imgUrl}/img/play_store.png"alt="Google Play" /></a>


            </td>
          </tr>
        </table>
      </div>

      <div style="margin-top: 30px;">
        <table>
          <tr>
            <td style="width: 60px;vertical-align: top">
              <div class="circle">
                3
              </div>
            </td>
            <td style=''>
              <div style="color: #666666;font-family: 'Open Sans', sans-serif;font-size:16px;line-height:25px;margin-top: 5px;padding-bottom: 10px">
                <span style="color: #00B4FF"> @Messages("webitinerary.newumappeduser1") - </span> @Messages("webitinerary.newumappeduser2")   <br/> <br/>
                <span style="color: #00B4FF"> @Messages("webitinerary.existingumappeduser1") - </span> @Messages("webitinerary.existingumappeduser2")
              </div>
            </td>
          </tr>
        </table>
      </div>


      <div class="umapped-ad-mockups">
        <a href="https://www.youtube.com/watch?v=UFE42snAofM" class="video">
          <img src="@{m.libUrl}/img/iphone_vid.png" class="mobile_iphone" alt="Umapped for Iphone">
        </a>
      </div>

      <div class="umapped-ad-text">
        <span style="color: #00B4FF;font-family: 'Open Sans', sans-serif;font-size:22px;">@Messages("webitinerary.travelwithmobileapp")</span>
        <br/>
        <ul style="font-family: 'Open Sans';font-size:16px;">
          <li style="padding-top:10px;padding-bottom: 10px">@Messages("webitinerary.accessitineraryoffline")</li>
          <li style="padding-top:10px;padding-bottom: 10px">@Messages("webitinerary.planexperiences")</li>
          <li style="padding-top:10px;padding-bottom: 10px">@Messages("webitinerary.capturememoriesjournal")</li>
          <li style="padding-top:10px;padding-bottom: 10px">@Messages("webitinerary.shareonlinejournal")</li>
        </ul>

        <span style="color: #666666;font-family: 'Open Sans', sans-serif;font-size:16px;"> @Messages("webitinerary.visitus1") <a href="http://www.umapped.com" target="_blank">www.umapped.com</a> @Messages("webitinerary.visitus2")</span>
      </div>


  </div>
</div>
    <--endPageBody-->
