@(p:  com.mapped.publisher.view.TripBookingDetailView )


@if( (p.intro != null && p.intro.trim.length > 0) ||
    (p.description != null && p.description.trim.length > 0) ||
    (p.videos != null && p.videos.size() > 0) ||
    (p.links != null && p.links.size() > 0) ||
    (p.photos != null && p.photos.size() > 0) ||
    (p.files != null && p.files.size() > 0)){
  <div class="">
    <div style="font-size: 20px;font-weight: 700;padding-bottom: 10px">

      @p.getName
      @if(p.getStartDatePrintNote != null && p.getStartDatePrintNote.trim.length > 0) {
        @if(p.getStartTimeNote != null && p.getStartTimeNote.trim().length > 0) {
            - @p.getStartTimeNote

        }
      }
    </div>
    <div class="document_desc" style="margin-bottom: 5px;">
      <p>
        @if((p.getProviderAddr1 != null && p.getProviderAddr1.length > 0) || (p.getProviderAddr2 != null && p.getProviderAddr2.length > 0)) {


          @if(p.getProviderAddr1 != null && p.getProviderAddr1.length > 0) {
            @p.getProviderAddr1 <br>
          }
          @if(p.getProviderAddr2 != null && p.getProviderAddr2.length > 0) {
            @p.getProviderAddr2 <br/>
          }

        }
        @if(p.getProviderPhone != null && p.getProviderPhone.length > 0) {
          @Messages("webitinerary.telephone"): @p.getProviderPhone <br/>
        }
        @if(p.getProviderEmail != null &&  p.getProviderEmail.length > 0){
          E:<a href="mailto:@p.getProviderEmail">  @p.getProviderEmail </a> <br/>
        }
        @if(p.getProviderWeb != null &&  p.getProviderWeb.length > 0){
          W: @if(p.getProviderWeb.startsWith("http:")){<a href="@p.getProviderWeb" target="_blank"> View Website</a>} else {@p.getProviderWeb} <br/>
        }
      </p>

    </div>
    <div class="desc_text" style="padding-bottom: 10px">
     @if((p.getIntro != null && p.getIntro.trim.length > 0) || (p.getDescription != null && p.getDescription.trim.length > 0)) {
       <div style="padding-bottom: 0px">
       @if(p.getIntro != null && p.getIntro.trim.length > 0) {
         @Html(p.getIntro)
       }
       @if(p.getDescription != null && p.getDescription.trim.length > 0) {
         @if(p.getIntro != null && p.getIntro.trim.length > 0) {
         <br/>
         }
           @Html(p.getDescription)
       }
       </div>
     }
    </div>




      @if(p.getLinks != null && p.getLinks.length > 0) {

        @for(v <- p.getLinks) {
          <a href="@v.attachUrl">@v.attachName <br/>(@v.attachUrl)</a> <br/>
          @if(v.comments != null && v.comments.trim.length > 0) {
            @Html(v.comments)<br/>
          }
          <br/>
        }
      }
      @if(p.getVideos != null && p.getVideos.size() > 0){
        <div class="masonry" style="padding-bottom: 10px;padding-top: 10px">
        @for(v <- p.getVideos){
          <div class="bookings_gallery">
            <a id="video1_@v.id" href="@v.attachUrl" class="photo_@p.getDetailsId"  @if(v.comments != null && v.comments.trim.length > 0){data-caption="@v.comments"}>
            <img src="" id="video_@v.id" style="height: 100">
            </a>
          </div>
        }
        </div>

      }

      @if(p.files != null && p.files.size() > 0){
      <br/>
      <div class="row-fluid">
        <table class="table table-striped">
          <thead>
          <tr>
            <th style="width:5%"></th>
            <th style="width:30%"></th>
            <th style="width:60%"> </th>

          </tr>
          </thead>
          <tbody id="sortAttachDiv">
          @for(a <- p.files) {
          <tr id="@a.id">
            <td>
              <a href="@a.attachUrl" target="_blank">
                @if(a.attachName.endsWith(".pdf")){
                <img src="https://s3.amazonaws.com/static-umapped-com/public/img/pdf_icon.png" width="24px" style="padding-bottom: 0px; padding-top: 0px;">
                }else {
                <img src="https://s3.amazonaws.com/static-umapped-com/public/img/word_icon.png" width="24px" style="padding-bottom: 0px; padding-top: 0px;">

                }
              </a>

            </td>
            <td style="font-size: 12px; padding-right: 60px"><a href="@a.attachUrl" target="_blank" style="word-break: break-word;">@a.attachName</a></td>
            <td style="font-size: 12px; font-weight: 100; padding-right: 60px"><em>@a.comments</em></td>

          </tr>
          }
          </tbody>
        </table>

        <br/>
      </div>
      }
  </div>


  @views.html.webItinerary.bookingPhotos(p.getPhotos, p)


  <div class="seperator"></div>

}


