@(m:  com.mapped.publisher.view.AfarInfoView)

<--alertMsg-->
@if(m.message != null && m.message.length > 0){
<div id="alertMsg">
    <h4>@m.message</h4>
</div>
}
<--endAlertMsg-->


<--pageTitle-->
<div id="pageTitle">
    <h1 class="page-title">Retrieve AFAR Guide Info</h1>
</div>
<--endPageTitle-->


<--pageHeader-->
<div id="pageHeader">
</div>
<--endPageHeader-->

<--pageBody-->
<div id="pageBody" style="min-height: 400px">
    <div class="span3" style="padding-left:40px">
        <button type="submit" class="btn btn-success pull-left btn-large" style="width: 100%"
                onclick="javascript:$('#imgSearchSpinner').show();javascript:doPost('/afar/import');return false;"> Import AFAR info
        </button>
    </div>
    <br/>   <br/>
</div>
<--endPageBody-->