@(m:  com.mapped.publisher.view.ExpAuditView)

<--alertMsg-->
@if(m.message != null && m.message.length > 0){
<div id="alertMsg">
        <h1>@m.message</h1>
</div>
}
<--endAlertMsg-->


<--pageTitle-->
<div id="pageTitle">
    <h1 class="page-title">Audit Experiments</h1>
</div>
<--endPageTitle-->


<--pageHeader-->
<div id="pageHeader">
</div>
<--endPageHeader-->

<--pageBody-->
<div id="pageBody">
    <div class="well">
        Audit Information is to be implemented
    </div>
</div>

<--endPageBody-->
