@(m: com.mapped.publisher.view.BaseView, r: ArrayList[String])
@import java.util

@if(m.message != null && m.message.length > 0){
  <--alertMsg-->
    <div id="alertMsg">
      <h1>@m.message</h1>
    </div>
  <--endAlertMsg-->
}

  <--pageTitle-->
  <div id="pageTitle">
    <h1 class="page-title">Conversion of Vendor to POI</h1>
  </div>
  <--endPageTitle-->

  <--pageHeader-->
  <div id="pageHeader">
  </div>
  <--endPageHeader-->

  <--pageBody-->
  <div id="pageBody">
    <div class="panel panel-default">
        <!-- Default panel contents -->
      <div class="panel-heading">Conversion Results</div>

        <!-- Table -->
      <table class="table">
        <thead>
          <td>Conversion Results</td>
        </thead>
        @for(details <- r) {
        <tr>
            <td>@details</td>
        </tr>
        }
      </table>
    </div>
  </div>

  <--endPageBody-->







