@(m:  com.mapped.publisher.view.IndexS3View)

<--alertMsg-->
@if(m.message != null && m.message.length > 0){
<div id="alertMsg">
    <h1>@m.message</h1>
</div>
}
<--endAlertMsg-->


<--pageTitle-->
<div id="pageTitle">
    <h1 class="page-title">Index Images from S3 Bucket</h1>
</div>
<--endPageTitle-->


<--pageHeader-->
<div id="pageHeader">
</div>
<--endPageHeader-->

<--pageBody-->
<div id="pageBody">
    <form id="s3Form">
        <label>S3 Token Name</label>
        <input type="text" id='inS3' name='inS3' placeholder="S3 Token Name" class="input-block-level required" value="@m.s3Token"/>
        <button type="submit" class="btn btn-success pull-left btn-large"
                onclick="javascript:$('#imgSearchSpinner').show();javascript:postForm('/exp/s3Index','s3Form');return false;"> Parse
        </button>
    </form>
    <br/>   <br/>
</div>
<--endPageBody-->