@(m:  com.mapped.publisher.view.UploadView)

<--alertMsg-->
@if(m.message != null && m.message.length > 0){
  <div id="alertMsg">
    <h1>@m.message</h1>
  </div>
}
  <--endAlertMsg-->


  <--pageTitle-->
<div id="pageTitle">
  <h1 class="page-title">Generic Airline Url Parser</h1>
</div>
  <--endPageTitle-->


  <--pageHeader-->
<div id="pageHeader">
</div>
  <--endPageHeader-->

  <--pageBody-->
<div id="pageBody">
  <form id="madridForm">
    <label>File URL</label>
    <input type="text" id='inUrl' name='inUrl' placeholder="File Url" class="input-block-level required" value="@m.url"/>
    <br/>
    <label>Save (type YES)</label>
    <input type="text" id='inMode' name='inMode' placeholder="type YES to save" class="input-block-level"/>
    <button type="submit" class="btn btn-success pull-left btn-large"
    onclick="javascript:$('#imgSearchSpinner').show();javascript:postForm('/exp/parseAirlineUrl','madridForm');return false;"> Parse
    </button>
  </form>
  <br/>   <br/>
  Generic template can be uploaded (with 1 photo) with support for Document (City, Country, Activity, Tour) and Pages (to existing document)
  Sample template can be found here: <a href="http://www.umapped.com.s3.amazonaws.com/temp/doc_sample1.csv">http://www.umapped.com.s3.amazonaws.com/temp/doc_sample1.csv </a>
</div>
  <--endPageBody-->
