@(m:  com.mapped.publisher.view.ExpPDFParserView)

<--alertMsg-->
@if(m.message != null && m.message.length > 0){
<div id="alertMsg">
        <h1>@m.message</h1>
</div>
}
<--endAlertMsg-->


<--pageTitle-->
<div id="pageTitle">
    @if(!m.isUploaded) {

    <h1 class="page-title">Upload PDF Document</h1>

    } else {

    <h1 class="page-title">Parsed Contents of the Document</h1>

    }

</div>
<--endPageTitle-->


<--pageHeader-->
<div id="pageHeader">
</div>
<--endPageHeader-->

<--pageBody-->
<div id="pageBody">

<script>
    //@@ sourceURL=pdfUpload.js

    @if(m.isUMappedAdmin && m.userId !=null) {
    function showResponse(responseText, statusText, xhr, $form)  {
    $('#uploadPDFModal').modal('hide');
    getPage(uploadSuccessUrl);
    }

    function uploadPDF()
    {
        $("#uploadSpinner").show();

        var uploadurl = '/exp/pdfupload?inUserId=@m.userId&inPDFFileName=' + escapeFilename($("#inPDFFile").val().replace("C:\\fakepath\\", ""));
        console.log("Upload URL is: ", uploadurl);

        if($.browser.msie)
        {
            signedS3(uploadurl, function(signedURL, publicURL, s3Bucket) {
                        return iFrameUpload( signedURL, publicURL, s3Bucket);
                });

        }
        else
        {

        var s3upload = s3upload != null ? s3upload : new S3Upload({
            file_dom_selector: 'inPDFFile',
            s3_sign_put_url: uploadurl,
            //s3_object_caption: $("#inCmpyPhotoCaption").val(),
            onProgress: function(percent, message) {

            $("#progressUpload").text(percent + "%");
            },
            onFinishS3Put: function(public_url) {
                $('#uploadPDFModal').modal('hide');
                getPage(public_url);
            },
            onError: function(status) {
                $("#progressBarDiv").hide();
                alert('Upload error: ', status);
            }
        });
        }


        return false;
    }

    $('input[id=inPDFFile]').change(function() {
        var extension = $("#inPDFFile").val().substring($("#inPDFFile").val().lastIndexOf('.'));
        var ValidFileType = ".pdf";
        if (ValidFileType.toLowerCase().indexOf(extension.toLowerCase()) < 0)
        {
            alert("Please only select a PDF file of type (PDF)");
            $("#uploadPDFSubmit").attr('disabled', true);
            return;
        }

        if ( !$.browser.msie )
        {
            var size = this.files[0].size;
            if (size > 1024000 * 3)
            {
                alert("The document file must be less than 3MB");
                $("#uploadPDFSubmit").attr('disabled', true);
                return;
            }
        }

        $('#pretty-input').val($(this).val().replace("C:\\fakepath\\", ""));
        $("#uploadPDFSubmit").attr('disabled', false);
    });

    }
</script>

@if(!m.isUploaded) {

    <div class="well">
    <div class="row-fluid">

        @if(m.isUMappedAdmin && m.userId !=null) {
        <div class="span3 ">
            <button data-controls-modal="uploadPDFModal" data-backdrop="static" data-keyboard="false" type="button"
                    href="#uploadPDFModal" id="uploadBtn" class="btn btn-primary pull-left" data-toggle="modal">
                    <i class="icon-file"></i>
                Upload PDF File
            </button>
        </div>
        }

    </div>
</div>
} else {
    <div class="well">
        <pre>
@m.pdfText
        </pre>
    </div>
}

<div id="uploadPDFModal" class="modal hide fade">
    <form id="uploadPDFForm" method="post" enctype="multipart/form-data">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Upload PDF document</h3>
        </div>

        <div class="modal-body">
            <div class="row-fluid">
                <div class="span9">
                    <input type="hidden" id="key" name='key'/>
                    <input type="hidden" id="AWSAccessKeyId" name='AWSAccessKeyId'/>
                    <input type="hidden" id="policy" name='policy'/>
                    <input type="hidden" id="signature" name='signature'/>
                    <input type="hidden" id="success_action_status" name='success_action_status' value='201'/>
                    <input type="file"  id='inPDFFile' name='file' />
                </div>
            </div>
            <br/>

            <div id="uploadSpinner" style="display:none;text-align:center">
                <img src="@{m.imgUrl}/img/ajax-loader.gif" > <h3> Uploading... <div id="progressUpload"></div></h3>

            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
            <button type="submit" class="btn btn-success "  id="uploadPDFSubmit"
                    onclick="javascript:uploadPDF();return false;" >Upload
            </button>

        </div>
    </form>
</div>

<--endPageBody-->
