@(arv:  com.mapped.publisher.view.UmActivityReservationView,  i: Integer, display12Hr: Boolean, printFriendly: Boolean, lang: String)
@import com.mapped.publisher.utils.Utils
@import com.mapped.publisher.view.ViewUtils
@import com.umapped.persistence.enums.ReservationType
@import play.i18n._

<div style="padding:0px;padding-top: 20px;width: 700px;">

<div style="padding:0px;padding-bottom: 0px;width: 700px;page-break-inside: avoid">
  <table style="width: 700px;">
    <tr style="width: 700px;">
      <td style="width: 75px;text-align: center;vertical-align:top;@if(i == 0){border-top: 3px solid #000000;padding-top:5px;}else{border-top:none};padding-right: 15px">
      @if(i == 0) {
        @views.html.trip.bookingspdf.dateCell(arv, lang)
      }else{
        <p style="width: 60px"></p>
      }
      </td>
      <td style="width:25px;vertical-align: top;@if(i == 0){border-top: 3px solid #000000;} else {border-top: 1px solid #000000;}padding-top:5px;">
        <div style="margin-top: 14px;margin-right: 7px;text-align: right">
          <img src="https://s3.amazonaws.com/static-umapped-com/public/img/icons/@ViewUtils.getimgNameForBookingType(arv.getDetailsTypeId)" width="18">
        </div>
      </td>
      <td style="width:630px;vertical-align: top;@if(i == 0){border-top: 3px solid #000000;} else {border-top: 1px solid #000000;}padding-top:5px;">
        <div>
          <table style="margin-left: 0px;width: 630px;margin-top: 8px;">
            <tr>
              <td style="width: 630px;vertical-align: top;">
                <table style="margin-left: 0px;width: 630px;margin-top: 0px;">
                  <tr>
                    <td colspan="7" style="color:#212121;padding-bottom: 20px;vertical-align: top;width:630px">
                      <span style="font-size: 18px ;font-weight: 700">
                        @if(arv.getServiceType != null) {
                          @arv.getServiceType
                        } else {
                          @if(arv.getDetailsTypeId == ReservationType.CRUISE_STOP) {
                            @Messages.get(Lang.forCode(lang), "webitinerary.cruiseStop")
                          } else {
                            @if(arv.getDetailsTypeId == ReservationType.SHORE_EXCURSION) {
                              @Messages.get(Lang.forCode(lang), "webitinerary.shoreExcursion")
                            } else {
                              @if(arv.getDetailsTypeId == ReservationType.TOUR) {
                                @Messages.get(Lang.forCode(lang), "webitinerary.sightseeing")
                              } else {
                                @if(arv.getDetailsTypeId == ReservationType.SKI_LESSONS) {
                                  @Messages.get(Lang.forCode(lang), "webitinerary.skilesson")
                                } else {
                                  @if(arv.getDetailsTypeId == ReservationType.SKI_LIFT) {
                                    @Messages.get(Lang.forCode(lang), "webitinerary.skilift")
                                  } else {
                                    @if(arv.getDetailsTypeId == ReservationType.SKI_RENTALS) {
                                      @Messages.get(Lang.forCode(lang), "webitinerary.skiequipment")
                                    } else {
                                      Activity
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      </span>
                    </td>
                  </tr>
                  <tr style="font-size: 11px;color: #000000;font-weight: 700">
                    @if(arv.getBookingNumber != null && arv.getBookingNumber.trim.length > 0) {
                      <td style="padding-bottom: 10px;width: 120px;vertical-align: text-top;"><div style="border-top: 1px solid #000000;padding-top:5px;text-transform:uppercase">
                        @Messages.get(Lang.forCode(lang), "webitinerary.about")
                      </div></td>
                      <td style="width:15px;border-top: none;"></td>
                      <td style="width: 60px ;padding-bottom: 10px;"><div style="border-top: 1px solid #000000;padding-top:5px;text-transform:uppercase">@Messages.get(Lang.forCode(lang), "webitinerary.bookingnum")</div></td>
                      <td style="width:15px"></td>
                      <td style="width: 125px ; padding-bottom: 10px;"><div style="border-top: 1px solid #000000;padding-top:5px;text-transform:uppercase">@Messages.get(Lang.forCode(lang), "webitinerary.start")</div></td>
                      <td style="width:15px"></td>
                      <td style="width: 125px ; padding-bottom: 10px;"><div style="border-top: 1px solid #000000;padding-top:5px;text-transform:uppercase">@Messages.get(Lang.forCode(lang), "webitinerary.finish")</div></td>
                    }else{
                      <td style="padding-bottom: 10px;width: 210px;vertical-align: text-top;"><div style="border-top: 1px solid #000000;padding-top:5px">
                        @Messages.get(Lang.forCode(lang), "webitinerary.about")
                      </div></td>
                      <td style="width:30px"></td>
                      <td style="width: 170px ; padding-bottom: 10px;"><div style="border-top: 1px solid #000000;padding-top:5px;text-transform:uppercase">@Messages.get(Lang.forCode(lang), "webitinerary.start")</div></td>
                      <td style="width:30px"></td>
                      <td style="width: 170px ; padding-bottom: 10px;"><div style="border-top: 1px solid #000000;padding-top:5px;text-transform:uppercase">@Messages.get(Lang.forCode(lang), "webitinerary.finish")</div></td>
                    }
                  </tr>

                  <tr style="font-size: 13px;color: #000000;line-height: 16px">
                    <td style="width:130px ; padding-bottom: 20px;;vertical-align: text-top">
                      @if(arv.getProviderName != null && arv.getProviderName.trim.length > 0) {
                        <span style="font-weight: 700">@arv.getProviderName</span> <br/>
                      }
                      @if(arv.getContact != null && arv.getContact.length > 0) {
                      @arv.getContact <br/>
                      }
                      @if(arv.getDestinationId != null && arv.getDestinationId.trim.length > 0) {
                      @Messages.get(Lang.forCode(lang), "webitinerary.document"): <a href = "@arv.getDestinationUrl" style="text-decoration: none;font-size:12px;color:#60bdff"> @arv.getDestination</a> <br/>
                      }
                      @if(arv.getProviderAddr1 != null && arv.getProviderAddr1.length > 0) {
                        @arv.getProviderAddr1 <br>
                      }
                      @if(arv.getProviderAddr2 != null && arv.getProviderAddr2.length > 0) {
                        @arv.getProviderAddr2 <br/>
                      }


                      @if(arv.getProviderPhone != null && arv.getProviderPhone.trim().length > 0) {
                      @Messages.get(Lang.forCode(lang), "webitinerary.phone"): @arv.getProviderPhone <br/>
                      }
                      @if(arv.getProviderEmail != null && arv.getProviderEmail.trim().length > 0) {
                      @Messages.get(Lang.forCode(lang), "webitinerary.email"): @arv.getProviderEmail <br/>
                      }
                      @if(arv.getProviderWeb != null && arv.getProviderWeb.trim().length > 0) {
                      <a style="text-decoration: none;font-size:12px;color:#60bdff" href="@arv.getProviderWeb" target="_blank">Website</a> <br/>
                      }
                    </td>
                    @if(arv.getBookingNumber != null && arv.getBookingNumber.trim.length > 0) {
                      <td style="width:15px"></td>
                      <td style="width:60px ; padding-bottom: 20px;;vertical-align: text-top;">@arv.getBookingNumber</td>
                    }
                    <td style="width:15px"></td>
                    <td style="width:119px ; padding-bottom: 20px;">
                      @if(arv.getStartHour != null && arv.getStartHour.trim.length > 0) {
                        <div style="font-size: 18px;padding-bottom:12px">
                        @if(display12Hr) {
                          @Utils.formatTime12(arv.getStartDateMilli)
                        } else {
                          @Utils.formatTime24(arv.getStartDateMilli)
                        }
                        </div>
                      }
                      @if(arv.getStartDateItin != null && arv.getStartDateItin.trim.length > 0) {
                        <div style="padding-bottom:6px">@arv.getStartDateItin  </div>
                      }
                      @if(arv.getLocStartName != null && arv.getLocStartName.trim.length > 0) {
                        <span style="font-size: 14px;font-weight: 400">@arv.getLocStartName</span>
                      }
                    </td>
                    <td style="width:15px"></td>
                    <td style="width:119px ; padding-bottom: 20px;">
                      @if(arv.getEndHour != null && arv.getEndHour.trim.length > 0) {
                        <div style="font-size: 18px;padding-bottom:12px">
                          @if(display12Hr) {
                            @Utils.formatTime12(arv.getEndDateMilli)
                          } else {
                            @Utils.formatTime24(arv.getEndDateMilli)
                          }
                        </div>
                      }
                      @if(arv.getEndDateItin != null && arv.getEndDateItin.trim.length > 0) {
                        <div style="padding-bottom:6px">@arv.getEndDateItin </div>
                      }
                      @if(arv.getLocFinishName != null && arv.getLocFinishName.trim.length > 0) {
                        <span style="font-size: 14px;font-weight: 400">@arv.getLocFinishName</span>
                      }
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
  </table>
</div>

<div style="padding:0px;width: 700px;">
  <table style="width: 700px;">
    <tr style="width: 700px;">
      <td style="width: 100px;text-align: center;vertical-align:top;">
      </td>
      <td style="width:630px;vertical-align: top;">
        <div >
          <table style="margin-left: 0px;width: 630px;margin-top: 0px;">
            @if(arv.getNotesPlain != null && arv.getNotesPlain.trim.length > 0) {
            <tr style="page-break-inside: auto">
              <td style="width: 630px;vertical-align: text-top;color: #000000;font-size:13px;;line-height:15px;padding-bottom: 10px">
                <div style=";border-top: 1px solid #000000;padding-top: 5px;margin-top: 0px;width:630px ">
                  <span style="font-weight: 700;text-transform:uppercase">@Messages.get(Lang.forCode(lang), "webitinerary.bookingDetails")</span>
                </div>
                <div class="descFont" style="padding-top: 10px;width:630px;">
                  @Html(Utils.escapeHtml(arv.getNotesPlain))
                </div>
              </td>
            </tr>
            }
            @if(arv.getProviderComments != null && arv.getProviderComments.trim.length > 0) {
            <tr style="page-break-inside: avoid">
              <td style="width: 630px;vertical-align: text-top;color: #000000;font-size:13px;padding-bottom: 10p">
                <div class="descFont" style="padding-top: 10px; width:630px">
                  @Html(arv.getProviderComments)
                </div>
              </td>
            </tr>
            }
            @views.html.common.bookingPdfRate(arv, lang)
            @if(arv.getCancellation != null && arv.getCancellation.trim.length > 0) {
            <tr style="page-break-inside: avoid">
              <td style="width: 630px;vertical-align: text-top;color: #000000;font-size:13px;padding-bottom: 10px">
                <div class="descFont"  style="width:630px">
                  <span style="font-weight: 700;text-transform:uppercase">@Messages.get(Lang.forCode(lang), "webitinerary.cancellation"):</span> @Html(Utils.escapeHtml(arv.getCancellation))
                </div>
              </td>
            </tr>
            }
            @if(arv.getPhotos != null && arv.getPhotos.size() > 0 && !printFriendly) {
              <tr style="page-break-inside: avoid; padding-bottom: 10px;">
                <td style="width: 630px;vertical-align: text-top;color: #787878;font-size:11px;">
                  <table style="width: 630px">
                    <tr>
                      <td style="width:157px;text-align: center">
                        <div class="photos" style="height:150px;width:150px;background: url('@arv.getPhotos.get(0).attachUrl') no-repeat center; background-size: cover;">
                        </div>
                      </td>
                      <td style="width:157px;text-align: center">
                      @if(arv.getPhotos.size() > 1) {
                        <div class="photos" style="height:150px;width:150px;background: url('@arv.getPhotos.get(1).attachUrl') no-repeat center; background-size: cover;">
                        </div>
                        }
                      </td>
                      <td style="width:157px;text-align: center">
                      @if(arv.getPhotos.size() > 2) {
                        <div class="photos" style="height:150px;width:150px;background: url('@arv.getPhotos.get(2).attachUrl') no-repeat center; background-size: cover;">
                        </div>
                        }
                      </td>
                      <td style="width:157px;text-align: center">
                      @if(arv.getPhotos.size() > 3) {
                        <div class="photos" style="height:150px;width:150px;background: url('@arv.getPhotos.get(3).attachUrl') no-repeat center; background-size: cover;">
                        </div>
                        }
                      </td>
                    </tr>

                  </table>
                </td>
              </tr>
            }
            @views.html.trip.bookingspdf.bookingFiles(arv)

          </table>
        </div>
      </td>
    </tr>
  </table>
</div>

</div>
