@(p:  com.mapped.publisher.view.TripBookingDetailView, lang: String)
@import com.mapped.publisher.utils.Utils
<div style="margin-top:0px;padding: 5px;color:#212121;padding-bottom: 25px;page-break-inside: avoid;">
  <div style="font-size: 22px;font-weight: 700;line-height: 16px;padding-top: 5px; ">
    @Utils.formatTimestamp(p.startDateMs, "EEE", lang).toUpperCase()
  </div>
  <div style="font-size: 18px;font-weight: 700;line-height: 16px;padding-top: 12px; ">
    @Utils.formatTimestamp(p.startDateMs, "MMM", lang).toUpperCase()
  </div>
  <div style="font-size: 30px;font-weight: 400;line-height: 18px;padding-top:12px">
  @p.startDay
  </div>
</div>