@(m:  com.mapped.publisher.view.ExternalActivities, startTimestamp: Long)
@import org.joda.time.DateTimeConstants;
  @import com.mapped.publisher.view.TabType

<script>
function importModal(tripCode) {
  $('#dynamicModalBody').modal('hide');
  var url = "/shoreTrip/importTripBooking?shoreTripCode=" + tripCode + "&tripId=" + "@m.tripId" + "&timestamp=" + "@startTimestamp";
  doPost(url);
  return false
}

function closeModal() {
$('#dynamicModalBody').modal('hide');
return false
}
</script>

<div id="dynamicModalBody" class="modal container hide fade documentModal">
  <div class="modal-header">
    <button type="button" class="close" onclick="closeModal()">&times;</button>
    <h2 style="text-align:center;">ShoreTrips - @m.name</h2>
  </div>
  <div class="modal-body" style="position:relative;font-family: 'Open Sans Condensed', sans-serif;">
  @if(m.activities != null) {
    @for(p <- m.activities) {
      <div class="accordion-group">
        <div class="accordion-heading" style="">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#accordion_@p.tripCode">
            <div class="row-fluid">
              <div class="span9">@p.name</div>
              <div class="span3 pull-right">
                <button class="btn btn-info" > Details</button> &nbsp;
                <button  class="btn btn-primary" onclick="importModal('@p.tripCode');return false;"> Import</button> &nbsp;
                @if(p.url != null){
                  <button class="btn btn-success" target="_blank" onclick="window.open('@p.url','_blank','resizable=yes')"> Book</button>
                }
              </div>
            </div>
          </a>
        </div>
        <div id="accordion_@p.tripCode" class="accordion-body collapse">
          <div class="accordion-inner">
            @if(p.description != null) {
              @if(p.imageUrls != null && p.imageUrls.size() > 0) {
                <img src="@p.imageUrls.get(0)" style="float: right;max-width: 300px">
              }
              <p>@Html(p.description)</p>
            }
            @if(p.prices != null && p.prices.size() > 0) {
              <br/> <h3>PRICES</h3>
              @for(price <- p.prices) {
                $@price.amount - @price.name (@price.description) <br/>
              }
            }
            @if(p.times != null && p.times.size() > 0) {
              <br/> <h3>TIMES</h3>
              <table class="table table-stripped">
                <tr>
                  <td style="text-align: center">Mon</td>
                  <td style="text-align: center">Tue</td>
                  <td style="text-align: center">Wed</td>
                  <td style="text-align: center">Thu</td>
                  <td style="text-align: center">Fri</td>
                  <td style="text-align: center">Sat</td>
                  <td style="text-align: center">Sun</td>
                </tr>
                <tr>
                  <td style="text-align: center">@if(p.dayOfWeek.contains(DateTimeConstants.MONDAY)){<i class="fa fa-check"></i> }</td>
                  <td style="text-align: center">@if(p.dayOfWeek.contains(DateTimeConstants.TUESDAY)){<i class="fa fa-check"></i>}</td>
                  <td style="text-align: center">@if(p.dayOfWeek.contains(DateTimeConstants.WEDNESDAY)){<i class="fa fa-check"></i>}</td>
                  <td style="text-align: center">@if(p.dayOfWeek.contains(DateTimeConstants.THURSDAY)){<i class="fa fa-check"></i>}</td>
                  <td style="text-align: center">@if(p.dayOfWeek.contains(DateTimeConstants.FRIDAY)){<i class="fa fa-check"></i>}</td>
                  <td style="text-align: center">@if(p.dayOfWeek.contains(DateTimeConstants.SATURDAY)){<i class="fa fa-check"></i>}</td>
                  <td style="text-align: center">@if(p.dayOfWeek.contains(DateTimeConstants.SUNDAY)){<i class="fa fa-check"></i>}</td>

                </tr>
              </table>
              @for(time <- p.times) {
                @time.description @time.startTime (Duration: @time.duration hr)<br/>
              }
            }

          </div>
        </div>
      </div>
    }
  }


  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-info" onclick="closeModal()">Close</button>
  </div>

</div>
