@(m:  com.mapped.publisher.view.TemplateBookingView)
@import com.umapped.persistence.enums.ReservationType
@import com.mapped.publisher.view.TabType
@import org.apache.commons.lang3.StringEscapeUtils.escapeEcmaScript
@import com.mapped.publisher.view.ViewUtils

<div id="activityTab" @if(m.activeTab == TabType.ACTIVITIES){class='tab-pane active'} else { class='tab-pane fade'}>

  @* @formatter:off *@
  <script type="application/javascript">
  @if(m.bookingDetail != null) {
    $(document).ready(function () {
      setActivityTemplateFieldVisibity('@m.bookingDetail.detailsTypeId.name()');
    });
  }

    $("#activityTemplateType").change(function() {
      setActivityTemplateFieldVisibity($(this).val())
    });

    function setActivityTemplateFieldVisibity(activityType) {
      switch(activityType) {
        case 'EVENT':
        case 'RESTAURANT':
          $("#activityTemplateFinishLocation").hide();
          $("#activityTemplateLocStartLabel").text('Location');
          $("#activityTemplateLocStartName").attr('placeholder', "Location");
          break;
        case 'TOUR':
        case 'SHORE_EXCURSION':
        case 'CRUISE_STOP':

          $("#activityTemplateFinishLocation").show();
          $("#activityTemplateLocStartLabel").text('Start Location');
          $("#activityTemplateLocStartName").attr('placeholder', "Start Location");
          break;
      }
    }

    $('#activityStartTime').timepicker({
      minuteStep: 15,
      template: 'dropdown',
      showSeconds: false,
      showMeridian: true,
      defaultTime: false
    });

    $('#activityEndTime').timepicker({
      minuteStep: 15,
      template: 'dropdown',
      showSeconds: false,
      showMeridian: true,
      defaultTime: false
    });

    $('#activityStartTime').on('click', function (e) {
      $('#activityStartTime').timepicker('showWidget');
    });

    $('#activityEndTime').on('click', function (e) {
      $('#activityEndTime').timepicker('showWidget');
    });
    //@@ sourceURL=publisherTemplateActivityTab.js
  </script>
  @* @formatter:on *@

  @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.ACTIVITY) {
    <div class="subTitle">Edit Activity Template</div>
  } else {
    <div class="subTitle">Add Activity Template</div>

  }

  <form id='activityBookingForm'>
    <input type="hidden" class="input"  id="inTemplateId" name="inTemplateId" value="@m.templateId">
    @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.ACTIVITY) {
      <input type="hidden" class="input"  id="inTemplateDetailId" name="inTemplateDetailId" @if(m.bookingDetail.detailsId !=null){value="@m.bookingDetail.detailsId"}>
    }

    <div class="row-fluid">
      <div class="span2">
        <label>Day Number</label>
        <select name="inDayOffset" class="input-block-level" id="activityDayOffset">
          <option value="-1" @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.ACTIVITY && -1 == m.bookingDetail.dayOffset) { selected="Y" }>Not Applicable</option>
          <option value="0"  @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.ACTIVITY &&  0 == m.bookingDetail.dayOffset) { selected="Y" }>Trip Start Day</option>
          @for(day <- Range(1, 365)) {
            <option value="@day" @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.ACTIVITY && day == m.bookingDetail.dayOffset) { selected="Y" }>Day @(day + 1)</option>
          }
        </select>
      </div>
      <div class="span2">
        <label>Duration</label>
        <select name="inDuration" class="input-block-level">
          <option value="0" @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.ACTIVITY && 0 == m.bookingDetail.duration) { selected="Y" }>Same Day</option>
          <option value="1" @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.ACTIVITY && 1 == m.bookingDetail.duration) { selected="Y" }>1 Day</option>
          @for(day <- Range(2, 365)) {
            <option value="@day" @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.ACTIVITY && day == m.bookingDetail.duration) { selected="Y" }>@day Days</option>
          }
        </select>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span4">
        <label> Activity <em>*</em></label>
        <input type="text" id="activityProviderName" placeholder="Activity Name" name="inActivityProviderName" class="required input-block-level" @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.ACTIVITY && m.bookingDetail.providerName !=null){value="@m.bookingDetail.providerName"}>
        <input type="hidden" id="activityProviderId"  name="inActivityProviderId" @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.ACTIVITY && m.bookingDetail.poiMain != null){value="@m.bookingDetail.poiMain.getId()"}>

      </div>

      <div class="span4">
        <label>Activity Type<em>*</em></label>
        <select name="inBookingType" class="input-block-level" id="activityTemplateType">
        @for(bt <- ReservationType.ACTIVITY.getSubtree()) {
          <option value="@bt.name()" @if(m.bookingDetail != null && bt == m.bookingDetail.detailsTypeId) { selected="Y" }>@bt.getLabel</option>
        }

        </select>
      </div>

      <div class="span4">
        <label> Contact</label>
        <input type="text" id="activityContact" placeholder="Activity Contact" name="inActivityContact" class='input-block-level' @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.ACTIVITY && m.bookingDetail.contact !=null){value="@m.bookingDetail.contact"}>
      </div>


    </div>
    <br/>


    <div class="row-fluid">
      <div class="span4">
        <label>Document Name</label>

        <input type="text" id="activityDestination" placeholder="Activity Guide Document Name" name="inActivityDestination" class="input-block-level" @if(m.bookingDetail != null && m.bookingDetail.destination != null ){value="@m.bookingDetail.destination"}>
        <input type="hidden" id="activityDestinationId" name="inActivityDestinationId" class="input-block-level" @if(m.bookingDetail != null && m.bookingDetail.destinationId != null ){value="@m.bookingDetail.destinationId"}>
      </div>
      <div class="span4">
        <label id="activityTemplateLocStartLabel">Start Location</label>
        <input type="text" id="activityTemplateLocStartName" placeholder="Start Location" name="inLocStartName"
        class="input-block-level"
          @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.ACTIVITY && m.bookingDetail.locStartName != null) {
            value="@m.bookingDetail.locStartName"}>
        <input type="hidden" id="locStartProvider" name="inLocStartProvider"
          @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.ACTIVITY && m.bookingDetail.locStartPoi != null) {
            value="@m.bookingDetail.locStartPoi"}>
      </div>
      <div class="span4" id="activityTemplateFinishLocation">
        <label>Finish Location</label>
        <input type="text" id="locFinishName" placeholder="Finish Location" name="inLocFinishName"
        class="input-block-level"
          @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.ACTIVITY && m.bookingDetail.locFinishName != null) {
            value="@m.bookingDetail.locFinishName"}>
        <input type="hidden" id="locFinishProvider" name="inLocFinishProvider"
          @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.ACTIVITY && m.bookingDetail.locFinishPoi != null) {
            value="@m.bookingDetail.locFinishPoi"}>
      </div>
    </div>

    <div class="row-fluid">
      <div class="offset4 span4 input-append bootstrap-timepicker">
        <label>Start Time</label>
        <span id="activityStartTimeClock" class="add-on"><i class="fa fa-clock-o"></i></span>
        <input id="activityStartTime" type="text" class="input-small" name="inStartTime" readonly
          @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.ACTIVITY &&
              m.bookingDetail.startTime != null && m.bookingDetail.startTime.length > 0) {value="@m.bookingDetail.startTime"}>
      </div>
      <div class="span4 input-append bootstrap-timepicker">
        <label>Finish Time</label>
        <span id="activityEndTimeClock" class="add-on"><i class="fa fa-clock-o"></i></span>
        <input id="activityEndTime" type="text" class="input-small" name="inEndTime" readonly
          @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.ACTIVITY &&
              m.bookingDetail.endTime != null && m.bookingDetail.endTime.length > 0) {value="@m.bookingDetail.endTime"}>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span12">
        <label> Note</label>

        <textarea id="tourNote" class="field span12" rows="5" name="inActivityNote">@if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.ACTIVITY && m.bookingDetail.comments !=null){@m.bookingDetail.origComments}</textarea>

      </div>
    </div>

    <div class="row-fluid">
      @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.ACTIVITY){
        <div class="span8">

        </div>
        <div class="span4">
          <table style="float: right">
            <tr>
              <td>
                <a   role="button" class="btn btn-info btn-large" onclick="javascript:getPage('@controllers.routes.TemplateController.bookings(m.templateId, new TabType.Bound(TabType.ACTIVITIES), null, false)');">Cancel</a>
              </td>
              <td>
                <a href="#" role="button" class="btn btn-danger btn-large" onclick="javascript:confirmDelete('@m.bookingDetail.detailsId', 'Activity: @Html(escapeEcmaScript(m.bookingDetail.providerName))');">Delete</a>

              </td>
              <td>
                <button type="submit" class="btn btn-success btn-large"
                onclick="javascript:postForm('@routes.TemplateController.newActivity()', 'activityBookingForm');return false;">Save</button>
              </td>
            </tr>
          </table>
        </div>
      } else {
        <div class="span10">
          </div>

          <div class="span2">
            <button type="submit" class="btn btn-success btn-large pull-right"
            onclick="javascript:postForm('@routes.TemplateController.newActivity()', 'activityBookingForm');return false;">Save</button>
          </div>
      }
    </div>
  </form>


  <div class="subTitle">Activity Bookings</div>

  @if(m.activities.size() == 0) {
    <h2 style="text-align: center"> No Activities Added</h2>
  }

  @for(p <- m.activities) {
    <div class="bookingBox">

      <table style="width: 100%;">
        <tr style="width: 100%;">

          <td style="width:35px;vertical-align: top;padding-top:5px;">
            <div style="margin-top: 10px;margin-left: 7px;text-align: right">
              <img src="http://static-umapped-com.s3.amazonaws.com/public/img/icons/@ViewUtils.getimgNameForBookingType(p.detailsTypeId)" >
            </div>
          </td>
          <td style="vertical-align: top;padding-top:5px;">
            <div style="width: 100%">
              <table style="width: 100%;margin-left: 0px;margin-top: 8px;">
                <tr>
                  <td style="vertical-align: top;">
                    <table style="width: 100%;margin-left: 0px;margin-top: 0px;">
                      <tr>
                        <td colspan="9" style="padding-bottom: 20px;vertical-align: top;">
                          @views.html.template.templateScheduleBtns(ReservationType.ACTIVITY, TabType.ACTIVITIES, m, p)

                        </td>
                      </tr>
                      <tr style="font-size: 11px;color: #818181;font-weight: 700">
                        <td style="padding-bottom: 10px;width: 200px;vertical-align: text-top;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">CONTACT</div></td>
                        <td style="width:15px;border-top: none;"></td>
                        <td style="width: 125px ; padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">START</div></td>
                        <td style="width:15px"></td>
                        <td style="width: 125px ; padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">FINISH</div></td>
                        <td style="width:15px"></td>
                        <td style="padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">DETAILS</div></td>
                      </tr>

                      <tr style="font-size: 13px;color: #000000;line-height: 16px">
                        <td style="width:250px ; padding-bottom: 20px;;vertical-align: text-top">
                          @if(p.providerName != null && p.providerName.trim.length > 0) {
                            <span style="font-weight: 700">@p.providerName</span> <br/>
                          }
                          @if(p.contact != null && p.contact.length > 0) {
                            Contact: @p.contact <br/>
                          }
                          @if(p.destinationId != null && p.destinationId.trim.length > 0) {
                            Document: <a href = "@p.destinationUrl"> @p.destination</a> <br/>
                          }
                          @if(p.providerAddr1 != null && p.providerAddr1.length > 0) {
                          @p.providerAddr1 <br>
                          }
                          @if(p.providerAddr2 != null && p.providerAddr2.length > 0) {
                          @p.providerAddr2 <br/>
                          }

                          @if(p.providerPhone != null && p.providerPhone.length > 0) {
                          Phone: @p.providerPhone <br/>
                          }
                          @if(p.providerWeb != null && p.providerWeb.length > 0) {
                          Web: @p.providerWeb <br/>
                          }
                        </td>
                        <td style="width:15px"></td>
                        <td style="width:140px ; padding-bottom: 20px;vertical-align: top;">
                          @if(p.startTime != null && p.startTime.trim.length > 0) {
                            <div style="font-size: 18px;padding-bottom:12px">
                              @p.startTime
                            </div>
                          }
                          @if(p.locStartName != null && p.locStartName.trim.length > 0) {
                            <span style="font-size: 14px;font-weight: 400">@p.locStartName</span>
                          }
                        </td>
                        <td style="width:15px"></td>
                        <td style="width:140px ; padding-bottom: 20px;vertical-align: top;">
                          @if(p.endTime != null && p.endTime.trim.length > 0) {
                            <div style="font-size: 18px;padding-bottom:12px">
                              @p.endTime
                            </div>
                          }
                          @if(p.locFinishName != null && p.locFinishName.trim.length > 0) {
                            <span style="font-size: 14px;font-weight: 400">@p.locFinishName</span>
                          }
                        </td>

                        <td style="width:15px"></td>
                        <td style="padding-bottom: 20px;">
                          <table style="margin-left: 0px;width: 100%;margin-top: 0px;vertical-align: top;">
                            @if(p.comments != null && p.comments.trim.length > 0) {
                              <tr style="page-break-inside: avoid">
                                <td style="width: 100%;vertical-align: text-top;color: #787878;font-size:13px;line-height:15px;padding-bottom: 10px">
                                  @Html(p.comments)
                                </td>
                              </tr>
                            }
                            <tr style="width: 100%;vertical-align: text-top;color: #787878;font-size:13px;line-height:15px;padding-bottom: 10px">
                              @if(p.dayOffset >= 0) {
                                Starts: Day @(p.dayOffset + 1)
                                <br/>
                              }
                              @if(p.duration >= 0) {
                                @if(p.duration == 0) {
                                  Duration: Same Day
                                } else {
                                  @if(p.duration == 1){
                                    Duration: @p.duration Day
                                  } else {
                                    Duration: @p.duration Days
                                  }
                                }
                                <br/>
                              }
                            </tr>

                          </table>

                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <br/>
  }

</div>
