@(m:  com.mapped.publisher.view.TemplateBookingView)
@import com.umapped.persistence.enums.ReservationType
@import com.mapped.publisher.view.TabType
@import org.apache.commons.lang3.StringEscapeUtils.escapeEcmaScript
@import com.mapped.publisher.view.EnhancedTripBookingDetailView

<div id="cruiseTab" style="padding-bottom:20px" @if(m.activeTab == TabType.CRUISES){class='tab-pane active'} else { class='tab-pane fade'}>
  @* @formatter:off *@
  <script>
  $('#cruiseStartTime').timepicker({
    minuteStep: 15,
    template: 'dropdown',
    showSeconds: false,
    showMeridian: true,
    defaultTime: false
  });

  $('#cruiseEndTime').timepicker({
    minuteStep: 15,
    template: 'dropdown',
    showSeconds: false,
    showMeridian: true,
    defaultTime: false
  });

  $('#cruiseStartTime').on('click', function (e) {
    $('#cruiseStartTime').timepicker('showWidget');
  });

  $('#cruiseEndTime').on('click', function (e) {
    $('#cruiseEndTime').timepicker('showWidget');
  });

  //@@ sourceURL=publisherTemplateActivityTab.js
  </script>
  @* @formatter:on *@

  @if(m.bookingDetail != null &&  m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.CRUISE) {
  <div class="subTitle">Edit Cruise Template</div>
  } else {
  <div class="subTitle">Add Cruise Template</div>
  }

  <form id="cruiseForm">
    <input type="hidden" class="input"  id="inTemplateId" name="inTemplateId" value="@m.templateId">

    @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.CRUISE) {
    <input type="hidden" class="input"  id="inTmpltDetailId" name="inTmpltDetailId" @if(m.bookingDetail.detailsId !=null){value="@m.bookingDetail.detailsId"}>
    }

    <div class="row-fluid">
      <div class="span2">
        <label>Day Number</label>
        <select name="inDayOffset" class="input-block-level">
          <option value="-1" @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.CRUISE && -1 == m.bookingDetail.dayOffset) { selected="Y" }>Not Applicable</option>
          <option value="0"  @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.CRUISE &&  0 == m.bookingDetail.dayOffset) { selected="Y" }>Trip Start Day</option>
          @for(day <- Range(1, 365)) {
          <option value="@day" @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.CRUISE && day == m.bookingDetail.dayOffset) { selected="Y" }>Day @(day + 1)</option>
          }
        </select>
      </div>
      <div class="span2">
        <label>Duration</label>
        <select name="inDuration" class="input-block-level">
          <option value="0" @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.CRUISE && 0 == m.bookingDetail.duration) { selected="Y" }>Same Day</optionvel">
          <option value="1" @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.CRUISE && 1 == m.bookingDetail.duration) { selected="Y" }>1 Day</option>
          @for(day <- Range(2, 365)) {
          <option value="@day" @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.CRUISE && day == m.bookingDetail.duration) { selected="Y" }>@day Days</option>
          }
        </select>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span6">
        <label>Cruise Name<em>*</em></label>
        <input type="text" id="cruiseName"  name="inCruiseName" placeholder="Cruise Name" class="required input-block-level" @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.CRUISE && m.bookingDetail.cruise.name !=null){value="@m.bookingDetail.cruise.name"}>
        <input type="hidden" id="cruiseProviderId"  name="inCruiseProviderId" @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.CRUISE && m.bookingDetail.poiMain !=null){value="@m.bookingDetail.poiMain.getId()"}>
      </div>
      <div class="span6">
        <label>Cruise Company</label>
        <input type="text" id="cruiseCmpyName" placeholder="Cruise Company" name="inCruiseCmpyName" class="input-block-level" @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.CRUISE && m.bookingDetail.cruise.cmpyName != null) {
               value="@m.bookingDetail.cruise.cmpyName"}>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span4">
        <label>Depart Port<em>*</em></label>
        <input type="text" id="cruisePortDepart" placeholder="Port name" name="inCruisePortDepart" class="required input-block-level" @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.CRUISE && m.bookingDetail.cruise.portDepart != null) {
               value="@m.bookingDetail.cruise.portDepart"}>
        <input type="hidden" id="cruisePortDepartId" name="inCruisePortDepartProviderId" class="required input-block-level" @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.CRUISE && m.bookingDetail.poiStart != null) {
               value="@m.bookingDetail.poiStart.getId"}>
      </div>

      <div class="span2 input-append bootstrap-timepicker">
        <label>Depart Time</label>
        <span class="add-on"><i class="fa fa-clock-o"></i></span>
        <input id="cruiseStartTime" type="text" class="input-small" name="inStartTime" readonly
               @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.CRUISE &&
               m.bookingDetail.startTime != null && m.bookingDetail.startTime.length > 0) {
        value="@m.bookingDetail.startTime"
        }>
      </div>

      <div class="span4">
        <label>Arrival Port<em>*</em></label>
        <input type="text" id="cruisePortArrive" placeholder="Port Name" name="inCruisePortArrive" class="required input-block-level" @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.CRUISE && m.bookingDetail.cruise.portArrive != null) {
               value="@m.bookingDetail.cruise.portArrive"}>
        <input type="hidden" id="cruisePortArriveId" name="inCruisePortArriveProviderId" class="required input-block-level" @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.CRUISE && m.bookingDetail.poiFinish != null) {
               value="@m.bookingDetail.poiFinish.getId()"}>
      </div>

      <div class="span2 input-append bootstrap-timepicker">
        <label>Arrival Time</label>
        <span class="add-on"><i class="fa fa-clock-o"></i></span>
        <input id="cruiseEndTime" type="text" class="input-small" name="inEndTime" readonly
               @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.CRUISE &&
               m.bookingDetail.endTime != null && m.bookingDetail.endTime.length > 0) {
        value="@m.bookingDetail.endTime"}>
      </div>

    </div>

    <br/>
    <div class="row-fluid">
      <div class="span12">
        <label> Note</label>

        <textarea id="cruiseNote" class="field span12" rows="5" name="inCruiseNote">@if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.CRUISE && m.bookingDetail.comments !=null){@m.bookingDetail.origComments}</textarea>

      </div>
    </div>

    <div class="row-fluid">
      @if(false && m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.CRUISE){
      <div class="span8">

      </div>
      <div class="span4">
        <table style="float: right">
          <tr>
            <td>
              <a   role="button" class="btn btn-info btn-large"  onclick="javascript:getPage('@controllers.routes.TemplateController.bookings(m.templateId, new TabType.Bound(TabType.CRUISES), null, false)');">Cancel</a>

            </td>
            <td>
              <a href="#" role="button" class="btn btn-danger btn-large" onclick="javascript:confirmDelete('@m.bookingDetail.detailsId', 'Cruise: @Html(escapeEcmaScript(m.bookingDetail.detailsId))');">Delete</a>

            </td>
            <td>
              <button type="submit" class="btn btn-success btn-large" onclick="javascript:postForm('@routes.TemplateController.newCruise()','cruiseForm');return false;">Save</button>
            </td>
          </tr>
        </table>
      </div>
      } else {
      <div class="span10">
      </div>

      <div class="span2">
        <button type="submit" class="btn btn-success btn-large pull-right"
                onclick="javascript:postForm('@routes.TemplateController.newCruise()','cruiseForm');return false;">Save
        </button>
      </div>
      }

    </div>
  </form>


  <div id="cruise-booking" class="">
    <div class="subTitle">Cruise Bookings</div>

    @if(m.cruises.size() == 0) {
    <h2 style="text-align: center"> No Cruises Added</h2>
    }

    @for(p <- m.cruises) {
    <div class="bookingBox">

      <div style="padding:0px;padding-bottom: 0px;width: 100%;page-break-inside: avoid">
        <table style="width: 100%;">
          <tr style="width: 100%;">

            <td style="width:35px;vertical-align: top;padding-top:5px;">
              <div style="margin-top: 10px;margin-left: 7px;text-align: right">
                <img src="http://static-umapped-com.s3.amazonaws.com/public/img/666-cruise.png">
              </div>
            </td>
            <td style="vertical-align: top;padding-top:5px;">
              <div>
                <table style="margin-left: 0px;width: 100%;margin-top: 8px;">
                  <tr>
                    <td style="width: 100%;vertical-align: top;">
                      <table style="margin-left: 0px;width: 100%;margin-top: 0px;">
                        <tr>
                          <td colspan="3" style="padding-bottom: 20px;vertical-align: top">
                            @views.html.template.templateScheduleBtns(ReservationType.CRUISE, TabType.CRUISES, m, p)
                          </td>
                        </tr>
                        <tr>
                          <td style="width: 695px; vertical-align: top">
                            <table>
                              <tr>
                                <td>
                                  <table style="width: 100%">
                                    <tr style="font-size: 11px;color: #818181;font-weight: 700">
                                      <td style="padding-bottom: 10px;width: 250px;vertical-align: text-top;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">CRUISE</div></td>
                                      <td style="width:15px;border-top: none;"></td>
                                      <td style="width: 150px ; padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">BOARD</div></td>
                                      <td style="width:15px"></td>
                                      <td style="width: 150px ; padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">DISEMBARK</div></td>

                                    </tr>

                                    <tr style="font-size: 14px;color: #000000;line-height: 16px">
                                      <td style="width:250px ; padding-bottom: 20px;;vertical-align: text-top">
                                        @if(p.providerName != null && p.providerName.trim.length > 0) {
                                        <span style="font-weight: 700">@p.providerName</span> <br/>
                                        }
                                        @if(p.cruise.cmpyName != null && p.cruise.cmpyName.length > 0) {
                                         <br/>
                                         <p style="font-size: 11px">By
                                            @p.cruise.cmpyName
                                          </p>
                                        }
                                        @if(EnhancedTripBookingDetailView.parseCruise(null, p).providerAddr1 != null && EnhancedTripBookingDetailView.parseCruise(null, p).providerAddr1.length > 0) {
                                        @EnhancedTripBookingDetailView.parseCruise(null, p).providerAddr1 <br>
                                        }
                                        @if(EnhancedTripBookingDetailView.parseCruise(null, p).providerAddr2 != null && EnhancedTripBookingDetailView.parseCruise(null, p).providerAddr2.length > 0) {
                                        @EnhancedTripBookingDetailView.parseCruise(null, p).providerAddr2 <br/>
                                        }

                                        @if(EnhancedTripBookingDetailView.parseCruise(null, p).providerPhone != null && EnhancedTripBookingDetailView.parseCruise(null, p).providerPhone.length > 0) {
                                        Phone: @EnhancedTripBookingDetailView.parseCruise(null, p).providerPhone <br/>
                                        }
                                        @if(EnhancedTripBookingDetailView.parseCruise(null, p).providerWeb != null && EnhancedTripBookingDetailView.parseCruise(null, p).providerWeb.length > 0) {
                                        Web: @EnhancedTripBookingDetailView.parseCruise(null, p).providerWeb <br/>
                                        }

                                      </td>
                                      <td style="width:15px"></td>
                                      <td style="width:170px ; padding-bottom: 20px;vertical-align: top">
                                        @if(p.startTime != null && p.startTime.trim.length > 0) {
                                        <div style="font-size: 18px;padding-bottom:12px">
                                          @p.startTime
                                        </div>
                                        }
                                        @if(p.startDatePrint != null && p.startDatePrint.trim.length > 0) {
                                        <div style="padding-bottom:6px">@p.startDatePrint  </div>
                                        }
                                        @if(p.locStartName != null && p.locStartName.trim.length > 0) {
                                        <div style="padding-bottom:6px">@p.locStartName  </div>
                                        }
                                      </td>
                                      <td style="width:15px"></td>
                                      <td style="width:170px ; padding-bottom: 20px;vertical-align: top">
                                        @if(p.endTime != null && p.endTime.trim.length > 0) {
                                        <div style="font-size: 18px;padding-bottom:12px">
                                          @p.endTime
                                        </div>
                                        }
                                        @if(p.endDatePrint != null && p.endDatePrint.trim.length > 0) {
                                        <div style="padding-bottom:6px">@p.endDatePrint </div>
                                        }
                                        @if(p.locFinishName != null && p.locFinishName.trim.length > 0) {
                                        <div style="padding-bottom:6px">@p.locFinishName  </div>
                                        }
                                      </td>

                                    </tr>
                                  </table>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <table style="width: 100%">
                                    <tr style="font-size: 11px;color: #818181;font-weight: 700">
                                      <td style="padding-bottom:10px;width:100px;vertical-align: text-top;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">DURATION</div></td>
                                      <td style="width:15px;border-top: none;"></td>
                                      <td style="width:100px;padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">CATEGORY</div></td>
                                      <td style="width:15px"></td>
                                      <td style="width:80px; padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">CABIN</div></td>
                                      <td style="width:15px"></td>
                                      <td style="width:80px; padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">DINING</div></td>
                                    </tr>
                                    <tr style="font-size: 13px;color: #000000;line-height: 16px">
                                      <td style="width:130px ; padding-bottom: 20px;;vertical-align: text-top">
                                        @if(p.dayOffset >= 0) {
                                          Starts: Day @(p.dayOffset + 1)
                                          <br/>
                                        }
                                        @if(p.duration >= 0) {
                                          @if(p.duration == 0) {
                                            Duration: Same Day
                                          } else {
                                            Duration: @p.duration Days
                                          }
                                          <br/>
                                        }
                                      </td>
                                      <td style="width:15px"></td>
                                      <td style="width:130px ; padding-bottom: 20px;;vertical-align: text-top">
                                        @p.cruise.category
                                      </td>
                                      <td style="width:15px"></td>
                                      <td style="width:130px ; padding-bottom: 20px;;vertical-align: text-top">
                                        @p.cruise.cabinNumber
                                      </td>
                                      <td style="width:15px"></td>
                                      <td style="width:130px ; padding-bottom: 20px;;vertical-align: text-top">
                                        @p.cruise.meal
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>

                              @if(EnhancedTripBookingDetailView.parseCruise(null, p).cruiseStops != null && EnhancedTripBookingDetailView.parseCruise(null, p).cruiseStops.size() > 0) {
                              <tr>
                                <td>
                                  <table style="width: 100%;">
                                    <tr style="width: 100%;">

                                      <td style="vertical-align: top;">
                                        <div >
                                          <table style="margin-left: 0px;width: 100%;margin-top: 0px;">
                                            @if(EnhancedTripBookingDetailView.parseCruise(null, p).cruiseStops != null && EnhancedTripBookingDetailView.parseCruise(null, p).cruiseStops.size() > 0) {
                                            <tr style="page-break-inside: avoid;">
                                              <td style="width: 100%;vertical-align: text-top;padding-bottom: 20px;margin-top: 0px;">
                                                <table style="page-break-inside: avoid;width: 100%">
                                                  <tr style="font-size: 13px;line-height:15px;color: #818181;font-weight: 700">
                                                    <td style="border-top: 1px solid #818181;width:315px ; padding-bottom: 10px;padding-top: 5px">CRUISE STOP</td>
                                                    <td style="width:15px"></td>
                                                    <td style="border-top: 1px solid #818181;width:150px ; padding-bottom: 10px;padding-top: 5px">ARRIVAL DATE</td>
                                                    <td style="width:15px"></td>
                                                    <td style="border-top: 1px solid #818181;width:150px ; padding-bottom: 10px;padding-top: 5px">DEPARTURE DATE</td>
                                                  </tr>
                                                  @for(v <- EnhancedTripBookingDetailView.parseCruise(null, p).cruiseStops) {
                                                  <tr style="font-size : 11px ;">
                                                    <td style="padding-bottom : 5px">
                                                      @v.itinerary
                                                    </td>
                                                    <td style="width:10px"></td>

                                                    <td style="font-size : 10px ; padding-bottom : 5px">
                                                      @v.arriveTime
                                                    </td>
                                                    <td style="width:10px"></td>

                                                    <td style="font-size : 10px ; padding-bottom : 5px">
                                                      @v.departTime
                                                    </td>

                                                  </tr>
                                                  }
                                                </table>
                                              </td>
                                            </tr>
                                            }
                                          </table>
                                        </div>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                              }

                            </table>

                          </td>
                          <td style="width:15px"></td>
                          <td style="padding-bottom: 10px;vertical-align: text-top;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px;font-size: 11px;color: #818181;font-weight: 700">DETAILS</div>
                            <table style="margin-left: 0px;width: 100%;margin-top: 0px;">
                              @if(p.comments != null && p.comments.trim.length > 0) {
                              <tr style="page-break-inside: avoid">
                                <td style="vertical-align: text-top;color: #787878;font-size:13px;line-height:15px;;padding-bottom: 10px">
                                  @Html(p.comments)
                                </td>
                              </tr>
                              }
                            </table>
                          </td>

                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </div>
            </td>
          </tr>
        </table>
      </div>

    </div>
    <br>
    }

  </div>


</div>
