@(m:  com.mapped.publisher.view.TemplateBookingView)
@import com.umapped.persistence.enums.ReservationType
@import com.mapped.publisher.view.TabType
@import org.apache.commons.lang3.StringEscapeUtils.escapeEcmaScript
@import com.mapped.publisher.view.EnhancedTripBookingDetailView

@import com.umapped.persistence.reservation.flight.UmFlightReservation; val fr : UmFlightReservation = if (m.bookingDetail == null || m.bookingDetail.reservation == null) null else m.bookingDetail.reservation match { case fr: UmFlightReservation => fr; case _ => null }

<div id="flightTab" style="padding-bottom:20px" @if(m.activeTab == TabType.FLIGHTS){class='tab-pane active'} else { class='tab-pane fade'}>
  @* @formatter:off *@
  <script>
  $('#flightStartTime').timepicker({
    minuteStep: 15,
    template: 'dropdown',
    showSeconds: false,
    showMeridian: true,
    defaultTime: false
  });

  $('#flightEndTime').timepicker({
    minuteStep: 15,
    template: 'dropdown',
    showSeconds: false,
    showMeridian: true,
    defaultTime: false
  });

  $('#flightStartTime').on('click', function (e) {
    $('#flightStartTime').timepicker('showWidget');
  });
    $('#flightEndTime').on('click', function (e) {
    $('#flightEndTime').timepicker('showWidget');
  });

  //@@ sourceURL=publisherTemplateFlightsTab.js
  </script>
  @* @formatter:on *@



  @if(m.bookingDetail != null &&  m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.FLIGHT) {
    <div class="subTitle">Edit Flight Template</div>
  } else {
    <div class="subTitle">Add Flight Template</div>
  }

  <form id="flightForm">
    <input type="hidden" class="input" name="inTemplateId" value="@m.templateId">
    @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.FLIGHT) {
      <input type="hidden" class="input" name="inTemplateDetailId" @if(m.bookingDetail.detailsId !=null){value="@m.bookingDetail.detailsId"}>
    }

    <div class="row-fluid">
      <div class="span2">
        <label> Day Number</label>
        <select name="inDayOffset" class="input-block-level">
          <option value="-1" @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.FLIGHT && -1 == m.bookingDetail.dayOffset) { selected="Y" }>Not Applicable</option>
          <option value="0"  @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.FLIGHT &&  0 == m.bookingDetail.dayOffset) { selected="Y" }>Trip Start Day</option>
          @for(day <- Range(1, 365)) {
            <option value="@day" @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.FLIGHT && day == m.bookingDetail.dayOffset) { selected="Y" }>Day @(day + 1)</option>
          }
        </select>
      </div>
      <div class="span4">
        <label> Airline Code & Flight #<em>*</em></label>
        <input type="text" id="flightNumber"  name="inFlightNumber" placeholder="e.g. AC101" class="required input-block-level" @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.FLIGHT && m.bookingDetail.flightId !=null){value="@m.bookingDetail.flightId"}>
        <input type="hidden" id="flightAirportId"  name="inFlightAirlineId"
          @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.FLIGHT && m.bookingDetail.poiMain !=null){value="@m.bookingDetail.poiMain.getId"}>
      </div>
    </div>


    <div class="row-fluid">
      <div class="span4">
        <label> Departure Airport <em>*</em></label>
        <input type="text" id="flightDepartAirport" name="inFlightDepartAirport" placeholder="Departure Airport" class="required input-block-level" @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.FLIGHT && m.bookingDetail.departureAirport !=null){value="@m.bookingDetail.departureAirport"}>
        <input type="hidden" id="flightDepartAirportId"  name="inFlightDepartAirportId" @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.FLIGHT && m.bookingDetail.departureAirportId !=null){value="@m.bookingDetail.departureAirportId"}>

      </div>
      <div class="span2 input-append bootstrap-timepicker">
        <label>Departure Time</label>
        <span class="add-on"><i class="fa fa-clock-o"></i></span>
        <input id="flightStartTime" type="text" class="input-small" name="inStartTime" readonly
          @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.FLIGHT &&
              m.bookingDetail.startTime != null && m.bookingDetail.startTime.length > 0) {
            value="@m.bookingDetail.startTime"
            }>
      </div>
      <div class="span3">
        <label>Departure Terminal</label>
        <input id="flightArrivalTerminal" type="text"  name="inDepartureTerminal" 
          @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.FLIGHT &&
              fr != null) {
            value="@fr.getFlight.departureTerminal"}>
      </div>
    </div>
    <div class="row-fluid">
       <div class="span4">
        <label> Arrival Airport <em>*</em></label>
        <input type="text" id="flightArrivalAirport" name="inFlightArrivalAirport" placeholder="Arrival Airport" class="required input-block-level" @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.FLIGHT && m.bookingDetail.arrivalAirport !=null){value="@m.bookingDetail.arrivalAirport"}>
        <input type="hidden" id="flightArrivalAirportId"  name="inFlightArrivalAirportId" @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.FLIGHT && m.bookingDetail.arrivalAirportId !=null){value="@m.bookingDetail.arrivalAirportId"}>

      </div>
      <div class="span2 input-append bootstrap-timepicker">
        <label>Arrival Time</label>
        <span class="add-on"><i class="fa fa-clock-o"></i></span>
        <input id="flightEndTime" type="text" class="input-small" name="inEndTime" readonly
          @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.FLIGHT &&
              m.bookingDetail.endTime != null && m.bookingDetail.endTime.length > 0) {
            value="@m.bookingDetail.endTime"}>
      </div>
     <div class="span3">
        <label>Arrival Terminal</label>
        <input id="flightArrivalTerminal" type="text"  name="inArrivalTerminal" 
          @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.FLIGHT &&
              fr != null) {
            value="@fr.getFlight.arrivalTerminal"}>
      </div>
    </div>




    <br/>
    <div class="row-fluid">
      <div class="span12">
        <label> Note</label>

        <textarea id="flightNote" class="field span12" rows="5" name="inFlightNote">@if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.FLIGHT && m.bookingDetail.comments !=null){@m.bookingDetail.origComments}</textarea>

      </div>
    </div>

    <div class="row-fluid">
    @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.FLIGHT){
      <div class="span8">

      </div>
      <div class="span4">
        <table style="float: right">
          <tr>
            <td>
              <a   role="button" class="btn btn-info btn-large"  onclick="javascript:getPage('@controllers.routes.TemplateController.bookings(m.templateId, new TabType.Bound(TabType.FLIGHTS), null, false)');">Cancel</a>

            </td>
            <td>
              <a href="#" role="button" class="btn btn-danger btn-large" onclick="javascript:confirmDelete('@m.bookingDetail.detailsId', 'Flight: @Html(escapeEcmaScript(m.bookingDetail.flightId))');">Delete</a>

            </td>
            <td>
              <button type="submit" class="btn btn-success btn-large"
              onclick="javascript:postForm('@routes.TemplateController.newFlight()','flightForm');return false;">Save
              </button>
            </td>
          </tr>
        </table>
      </div>
    } else {
      <div class="span10">
      </div>

      <div class="span2">
        <button type="submit" class="btn btn-success btn-large pull-right"
        onclick="javascript:postForm('@routes.TemplateController.newFlight()','flightForm');return false;">Save
        </button>
      </div>
    }

    </div>
  </form>

  <div id="flight-booking" class="">
    <div class="subTitle"> Flight Bookings</div>
    @if(m != null && m.flights != null && m.flights.size() > 0) {
      @for(p <- m.flights; f = EnhancedTripBookingDetailView.parseFlight(p)) {
        <div class="bookingBox">

          <table style="width: 100%;">
            <tr style="width: 100%;">

              <td style="width:35px;vertical-align: top;padding-top:5px;">
                <div style="margin-top: 10px;margin-left: 6px;text-align: right">
                  <img src="http://static-umapped-com.s3.amazonaws.com/public/img/38-airplane.png" >
                </div>
              </td>
              <td style="vertical-align: top;padding-top:5px;">
                <div>
                  <table style="margin-left: 0px;width: 100%;margin-top: 8px;">
                    <tr>
                      <td style="width: 100%;vertical-align: top;">
                        <table style="margin-left: 0px;width: 100%;margin-top: 0px;">
                          <tr>
                            <td colspan="9" style="padding-bottom: 20px;vertical-align: top;">
                              @views.html.template.templateScheduleBtns(ReservationType.FLIGHT, TabType.FLIGHTS, m, p)

                            </td>
                          </tr>
                          <tr style="font-size: 11px;color: #818181;font-weight: 700">
                            <td style="padding-bottom: 10px;width: 140px;vertical-align: text-top;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">AIRLINE CODE & FLIGHT #</div></td>
                            <td style="width:15px;border-top: none;"></td>
                            <td style="width: 150px ; padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">DEPARTURE TIME</div></td>
                            <td style="width:15px"></td>
                            <td style="width: 150px ; padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">ARRIVAL TIME</div></td>
                            <td style="width:15px"></td>
                            <td style="padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">DETAILS</div></td>
                          </tr>

                          <tr style="font-size: 13px;color: #000000;line-height: 16px">
                            <td style="width:210px ; padding-bottom: 20px;;vertical-align: text-top">
                              @if(p.providerName != null && p.providerName.trim.length > 0) {
                              <span style="font-weight: 700">@p.providerName</span> <br/>
                              }
                              @p.flightId
                            </td>
                            <td style="width:15px"></td>
                            <td style="width:170px ; padding-bottom: 20px;vertical-align: top;">
                              @if(p.startTime != null && p.startTime.trim.length > 0) {
                                <div style="font-size: 18px;padding-bottom:12px">
                                  @p.startTime
                                </div>
                              }
                            </td>
                            <td style="width:15px"></td>
                            <td style="width:170px ; padding-bottom: 20px;vertical-align: top;">
                              @if(p.endTime != null && p.endTime.trim.length > 0) {
                                <div style="font-size: 18px;padding-bottom:12px">
                                  @p.endTime
                                </div>
                              }
                            </td>

                            <td style="width:15px"></td>
                            <td style="padding-bottom: 20px;">
                              <div>
                                <table style="margin-left: 0px;width: 100%;margin-top: 0px;">
                                  @if(f.passengers != null && f.passengers.size() > 0) {
                                    <tr style="page-break-inside: avoid;">
                                      <td style="width: 100%;vertical-align: text-top;padding-bottom: 20px;margin-top: 0px;">
                                        <table style="page-break-inside: avoid;width: 100%">
                                          <tr style="font-size: 11px;color: #818181;font-weight: 700">
                                            <td style="border-top: 1px solid #AFAFAF;width:140px ; padding-bottom: 10px;padding-top: 5px">PASSENGER</td>
                                            <td style="width:10px"></td>
                                            <td style="border-top: 1px solid #AFAFAF;width: 80px ; padding-bottom: 10px;padding-top: 5px">SEAT</td>
                                            <td style="width:10px"></td>
                                            <td style="border-top: 1px solid #AFAFAF;width: 70px ; padding-bottom: 10px;padding-top: 5px">CLASS</td>
                                            <td style="width:10px"></td>
                                            <td style="border-top: 1px solid #AFAFAF;width: 90px ; padding-bottom: 10px;padding-top: 5px">E-TICKET</td>
                                            <td style="width:10px"></td>
                                            <td style="border-top: 1px solid #AFAFAF;width: 100px ; padding-bottom: 10px;padding-top: 5px">FREQUENT FLYER</td>
                                            <td style="width:10px"></td>
                                            <td style="border-top: 1px solid #AFAFAF;width: 70px ; padding-bottom: 10px;padding-top: 5px">MEAL</td>
                                          </tr>
                                          @if(f.passengers != null){
                                          @for(v <- f.passengers) {
                                          <tr style="font-size : 11px ;">
                                            <td style="padding-bottom : 5px">
                                              @if(v.name != null){
                                              @Html(v.name)
                                              }
                                            </td>
                                            <td></td>
                                            <td style="font-size : 10px ; padding-bottom : 5px">
                                              @if(v.seat != null){
                                              @Html(v.seat)
                                              }
                                            </td>
                                            <td></td>
                                            <td style="font-size : 10px ; padding-bottom : 5px">
                                              @if(v.fClass != null){
                                              @Html(v.fClass)
                                              }
                                            </td>
                                            <td></td>
                                            <td style="font-size : 10px ; padding-bottom : 5px">
                                              @if(v.eticket != null){
                                              @Html(v.eticket)
                                              }
                                            </td>
                                            <td></td>
                                            <td style="font-size : 10px ; padding-bottom : 5px">
                                              @if(v.frequentflyer != null) {
                                              @Html(v.frequentflyer)
                                              }
                                            </td>
                                            <td></td>
                                            <td style="font-size : 10px ; padding-bottom : 5px">
                                              @if(v.meal != null){
                                              @Html(v.meal)
                                              }
                                            </td>
                                          </tr>
                                          }
                                          }
                                        </table>
                                      </td>
                                    </tr>

                                  }
                                  @if(f.comments != null && f.comments.trim.length > 0) {
                                    <tr style="page-break-inside: avoid">
                                      <td style="width: 100%;vertical-align: text-top;color: #787878;font-size:13px;line-height:15px;">
                                        @Html(f.comments)
                                      </td>
                                    </tr>
                                  }
                                  @if(fr != null && fr.getImportant != null && fr.getImportant.trim.length > 0) {
                                  <tr style="page-break-inside: avoid">
                                    <td style="width: 100%;vertical-align: text-top;color: #787878;font-size:13px;line-height:15px;">
                                      @Html(fr.getImportant)
                                    </td>
                                  </tr>
                                  }
                                  @if(fr != null && fr.getCancellationPolicy != null && fr.getCancellationPolicy.trim.length > 0) {
                                  <tr style="page-break-inside: avoid">
                                    <td style="width: 100%;vertical-align: text-top;color: #787878;font-size:13px;line-height:15px;">
                                      @Html(fr.getCancellationPolicy)
                                    </td>
                                  </tr>
                                  }
                                  <tr style="width: 100%;vertical-align: text-top;color: #787878;font-size:13px;line-height:15px;padding-bottom: 10px">
                                    @if(p.dayOffset >= 0) {
                                      Starts: Day @(p.dayOffset + 1)
                                      <br/>
                                    }
                                    @if(p.duration >= 0) {
                                      @if(p.duration == 0) {
                                        Duration: Same Day
                                      } else {
                                        @if(p.duration == 1){
                                          Duration: @p.duration Day
                                        } else {
                                          Duration: @p.duration Days
                                        }
                                      }
                                      <br/>
                                    }
                                  </tr>

                                </table>
                              </div>
                            </td>

                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </div>
              </td>

            </tr>
          </table>
        </div>
        <br/>
      }
    } else {
      <h2 style="text-align: center"> No Flights Added</h2>
    }
  </div>

</div>
