@(m: com.mapped.publisher.view.TemplateBookingView)
@import com.mapped.publisher.utils.Utils
@import com.umapped.persistence.enums.ReservationType
@import com.mapped.publisher.view.TabType
@import org.apache.commons.lang3.StringEscapeUtils.escapeEcmaScript
@import com.mapped.publisher.view.EnhancedTripBookingDetailView


<div id="hotelTab"  @if(m.activeTab == TabType.HOTELS){class='tab-pane active'} else { class='tab-pane fade'} >
  @* @formatter:off *@
  <script>
  $('#hotelStartTime').timepicker({
    minuteStep: 15,
    template: 'dropdown',
    showSeconds: false,
    showMeridian: true,
    defaultTime: false
  });

  $('#hotelEndTime').timepicker({
    minuteStep: 15,
    template: 'dropdown',
    showSeconds: false,
    showMeridian: true,
    defaultTime: false
  });

    $('#hotelStartTime').on('click', function (e) {
    $('#hotelStartTime').timepicker('showWidget');
  });
    $('#hotelEndTime').on('click', function (e) {
    $('#hotelEndTime').timepicker('showWidget');
  });


  //@@ sourceURL=publisherTemplateHotelsTab.js
  </script>
  @* @formatter:on *@

  @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.HOTEL) {
  <div class="subTitle"> Edit Accommodations Template</div>
  } else {
  <div class="subTitle"> Add Accommodations Template</div>
  }

  <form id="hotelBookingForm">
    <input type="hidden" class="input"  id="inTripId" name="inTemplateId" value="@m.templateId">
    @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.HOTEL) {
    <input type="hidden" class="input"  id="inTemplateDetailId" name="inTemplateDetailId" @if(m.bookingDetail.detailsId !=null){value="@m.bookingDetail.detailsId"}>
    }
    <div class="row-fluid">
      <div class="span2">
        <label>Day Number</label>
        <select name="inDayOffset" class="input-block-level">
          <option value="-1" @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.HOTEL && -1 == m.bookingDetail.dayOffset) { selected="Y" }>Not Applicable</option>
          <option value="0"  @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.HOTEL &&  0 == m.bookingDetail.dayOffset) { selected="Y" }>Trip Start Day</option>
          @for(day <- Range(1, 365)) {
          <option value="@day" @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.HOTEL && day == m.bookingDetail.dayOffset) { selected="Y" }>Day @(day + 1)</option>
          }
        </select>
      </div>
      <div class="span2">
        <label>Number Of Nights</label>
        <select name="inDuration" class="input-block-level">
          <option value="1" @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.HOTEL && 1 == m.bookingDetail.duration) { selected="Y" }>1 Night</option>
          @for(day <- Range(2, 365)) {
          <option value="@day" @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.HOTEL && day == m.bookingDetail.duration) { selected="Y" }>@day Nights</option>
          }
        </select>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span6">
        <label> Name <em>*</em></label>
        <input type="text" id="hotelName" placeholder="Hotel Name" name="inHotelName" class="required input-block-level" @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.HOTEL && m.bookingDetail.providerName !=null){value="@m.bookingDetail.providerName"}>
        <input type="hidden" id="hotelProviderId"  name="inHotelProviderId" @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.HOTEL && m.bookingDetail.poiMain !=null){value="@m.bookingDetail.poiMain.getId()"}>
      </div>
      <div class="span2 input-append bootstrap-timepicker">
        <label>Check-in Time</label>
        <span class="add-on"><i class="fa fa-clock-o"></i></span>
        <input id="hotelStartTime" type="text" class="input-small" name="inStartTime" readonly
               @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.HOTEL &&
               m.bookingDetail.startTime != null && m.bookingDetail.startTime.length > 0) {
        value="@m.bookingDetail.startTime"
        } else {value="3:00 PM" }>
      </div>
      <div class="span2 input-append bootstrap-timepicker">
        <label>Check-out Time</label>
        <span class="add-on"><i class="fa fa-clock-o"></i></span>
        <input id="hotelEndTime" type="text" class="input-small" name="inEndTime" readonly
               @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.HOTEL &&
               m.bookingDetail.endTime != null && m.bookingDetail.endTime.length > 0) {
        value="@m.bookingDetail.endTime"}  else {value="12:00 PM" }>>
      </div>
    </div>



    <br/>

    <div class="row-fluid">
      <div class="span12">
        <label> Note</label>

      <textarea id="hotelNote" class="field span12" rows="5" name="inHotelNote">@if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.HOTEL && m.bookingDetail.comments !=null){@m.bookingDetail.origComments}</textarea>

    </div>
  </div>

  <div class="row-fluid">
  @if(m.bookingDetail != null && m.bookingDetail.detailsTypeId.getRootLevelType == ReservationType.HOTEL){
    <div class="span8">

    </div>
    <div class="span4">
      <table style="float: right">
        <tr>
          <td>
            <a   role="button" class="btn btn-info btn-large"
            onclick="javascript:getPage('@controllers.routes.TemplateController.bookings(m.templateId, new TabType.Bound(TabType.HOTELS), null, false)');">Cancel
            </a>
          </td>
          <td>
            <a href="#" role="button" class="btn btn-danger btn-large" onclick="javascript:confirmDelete('@m.bookingDetail.detailsId', 'Hotel: @Html(escapeEcmaScript(m.bookingDetail.providerName)) ');">Delete</a>
          </td>
          <td>
            <button type="submit" class="btn btn-success btn-large"
            onclick="javascript:postForm('@routes.TemplateController.newHotel()','hotelBookingForm');return false;">Save
            </button>
          </td>
        </tr>
      </table>
    </div>
  } else {
    <div class="span10">
    </div>

    <div class="span2">
      <button type="submit" class="btn btn-success btn-large pull-right"
      onclick="javascript:postForm('@routes.TemplateController.newHotel()','hotelBookingForm');return false;">Save
      </button>
    </div>
  }

  </div>
</form>

<div id="hotel-booking" class="">
  <div class="subTitle"> Accommodations Bookings</div>
  @if(m.hotels.size() == 0) {
    <h2 style="text-align: center"> No Accommodations Added</h2>
  }

  @for(p <- m.hotels) {
      <div class="bookingBox">
        <table style="width: 100%;">
          <tr style="width: 100%;">

            <td style="width:25px;vertical-align: top;padding-top:5px;">
              <div style="margin-top: 10px;margin-left: 2px;margin-right: 2px;text-align: right">
                <img src="http://static-umapped-com.s3.amazonaws.com/public/img/hotel-gray.png" >
              </div>
            </td>
            <td style=";vertical-align: top;padding-top:5px;">
              <div>
                <table style="margin-left: 0px;width: 100%;margin-top: 8px;">
                  <tr>
                    <td style="width: 100%;vertical-align: top;">
                      <table style="margin-left: 0px;width: 100%;margin-top: 0px;">
                        <tr>
                          <td colspan="9" style="padding-bottom: 20px;vertical-align: top;">
                            @views.html.template.templateScheduleBtns(ReservationType.HOTEL, TabType.HOTELS, m, p)
                          </td>
                        </tr>
                        <tr style="font-size: 11px;color: #818181;font-weight: 700">
                          <td style="padding-bottom: 10px;width: 250px;vertical-align: text-top;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">ACCOMMODATIONS</div></td>
                          <td style="width:15px;border-top: none;"></td>
                          <td style="width: 150px ; padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">CHECK-IN-TIME</div></td>
                          <td style="width:15px"></td>
                          <td style="width: 150px ; padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">CHECK-OUT-TIME</div></td>
                          <td style="width:15px"></td>
                          <td style="padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">DETAILS</div></td>
                        </tr>

                        <tr style="font-size: 13px;color: #000000;line-height: 16px">
                          <td style="width:250px ; padding-bottom: 20px;;vertical-align: text-top">
                            @if(p.providerName != null && p.providerName.trim.length > 0) {
                              <span style="font-weight: 700">@p.providerName</span> <br/>
                            }
                            @if(EnhancedTripBookingDetailView.parseHotel(p).providerAddr1 != null && EnhancedTripBookingDetailView.parseHotel(p).providerAddr1.length > 0) {
                            @Html(EnhancedTripBookingDetailView.parseHotel(p).providerAddr1) <br>
                            }
                            @if(EnhancedTripBookingDetailView.parseHotel(p).providerAddr2 != null && EnhancedTripBookingDetailView.parseHotel(p).providerAddr2.length > 0) {
                            @Html(EnhancedTripBookingDetailView.parseHotel(p).providerAddr2) <br/>
                            }


                            @if(EnhancedTripBookingDetailView.parseHotel(p).providerPhone != null && EnhancedTripBookingDetailView.parseHotel(p).providerPhone.length > 0) {
                            Phone: @Html(EnhancedTripBookingDetailView.parseHotel(p).providerPhone) <br/>
                            }
                            @if(EnhancedTripBookingDetailView.parseHotel(p).providerWeb != null && EnhancedTripBookingDetailView.parseHotel(p).providerWeb.length > 0) {
                            Web: @Html(EnhancedTripBookingDetailView.parseHotel(p).providerWeb) <br/>
                            }
                          </td>
                          <td style="width:15px"></td>
                          <td style="width:150px ; padding-bottom: 20px;vertical-align: top;">
                            <div style="font-size: 18px;padding-bottom:12px">
                              @if(p.startTime != null && p.startTime.trim.length > 0) {
                                @p.startTime
                              } else {
                                3:00 PM
                              }
                            </div>
                          </td>
                          <td style="width:15px"></td>
                          <td style="width:150px ; padding-bottom: 20px;vertical-align: top;">
                            <div style="font-size: 18px;padding-bottom:12px">
                              @if(p.endTime != null && p.endTime.trim.length > 0) {
                                @p.endTime
                              } else {
                                12:00 PM
                              }
                              </div>
                          </td>
                          <td style="width:15px"></td>
                          <td style="padding-bottom: 20px;vertical-align: text-top;">
                            <div >
                              <table style="margin-left: 0px;margin-top: 0px;vertical-align: text-top;">
                                @if(EnhancedTripBookingDetailView.parseHotel(p).comments != null && EnhancedTripBookingDetailView.parseHotel(p).comments.trim.length > 0) {
                                  <tr style="page-break-inside: avoid">
                                    <td style="vertical-align: text-top;color: #787878;font-size:13px;line-height:15px;;padding-bottom: 10px">
                                      @Html(EnhancedTripBookingDetailView.parseHotel(p).comments)
                                    </td>
                                  </tr>
                                }
                                <tr style="width: 100%;vertical-align: text-top;color: #787878;font-size:13px;line-height:15px;padding-bottom: 10px">
                                  @if(p.dayOffset >= 0) {
                                    Starts: Day @(p.dayOffset + 1)
                                    <br/>
                                  }
                                  @if(p.duration >= 0) {
                                    @if(p.duration == 0) {
                                      Duration: Same Day
                                    } else {
                                      @if(p.duration == 1){
                                        Duration: @p.duration Day
                                      } else {
                                        Duration: @p.duration Days
                                      }
                                    }
                                    <br/>
                                  }
                                </tr>
                              </table>
                            </div>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <br>
    }
  </div>

</div>
