@(bookingType: com.umapped.persistence.enums.ReservationType , tab: com.mapped.publisher.view.TabType, m: com.mapped.publisher.view.TemplateBookingView, p: com.mapped.publisher.view.TripBookingDetailView)

@import com.mapped.publisher.view.TabType
@import com.mapped.publisher.common.SecurityMgr.AccessLevel
@import com.mapped.publisher.view.ViewUtils
@import com.umapped.persistence.enums.ReservationType
@import com.umapped.persistence.enums.ReservationType

<div class="" style="width:100%;">
  <div class="span6">
    @tab match {
    case TabType.FLIGHTS => {
      <span style="font-size: 18px ;font-weight: 700">Flight to: </span>
      <span style="font-size: 18px;font-weight: 400">@p.arrivalAirportCode @p.arrivalAirport</span>
    }
    case TabType.HOTELS => {
      <span style="font-size: 18px ;font-weight: 700">Check-In </span>
    }
    case TabType.CRUISES => {
      <span style="font-size: 18px ;font-weight: 700">Cruise </span>
    }
    case TabType.TRANSPORTS => {
        <span style="font-size: 18px ;font-weight: 700">
        @if(p.detailsTypeId == ReservationType.CAR_RENTAL) {
           Car Rental Pickup


        } else {
          @if(p.detailsTypeId == ReservationType.TAXI) {
            Taxi
          } else {
            @if(p.detailsTypeId == ReservationType.PRIVATE_TRANSFER) {
              Transfer
            } else {
              @if(p.detailsTypeId == ReservationType.RAIL) {
                Train
              } else {
                @if(p.detailsTypeId == ReservationType.PUBLIC_TRANSPORT || p.detailsTypeId == ReservationType.BUS) {
                  Bus
                } else {
                  @if(p.detailsTypeId == ReservationType.CAR_DROPOFF) {
                  Car Rental DropOff
                } else {
                    Transfer
                  }
                }
              }
            }
          }
        }
        </span>
    }
    case TabType.ACTIVITIES => {
        <span style="font-size: 18px ;font-weight: 700">
        @if(p.detailsTypeId == ReservationType.CRUISE_STOP) {
          Cruise Stop
        } else {
          @if(p.detailsTypeId == ReservationType.SHORE_EXCURSION) {
            Shore Excursion
          } else {
            @if(p.detailsTypeId == ReservationType.TOUR) {
              Tour
            } else {
              @if(p.detailsTypeId == ReservationType.RESTAURANT) {
                Restaurant Reservation
              } else {
                @if(p.detailsTypeId == ReservationType.EVENT) {
                  Event
                } else {
                  Activity
                }
              }
            }
          }
        }
        </span>
    }
    case _ => {}
    }
  </div>
  <div>
    <div style="float: right">
      @if(!p.createdById.equals(m.loggedInUserId)) {
        <span class="booking_owner">
          Added by: @p.createdById
        </span>
      }
      @views.html.template.templateViewPhotosButton(p, "btn btn-primary input-block-level")
      <!--if(m.accessLevel.ge(AccessLevel.OWNER) || (m.accessLevel.ge(AccessLevel.APPEND) && p.createdById.equals(m.loggedInUserId))) {-->

        <a href="#" onclick="javascript:bkConfirmDelete('@p.detailsId', '@escapeEcmaScript(p.name)');" style="padding-left: 10px;padding-right: 10px" data-toggle="Delete @p.name " title="Delete @p.name">
          <i class="fa fa-trash"  style="font-size: 26px; color: #666666"></i>
        </a>
        <a href="#" onclick="javascript:getPage('@controllers.routes.TemplateController.bookings(m.templateId, new TabType.Bound(TabType.HOTELS), p.detailsId, false)')" style="padding-left: 10px;padding-right: 10px" data-toggle="Edit @p.name " title="Edit @p.name">
          <i class="fa fa-pencil"  style="font-size: 26px; color: #666666"></i>
        </a>
      <!--}-->
    </div>
  </div>
</div>
