@(m:  com.mapped.publisher.view.TemplateSearchView)
@import com.mapped.publisher.view.TabType

@if(m.message!=null && m.message.length > 0) {
<--alertMsg-->
<div id="alertMsg">
    <h4> @m.message</h4>
</div>
<--endAlertMsg-->
}

<--pageTitle-->
<div id="pageTitle">
<script>
    $(function () {
    $('#myTab a:first').tab('show');
    })
</script>
<h1 class="page-title">Trip Templates <a  href="javascript:showHelpCurrentPage();"> <img src="@m.imgUrl/img/u_btn_info.png?v20170405"> </a> </h1>
</div>
<--endPageTitle-->

<--pageHeader-->
<div id="pageHeader">
</div>
<--endPageHeader-->

<--pageBody-->
<div id="pageBody">
    <script>
        //update recently updated trip menu - keep limit to 10
        @if(m != null && m.searchTerm !=null && m.searchTerm.length > 0) {
        $(function () {
            addRecentHistory('RecentTripTemplateSearches','@m.searchTerm','@m.searchTerm',"javascript:doPost('@routes.TemplateController.templates()?inSearchTerm=@m.searchTerm&inCmpyId=@m.cmpyId');");
        });
        }

    </script>

    <div class="">
        <legend>
            <div style="font-family:'Open Sans Condensed',sans-serif;">Search Templates</div>
        </legend>
        <form id="templateSearchForm">
            <div class="row-fluid">
                <div class="span4">
                    <Label> Keyword <em>*</em></Label>
                    <input type="text" placeholder="Enter search keyword" id="searchTerm" name="inSearchTerm" class="required input-block-level"
                    @if(m.searchTerm != null && m.searchTerm.length() > 0) {
                    value="@m.searchTerm"
                    }
                    >
                </div>
                <div class="span6">
                    <label> Company</label>
                    @if(m != null && m.tripAgencyList != null && m.tripAgencyList.size() > 1) {
                    <select name="inCmpyId">

                        @for((key, value) <- m.tripAgencyList) {
                        @if(key == m.cmpyId) {
                        <option selected="Y" value=@key>@value</option>
                        } else {
                        <option value=@key>@value</option>
                        }
                        }
                    </select>
                    } else {
                        <input type="hidden" name="inCmpyId" value="@m.cmpyId">
                        @m.tripAgencyList.values().toArray()
                    }
                </div>
                <div class="span2">
                    <label>&nbsp;</label>
                    <button type="submit" class="btn btn-info btn-large pull-right "
                    onclick="javascript:postForm('@routes.TemplateController.templates()', 'templateSearchForm');return false;">Search
                    </button>
                </div>
            </div>


        </form>
    </div>
    <br>


    <div class="tabbable">
            <div id="searchMsg" class="subTitle">@if(m.searchTerm == null || m.searchTerm.length == 0){RECENTLY UPDATED} else {SEARCH RESULTS: @m.searchTerm}</div>
    <ul class="nav nav-tabs" id="myTab">
        @if(m.myTemplates != null && m.myTemplates.size() > 0) {
            <li class="active"><a href="#myTemplates" data-toggle="tab"><i class="fa fa-user pull-left"></i> &nbsp;My Templates (@m.myTemplates.size())</a></li>
        }
        @if(m.publicTemplates != null && m.publicTemplates.size() > 0) {
            @if(m.myTemplates != null && m.myTemplates.size() > 0) {
                <li><a href="#publicTemplates" data-toggle="tab"><i class="fa fa-users pull-left"></i> &nbsp;Public Templates (@m.publicTemplates.size())</a></li>
            } else {
                <li class="active"><a href="#publicTemplates" data-toggle="tab"><i class="fa fa-users pull-left"></i> &nbsp;Public Templates (@m.publicTemplates.size())</a></li>
            }
        }


    </ul>

    <div class="tab-content">






    @if(m.myTemplates != null && m.myTemplates.size() > 0) {

    <div class="tab-pane @if(m.myTemplates != null && m.myTemplates.size() > 0) {active} else {fade}" id="myTemplates">
        <table class="table">
            <thead>
            <tr>
                <th style="width: 30%">Name</th>
                <th style="width: @if(m != null && m.tripAgencyList != null && m.tripAgencyList.size() > 1) {35%} else {65%}">Note</th>
                @if(m != null && m.tripAgencyList != null && m.tripAgencyList.size() > 1) {
                    <th style="width: 30%">Company</th>
                }
                <th style="width: 5%"></th>
            </tr>
            </thead>
            <tbody>

            @for(p <- m.myTemplates){

            <tr>
                <td style="width: 30%">
                    @if(p.canEdit) {
                    <a onclick="javascript:getPage('@controllers.routes.TemplateController.template(p.templateId)')"> <h5>@p.templateName </h5> </a>
                    } else {
                    <a onclick="javascript:getPage('@controllers.routes.TemplateController.template(p.templateId)')"> <h5>@p.templateName </h5> </a>
                    }


                </td>
                <td style="width: @if(m != null && m.tripAgencyList != null && m.tripAgencyList.size() > 1) {35%} else {65%}">
                    @p.templateNote
                </td>
                @if(m != null && m.tripAgencyList != null && m.tripAgencyList.size() > 1) {
                    <td style="width: 30%">
                    @p.tripAgency
                    </td>
                }

                <td style="width: 5%">
                    @if(p.canEdit) {
                        <button class="btn btn-info pull-right" onclick="javascript:getPage('@controllers.routes.TemplateController.template(p.templateId)')"> Edit </button>
                    } else {
                        <button class="btn btn-info pull-right" onclick="javascript:getPage('@controllers.routes.TemplateController.template(p.templateId)')"> View </button>
                    }
                </td>
            </tr>
            }


            </tbody>
        </table>
    </div>
    }

    @if(m.publicTemplates != null && m.publicTemplates.size() > 0) {

        <div class="tab-pane @if(m.publicTemplates != null && m.publicTemplates.size() > 0 && (m.myTemplates == null || m.myTemplates.size() == 0)){active} else {fade}" id="publicTemplates">
            <table class="table">
                <thead>
                <tr>
                    <th style="30%">Name</th>
                    <th style="30%">Note</th>
                    @if(m != null && m.tripAgencyList != null && m.tripAgencyList.size() > 1) {
                        <th style="25 %">Company</th>
                    }
                    <th style="10%">Owner</th>
                    <th style="5%"></th>
                </tr>
                </thead>
                <tbody>

                @for(p <- m.publicTemplates){

                <tr>
                    <td style="30%">
                        <h4>@p.templateName </h4>
                    </td>
                    <td style="30%">
                        @p.templateNote
                    </td>
                    @if(m != null && m.tripAgencyList != null && m.tripAgencyList.size() > 1) {
                        <td style="25 %">
                        @p.tripAgency
                        </td>
                    }
                    <td style="10%">
                        @p.userId
                    </td>
                    <td style="5%">
                        @if(p.canEdit) {
                        <button class="btn btn-info pull-right" onclick="javascript:getPage('@controllers.routes.TemplateController.template(p.templateId)')"> Edit </button>
                        } else {
                        <button class="btn btn-info pull-right" onclick="javascript:getModalPage('@controllers.routes.TemplateController.bookings(p.templateId, new TabType.Bound(TabType.ACTIVITIES), null, true)')"> View </button>
                        }
                    </td>
                </tr>
                }


                </tbody>
            </table>
        </div>
        }


        @if((m.myTemplates == null || m.myTemplates.size() == 0) && (m.publicTemplates == null || m.publicTemplates.size() == 0)) {
              <h3> No Templates Found.</h3>
        }


    </div>
    </div>
    <div id="dynamicModal">
    </div>
</div>
<--endPageBody-->
