@(m:  com.mapped.publisher.view.TemplateSearchView)
@import com.mapped.publisher.view.TabType

<div id="searchResultsTable"  >
    <h3 class="page-title">@m.message</h3>
        @if((m.myTemplates == null || m.myTemplates.size() == 0) && (m.publicTemplates == null || m.publicTemplates.size() == 0)) {
            <h3> No Templates Found.</h3>
        } else {

        <table class="table">
            <thead>
            <tr>
                <th style="30%">NAME</th>
                <th style="35%">NOTE</th>
                <th style="30%">CREATED BY</th>
                <th style="5%"></th>
            </tr>
            </thead>
            <tbody>

            @for(p <- m.myTemplates){
            <tr>
                <td style="30%">
                    <h5>@p.templateName </h5>
                </td>
                <td style="35%">
                    @p.templateNote
                </td>
                <td style="10%">
                    @p.userId
                </td>
                <td style="5%">
                    <button class="btn btn-info pull-right" onclick="javascript:getModalPage('@controllers.routes.TemplateController.bookings(p.templateId, new TabType.Bound(TabType.FLIGHTS), null, true)&inTripId=@m.tripId')">View</button>
                </td>
            </tr>
            }

            @for(p <- m.publicTemplates){

            <tr>
                <td>
                    <h4>@p.templateName </h4>
                </td>
                <td>
                    @p.templateNote
                </td>
                <td>
                    @p.userId
                </td>

                <td>
                    <button class="btn btn-info pull-right" onclick="javascript:getModalPage('@controllers.routes.TemplateController.bookings(p.templateId, new TabType.Bound(TabType.FLIGHTS), null, true)&inTripId=@m.tripId')">View</button>
                </td>
            </tr>
            }

            </tbody>
        </table>
        }

</div>
