@(templateId: String, imgUrl: String, wizardId: Int)
@import com.mapped.publisher.view.TabType

<div id="tripWizard" >
  <div class="navbar" style="margin-left: -10px" >
    <script type="application/javascript">
      @if(wizardId == 1) {
        $ ( "#tripWizard@{wizardId}" ).addClass(" stepactiveFirst ");
      } else {
        @if(wizardId == 4) {
          $("#tripWizard@{wizardId}").addClass(" stepactiveLast ");
        } else {
          $("#tripWizard@{wizardId}").addClass(" stepactive ");
        }
      }

      function confirmExit ( url ) {
        @if(templateId != null && templateId.length() > 0) {
          if ( $ ( ".currentWizardForm" ).data ( 'changed' ) ) {
            if ( confirm ( "Please click Save or your changes will be lost! Continue?" ) ) {
              getPage (url) ;
            }
          } else {
            getPage (url) ;
          }
        }
      }
      @* Removing links in case wizard is being rendered for the new trip *@
      @if(templateId == null) {
        $(".tripWizardLink").prop("onclick", null);
        $("span.tripWizardLink" ).addClass("muted");
      }
    </script>

    <div class="navbar-inner" >
      <ul class="nav">
        <li id="tripWizard1" class="first-step"><a class="tripWizardLink" @if(templateId!=null){onclick="confirmExit('@controllers.routes.TemplateController.template(templateId)');"}><span class="tripWizardLink tripWizardTitle">1. Information</span></a></li>
        <li id="tripWizard2" class="next-step"><a class="tripWizardLink" @if(templateId!=null){onclick="confirmExit('@controllers.routes.TemplateController.bookings(templateId, new TabType.Bound(TabType.FLIGHTS), null, false)');"}><span class="tripWizardLink tripWizardTitle">2. Bookings</span></a></li>
        <!-- <li id="tripWizard3" class="next-step"><a class="tripWizardLink" @if(templateId!=null){onclick="confirmExit('@controllers.routes.TemplateController.guides(templateId)');"}><span class="tripWizardLink tripWizardTitle">3. Documents</span></a></li> -->
        <li id="tripWizard4" class="last-step"><a class="tripWizardLink" @if(templateId!=null){onclick="confirmExit('@controllers.routes.TemplateController.preview(templateId)');"}><span class="tripWizardLink tripWizardTitleLast">3. Preview</span></a></li>
      </ul>
      <a href="javascript:showHelpCurrentPage()" style="float:right">  <img src="@imgUrl/img/u_btn_info.png?v20170405"></a>
    </div>
  </div>
  <hr>
</div>
