@(m:  com.mapped.publisher.view.TourSearchView)

<div id="tourSearchResultsTable" style="overflow: auto; ">
  <script>
  $(function(){
    javascript:$('#tourSearchSpinner').hide();
  });
  </script>
  @if(m.message != null && m.message.trim.length > 0) {
    <h3 class="alert">@m.message</h3>
  }
  <div class="accordion" id="accordion2">
  @if(m.tours != null) {
    @if(m.tours.size() > 0) {
      <h3>Found @m.tours.size() tours</h3>
    }
    @for(p <- m.tours) {
      <div class="accordion-group">
        <div class="accordion-heading" style="">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#accordion_@p.templateId">
            <div class="row-fluid">
              <div class="span10">@p.templateName</div>
              <div class="span2 pull-right">
                <button class="btn btn-info" > Details</button> &nbsp;
              </div>
            </div>
          </a>
        </div>
        <div id="accordion_@p.templateId" class="accordion-body collapse">
          <div class="accordion-inner">
            <div style="text-align: left;padding:10px">
              <button  class="btn btn-primary btn-large" onclick="javascript:importTour('@m.tripId', '@p.templateId', '@m.srcId');return false;">Import @p.templateName</button>
              @if(m.brandUrl && m.brand) {
                <a class="btn btn-success btn-large" href="@m.brandUrl" target="_blank" >
                  Contact @m.brand</a>
              }
            </div>
            @if(p.coverUrl != null){<img src="@p.coverUrl" style="float:left;padding: 10px">}
            @if(p.comments != null) {
              @Html(p.comments.replaceAll("\n","<br>"))
            }
            @if(p.activities != null && !p.activities.isEmpty) {
              @for(v <- p.activities) {
                <br/> <br/>
                @v.comments
              }
            }
          </div>
        </div>
      </div>
    }
  }
  </div>
</div>
