@(m: com.mapped.publisher.view.BaseView, tripId: String, srcId: Integer, imgName: String, startDate: String, season: String)
@import org.apache.commons.lang3.StringEscapeUtils.escapeEcmaScript
@import com.mapped.publisher.persistence.FeedSourcesInfo

  <!-- Feed Search -->
<script>
  function searchTour() {
    if($("#searchTourForm").valid()) {
    $('#tourSearchSpinner').show();
      doSearchForm('template/tourSearch','searchTourForm','tourSearchResults');
    }
    return false;
  }

  $(function() {
    $('#tourErrorAlertBox').hide();
    $("#tourShipForm").validate();
  });

  $( "#startDate" ).datepicker({
    minDate : new Date ('@escapeEcmaScript(startDate)'),
    defaultDate: "+1w",
    changeMonth: true,
    numberOfMonths: 2
  });

  function importTour(tripId, tmpltId, srcId) {
    $("#inTripId" ).val(tripId);
    $("#inTemplateId" ).val(tmpltId);
    $("#importModal" ).modal('show');
    $("#tmpltSrcId").val(srcId);
  }

  function closeModal() {
    closeImportModal();
    $('#dynamicModalBody').modal('hide');
    return false;
  }

  function closeImportModal() {
    $('#importModal').modal('hide');
    return false;
  }
</script>

<div id="dynamicModalBody" class="modal container hide fade documentModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Search @FeedSourcesInfo.byId(srcId)</h3>
  </div>
  <div class="modal-body">
    <div class="alert fade in" id="tourErrorAlertBox" style="padding-bottom: 10px">
      <button type="button" class="close">×</button>
    </div>
    <form id="searchTourForm">
      <input type="hidden" id="inSrcId" name="inSrcId" value="@srcId">

      <div class="row-fluid">
        <div class="span8">
          <label>Keyword <em>*</em></label>
          <input type="text" id="searchTourName" placeholder="Tour Name, Country, etc" name="inKeyword" class="required input-block-level">
          <input type="hidden" id="tripId" name="inTripId" value="@tripId">
          @if(season != null){
          <input type="hidden" id="season" name="inSeason" value="@season">
          }
        </div>
        <div class="span2" style="margin-top: 20px;">
          <button class="btn btn-info " onclick="javascript:searchTour();return false;" id="searchTourBtn">Search</button>
        </div>
        <div class="span2">
          <img src="@{m.imgUrl}/img/suppliers/@imgName" style="">
        </div>
      </div>
    </form>

    <div id="tourSearchResults">
      <div id="tourSearchResultsTable">
      </div>
      <div id="tourSearchSpinner" class="spinner" style="display:none; background: rgba(255,255,255,.7) url('@{m.imgUrl}/img/ajax-loader-white-1.gif') center center no-repeat;width:100%;height:100%;position: absolute; top: 0px; left: 0px;z-index:100;min-height:200px    ">
      </div>
    </div>
  </div>
  <div class="modal-footer">
  </div>
</div>

<div id="importModal" class="modal container hide fade documentModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Import @FeedSourcesInfo.byId(srcId)</h3>
  </div>
  <div class="modal-body">
    <legend> Please select the start date for this booking </legend>
    <form id="tourImportForm">
      <input type="hidden" id="inTripId" name="inTripId"/>
      <input type="hidden" id="inTemplateId" name="inTemplateId">
      <input type="hidden" id="tmpltSrcId" name="inSrcId">
      <div class="row-fluid">
        <div class="offset4 span2">
          <label> Start Date</label>
          <div class="input-append date" id="startDate1" >
            <span class="add-on"><i class="fa fa-calendar"></i></span>
            <input type="text"  id="startDate" name="inStartDate" readonly class="input-small required">
          </div>
        </div>
        <div class="span2 pull-left">
          <label>&nbsp;</label>
          <button id="importTourBtn" class="btn btn-primary btn-large"
           onclick="javascript:postForm('@routes.BookingController.importTourTmpt()', 'tourImportForm');if($('#startDate').val() != ''){closeModal();}return false;"> Import Tour</button>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
  </div>
</div>
