@(m:  com.mapped.publisher.view.InsuranceNoteView, tripDetails: List[com.mapped.publisher.view.TripBookingDetailView], tripDetailId: String, tabType: com.mapped.publisher.view.TabType.Bound))
@import com.mapped.publisher.view.TabType;
@import org.apache.commons.lang3.StringEscapeUtils.escapeEcmaScript
@import com.mapped.publisher.common.SecurityMgr.AccessLevel
@import models.publisher.ImageLibrary.ImgSrc
@import com.umapped.persistence.enums.ReservationType


@if(m.message!=null && m.message.length > 0) {
<--alertMsg-->
<div id="alertMsg">
    <h4> @m.message</h4>
</div>
<--endAlertMsg-->

}

<--pageTitle-->
<div id="pageTitle">

</div>
<--endPageTitle-->

<--pageHeader-->
<div id="pageHeader">
    <h3> TRIP: @m.tripName </h3>
</div>
<--endPageHeader-->

<--pageBody-->
<div id="pageBody">

    <script>

      $( document ).ready(function() {
          $("#destinationGuideForm :input").change(function() {
          $("#destinationGuideForm").data('changed', true);
          });
          updatePassengers();
      });

      $("#tripNoteDate").datepicker({
        @if(m.startDate != null && m.startDate.length > 0){
        defaultDate : new Date ('@escapeEcmaScript(m.startDate)' ),
      } else {
        defaultDate : new Date ('@escapeEcmaScript(m.tripStartDatePrint)' ),
      }
      changeMonth: true,
      numberOfMonths: 2
      });


      $('#inTripNoteTime').on('click', function (e) {
      $('#inTripNoteTime').timepicker('showWidget');
      });

      $('#inTripNoteDate1').on('click', function (e) {
      $('#tripNoteDate').datepicker('show');
      });

      function resetDate() {
      $('#tripNoteDate').val('');
      }

      function resetTime() {
      $('#inTripNoteTime').val('');
      }

      $(function() {
        CKEDITOR.replace('inImportantInfo');
        CKEDITOR.replace('inPolicyDesc');


        for (var i in CKEDITOR.instances ) {
          CKEDITOR.instances[i].on ( 'change', function (){$("#destinationGuideForm").data ('changed',true); } ) ;
        }
      });

      function confirmExit(url) {
        if ($('#destinationGuideForm').data ('changed') ) {
            if (confirm("Please click Save or your changes will be lost! Discard Changes?")) {
              getPage (url);
            }
        } else {
            getPage (url);
        }
      }

      function addPassenger(ele) {
           var newPassenger = $("#passengerTemplate").clone();
           newPassenger.removeClass("hide");
           newPassenger.removeAttr("id");
           var anchor = ele;
           if (anchor.length == 0) {
             anchor = $("#passengers-head-div");
           }
           newPassenger.insertAfter(anchor);
           updatePassengers()
           return newPassenger;
      }

      function deletePassenger(passenger) {
          passenger.remove();
          updatePassengers();
      }

      function updatePassengers() {
         $("div#passengers div.passenger").each(function(index){
             $(this).find($("span.passenger-title")).text("Traveler " + (index+1));
             $(this).find($("input.firstName")).attr("name", "passengers[" + index + "].firstName");
             $(this).find($("input.lastName")).attr("name", "passengers[" + index + "].lastName");
             $(this).find($("input.startDate")).attr("id", "inStartDate_" + index);
             $(this).find($("input.endDate")).attr("id", "inEndDate_" + index);
             $(this).find($("input.startDate")).attr("name", "passengers[" + index + "].startDate");
             $(this).find($("input.endDate")).attr("name", "passengers[" + index + "].endDate");
             $(this).find($("span.inTripNoteDate")).attr("id", "inTripNoteDate_" + index);
             $(this).find($("span.inTripNoteDate2")).attr("id", "inTripNoteDate2_" + index);

             $('#inStartDate_' + index).datepicker({
                useCurrent : true,
                changeMonth: true,
                numberOfMonths: 2
             });

             $('#inEndDate_' + index).datepicker({
                useCurrent : true,
                changeMonth: true,
                numberOfMonths: 2
             });

             $('#inTripNoteDate_' + index).on('click', function (e) {
                $('#inStartDate_' + index).datepicker('show');
             });

             $('#inTripNoteDate2_' + index).on('click', function (e) {
                $('#inEndDate_' + index).datepicker('show');
             });

             function resetStartDate() {
                $('#inStartDate_' + index).val('');
             }

             function resetEndDate() {
                $('#inEndDate_' + index).val('');
             }
         });
      }

    </script>


    <div class="" >

        @if(m.noteId != null && m.noteId > 0) {
        <div class="subTitle" id="bkAreaTitleTransport">Edit Insurance</div>
        } else {
        <div class="subTitle" id="bkAreaTitleTransport">Add Insurance</div>
        }

        <form id="destinationGuideForm">

            <input type="hidden" id="inTripNoteId" name="inTripNoteId" @if(m.noteId != null){value="@m.noteId"}>
            <input type="hidden" id="inTripId" name="inTripId" @if(m.tripId){value="@m.tripId"}>
            <input type="hidden" id="inNoteType" name="inNoteType" @if(m.noteType != null){value="@m.noteType.name()"}>


            <div class="tabbable"> <!-- Only required for left/right tabs -->

                <div class="tab-content">
                    <div class="tab-pane active" id="mainTab">

                        <div class="" style="margin-top:10px">
                            <div class="row-fluid" style="padding-top: 20px;">
                                <div class="span3">
                                    <label style="font-size: 16px">Provider <em>*</em> </label>
                                    <input type="text"  name="inProvider" class="input-block-level" @if(m.provider != null){value="@m.provider"}>
                                </div>
                                <div class="span3">
                                    <label style="font-size: 16px">Policy # <em>*</em> </label>
                                    <input type="text" name="inPolicyNum" class="input-block-level" @if(m.policyNum != null){value="@m.policyNum"}>
                                </div>
                                <div class="span3">
                                    <label style="font-size: 16px">Policy Type </label>
                                    <input type="text" name="inPolicyType" class="input-block-level" @if(m.policyType != null){value="@m.policyType"}>
                                </div>
                                <div class="span3">
                                    <label style="font-size: 16px">Emergency # </label>
                                    <input type="text" name="inEmergencyNum" class="input-block-level" @if(m.emergencyNum != null){value="@m.emergencyNum"}>
                                </div>
                            </div>
                            <br/>
                            <div class="row-fluid">
                                <div class="span3 ">
                                    <label> Date </label>
                                    <div class="input-append date" id="flightDate1" >
                                        <span class="add-on" id="inTripNoteDate1"><i class="fa fa-calendar"></i></span>
                                        <input type="text" id="tripNoteDate" name="inTripNoteDate" readonly class="input-small" @if(m.startDate != null && m.startDate.length > 0){value="@m.startDate"}>
                                        <btn class="btn" onclick="javascript:resetDate();"> <span class=""><i class="fa fa-times"></i></span></btn>
                                    </div>
                                </div>
                                <div class="span2 input-append bootstrap-timepicker">
                                    <label> Time </label>
                                    <span class="add-on"><i class="fa fa-clock-o"></i></span>
                                    <input id="inTripNoteTime" type="text" class="input-small" name="inTripNoteTime" readonly @if(m.startTime != null && m.startTime.length > 0){value="@m.startTime"}else{value="12:00 AM"}  data-default-time="false;">
                                    <btn class="btn" onclick="javascript:resetTime();"> <span class=""><i class="fa fa-times"></i></span></btn>
                                </div>
                            </div>
                            <br/>
                            <div class="row-fluid">
                                <div class="span6">
                                    <label>Important Information</label>
                                    <textarea id="inImportantInfo" name="inImportantInfo" class="field span9" rows="3">@if(m.importantInfo != null){@m.importantInfo}</textarea>
                                </div>
                                <div class="span6">
                                    <label>Policy Description</label>
                                    <textarea id="inPolicyDesc" name="inPolicyDesc" class="field span9" rows="5">@if(m.policyDesc != null){@m.policyDesc}</textarea>

                                </div>
                            </div>
                            <br/>

                        </div>

                        <br/>
                        <div class="row-fluid">
                            <div class="span6">
                                <label>Link to Booking</label>
                                <select id="inTripDetailsId" name="inTripDetailsId" class="span8">
                                    <option value="" @if(m.linkedTripDetailsId == null || m.linkedTripDetailsId.trim.length == 0){selected}> None</option>
                                    @for(p <- tripDetails){
                                    <option value="@p.detailsId" @if(m.linkedTripDetailsId != null && m.linkedTripDetailsId.equals(p.detailsId) ){selected}>
                                        @if(p.detailsTypeId == ReservationType.CRUISE_STOP) {
                                        Cruise Stop -
                                        } else {
                                        @if(p.detailsTypeId == ReservationType.SHORE_EXCURSION) {
                                        Shore Excursion -
                                        } else {
                                        @if(p.detailsTypeId == ReservationType.TOUR) {
                                        Tour -
                                        } else {
                                        @if(p.detailsTypeId == ReservationType.RESTAURANT) {
                                        Restaurant -
                                        } else {
                                        @if(p.detailsTypeId == ReservationType.EVENT) {
                                        Event -
                                        } else {
                                        @if(p.detailsTypeId == ReservationType.FLIGHT) {
                                        Flight -
                                        } else {
                                        @if(p.detailsTypeId == ReservationType.HOTEL) {
                                        Hotel -
                                        } else {
                                        @if(p.detailsTypeId == ReservationType.CRUISE) {
                                        Cruise -
                                        } else {
                                        @if(p.detailsTypeId == ReservationType.RAIL) {
                                        Rail -
                                        } else {
                                        @if(p.detailsTypeId == ReservationType.TRANSPORT) {
                                        Transfer -
                                        } else {
                                        @if(p.detailsTypeId == ReservationType.CAR_RENTAL) {
                                        Car Rental -
                                        } else {
                                        @if(p.detailsTypeId == ReservationType.ACTIVITY) {
                                        Activity -
                                        } else {
                                        Transfer -
                                        }
                                        }
                                        }
                                        }
                                        }
                                        }
                                        }
                                        }
                                        }
                                        }
                                        }
                                        }


                                        @p.name - @p.startDatePrint
                                    </option>

                                    }
                                </select>
                            </div>
                            <div class="span6">
                                <label>Tag</label>
                                <input type="text" name="inTripNoteTag" id="inDestTag" placeholder="Tags" class="input-block-level" @if(m.tag!=null) {value="@m.tag"}>
                            </div>
                        </div>
                        <br/>

                        <div id="passengers">
                            <div id="passengers-head-div" style="marin:auto; width=100%; margin-left:2px;padding-right:4px; ">
                                <div style="padding-left:0px">
                                    <h3> &nbsp;
                                        <div class="btn-group pull-right" style="margin-right:0px">
                                            <a role="button" class="btn btn-info " onclick="javascript:addPassenger($('#passengers .passenger:last'))">
                                                <i class="fa fa-plus"></i>&nbsp;Add Traveler
                                            </a>
                                        </div>
                                    </h3>
                                </div>
                            </div>
                            @if(m.passengers != null) {
                                @for(i <- 0 until m.passengers.size; p=m.passengers.get(i)) {
                                    <div class="passenger" style="margin-top:10px">
                                        <div style="marin:auto; width=100%; margin-left:2px;padding-right:4px; border-bottom: 1px solid #AFAFAF">
                                            <h3> <span class="passenger-title">Traveler @(i+1)</span>
                                                <div class="pull-right btn-group" style="margin-right:0px">
                                                    <a role="button"  onclick="javascript:deletePassenger($(this).closest('.passenger'))">
                                                        <i class="fa fa-trash"  style="font-size: 26px; color: #666666"></i>
                                                    </a>
                                                </div>
                                            </h3>
                                        </div>
                                        <div class="row-fluid" style="padding-top: 20px;">
                                            <div class="span3">
                                                <label style="font-size: 16px">First Name</label>
                                                <input type="text"  name="passengers[@i].firstName" class="input-block-level firstName" value="@p.getFirstName">
                                            </div>
                                            <div class="span3">
                                                <label style="font-size: 16px">Last Name</label>
                                                <input type="text" name="passengers[@i].lastName" class="input-block-level lastName" value="@p.getLastName">
                                            </div>
                                            <div class="span3">
                                                <label style="font-size: 16px">Start Date</label>
                                                <div class="input-append date" id="flightDate1" >
                                                    <span class="add-on inTripNoteDate" id="inTripNoteDate_@i"><i class="fa fa-calendar"></i></span>
                                                    <input type="text" id="inStartDate_@i" name="passengers[@i].startDate" readonly class="input-small startDate" @if(p.startDate != null && p.startDate.length > 0){value="@p.startDate"}>
                                                    <btn class="btn" onclick="javascript:resetStartDate();"> <span class=""><i class="fa fa-times"></i></span></btn>
                                                </div>
                                            </div>
                                            <div class="span3">
                                                <label>End Date </label>
                                                <div class="input-append date" id="flightDate1" >
                                                    <span class="add-on inTripNoteDate2" id="inTripNoteDate2_@i"><i class="fa fa-calendar"></i></span>
                                                    <input type="text" id="inEndDate_@i" name="passengers[@i].endDate" readonly class="input-small endDate" @if(p.endDate != null && p.endDate.length > 0){value="@p.endDate"}>
                                                    <btn class="btn" onclick="javascript:resetEndDate();"> <span class=""><i class="fa fa-times"></i></span></btn>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>

                    <script type="text/javascript">

                    </script>

                    <br/>

                </div>

            </div>


            <br/>
            <div class="row-fluid" style="padding-top : 10px">
                @if(m != null && m.noteId != null && m.tripAttachments != null && m.tripAttachments.size > 0) {
                <div class="span2 pull-left">
                    <a style="padding-right:10px" href="#addFileModal" id="newLinkBtn" data-toggle="modal" class="btn btn-large btn-primary input-block-level"><i class="fa fa-plus"></i>&nbsp;Link Attached File(s)</a>
                </div>
                }


                <div class="@if(m.noteId != null && m.noteId > 0){offset6} else {offset8} span2">
                    <a role="button" class="btn btn-info input-block-level"
                       onclick="javascript:confirmExit('@routes.BookingController.bookings(m.tripId, new TabType.Bound(TabType.ITINERARY))?inScrollTo=@m.noteId');"><i class="fa fa-reply"></i>&nbsp;To Itinerary</a>
                </div>
                <div class="span2">
                    <a type="submit" class="btn btn-success input-block-level"
                       onclick="postRichTextForm( '@controllers.routes.BookingNoteController.createNote(tripDetailId)', ['inImportantInfo', 'inPolicyDesc'], 'destinationGuideForm'); return false ;">
                        Save </a>
                </div>

            </div>

        </form>




    </div>

    @if(m.files != null && m.files.size() > 0) {
    <div style="margin-top:40px;" class="row-fluid">

        <div class="subTitle">
            LINKED FILES (@m.files.size())
        </div>


        <table class="table table-striped">
            <thead>
            <tr>
                <th style="width:60%">
                    File Name
                </th>
                <th style="width:10%"> Uploaded by</th>

                <th style="width:20%"> Uploaded On</th>

                <th style="width:10%"></th>
            </tr>
            </thead>
            <tbody id="sortAttachDiv">
            @for(p <- m.files) {
            <tr id="@p.id">
                <td>
                    <a href="@p.attachUrl" target="_blank">
                        @if(p.attachType == "application/msword"){
                        <img src="https://s3.amazonaws.com/static-umapped-com/public/img/word_icon.png" width="48px">
                        } else {
                        @if(p.attachType == "application/pdf"){
                        <img src="https://s3.amazonaws.com/static-umapped-com/public/img/pdf_icon.png" width="48px">
                        } else {
                        <img src="https://s3.amazonaws.com/static-umapped-com/public/img/spacer.gif" width="48px">
                        }
                        }
                        @p.attachName
                    </a>
                </td>
                <td> @p.createdById</td>
                <td> @p.lastUpdateTimestampPrint</td>
                @if(m.accessLevel.ge(AccessLevel.OWNER) || (m.accessLevel.ge(AccessLevel.APPEND) && m.createdById.equals(m.loggedInUserId))) {
                <td >
                    <a style="text-align: center" href="#deleteFileModal_@p.id" data-toggle="modal" class="btn btn-danger btn-small">
                        Delete</a>
                </td>
                }
            </tr>

            }
            </tbody>
        </table>
    </div>
    }

    @if(m.files != null && m.files.size() > 0) {
    @for(p <- m.files) {
    <script>
      $('#deleteDeleteFileSubmit_@p.id').click(function() {
      $('#deleteFileModal_@p.id').modal('hide');
      });
      </script>

    <div id="deleteFileModal_@p.id" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Confirm Delete</h3>
        </div>
        <div class="modal-body">
            <p>Delete this File?</p>
        </div>
        <div class="modal-footer">
            <form id="deleteFileForm_@p.id">
                <input type="hidden" id="inTripId" name="inTripId" value="@m.tripId">
                <input type="hidden" id="inTripNoteId" name="inTripNoteId" value="@m.noteId">
                <input type="hidden" id="inTripNoteUrlId" name="inTripNoteUrlId" value="@p.id">
                <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
                <button type="submit" class="btn btn-info " id="deleteDeleteFileSubmit_@p.id" onclick="javascript:postForm('@controllers.routes.BookingNoteController.deleteLink(m.tripId, m.noteId, p.attachId)', 'deleteFileForm_@p.id');return false;">Delete</button>
            </form>
        </div>
    </div>
    }
    }




    @if(m.noteId != null && m.noteId > 0 && m.tripId != null) {
        <script>
            $('#addFileSubmit').click(function() {
            $('#addFileModal').modal('hide');
            });

            $('#inFiles').multiSelect({
            selectableHeader: "<div class='custom-header'><h5>Available Files</h5></div>",
            selectionHeader: "<div class='custom-header'><h5>Selected Files</h5></div>",

            });
            $('#inFilesAdd').multiSelect({
            selectableHeader: "<div class='custom-header'><h5>Available Files</h5></div>",
            selectionHeader: "<div class='custom-header'><h5>Selected Files</h5></div>",

            });
        </script>


        <div id="addFileModal" class="modal hide fade">
            <form id="addFileForm">
                <input type="hidden" id="inNoteId" name="inNoteId" value=@m.noteId>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>Link Attached File(s) to Booking</h3>
                </div>
                <div class="modal-body">
                    @if(m.tripAttachments != null && m.tripAttachments.size > 0) {
                    <div class="row-fluid">
                        <div class="span12">
                            <select multiple="multiple" id="inFiles" name="inFiles">
                                @for(p <- m.tripAttachments) {
                                <option style="font-size: 12px; font-weight: 200" value='@p.id'>@p.attachName</option>
                                }
                            </select>
                        </div>
                    </div>
                    }

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
                    <button type="submit" class="btn btn-success "  id="addFileSubmit"
                            onclick="javascript:postForm('/trips/newTrip/newFiles','addFileForm');return false;">Link
                    </button>

                </div>
            </form>
        </div>
    }

    <div id="passengerTemplate" class="passenger hide"  >
        <div style="marin:auto; width=100%; margin-left:2px;padding-right:4px; border-bottom: 1px solid #AFAFAF;margin-bottom:20px">
            <h3><span class="passenger-title">Passenger</span>
                <div class="pull-right btn-group" style="margin-right:0px">
                    <a role="button"  onclick="javascript:deletePassenger($(this).closest('.passenger'))">
                        <i class="fa fa-trash"  style="font-size: 26px; color: #666666"></i>
                    </a>
                </div>
            </h3>
        </div>
        <div class="row-fluid" style="padding-top: 20px;">
            <div class="span3">
                <label style="font-size: 16px">First Name</label>
                <input type="text"  class="input-block-level firstName" value="">
            </div>
            <div class="span3">
                <label style="font-size: 16px">Last Name</label>
                <input type="text" class="input-block-level lastName" value="">
            </div>
            <div class="span3">
                <label style="font-size: 16px">Start Date</label>
                <div class="input-append date" id="flightDate1" >
                    <span class="add-on inTripNoteDate" id=""><i class="fa fa-calendar"></i></span>
                    <input type="text" readonly class="input-small startDate" value="">
                    <btn class="btn" onclick="javascript:resetStartDate();"> <span class=""><i class="fa fa-times"></i></span></btn>
                </div>
            </div>
            <div class="span3">
                <label>End Date </label>
                <div class="input-append date" id="flightDate1" >
                    <span class="add-on inTripNoteDate2"><i class="fa fa-calendar"></i></span>
                    <input type="text" readonly class="input-small endDate" value="">
                    <btn class="btn" onclick="javascript:resetEndDate();"> <span class=""><i class="fa fa-times"></i></span></btn>
                </div>
            </div>
        </div>
    </div>

</div>
<--endPageBody-->

