@(p:  com.mapped.publisher.view.TripBookingDetailView, lang: String)
  @import com.mapped.publisher.utils.Utils
<div style="padding-top: 5px;padding-bottom: 25px;width: 50px;color:#212121;page-break-inside: avoid;">
  <div style="text-align: center;font-size: 22px;font-weight: 400;line-height: 16px; ">
  &nbsp;@Utils.formatTimestamp(p.startDateMs, "EEE", lang).toUpperCase().trim()
  </div>
  <div style="font-size: 18px;font-weight: 700;line-height: 16px;padding-top: 6px; ">
    @Utils.formatTimestamp(p.startDateMs, "MMM", lang).toUpperCase()
  </div>
  <div style="font-size: 30px;font-weight: 400;line-height: 18px;padding-top:6px">
  @p.startDay
  </div>
</div>