@(p:  com.mapped.publisher.view.TripBookingDetailView,  i: Integer, isPrinterFriendly: Boolean, showThumbnail: Boolean, display12Hr: Boolean, lang: String)
@import com.mapped.publisher.view.ViewUtils
@import com.umapped.persistence.enums.ReservationType
@import com.mapped.publisher.utils.Utils
@import com.umapped.persistence.enums.ReservationType
@import com.mapped.publisher.view.TabType
@import com.mapped.publisher.common.SecurityMgr.AccessLevel
@import play.i18n._

<div style="padding:0px;padding-top: @if(i == 0){20px}else{10px};width: 700px;page-break-inside: auto">

  <table style="width: 700px;">
    <tr style="width: 700px;">
      @if(p.getStartDateMsNote > 0 || (p.getLinkedTripDetailsId != null && p.getLinkedTripDetailsId.trim.length > 0)) {
        <td style="width: 75px;text-align: center;vertical-align:top;@if(i == 0){border-top: 1px solid #212121;padding-top:5px;}else{border-top:none};padding-right: 15px">
          @if(p.getStartDateMsNote > 0 || (p.getLinkedTripDetailsId != null && p.getLinkedTripDetailsId.trim.length > 0)) {
            @if(i == -1 || i == 0) {
              <div style="padding-top: 5px;padding-bottom: 10px;width: 50px;color:#000000;page-break-inside: avoid;">
                <div style="text-align: center;font-size: 22px;font-weight: 400;line-height: 16px;">
                  &nbsp;@Utils.formatTimestamp(p.getStartDateMsNote, "EEE", lang).toUpperCase().trim
                </div>
                <div style="text-align: center;font-size: 18px;font-weight: 700;line-height: 18px;padding-top: 6px">
                  @Utils.formatTimestamp(p.getStartDateMsNote, "MMM", lang).toUpperCase()
                </div>
                <div style="text-align: center;font-size: 30px;font-weight: 400;line-height: 18px;padding-top: 6px">
                  @Utils.formatTimestamp(p.getStartDateMsNote, "d")
                </div>
              </div>

              @if(p.hasStartTimestamp) {
                <div style="text-align: center;font-size: 20px;font-weight: 500;line-height: 20px;padding-top: 4px;color:#000000;width: 60px;page-break-inside: avoid;">
                  @if(display12Hr) {
                    @Utils.formatTime12NoIndicator(p.getStartDateMsNote)
                  } else {
                    @Utils.formatTime24(p.getStartDateMsNote)
                  }
                  @if(display12Hr) {
                    <div style="text-align:center; font-size:20px;font-weight:700; line-height:20px; padding-top:0px; color:#000000; width:60px;">
                      @Utils.formatTime12Indicator(p.getStartDateMsNote)
                    </div>
                  }
                </div>
              }
            } else {
              @if(p.hasStartTimestamp) {
                <div style="text-align:center; font-size:20px ; font-weight:700 ; line-height:20px ; padding-top:8px;color:#000000;width: 60px;page-break-inside: avoid;">
                  @if(display12Hr) {
                    @Utils.formatTime12NoIndicator(p.getStartDateMsNote)
                  } else {
                    @Utils.formatTime24(p.getStartDateMsNote)
                  }
                </div>
                @if(display12Hr) {
                  <div style="text-align:center; font-size:20px;font-weight:700; line-height:20px; padding-top:0px; color:#000000; width:60px;page-break-inside: avoid;">
                    @Utils.formatTime12Indicator(p.getStartDateMsNote)
                  </div>
                }
              } else {
                <div style="width: 35px">&nbsp;</div>
              }
            }
          } else {
            <div style="width: 35px">&nbsp;</div>
          }
        </td>
      }


      <td style="width:630px;vertical-align: top;@if(i == 0){border-top: 1px solid #212121;} else {border-top: none;}padding-top:5px;">
        <div>
          <table style="margin-left: 0px;width: @if(p.getStartDateMilli > 0 || (p.getLinkedTripDetailsId != null && p.getLinkedTripDetailsId.trim.length > 0)) {630px} else {700px};margin-top: 4px;">
            <tr>
              <td style="width: 700px;vertical-align: top;">
                <table style="margin-left: 0px;width:@if(p.getStartDateMilli > 0 || (p.getLinkedTripDetailsId != null && p.getLinkedTripDetailsId.trim.length > 0)) {630px} else {700px};margin-top: 0px;">
                  <tr style="">
                    <td colspan="8" style="padding-bottom: 10px;vertical-align: top;page-break-inside: avoid;">
                      <div style="font-size: 18px ;font-weight: 700;color:#212121;line-height: 19px"> @p.getName
                        @if(!isPrinterFriendly && p.getPhotos != null && p.getPhotos.size() > 0) {
                        <br/><br/>
                        <div style="background-image: url(@p.getPhotos.get(0).attachUrl);display: inline-block;padding-bottom: 20px;padding-top: 20px;margin: auto;background-position: center center;background-repeat: no-repeat;@if(p.getStartDateMilli > 0 || (p.getLinkedTripDetailsId != null && p.getLinkedTripDetailsId.trim.length > 0)) {width: 630px;height: 300px;} else {width: 700px;height: 333px;} background-size: cover;">
                          &nbsp;
                        </div>
                        }
                      </div>
                    </td>
                  </tr>


                  @if((p.getProviderAddr1 != null && p.getProviderAddr1.trim.length >0) || (p.getProviderAddr2 != null && p.getProviderAddr2.trim.length >0)) {
                  <tr style="font-size: 12px;color: #000000;font-weight: 700">
                    <td style="padding-bottom: 10px;page-break-inside: avoid">
                      @if(p.getProviderAddr1 != null && p.getProviderAddr1.trim.length >0) {
                      @p.getProviderAddr1 <br>
                      }
                      @if(p.getProviderAddr2 != null && p.getProviderAddr2.trim.length >0) {
                      @p.getProviderAddr2
                      }
                    </td>
                  </tr>
                  }

                  @if(p.intro != null || p.description != null) {
                  <tr style="font-size:13px;color:#000000;font-weight:400;">
                    <td colspan="1" style="padding-bottom : 20px; pa vertical-align : top;">
                      @if(p.intro != null) {
                      <div class="@if(p.intro.contains("class=\"insurance\"")) {pageStructuredNote}else{pageNote}">
                          @Html(p.intro)
                      </div>
                      }
                      @if(p.description != null) {
                        <div class="@if(p.intro.contains("class=\"insurance\"")) {pageStructuredNote}else{pageNote}">
                        @Html(p.description)
                      </div>
                      }

                    </td>
                  </tr>
                  }
                  @if(p.getLinks != null && p.getLinks.size() > 0) {
                  <tr style="font-size:13px ; color:#000000 ; font-weight:400">
                    <td colspan="1" style="padding-bottom : 20px; pa vertical-align : top ;">
                      @for(l <- p.getLinks) {
                      @l.name - <a href="@l.attachUrl" style="text-decoration: none;font-size:12px;color:#60bdff">@l.attachUrl</a> <br/>
                      }

                    </td>
                  </tr>
                  }

                  @if(!isPrinterFriendly && showThumbnail && p.getPhotos != null && p.getPhotos.size() > 0) {
                  <tr style="page-break-inside: avoid">
                    <td style="width: 630px;vertical-align: text-top;color: #000000;font-size:11px;">
                      <table style="width: 630px">
                        <tr>
                          <td style="width:157px;text-align: center">
                            @if(p.getPhotos.size() > 1) {
                            <div class="photos" style="height:150px;width:150px;background: url('@p.getPhotos.get(1).attachUrl') no-repeat center; background-size: cover;">
                            </div>
                            }
                          </td>
                          <td style="width:157px;text-align: center">
                            @if(p.getPhotos.size() > 2) {
                            <div class="photos" style="height:150px;width:150px;background: url('@p.getPhotos.get(2).attachUrl') no-repeat center; background-size: cover;">
                            </div>
                            }
                          </td>
                          <td style="width:157px;text-align: center">
                            @if(p.getPhotos.size() > 3) {
                            <div class="photos" style="height:150px;width:150px;background: url('@p.getPhotos.get(3).attachUrl') no-repeat center; background-size: cover;">
                            </div>
                            }
                          </td>
                          <td style="width:157px;text-align: center">
                            @if(p.getPhotos.size() > 4) {
                            <div class="photos" style="height:150px;width:150px;background: url('@p.getPhotos.get(4).attachUrl') no-repeat center; background-size: cover;">
                            </div>
                            }
                          </td>
                        </tr>

                      </table>
                    </td>
                  </tr>
                  }
                </table>
              </td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
  </table>


</div>



