@(arv:  com.mapped.publisher.view.UmActivityReservationView,  i: Integer, isPrinterFriendly: Boolean, showThumbnail: Boolean, display12Hr: Boolean, lang: String)
@import com.mapped.publisher.view.ViewUtils
@import com.umapped.persistence.enums.ReservationType
@import com.mapped.publisher.utils.Utils
@import play.i18n._

  <div style="padding-bottom:20px;padding-top: 10px;width: 700px;">

    <div style="padding:0px;padding-bottom: 0px;width: 700px;page-break-inside: avoid">
      <table style="width: 700px;">
        <tr style="width: 700px;">
          <td style="width: 90px;text-align: center;vertical-align:top;@if(i == 0){border-top: 1px solid #212121;padding-top:5px;}else{border-top:none};padding-right: 15px">
          @if(i == 0) {
            @views.html.tripPdfV1.bookingspdf.dateCell(arv, lang)
          }
          </td>
          <td style="width:10px;vertical-align: top;@if(i == 0){border-top: 1px solid #212121;} else {border-top: 1px solid #212121;}padding-top:5px;">

          </td>
          <td style="width:630px;vertical-align: top;@if(i == 0){border-top: 1px solid #212121;} else {border-top: 1px solid #212121;}padding-top:5px;">
          <div>
            <table style="margin-left: 0px;width: 630px;margin-top: 8px;">
              <tr>
                <td style="width: 630px;vertical-align: top;">
                  <table style="margin-left: 0px;width: 630px;margin-top: 0px;">

                    <tr>
                      <td colspan="5" style="padding-bottom: 20px;vertical-align: top">
                        <span style="font-size: 18px ;font-weight: 500;color: #212121;text-transform:uppercase">
                        @if(arv.getServiceType != null && !arv.getServiceType.isEmpty) {
                          @arv.getServiceType
                        } else {
                          @if(arv.getDetailsTypeId == ReservationType.RESTAURANT) {
                            @Messages.get(Lang.forCode(lang), "webitinerary.restaurantReservation")
                          } else {
                            @Messages.get(Lang.forCode(lang), "webitinerary.event")
                          }
                        }
                        </span>
                      </td>
                    </tr>
                    @if(!isPrinterFriendly && arv.getPhotos != null && arv.getPhotos.size() > 0) {
                      <tr>
                        <td colspan="5" style="padding-bottom: 20px;vertical-align: top">
                          <div style="background-image: url(@arv.getPhotos.get(0).attachUrl);display: inline-block;padding-top: 10px;margin: auto;background-position: center center;background-repeat: no-repeat;width: 630px;height: 300px;background-size: cover;">
                              &nbsp;
                          </div>
                        </td>
                      </tr>
                    }
                    <tr style="font-size: 11px;color: #000000;font-weight: 700">
                      <td style="padding-bottom: 5px;width: 335px;vertical-align: text-top;"><div style="border-top: 1px solid #000000;padding-top:5px;text-transform:uppercase">
                      @if(arv.getDetailsTypeId == ReservationType.RESTAURANT) {
                        @Messages.get(Lang.forCode(lang), "webitinerary.restaurantName")
                      } else {
                        @Messages.get(Lang.forCode(lang), "webitinerary.about")
                      }
                      </div>
                      </td>
                      <td style="width:15px;border-top: none;"></td>
                      @if(arv.getBookingNumber != null && !arv.getBookingNumber.isEmpty) {
                        <td style="width: 80px ;padding-bottom: 5px;"><div style="border-top: 1px solid #000000;padding-top:5px;text-transform:uppercase">@Messages.get(Lang.forCode(lang), "webitinerary.bookingnum")</div></td>
                        <td style="width:15px"></td>
                      }
                      <td style="width: 200px ; padding-bottom: 5px;" @if(arv.getBookingNumber == null || arv.getBookingNumber.isEmpty) {colspan="3" } ><div style="border-top: 1px solid #000000;padding-top:5px">@Messages.get(Lang.forCode(lang), "webitinerary.start")</div></td>

                    </tr>

                    <tr style="font-size: 13px;color: #212121;line-height: 16px">
                      <td style="width:335px ; padding-bottom: 20px;;vertical-align: text-top;color: #000000">
                        @if(arv.getProviderName != null && arv.getProviderName.trim.length > 0) {
                          <span style="font-size: 14px;font-weight: 500;color: #212121">@arv.getProviderName</span> <br/>
                        }
                        @if(arv.getContact != null && arv.getContact.trim().length > 0) {
                          Contact: @arv.getContact <br/>
                        }
                        @if(arv.getDestinationId != null && arv.getDestinationId.trim.length > 0) {
                          Document: <a href = "@arv.getDestinationUrl" style="text-decoration: none;font-size:12px;color:#60bdff"> @arv.getDestination</a> <br/>
                        }
                        @if(arv.getProviderAddr1 != null && arv.getProviderAddr1.length > 0) {
                        @arv.getProviderAddr1 <br>
                        }
                        @if(arv.getProviderAddr2 != null && arv.getProviderAddr2.length > 0) {
                        @arv.getProviderAddr2 <br/>
                        }
                        @if(arv.getProviderPhone != null && arv.getProviderPhone.trim().length > 0) {
                          Phone: @arv.getProviderPhone <br/>
                        }
                        @if(arv.getProviderEmail != null && arv.getProviderEmail.trim().length > 0) {
                          Email: @arv.getProviderEmail <br/>
                        }
                        @if(arv.getProviderWeb != null && arv.getProviderWeb.trim().length > 0) {
                          <a style="text-decoration: none;font-size:12px;color:#60bdff" href="@arv.getProviderWeb" target="_blank">Website</a> <br/>
                        }
                      </td>
                      <td style="width:15px"></td>
                      @if(arv.getBookingNumber != null && !arv.getBookingNumber.isEmpty) {
                        <td style="font-size: 14px;font-weight: 500;width:80px; padding-bottom:20px; vertical-align: text-top;">@arv.getBookingNumber</td>
                        <td style="width:15px"></td>

                      }
                      <td style="width:200px ; padding-bottom: 20px;" @if(arv.getBookingNumber == null || arv.getBookingNumber.isEmpty) {colspan="3" }>
                        @if(arv.getStartHour != null && arv.getStartHour.trim.length > 0) {
                          <div style="font-size: 14px;font-weight: 500;padding-bottom:6px">
                            @if(display12Hr) {
                            @Utils.formatTime12(arv.getStartDateMilli)
                            } else {
                            @Utils.formatTime24(arv.getStartDateMilli)
                            }
                          </div>
                        }
                        @if(arv.getStartDateItin != null && arv.getStartDateItin.trim.length > 0) {
                          <div class="date">@arv.getStartDateItin  </div>
                        }
                        @if(arv.getLocStartName != null && arv.getLocStartName.trim.length > 0) {
                          <span style="font-size: 14px;font-weight: 400;color: #000000">@arv.getLocStartName</span>
                        }
                      </td>

                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </div>
          </td>
        </tr>
      </table>
    </div>

    <div style="padding:0px;width: 700px;">
      <table style="width: 700px;">
        <tr style="width: 700px;">
          <td style="width: 100px;text-align: center;vertical-align:top;">
      </td>
          <td style="width:630px;vertical-align: top;">
            <div >
              <table style="margin-left: 0px;width: 630px;margin-top: 0px;">
                @if(arv.getNotesPlain != null && arv.getNotesPlain.trim.length > 0) {
                  <tr style="page-break-inside: auto">
                    <td style="width: 630px;vertical-align: text-top;color: #000000;font-size:13px;line-height:15px;padding-bottom: 10px">
                      <div style=";border-top: 1px solid #000000;padding-top: 5px;margin-top: 0px; width:630px;color: #000000 ">
                        <span style="font-weight: 500;text-transform:uppercase">@Messages.get(Lang.forCode(lang), "webitinerary.bookingDetails")</span>
                      </div>
                      <div class="descFont" style="padding-top: 10px; width:630px;">
                      @Html(Utils.escapeHtml(arv.getNotesPlain))
                      </div>
                    </td>
                  </tr>
                }
                @if(arv.getProviderComments != null && arv.getProviderComments.trim.length > 0) {
                  <tr style="page-break-inside: auto">
                    <td style="width: 630px;vertical-align: text-top;color: #000000;font-size:13px;line-height:15px;padding-bottom: 10px">
                      <div class="descFont" style="padding-top: 10px; width:630px;">
                      @Html(arv.getProviderComments)
                      </div>
                    </td>
                  </tr>
                }
                @views.html.common.bookingPdfRate(arv, lang)
                @if(arv.getCancellation != null && arv.getCancellation.trim.length > 0) {

                <tr style="page-break-inside: auto">
                  <td style="width: 630px;vertical-align: text-top;color: #000000;font-size:13px;line-height:15px;padding-bottom: 10px">
                    <div class="descFont"  style="width:630px">
                      <span style="font-weight: 700;text-transform:uppercase">@Messages.get(Lang.forCode(lang), "webitinerary.cancellation"): </span> @Html(Utils.escapeHtml(arv.getCancellation))
                    </div>
                  </td>
                </tr>
                }
                @if(!isPrinterFriendly && showThumbnail && arv.getPhotos != null && arv.getPhotos.size() > 0) {
                  <tr style="page-break-inside: avoid">
                    <td style="width: 630px;vertical-align: text-top;color: #787878;font-size:11px;">
                      <table style="width: 630px">
                        <tr>
                          <td style="width:157px;text-align: center">
                            @if(arv.getPhotos.size() > 1) {
                            <div class="photos" style="height:150px;width:130px;background: url('@arv.getPhotos.get(1).attachUrl') no-repeat center; background-size: cover;">
                            </div>
                            }
                          </td>
                          <td style="width:157px;text-align: center">
                            @if(arv.getPhotos.size() > 2) {
                            <div class="photos" style="height:150px;width:150px;background: url('@arv.getPhotos.get(2).attachUrl') no-repeat center; background-size: cover;">
                            </div>
                            }
                          </td>
                          <td style="width:157px;text-align: center">
                            @if(arv.getPhotos.size() > 3) {
                            <div class="photos" style="height:150px;width:150px;background: url('@arv.getPhotos.get(3).attachUrl') no-repeat center; background-size: cover;">
                            </div>
                            }
                          </td>
                          <td style="width:157px;text-align: center">
                            @if(arv.getPhotos.size() > 4) {
                            <div class="photos" style="height:150px;width:150px;background: url('@arv.getPhotos.get(4).attachUrl') no-repeat center; background-size: cover;">
                            </div>
                            }
                          </td>
                        </tr>

                      </table>
                    </td>
                  </tr>
                }

                @views.html.tripPdfV1.bookingspdf.bookingFiles(arv)


              </table>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>



