@(trv:  com.mapped.publisher.view.UmTransferReservationView,  i: Integer, date: String, isPrinterFriendly: Boolean, showThumbnail: Boolean, display12Hr: Boolean, lang: String)
@import com.mapped.publisher.view.ViewUtils
@import com.umapped.persistence.enums.ReservationType
@import com.mapped.publisher.utils.Utils
@import play.i18n._

  <div style="padding-bottom:10px;padding-top: 10px;width: 700px;">

    <div style="padding:0px;padding-bottom: 0px;width: 700px;page-break-inside: avoid">
      <table style="width: 700px;">
        <tr style="width: 700px;">
          <td style="width: 90px;text-align: center;vertical-align:top;@if(i == 0){border-top: 1px solid #212121;padding-top:5px;}else{border-top:none};padding-right: 15px">
          @if(i == 0) {
            @views.html.tripPdfV1.bookingspdf.dateCell(trv, lang)
          }
          </td>
          <td style="width:10px;vertical-align: top;@if(i == 0){border-top: 1px solid #212121;} else {border-top: 1px solid #212121;}padding-top:5px;">

          </td>

          <td style="width:630px;vertical-align: top;@if(i == 0){border-top: 1px solid #212121;} else {border-top: 1px solid #212121;}padding-top:5px;">
            <div>
              <table style="margin-left: 0px;width: 630px;margin-top: 8px;">
                <tr>
                  <td style="width: 630px;vertical-align: top;">
                    <table style="margin-left: 0px;width: 630px;margin-top: 0px;">
                      @if(!isPrinterFriendly && trv.getPhotos != null && trv.getPhotos.size() > 0) {
                        <tr>
                          <td @if(trv.getDetailsTypeId == ReservationType.CAR_DROPOFF){colspan="5"}else{colspan="7"} style="padding-bottom: 20px;vertical-align: top">
                            <div style="background-image: url(@trv.getPhotos.get(0).attachUrl);display: inline-block;padding-top: 10px;margin: auto;background-position: center center;background-repeat: no-repeat;width: 630px;height: 300px;background-size: cover;">
                                &nbsp;
                            </div>
                          </td>
                        </tr>
                      }
                      <tr>
                        <td @if(trv.getDetailsTypeId == ReservationType.CAR_DROPOFF){colspan="5"}else{colspan="7"} style="padding-bottom: 20px;vertical-align: top">
                          <span style="font-size: 18px ;font-weight: 500;color: #212121;text-transform:uppercase">
                          @if(trv.getServiceType != null && !trv.getServiceType.isEmpty) {
                            @trv.getServiceType
                          } else {
                            @if(trv.getDetailsTypeId == ReservationType.CAR_RENTAL) {
                              @if(trv.getStartDateItin != null && trv.getStartDateItin == date && trv.getStartDateItin != trv.getEndDateItin) {
                                @Messages.get(Lang.forCode(lang), "webitinerary.rentalpickup")
                              } else {
                                @if(trv.getEndDateItin != null && trv.getEndDateItin == date  && trv.getStartDateItin != trv.getEndDateItin) {
                                  @Messages.get(Lang.forCode(lang), "webitinerary.cardropoff")
                                } else {
                                  @Messages.get(Lang.forCode(lang), "webitinerary.rentalpickup")
                                }
                              }

                            } else {
                              @if(trv.getDetailsTypeId == ReservationType.TAXI) {
                                @Messages.get(Lang.forCode(lang), "webitinerary.taxi")
                              } else {
                                @if(trv.getDetailsTypeId == ReservationType.PRIVATE_TRANSFER) {
                                  @Messages.get(Lang.forCode(lang), "webitinerary.transfer")
                                } else {
                                  @if(trv.getDetailsTypeId == ReservationType.RAIL) {
                                    @Messages.get(Lang.forCode(lang), "webitinerary.train")
                                  } else {
                                    @if(trv.getDetailsTypeId == ReservationType.PUBLIC_TRANSPORT) {
                                      @Messages.get(Lang.forCode(lang), "webitinerary.transport")
                                    } else {
                                      @if(trv.getDetailsTypeId == ReservationType.BUS) {
                                        @Messages.get(Lang.forCode(lang), "webitinerary.bus")
                                      } else {
                                        @if(trv.getDetailsTypeId == ReservationType.CAR_DROPOFF) {
                                          @Messages.get(Lang.forCode(lang), "webitinerary.cardropoff")
                                        } else {
                                          @if(trv.getDetailsTypeId == ReservationType.FERRY) {
                                            @Messages.get(Lang.forCode(lang), "webitinerary.ferry")
                                          } else {
                                            @Messages.get(Lang.forCode(lang), "webitinerary.transfer")
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                          </span>
                        </td>
                      </tr>
                      <tr style="font-size: 11px;color: #000000;font-weight: 700">
                        <td style="@if(trv.getDetailsTypeId == ReservationType.CAR_DROPOFF){width:355px;} else {width:135px;}padding-bottom: 5px;vertical-align: text-top;"><div style="border-top: 1px solid #000000;padding-top:5px;text-transform:uppercase">
                        @if(trv.getDetailsTypeId == ReservationType.RAIL) {
                          @Messages.get(Lang.forCode(lang), "webitinerary.train")
                        } else {
                          @if(trv.getDetailsTypeId == ReservationType.PRIVATE_TRANSFER || trv.getDetailsTypeId == ReservationType.TRANSPORT) {
                            @Messages.get(Lang.forCode(lang), "webitinerary.contact")
                          } else {
                            @Messages.get(Lang.forCode(lang), "webitinerary.company")
                          }
                        }

                        </div></td>
                        @if(trv.getBookingNumber != null && trv.getBookingNumber.trim.length > 0) {
                          <td style="width:15px;border-top: none;"></td>
                          <td style="width: 60px ;padding-bottom: 5px;"><div style="border-top: 1px solid #000000;padding-top:5px;text-transform:uppercase">@Messages.get(Lang.forCode(lang), "webitinerary.bookingnum")</div></td>
                        }
                        <td style="width:15px"></td>
                        <td style="width: 125px ; padding-bottom: 5px;"><div style="border-top: 1px solid #000000;padding-top:5px;text-transform:uppercase">
                          @if(trv.getDetailsTypeId == ReservationType.CAR_DROPOFF ){
                            @Messages.get(Lang.forCode(lang), "webitinerary.dropoff")
                          } else {
                            @if(trv.getDetailsTypeId == ReservationType.CAR_RENTAL || trv.getDetailsTypeId == ReservationType.TAXI || trv.getDetailsTypeId == ReservationType.TRANSPORT) {
                              @Messages.get(Lang.forCode(lang), "webitinerary.pickup")
                            } else {
                              @if(trv.getDetailsTypeId == ReservationType.RAIL) {
                                @Messages.get(Lang.forCode(lang), "webitinerary.departingat")
                              } else {
                                @Messages.get(Lang.forCode(lang), "webitinerary.start")
                              }
                            }
                          }

                        </div></td>
                        @if(trv.getDetailsTypeId != ReservationType.CAR_DROPOFF ){
                        <td style="width:15px"></td>
                        <td style="width: 125px ; padding-bottom: 5px;"><div style="border-top: 1px solid #000000;padding-top:5px;text-transform:uppercase">
                        @if(trv.getDetailsTypeId == ReservationType.CAR_RENTAL || trv.getDetailsTypeId == ReservationType.TAXI || trv.getDetailsTypeId == ReservationType.TRANSPORT) {
                          @Messages.get(Lang.forCode(lang), "webitinerary.dropoff")
                        } else {
                          @if(trv.getDetailsTypeId == ReservationType.RAIL) {
                            @Messages.get(Lang.forCode(lang), "webitinerary.arrivingat")
                          } else {
                            @Messages.get(Lang.forCode(lang), "webitinerary.finish")
                          }
                        }

                        </div></td>
                        }
                      </tr>

                      <tr style="font-size: 13px;color: #212121;line-height: 16px">
                        <td style=" padding-bottom: 20px;;vertical-align: text-top;color: #000000">
                          @if(trv.getProviderName != null && trv.getProviderName.trim.length > 0) {
                            <span style="font-size: 14px;font-weight: 500;color: #212121">@trv.getProviderName</span> <br/>
                          } else {
                            @if(trv.getName != null && trv.getName.trim.length > 0) {
                              <span style="font-size: 14px;font-weight: 500">@trv.getName</span> <br/>
                            }
                          }
                          @if(trv.getContact != null && trv.getContact.length > 0) {
                          @trv.getContact <br/>
                          }
                          @if(trv.getProviderAddr1 != null && trv.getProviderAddr1.length > 0) {
                          @trv.getProviderAddr1 <br>
                          }
                          @if(trv.getProviderAddr2 != null && trv.getProviderAddr2.length > 0) {
                          @trv.getProviderAddr2 <br/>
                          }
                          @if(trv.getProviderPhone != null && trv.getProviderPhone.trim().length > 0) {
                            Phone: @trv.getProviderPhone <br/>
                          }
                          @if(trv.getProviderEmail != null && trv.getProviderEmail.trim().length > 0) {
                            Email: @trv.getProviderEmail <br/>
                          }
                          @if(trv.getProviderWeb != null && trv.getProviderWeb.trim().length > 0) {
                            <a style="text-decoration: none;font-size:12px;color:#60bdff" href="@trv.getProviderWeb" target="_blank">Website</a> <br/>
                          }
                        </td>
                        @if(trv.getBookingNumber != null && trv.getBookingNumber.trim.length > 0) {
                          <td style="width:15px"></td>
                          <td style="width:60px ; padding-bottom: 20px;;vertical-align: text-top;font-size: 14px;font-weight: 500;">@trv.getBookingNumber</td>
                        }
                        <td style="width:15px"></td>
                        <td style="width:119px ; padding-bottom: 20px;">
                          @if(trv.startHour != null && trv.startHour.trim.length > 0) {
                            <div style="font-size: 14px;font-weight: 500;padding-bottom:6px">
                              @if(display12Hr) {
                              @Utils.formatTime12(trv.getStartDateMilli)
                              } else {
                              @Utils.formatTime24(trv.getStartDateMilli)
                              }
                            </div>
                          }
                          @if(trv.getStartDateItin != null && trv.getStartDateItin.trim.length > 0) {
                            <div class="date">@trv.getStartDateItin  </div>
                          }
                          @if(trv.getLocStartName != null && trv.getLocStartName.trim.length > 0) {
                            <span style="font-size: 14px;font-weight: 400;color: #000000">@trv.getLocStartName  </span>

                          }
                        </td>
                        @if(trv.getDetailsTypeId != ReservationType.CAR_DROPOFF ){
                        <td style="width:15px"></td>
                        <td style="width:119px ; padding-bottom: 20px;">
                          @if(trv.getEndHour != null && trv.getEndHour.trim.length > 0) {
                            <div style="font-size: 14px;font-weight: 500;padding-bottom:6px">
                              @if(display12Hr) {
                              @Utils.formatTime12(trv.getEndDateMilli)
                              } else {
                              @Utils.formatTime24(trv.getEndDateMilli)
                              }
                            </div>
                          }
                          @if(trv.getEndDateItin != null && trv.getEndDateItin.trim.length > 0) {
                            <div class="date">@trv.getEndDateItin </div>
                          }
                          @if(trv.getLocFinishName != null && trv.getLocFinishName.trim.length > 0) {
                            <span style="font-size: 14px;font-weight: 400;color: #000000">@trv.getLocFinishName  </span>

                          }
                        </td>
                        }
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </div>
          </td>
        </tr>
      </table>
  </div>

  <div style="padding-bottom:20px;width: 700px;">
    <table style="width: 700px;">
      <tr style="width: 700px;">
        <td style="width: 100px;text-align: center;vertical-align:top;">
      </td>
        <td style="width:630px;vertical-align: top;">
          <div >
            <table style="margin-left: 0px;width: 630px;margin-top: 0px;">
              @if(trv.getNotesPlain != null && trv.getNotesPlain.trim.length > 0) {
                <tr style="page-break-inside: auto">
                  <td style="width: 630px;vertical-align: text-top;color: #000000;font-size:13px;line-height:15px;;padding-bottom: 10px">
                    <div style=";border-top: 1px solid #000000;padding-top: 5px;margin-top: 0px; width:630px ">
                      <span style="font-weight: 500;color: #000000;text-transform:uppercase">@Messages.get(Lang.forCode(lang), "webitinerary.bookingDetails")</span>
                    </div>
                    <div class="descFont" style="padding-top: 10px; width:630px;">
                    @Html(Utils.escapeHtml(trv.getNotesPlain))
                    </div>
                  </td>
                </tr>
              }
              @if(trv.getProviderComments != null && trv.getProviderComments.trim.length > 0) {
                <tr style="page-break-inside: auto">
                  <td style="width: 630px;vertical-align: text-top;color: #000000;font-size:13px;line-height:15px;padding-bottom: 10px">
                    <div class="descFont" style="padding-top: 10px; width:630px;">
                    @Html(trv.getProviderComments)
                    </div>
                  </td>
                </tr>
              }
              @views.html.common.bookingPdfRate(trv, lang)
              @if(trv.getCancellation != null && trv.getCancellation.trim.length > 0) {
              <tr style="page-break-inside: auto">
                <td style="width: 630px;vertical-align: text-top;color: #000000;font-size:13px;line-height:15px;padding-bottom: 10px">
                  <div class="descFont"  style="width:630px">
                    <span style="font-weight: 700;text-transform:uppercase">@Messages.get(Lang.forCode(lang), "webitinerary.cancellation"): </span> @Html(Utils.escapeHtml(trv.getCancellation))
                  </div>
                </td>
              </tr>
              }
              @if(!isPrinterFriendly && showThumbnail && trv.getPhotos != null && trv.getPhotos.size() > 1) {
                <tr style="page-break-inside: avoid">
                  <td style="width: 630px;vertical-align: text-top;color: #787878;font-size:11px;">
                    <table style="width: 630px">
                      <tr>
                        <td style="width:157px;text-align: center">
                          @if(trv.getPhotos.size() > 1) {
                          <div class="photos" style="height:150px;width:150px;background: url('@trv.getPhotos.get(1).attachUrl') no-repeat center; background-size: cover;">
                          </div>
                          }
                        </td>
                        <td style="width:157px;text-align: center">
                          @if(trv.getPhotos.size() > 2) {
                          <div class="photos" style="height:150px;width:150px;background: url('@trv.getPhotos.get(2).attachUrl') no-repeat center; background-size: cover;">
                          </div>
                          }
                        </td>
                        <td style="width:157px;text-align: center">
                          @if(trv.getPhotos.size() > 3) {
                          <div class="photos" style="height:150px;width:150px;background: url('@trv.getPhotos.get(3).attachUrl') no-repeat center; background-size: cover;">
                          </div>
                          }
                        </td>
                        <td style="width:157px;text-align: center">
                          @if(trv.getPhotos.size() > 4) {
                          <div class="photos" style="height:150px;width:150px;background: url('@trv.getPhotos.get(4).attachUrl') no-repeat center; background-size: cover;">
                          </div>
                          }
                        </td>
                      </tr>

                    </table>
                  </td>
                </tr>
              }

              @views.html.tripPdfV1.bookingspdf.bookingFiles(trv)

            </table>
          </div>
        </td>
      </tr>
    </table>
  </div>

  </div>
