/* 
UMAPPED MOBILE
PROGRAMMED BY THIERRY LAVERGNE
DESIGN BY MARCEL GIANNOCARO
KOKOMO INC.
WWW.KOKOMOWEB.COM
*/

/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  	margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
	line-height: 1;
}

 ul {
	list-style: none;
}
    
blockquote, q {
    quotes: none;
}
    
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
   
table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
	margin: 0;
}

/* GENERAL */

html, body {
	height: 100%;
}

body {
	background: url("http://static.umapped.com.s3.amazonaws.com/public/img/furley_bg.png") repeat scroll 0 0 #EEEEEE;
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
	font-size: 13px;
	color: #666666;
	margin: 0;
    padding: 0;
}

a {
    color: #0088CC;
    text-decoration: none;
}

h1 {
    color: #FFFFFF;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 26px;
    font-weight: 600;
	padding:0;
}

h2 {
    color: #FFFFFF;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.right {
	float:right;
}

.left {
	float:left;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	 overflow: hidden;

    min-width: 1010px;
}

/* NAVIGATION */

#navwrapper {
	width:100%;
	height: 80px;
	-webkit-box-shadow: 1px 2px 7px rgba(0,0,0,.15);
	-moz-box-shadow: 1px 2px 7px rgba(0,0,0,.15);
	box-shadow: 1px 2px 7px rgba(0,0,0,.15);
	position:relative;
	z-index:2;
}
	
#navbg_left {
	width:50%;
	float:left;
	background: #0d8e27; /* Old browsers */
	background: -moz-linear-gradient(top,  #0d8e27 0%, #11a72f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0d8e27), color-stop(100%,#11a72f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #0d8e27 0%,#11a72f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #0d8e27 0%,#11a72f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #0d8e27 0%,#11a72f 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #0d8e27 0%,#11a72f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d8e27', endColorstr='#11a72f',GradientType=0 ); /* IE6-9 */
	height: 80px;

		
}

#navbg_right {
	width:50%;
	float:right;
	background-color: #fff;
	height: 80px;
}


#brand {
	position:absolute;
	background: #0d8e27; /* Old browsers */
	background: -moz-linear-gradient(top,  #0d8e27 0%, #11a72f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0d8e27), color-stop(100%,#11a72f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #0d8e27 0%,#11a72f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #0d8e27 0%,#11a72f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #0d8e27 0%,#11a72f 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #0d8e27 0%,#11a72f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d8e27', endColorstr='#11a72f',GradientType=0 ); /* IE6-9 */
	height:80px;
	padding-right:30px;
	padding-left:10px;
}

#brand img {
	margin-top: 10px;
}

#navbar {
	position: relative;
	width:960px;
	margin:auto;
	height:80px;
	background-color: black;
}

#navbar_white {
	background-color: #fff;
	height:80px;
	width:100%;	
}

#navbar .nav > li {
    padding-top: 20px;
	padding-left:10px;
}
#navbar .nav > li > a {
    color: #666;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 15.71px;
    font-weight: 700;
	padding: 7px;
}

#navbar .nav > li > a:hover {
    background-color: #00B4FF;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 15.71px;
    font-weight: 700;
	padding: 7px;
}

.nav {
    float: right;
    list-style: none outside none;
    margin-left: 170px;
    position: absolute;
	margin-top: 10px;
}

#navbar .nav > li {
    float: left;
}

#navbar .nav li.dropdown.open > .dropdown-toggle {
    background-color: #444444;
    color: #FFFFFF;
}

.menuSelected {
    color: #00A651;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 15.71px;
    font-weight: 700;
    height: 100px;
    padding:7px;
	margin-left: 10px;
    text-decoration: underline;
	background-image: url('../img/header/menu_select.png')  ;
	background-position: 50% 58%;
	background-repeat: no-repeat;
	background-origin: content-box;
}

/* HOME - FEATURED CONTENT BOX */

#home_featured {
	background:url('../img/home/bg.jpg') repeat center #fff;
	height:350px; 
	background-size:100%;
	position:relative;
	border-bottom: 8px solid #009933;
}

#home_featured_content {
	width:960px;
	height:350px;
	margin:auto;
	position:relative;
}

#home_featured_content img {
    bottom: 0;
    margin-right: 50px;
    position: absolute;
    right: 0;
    z-index: 3;
}

.home_headline {
	padding-top:20px;
	padding-bottom:60px;
	padding-right:0px;
	padding-left:0px;
	width:850px;
	display:inline-block;
	clear:both;
	margin-top:100px;
	margin-left:60px;
	position:relative;
	text-align:center;
	line-height:45px;
}


.home_headline h1{
	font-family: "Open Sans Condensed";
	font-weight: 700;
	font-size:36px;
}

.home_headline h2{
	font-family: "Open Sans";
	font-size: 17px;
	line-height:1.6em;
}

.home_headline .blue {
	color: #00b4ff;
}

#home_content1 {
	font-size: 30px;
	color: #fff;
	line-height:25px;
}


/* MOBILE - FEATURED */

#mobile_featured_wrapper {
	background:transparent;
	height:750px; 
	position:relative;
}

#mobile_featured {
	background:url('../img/mobile/bg.jpg') repeat center #fff;
	height:665px; 
	background-size:100%;
	position:relative;
	border-bottom: 8px solid #009933;
}

#mobile_featured_content {
	width:960px;
	height:750px;
	margin:auto;
	position:relative;
}

#mobile_featured_content h1 {
    color: #FFFFFF;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 40px;
    line-height: 50px;
    padding-bottom: 10px;
    padding-top: 20px;
    text-align: center;
	text-shadow: 2px 2px 2px rgba(150, 150, 150, 0.8);
}

.mobile_headline {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
	padding-top:10px;
	padding-bottom:10px;
	display:inline-block;
	clear:both;
	float:left;
	margin-top:20px;
	width:575px;
	line-height:1.6em;
	position:relative;
}

.mobile_headline:before { content:'';
	display:block; 
	height:140px; 
	width:2000px; 
	position:absolute; 
	top:0; 
	right:100%; 
}

.mobile_headline img {
	float:left;
	margin-left:40px;
	margin-right:25px;
	margin-top: 30px;
	margin-bottom:30px;
}

.mobile_headline h2 {
	margin-top:20px;
	font-family: "Open Sans Condensed";
	font-size: 26px;
	font-weight: bold;
	text-transform: uppercase;
	
}

.mobile_headline h3 {
	margin-top:-5px;
	font-family: "Open Sans";
	font-size: 18px;
	color: #fff;
	font-weight:400;
	line-height:25px;
	
}

.mobile_iphone {
    bottom: 0;
    right:50px;
    position: absolute;
    z-index: 10;
}

.video_publisher {
	width:80%;
    margin-top:20px;
    border: 1.5px solid #ccc;
}

/* TRIP - FEATURED */

#trip_featured {
	background:url('../img/trip/bg1.jpg') repeat center #fff;
	height:550px; 
	background-size:100%;
	position:relative;
	border-bottom: 8px solid #009933;
}

#trip_featured h1{
	color: #fff;
	text-transform:uppercase;
	text-align: center;
	font-size:40px;
}

.trip_headline {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
	display:inline-block;
	clear:both;
	float:right;
	margin-top:20px;
	width:600px;
	height:110px;
	position:relative;
}


/*
.trip_headline:after { content:'';
	display:block;
	height:100px;
	width:2000px;
	background-color:rgba(0,0,0,0.5); position:absolute; top:0; left:100%; }
*/

.trip_headline img {
	float:left;
	padding-top: 15px;
	padding-left:15px;
	padding-right: 30px;
	padding-bottom:75px;
}

.trip_headline h2 {
	font-family: "Open Sans Condensed";
	font-size: 27px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	margin-top:15px;
	margin-bottom:15px;
}

.trip_headline h3 {
	color: #fff;
	line-height:1.4em;
	font-size: 14px;
	font-weight: 100;	
}

.trip_tagline {
	text-align: center;
	font-family: "Open Sans Condensed";
	font-size: 34px;
	font-weight: bold;
	text-transform: uppercase;
	color: #00b4ff;
	padding-top:77px;
	padding-bottom:25px;
	line-height:40px;
}

.trip_tagline2 {
	font-family: "Open Sans Condensed";
	font-size: 29px;
	font-weight: bold;
	text-transform: uppercase;
	color: #999;
	text-align:center;
}

.trip_tagline3 {
	margin-left:83px;
	margin-top:35px;
	color: #999999;
    font-family: 'Open Sans',sans-serif;
    font-size: 19px;
	font-weight:100;
}

.trip_tagline4 {
	font-family: "Open Sans Condensed";
	font-weight: bold;
	text-transform: uppercase;
	margin-left:83px;
	height:45px;
	margin-top:25px;
	width:280px;
	float:left;
	display:inline;
}

.trip_tagline4 h3, .trip_tagline5 h3 {
	font-size: 29px;
	color: #5fae2c;
	padding-top:5px;
}

.trip_tagline4_icon, .trip_tagline5_icon {
	background:url('../img/trip/circle_green.png') no-repeat;
	text-align:center;
	color: #fff;
	width:45px;
	height:45px;
	padding-top:8px;
	float:left;
	margin-right:10px;
	font-size:25px;
}

.trip_tagline5 {
	font-family: "Open Sans Condensed";
	font-weight: bold;
	text-transform: uppercase;
	margin-left:83px;
	height:45px;
	margin-top:25px;
	width:505px;
	float:right;
	display:inline;
	margin-bottom:15px;
}

.trip_tagline6 {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    font-family: "Open Sans Condensed";
    font-weight: bold;
    height: 170px;
    margin-bottom: 15px;
    padding-left: 83px;
    position: relative;
    text-transform: uppercase;
    top: 25px;
    width: 497px;
}

.trip_tagline6 p {
	color: #FFFFFF;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: 600;
	text-transform:none !important;
}

.trip_tagline6_icon {
	background:url('../img/trip/circle_blue.png') no-repeat;
	text-align:center;
	color: #fff;
	width:45px;
	height:45px;
	padding-top:8px;
	margin-top:15px;
	float:left;
	margin-right:10px;
	font-size:25px;
	padding-bottom:30px;
}

.trip_tagline6 h3, .trip_tagline7 h3{
	font-size: 29px;
	color: #fff;
	padding-top:20px;
}

.trip_tagline7 {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    font-family: "Open Sans Condensed";
    font-weight: bold;
    height: 125px;
    margin-bottom: 15px;
    padding-left: 83px;
    position: relative;
    text-transform: uppercase;
    top: 25px;
    width: 372px;
}

.trip_tagline7 p, .trip_tagline7 a {
	color: #FFFFFF;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: 600;
	text-transform:none !important;
	padding:0 !important;
}

.trip_tagline8 {
	color: #333333;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 22px;
    text-align:center;
    padding-bottom:80px;
}
.trip_phone {
	color: #009933;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 22px;
}

.trip_email {
	color: #009933;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 22px;
    text-decoration:underline;
}


#trip_contentbox {
	background: url("../img/trip/bg2.jpg") ;
    height: 362px;
    width:960px;
	clear:both;
	position:relative;
}

#trip_contentbox img {
	bottom:0;
	right:135px;
	position:absolute;
	z-index:2;
}

#trip_contentbox2 {
	position:relative;
	padding-left:85px;
}
.one_fourth {
	display:inline-block;
	width:197.5px;
	height:380px;
	text-align: center;
	margin-top:25px;
	vertical-align:bottom;
	
}

.one_fourth h3 {
	margin-top:30px;
	color: #333333;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 18px;
	text-transform: uppercase;
	
}

.one_fourth p {
	padding:10px !important;
	margin:0 !important;
	font-weight:100;
	margin-top:20px;
	line-height:1.4em;
}

.half {
	display:inline-text;
	width:370px;
	height:80px;
	text-align: left;
	margin-top:25px;
	vertical-align:bottom;
	
}

.half h3 {
	margin-top:30px;
	color: #009933;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 20px;
    padding-left:5px;
	text-transform: uppercase;
	line-height:22px;
	
}

.half p {
	font-size: 14px;
	padding:5px !important;
	margin:0 !important;
	font-weight:400;
	margin-top:20px;
	line-height:1.5em;
	
	

}

.button {
  	background-color: #00B4FF;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding: 5px;
    position: absolute;
    right: 75px;
    text-align: center;
    top: 95px;
    width: 140px;
}

.button a {
    color: #FFFFFF;
}

/* HOME - CONTENT */

#content {
	margin:auto;
	width:960px;
	min-height:460px;
	background-color:#fff;
	position:relative;
	-webkit-box-shadow: 0 0 13px rgba(0,0,0,.1);
	-moz-box-shadow: 0 0 13px rgba(0,0,0,.1);
	box-shadow: 0 0 13px rgba(0,0,0,.1);
}

#content p {
	font-size: 13px;
    font-weight: 100;
    line-height: 1.3em;
    margin-top: 25px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: left;
	}

.calltoaction {
    position: absolute;
    width: 320px;
	bottom:0;
}

.calltoaction a {
	background-color: #00B4FF;
    bottom: 0;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 15.71px;
    font-weight: 700;
    margin: auto;
    padding: 5px 20px;
    text-align: center;
    text-transform: uppercase;
    top: 20px;
}

.one_third {
	float:left;
	width:320px;
	height:400px;
	position:relative;
	text-align: center;
	
}

.one_third img {
	height:119px;
	width:119px;
	margin: auto;
	margin-top:15px;
}

.one_third h1 {
	margin-top:40px;
    color: #009933;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 27px;
    font-weight: 700;
}

.one_third h2 {
	font-family: "Open Sans Condensed";
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	color: #5fae2c;
	margin-top: 5px;
}

/* MOBILE - CONTENT */

#download_bar {
	background-color: #00B4FF;
    height: 85px;
    position: relative;
    top: 60px;
    width: 960px;
	font-family: "Open Sans Condensed";
	margin-bottom: 60px;
	
}

#download_bar h1 {
	padding-left:25px;
	padding-top:30px;
	padding-bottom:20px;
	font-size: 32px;
	font-weight: bold;
	text-transform: uppercase; 
	color:#fff;
	float:left;
}

#download_bar img1 {
	margin-top:10px;
	margin-right: 52px;
	float:right;
	
}

#content_box {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f2f2f2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f2f2f2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
	width: 960px;
	border-bottom: 0.5px solid #e0e0e0;
	position:relative;
	min-height:350px;
}

.content_box1 {
	height:550px;
}

.content_box2 {
	height:420px;
}

.content_box3 {
	height:480px;
}





#content_box h1 {
	font-size: 41.5px;
	font-weight: bold;
	text-transform: uppercase; 
	color:#00b4ff;
	text-align:center;
	padding-top:50px;
}

#content_box h2 {
	font-family: "Open Sans Condensed";
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	color: #333;
	
	letter-spacing:0.06em;

}

#content_box h3 {
	font-family: "Open Sans";
	font-size: 15px;
	color: #333;
	padding-top:20px;
	
	font-weight:400;
	line-height:1.3em;
}

#content_box h4 {
	font-size: 30px;
	font-family: "Open Sans Condensed";
	color:#00b4ff;
	text-align:center;
	padding-top:30px;
	padding-left:30px;
	line-height:35px;
}




.content_box_link a {
	color: #fff !important;
}
.content_box_link {
   	background: none repeat scroll 0 0 #00B4FF;
  	color: #FFFFFF !important;
  	float: right;
  	font-family: "Open Sans";
   	font-size: 12.71px;
   	font-weight: 700;
   	margin-top: 20px;
   	padding: 10px;
   	text-align: center;
   	text-transform: uppercase;
   	width: 180px;
}
	

#screenshot_desc1 {
	float:right;
	margin-top:105px;
	margin-right:135px;
}

#screenshot_desc2 {
	float:left;
	margin-top:160px;
	margin-left:120px;
}

#screenshot_desc3 {
	float:right;
	margin-top:70px;
	margin-right:92px;
	text-align:right;
}

#screenshot_desc4 {
	float:right;
	margin-top:145px;
	margin-right:115px;
	text-align:left;
}

.content_left {
	float:left;
	clear:both;
	text-align:right;
}

.content_right {
	float:right;
	clear:both;
	text-align:left !important;
}


#screenshot_desc1 img {
	float:right;
	padding-left:50px;
}

#screenshot_desc2 img {
	float:left;
	padding-right:50px;
	

}

#screenshot_desc3 img {
	padding-bottom: 30px;
    padding-right: 50px;
}

.screen1 {
	bottom:0;
	position: absolute;
	left:85px;
}

.screen2 {
	bottom:0;
	position: absolute;
	right:120px;
}

.screen3 {
	bottom:0;
	position: absolute;
	left:30px;
}

.screen4 {
bottom: 10px;
    position: absolute;
    right: 80px;

}

/* CONTACT PAGE */

#contact_header {
	height: 80px;
	background-color: #00B4FF;
	
}

#contact_header h1 {
	color: #fff;
	text-align:center;
	vertical-align: middle;
	padding:25px;
}

#contact_tagline {
	font-family: "Open Sans";
	font-size: 21px;
	font-weight: 200;
	color: #666;
	text-align:center;
	margin-top:40px;
	line-height:25px;
}

#contact_tagline a {
	color: #00b4ff;
}

#contact_form {
	width:600px;
	margin:auto;
	margin-top:45px;
}

label {
    display: block;
    margin-bottom: 5px;
}
label, input, button, select, textarea {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}


#about_content {
	margin:auto;
	width:960px;
	min-height:460px;
	background-color:#fff;
	position:relative;
	-webkit-box-shadow: 0 0 13px rgba(0,0,0,.1);
	-moz-box-shadow: 0 0 13px rgba(0,0,0,.1);
	box-shadow: 0 0 13px rgba(0,0,0,.1);
	padding-top:60px;
	padding-bottom:60px;

	
}

#about_content p {
	font-size: 16px;
    font-weight: 100;
    line-height: 1.4em;
    padding-left: 80px;
    padding-right: 80px;
    text-align: left;
    font-family: "Open Sans";
	color: #666;

	}
	
#about_content h1 {
	font-size: 20px;
    font-weight: bold;
    line-height: 1.4em;
    padding-left: 80px;
    padding-right: 80px;
    text-align: left;
    font-family: "Open Sans";
	color: #009933;

}

#about_content h2 {
	font-size: 20px;
    font-weight: bold;
    line-height: 1.4em;
    padding-left: 80px;
    padding-right: 80px;
    text-align: center;
    font-family: "Open Sans";
	color: #00b4ff;

}

#about_content h3 {
	font-size: 20px;
    font-weight: bold;
    line-height: 1.4em;
    padding-left: 80px;
    padding-right: 80px;
    text-align: center;
    font-family: "Open Sans";
	color: #333;

}

#about_founders {
	font-size: 28px;
    font-weight: bold;
    line-height: 1.4em;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 80px;
    text-align: center;
    font-family: "Open Sans Condensed";
	color: #009933;

}
.about_padding {
	padding-left:85px;
}
.about_half {
	display:inline-block;
	width:380px;
	height:380px;
	text-align: left;
	margin-top:0px;
	vertical-align:bottom;
	padding:10px;
	
	
}

.about_half h3 {
	margin-top:20px;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 18px;
    padding-left:5px;
    
	
}

.about_half p {
	padding:5px !important;
	margin:0 !important;
	font-weight:100;
	margin-top:20px;
	line-height:1.3em;
	    font-size: 14px;

}



select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    border-radius: 4px 4px 4px 4px;
    color: #555555;
    display: inline-block;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    margin-bottom: 10px;
    padding: 4px 6px;
    vertical-align: middle;
}

.input-block-level {
    -moz-box-sizing: border-box;
}

.submit_btn {
    background-color: #00B4FF;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 15.71px;
    font-weight: 700;
	bottom:70px;
	text-align:center;
	width:100px;
	padding-top:10px;
	padding-bottom:10px;
	float:right;
	margin-top:10px;
}

.submit_btn a{
    color: #FFFFFF;
}

.form_label {
	margin-top:10px;
	color: #666666;
    font-family: "Open Sans Condensed";
    font-size: 18px;
    font-weight: 600;
}

label {
    display: block;
    margin-bottom: 5px;
}
	
input[type=text], textarea {
	-webkit-transition: all 0.30s ease-in-out;
  	-moz-transition: all 0.30s ease-in-out;
  	-ms-transition: all 0.30s ease-in-out;
  	-o-transition: all 0.30s ease-in-out;
  	outline: none;
  	background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
	width:604px;
	height:37px;
}

input[type=text]:focus, textarea:focus {
  	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	border: 1px solid rgba(81, 203, 238, 1);
}

/* FOOTER */

footer {
	clear:both;
	width:100%;
	/*background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5); */
	margin:auto;
	position:relative;
	font-family: "Open Sans";
	color: #565454;
	padding-bottom: 32000px;
    margin-bottom: -32000px;
}

footer, .push {
	height: 50px; /* .push must be the same height as .footer */
}

footer a {
	color: #000;
	font-size:14px;
	font-weight: bold;
	}

#footer_inner {
	margin-top:15px !important;
	width:960px;
	margin:auto;
}

.footer_left {
	float:left;
	margin-top: 10px;
	font-family: "Open Sans";
}

.footer_left a {
	text-transform:uppercase;
	font-size: 13px;
	font-weight: bold;
	color: #494949;

	
}

.footer_left p {
	color: #515151;
	margin-top:5px;
	font-size: 11px;
	
}
.footer_right {
	float:right;
	margin-top: 10px;
}