@(tripId: String, userId: String)
@import org.joda.time.DateTimeConstants;


<script>
        $('#gogoBookingSubmit').on('click', function() {
            var a = $('#gogoBookingForm').validate().form();

            if ($('#gogoBookingForm').validate().form()) {
                postForm('/gogo/importBookings/@tripId', 'gogoBookingForm');
                $('#dynamicModalBody' ).modal('hide');
            }
            return false;
        });
</script>

<div id="dynamicModalBody" class="modal container hide fade documentModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 style="text-align:center;">GOGO Vacations</h2>
    </div>
    <div class="modal-body" style="position:relative;font-family: 'Open Sans Condensed', sans-serif;">
        <legend>GOGO Vacations & Umapped
        </legend>
        <div style="padding-left: 40px">
            <img src="https://s3.amazonaws.com/static-umapped-com/public/img/suppliers/gogo.jpg" style="height: 50px;float:right">
            <p style="padding-bottom: 10px">Please enter your GOGO Vacations credentials and booking confirmation number to import.</p>
            <form id="gogoBookingForm" autocomplete="new-password">
            <div class="row">
                <div class="span3">
                    <label>User Name</label>
                    <input type="text" class="required" id="inGogoUserId" name="inGogoUserId" @if(userId != null){value="@userId"} else {value=""}>
                </div>
                <div class="span3">
                    <label>Password</label>
                    <input type="password" class="required" id="inGogoPwd" name="inGogoPwd" value="">
                </div>
            </div>
            <div class="row" style="margin-top: 10px">
                <div class="span3">
                    <label>Booking Confirmation Number</label>
                    <input type="text" class="required" maxlength="6" minlength="6" style="text-transform: uppercase" id="inGogoBookingId" name="inGogoBookingId" value="">
                </div>
                <div class="span3">
                    <label>&nbsp;</label>
                    <button type="submit" class="btn btn-primary " id="gogoBookingSubmit" data-dismiss="modal" aria-hidden="true">Import
                    </button>
                </div>
            </div>

        </form>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>

</div>
