@(m:  com.mapped.publisher.view.BaseView)

@if(m.message!=null && m.message.length > 0) {
  <--alertMsg-->
  <div id="alertMsg">
    <h4> @m.message</h4>
  </div>
  <--endAlertMsg-->
}

  <--pageTitle-->
<div id="pageTitle">
  <h1 class="page-title">Virtuoso Cruise Import</h1>
</div>
  <--endPageTitle-->

  <--pageHeader-->
<div id="pageHeader">
</div>
  <--endPageHeader-->

  <--pageBody-->
<div id="pageBody">
  <script>
    $( "#fromStartDate" ).datepicker({
      defaultDate: "+1w",
      changeMonth: true,
      numberOfMonths: 2
    });

    $( "#toStartDate" ).datepicker({
      defaultDate: "+1w",
      changeMonth: true,
      numberOfMonths: 2
    });

    function resetFromDate() {
    $('#fromStartDate').val('');
    }

    function resetToDate() {
    $('#toStartDate').val('');
    }


  </script>

  <form id="cruiseDownloadForm">
    <legend>Step 1 - Download the cruises from virtuoso.com</legend>
    <label>Start Date (e.g. 2015-10-30)</label>
    <input type="text" id="startDate" name="inStartDate" value="">

    <label>End Date Year (e.g. 2015-10-30)</label>
    <input type="text" id="endDate" name="inEndDate" value="">

    <label>Term (e.g. ship or cmpy name)</label>
    <input type="text" id="term" name="inTerm" value="">

    <button type="submit"  class="btn btn-success btn-large" onclick="javascript:postForm('/poi/feed/cruise/download ', 'cruiseDownloadForm');return false;">Download  </button>
  </form>
  <form id="cruiseDownloadUrlForm">
    <legend>Step 1a - Download the cruises from virtuoso.com with a direct URL</legend>
    <label>URL</label>
    <input type="text" id="url" name="inUrl" value="">
    <button type="submit"  class="btn btn-success btn-large" onclick="javascript:postForm('/poi/feed/cruise/downloadurl ', 'cruiseDownloadUrlForm');return false;">Download  </button>
  </form>
  <br>
  This will initiate the download from virtuoso.com and save the data in the TMPLT_IMPORT table... The downloaded data is keyed by the Virtuoso ID and hashed to detect changes. When a rec has changed, the sync_ts is reset to null so that it can be updated.
  <br><br>

  <form id="cruiseDownloadXmlForm">
    <legend>Step 1b - Download the cruises from Virtuoso feed on S3 Bucket </legend>
    <div>
      <div class="span4">
        <label> Enter Filename on S3 </label>
        <input type="text" id="inFileName" name="inFileName" style="width: 85%" value="">
      </div>

      <div class="span2">
        <label> From </label>
        <div class="input-append date">
          <span class="add-on"><i class="fa fa-calendar"></i></span>
          <input type="text" id="fromStartDate" readonly class="input-small" name="fromStartDate" value="">
          <btn class="btn" onclick="javascript:resetFromDate();"> <span class=""><i class="fa fa-times"></i></span></btn>
        </div>
      </div>

      <div class="span2">
        <label> To </label>
        <div class="input-append date">
          <span class="add-on"><i class="fa fa-calendar"></i></span>
          <input type="text" id="toStartDate" readonly class="input-small" name="toStartDate" value="">
          <btn class="btn" onclick="javascript:resetToDate();"> <span class=""><i class="fa fa-times"></i></span></btn>
        </div>
      </div>

      <div class="span2">
        <label></label>
        <button type="submit"  class="btn btn-success btn-large" style="margin-top: 10px" onclick="javascript:postForm('/poi/feed/cruise/downloadxml ', 'cruiseDownloadXmlForm');return false;">Download  </button>
      </div>
    </div>
    <br/>
    <div class="span12" style="margin-bottom: 40px; margin-top: 20px; margin-left: 0">
      This will initiate the download from the S3 Bucket and save the data in the TMPLT_IMPORT table... The downloaded data is keyed by the Virtuoso ID and hashed to detect changes. When a rec has changed, the sync_ts is reset to null so that it can be updated.
    </div>
  </form>
  <br>
  <br><br>

  <legend>Step 2 - Create POI Recs for Ships and ports </legend>
  For all recs in the TMPLT_IMPORT table where the sync_ts is null - check to see if we need to insert ships and cruise stops in the POI table.
  <br/>
  <button   class="btn btn-danger btn-large" onclick="javascript:getPage('/poi/feed/cruise/matchPoi');return false;">Match POI  </button>
  <br>
  <br><br>
  <legend>Step 3 - Create TEMPLATE and TMPLT_DETAILS </legend>
  This will initiate the import of all new cruise recs from the TMPLT_IMPORT table... The cruise template with all the stops and links to the POIs will be inserted/updated in the TEMPLATE, TMPLT_DETAILS, TMPLT_ACTIVITY, TMPLT_CRUISE
  <br/>
  <button   class="btn btn-success btn-large" onclick="javascript:getPage('/poi/feed/cruise/importCruise');return false;">Import Cruises  </button>
  <br>
  <br>
  <legend>Step 4 - Download photos for Cruise Ships </legend>
  This will initiate the import of up to 5 photos to cruise ships
  <br/>
  <button   class="btn btn-success btn-large" onclick="javascript:getPage('/poi/feed/cruise/cruiseshipPhotos');return false;">Import Cruise Ship Photos  </button>
  <br>
  <br>
  <button   class="btn btn-success btn-large" onclick="javascript:getPage('/poi/feed/cruise/shoretrips/port');return false;">Match ShoreTrips Ports</button>
  <br/>
  <br/>
  <br/>
  <form id="cruiseAmenitiesForm">
    <legend>TEST - Download the Virtuoso Cruise Amenities</legend>
    <label>Filename on S3 (umappedpdf)</label>
    <input type="text" id="filename" name="filename" value="">
    <button type="submit"  class="btn btn-success btn-large" onclick="javascript:postForm('/poi/feed/cruise/amenities ', 'cruiseAmenitiesForm');return false;">Download Amenities  </button>
  </form>


</div>
  <--endPageBody-->