@(m:  com.mapped.publisher.view.TripBookingView)
@import com.mapped.publisher.common.SecurityMgr.AccessLevel
@import com.mapped.publisher.view.TabType
@import com.mapped.publisher.common.SecurityMgr.AccessLevel
@import com.mapped.publisher.persistence.{FeedHelperGlobusTours, FeedSourcesInfo}
@import com.mapped.publisher.view.{EnhancedTripBookingDetailView, TabType}
@import com.mapped.publisher.view.UmFlightReservationView
@import com.mapped.publisher.view.UmAccommodationReservationView
@import com.mapped.publisher.view.UmCruiseReservationView
@import com.mapped.publisher.view.UmActivityReservationView
@import com.mapped.publisher.view.UmTransferReservationView
@import com.umapped.persistence.enums.ReservationType
@import com.mapped.publisher.common.Capability;
@import com.mapped.publisher.common.BookingSrc


  @m.getChronologicalBookings()

@if(m!=null && m.message != null && m.message.length > 0) {
<--alertMsg-->
<div id="alertMsg">
    <h4> @m.message</h4>
</div>
<--endAlertMsg-->
}

<--pageTitle-->
<div id="pageTitle">


</div>
<--endPageTitle-->

<--pageHeader-->
<div id="pageHeader">
</div>
<--endPageHeader-->


<--pageBody-->
<div id="pageBody">
    <script>
      function toTop() {
        $('html,body').animate({
            scrollTop: $("#date_top").offset().top
        });
      }

      var selectedBookings = new Array();

      function addAllBookings(){
        @if(m.orderedBookings != null) {
          @for(p <- m.orderedBookings) {
            @if((m.accessLevel.ge(AccessLevel.OWNER) || (m.accessLevel.ge(AccessLevel.APPEND)) && p.createdById.equals(m.loggedInUserId))) {
              @if(!(p.importSrc != null && p.importSrcId != null &&  p.importSrc == BookingSrc.ImportSrc.API && p.importSrcId.contains("CLIENTBASE")) && !(p.importSrc != null && p.importSrc == BookingSrc.ImportSrc.CLIENT_BASE_PDF)) {
                addBooking('@p.getDetailsId');
              }
            }
          }
        $('#selectAll').hide();
        $('#deselectAll').show();
        }
      }

      function removeAllBookings() {
        @if(m.orderedBookings != null) {
          @for(p <- m.orderedBookings) {
            @if((m.accessLevel.ge(AccessLevel.OWNER) || (m.accessLevel.ge(AccessLevel.APPEND)) && p.createdById.equals(m.loggedInUserId))) {
              @if(!(p.importSrc != null && p.importSrcId != null &&  p.importSrc == BookingSrc.ImportSrc.API && p.importSrcId.contains("CLIENTBASE")) && !(p.importSrc != null && p.importSrc == BookingSrc.ImportSrc.CLIENT_BASE_PDF)) {
                removeBooking('@p.getDetailsId');
              }
            }
          }
        $('#selectAll').show();
        $('#deselectAll').hide();
        }
      }

      function addBooking (bookingId) {
        if ($.inArray(bookingId, selectedBookings) == -1) {
            selectedBookings.push(bookingId);
            var addId = '#add'+bookingId;
            var removeId = '#remove'+bookingId;
            $(addId).hide();
            $(removeId).show();
        }
      }

      function removeBooking (bookingId) {
        var index = $.inArray(bookingId, selectedBookings)
        if (index > -1) {
            selectedBookings.splice(index, 1);
            var addId = '#add'+bookingId;
            var removeId = '#remove'+bookingId;
            $(removeId).hide();
            $(addId).show();
        }
      }

      function groupBookings () {
        if (selectedBookings.length > 0) {
            getPage('/cb/trip/@m.tripId/group?bookings=' + selectedBookings);
        } else {
            alert ("No selected bookings to import");
        }
      }
    </script>



    @if(m.orderedBookings != null && m.orderedBookings.size() > 0) {
        <div class="row-fluid">
            <div class="span8">
                <h1 class="page-title">
                    @m.tripName - @m.tripStartDatePrint to @m.tripEndDatePrint </h1>
            </div>
            <div class="span4 pull-right">
                <button class="btn btn-info btn-large" id="selectAll" style = "padding-left:20px;padding-right:20px" onclick="javascript:addAllBookings();">Select All</button>
                <button class="btn btn-info btn-large" style="display: none; padding-left:20px;padding-right:20px" id="deselectAll" onclick="javascript:removeAllBookings();">Remove All</button>
                <a class="btn btn-success btn-large" style="padding-left:20px;padding-right:20px" onclick="javascript:groupBookings();return false;">Next</a>
                <a class="btn btn-info btn-large" style="padding-left:20px;padding-right:20px" href="/cb/home">Close</a>
            </div>
        </div>

        <!-- contentHeader -->
        <div class="row-fluid">
            <div class="span12" id="contentHeader">
                Select Bookings to import to your Clientbase rescard. Then click "Next" to group bookings.
            </div>
        </div>

        <div id="allBookingList" style="background-color: #ffffff ; min-height: 400px">

            @for( (k, i) <- m.chronologicalDates.zipWithIndex) {
                @if(k.trim().length() > 0) {
                    <div id="date_@i" style="padding:0px ; width: 100% ; margin: auto ; margin-top: 0px ; padding-bottom:20px ; background-color: #ffffff ;">
                        <div style="margin: auto ; width: 100% ; margin-left:2px ; padding-right:4px ; border-bottom: 2px solid #000000">
                            <div style="padding-left: 0px">
                                <h2 style="color: #000000">
                                    @k <a style="font-size:13px ; font-weight: 500 ;" href="" onclick="javascript:toTop();return false;">
                                    Top</a>
                                </h2>
                            </div>
                        </div>
                }
                <ul id="sortNoteListDiv_@i" style="list-style-type: none ; margin-left:0px ; padding: 0 ;">
                    @for( (p, j) <- m.chronologicalBookings.get(k).zipWithIndex) {
                        <li id="@p.getDetailsId">
                            @if(p.noteId != null && p.noteId > 0) {
                            } else {
                                @if(p.detailsTypeId.getRootLevelType == ReservationType.FLIGHT) {
                                    @views.html.clientbase.details.flight(m, p.asInstanceOf[UmFlightReservationView], 1)
                                } else {
                                    @if(p.detailsTypeId.getRootLevelType == ReservationType.HOTEL) {
                                        @views.html.clientbase.details.hotel(m, p.asInstanceOf[UmAccommodationReservationView], 1)
                                    } else {
                                        @if(p.detailsTypeId.getRootLevelType == ReservationType.CRUISE) {
                                            @views.html.clientbase.details.cruise(m, p.asInstanceOf[UmCruiseReservationView], 1)
                                        } else {
                                            @if(p.detailsTypeId.getRootLevelType == ReservationType.TRANSPORT) {
                                                @views.html.clientbase.details.transport(m, p.asInstanceOf[UmTransferReservationView], 1)
                                            } else {
                                                @if(p.detailsTypeId == ReservationType.RESTAURANT || p.detailsTypeId == ReservationType.EVENT) {
                                                    @views.html.clientbase.details.restaurant(m, p.asInstanceOf[UmActivityReservationView], 1)
                                                } else {
                                                    @if(p.detailsTypeId != null) {
                                                        @if(p.detailsTypeId == ReservationType.CRUISE_STOP) {
                                                            <!-- DO NOT DISPLAY CRUISE STOPS -->
                                                            <!-- views.html.clientbase.details.cruiseStop(m, p.asInstanceOf[UmActivityReservationView], 1) -->
                                                        } else {
                                                            @views.html.clientbase.details.activity(m, p.asInstanceOf[UmActivityReservationView], 1)
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        </li>
                    }
                </ul>

                @if(k.trim().length() > 0) {
                    </div>
                }
            }
        </div>
    } else {
        <div><h2>No Bookings found</h2></div>
    }



</div>


</div>
<--endPageBody-->


