@(m:  com.mapped.publisher.view.TripBookingView, t: Map[String, com.mapped.publisher.view.ClientBaseBookingGroupView], bookingIdsList : String)
@import com.mapped.publisher.common.SecurityMgr.AccessLevel
@import com.mapped.publisher.view.TabType
@import com.mapped.publisher.common.SecurityMgr.AccessLevel
@import com.mapped.publisher.persistence.{FeedHelperGlobusTours, FeedSourcesInfo}
@import com.mapped.publisher.view.{EnhancedTripBookingDetailView, TabType}
@import com.mapped.publisher.view.UmFlightReservationView
@import com.mapped.publisher.view.UmAccommodationReservationView
@import com.mapped.publisher.view.UmCruiseReservationView
@import com.mapped.publisher.view.UmActivityReservationView
@import com.mapped.publisher.view.UmTransferReservationView
@import com.umapped.persistence.enums.ReservationType
@import com.mapped.publisher.common.Capability;
@import com.mapped.publisher.common.BookingSrc


@m.getChronologicalBookings()

@if(m!=null && m.message != null && m.message.length > 0) {
<--alertMsg-->
<div id="alertMsg">
  <h4> @m.message</h4>
</div>
<--endAlertMsg-->
}

<--pageTitle-->
<div id="pageTitle">


</div>
<--endPageTitle-->

<--pageHeader-->
<div id="pageHeader">
</div>
<--endPageHeader-->


<--pageBody-->
<div id="pageBody">
  <script>
      function toTop() {
        $('html,body').animate({
            scrollTop: $("#date_top").offset().top
        });
      }

      var selectedBookings = new Array();

      function addBooking (bookingId) {
        if ($.inArray(bookingId, selectedBookings) == -1) {
            selectedBookings.push(bookingId);
            var addId = '#add'+bookingId;
            var removeId = '#remove'+bookingId;
            $(addId).hide();
            $(removeId).show();
        }
      }

      function removeBooking (bookingId) {
        var index = $.inArray(bookingId, selectedBookings)
        if (index > -1) {
            selectedBookings.splice(index, 1);
            var addId = '#add'+bookingId;
            var removeId = '#remove'+bookingId;
            $(removeId).hide();
            $(addId).show();
        }
      }

      function groupBookings () {
        if (selectedBookings.length > 1) {
            getPage('/cb/trip/@m.tripId/group?bookings=@bookingIdsList&groupedIds=' + selectedBookings);
        } else {
            alert ("Must select at least 2 bookings to group");
        }
      }

      function ungroupBookings () {
        if (selectedBookings.length > 0) {
            getPage('/cb/trip/@m.tripId/ungroup?bookings=@bookingIdsList&ungroupedIds=' + selectedBookings);
        } else {
            alert ("No selected bookings to ungroup");
        }
      }

      function importBookings () {
        if (@bookingIdsList.length > 0) {
            window.location = "/cb/trip/@m.tripId/import?bookings=@bookingIdsList";
        } else {
            alert ("No selected bookings to import");
        }
      }
    </script>



  @if(t != null && t.size() > 0) {
    <div class="row-fluid">
      <div class="span8">
        <h1 class="page-title">
          @m.tripName - @m.tripStartDatePrint to @m.tripEndDatePrint </h1>
      </div>
      <div class="span4 pull-right">
        <a class="btn btn-success btn-large" style="padding-left:20px;padding-right:20px" onclick="javascript:ungroupBookings();return false;">UnGroup</a>
        <a class="btn btn-success btn-large" style="padding-left:20px;padding-right:20px" onclick="javascript:groupBookings();return false;">Group</a>
        <a class="btn btn-success btn-large" style="padding-left:20px;padding-right:20px" onclick="javascript:importBookings();return false;">Import</a>
        <a class="btn btn-info btn-large" style="padding-left:20px;padding-right:20px" href="/cb/home">Close</a>
      </div>
    </div>

    <!-- contentHeader -->
    <div class="row-fluid">
      <div class="span12" id="contentHeader" style="margin: 20px 0">
        To Group or Ungroup any booking(s): Select bookings, then click "Group" or "Ungroup" button.
        <br/>
        Press the "import" button to import all bookings to your Clientbase rescard.
      </div>
    </div>

    <div id="allBookingList" style="background-color: #ffffff ; min-height: 400px">


        <ul id="" style="list-style-type: none ; margin-left:0px ; padding: 0 ;">

          @for( (k, v) <- t) {
            <li id="@k">
              <div class="row-fluid">
                <div class="block span12">

                  <a href="#editGroupModal_@k" data-toggle="modal" class="btn btn-info pull-right" style="margin: 20px"> Reservation Details </a>
                  <br/>

                  @for( (p, j) <- v.bookingDetailViews.zipWithIndex) {

                    @if(p.noteId != null && p.noteId > 0) {
                    } else {

                      @if(p.detailsTypeId.getRootLevelType == ReservationType.FLIGHT) {
                          @views.html.clientbase.details.flight(m, p.asInstanceOf[UmFlightReservationView], 1)
                        } else {
                          @if(p.detailsTypeId.getRootLevelType == ReservationType.HOTEL) {
                            @views.html.clientbase.details.hotel(m, p.asInstanceOf[UmAccommodationReservationView], 1)
                          } else {
                            @if(p.detailsTypeId.getRootLevelType == ReservationType.CRUISE) {
                              @views.html.clientbase.details.cruise(m, p.asInstanceOf[UmCruiseReservationView], 1)
                            } else {
                              @if(p.detailsTypeId.getRootLevelType == ReservationType.TRANSPORT) {
                                @views.html.clientbase.details.transport(m, p.asInstanceOf[UmTransferReservationView], 1)
                              } else {
                                @if(p.detailsTypeId == ReservationType.RESTAURANT || p.detailsTypeId == ReservationType.EVENT) {
                                  @views.html.clientbase.details.restaurant(m, p.asInstanceOf[UmActivityReservationView], 1)
                                } else {
                                  @if(p.detailsTypeId != null) {
                                    @if(p.detailsTypeId == ReservationType.CRUISE_STOP) {
                                      <!-- DO NOT DISPLAY CRUISE STOPS -->
                                      <!-- views.html.clientbase.details.cruiseStop(m, p.asInstanceOf[UmActivityReservationView], 1) -->
                                    } else {
                                      @views.html.clientbase.details.activity(m, p.asInstanceOf[UmActivityReservationView], 1)
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }


                    }
                  }
                </div>
              </div>
            </li>
          }
        </ul>

    </div>
  } else {
    <div><h2>No Bookings found</h2></div>
  }


  <!-- modal for photo delete -->
  @if(t != null && t.size() > 0) {
    @for( (k, v) <- t) {
      <script>
        $('#editGroupSubmit_@k').click(function() {
        $('#editGroupModal_@k').modal('hide');
        });
      </script>

      <div id="editGroupModal_@k" class="modal hide fade">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3>Edit Reservation</h3>
        </div>
        <div class="modal-body">
          <p>Enter Reservation Info</p><br/>
          <form id="editGroupForm_@k">
            <div class="row-fluid" style="padding-top: 20px;">
              <input type="hidden" id="groupId" name="inGroupId" value="@k">
              <input type="hidden" id="tripId" name="inTripId" value="@m.tripId">
              <input type="hidden" id="inBookingIds" name="inBookingIds" value="@bookingIdsList">

              <div class="span3">
                <label> Provider Type </label>
                <select class="input-block-level" type="text" id="inResType" name="inResType" >
                  <option  value="0" @if(v.resType !=null && v.resType.equals("0")){selected}>Air</option>
                  <option  value="1" @if(v.resType !=null && v.resType.equals("1")){selected}>Hotel</option>
                  <option  value="2" @if(v.resType !=null && v.resType.equals("2")){selected}>Car</option>
                  <option  value="3" @if(v.resType !=null && v.resType.equals("3")){selected}>Cruise</option>
                  <option  value="4" @if(v.resType !=null && v.resType.equals("4")){selected}>Insurance</option>
                  <option  value="5" @if(v.resType !=null && v.resType.equals("5")){selected}>Miscellaneous</option>
                  <option  value="6" @if(v.resType !=null && v.resType.equals("6")){selected}>Rail</option>
                  <option  value="7" @if(v.resType !=null && v.resType.equals("7")){selected}>Tour</option>
                  <option  value="8" @if(v.resType !=null && v.resType.equals("8")){selected}>Service Fee</option>
                  <option  value="9" @if(v.resType !=null && v.resType.equals("9")){selected}>Transportation</option>
                </select>
              </div>
              <div class="span6">
                <label> Reservation Vendor </label>
                <input class="input-block-level" type="text" id="inVendorName" name="inVendorName" value="@v.vendorName">
              </div>
              <div class="span3" style="display:none">
                <label> Vendor Code </label>
                <input class="input-block-level" type="text" id="inVendorCode" name="inVendorCode" value="@v.vendorCode">
              </div>
              <div class="span3">
                <label> Total Cost </label>
                <input class="input-block-level" type="text" id="inTotalPrice" name="inTotalPrice" value="@v.totalPrice">
              </div>
              <div class="span3">
                <label> Total Taxes </label>
                <input class="input-block-level" type="text" id="inTotalTaxes" name="inTotalTaxes" value="@v.totalTaxes">
              </div>
              <div class="span4">
                <label> Confirmation Number </label>
                <input class="input-block-level" type="text" id="inConfirmationNo" name="inConfirmationNo" value="@v.confirmationNo">
              </div>
            </div>

            <button type="submit" class="btn btn-info pull-right" id="editGroupSubmit_@k" onclick="javascript:postForm('/cb/trip/editGroup', 'editGroupForm_@k');return false;">Save</button>
          </form>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    }
  }

</div>
<--endPageBody-->


