@(m:  com.mapped.publisher.view.TripsView)
@if(m.message!=null && m.message.length > 0) {
<--alertMsg-->
<div id="alertMsg">
    <h4> @m.message</h4>
</div>
<--endAlertMsg-->
}

<--pageTitle-->
<div id="pageTitle">
    <h1 class="page-title"> My Trips   </h1>
</div>
<--endPageTitle-->

<--pageHeader-->
<div id="pageHeader">
</div>
<--endPageHeader-->

<--pageBody-->
<div id="pageBody">


    <div class="">
        <legend>
            <div style="font-family:'Open Sans Condensed',sans-serif;">SEARCH TRIPS</div>
        </legend>
        <form id="tripSearchForm">
            <div class="row-fluid">
                <div class="span4">
                    <Label> Keyword <em>*</em></Label>
                    <input type="text" placeholder="Enter search keyword" id="searchTerm" name="inSearchTerm" class="required input-block-level" minLength="2"
                           @if(m.searchTerm != null && m.searchTerm.length() > 0) {
                    value="@m.searchTerm"
                    }
                    >
                </div>
                <div class="span3">
                    <label> Trip Status</label>
                    <select name="searchStatus" id="searchStatus">
                        <option selected="Y" value=3>All</option>
                        <option value=0>Published</option>
                        <option value=1>Pending</option>

                    </select>

                </div>
                <div class="span3">
                    <br/>
                    @if(m != null && m.tripAgencyList != null) {
                    <select style="display: none" name="inCmpyId" id="cmpyId">

                        @for((key, value) <- m.tripAgencyList) {
                        @if(key == m.cmpyId) {
                        <option selected="Y" value=@key>@value</option>
                        } else {
                        <option value=@key>@value</option>
                        }
                        }
                    </select>
                    }
                    @if(m.displayCmpyTabs){
                        <input type="checkbox" name="inAllTrips" id="allTrips" value="true" @if(m.allTrips){checked}> Include all Company Trips
                        <br/>
                    }
                    <input type="checkbox" name="inArchived" id="archived" value="true" @if(m.searchArchives){checked}> Include Past trips
                </div>
                <div class="span2 pull-right">
                    <label>&nbsp;</label>
                    <button type="submit" class="btn btn-info btn-large pull-right"
                            onclick="javascript:postForm('/cb/searchTrips','tripSearchForm');return false;">Search
                    </button>
                </div>
            </div>


        </form>
    </div>
    <br>

    <div class="" style="">
        <div class="subTitle">
            <div id="searchMsg" style="font-family:'Open Sans Condensed',sans-serif;">Search Results  @if(m.searchTerm != null && m.searchTerm.length() > 0) { for: @m.searchTerm }</div>
        </div>


        <table class="table " id="tripResults">
            <thead>
            <tr>
                <th style="width:80px"></th>
                <th style="width:30%">NAME</th>
                <th style="width:20%">DATE</th>
                <th style="width:10%">STATUS</th>
                <th style="width:10%">CREATED BY</th>
                <th style="width:25%">COMPANY</th>
                <th style="width:5%"></th>
            </tr>
            </thead>
            <tbody>

            @if(m.searchResults != null && m.searchResults.size() > 0) {
            @for(p <- m.searchResults){
            <tr style="height: 62px">
                <td>
                    @if(p.cover!=null) {
                    <div style="background-image:url(@p.cover.url);center;width:62px;height:62px;margin:auto;background-size:cover;" >
                        &nbsp;
                    </div>
                    } else {
                    <div style="background-image:url(@m.imgUrl/img/photo-placeholder-gray.png);center;width:62px;height:62px;background-size:cover;">
                        &nbsp;
                    </div>
                    }
                </td>
                <td style="vertical-align: middle">
                    @if(!p.isComplete) {
                    <a onclick="javascript:getPage('/cb/trip/@p.tripId');"> @p.tripName </a>
                    } else {
                    <h5> @p.tripName </h5>
                    }
                </td>
                <td style="vertical-align: middle">
                    <h5> @p.tripStartDate - @p.tripEndDate </h5>
                </td>
                <td style="vertical-align: middle">
                    @if(p.tripStatus == 1){
                    <h5>Pending</h5>
                    } else {
                    <h5>Published</h5>
                    }
                </td>
                <td style="vertical-align: middle">
                    <h5>@p.userId </h5>
                </td>
                <td style="vertical-align: middle">
                    <h5>@p.tripAgency </h5>
                </td>

                @if(p.userName != null && p.userName.length > 0) {
                <td style="vertical-align: middle">
                    @p.userName
                </td>
                }
                <td style="vertical-align: middle">
                    @if(!p.isComplete) { <a   class="btn btn-info pull-right" onclick="javascript:getPage('/cb/trip/@p.tripId');"> View </a>}

                </td>
            </tr>
            }
            @if(m.nextPos>0 || m.nextAdminPos >0) {
            <tr id="moreRowBtn">
                <td colspan="7"> <a onclick="javascript:$('#moreRowBtn').remove();getSearchResult('/cb/searchTrips?inSearchTerm=@m.searchTerm&inCmpyId=@m.cmpyId&inStartPos=@m.nextPos&inStartAdminPos=@m.nextAdminPos&searchStatus=@m.searchStatus&inTableName=tripResults&inAllTrips=@m.allTrips&inArchived=@m.searchArchives','tripResults');" > Load More Results</a></td>


            </tr>
            }

            } else {
            <tr>
                <td colspan="7">
                    @if(m.prevPos == 0 && m.prevAdminPos == 0 ){
                    <h4> No Trips Found</h4>

                    }
                </td>
            </tr>
            }


            </tbody>
        </table>


    </div> <!--  content -->

    <div id="dynamicModal">
    </div>

</div>
<--endPageBody-->
