@(m: com.mapped.publisher.view.TripBookingView)
@import com.mapped.publisher.common.SecurityMgr.AccessLevel
@import com.mapped.publisher.view.TabType

<div id="AfarTab" @if(m.activeTab == TabType.AFAR) { class='tab-pane active' } else { class='tab-pane fade'}>


  <div class="tabbable"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs" id="afarSubTabs">
      <li class="active">
        <a href="#afarDestTab" data-toggle="tab">
          <i class="fa fa-globe pull-left"></i>AFAR Destination Guides</a>
      </li>
      <li>
        <a href="#afarPoiTab" data-toggle="tab">
          <i class="fa fa-map-pin pull-left"></i> AFAR Points of Interest</a>
      </li>
    </ul>


    <div class="tab-content">
      <div id="afarDestTab" class="tab-pane active ">
        <div class="row-fluid">
          <div class="alert fade in span6" id="afarAlertMsg" style="display: none; padding-top: 8px;">
            <button type="button" class="close">×</button>
            <h4 style="margin: 0 5px;"></h4>
          </div>
        </div>

        <div id="afarCities-filters" class="" style="padding: 10px">
          <div class="row-fluid">
            <div class="span3">
              <div class="row-fluid">
                <form name="afarform">
                  <label>AFAR Cities</label>
                  <select class="input-block-level" id="AvailableAfarCities" onchange="javascript: getFilteredAfarCityChange()"></select>
                  <input class="input-block-level" type="text" id="AfarCity" style="display:none" placeholder="Enter City" >
                  <input type="hidden" id="AfarCityId">
                  <a onclick="javascript:toggleAfarCities()" title='Click here to search for a different city'>Choose a different city</a>
                </form>
              </div>
              <div class="row-fluid addToItineraryBtn"></div>
            </div>
            <div class="span8">
              <div class="row-fluid" id="Afar-results" style="padding: 10px;"></div>
              <div class="row-fluid addToItineraryBtn" style="text-align: center"></div>
            </div>
          </div>
        </div>
      </div>

      <div id="afarPoiTab" class="tab-pane ">
        <div class="row-fluid">
          <div class="alert fade in span6" id="afarPoiAlertMsg" style="display: none; padding-top: 8px;">
            <button type="button" class="close">×</button>
            <h4 style="margin: 0 5px;"></h4>
          </div>
        </div>

        <div id="afarPois-filters" class="" style="padding: 10px">
          <div class="row-fluid">
            <div class="span3">
              <div class="row-fluid">
                <form name="afarPoiform">
                  <label>AFAR Cities</label>
                  <select class="input-block-level" id="AvailableAfarPoiCities" onchange="javascript: getFilteredAfarPoiCityChange()"></select>
                  <input class="input-block-level" type="text" id="AfarPoiCity" style="display:none" placeholder="Enter City" >
                  <input type="hidden" id="AfarPoiCityId">
                  <a onclick="javascript:toggleAfarPoiCities()" title='Click here to search for a different city'>Choose a different city</a>
                </form>
              </div>
            </div>
            <div class="span2">
              <label>Type</label>
              <select class="input-block-level" id="afarPoiType" onchange="javascript:getFilteredAfarPois('@m.tripId',0, true)">
                <option value="All" selected="selected">All</option>
                <option value="Stay">Stay</option>
                <option value="Eat">Eat</option>
                <option value="Drink">Drink</option>
                <option value="Do">Do</option>
                <option value="Shop">Shop</option>
              </select>
            </div>
            <div class="span3">
              <label id="afarPoiKeywordLbl" style="display: none">Keyword</label>
              <input type="text" class="input-block-level" id="afarPoiKeyword" style="display: none" value="">

            </div>
            <div class="span3">
              <label id="">&nbsp;</label>
              <button class="btn btn-info" id="afarPoiSearchBtn" onclick="javascript:getFilteredAfarPois('@m.tripId',0, true)" style="display: none">Search </button>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span6">
            </div>
            <div class="span6">
              <div class="pull-right">
                <button class="btn btn-info btn-large" id="selectAllAfarPois" style = "padding-left:20px;padding-right:20px" onclick="javascript:addAllAfarPois();">Select All</button>
                <button class="btn btn-info btn-large" style="display: none; padding-left:20px;padding-right:20px" id="deselectAllAfarPois" onclick="javascript:removeAllAfarPois();">Remove All</button>
                <a class="btn btn-success btn-large" href="javascript:addAfarPoiToItineraryModal()" style="padding-left:20px;padding-right:20px">Add Selections to Itinerary</a>
              </div>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span12">
              <div class="row-fluid" id="AfarPoi-results"></div>
            </div>
          </div>
        </div>
      </div>
      
      
    </div>
  </div>
</div>


<script>
        $('#addAfarSubmit').click(function() {
            $('#addAfarModal').modal('hide');
        });
</script>
<div id="addAfarModal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Add to Itinerary</h3>
  </div>
  <form id="afarTripForm">
    <div class="modal-body">
      <div class="row-fluid">
        <div class="span4">
          <label> Select Date</label>
          <select name='inAfarNoteDate' id="afarNoteDate" class="input-block-level required" value="" >
            <option value="NA" >N/A</option>
            @if(m.chronologicalDates != null) {
              @for(d<-m.chronologicalDates) {
                @if(!d.isEmpty) {
                  <option value="@d">@d</option>
                }
              }
            }
          </select>
          <input type="hidden" id="afarId" name="inAfarId" value="">
        </div>
        <div class="span4">
          <label>&nbsp;</label>
          <button type="submit" class="btn btn-primary " id="addAfarSubmit"
                  onclick="javascript:postForm('/trips/afar/addToTrip','afarTripForm');return false;">Add to Itinerary
          </button>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <input type="hidden" id="afarTripId" name="afarTripId" value=@m.tripId>
      <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
  </form>
</div>


<script>
  $('#addAfarPoiSubmit').click(function() {
      $('#addAfarPoiModal').modal('hide');
  });
</script>
<div id="addAfarPoiModal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Add to Itinerary</h3>
  </div>
  <form id="afarPoiTripForm">
    <div class="modal-body">
      <div class="row-fluid">
        <div class="span4">
          <label> Select Date</label>
          <select name='inPoiNoteDate' id="poiNoteDate" class="input-block-level required" value="" >
            <option value="NA" >N/A</option>
            @if(m.chronologicalDates != null) {
              @for(d<-m.chronologicalDates) {
                @if(!d.isEmpty) {
                  <option value="@d">@d</option>
                }
              }
            }
          </select>
          <input type="hidden" id="poiAfarId" name="inPoiAfarIds" value="">
        </div>
        <div class="span4">
          <label>&nbsp;</label>
          <button type="submit" class="btn btn-primary " id="addAfarPoiSubmit"
                  onclick="javascript:postForm('/trips/afar/addPoisToTrip','afarPoiTripForm');return false;">Add to Itinerary
          </button>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <input type="hidden" id="poiTripId" name="poiTripId" value=@m.tripId>
      <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
  </form>
</div>



@* @formatter:off *@
<script>
        $(document).ready(function () {
            console.log("AFAR setup");
            $('#AfarTabLink').on('shown', function (e) {
                $('a[tabType="bookingsTabLink"]').on('show', function (e) {
                    getPage('/trips/bookings/@m.tripId/ITINERARY');
                    return false; // activated tab
                });

                getAvailableAfarCities("@m.tripId");

            });
        });

        @if(m.activeTab != null && m.activeTab == TabType.AFAR) {
          $(function() {
            $('a[tabType="bookingsTabLink"]').on('show', function (e) {
                getPage('/trips/bookings/@m.tripId/ITINERARY');
                return false; // activated tab
            });

            getAvailableAfarCities("@m.tripId");
          });
        }

        function getAvailableAfarCities(tripId) {
            $('#spinner').show();
            var request = $.ajax({
                type: "GET",
                cache:false,
                url: "/trips/afar/availableCities/" + tripId,
                dataType: "json"
            });


            // callback handler that will be called on success
            request.done(function (response, textStatus, jqXHR){
                var cities = response;
                $("#AvailableAfarCities").empty();
                $("#AvailableAfarPoiCities").empty();
                if (cities) {
                    $.each(cities, function(k, v) {
                        $("#AvailableAfarCities").append("<option value='" + k + "'>" + v + "</option>");
                        $("#AvailableAfarPoiCities").append("<option value='" + k + "'>" + v + "</option>");
                    });
                    $('#AfarCityId').val($("#AvailableAfarCities").val());
                    $('#AfarPoiCityId').val($("#AvailableAfarPoiCities").val());
                    getFilteredAfarCity(tripId);
                    getFilteredAfarPois(tripId, 0, false);
                } else {
                    toggleAfarCities();
                    toggleAfarPoiCities();
                }
            });

            // callback handler that will be called on failure
            request.fail(function (jqXHR, textStatus, errorThrown){
                // log the error to the console
                if(textStatus != 'abort') {
                    $('#alertMsg').text("A System Error has occurred - " + textStatus);
                    $('#alertBox').show();
                }
            });

            // callback handler that will be called regardless
            // if the request failed or succeeded
            request.always(function () {
                $('#spinner').hide();
            });
        }

        function getFilteredAfarCityChange() {
            $('#AfarCityId').val($("#AvailableAfarCities").val());
            getFilteredAfarCity('@m.tripId');
        }

        function getFilteredAfarPoiCityChange() {
            $('#AfarPoiCityId').val($("#AvailableAfarPoiCities").val());
            getFilteredAfarPois('@m.tripId', 0, false);
        }

        function toggleAfarCities() {
            $('#afarAlertMsg h4').text('');
            $('#afarAlertMsg').hide();
            $("#AvailableAfarCities").hide();
            $("#AfarCity").show();
            $('#AfarCity').attr('readonly', false);
            $('#AfarCity').val("");
            $('#AfarCityId').val("");
            $("#Afar-results").empty();
            $("#Afar-results").css({
              "padding": "0",
              "border": "none"
            });
            $(".addToItineraryBtn").empty();

        }

        function toggleAfarPoiCities() {
            $('#afarPoiAlertMsg h4').text('');
            $('#afarPoiAlertMsg').hide();
            $("#AvailableAfarPoiCities").hide();
            $("#AfarPoiCity").show();
            $('#AfarPoiCity').attr('readonly', false);
            $('#AfarPoiCity').val("");
            $('#AfarPoiCityId').val("");
            $('#afarPoiKeyword').val("");
            $('#afarPoiKeywordLbl').hide();
            $('#afarPoiKeyword').hide();
            $('#afarPoiSearchBtn').hide();
            $("#AfarPoi-results").empty();

        }

        function getFilteredAfarCity(tripId) {
            $('#spinner').show();
            var locationId = $('#AfarCityId').val();
            console.log("getFilteredAfarCity - " + locationId);
            if(locationId != null && locationId.length > 1) {
                var request = $.ajax({
                    type: "GET",
                    cache:false,
                    url: "/trips/afar/cityContent/" + tripId + "?afarId=" + locationId ,
                    dataType: "html"
                });


                // callback handler that will be called on success
                request.done(function (response, textStatus, jqXHR){
                    displayAfar(response, locationId);
                });

                // callback handler that will be called on failure
                request.fail(function (jqXHR, textStatus, errorThrown){
                    // log the error to the console
                    if(textStatus != 'abort') {
                      $("#Afar-results").empty();
                      $("#Afar-results").css({
                        "padding": "0",
                        "border": "none"
                      });
                      $(".addToItineraryBtn").empty();
                      $('#alertMsg').text("A System Error has occurred - " + textStatus);
                      $('#alertBox').show();
                    }
                });
                // callback handler that will be called regardless
                // if the request failed or succeeded
                request.always(function () {
                    $('#spinner').hide();
                });
            } else {
                var msg = "Please select or enter a valid city";
                if ($('#AfarCity').val().length > 0) {
                    msg = "AFAR guide is not available for this city";
                }

                $('#spinner').hide();
                $('#afarAlertMsg h4').text(msg);
                $('#afarAlertMsg').show();

            }

        }

        function displayAfar(response, locationId) {
            $("#Afar-results").empty();
            $(".addToItineraryBtn").empty();
            $("#Afar-results").css({
              "padding": "10px",
              "border": "1px solid #ddd"
            });
            if (response) {
                $("#Afar-results").append(response);
                $('#afarId').val(locationId);
                var btn = '<a class ="btn btn-large btn-primary" style="" href="javaScript:addAfarToItineraryModal();">Add to itinerary</a>';
                $(".addToItineraryBtn").css({
                  "margin": "20px 0"
                });
                $(".addToItineraryBtn").append(btn);
            }
        }

        function addAfarToItineraryModal() {
            $('#addAfarModal').modal('show');

        }

        $('#AfarCity').autocomplete({
            source: "@controllers.routes.AfarController.afarCityAutocomplete()",
            minLength: 2,
            select: function(event, ui) {
                $('#afarAlertMsg h4').text('');
                $('#afarAlertMsg').hide();
                $("#AfarCity").val(ui.item.label);
                $("#AfarCityId").val(ui.item.id);
                $('#AfarCity').attr('readonly', true);

                getFilteredAfarCity('@m.tripId');

                return false;
            },
            response: function(event, ui) {
                $("#AfarCityId").val("");
                if (ui.content.length == 1) {
                    $('#afarAlertMsg h4').text('');
                    $('#afarAlertMsg').hide();
                    $("#AfarCity").val(ui.content[0].label);
                    $("#AfarCityId").val(ui.content[0].id);

                    getFilteredAfarCity('@m.tripId');
                    $(this).autocomplete("close") ;
                    $('#AfarCity').attr('readonly', true);

                } else if (ui.content.length <= 0) {
                    $('#spinner').hide();
                    $('#afarAlertMsg h4').text('AFAR guide is not available for this city');
                    $('#afarAlertMsg').show();

                }
            }
        });
        $("#AfarCity").autocomplete("option", "appendTo", "#afarform");
        
        
        //AFAR POIS
        
        var selectedAfarPois = new Array();

        function addAllAfarPois(){
            if (afarPoiResult) {
              $.each(afarPoiResult.pois, function(index, value) {
                addAfarPoi(value.id);
              });
              $('#selectAllAfarPois').hide();
              $('#deselectAllAfarPois').show();
            }
        }

        function removeAllAfarPois() {
            if (afarPoiResult) {
              $.each(afarPoiResult.pois, function(index, value) {
                removeAfarPoi(value.id);
              });
              $('#selectAllAfarPois').show();
              $('#deselectAllAfarPois').hide();
            }
        }
        
        function addAfarPoi (poiId) {
            if ($.inArray(poiId, selectedAfarPois) == -1) {
                selectedAfarPois.push(poiId);
                var addId = '#add_'+poiId;
                var removeId = '#remove_'+poiId;
                $(addId).hide();
                $(removeId).show();
            }
        }

        function removeAfarPoi (poiId) {
            var arrIndex = $.inArray(poiId, selectedAfarPois)
            if (arrIndex > -1) {
                selectedAfarPois.splice(arrIndex, 1);
                var addId = '#add_'+poiId;
                var removeId = '#remove_'+poiId;
                $(removeId).hide();
                $(addId).show();
            }
        }

        function addAfarPoiToItineraryModal() {
            if (selectedAfarPois.length > 0) {
                var poiIds = selectedAfarPois.toString();
                $('#poiAfarId').val(poiIds);
                $('#addAfarPoiModal').modal('show');
            } else {
                alert ("No selected content to add");
            }
        }

        
        $('#AfarPoiCity').autocomplete({
            source: "@controllers.routes.AfarController.afarCityAutocomplete()",
            minLength: 2,
            select: function(event, ui) {
                $('#afarPoiAlertMsg h4').text('');
                $('#afarPoiAlertMsg').hide();
                $("#AfarPoiCity").val(ui.item.label);
                $("#AfarPoiCityId").val(ui.item.id);
                $('#AfarPoiCity').attr('readonly', true);

                getFilteredAfarPois('@m.tripId', 0, false);

                return false;
            },
            response: function(event, ui) {
                $("#AfarPoiCityId").val("");
                if (ui.content.length == 1) {
                    $('#afarPoiAlertMsg h4').text('');
                    $('#afarPoiAlertMsg').hide();
                    $("#AfarPoiCity").val(ui.content[0].label);
                    $("#AfarPoiCityId").val(ui.content[0].id);

                    getFilteredAfarPois('@m.tripId', 0, false);
                    $(this).autocomplete("close") ;
                    $('#AfarPoiCity').attr('readonly', true);

                } else if (ui.content.length <= 0) {
                    $('#spinner').hide();
                    $('#afarPoiAlertMsg h4').text('AFAR Points of Interest are not available for this city');
                    $('#afarPoiAlertMsg').show();

                }
            }
        });
        $("#AfarPoiCity").autocomplete("option", "appendTo", "#afarPoiform");

        var afarPoiResult = null;
        

        function getFilteredAfarPois(tripId, pos, searchmode) {
            $('#spinner').show();
            $('#afarPoiKeywordLbl').show();
            $('#afarPoiKeyword').show();
            $('#afarPoiSearchBtn').show();

            var locationId = $('#AfarPoiCityId').val();
            console.log("getFilteredAfarPois - " + locationId);
            
            if (pos == null || pos < 1) {
                pos = 0;
            }
            var keyword = "";
            if (!searchmode) {
                $('#afarPoiKeyword').val("");
            } else {
                keyword = $('#afarPoiKeyword').val();
            }
            var type = $('#afarPoiType').val();
            if(locationId != null && locationId.length > 1) {
                var request = $.ajax({
                    type: "GET",
                    cache:false,
                    url: "/trips/afar/filterPois/" + tripId + "?afarId=" + locationId + "&startPos=" + pos + "&keyword=" + keyword+ "&type=" + type,
                    dataType: "json"
                });


                // callback handler that will be called on success
                request.done(function (response, textStatus, jqXHR){
                    afarPoiResult = response;
                    displayAfarPois();
                });

                // callback handler that will be called on failure
                request.fail(function (jqXHR, textStatus, errorThrown){
                    // log the error to the console
                    if(textStatus != 'abort') {
                        $('#alertMsg').text("A System Error has occurred - " + textStatus);
                        $('#alertBox').show();
                    }
                });
                // callback handler that will be called regardless
                // if the request failed or succeeded
                request.always(function () {
                    $('#spinner').hide();
                });
            } else {
                var msg = "Please select or enter a valid city";
                if ($('#AfarPoiCity').val().length > 0) {
                    msg = "AFAR Points of Interest are not available for this city";
                }

                $('#spinner').hide();
                $('#afarPoiAlertMsg h4').text(msg);
                $('#afarPoiAlertMsg').show();
            }
        }

        function displayAfarPois() {
          $("#AfarPoi-results").empty();
          if (afarPoiResult) {
              $.each(afarPoiResult.pois, function(index, value) {
                  var description = "";
                  if (value.description) {
                      description = value.description;
                  }
                  if (description != null && description.length > 10) {
                      var image = "";
                      if (value.images[0].large_image_url != null) {
                          image = "<img class='only-poi-image' src='" + value.images[0].large_image_url + "' align='left' hspace='10'/>";
                      }

                      var selectBtn = '<a id="add_' + value.id +'" onclick="javascript:addAfarPoi(' + value.id + ');return false;" style="padding-left: 10px;padding-right: 10px" data-toggle="Select ' + value.title + ' " title="Select ' + value.title + '"><i class="fa fa-plus" style="font-size: 26px; color: #666666"></i> <span style="font-size: 20px; color: #666666">Select</span></a>';
                      var deselectBtn = '<a id="remove_' + value.id +'" onclick="javascript:removeAfarPoi(' + value.id + ');return false;" style="padding-left: 10px;padding-right: 10px; display:none" data-toggle="Select ' + value.title + ' " title="Select ' + value.title + '"><i class="fa fa-minus" style="font-size: 20px; color: #666666"></i> <span style="font-size: 20px; color: #666666;">Remove</span></a>';

                      //This updates the selection/deselection button when the page changes during pagination.
                      //If poiId is in global list of selected ids, then display the remove button.
                      if (selectedAfarPois.length > 0) {
                        if ($.inArray(value.id, selectedAfarPois) > -1) {
                            selectBtn = '<a id="add_' + value.id +'" onclick="javascript:addAfarPoi(' + value.id + ');return false;" style="padding-left: 10px;padding-right: 10px; display:none" data-toggle="Select ' + value.title + ' " title="Select ' + value.title + '"><i class="fa fa-plus" style="font-size: 26px; color: #666666"></i> <span style="font-size: 20px; color: #666666">Select</span></a>';
                            deselectBtn = '<a id="remove_' + value.id +'" onclick="javascript:removeAfarPoi(' + value.id + ');return false;" style="padding-left: 10px;padding-right: 10px;" data-toggle="Select ' + value.title + ' " title="Select ' + value.title + '"><i class="fa fa-minus" style="font-size: 20px; color: #666666"></i> <span style="font-size: 20px; color: #666666;">Remove</span></a>';
                        }
                      }

                      var book = "";
                      book = '<div class="pull-right">' + selectBtn + deselectBtn + '&nbsp;&nbsp;<a style="display:none;" class="poi-chevron-down" onclick="javascript:togglePoiNote($(this), $(this).closest(\'.poiBox1\'))"><i class="fa fa-chevron-down" style="font-size: 26px; color: #666666"></i></a></div>';
                      var content = '<div class="poiBox1">  <div class="poiTable" style="clear:both"><div class="poi-panel-heading"><h3 class="poi-panel-title">' + value.title + book + '</h3></div><div class="poi-panel-body"><div>' + image + '</div><div>' + description + '<br/></div>' + '</div></div></div>';
                      $("#AfarPoi-results").append(content);
                  }
              });

              $('.poiTable').each(function() {
                  $(this).find('.poi-chevron-down').css('display', '');
                  $(this).parent().addClass('poi-gradient');
                  $(this).parent().addClass('poiHidden');
              });

              if (afarPoiResult.totalPois > 0) {
                    var navigation = '<div class="span12" style="margin-left: 0; margin-top: 40px;"><div class="span4" style="margin: 0;">';

                    if (afarPoiResult.prevPos > -1) {
                        navigation += '<button class="btn btn-info pull-left" id="prevBtn" onclick="javascript:getFilteredAfarPois(\'@m.tripId\',' + afarPoiResult.prevPos +', true)">Previous </button>';
                    }

                    navigation += '</div><div class="span4" style="margin: 0;">'


                    navigation += '<p style="text-align: center; margin: 0">' + afarPoiResult.fromIndex + '&nbsp;&nbsp;-&nbsp;&nbsp;' + afarPoiResult.toIndex + '&nbsp;&nbsp;of&nbsp;&nbsp;' + afarPoiResult.totalPois + '</p>';


                    navigation += '</div><div class="span4" style="margin: 0;">'

                    if (afarPoiResult.nextPos > 0) {
                        navigation += '<button class="btn btn-info pull-right" id="nextBtn" onclick="javascript:getFilteredAfarPois(\'@m.tripId\',' + afarPoiResult.nextPos + ', true)">Next </button>';
                    }

                    navigation +="</div></div>";
                    $("#AfarPoi-results").append(navigation);
                }

          }
        }

        function togglePoiNote(arrow, element) {
            if($(element).hasClass('poi-gradient')) {
                $(element).removeClass('poiHidden');
                $(element).addClass('poiVisible');
                $(element).addClass('poi-noGradient');
                $(element).removeClass('poi-gradient');
                $(arrow).children('i').removeClass('fa-chevron-down');
                $(arrow).children('i').addClass('fa-chevron-up');
            } else {
                $(element).removeClass('poiVisible');
                $(element).addClass('poiHidden');
                $(element).addClass('poi-gradient');
                $(element).removeClass('poi-noGradient');
                $(arrow).children('i').removeClass('fa-chevron-up');
                $(arrow).children('i').addClass('fa-chevron-down');
            }
        }



</script>

<style>
.poiTable {
    line-height: 20px;
    padding-top: 0px;
    margin-top: 10px;
    min-height: 180px;
    border-top: 1px solid #999999;

}
.poiHidden {
    height: 150px;
    overflow: hidden;
}
.poiVisible {
    height: 100%;
    overflow: visible;
    display: grid;
}
.poi-gradient {
    position: relative;
}
.poi-gradient:after {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    content: "";
    background: linear-gradient(to top,
    rgba(255,255,255, 1) 20%,
    rgba(255,255,255, 0) 80%
    );
    pointer-events: none;
}
.poi-noGradient {
    position: relative;
    background: transparent;
}

.only-poi-image {
  width: 200px;
}

.poi-panel-body {
  display: inline-block;
  width: 100%;
}
</style>