@(m:  com.mapped.publisher.view.TripBookingView)
@import com.mapped.publisher.common.SecurityMgr.AccessLevel
@import com.mapped.publisher.persistence.{FeedHelperGlobusTours, FeedSourcesInfo}
@import com.mapped.publisher.view.{EnhancedTripBookingDetailView, TabType}
@import com.mapped.publisher.view.UmFlightReservationView
@import com.mapped.publisher.view.UmAccommodationReservationView
@import com.mapped.publisher.view.UmCruiseReservationView
@import com.mapped.publisher.view.UmActivityReservationView
@import com.mapped.publisher.view.UmTransferReservationView
@import com.umapped.persistence.enums.ReservationType
@import com.mapped.publisher.common.Capability;
@import com.mapped.publisher.utils.Utils;

<script>
  $('.tags-dropdown > ul li label').click(function(e) {
    e.stopPropagation();
  });

  var pBB = false;
  var pBA = false;
  var lI = false;

  $('.tags-dropdown').on('click', function(){
    pBB = $(this).find('#pageBreakBefore').is(':checked');
    pBA = $(this).find('#pageBreakAfter').is(':checked');
    if ($(this).find('#lastItem')) {
      lI = $(this).find('#lastItem').is(':checked');
    }
  });

  $('.tags-dropdown input').on('click', function() {
    var elem = $(this).closest('.tags-dropdown');
    pBB = elem.find('#pageBreakBefore').is(':checked');
    pBA = elem.find('#pageBreakAfter').is(':checked');
    if (elem.find('#lastItem')) {
      lI = elem.find('#lastItem').is(':checked');
    }
  });


  function addTags(tripId, id, isNote) {
    var data = null;
    if (isNote) {
      data = JSON.stringify({ pageBreakBefore: pBB, pageBreakAfter: pBA, lastItem: lI})
    } else {
      data = JSON.stringify({ pageBreakBefore: pBB, pageBreakAfter: pBA})
    }

    var url =  '/trips/bookings/addTags?tripId=' + tripId +'&detailsId='+ id + '&isNote=' + isNote;
    $.ajax({
        type: "POST",
        url: url,
        contentType: "application/json",
        data: data,
        dataType: "json"
    }).success(function() {
        console.log("Successfully added Tags");
         getPage('@routes.BookingController.bookings(m.tripId, new TabType.Bound(TabType.ITINERARY))')
    });
  }

  function resetNoteDate() {
    $('#inTripNoteDate').val('');
  }

  function editNoteDate(noteId, noteName, noteDate) {
    if (noteId != null) {
      $("#editDateNoteId").val(noteId);
      $("#inTripNoteDate").val(noteDate);
      $("#editNoteDateModalMsg").text(noteName);
      $("#editNoteDateModal").modal('show');
    }
  }

</script>
<style>
  .tags-dropdown .dropdown-menu {
    left: unset!important;
    right: 0!important;
    top: 75%!important;
  }

  .tags-dropdown .dropdown-menu input[type="checkbox"] {
    margin: 5px!important;
  }

  .tags-dropdown .dropdown-menu label {
    font-weight: normal!important;
    font-size: 13px!important;
  }

  .tags-dropdown .tagNote {
    font-weight: bold!important;
    font-size: 16px!important;
  }

  .tags-dropdown button {
    border: none!important;
    background: none!important;
    padding: 0!important;
  }

  .inTripNoteDate {
    margin: auto;
    width: 55%;
    text-align: center;
  }

</style>

<style>
  .afar-poi-card {
    width: 100%!important;
    margin-bottom: 20px!important;
    display: inline-block!important;

  }
  .afar-poi-container .poi-sub-container{
    width: 100%!important;
    display: block!important;
  }

  .afar-poi-section .swipe-more {
    display: none!important;
  }

  .afar-poi-section .afar-poi-image {
    width: 24vh!important;
    height: 200px!important;
    float: left!important;
    margin-bottom: 5px!important;
    margin-right: 10px!important;
    padding-bottom: 0!important;
  }

  .afar-pois-only .afar-poi-card {
    width: 100%!important;
  }

  .afar-poi-image img {
    height: auto!important;
  }

  .afar-poi-description h2 {
    margin-top: 0px!important;
    padding-top: 0!important;
  }
</style>

  <div id="allBookingsTab1"  @if(m.activeTab == null || (m.activeTab != TabType.TEMPLATES && m.activeTab != TabType.WCITIES && m.activeTab != TabType.AFAR && m.activeTab != TabType.UPLOADS && m.activeTab != TabType.FLIGHTS && m.activeTab != TabType.HOTELS && m.activeTab != TabType.CRUISES && m.activeTab != TabType.ACTIVITIES && m.activeTab != TabType.TRANSPORTS && m.activeTab != TabType.NOTES)) { class='tab-pane active' } else { class='tab-pane fade'}>
 <div id="navItems" class="row-fluid navItems" style="background-color:rgba(255, 255, 255, 0.95);height:145px;position: relative; z-index: 1001;">
   <div id="innerNav" class="span12 innerNav" style="background-color:rgba(255, 255, 255, 0.95);height:145px;">
     <div class="pull-left" style="padding-left:10px; padding-right: 15px;">
       <select id="showbookings">
         <option  value="ITINERARY"  data-description="">Select Category</option>

         @if(m.flights != null && m.flights.size() > 0) {
           <option value="FLIGHTS"  data-description="">Flights (@m.flights.size())</option>
         }

         @if(m.hotels != null && m.hotels.size() > 0) {
           <option value="HOTELS"  data-description="">Accommodations (@m.hotels.size())</option>
         }

         @if(m.cruises != null && m.cruises.size() > 0) {
           <option value="CRUISES"  data-description="">Cruises (@m.cruises.size())</option>
         }

         @if(m.transfers != null && m.transfers.size() > 0) {
           <option value="TRANSPORTS" data-description="">Transports  (@m.transfers.size())</option>
         }

         @if(m.activities != null && m.activities.size() > 0) {
           <option value="ACTIVITIES"  data-description="">Activities  (@m.activities.size())</option>
         }

         @if(m.notes != null && m.notes.size() > 0) {
           <option value="NOTES"  data-description="">Notes (@m.notes.size())</option>
         }
       </select>
     </div>

     @if(m.accessLevel.gt(AccessLevel.READ)) {
       <div class="btn-group" id="importBookingsBtn">
         <button class="btn btn-primary btn-large" data-toggle="dropdown"><i class="fa fa-arrow-up"></i> Import Bookings</button>
         <button class="btn btn-primary btn-large dropdown-toggle" data-toggle="dropdown">
           <span class="caret"></span>
         </button>
         <ul class="dropdown-menu">
           <li style=" padding-top: 10px;padding-bottom: 10px;padding-left: 5px;border-bottom: 1px solid #999999">
             <a href="#" onclick="getPage('@routes.BookingInboxController.bookingInbox(m.tripId, true)')">
               <i class="fa fa-cloud-upload" style="margin-left:2px;padding-right:18px;font-size: 16px"></i> <span style="font-size: 16px;font-weight: 400;"> Import from Booking Inbox </span>
             </a>
           </li>
           <li style=" padding-top: 10px;padding-bottom: 10px;padding-left: 5px;border-bottom: 1px solid #999999">
             <a href="#" onclick="getPage('@routes.BookingController.bookings(m.tripId, new TabType.Bound(TabType.RECLOCATORS))')">
               <i class="fa fa-cloud-upload" style="margin-left:2px;padding-right:18px;font-size: 16px"></i> <span style="font-size: 16px;font-weight: 400;"> Import from GDS </span>
             </a>
           </li>
           <li style=" padding-top: 10px;padding-bottom: 10px;padding-left: 5px;border-bottom: 1px solid #999999">
             <a href="#" onclick="getPage('@routes.BookingController.bookings(m.tripId, new TabType.Bound(TabType.UPLOADS))?inPdfParser=CLIENTBASE')">
               <i class="fa fa-cloud-upload" style="margin-left:2px;padding-right:18px;font-size: 16px"></i> <span style="font-size: 16px;font-weight: 400;"> Import from ClientBase </span>
             </a>
           </li>
           <li style=" padding-top: 10px;padding-bottom: 10px;padding-left: 5px;border-bottom: 1px solid #999999">
             <a href="#" onclick="getPage('@routes.BookingController.bookings(m.tripId, new TabType.Bound(TabType.UPLOADS))')">
               <i class="fa fa-upload" style="margin-left:2px;padding-right:18px;font-size: 16px"></i> <span style="font-size: 16px;font-weight: 400;"> Upload Booking PDFs </span>
             </a>
           </li>
           @if(!m.isCollablorator) {
           <li style=" padding-top: 10px;padding-bottom: 10px;padding-left: 5px;border-bottom: 1px solid #999999;">
             <a href="#emailModal"  data-toggle="modal">
               <i class="fa fa-share" style="margin-left:2px;padding-right:18px;font-size: 16px;"></i> <span style="font-size: 16px;font-weight: 400;"> Forward Email Confirmations </span>
             </a>
           </li>
           }
           <li style=" padding-top: 10px;padding-bottom: 10px;padding-left: 5px;border-bottom: 1px solid #999999;">
             <a href="#" onclick="getModalPage('@routes.WetuController.searchWetu(m.tripId)')">
               <i class="fa fa-cloud-upload" style="margin-left:2px;padding-right:18px;font-size: 16px"></i> <span style="font-size: 16px;font-weight: 400;"> Import from Wetu </span>
             </a>
           </li>
           <li style=" padding-top: 10px;padding-bottom: 10px;padding-left: 5px;">
             <a href="#" id="btnImportFromTmplt">
               <i class="fa fa-bookmark" style="margin-left:4px;padding-right:20px;font-size: 16px"></i> <span style="font-size: 16px;font-weight: 400;"> Import from Template </span>
             </a>
           </li>
         </ul>
       </div>

     <div class="btn-group" id="addBookingsBtn">
       <button class="btn btn-primary btn-large" data-toggle="dropdown"><i class="fa fa-plus"></i>&nbsp;Add Bookings</button>
       <button class="btn btn-primary btn-large dropdown-toggle" data-toggle="dropdown">
         <span class="caret"></span>
       </button>
       <ul class="dropdown-menu">

         <li style=" padding-top: 10px;padding-bottom: 10px;padding-left: 10px;border-bottom: 1px solid #999999;padding-right: 40px">
           <a href="#" onclick="getPage('@routes.BookingController.bookings(m.tripId, new TabType.Bound(TabType.FLIGHTS))')">
             <i class="fa fa-plane" style="margin-left:4px;padding-right:18px;font-size: 16px"></i> <span style="font-size: 16px;font-weight: 400;">Add a Flight </span>
           </a>
         </li>
         <li style=" padding-top: 10px;padding-bottom: 10px;padding-left: 5px;border-bottom: 1px solid #999999">
           <a href="#" onclick="getPage('@routes.BookingController.bookings(m.tripId, new TabType.Bound(TabType.HOTELS))')">
             <i class="fa fa-building" style="margin-left:8px;padding-right:16px"></i>  <span style="font-size: 16px;font-weight: 400;">Add Accommodations</span>
           </a>
         </li>
         <li style=" padding-top: 10px;padding-bottom: 10px;padding-left: 5px;border-bottom: 1px solid #999999">
           <a href="#" onclick="getPage('@routes.BookingController.bookings(m.tripId, new TabType.Bound(TabType.CRUISES))')">
             <i class="icon1-cruise" style="margin-left:0px;padding-right:7px"></i><span style="font-size: 16px;font-weight: 400;">Add a Cruise</span>
           </a>
         </li>
         <li style=" padding-top: 10px;padding-bottom: 10px;padding-left: 5px;border-bottom: 1px solid #999999">
           <a href="#" onclick="getPage('@routes.BookingController.bookings(m.tripId, new TabType.Bound(TabType.TRANSPORTS))')">
             <i class="fa fa-car " style="margin-left:6px;padding-right:14px"></i> <span style="font-size: 16px;font-weight: 400;"> Add Transport</span>
           </a>
         </li>
         <li style=" padding-top: 10px;padding-bottom: 10px;padding-left: 5px;border-bottom: 1px solid #999999">
           <a href="#" onclick="getPage('@routes.BookingController.bookings(m.tripId, new TabType.Bound(TabType.ACTIVITIES))')">
             <i class="fa fa-child" style="margin-left:6px;padding-right:16px;font-size: 16px"></i> <span style="font-size: 16px;font-weight: 400;">Add an Activity </span>
           </a>
         </li>
         <li style=" padding-top: 10px;padding-bottom: 10px;padding-left: 5px;">
           <a href="#" onclick="getPage('@controllers.routes.BookingNoteController.getStructuredNote(m.tripId, 0, null, null, "INSURANCE")');">
             <i class="fa fa-shield" style="margin-left:6px;padding-right:16px;font-size: 16px"></i> <span style="font-size: 16px;font-weight: 400;">Add Insurance </span>
           </a>
         </li>

       </ul>
     </div>

       <div class="btn-group" id="tourOperatorsBtn">
         <button class="btn btn-primary btn-large" data-toggle="dropdown"><i class="fa fa-arrow-up"></i> Tour Operators</button>
         <button class="btn btn-primary btn-large dropdown-toggle" data-toggle="dropdown">
           <span class="caret"></span>
         </button>
         <ul class="dropdown-menu" style="text-align: center; width: 660px;margin-left: -200px">
           <li>
             <div class="row" style="padding-top:30px;padding-left: 10px;padding-right: 10px">

               <div class="span4">
                 <a href="#" onclick="getModalPage('@routes.WetuController.searchWetuSupplier(m.tripId,"andBeyond", false)')">
                   <img src="@{m.imgUrl}/img/suppliers/andbeyond-logo.png" style="height: 60px">
                 </a>
               </div>
               <div class="span4">
                 <a href="#alpineModal"  data-toggle="modal">
                   <img src="@{m.imgUrl}/img/suppliers/alphine_logo.jpg" style="height:60px">
                 </a>
               </div>
               <div class="span4">
                 <a href="#" onclick="getModalPage('@routes.TemplateController.tourSearchModal(m.tripId, 10, "bigfive_logo.png")')">
                   <img src="@{m.imgUrl}/img/suppliers/bigfive_logo.png" style="height: 60px">
                 </a>
               </div>
             </div>

             <div class="row" style="padding-top: 50px;padding-left: 10px;padding-right: 10px">
               <div class="span4">
                 <a href="#" onclick="getModalPage('@routes.ClassicVacationsController.searchByDate(m.tripId)')">
                   <img src="@{m.imgUrl}/img/suppliers/classicvacations_logo.png" style="height: 37px">
                 </a>
               </div>
               <div class="span4" >
                 <a href="#" onclick="getModalPage('@routes.WetuController.searchWetuSupplier(m.tripId,"DMAFRICA", true)')" >
                   <img src="https://s3.amazonaws.com/static-umapped-com/public/img/suppliers/dmafrica.png" style="height: 50px">
                 </a>
               </div>
               <div class="span4">
                 <a href="#dmcExplorerModal"  data-toggle="modal">
                   <img src="https://s3.amazonaws.com/static-umapped-com/public/img/suppliers/dmcexplorer.jpg" style="height: 45px">
                 </a>
               </div>
             </div>

             <div class="row" style="padding-top: 50px;padding-left: 10px;padding-right: 10px">
               <div class="span4">
                 <a href="#" onclick="getModalPage('@routes.TemplateController.tourSearchModal(m.tripId,FeedSourcesInfo.byName(FeedHelperGlobusTours.GLOBUS_TOURS_FEED_SRC_NAME), "globus-low-res.jpg")')">
                   <img src="@{m.imgUrl}/img/suppliers/globus-low-res.jpg" style="height:22px;">
                 </a>
               </div>
               <div class="span4">
                 <a href="#"  onclick="javascript:getModalPage('@controllers.routes.GogoController.searchBooking(m.tripId)');return false;">
                   <img src="@{m.imgUrl}/img/suppliers/gogo.jpg" style="height:40px">
                 </a>
               </div>
               <div class="span4">
                 <a href="#" onclick="getPage('@routes.BookingController.bookings(m.tripId, new TabType.Bound(TabType.UPLOADS))?inPdfParser=ISLANDSINTHESUN')">
                   <img src="@{m.imgUrl}/img/suppliers/islands_sun_logo.png" style="height:60px">
                 </a>
               </div>
             </div>

             <div class="row" style="padding-top: 50px;padding-left: 10px;padding-right: 10px;">
               <div class="span4">
                 <a href="#" onclick="getPage('@routes.BookingController.bookings(m.tripId, new TabType.Bound(TabType.UPLOADS))?inPdfParser=QUANTASVACATION')">
                   <img src="@{m.imgUrl}/img/suppliers/quantas_vacation_logo.png" style="height:50px">
                 </a>
               </div>
               <div class="span4">
                 <a href="#" onclick="getModalPage('@routes.ShoreTripsController.searchShoreTrips(m.tripId)')">
                   <img src="@{m.imgUrl}/img/suppliers/shoretrips_logo.png" style="height: 50px">
                 </a>
               </div>
               <div class="span4" >
                 <a href="#" onclick="getModalPage('@routes.WetuController.searchWetuSupplier(m.tripId,"FlySaa", true)')" >
                   <img src="https://s3.amazonaws.com/static-umapped-com/public/img/flysaa.png" style="height: 50px">
                 </a>
               </div>


             </div>


           <div class="row" style="padding-top: 50px;padding-left: 10px;padding-right: 10px;">
             <div class="span4">
               <a href="#skiModal"  data-toggle="modal">
                 <img src="https://s3.amazonaws.com/static-umapped-com/public/img/suppliers/ski-com.png" style="height: 60px">
               </a>
             </div>
             <div class="span4">
               <a href="#" onclick="getPage('@routes.BookingController.bookings(m.tripId, new TabType.Bound(TabType.UPLOADS))?inPdfParser=TRAVEL2')">
                 <img src="@{m.imgUrl}/img/suppliers/travel2_logo.png" style="height:40px">
               </a>
             </div>
             <div class="span4">
                 <a href="#" onclick="getPage('@routes.TravelboundBookingController.searchBookingForm(m.tripId)')">
                   <img src="@{m.imgUrl}/img/suppliers/travelbound_logo.gif" style="height:60px">
                 </a>
               </div>
            


             </div>
           </li>

           <div class="row" style="padding-top: 50px;padding-left: 10px;padding-right: 10px;padding-bottom: 30px;">
             <div class="span4">
               <a href="#ultimateJetModal"  data-toggle="modal">
                 <img src="https://s3.amazonaws.com/static-umapped-com/public/img/suppliers/ultimate-jet.png" style="height: 45px">
               </a>
             </div>
             <div class="span5">
               <div>
                 Email <a href="mailto:support@@umapped.com?Subject=Suppliers">support@@umapped.com</a> <br> to request new suppliers
               </div>
             </div>
           </div>
           </li>





         </ul>
       </div>
       @if(!m.isProd) {
         <a href="/calendar/trip/@m.tripId/calendar.ics" class="btn btn-info btn-large" target="_blank">Add to Calendar</a>
       }

       <div class="btn-group pull-right">
         <a class="btn btn-info btn-large" style="margin-right: 10px"  href="/trips/loadPdf?inTripId=@m.tripId" target="_blank">
           <i class="fa fa-cloud-download"></i> Preview PDF
         </a>
x       </div>
     }
     <div class="cd-horizontal-timeline">
       <div class="timeline">
         <div class="events-wrapper">
           <div class="events">
             <ol>
               @for((k, i) <- m.chronologicalDatesTimeline.zipWithIndex) {
                @if(k!=null && k.trim.length > 0) {
                  <li><a data-date="@k" @if(i == 0){class="selected"}> @Utils.getMonthString(k.substring(3,5)) @k.substring(0,2)</a></li>
                }
               }
             </ol>

             <span class="filling-line" aria-hidden="true"></span>
           </div>
         </div>

         <ul class="cd-timeline-navigation">
           <li><a href="#0" class="prev inactive leftArrow">Prev</a></li>
           <li><a href="#0" class="next rightArrow">Next</a></li>
         </ul>
       </div>
     </div>
   </div>
   </div>

    <div id="bookingsScroll">
  @addContentBtn(dt: String, tripId: String) = {
    @if(m.accessLevel.gt(AccessLevel.READ)) {
      <div class="btn-group pull-right" style="margin-right: 0px;" id="addContentBtn">
        <button id="contentBtn" class="btn btn-primary" data-toggle="dropdown"><i class="fa fa-plus"></i>&nbsp;Content</button>
        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li style=" padding-top: 10px ; padding-bottom: 10px ; padding-left: 5px ; ">
            <a href="#" onclick="getPage('@controllers.routes.BookingNoteController.getNote(m.tripId, 0, null, dt)');">
              <i class="fa fa-edit" style="margin-left:3px ; padding-right:15px ; font-size: 16px"></i>
              <span style="font-size: 16px ; font-weight: 400 ;">Content Note</span>
            </a>
          </li>
          <li style=" padding-top: 10px ; padding-bottom: 10px;border-top: 1px solid #999999">
            <a href="#" onclick="getPage('@controllers.routes.BookingNoteController.getStructuredNote(m.tripId, 0, null, null, "TABLENOTE")');">
            <i class="fa fa-table" style="margin-left:6px;padding-right:16px;font-size: 16px"></i>
            <span style="font-size: 16px; font-weight: 400;">Table</span>
            </a>
          </li>
          <li style=" padding-top: 10px ; padding-bottom: 10px;border-top: 1px solid #999999">
            <a href="#" class="btnCopyPageFromDocs" data-date="@if(dt!=null){@dt}">
              <i class="fa fa-search-plus" style="margin-left:8px ; padding-right:15px ; font-size: 16px"></i>
              <span style="font-size: 16px; font-weight: 400;">Copy a Page From Your Documents</span>
            </a>
          </li>
          <li style=" padding-top: 10px ; padding-bottom: 10px;border-top: 1px solid #999999">
            <a href="#" class="btnExternalContentAdd" data-date="@if(dt!=null){@dt}">
              <i class="fa fa-search-plus" style="margin-left:8px ; padding-right:15px ; font-size: 16px"></i>
              <span style="font-size: 16px; font-weight: 400;">Import External Content</span>
            </a>
          </li>

          <li style=" padding-top: 10px ; padding-bottom: 10px;border-top: 1px solid #999999">
            <a href="#" class="btnAddApproachGuide" data-date="@if(dt!=null){@dt}">
              <i class="fa fa-search-plus" style="margin-left:8px ; padding-right:15px ; font-size: 16px"></i>
              <img width="150px" src="https://s3.amazonaws.com/static-umapped-com/public/img/suppliers/approach.png"></img>
            </a>
          </li>
          @if(m.hasCapability(Capability.TRAVEL42_GUIDES)){
            <li style=" padding-top: 10px ; padding-bottom: 10px ; padding-left: 5px ; border-top: 1px solid #999999">
              <a href="#" class="btnT42ContentAdd" data-date="@if(dt!=null){@dt}" data-tripid="@tripId">
                <span style="font-size: 16px; font-weight: 400;">
                  <img src='@m.imgUrl/img/travel42_logo.png' style="width:75px; vertical-align:text-top">
                    &nbsp;Content</span>
              </a>
            </li>
          }

        </ul>
      </div>
    }
  }
    @addSummaryBtn(dt: String, tripId: String) = {
      @if(m.accessLevel.gt(AccessLevel.READ)) {
        <div class="btn-group pull-right" style="margin-left: 10px;margin-right: 10px;" id="newFeatureAddSummary">
          <a  class="btn btn-primary" href="#" onclick="@if(m.hasTripSummary){javascript:confirmSummaryUpdate('@controllers.routes.BookingNoteController.getSummary(m.tripId, null, dt)');}else {javascript:removeNewSummaryBadge();getPage('@controllers.routes.BookingNoteController.getSummary(m.tripId, null, dt)');}">
            <span style="color:#FFFFFF">@if(m.hasTripSummary()){<i class="fa fa-plus"></i><b> Update Summary</b>}else{<i class="fa fa-plus"></i><b>&nbsp;Summary</b>}</span>
          </a>
        </div>
      }
    }

  @if(m.orderedBookings != null && m.orderedBookings.size() > 0) {
    <div id="allBookingList" style="background-color: #ffffff ; min-height: 400px">
      <div style="padding:0px ; width: 100% ; margin-top: 10px ; padding-bottom:20px ; background-color: #ffffff ;">
        <div style="margin-left:4px ; padding-left:4px ; ; padding-right:4px ; ; border-bottom: 1px solid #000000">
          <div style="padding-left: 0px">
            <h2 style="color: #424242">
              @m.tripName
              @addContentBtn(null, m.tripId)
              @addSummaryBtn(null, m.tripId)
            </h2>
          </div>
        </div>
      </div>
      @for( (k, i) <- m.chronologicalDates.zipWithIndex) {
        @if(k.trim().length() > 0) {
          <div id="date_@i" style="padding:0px ; width: 100% ; margin: auto ; margin-top: 5px ; padding-bottom:5px ; background-color: #ffffff ;">
            <div style="margin: auto ; width: 100% ; margin-left:2px ; padding-right:4px ; border-bottom: 1px solid #000000">
              <div style="padding-left: 0px">
                <h2 style="color: #424242">
                  @k <a style="font-size:13px ; font-weight: 500 ;" href="" onclick="javascript:toTop();return false;">
                  Top</a>
                  @addContentBtn(k, m.tripId)
                </h2>
              </div>
            </div>
            }
        <ul id="sortNoteListDiv_@i" style="list-style-type: none ; margin-left:0px ; padding: 0 ;">

        @for( (p, j) <- m.chronologicalBookings.get(k).zipWithIndex) {
          <li id="@p.getDetailsId">

          @if(p.noteId != null && p.noteId > 0) {
            @views.html.trip.bookings.details.tripNote(m, p, j)

          } else {
            @if(p.detailsTypeId.getRootLevelType == ReservationType.FLIGHT) {
              @views.html.trip.bookings.details.flight(m, p.asInstanceOf[UmFlightReservationView], j)
            } else {
              @if(p.detailsTypeId.getRootLevelType == ReservationType.HOTEL) {
                @views.html.trip.bookings.details.hotel(m, p.asInstanceOf[UmAccommodationReservationView], j)
              } else {
                @if(p.detailsTypeId.getRootLevelType == ReservationType.CRUISE) {
                  @views.html.trip.bookings.details.cruise(m, p.asInstanceOf[UmCruiseReservationView], j)
                } else {
                  @if(p.detailsTypeId.getRootLevelType == ReservationType.TRANSPORT) {
                    @views.html.trip.bookings.details.transport(m, p.asInstanceOf[UmTransferReservationView], j)

                  } else {
                    @if(p.detailsTypeId == ReservationType.RESTAURANT || p.detailsTypeId == ReservationType.EVENT) {
                      @views.html.trip.bookings.details.restaurant(m,  p.asInstanceOf[UmActivityReservationView], j)
                    } else {
                      @if(p.detailsTypeId != null) {
                        @if(p.detailsTypeId == ReservationType.CRUISE_STOP) {
                          @views.html.trip.bookings.details.cruiseStop(m, p.asInstanceOf[UmActivityReservationView], j)
                        } else {
                          @views.html.trip.bookings.details.activity(m, p.asInstanceOf[UmActivityReservationView], j)
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          </li>
        }
        </ul>

        @if(k.trim().length() > 0) {
        </div>
        }
      }
    </div>
  } else {
    <div style="padding-bottom: 0px">
      <div style="padding:0px ; width: 100% ; margin: auto ; margin-top: 30px ; padding-bottom:0px ; background-color: #ffffff ;">
        <div style="margin: auto ; width: 100% ; margin-left:2px ; padding-right:4px ; ; border-bottom: 1px solid #000000">
          <div style="padding-left: 0px">
            <h2 style="color: #424242">
              @m.tripName
              @addContentBtn(null, m.tripId)
            </h2>
          </div>
        </div>
      </div>
    </div>
  }


 <!-- flights -->
@if(m != null && m.flights != null && m.flights.size() > 0) {
  <div id="flightsList" style="display: none;min-height: 400px">
  @for(p <- m.flights) {
    @views.html.trip.bookings.details.flight(m, p.asInstanceOf[UmFlightReservationView], 0)
  }
  </div>
}

<!-- hotels -->
@if(m != null && m.hotels != null && m.hotels.size() > 0) {
  <div id="hotelsList" style="display: none;min-height: 400px">
  @for(p <- m.hotels) {
    @views.html.trip.bookings.details.hotel(m, p.asInstanceOf[UmAccommodationReservationView], 0)
  }
  </div>
}

  <!-- all cruises -->
@if(m != null && m.cruises != null && m.cruises.size() > 0) {
  <div id="cruisesList" style="display: none;min-height: 400px">
  @for(p <- m.cruises) {
    @views.html.trip.bookings.details.cruise(m, p.asInstanceOf[UmCruiseReservationView], 0)
  }
  </div>
}
  <!-- all activities -->
@if(m.activities != null && m.activities.size() > 0) {
  <div id="activitiesList" style="display: none;min-height: 400px">
  @for(p <- m.activities) {
    @if(p.detailsTypeId == ReservationType.RESTAURANT || p.detailsTypeId == ReservationType.EVENT) {
      @views.html.trip.bookings.details.restaurant(m,p.asInstanceOf[UmActivityReservationView], 0)
    } else {
      @if(p.detailsTypeId == ReservationType.CRUISE_STOP) {
        @views.html.trip.bookings.details.cruiseStop(m,p.asInstanceOf[UmActivityReservationView], 0)
      } else {
        @views.html.trip.bookings.details.activity(m, p.asInstanceOf[UmActivityReservationView], 0)
      }
    }
  }
  </div>
}

<!-- all transports -->
@if(m != null && m.transfers != null && m.transfers.size() > 0) {
  <div id="transportsList" style="display: none;min-height: 400px">
  @for(p <- m.transfers) {
    @views.html.trip.bookings.details.transport(m, p.asInstanceOf[UmTransferReservationView], 0)
  }
  </div>
}

  <!-- all notes -->
@if(m.notes != null && m.notes.size() > 0) {
  <div id="notesList" style="display: none;min-height: 400px">
  @for(p <- m.notes){
    @views.html.trip.bookings.details.tripNote(m, p, 0)
  }
  </div>
}
</div>
</div>

<!-- Edit Note Date modal -->
<script>
  $('#editNoteDateSubmit').click(function() {
    $('#editNoteDateModal').modal('hide');
  });
</script>
<div id="editNoteDateModal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Edit Note Date</h3>
  </div>

  <div class="modal-body">
    <h3 id="editNoteDateModalMsg"></h3>
    <form id="editNoteDateForm">
      <input type="hidden" id="editDateNoteId" name="inTripNoteId" value="">
      <input type="hidden" id="editDateTripId" name="inTripId" value="@m.tripId">

      <div class="row-fluid">
        <div class="span4">
          <div class="input-append date" id="noteDate" >
            <span class="add-on btnCal" id="btnCal"><i class="fa fa-calendar"></i></span>
            <input type="text" class="inTripNoteDate" id="inTripNoteDate" name="inTripNoteDate" readonly class="input-small" value="">
            <btn class="btn" onclick="javascript:resetNoteDate();"> <span class=""><i class="fa fa-times"></i></span></btn>
          </div>
        </div>
        <div class="span2">
          <button type="submit" class="btn btn-success " id="editNoteDateSubmit"
                  onclick="javascript:postForm('/trips/newTrip/note/editDate', 'editNoteDateForm');return false;">Save
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

<!-- alpine modal -->
<div id="alpineModal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Import Alpine Adentures Bookings</h3>
  </div>
  <div class="modal-body">
    <img src="@{m.imgUrl}/img/suppliers/alphine_logo.jpg" style="height:60px;float: right">
    To import your Alpine Adventures bookings, simply forward your Alpine Adventures confirmation email to your Umapped API email address.
    <br/><br/>
    Please <a href="https://umapped.freshdesk.com/solution/articles/4000065114" target="_blank"><strong>click here</strong></a> for more details.
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

  <!-- ski.com modal -->
<div id="skiModal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Ski.com Bookings</h3>
  </div>
  <div class="modal-body">
    <img src="https://s3.amazonaws.com/static-umapped-com/public/img/suppliers/ski-com.png" style="height:60px;float: right">
    Ask your Ski.com travel consultant to invite you as a collaborator to a trip. <br/>
    Click <a href="https://umapped.freshdesk.com/solution/articles/4000062489-how-do-i-add-a-trip-collaborator-" target="_blank"><strong> here</strong></a>  to learn about how to collaborate in Umapped.

 </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

  <!-- ultimateJet modal -->
<div id="ultimateJetModal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Ultimate Jet Vacations Bookings</h3>
  </div>
  <div class="modal-body">
    <img src="https://s3.amazonaws.com/static-umapped-com/public/img/suppliers/ultimate-jet.png" style="height:60px;float: right">
    Email <a href="mailto:support@@umapped.com?subject=UJV" target="_blank"><strong>support@@umapped.com</strong></a> to get your UJV bookings into your Umapped Booking Inbox.

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

  <!-- dmcExplorerModal modal -->
<div id="dmcExplorerModal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>DMCeXplorer Bookings</h3>
  </div>
  <div class="modal-body">
    <img src="https://s3.amazonaws.com/static-umapped-com/public/img/suppliers/dmcexplorer.jpg" style="height:45px;float: right">
    Email <a href="mailto:support@@umapped.com?subject=DMCeXplorer" target="_blank"><strong>support@@umapped.com</strong></a> to get your DMCeXplorer bookings into your Umapped Booking Inbox.
    <br/><br/>
    Click <a href="http://www.dmcexplorer.com/dmc/" target="_blank">here</a> to see the full list of DMCs.
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>




  <!-- email modal -->
<div id="emailModal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Forward Email Confirmations</h3>
  </div>
  <div class="modal-body">
    <p>
      @if(m.tripCmpyEmail == null) {
        <Strong> Your account is not currently enabled for email forwarding. </Strong>
        <br/><br/>Please contact us at <a href="mailto:support@@umapped.com?subject=Email%20Api">support@@umapped.com</a> to enable this feature.
        <br/>
        Once enabled, you can forward email booking confirmations from <a href="http://www.worldmate.com/supported_providers.php" target="_blank"> this list of vendors </a> into a Umapped trip itinerary. Please <a href="https://umapped.freshdesk.com/support/solutions/articles/4000060180-forward-email-confirmations" target="_blank">click here</a> for more details.

      } else {
        Forward email booking confirmations into a Umapped trip itinerary and the booking details will be automatically added into 2. Itinerary! <br/><br/>

      Simply forward your emails to <span style="font-size: 14px; color: #00B4FF">@m.tripCmpyEmail</span>  and make sure the email subject is <span style="font-size: 14px; color: #00B4FF">@m.tripName</span>
      <br/><br/>
        Please <a href="https://umapped.freshdesk.com/support/solutions/articles/4000060180-forward-email-confirmations" target="_blank">click here</a> for more details.
        Questions? Email us at <a href="mailto:support@@umapped.com?subject=Email%20Api">support@@umapped.com</a>

        <br/><br/>
        <span style="font-style: italic;"> **Please note that if you forward Word/PDF files that these will be added as attachments to 3. Documents. Attached files will be available on the web and mobile versions of the trip itinerary. </span>
    }
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
