@import com.mapped.publisher.common.Capability
@(m: com.mapped.publisher.view.TripBookingView)
@import com.mapped.publisher.common.SecurityMgr.AccessLevel
@import com.mapped.publisher.view.TabType
@import com.mapped.publisher.form.RecordLocatorForm

@if(m!=null && m.message != null && m.message.length > 0) {
  <--alertMsg-->
  <div id="alertMsg">
    <h4> @m.message</h4>
  </div>
  <--endAlertMsg-->
}

  <--pageTitle-->
<div id="pageTitle">

</div>
  <--endPageTitle-->

  <--pageHeader-->
<div id="pageHeader">
  <h3> TRIP: @m.tripName <br>
    DATE: @m.tripStartDatePrint to @m.tripEndDatePrint</h3>
</div>
  <--endPageHeader-->


  <--pageBody-->
<div id="pageBody">

@* @formatter:off *@

<script>


//@@sourceURL=ItinariesUpload.js

$('#uploadItinerarySubmit').attr('disabled', true);
$('#itineraryUploadProgress').hide();
$("#uploadItinerarySubmit").data('locked', false);

function showResponse(responseText, statusText, xhr, $form) {
  $('#uploadPDFModal').modal('hide');
  getPage(uploadSuccessUrl);
}

function iFrameItineraryUpload(signedUrl, successUrl, s3Bucket, divId) {
  var options = {
    url: s3Bucket,
    iframe: true,
    success: function (responseText, statusText, xhr, $form, divId) {
      $('#itineraryUploadProgress').remove();
    $('#parseResultsModal').modal({backdrop:'static'});
      getHtmlAndReplace(successUrl, "parseResults");
    },
    error: function (response, textStatus, xhr, form, divId) {
      alert('Upload Failed');
    },
    uploadProgress: function(event, position, total, percent) {
      $("#itineraryUploadProgressBar" ).css("width", percent + "%");
    }
  };

  $('#' + divId + 'Form').ajaxSubmit(options);
  return false;
}


function uploadPDF() {
  if($("#uploadItinerarySubmit").data('locked') == true) {
    return false;
  }

  $("#uploadItinerarySubmit").data('locked', true);

  $("#uploadSpinner").show();
  $("#itineraryUploadProgress" ).show();

  var uploadurl = "@controllers.routes.BookingController.uploadItinerary()?inPDFFileName=" +
                  escapeFilename($("#inPDFFile").val().replace("C:\\fakepath\\","")) +
                  "&inFileProvider=" +
                  $("#inFileProvider").val();

  if ($.browser.msie) {
    signedS3(uploadurl, function (signedURL, publicURL, s3Bucket, ieDivId) {
      return iFrameItineraryUpload(signedURL, publicURL, s3Bucket, ieDivId);
    }, "", "intinerariesUpload");
  }
  else {
    var s3upload = s3upload != null ? s3upload : new S3Upload({
      file_dom_selector: 'inPDFFile',
      s3_sign_put_url: uploadurl,
      onProgress: function (percent, message) {
        $("#itineraryUploadProgressBar" ).css("width", percent + "%");
      },
      onFinishS3Put: function (public_url) {
        $('#itineraryUploadProgress').remove();
      $('#parseResultsModal').modal({backdrop:'static'});
        getHtmlAndReplace(public_url, "parseResults");
      },
      onError: function (status) {
        alert('Upload error: ', status);
      }
    });
  }
  return false;
}

  $('#inProvider').change(function () {
    if ($("#inProvider").val() == '@RecordLocatorForm.Provider.SABRE') {
      $('#sableLiveConnect').show();
    } else {
      $('#sableLiveConnect').hide();
    }

  });

  $('#inFileProvider' ).change(function () {
    if ($("#inFileProvider").val() == 'CLIENTBASE') {
      $('#clientbaseLiveConnect').show();
      $('#uploadTitle' ).text("Clientbase Invoice Import");
    } else {
      $('#clientbaseLiveConnect').hide();
       $('#uploadTitle' ).text(" Upload Bookings PDF");
    }
  });

$('input[id=inPDFFile]').change(function () {
  $("#uploadItinerarySubmit").data('locked', false);

  var extension = $("#inPDFFile").val().substring($("#inPDFFile").val().lastIndexOf('.'));
  var ValidFileType = ".pdf";
  if (ValidFileType.toLowerCase().indexOf(extension.toLowerCase()) < 0) {
    alert("Please only select a PDF file of type (PDF)");
    $("#uploadItinerarySubmit").attr('disabled', true);
    return;
  }

  if (!$.browser.msie) {
    var size = this.files[0].size;
    if (size > 1024000 * 3) {
      alert("The document file must be less than 3MB");
      $("#uploadItinerarySubmit").attr('disabled', true);
      return;
    }
  }

  $('#pretty-input').val($(this).val().replace("C:\\fakepath\\", ""));
  $("#uploadItinerarySubmit").attr('disabled', false);
});

function deleteBooking(url) {

}

</script>
@* @formatter:on *@
@if(m.accessLevel.lt(AccessLevel.APPEND)) {
    <div class="row-fluid">
      <p>Your trip access level does not permit this operation.</p>
    </div>
} else {
  @if(m.activeTab == TabType.UPLOADS){
  <div class="subTitle" id="uploadTitle">@if(m.defaultParser != null && m.defaultParser.equals("CLIENTBASE")){Clientbase Invoice Import} else { Upload Bookings PDF}</div>

    <form id="intinerariesUploadForm" enctype="multipart/form-data"  method="post">
      <input type="hidden" id="key" name='key'/>
      <input type="hidden" id="AWSAccessKeyId" name='AWSAccessKeyId'/>
      <input type="hidden" id="policy" name='policy'/>
      <input type="hidden" id="signature" name='signature'/>
      <input type="hidden" id="success_action_status" name='success_action_status' value='201'/>
      <div class="row-fluid">
        <div class="span4">
          <input type="file" name='file' id="inPDFFile" class="input-block-level"/>
          <input type="text" id="pretty-input" class="input-block-level" placeholder="No File Chosen..."/>
        </div>
        <div class="span2">
          <label>PDF Type</label>
          <select class="input-block-level" name="inFileProvider" id="inFileProvider">
            @for(parser <- m.parsers) {
              @if(parser != null) {
                <option value="@parser.name()" @if(m.defaultParser != null && m.defaultParser.equals(parser.name)){ selected}>@parser.getDescription()</option>
              }
            }
          </select>
        </div>

        <div class="span2" style="">
          <label>&nbsp;</label>

          <button type="submit" class="btn btn-primary input-block-level " id="uploadItinerarySubmit" onclick="javascript:uploadPDF();return false;" style="margin-top: 4px">Upload</button>
        </div>

        <div class="span2 ">
          <label>&nbsp;</label>
          <a role="button" class="btn btn-info input-block-level "
          onclick="javascript:bkConfirmExit('@routes.BookingController.bookings(m.tripId, new TabType.Bound(TabType.ITINERARY))');"><i class="fa fa-reply"></i>&nbsp;To Itinerary</a>
        </div>
      </div>

      <div id="clientbaseLiveConnect" style='@if(!(m.defaultParser != null && m.defaultParser.equals("CLIENTBASE"))){ display:none}'>
       <div class="row-fluid" style="padding-top: 50px">
         <div class="span12">
             <div class="subTitle"> Clientbase Sync </div>
         </div>
       </div>
       <div class="row-fluid" style="padding-top: 0px">
        <div class="span6">
              Enable your account for the Clientbase Sync and access your live ResCard data from your Booking Inbox.
              <br/>Click <a href="https://umapped.freshdesk.com/solution/articles/4000067613-professional-clientbase-integration-sync-via-trams" target="_blank">here</a> to learn more about the Clientbase Sync and how to get started!
          </div>
          <div class="span2">
            <btn class="btn btn-primary input-block-level" onclick="javascript:activateMenu('#inboxTripMenu');javascript:getPage('/bookings/inbox');return false;"> Booking Inbox </btn>
          </div>
      </div>
  </div>




    </form>

  <div class="row-fluid">
    <div id="itineraryUploadProgress" class="span5 progress progress-striped active">
      <div id="itineraryUploadProgressBar" class="bar" style="width: 0%;"></div>
    </div>
  </div>

  <div id="intinerariesUpload"></div>

  <div id="parseResultsModal" class="modal container hide fade" data-replace="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="javascript:getPage('@controllers.routes.BookingController.bookings(m.tripId, new TabType.Bound(TabType.ITINERARY), "")');return false;">&times;</button>
        <h3>Document Parsing Results</h3>
    </div>

    <div class="modal-body">
      <legend>Document Parse Results</legend>
      <div id="parseResults" >

      <div class="row-fluid">
        <div id="itineraryParseProgress" class="span12 progress progress-striped active">
          <div id="itineraryParseProgressBar" class="bar" style="width: 100%;"></div>
        </div>
      </div>

    </div>


    <div class="modal-footer">
      <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true" onclick="javascript:getPage('@controllers.routes.BookingController.bookings(m.tripId, new TabType.Bound(TabType.ITINERARY), "")');return false;">Close</button>
      <br/>
    </div>
  </div>
}

  @if(m.activeTab == TabType.RECLOCATORS){
    <div class="subTitle"> GDS IMPORT</div>

    <form id="recordLocatorForm">
      <div class="row-fluid" style="padding-top: 0px">

      <div class="span2">
        <label>Record Locator <em>*</em></label>
        <input type="text" id="inRecordLocator" name="inRecordLocator" class="required">
      </div>

      <div class="span2">
        <label>Last Name <em>*</em></label>
        <input type="text" id="inLastName" name="inLastName" class="required">
      </div>

        <div class="span2">
          <label>First Name</label>
          <input type="text" id="inFirstName" name="inFirstName" class="">
        </div>

      <div class="span2">
        <label>GDS <em>*</em></label>
          <select class="input-block-level" name="inProvider" id="inProvider">
            <option value="@RecordLocatorForm.Provider.SABRE">Sabre TripCase</option>
            <option value="@RecordLocatorForm.Provider.TRAVELPORT">Galileo/Apollo Travelport (ViewTrip)</option>
            <option value="@RecordLocatorForm.Provider.WORLDSPAN">Worldspan Travelport (ViewTrip)</option>
            @if(m.hasCapability(Capability.AMADEUS_GDS_IMPORT)) {
                <option value="@RecordLocatorForm.Provider.AMADEUS">Amadeus CheckMyTrip</option>
            }
        </select>
      </div>

      <div class="span2">
        <label>&nbsp;</label>
        <button class="btn btn-primary input-block-level" type="submit" onclick="postForm('@controllers.routes.TripController.importRecordLocator(m.tripId)', 'recordLocatorForm');return false;">
          Import
        </button>
      </div>

      <div class="span2 ">
        <label>&nbsp;</label>
        <a role="button" class="btn btn-info input-block-level "
        onclick="javascript:bkConfirmExit('@routes.BookingController.bookings(m.tripId, new TabType.Bound(TabType.ITINERARY))');"><i class="fa fa-reply"></i>&nbsp;To Itinerary</a>
      </div>
    </div>

    <div id="sableLiveConnect" style="">
     <div class="row-fluid" style="padding-top: 50px">
       <div class="span12">
           <div class="subTitle"> SABRE LIVE </div>
       </div>
     </div>

      <div class="row-fluid" style="padding-top: 0px">
        <div class="span6">
            Enable your account for Sabre Live and access your live PNR data from your Booking Inbox.
            <br/>Click <a href="https://umapped.freshdesk.com/support/solutions/articles/4000068401" target="_blank">here</a> to learn more about Sabre Live and how to get started.
        </div>
        <div class="span2">
          <btn class="btn btn-primary input-block-level" onclick="javascript:activateMenu('#inboxTripMenu');javascript:getPage('/bookings/inbox');return false;"> Booking Inbox </btn>
        </div>
      </div>
    </div>
    </form>

  }
}

</div>
<--endPageBody-->
