@import com.mapped.publisher.common.Capability
@(m:  com.mapped.publisher.view.TripBookingView)
@import com.mapped.publisher.common.SecurityMgr.AccessLevel
@import com.mapped.publisher.view.TabType
@import com.mapped.publisher.view.util.Common

  @m.getChronologicalBookings()

  @if(m!=null && m.message != null && m.message.length > 0) {
<--alertMsg-->
<div id="alertMsg">
    <h4> @m.message</h4>
</div>
<--endAlertMsg-->
}

<--pageTitle-->
<div id="pageTitle">
</div>
<--endPageTitle-->

<--pageHeader-->
<div id="pageHeader">
  <h3> @m.tripName | @m.tripStartDatePrint to @m.tripEndDatePrint</h3>
</div>
<--endPageHeader-->


<--pageBody-->
<div id="pageBody">
  <style>
    @for( (k, i) <- m.chronologicalDates.zipWithIndex) {
      #sortNoteListDiv_ @i li : hover {
      cursor: move ;
      }

      #sortNoteListDiv_ @i li.ui-sortable-helper {
      cursor: move ;
      }
    }
    .bookingBox:hover {
      box-shadow: 0px 0px 4px  #333333 ;
    }

    .bootstrap-timepicker-widget.dropdown-menu.open {
      z-index: 1060;
    }

    #bookingStartDate, #bookingStartTime, #bookingEndDate, #bookingEndTime {
      width: 70px;
    }
  </style>

  @* @formatter:off *@
  <script>
    $(function(){ //On Load
      displayNewFeatureTripSummaryBadge(); //check if we need to display any new feature badges
      itineraryViewInit('@routes.BookingController.bookings(m.tripId, new TabType.Bound(TabType.ITINERARY))'); //in bookings.js
      $('.noteTable').each(function() {
        if(parseInt($(this).parent().css('height').substring(0, $(this).parent().css('height').length - 2)) > 220) {
          $(this).find('.chevron-down').css('display', '');
          $(this).parent().addClass('gradient');
          $(this).parent().addClass('noteHidden');
        }
      });
    });

    $(document).ready(function($){
        var timelines = $('.cd-horizontal-timeline');
        var dates = $("div[id^='date_'][id!='date_top']");
        if(dates.length > 0) {
	      (timelines.length > 0) && initTimeline(timelines);
	    }

        var element = $('#navItems');
        var element2 = $('#innerNav');
        //var originalY = element.offset().top;

        //var topMargin = 0;
        //element.css('position', 'relative');
        //$(window).on('scroll', function(event) {
        //    var scrollTop = $(window).scrollTop();

        //    element.stop(false, false).animate({
        //        top: scrollTop < originalY
        //                ? 0
        //                : scrollTop - originalY + topMargin
        //    }, 0);
        //});

        var offsetPixels = element.offset().top;

	    $(window).scroll(function() {
		  if ($(window).scrollTop() > offsetPixels) {
			$(element2).css({
				"position": "fixed",
				"top": "0px",
				"right":"45px",
				"padding-left": "90px",
				"box-sizing":"border-box"
			});
		  } else {
			$(element2).css({
				"position": "static",
				"right":"0",
				"padding-left":"0px"
			});
		  }
	    });
      });

    @if(m.chronologicalDates !=null && m.chronologicalDates.size() > 0 && m.accessLevel.ge(AccessLevel.APPEND) ) {
      $(function(){
        @for((k, i) <- m.chronologicalDates.zipWithIndex ) {
          $('#sortNoteListDiv_@i').sortable(
            { update: function( event, ui ) {
                var order = $(this).sortable('toArray').toString();
                doPost('@controllers.routes.BookingNoteController.reorderNotes()'+ '?tripId=@m.tripId&inSelectedTab=@TabType.ITINERARY&inNoteIds=' + order + '&inScrollTo=' + this.id);
              }
          });
        }

      });
    }

    @if(m.modalUrl != null && m.modalUrl.length >0) {
      $(document).ready(function() {
         getModalPage("@routes.ClassicVacationsController.searchByDate(m.tripId)");
      });
    }

    function toTop() {
      $('html,body').animate({
          scrollTop: $("#date_top").offset().top
      }, 800);

    }

      //check to see if we need to scroll to a specific id
    @if(m.scrollToId != null && m.scrollToId.trim.length > 0) {
     $(function(){
         var offset = 240;
      if ($('#@m.scrollToId').length){
         var a = $("#@m.scrollToId").offset().top - offset;
         $('html,body').unbind().animate({
           scrollTop: a});
        }


     });
   }

    //confirm overwrite of summary
    function confirmSummaryUpdate(summaryUrl) {
      var r = confirm("Please note this will overwrite any changes you have made to the trip summary.");
      if (r == true) {
        removeNewSummaryBadge();
        getPage(summaryUrl);
      }
    }

    $('#copyBookingSubmit').click(function() {
      $('#copyBookingModal').modal('hide');
    });


  function resetStartDate() {
    $('#bookingStartDate').val('');
  }

  function resetStartTime() {
    $('#bookingStartTime').val('12:00 AM');
  }

  function resetEndDate() {
    $('#bookingEndDate').val('');
  }

  function resetEndTime() {
    $('#bookingEndTime').val('12:00 AM');
  }

  </script>

  @* @formatter:on *@
  @views.html.trip.tripWizard(m.tripId, m.imgUrl, 2, m.accessLevel)
  <div class="tabbable" id="date_top" > <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs" id="bookingTabs" style="border-bottom: 0px solid #ffffff">
    <li @if(m.activeTab == null || (m.activeTab != TabType.TEMPLATES && m.activeTab != TabType.UPLOADS && m.activeTab != TabType.WCITIES && m.activeTab != TabType.AFAR && m.activeTab != TabType.OFFERS)){class="active"}>
      <a href="#allBookingsTab1" data-toggle="tab" tabType="bookingsTabLink">
      <i class="fa fa-list-ul pull-left"></i> Itinerary </a></li>

    <li @if(m.activeTab == TabType.TEMPLATES){class="active"}>
      <a href="#templateTab" data-toggle="tab" id="templateTabLink">
        <i class="fa fa-bookmark pull-left"></i> Calendar</a></li>

    @if(!m.hasCapability(Capability.DISABLE_CONTENT_WCITIES) && m.accessLevel.ge(AccessLevel.APPEND)) {
      <li @if(m.activeTab == TabType.WCITIES) {
        class="active"}>
        <a href="#WCitiesTab" data-toggle="tab" id="WCitiesTabLink">
          <i class="fa fa-book pull-left"></i> Wcities</a></li>
    }

    @if(!m.hasCapability(Capability.DISABLE_CONTENT_AFAR) && m.accessLevel.ge(AccessLevel.APPEND)) {
      <li @if(m.activeTab == TabType.AFAR) {
        class="active"}>
        <a href="#AfarTab" data-toggle="tab" id="AfarTabLink">
          <i class="fa fa-book pull-left"></i> AFAR</a></li>
    }

    @if(m.hasCapability(Capability.OFFER_ANALYSIS) && m.accessLevel.ge(AccessLevel.APPEND)) {
      <li @if(m.activeTab == TabType.OFFERS) {
        class="active"}>
        <a href="#offerTab" data-toggle="tab" id="offerTabLink">
          <i class="fa fa-bookmark pull-left"></i> Offers</a></li>
    }


  </ul>


  <div class="tab-content" style="min-height: 800px;width: 100%;overflow-x:hidden;">
      <!-- all bookings sorted chronologically -->
    @views.html.trip.bookings.allBookings(m)

    <!-- Templates Tab Conent -->
    @views.html.trip.bookings.bookingTemplates(m)

    @if(!m.hasCapability(Capability.DISABLE_CONTENT_WCITIES) && m.accessLevel.ge(AccessLevel.APPEND)) {
      @views.html.trip.bookings.wcities(m)
    }
    @if(!m.hasCapability(Capability.DISABLE_CONTENT_AFAR) && m.accessLevel.ge(AccessLevel.APPEND)) {
      <!-- AFAR Tab Content -->
      @views.html.trip.bookings.afar(m)
    }
      <!-- Offers Tab Content -->
    @if(m.hasCapability(Capability.OFFER_ANALYSIS) && m.accessLevel.ge(AccessLevel.APPEND)) {
      @views.html.trip.bookings.offers(m)
    }

  </div> <!-- tabContent -->
</div> <!-- div tabbable-->

  @views.html.poi.poiEditorModals(m.pbv)

  <div id="deleteModal" class="modal hide fade">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
         <h3>Confirm Delete</h3>

      </div>
      <div class="modal-body">
          @if(m.tripStatus == 0) {
          <h5> This trip is already published. It will be also be deleted for all passengers.</h5>
          }
          <h3 id="deleteModalMsg"></h3>
      </div>
      <div class="modal-footer">
          <form id="deleteBookingForm">
              <input type="hidden" id="tripId" name="inTripId" value="@m.tripId">
              <input type="hidden" id="detailId" name="inTripDetailId" value="">

              <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
              <button type="submit" class="btn btn-danger " id="deleteBookingSubmit"
                      onclick="javascript:postForm('/trips/newTrip/deleteBooking', 'deleteBookingForm');return false;">Delete
              </button>
          </form>
      </div>
  </div>

  <div id="copyBookingModal" class="modal hide fade">
    <form id="copyBookingForm">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Confirm Copy</h3>

      </div>
      <div class="modal-body">
        @if(m.tripStatus == 0) {
        <h5> This trip is already published. It will be also be duplicated for all passengers.</h5>
        }
        <h3 id="copyBookingModalMsg"></h3>


        <input type="hidden" id="tripId2" name="inTripId" value="@m.tripId">
        <input type="hidden" id="detailId2" name="inTripDetailId" value="">

        <div class="row-fluid">
          <div class="span6">
            <label> Booking #</label>
            <input type="text" id="bookingNum" class="field span12" name="inBookingNum" class="input-block-level">
          </div>
        </div>
        <br/>

        <div class="row-fluid">
          <div class="span3 ">
            <label id="startDateLabel"> Start Date <em>*</em></label>
            <div class="input-append date" id="startDate1" >
              <span class="add-on"><i class="fa fa-calendar"></i></span>
              <input type="text" id="bookingStartDate" name="inBookingStartDate" readonly class="input-small required">
              <btn class="btn" onclick="javascript:resetStartDate();"> <span class=""><i class="fa fa-times"></i></span></btn>
            </div>
          </div>
          <div class="span3 input-append bootstrap-timepicker">
            <label id="startTimeLabel"> Start Time <em>*</em></label>
            <span class="add-on"><i class="fa fa-clock-o"></i></span>
            <input id="bookingStartTime" type="text" class="input-small" name="inBookingStartTime" readonly>
            <btn class="btn" onclick="javascript:resetStartTime();"> <span class=""><i class="fa fa-times"></i></span></btn>
          </div>

          <div class="span3 ">
            <label id="endDateLabel"> End Date </label>
            <div class="input-append date" id="endDate1" >
              <span class="add-on"><i class="fa fa-calendar"></i></span>
              <input type="text" id="bookingEndDate" name="inBookingEndDate" readonly class="input-small">
              <btn class="btn" onclick="javascript:resetEndDate();"> <span class=""><i class="fa fa-times"></i></span></btn>
            </div>
          </div>
          <div class="span3 input-append bootstrap-timepicker">
            <label id="endTimeLabel"> End Time </label>
            <span class="add-on"><i class="fa fa-clock-o"></i></span>
            <input id="bookingEndTime" type="text" class="input-small" name="inBookingEndTime" readonly>
            <btn class="btn" onclick="javascript:resetEndTime();"> <span class=""><i class="fa fa-times"></i></span></btn>
          </div>
        </div>
        <br/>

        <div class="row-fluid">
          <div class="span12">
            <label> Details</label>
            <textarea id="bookingNote" class="field span12" rows="10" name="inBookingNote"></textarea>
          </div>
        </div>
        <br/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
        <button type="submit" class="btn btn-danger " id="copyBookingSubmit"
                onclick="javascript:postForm('/trips/newTrip/copyBooking', 'copyBookingForm');return false;">Copy
        </button>
      </div>
    </form>
  </div>

  <div id="dynamicModal">
  </div>
  <div id="photoMgrModal" class="modal container hide fade" tabindex="-1" data-replace="true" data-backdrop="static" data-keyboard="false" data-modalOverflow="true">
    <div class="modal-header">
      <button id="photoMgrModalCloseTop" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h2>Manage Photos</h2>
    </div>
    <div class="modal-body">
      <input type="hidden" id="photoMgrPoi"/>

      <div class="well">
        <label>Show Photos</label>
        <input type="checkbox" checked id="photoMgrToggle">
        <p class="muted">You can show or hide photos for this booking</p>
      </div>

      <div class="row-fluid">
        <ul id="photoMgrModalItems" class="umSortList">

        </ul>
      </div>

      <div id="photoMgrModalSpinner" class="spinner"
           style="display:none; background: rgba(255,255,255,.7) url('@{m.imgUrl}/img/ajax-loader-white-1.gif') center center no-repeat;width:100%;height:100%;position: absolute; top: 0px; left: 0px;z-index:100;min-height:200px">
      </div>
      <p class="muted">
        Simply drag and drop the photos to change the order that they will appear for this booking. <br/>
        You can also delete photos - the photos will only be deleted for this booking. Click on "Restore Default" to see all the original photos from your vendor library. <br/>
        Please make sure to save your booking for the changes to take effect.
      </p>
    </div> <!-- modal-body -->
    <div class="modal-footer">
      <div class="row-fluid">
        <div class="offset9 span2"><a role="button" id="photoMgrModalReset" class="btn btn-primary input-block-level">Restore Default</a></div>
        <div class="span1"><button id="photoMgrModalClose" type="button" class="btn btn-info input-block-level" data-dismiss="modal" aria-hidden="true">Close</button></div>
      </div>

    </div>
  </div>

  <div id="searchPageModal" class="modal hide fade container">
    <form id="searchPageForm">
      <input type="hidden" id='inTripId' name='inTripId' value="@m.tripId"/>
      <input type="hidden" id='inTripNote' name='inTripNote' value="true"/>
      <input type="hidden" id='searchPageModalTripDetailId' name='inTripDetailId' value=""/>
      <input type="hidden" id='searchPageModalDate' name='inTripNoteDate' value=""/>


      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Add Content From Your  Document Library</h3>
      </div>
      <div class="modal-body">
        <legend>
          Search for an existing page
        </legend>
        <div class="">
          <div class="row-fluid">
            <div class="span6">
              <label>Keyword</label>
              <input type="text" id='inKeyword' name='inKeyword' placeholder="keywords"
              class="input-block-level"/>
            </div>
            <div class="span3 ">
              <label>&nbsp;</label>
              <button type="submit" class="btn btn-success pull-left" id="searchPageButton"
              onclick="javascript:doSearchForm('guide/destinationPageSearch','searchPageForm','pageSearchResults');return false;">
                Search
              </button>
            </div>
            ​
          </div>
          <div class="row-fluid">
            <input type="checkbox" name="inSearchTitleOnly" value="true" checked> search in page title only
          </div>
          <br>

        </div>
        <div id="pageSearchResults">
          <div id="pageSearchResultsTable">

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>


      </div>
    </form>
  </div>

  <div id="deleteNoteModal" class="modal hide fade">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Confirm Delete</h3>
    </div>
    <div class="modal-body">
      <h3 id="deleteNoteModalMsg"></h3>
    </div>
    <div class="modal-footer">
      <form id="deleteNoteForm">
        <input type="hidden" id="deleteNoteId" name="inTripNoteId" value="">

        <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
        <button type="submit" class="btn btn-danger " id="deleteNoteSubmit"
        onclick="javascript:postForm('/trips/newTrip/deleteNote?tripId=@m.tripId', 'deleteNoteForm');return false;">Delete
        </button>
      </form>
    </div>
  </div>

  @views.html.guide.t42.modals()
  @views.html.trip.documents.mobilizerModal(m)
  @views.html.trip.documents.approachModal(m)


</div>
<--endPageBody-->


