@(m: com.mapped.publisher.view.TripBookingView)
@import com.mapped.publisher.view.UmCruiseReservationView; val crv: UmCruiseReservationView = if (m.bookingDetail == null) null else m.bookingDetail match { case crv: UmCruiseReservationView => crv; case _ => null }
@import com.umapped.persistence.reservation.utils.UmReservationUtils
@import com.umapped.persistence.enums.ReservationType
@import com.mapped.publisher.common.SecurityMgr.AccessLevel
@import com.mapped.publisher.view.TabType
@import org.apache.commons.lang3.StringEscapeUtils.escapeEcmaScript
@import com.mapped.publisher.utils.Utils
@import com.umapped.persistence.reservation.enums.UmRateType

@if(crv != null && crv.getDetailsTypeId.getRootLevelType == ReservationType.CRUISE && crv.getConsortiumAmenities != null && crv.getConsortiumAmenities.length > 0 ) {
  <script>
  function addCruiseAmenities() {
    var note = $('#cruiseNote').val () ;
    if (note.length > 0){
      note = note + "\n" +"\n" + "@crv.getConsortiumName Cruise Amenities:\n" ;
    }
    note = note + '@Html(escapeEcmaScript((crv.getConsortiumAmenities)))';
    $('#cruiseNote').val(note);
  }
  </script>
}

<div id="cruiseTab" @if(m.activeTab == TabType.CRUISES) { class='tab-pane active' } else { class='tab-pane fade'}>
  @if(m.accessLevel.ge(AccessLevel.APPEND)) {
    @if(crv != null && crv.getDetailsTypeId.getRootLevelType == ReservationType.CRUISE) {
        <div class="subTitle" id="bkAreaTitleCruise"> Edit This Cruise</div>
    } else {
        <div class="subTitle" id="bkAreaTitleCruise" style="padding-bottom: 10px">
          Add A Cruise

        </div>
    }

    <form id="CRUISE_BookingForm"  class="BookingForm">
      <input type="hidden" class="input" id="inTripId" name="inTripId" value="@m.tripId">
      @if(crv != null && crv.getDetailsTypeId.getRootLevelType == ReservationType.CRUISE) {
        <input type="hidden" class="input" id="inTripDetailId" name="inTripDetailId" @if(crv.getDetailsId != null) {
          value="@crv.getDetailsId"}>
      }
      <div class="row-fluid">
        <div class="span6">
          <label>Cruise<em>*</em></label>
          <input type="text" id="cruiseName" placeholder="Cruise Name" name="inCruiseName" class="required input-block-level" @if(crv != null && crv.getDetailsTypeId.getRootLevelType == ReservationType.CRUISE && crv.getProviderName != null) {
            value="@crv.getProviderName"}>
          <input type="hidden" id="cruiseProviderId" name="inCruiseProviderId" @if(crv != null && crv.getDetailsTypeId.getRootLevelType == ReservationType.CRUISE && crv.getPoiMain != null) {
            value="@crv.getPoiMain.getId()"}>

        </div>
        <div class="span3">
          <label>Booking #</label>
          <input type="text" id="cruiseConfirmationNumber" placeholder="Cruise Confirmation Number" name="inCruiseBooking" @if(crv != null && crv.getDetailsTypeId.getRootLevelType == ReservationType.CRUISE && crv.getBookingNumber != null) {
            value="@crv.getBookingNumber"}>
        </div>
        <div class="span3">
          <label>Record Locator</label>
          <input type="text" id="cruiseRecordLocator" placeholder="Cruise Record Locator" name="inCruiseLocator" @if(crv != null && crv.getDetailsTypeId.getRootLevelType == ReservationType.CRUISE && crv.getRecordLocator != null) {
            value="@crv.getRecordLocator"}>
        </div>
      </div>
      <br/>

      <div class="row-fluid">
        <div class="span4">
          <label>Cruise Company</label>
          <input type="text" id="cruiseCmpyName" placeholder="Cruise Company" name="inCruiseCmpyName" class="input-block-level" @if(crv != null && crv.getDetailsTypeId.getRootLevelType == ReservationType.CRUISE && crv.getCruiseCmpyName != null) {
            value="@crv.getCruiseCmpyName"}>
        </div>
        <div class="span4">
          <label>Category</label>
          <input type="text" id="cruiseCategory" placeholder="Category" name="inCruiseCategory" class="input-block-level" @if(crv != null && crv.getDetailsTypeId.getRootLevelType == ReservationType.CRUISE && crv.getCategory != null) {
            value="@crv.getCategory"}>
        </div>
        <div class="span4">
          <label>Cabin/Room Number</label>
          <input type="text" id="cruiseCabinNumber" placeholder="Cabin Number" name="inCruiseCabinNumber" class="input-block-level" @if(crv != null && crv.getDetailsTypeId.getRootLevelType == ReservationType.CRUISE && crv.getCabinNumber != null) {
            value="@crv.getCabinNumber"}>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span4">
          <label>Deck</label>
          <input type="text" id="cruiseDeck" placeholder="Ship Deck" name="inCruiseDeck" class="input-block-level" @if(crv != null && crv.getDetailsTypeId.getRootLevelType == ReservationType.CRUISE && crv.getDeck != null) {
            value="@crv.getDeck"}>
        </div>
        <div class="span4">
          <label>Bedding</label>
          <input type="text" id="cruiseCategory" placeholder="Bed Type" name="inCruiseBedding" class="input-block-level" @if(crv != null && crv.getDetailsTypeId.getRootLevelType == ReservationType.CRUISE && crv.getBedding != null) {
            value="@crv.getBedding"}>
        </div>
        <div class="span4">
          <label>Dining</label>
          <input type="text" id="cruiseCabinNumber" placeholder="Dining" name="inCruiseMeal" class="input-block-level" @if(crv != null && crv.getDetailsTypeId.getRootLevelType == ReservationType.CRUISE && crv.getDining != null) {
            value="@crv.getDining"}>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span5">
          <label>Depart Port<em>*</em></label>
          <input type="text" id="cruisePortDepart" placeholder="Port name" name="inCruisePortDepart" class="required input-block-level" @if(crv != null && crv.getDetailsTypeId.getRootLevelType == ReservationType.CRUISE && crv.getDepartPort != null) {
            value="@crv.getDepartPort"}>
          <input type="hidden" id="cruisePortDepartId" name="inCruisePortDepartId" class="required input-block-level" @if(crv != null && crv.getDetailsTypeId.getRootLevelType == ReservationType.CRUISE && crv.getPoiStart != null) {
            value="@crv.getPoiStart.getId()"}>
        </div>
        <div class="offset1 span5">
          <label>Arrival Port<em>*</em></label>
          <input type="text" id="cruisePortArrive" placeholder="Port Name" name="inCruisePortArrive" class="required input-block-level" @if(crv != null && crv.getDetailsTypeId.getRootLevelType == ReservationType.CRUISE && crv.getArrivePort != null) {
            value="@crv.getArrivePort"}>
          <input type="hidden" id="cruisePortArriveId" name="inCruisePortArriveId" class="required input-block-level" @if(crv != null && crv.getDetailsTypeId.getRootLevelType == ReservationType.CRUISE && crv.getPoiFinish != null) {
            value="@crv.getPoiFinish.getId()"}>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span3">
          <label>Depart Date<em>*</em></label>
          <div class="input-append date" id="cruiseDepartDate1" >
            <span class="add-on"><i class="fa fa-calendar"></i></span>
            <input type="text" id="cruiseDepartDate" readonly class="input-small required" name="inCruiseDepartDate" @if(crv != null && crv.getDetailsTypeId.getRootLevelType == ReservationType.CRUISE && crv.getStartDate != null) {
              value="@crv.getStartDate"}>
          </div>
        </div>
        <div class="span3 input-append bootstrap-timepicker">
          <label>Sailing Time<em>*</em></label>
          <span class="add-on"><i class="fa fa-clock-o"></i></span>
          <input id="cruiseBoardTime" type="text" class="input-small" name="inCruiseBoardTime" readonly @if(crv != null && crv.getDetailsTypeId.getRootLevelType == ReservationType.CRUISE && crv.getStartTime != null && crv.getStartTime.length > 0) {
            value="@crv.getStartTime"
          } else {
            value="3:00 PM"}>
        </div>

        <div class="span3">
          <label>Arrive Date<em>*</em></label>
          <div class="input-append date" id="cruiseArrivalDate1" >
            <span class="add-on"><i class="fa fa-calendar"></i></span>
            <input type="text" id="cruiseArriveDate" readonly class="input-small required" name="inCruiseArriveDate" @if(crv != null && crv.getDetailsTypeId.getRootLevelType == ReservationType.CRUISE && crv.getEndDate != null) {
              value="@crv.getEndDate"}>
          </div>
        </div>

        <div class="span3 input-append bootstrap-timepicker">
          <label>Disembark Time<em>*</em></label>
          <span class="add-on"><i class="fa fa-clock-o"></i></span>
          <input type="text" id="cruiseDisembarkTime" class="input-small" name="inCruiseDisembarkTime" readonly @if(crv != null && crv.getDetailsTypeId.getRootLevelType == ReservationType.CRUISE && crv.getEndTime != null && crv.getEndTime.length > 0 ) {
            value="@crv.getEndTime"
          } else {
            value="12:00 PM"}>
        </div>
      </div>
      <br/>
      <div class="row-fluid">
        <div class="span3" style="display:none;">
          <label>Start Timezone</label>
          <select name="inCruiseStartTimezone" class="input-block-level" id="cruiseStartTimezone">
            @for(tz <- Utils.getTimezones()) {
            <option value="@tz" @if(crv != null) { selected="Y" }>@tz</option>
            }
          </select>
        </div>
        <div class="span3" style="display:none;">
          <label>End Timezone</label>
          <select name="inCruiseTimezone" class="input-block-level" id="cruiseFinishTimezone">
            @for(tz <- Utils.getTimezones()) {
            <option value="@tz" @if(crv != null) { selected="Y" }>@tz</option>
            }
          </select>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span12">
          <label> Details
            @if(crv != null && crv.getDetailsTypeId.getRootLevelType == ReservationType.CRUISE && crv.getConsortiumAmenities != null && crv.getConsortiumAmenities.length > 0) {
              <button class="btn btn-info right" style="margin-bottom: 10px" onclick="javascript:addCruiseAmenities();return false;">Add @crv.getConsortiumName Cruise Amenities</button>
            }
          </label>
          <textarea id="cruiseNote" class="field span12" rows="10" name="inCruiseNote">@if(crv != null && crv.getDetailsTypeId.getRootLevelType == ReservationType.CRUISE) {@crv.getNotesPlain}</textarea>

        </div>
      </div>
      <div class="row-fluid" style="display:none;">
        <div class="span12">
          <label> Important Information</label>
          <textarea id="cruiseImportant" class="field span12" rows="10" name="inCruiseImportant">@if(crv != null && crv.getDetailsTypeId.getRootLevelType == ReservationType.CRUISE) {@crv.getImportant}</textarea>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span12">
          <label> Cancellation Policy</label>
          <textarea id="cruiseCancellation" class="field span12" rows="1" name="inCruiseCancellation">@if(crv != null && crv.getDetailsTypeId.getRootLevelType == ReservationType.CRUISE) {@crv.getCancellation}</textarea>
        </div>
      </div>
      @views.html.trip.bookings.bookingRate(crv)
      @views.html.trip.bookings.bookingCtrlBtns(ReservationType.CRUISE, TabType.CRUISES, m)
      @if(crv != null) {
        @views.html.trip.bookings.bookingCruiseStop(m, crv)
      }



      @if(crv != null && crv.getDetailsTypeId.getRootLevelType == ReservationType.CRUISE && crv.getFiles != null && crv.getFiles.size() > 0 ) {
        <div style="margin-top:80px;padding-top:40px" class="row-fluid">

        <div class="subTitle">
          LINKED FILES (@crv.getFiles.size())
        </div>


        <table class="table table-striped">
          <thead>
          <tr>
            <th style="width:60%">
              File Name
            </th>
            <th style="width:10%"> Uploaded by</th>

            <th style="width:20%"> Uploaded On</th>

            <th style="width:10%"></th>
          </tr>
          </thead>
          <tbody id="sortAttachDiv">
          @for(p <- crv.getFiles) {
          <tr id="@p.id">
            <td>
              <a href="@p.attachUrl" target="_blank">
                @if(p.attachType == "application/msword"){
                <img src="https://s3.amazonaws.com/static-umapped-com/public/img/word_icon.png" width="48px">
                } else {
                @if(p.attachType == "application/pdf"){
                <img src="https://s3.amazonaws.com/static-umapped-com/public/img/pdf_icon.png" width="48px">
                } else {
                <img src="https://s3.amazonaws.com/static-umapped-com/public/img/spacer.gif" width="48px">
                }
                }
                @p.attachName
              </a>
            </td>
            <td> @p.createdById</td>
            <td> @p.lastUpdateTimestampPrint</td>
            @if(m.accessLevel.ge(AccessLevel.OWNER) || (m.accessLevel.ge(AccessLevel.APPEND) && crv.getCreatedById.equals(m.loggedInUserId))) {
            <td >
              <a style="text-align: center" href="#deleteFileModal_@p.id" data-toggle="modal" class="btn btn-danger btn-small">
                Delete</a>
            </td>
            }
          </tr>

          }
          </tbody>
        </table>
      </div>
      }

    </form>

    @views.html.poi.poiEditor(m.pbv, TabType.CRUISES + "_poiEditRegion")
}

<div id="cruiseSearchModal" class="modal hide fade large" >
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Search Cruises</h3>

  </div>
  <div class="modal-body">
    <div class="alert fade in" id="cruiseErrorAlertBox" style="padding-bottom: 10px">
      <button type="button" class="close">×</button>
    </div>
    <form id="searchShipForm">
      <input type="hidden" id="cruiseMonth" name="inCruiseMonth">
      <input type="hidden" id="cruiseYear" name="inCruiseYear">

      <div class="row-fluid">
        <div class="span6">
          <label>Cruise Ship <em>*</em></label>
          <input type="text" id="searchShipName" placeholder="Cruise Ship / Cruise Line" name="inSearchShipName" class="required input-block-level">
          <input type="hidden" id="searchShipProviderId" name="inSearchShipProviderId" >
          <input type="hidden" id="tripId" name="inTripId" value="@m.tripId" >

        </div>
        <div class="span2" style="margin-top: 15px">

          <select id="cruiseMonthList">
            <option  value="1"  data-description="">January</option>
            <option  value="2"  data-description="">February</option>
            <option  value="3"  data-description="">March</option>
            <option  value="4"  data-description="">April</option>
            <option  value="5"  data-description="">May</option>
            <option  value="6"  data-description="">June</option>
            <option  value="7"  data-description="">July</option>
            <option  value="8"  data-description="">August</option>
            <option  value="9"  data-description="">September</option>
            <option  value="10"  data-description="">October</option>
            <option  value="11"  data-description="">November</option>
            <option  value="12"  data-description="">December</option>
          </select>
        </div>
        <div class="span2" style="margin-top: 15px">
          <select id="cruiseYearList">
            <option  value="2017"  data-description="">2017</option>
            <option  value="2018"  data-description="" selected="selected">2018</option>
            <option  value="2019"  data-description="">2019</option>
          </select>
        </div>
        <div class="span2" style="margin-top: 20px">
          <button type="button" type="submit" class="btn btn-success btn-large" data-dismiss="modal" aria-hidden="true" id="searchShipBtn"
          onclick="">Search</button>
        </div>
      </div>
    </form>

    <div id="shipSearchResults">
      <div id="shipSearchResultsTable">

      </div>
      <div id="cruiseSearchSpinner" class="spinner" style="display:none; background: rgba(255,255,255,.7) url('@{m.imgUrl}/img/ajax-loader-white-1.gif') center center no-repeat;width:100%;height:100%;position: absolute; top: 0px; left: 0px;z-index:100;min-height:200px    ">
      </div>
    </div>
  </div>
  <div class="modal-footer">

  </div>
</div>

</div>


<!-- cruise search modal -->
<script>
$(function() {
  $('#cruiseErrorAlertBox').hide();
  @if(crv == null || crv.getDetailsId == null || crv.getDetailsId.trim.length == 0) {
    $('#cruiseSearchModal' ).modal('show');
  }

$("#searchShipForm").validate();

});

$('#searchShipBtn').on('click', function() {
  if (!$('#searchShipProviderId').val()) {
    alert ('Please make sure you select a ship from the auto complete dropdown; you can search by the ship name or the cruise company');
    return false;
  }
  if($("#searchShipForm").valid()) {
    $('#cruiseSearchSpinner').show();
    doSearchForm('template/cruiseSearch','searchShipForm','shipSearchResults');
  }

  return false;
});

function importCruise(tripId, tmpltDetailId) {
  $('#cruiseSearchModal' ).modal('hide');
  doPost('/trips/bookings/import/cruise?tripId=' + tripId + '&tmpltDetailId=' + tmpltDetailId);
}

$('#cruiseMonthList').ddslick({
  width:125,
  onSelected: function(data) {
    $('#cruiseMonth').val(data.selectedData.value);
  }
});
$('#cruiseYearList').ddslick({
width:75,
onSelected: function(data) {
$('#cruiseYear').val(data.selectedData.value);
}
});
</script>

@if(crv != null && crv.getDetailsTypeId.getRootLevelType == ReservationType.CRUISE && m.tripId != null) {
<script>
    $('#addFileSubmit').click(function() {
    $('#addFileModal').modal('hide');
    });

    $('#inFiles').multiSelect({
    selectableHeader: "<div class='custom-header'><h5>Available Files</h5></div>",
    selectionHeader: "<div class='custom-header'><h5>Selected Files</h5></div>",

    });
    $('#inFilesAdd').multiSelect({
    selectableHeader: "<div class='custom-header'><h5>Available Files</h5></div>",
    selectionHeader: "<div class='custom-header'><h5>Selected Files</h5></div>",

    });
  </script>

<div id="addFileModal" class="modal hide fade">
  <form id="addFileForm">
    <input type="hidden" id="inDetailId" name="inDetailId" value=@crv.getDetailsId>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Link Attached File(s) to Booking</h3>
    </div>
    <div class="modal-body">
      @if(m.tripAttachments != null && m.tripAttachments.size > 0) {
      <div class="row-fluid">
        <div class="span12">
          <select multiple="multiple" id="inFiles" name="inFiles">
            @for(p <- m.tripAttachments) {
            <option style="font-size: 12px; font-weight: 200" value='@p.id'>@p.attachName</option>
            }
          </select>
        </div>
      </div>
      }

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
      <button type="submit" class="btn btn-success "  id="addFileSubmit"
              onclick="javascript:postForm('/trips/newTrip/newFiles','addFileForm');return false;">Link
      </button>

    </div>
  </form>
</div>
}

@if(crv != null && crv.getDetailsTypeId.getRootLevelType == ReservationType.CRUISE && crv.getFiles != null && crv.getFiles.size() > 0) {
@for(p <- crv.getFiles) {
<script>
      $('#deleteDeleteFileSubmit_@p.id').click(function() {
      $('#deleteFileModal_@p.id').modal('hide');
      });
    </script>

<div id="deleteFileModal_@p.id" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Confirm Delete</h3>
  </div>
  <div class="modal-body">
    <p>Delete this File?</p>
  </div>
  <div class="modal-footer">
    <form id="deleteFileForm_@p.id">
      <input type="hidden" id="inDetailId" name="inDetailId" value="@crv.getDetailsId">
      <input type="hidden" id="inTripId" name="inTripId" value="@m.tripId">
      <input type="hidden" id="inFileId" name="inFileId" value="@p.id">
      <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
      <button type="submit" class="btn btn-info " id="deleteDeleteFileSubmit_@p.id" onclick="javascript:postForm('@controllers.routes.BookingController.deleteFile(crv.getDetailsId, p.id, m.tripId, p.attachName)', 'deleteFileForm_@p.id');return false;">Delete</button>
    </form>
  </div>
</div>
}
}