@(m: com.mapped.publisher.view.TripBookingView, crv: com.mapped.publisher.view.UmCruiseReservationView)
@import com.mapped.publisher.utils.Utils
@import com.umapped.persistence.enums.ReservationType
@import com.mapped.publisher.view.TabType

@if(crv.getCruiseStops(m) != null && crv.getCruiseStops(m).size() > 0) {
  <div style="margin-top: 40px">
  <legend>Stops</legend>
  <table class="table table-striped" >
    <thead>
      <th style="width: 200px;text-align: center"> Date </th>
      <th style="width: 500px;text-align: center"> Location </th>
      <th style="width: 150px;text-align: center"> Arrive Time</th>
      <th style="width: 150px;text-align: center"> Depart Time</th>
      <th style="width: 200px;text-align: center"></th>
    </thead>


    @for(p <- crv.getCruiseStops(m)) {
      <tr>
        <td style="text-align: left">
        @p.getDate
        </td>
        <td style="text-align: left">
        @p.getItineraryName
        </td>

        <td style="text-align: center">
        @p.getArriveTime
        </td>
        <td style="text-align: center">
        @p.getDepartTime
        </td>
        <td>
          @if(p.getTripDetailId != null && p.getTripDetailId.trim.length > 0) {
            <button class ="btn btn-info" onclick="javascript:getPage('@routes.BookingController.bookings(m.tripId, new TabType.Bound(TabType.ACTIVITIES), p.getTripDetailId)');return false;">
              Edit </button>
          }
          @if(p.getPortCode != null && p.getPortCode.length > 0){
          <a href="#" class="btn btn-info" onclick="javascript:getModalPage('@routes.ShoreTripsController.getShoreTripByPort(p.getPortCode, p.getTripDetailId)');return false;">
              ShoreTrips
          </a>
          }
        </td>
      </tr>
    }
  </table>
  </div>
  <div id="dynamicModal">
  </div>
}
