@(m:  com.mapped.publisher.view.TripBookingView)
@import com.mapped.publisher.view.UmActivityReservationView; val arv: UmActivityReservationView = if (m.bookingDetail == null) null else m.bookingDetail match { case arv: UmActivityReservationView => arv; case _ => null }
@import com.umapped.persistence.reservation.utils.UmReservationUtils
@import com.umapped.persistence.enums.ReservationType
@import com.mapped.publisher.common.SecurityMgr.AccessLevel
@import com.mapped.publisher.view.TabType
@import com.mapped.publisher.view.ViewUtils
@import com.umapped.persistence.enums.ReservationType
@import com.mapped.publisher.utils.Utils
@import com.umapped.persistence.reservation.enums.UmRateType

<div id="activityTab" @if(m.activeTab == TabType.ACTIVITIES){class='tab-pane active'} else { class='tab-pane fade'}>
  <script type="application/javascript">
  @if(arv != null) {
    $(document).ready(function () {
      setActivityFieldVisibity('@arv.getDetailsTypeId.name()');
    });
  }

    $("#activityBookingType").change(function() {
      setActivityFieldVisibity($(this).val())
    });

    function setActivityFieldVisibity(activityType) {
      switch(activityType) {
      case 'EVENT':
      case 'RESTAURANT':
        $("#activityEndDateTime").hide();
        $("#activityFinishLocation").hide();
        $("#activityLocStartLabel").text('Location');
        $("#activityLocStartName").attr('placeholder', "Location");
        $("#activityStartDateLabel").text("Date");
        $("#activityStartTimeLabel").text("Time");
        $("#activityContactLabel").show();
        $("#activityConfirmLabel").show();
        $("#activityContact").show();
        $("#activityConfirm").show();
        break;
      case 'CRUISE_STOP':
        $("#activityContactLabel").hide();
        $("#activityConfirmLabel").hide();
        $("#activityContact").hide();
        $("#activityConfirm").hide();

        $("#activityEndDateTime").show();
        $("#activityFinishLocation").hide();
        $("#activityLocStartLabel").text('Port');
        $("#activityLocStartName").attr('placeholder', "Port");
        $("#activityStartTime").text('Location');

        $("#activityStartDateLabel").text("Arrive Date");
        $("#activityStartTimeLabel").text("Arrive Time");
        $("#activityEndDateLabel").text('Depart Date');
        $("#activityEndTimeLabel").text('Depart Time');
        break;
      default:
      $("#activityContactLabel").show();
      $("#activityConfirmLabel").show();
      $("#activityContact").show();
      $("#activityConfirm").show();
      $("#activityEndDateTime").show();
      $("#activityFinishLocation").show();
      $("#activityLocStartLabel").text('Start Location');
      $("#activityLocStartName").attr('placeholder', "Start Location");
      $("#activityStartDateLabel").text("Start Date");
      $("#activityStartTimeLabel").text("Start Time");
      $("#activityEndDateLabel").text('End Date');
      $("#activityEndTimeLabel").text('End Time');
      break;
      }
    }
    //@@ sourceURL=publisherBookingActivityTab.js
  </script>

@if(m.accessLevel.ge(AccessLevel.APPEND)) {
  @if(arv != null && arv.getDetailsTypeId.getRootLevelType == ReservationType.ACTIVITY) {
    <div class="subTitle" id="bkAreaTitleActivities"> Edit This Activity</div>
  } else {
      <div class="subTitle" id="bkAreaTitleActivities">Add An Activity</div>

  }

  <form id="ACTIVITY_BookingForm"  class="BookingForm">
    <input type="hidden" class="input" id="inTripId" name="inTripId" value="@m.tripId">
    @if(arv != null && arv.getDetailsTypeId.getRootLevelType == ReservationType.ACTIVITY) {
      <input type="hidden" class="input" id="inTripDetailId" name="inTripDetailId" @if(arv.getDetailsId != null) {
        value="@arv.getDetailsId"}>
    }

    <div class="row-fluid">
      <div class="span4">
        <label> Activity <em>*</em></label>
        <input type="text" id="activityProviderName" placeholder="Activity Name" name="inActivityProviderName" class="required input-block-level" @if(arv != null && arv.getDetailsTypeId.getRootLevelType == ReservationType.ACTIVITY && arv.getProviderName != null) {
          value="@arv.getProviderName"}>
        <input type="hidden" id="activityProviderId" name="inActivityProviderId" @if(arv != null && arv.getDetailsTypeId.getRootLevelType == ReservationType.ACTIVITY && arv.getPoiMain != null) {
          value="@arv.getPoiMain.getId()"}>
      </div>


        <div class="span2">
          <label>Activity Type<em>*</em></label>
          <select name="inBookingType" class="input-block-level" id="activityBookingType">
          @for(bt <- ReservationType.ACTIVITY.getSubtree()) {
            <option value="@bt.name()" @if(arv != null && bt == arv.getDetailsTypeId) { selected="Y" }>@bt.getLabel</option>
          }
          </select>
        </div>

      <div class="span2">
        <label>Activity Title</label>
        <input type="text" name="inActivityServiceType" placeholder="Title of Activity" id="activityServiceType" class="input-block-level" @if(arv != null && arv.getDetailsTypeId.getRootLevelType == ReservationType.ACTIVITY && arv.getServiceType != null) {
               value="@arv.getServiceType"}>
      </div>
      <div class="span2">
        <label id="activityContactLabel"> Contact</label>
        <input type="text" id="activityContact" placeholder="Activity Contact" name="inActivityContact" class='input-block-level' @if(arv != null && arv.getDetailsTypeId.getRootLevelType == ReservationType.ACTIVITY && arv.getContact != null) {
          value="@arv.getContact"}>
      </div>
      <div class="span2">
        <label id="activityConfirmLabel"> Booking #</label>
        <input type="text" id="activityConfirm" placeholder="Booking #" name="inActivityBooking" class="input-block-level" @if(arv != null && arv.getDetailsTypeId.getRootLevelType == ReservationType.ACTIVITY && arv.getBookingNumber != null) {
          value="@arv.getBookingNumber"}>
      </div>

    </div>
    <br/>

    <div class="row-fluid">
      <div class="span4">
        <label>Document Name</label>

        <input type="text" id="activityDestination" placeholder="Activity Document Name" name="inActivityDestination" class="input-block-level" @if(arv != null && arv.getDestination != null) {
          value="@arv.getDestination"}>
        <input type="hidden" id="activityDestinationId" name="inActivityDestinationId" class="input-block-level" @if(arv != null && arv.getDestinationId != null) {
          value="@arv.getDestinationId"}>
      </div>

      <div class="span4">
        <label id="activityLocStartLabel">Start Location</label>
        <input type="text" id="activityLocStartName" placeholder="Start Location" name="inLocStartName"
               class="input-block-level"
               @if(arv != null && arv.getDetailsTypeId.getRootLevelType == ReservationType.ACTIVITY && arv.getLocStartName != null) {
               value="@arv.getLocStartName"}>
        <input type="hidden" id="locStartProvider" name="inLocStartProvider"
               @if(arv != null && arv.getDetailsTypeId.getRootLevelType == ReservationType.ACTIVITY && arv.getPoiStart != null) {
               value="@arv.getPoiStart.getId()"}>
      </div>
      <div class="span4" id="activityFinishLocation">
        <label>Finish Location</label>
        <input type="text" id="locFinishName" placeholder="Finish Location" name="inLocFinishName"
               class="input-block-level"
               @if(arv != null && arv.getDetailsTypeId.getRootLevelType == ReservationType.ACTIVITY && arv.getLocFinishName != null) {
               value="@arv.getLocFinishName"}>
        <input type="hidden" id="locFinishProvider" name="inLocFinishProvider"
              @if(arv != null && arv.getDetailsTypeId.getRootLevelType == ReservationType.ACTIVITY && arv.getPoiFinish != null) {
               value="@arv.getPoiFinish.getId()"}>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span3">
        <label id="activityStartDateLabel"> Start Date <em>*</em></label>

        <div class="input-append date" id="activityStartDate1" >
          <span class="add-on"><i class="fa fa-calendar"></i></span>
          <input type="text" id="activityStartDate" readonly class="input-small required" name="inActivityStartDate" @if(arv != null && arv.getDetailsTypeId.getRootLevelType == ReservationType.ACTIVITY && arv.getStartDate != null) {
            value="@arv.getStartDate"}>
        </div>
      </div>
      <div class="span3 input-append bootstrap-timepicker">
        <label id="activityStartTimeLabel"> Start Time</label>
        <span class="add-on"><i class="fa fa-clock-o"></i></span>
        <input id="activityStartTime" type="text" class="input-small" readonly name="inActivityStartTime" @if(arv != null && arv.getDetailsTypeId.getRootLevelType == ReservationType.ACTIVITY && arv.getStartTime != null && arv.getStartTime.length > 0) {
          value="@arv.getStartTime"
        } else {
          value="12:00 AM"}>
      </div>

      <div id="activityEndDateTime"> @* Container to hide activity end date and time *@
        <div class="span3">
          <label id="activityEndDateLabel"> End Date</label>

          <div class="input-append date" id="activityEndDate1" >
            <span class="add-on"><i class="fa fa-calendar"></i></span>
            <input type="text" id="activityEndDate" readonly class="input-small" name="inActivityEndDate" @if(arv != null && arv.getDetailsTypeId.getRootLevelType == ReservationType.ACTIVITY && arv.getEndDate != null) {
              value="@arv.getEndDate"}  >
          </div>
        </div>
        <div class="span3 input-append bootstrap-timepicker">
          <label id="activityEndTimeLabel"> End Time</label>
          <span class="add-on"><i class="fa fa-clock-o"></i></span>
          <input id="activityEndTime" type="text" class="input-small" readonly name="inActivityEndTime" @if(arv != null && arv.getDetailsTypeId.getRootLevelType == ReservationType.ACTIVITY && arv.getEndTime != null && arv.getEndTime.length > 0) {
            value="@arv.getEndTime"
          } else {
            value="12:00 AM"}>
        </div>
      </div>

    </div>
    <br/>
    <div class="row-fluid">
      <div class="span3" style="display:none;">
        <label>Start Timezone</label>
        <select name="inActivityStartTimezone" class="input-block-level" id="activityStartTimezone">
          @for(tz <- Utils.getTimezones()) {
          <option value="@tz" @if(arv != null) { selected="Y" }>@tz</option>
          }
        </select>
      </div>
      <div class="span3" style="display:none;">
        <label>End Timezone</label>
        <select name="inActivityTimezone" class="input-block-level" id="activityFinishTimezone">
          @for(tz <- Utils.getTimezones()) {
          <option value="@tz" @if(arv != null) { selected="Y" }>@tz</option>
          }
        </select>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span12">
        <label> Details</label>
        <textarea id="tourNote" class="field span12" rows="10" name="inActivityNote">@if(arv != null && arv.getDetailsTypeId.getRootLevelType == ReservationType.ACTIVITY) {@arv.getNotesPlain}</textarea>
      </div>
    </div>
    <div class="row-fluid" style="display:none;">
      <div class="span12">
        <label> Important Information</label>
        <textarea id="activityImportant" class="field span12" rows="10" name="inActivityImportant">@if(arv != null && arv.getDetailsTypeId.getRootLevelType == ReservationType.ACTIVITY) {@arv.getImportant}</textarea>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <label> Cancellation Policy</label>
        <textarea id="activityCancellation" class="field span12" rows="1" name="inActivityCancellation">@if(arv != null && arv.getDetailsTypeId.getRootLevelType == ReservationType.ACTIVITY) {@arv.getCancellation}</textarea>
      </div>
    </div>
    @views.html.trip.bookings.bookingRate(arv)
    @views.html.trip.bookings.bookingCtrlBtns(ReservationType.ACTIVITY, TabType.ACTIVITIES, m)



    @if(arv != null && arv.getDetailsTypeId.getRootLevelType == ReservationType.ACTIVITY && arv.getFiles != null && arv.getFiles.size() > 0) {
    <div style="margin-top:80px;padding-top:40px" class="row-fluid">

      <div class="subTitle">
        LINKED FILES (@arv.getFiles.size())
      </div>


      <table class="table table-striped">
        <thead>
        <tr>
          <th style="width:60%">
            File Name
          </th>
          <th style="width:10%"> Uploaded by</th>

          <th style="width:20%"> Uploaded On</th>

          <th style="width:10%"></th>
        </tr>
        </thead>
        <tbody id="sortAttachDiv">
        @for(p <- arv.getFiles) {
        <tr id="@p.id">
          <td>
            <a href="@p.attachUrl" target="_blank">
              @if(p.attachType == "application/msword"){
              <img src="https://s3.amazonaws.com/static-umapped-com/public/img/word_icon.png" width="48px">
              } else {
              @if(p.attachType == "application/pdf"){
              <img src="https://s3.amazonaws.com/static-umapped-com/public/img/pdf_icon.png" width="48px">
              } else {
              <img src="https://s3.amazonaws.com/static-umapped-com/public/img/spacer.gif" width="48px">
              }
              }
              @p.attachName
            </a>
          </td>
          <td> @p.createdById</td>
          <td> @p.lastUpdateTimestampPrint</td>
          @if(m.accessLevel.ge(AccessLevel.OWNER) || (m.accessLevel.ge(AccessLevel.APPEND) && arv.getCreatedById.equals(m.loggedInUserId))) {
          <td >
            <a style="text-align: center" href="#deleteFileModal_@p.id" data-toggle="modal" class="btn btn-danger btn-small">
              Delete</a>
          </td>
          }
        </tr>

        }
        </tbody>
      </table>
    </div>
    }

  </form>
  @views.html.poi.poiEditor(m.pbv, TabType.ACTIVITIES + "_poiEditRegion")


}
</div>
<div id="dynamicModal">
</div>

@if(arv != null && arv.getDetailsTypeId.getRootLevelType == ReservationType.ACTIVITY && m.tripId != null) {
<script>
    $('#addFileSubmit').click(function() {
    $('#addFileModal').modal('hide');
    });

    $('#inFiles').multiSelect({
    selectableHeader: "<div class='custom-header'><h5>Available Files</h5></div>",
    selectionHeader: "<div class='custom-header'><h5>Selected Files</h5></div>"

    });
    $('#inFilesAdd').multiSelect({
    selectableHeader: "<div class='custom-header'><h5>Available Files</h5></div>",
    selectionHeader: "<div class='custom-header'><h5>Selected Files</h5></div>"

    });
  </script>

<div id="addFileModal" class="modal hide fade">
  <form id="addFileForm">
    <input type="hidden" id="inDetailId" name="inDetailId" value=@arv.getDetailsId>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Link Attached File(s) to Booking</h3>
    </div>
    <div class="modal-body">
      @if(m.tripAttachments != null && m.tripAttachments.size > 0) {
      <div class="row-fluid">
        <div class="span12">
          <select multiple="multiple" id="inFiles" name="inFiles">
            @for(p <- m.tripAttachments) {
            <option style="font-size: 12px; font-weight: 200" value='@p.id'>@p.attachName</option>
            }
          </select>
        </div>
      </div>
      }

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
      <button type="submit" class="btn btn-success "  id="addFileSubmit"
              onclick="javascript:postForm('/trips/newTrip/newFiles','addFileForm');return false;">Link
      </button>

    </div>
  </form>
</div>
}


@if(arv != null && arv.getDetailsTypeId.getRootLevelType == ReservationType.ACTIVITY && arv.getFiles != null && arv.getFiles.size() > 0) {
@for(p <- arv.getFiles) {
<script>
      $('#deleteDeleteFileSubmit_@p.id').click(function() {
      $('#deleteFileModal_@p.id').modal('hide');
      });
    </script>

<div id="deleteFileModal_@p.id" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Confirm Delete</h3>
  </div>
  <div class="modal-body">
    <p>Delete this File?</p>
  </div>
  <div class="modal-footer">
    <form id="deleteFileForm_@p.id">
      <input type="hidden" id="inDetailId" name="inDetailId" value="@arv.getDetailsId">
      <input type="hidden" id="inTripId" name="inTripId" value="@m.tripId">
      <input type="hidden" id="inFileId" name="inFileId" value="@p.id">
      <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
      <button type="submit" class="btn btn-info " id="deleteDeleteFileSubmit_@p.id" onclick="javascript:postForm('@controllers.routes.BookingController.deleteFile(arv.getDetailsId, p.id, m.tripId, p.attachName)', 'deleteFileForm_@p.id');return false;">Delete</button>
    </form>
  </div>
</div>
}
}
