@(m: com.mapped.publisher.view.TripBookingView)
@import com.mapped.publisher.view.UmAccommodationReservationView; val arv: UmAccommodationReservationView = if (m.bookingDetail == null) null else m.bookingDetail match { case arv: UmAccommodationReservationView => arv; case _ => null }
@import com.umapped.persistence.reservation.utils.UmReservationUtils
@import com.umapped.persistence.enums.ReservationType
@import com.mapped.publisher.common.SecurityMgr.AccessLevel
@import com.mapped.publisher.view.TabType
@import com.mapped.publisher.utils.Utils
@import com.umapped.persistence.reservation.enums.UmRateType

<div id="hotelTab" @if(m.activeTab == TabType.HOTELS) { class='tab-pane active' } else { class='tab-pane fade'}>
@if(m.accessLevel.ge(AccessLevel.APPEND)) {
  @if(arv != null && arv.getDetailsTypeId.getRootLevelType == ReservationType.HOTEL) {
      <div class="subTitle" id="bkAreaTitleHotel">Edit This Accommodations</div>
  } else {
      <div class="subTitle" id="bkAreaTitleHotel">Add Accommodations</div>
  }

  <form id="HOTEL_BookingForm" class="BookingForm">
    <input type="hidden" class="input" id="inTripId" name="inTripId" value="@m.tripId">
    @if(arv != null && arv.getDetailsTypeId.getRootLevelType == ReservationType.HOTEL) {
      <input type="hidden" class="input" id="inTripDetailId" name="inTripDetailId" @if(arv.getDetailsId != null) {
        value="@arv.getDetailsId"}>
    }
    <div class="row-fluid">
      <div class="span6">
        <label>Name <em>*</em></label>
        <input type="text" id="hotelName" placeholder="Hotel Name" name="inHotelName" class="required input-block-level" @if(arv != null && arv.getDetailsTypeId.getRootLevelType == ReservationType.HOTEL && arv.getProviderName != null) {
          value="@arv.getProviderName"}>
        <input type="hidden" id="hotelProviderId" name="inHotelProviderId" @if(arv != null && arv.getDetailsTypeId.getRootLevelType == ReservationType.HOTEL && arv.getPoiMain != null) {
          value="@arv.getPoiMain.getId()"}>
      </div>

      <div class="span3">
        <label>Booking #</label>
        <input type="text" id="hotelConfirm" placeholder="Hotel Confirmation Number" name="inHotelBooking" @if(arv != null && arv.getDetailsTypeId.getRootLevelType == ReservationType.HOTEL && arv.getBookingNumber != null) {
          value="@arv.getBookingNumber"} class="input-block-level">
      </div>

      <div class="span3 hide" id="amenitiesBtnArea">
        <label>Preferred Hotel</label>
        <a role="button" class="btn btn-info input-block-level" id="amenitiesPasteBtn"><i class="fa fa-plus"></i>&nbsp;<span>Add Amenities</span></a>
      </div>
    </div>
    <br/>

    <div class="row-fluid">
      <div class="span4">
        <label>Reservation Status</label>
        <input type="text" id="hotelResStatus" name="inHotelResStatus" @if(arv != null && arv.getDetailsTypeId.getRootLevelType == ReservationType.HOTEL && arv.getReservationStatus != null) {
               value="@arv.getReservationStatus"} class="input-block-level">
      </div>
      <div class="span2">
        <label> Check-In <em>*</em></label>
        <div class="input-append date" id="hotelCheckIn1" >
          <span class="add-on"><i class="fa fa-calendar"></i></span>
          <input type="text" id="hotelCheckIn" readonly class="input-small required" name="inHotelCheckInDate" @if(arv != null && arv.getDetailsTypeId.getRootLevelType == ReservationType.HOTEL && arv.getStartDate != null) {
            value="@arv.getStartDate"}>
        </div>
      </div>
      <div class="span2 input-append bootstrap-timepicker">
        <label> Check-In Time <em>*</em></label>
        <span class="add-on"><i class="fa fa-clock-o"></i></span>
        <input id="hotelCheckinTime" type="text" class="input-small" name="inHotelCheckInTime" readonly @if(arv != null && arv.getDetailsTypeId.getRootLevelType == ReservationType.HOTEL && arv.getStartTime != null) {
          value="@arv.getStartTime"
        } else {
          value="3:00 PM"}>
      </div>
      <div class="span2">

        <label> Check-Out <em>*</em></label>
        <div class="input-append date" id="hotelCheckOut1" >
          <span class="add-on"><i class="fa fa-calendar"></i></span>
          <input type="text" id="hotelCheckOut" readonly class="input-small required" name="inHotelCheckOutDate" @if(arv != null && arv.getDetailsTypeId.getRootLevelType == ReservationType.HOTEL && arv.getEndDate != null) {
            value="@arv.getEndDate"}>
        </div>
      </div>
      <div class="span2 input-append bootstrap-timepicker">
        <label> Check-Out Time <em>*</em></label>
        <span class="add-on"><i class="fa fa-clock-o"></i></span>
        <input id="hotelCheckoutTime" type="text" class="input-small" name="inHotelCheckOutTime" readonly @if(arv != null && arv.getDetailsTypeId.getRootLevelType == ReservationType.HOTEL && arv.getEndTime != null) {
          value="@arv.getEndTime"
        } else {
          value="12:00 PM"}>
      </div>
    </div>
      <br/>
      <div class="row-fluid">
        <div class="span3" style="display:none;">
          <label>Start Timezone</label>
          <select name="inHotelStartTimezone" class="input-block-level" id="hotelStartTimezone">
            @for(tz <- Utils.getTimezones()) {
            <option value="@tz" @if(arv != null) { selected="Y" }>@tz</option>
            }
          </select>
        </div>
        <div class="span3" style="display:none;">
          <label>End Timezone</label>
          <select name="inHotelFinishTimezone" class="input-block-level" id="hotelFinishTimezone">
            @for(tz <- Utils.getTimezones()) {
            <option value="@tz" @if(arv != null) { selected="Y" }>@tz</option>
            }
          </select>
        </div>
      </div>

      <div id="passengers">
        <div id="passengers-head-div" style="marin:auto; width=100%; margin-left:2px;padding-right:4px; ">
          <div style="padding-left:0px">
            <h3> &nbsp;
              <div class="pull-right btn-group">
                &nbsp; &nbsp;
              </div>
              <div class="btn-group pull-right" style="margin-right:0px">
                <a role="button" class="btn btn-info " onclick="javascript:addPassenger($('#passengers .passenger:last'))">
                  <i class="fa fa-plus"></i>&nbsp;Add Room
                </a>
              </div>
            </h3>
          </div>
        </div>
        @if(arv != null && arv.getPassengers != null) {
        @for(i <- 0 until arv.getPassengers.size; p=arv.getPassengers.get(i)) {
        <div class="passenger" style="margin-top:10px">
          <div style="marin:auto; width=100%; margin-left:2px;padding-right:4px; border-bottom: 1px solid #AFAFAF">
            <h3> <span class="passenger-title">Room @(i+1)</span>
              <div class="pull-right btn-group" style="margin-right:0px">
                <a role="button"  onclick="javascript:deletePassenger($(this).closest('.passenger'))">
                  <i class="fa fa-trash"  style="font-size: 26px; color: #666666"></i>
                </a>
              </div>
              <!--
              <div class="pull-right btn-group">
                       &nbsp; &nbsp;
                    </div>
                    <div class="pull-right btn-group" style="margin-right:0px">
                         <a role="button" class="btn btn-info btn-small" onclick="javascript:addPassenger($(this).closest('.passenger'))">
                           <i class="fa fa-plus"></i>&nbsp;Add Room</a>
                  </div>
                  -->
            </h3>
          </div>
          <div class="row-fluid" style="padding-top: 20px;">
            <div class="span3">
              <label style="font-size: 16px">First Name</label>
              <input type="text"  name="passengers[@i].firstName" class="input-block-level firstName" value="@p.getGivenName">
            </div>
            <div class="span3">
              <label style="font-size: 16px">Last Name</label>
              <input type="text" name="passengers[@i].lastName" class="input-block-level lastName" value="@p.getFamilyName">
            </div>
            <div class="span3">
              <label style="font-size: 16px">Room Type</label>
              <input type="text" name="passengers[@i].roomType" class="input-block-level roomType" value="@p.getRoomType">
            </div>
            <div class="span3">
              <label style="font-size: 16px">Bedding</label>
              <input type="text" name="passengers[@i].bedding" class="input-block-level bedding" value="@p.getBedding">
            </div>
          </div>
          <div class="row-fluid">
            <div class="span6">
              <label style="font-size: 16px">Amenities</label>
              <textarea class="field span12 input-block-level amenities" rows="1" name="passengers[@i].amenities">@p.getAmenities</textarea>
              <!--<input type="text" name="passengers[@i].amenities" class="input-block-level amenities" value="@p.getAmenities">-->
            </div>
            <div class="span3">
              <label style="font-size: 16px">Status</label>
              <input type="text"  name="passengers[@i].status" class="input-block-level status" value="@p.getStatus">
            </div>
            <div class="span3">
              <label style="font-size: 16px">Membership ID</label>
              <input type="text" name="passengers[@i].membershipID" class="input-block-level membershipID" value="@p.getMembershipId">
            </div>
          </div>
        </div>
        }
        }
        <div id="passengers-tail-div" style="marin:auto; width=100%; margin-left:2px;padding-right:4px; " class="hide">
          <div class="pull-right btn-group">
            &nbsp; &nbsp;
          </div>

          <!--<div class="btn-group pull-right" style="margin-right:0px">
            <a role="button" class="btn btn-info " onclick="javascript:addPassenger($('#passengers .passenger:last'))">
              <i class="fa fa-plus"></i>&nbsp;Add Room</a>
          </div>-->
        </div>
      </div>
    <div class="row-fluid">
      <div class="span12">
        <label> Details</label>
        <textarea id="hotelNote" class="field span12" rows="10" name="inHotelNote">@if(m != null && m.bookingDetail != null) {@m.bookingDetail.origComments}</textarea>
      </div>
    </div>
    <div class="row-fluid" style="display:none;">
      <div class="span12">
        <label> Important Information</label>
        <textarea id="hotelImportant" class="field span12" rows="10" name="inHotelImportant">@if(arv != null && arv.getDetailsTypeId.getRootLevelType == ReservationType.HOTEL) {@arv.getImportant}</textarea>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <label> Cancellation Policy</label>
        <textarea id="hotelCancellation" class="field span12" rows="1" name="inHotelCancellation">@if(arv != null && arv.getDetailsTypeId.getRootLevelType == ReservationType.HOTEL) {@arv.getCancellation}</textarea>
      </div>
    </div>
    @views.html.trip.bookings.bookingRate(arv)
    <br/>

    @views.html.trip.bookings.bookingCtrlBtns(ReservationType.HOTEL, TabType.HOTELS, m)


    @if(arv != null && arv.getDetailsTypeId.getRootLevelType == ReservationType.HOTEL && arv.getFiles != null && arv.getFiles.size() > 0) {
      <div style="margin-top:80px;padding-top:40px" class="row-fluid">

      <div class="subTitle">
        LINKED FILES (@arv.getFiles.size())
      </div>


      <table class="table table-striped">
        <thead>
        <tr>
          <th style="width:60%">
            File Name
          </th>
          <th style="width:10%"> Uploaded by</th>

          <th style="width:20%"> Uploaded On</th>

          <th style="width:10%"></th>
        </tr>
        </thead>
        <tbody id="sortAttachDiv">
        @for(p <- arv.getFiles) {
        <tr id="@p.id">
          <td>
            <a href="@p.attachUrl" target="_blank">
              @if(p.attachType == "application/msword"){
              <img src="https://s3.amazonaws.com/static-umapped-com/public/img/word_icon.png" width="48px">
              } else {
              @if(p.attachType == "application/pdf"){
              <img src="https://s3.amazonaws.com/static-umapped-com/public/img/pdf_icon.png" width="48px">
              } else {
              <img src="https://s3.amazonaws.com/static-umapped-com/public/img/spacer.gif" width="48px">
              }
              }
              @p.attachName
            </a>
          </td>
          <td> @p.createdById</td>
          <td> @p.lastUpdateTimestampPrint</td>
          @if(m.accessLevel.ge(AccessLevel.OWNER) || (m.accessLevel.ge(AccessLevel.APPEND) && arv.getCreatedById.equals(m.loggedInUserId))) {
          <td >
            <a style="text-align: center" href="#deleteFileModal_@p.id" data-toggle="modal" class="btn btn-danger btn-small">
              Delete</a>
          </td>
          }
        </tr>

        }
        </tbody>
      </table>
    </div>
    }

  </form>

  @views.html.poi.poiEditor(m.pbv, TabType.HOTELS + "_poiEditRegion")

  <script type="text/javascript">
   updateTravelerButton();

   function updateTravelerButton() {
     if ($("div#passengers div.passenger").length > 0) {
       $("#passengers-tail-div").show();
     } else {
       $("#passengers-tail-div").hide();
     }
   }

   function addPassenger(ele) {
	   var newPassenger = $("#passengerTemplate").clone();
	   newPassenger.removeClass("hide");
	   newPassenger.removeAttr("id");
	   var anchor = ele;
	   if (anchor.length == 0) {
	     anchor = $("#passengers-head-div");
	   }
	   newPassenger.insertAfter(anchor);
	   updatePassengers()
	   return newPassenger;
   }

   function deletePassenger(passenger) {
	   passenger.remove();
	   updatePassengers();
   }

   function updatePassengers() {
	  $("div#passengers div.passenger").each(function(index){
		  $(this).find($("span.passenger-title")).text("Room " + (index+1));
		  $(this).find($("input.firstName")).attr("name", "passengers[" + index + "].firstName");
		  $(this).find($("input.lastName")).attr("name", "passengers[" + index + "].lastName");
		  $(this).find($("input.roomType")).attr("name", "passengers[" + index + "].roomType");
		  $(this).find($("input.bedding")).attr("name", "passengers[" + index + "].bedding");
		  $(this).find($("input.amenities")).attr("name", "passengers[" + index + "].amenities");
		  $(this).find($("input.status")).attr("name", "passengers[" + index + "].status");
		  $(this).find($("input.membershipID")).attr("name", "passengers[" + index + "].membershipID");
	  });
	  updateTravelerButton();
   }

   function addRate(ele) {
       var newRate = $("#rateTemplate").clone();
	   newRate.removeClass("hide");
	   newRate.removeAttr("id");
	   var anchor = ele;
	   if (anchor.length == 0) {
	     anchor = $("#ratesHead");
	   }
	   newRate.insertAfter(anchor);
	   updateRates();
	   return newRate;
   }

   function deleteRate(rate) {
       rate.remove();
       updateRates();
   }

   function updateRates() {
       $("div#rates div.rate").each(function(index){
		  $(this).find($("span.rate-title")).text("Rate: " + (index+1));
		  $(this).find($("select.rateName")).attr("name", "rates[" + index + "].rateName");
		  $(this).find($("input.ratePrice")).attr("name", "rates[" + index + "].ratePrice");
		  $(this).find($("input.rateDescription")).attr("name", "rates[" + index + "].rateDescription");
	  });
   }

   function updateExistingTraveler(traveler) {
     var passengerDivs = $("#passengers .passenger");
     var foundExisting = false;

     $.each(passengerDivs, function(index, p) {
         if (!foundExisting && $("input.firstName", p).val() == traveler.firstName
          && $("input.lastName", p).val() == traveler.lastName) {
           updateTraveler(p, traveler);
           foundExisting = true;
         }
       }
      );
     return foundExisting;
   }

   function addTraveler(traveler) {
     var foundExisting = updateExistingTraveler(traveler);
     if (!foundExisting) {
       var passengerDiv = addPassenger($('#passengers .passenger:last'));
       updateTraveler(passengerDiv, traveler);
     }
   }

   function updateTraveler(passengerDiv, traveler) {
      $("input.firstName", passengerDiv).val(traveler.firstName);
      $("input.lastName", passengerDiv).val(traveler.lastName);
      $("input.roomType", passengerDiv).val(traveler.roomType);
      $("input.bedding", passengerDiv).val(traveler.bedding);
      $("input.amenities", passengerDiv).val(traveler.amenities);
		  $("input.status", passengerDiv).val(traveler.status);
		  $("input.membershipID", passengerDiv).val(traveler.membershipID);
   }

</script>

}





</div>

@if(arv != null && arv.getDetailsTypeId.getRootLevelType == ReservationType.HOTEL && m.tripId != null) {
  <script>
    $('#addFileSubmit').click(function() {
    $('#addFileModal').modal('hide');
    });

    $('#inFiles').multiSelect({
    selectableHeader: "<div class='custom-header'><h5>Available Files</h5></div>",
    selectionHeader: "<div class='custom-header'><h5>Selected Files</h5></div>",

    });
    $('#inFilesAdd').multiSelect({
    selectableHeader: "<div class='custom-header'><h5>Available Files</h5></div>",
    selectionHeader: "<div class='custom-header'><h5>Selected Files</h5></div>",

    });
  </script>

  <div id="addFileModal" class="modal hide fade">
    <form id="addFileForm">
      <input type="hidden" id="inDetailId" name="inDetailId" value=@arv.getDetailsId>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Link Attached File(s) to Booking</h3>
      </div>
      <div class="modal-body">
        @if(m.tripAttachments != null && m.tripAttachments.size > 0) {
        <div class="row-fluid">
          <div class="span12">
            <select multiple="multiple" id="inFiles" name="inFiles">
              @for(p <- m.tripAttachments) {
              <option style="font-size: 12px; font-weight: 200" value='@p.id'>@p.attachName</option>
              }
            </select>
          </div>
        </div>
        }

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
        <button type="submit" class="btn btn-success "  id="addFileSubmit"
                onclick="javascript:postForm('/trips/newTrip/newFiles','addFileForm');return false;">Link
        </button>

      </div>
    </form>
  </div>
}

@if(arv != null && arv.getDetailsTypeId.getRootLevelType == ReservationType.HOTEL && arv.getFiles != null && arv.getFiles.size() > 0) {
  @for(p <- arv.getFiles) {
    <script>
      $('#deleteDeleteFileSubmit_@p.id').click(function() {
      $('#deleteFileModal_@p.id').modal('hide');
      });
    </script>

    <div id="deleteFileModal_@p.id" class="modal hide fade">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Confirm Delete</h3>
      </div>
      <div class="modal-body">
        <p>Delete this File?</p>
      </div>
      <div class="modal-footer">
        <form id="deleteFileForm_@p.id">
          <input type="hidden" id="inDetailId" name="inDetailId" value="@arv.getDetailsId">
          <input type="hidden" id="inTripId" name="inTripId" value="@m.tripId">
          <input type="hidden" id="inFileId" name="inFileId" value="@p.id">
          <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
          <button type="submit" class="btn btn-info " id="deleteDeleteFileSubmit_@p.id" onclick="javascript:postForm('@controllers.routes.BookingController.deleteFile(arv.getDetailsId, p.id, m.tripId, p.attachName)', 'deleteFileForm_@p.id');return false;">Delete</button>
        </form>
      </div>
    </div>
  }
}

<div id="passengerTemplate" class="passenger hide"  >
  <div style="marin:auto; width=100%; margin-left:2px;padding-right:4px; border-bottom: 1px solid #AFAFAF;margin-bottom:20px">
    <h3><span class="passenger-title">Room</span>
      <div class="pull-right btn-group" style="margin-right:0px">
        <a role="button"  onclick="javascript:deletePassenger($(this).closest('.passenger'))">
          <i class="fa fa-trash"  style="font-size: 26px; color: #666666"></i>
        </a>
      </div>
      <!-- div class="pull-right btn-group">
           &nbsp; &nbsp;
        </div>
        <div class="pull-right btn-group" style="margin-right:0px">
             <a role="button" class="btn btn-info btn-small" onclick="javascript:addPassenger($(this).closest('.passenger'))">
               <i class="fa fa-plus"></i>&nbsp;Add Room</a>
      </div-->
    </h3>
  </div>
  <div class="row-fluid">
    <div class="span3">
      <label style="font-size: 16px">First Name</label>
      <input type="text" class="input-block-level firstName" value="">
    </div>
    <div class="span3">
      <label style="font-size: 16px">Last Name</label>
      <input type="text" class="input-block-level lastName" value="">
    </div>
    <div class="span3">
      <label style="font-size: 16px">Room Type</label>
      <input type="text" class="input-block-level roomType" value="">
    </div>
    <div class="span3">
      <label style="font-size: 16px">Bedding</label>
      <input type="text" class="input-block-level bedding" value="">
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6">
      <label style="font-size: 16px">Amenities</label>
      <input type="text" class="input-block-level amenities" value="">
    </div>
    <div class="span3">
      <label style="font-size: 16px">Status</label>
      <input type="text"  class="input-block-level status" value="">
    </div>
    <div class="span3">
      <label style="font-size: 16px">Membership ID</label>
      <input type="text" class="input-block-level membershipID" value="">
    </div>
  </div>
</div>