@(v: com.mapped.publisher.view.BookingItineraryParseView)

@import com.mapped.publisher.view.TabType
@import com.umapped.persistence.reservation.flight.UmFlightReservation
@import com.umapped.persistence.reservation.accommodation.UmAccommodationReservation
@import com.umapped.persistence.reservation.cruise.UmCruiseReservation
@import com.umapped.persistence.reservation.activity.UmActivityReservation
@import com.umapped.persistence.reservation.transfer.UmTransferReservation

@showFlight(tripDetail: models.publisher.TripDetail) = {
<tr id="@tripDetail.getDetailsid">
  <td width="100%" style="float:left">
    <h4>
      <div>
        @tripDetail.getName @tripDetail.getReservation.asInstanceOf[UmFlightReservation].getFlight.flightNumber

        @if(tripDetail.bookingnumber != null && tripDetail.bookingnumber.length > 0) {(Confirmation Number: @tripDetail.bookingnumber)}

        <div style="float:right">
          <button class="btn btn-danger" onclick="javascript:deleteAndReplace('@controllers.routes.BookingController.deleteParsedBooking(tripDetail.getDetailsid)','@tripDetail.getDetailsid'); return false;">Delete</button>
        </div>

      </div>
    </h4>

    <h5> Depart: @tripDetail.getLocStartName  @@ @v.getHumanTime(tripDetail.getStarttimestamp)</h5>
    <h5> Arrive: @tripDetail.getLocFinishName @@ @v.getHumanTime(tripDetail.getEndtimestamp)</h5>

    @if(tripDetail.getReservation.getNotesPlainText != null && tripDetail.getReservation.getNotesPlainText.length > 0) {
        Note:<br/> @Html(tripDetail.getReservation.getNotesPlainText)<br/>
    }
  </td>
</tr>
}

@showCruise(tripDetail: models.publisher.TripDetail, cruiseReservation: com.umapped.persistence.reservation.cruise.UmCruiseReservation) = {
  <tr id="@tripDetail.getDetailsid">
    <td width="100%" style="float:left">
      <h4>
        <div>
          @cruiseReservation.getCruise.name<br/>
          @if(tripDetail.bookingnumber != null && tripDetail.bookingnumber.length > 0) {(Confirmation Number: @tripDetail.bookingnumber)}

          <div style="float:right">
            <button class="btn btn-danger" onclick="javascript:deleteAndReplace('@controllers.routes.BookingController.deleteParsedBooking(tripDetail.getDetailsid)','@tripDetail.getDetailsid'); return false;">Delete</button>
          </div>

        </div>
      </h4>

      <h5> Depart: @tripDetail.getLocStartName @@ @v.getHumanTime(tripDetail.getStarttimestamp)</h5>
      <h5> Arrive: @tripDetail.getLocFinishName @@ @v.getHumanTime(tripDetail.getEndtimestamp)</h5>

      @if(tripDetail.comments != null && tripDetail.comments.length > 0) {
        Note:<br/> @Html(tripDetail.getReservation.getNotesPlainText)<br/>
      }
    </td>
  </tr>
}

@showHotel(tripDetail: models.publisher.TripDetail) = {
<tr id="@tripDetail.getDetailsid">
  <td width="100%" style="float:left">
      <h4>@tripDetail.getReservation.asInstanceOf[UmAccommodationReservation].getAccommodation.name</h4>
      <div style="float:right">
        <button class="btn btn-danger" onclick="javascript:deleteAndReplace('@controllers.routes.BookingController.deleteParsedBooking(tripDetail.getDetailsid)','@tripDetail.getDetailsid'); return false;">Delete</button>
      </div>

      <b>Check-In:</b> @v.getHumanTime(tripDetail.starttimestamp)<br/>
      <b>Check-Out:</b> @v.getHumanTime(tripDetail.endtimestamp)<br/>

      @if(tripDetail.bookingnumber != null && tripDetail.bookingnumber.length > 0) {
        Confirmation Number: @tripDetail.bookingnumber <br/>
      }

      @if(tripDetail.comments != null && tripDetail.comments.length > 0) {
        <br/>Note:<br/> @Html(tripDetail.getReservation.getNotesPlainText) <br/>
      }
  </td>
</tr>
}

@showTransport(tripDetail: models.publisher.TripDetail, transportReservation: com.umapped.persistence.reservation.transfer.UmTransferReservation) = {

<tr id="@tripDetail.getDetailsid">
  <td width="100%" style="float:left">
    <h4>@transportReservation.getTransfer.getProvider.name</h4>

    <div style="float : right">
        <button class="btn btn-danger" onclick="javascript:deleteAndReplace('@controllers.routes.BookingController.deleteParsedBooking(tripDetail.getDetailsid)','@tripDetail.getDetailsid'); return false;">Delete</button>
    </div>

    @if(transportReservation.getTransfer.getProvider.contactPoint != null && transportReservation.getTransfer.getProvider.contactPoint.length > 0) {
      Contact: @transportReservation.getTransfer.getProvider.contactPoint <br/>
    }

    Pick-Up:
    @if(transportReservation.getTransfer.getPickupLocation.name != null && transportReservation.getTransfer.getPickupLocation.name.length > 0) {
      @transportReservation.getTransfer.getPickupLocation.name
    }
    @if(tripDetail.starttimestamp > 0) {
      - @v.getHumanTime(tripDetail.starttimestamp)
    }
    <br/>

    Drop-Off:
    @if(transportReservation.getTransfer.getDropoffLocation.name != null && transportReservation.getTransfer.getDropoffLocation.name.length > 0) {
      @transportReservation.getTransfer.getDropoffLocation.name
    }

    @if(tripDetail.endtimestamp > tripDetail.starttimestamp) {
      - @v.getHumanTime(tripDetail.endtimestamp)
    }
    <br/>


    @if(tripDetail.bookingnumber != null && tripDetail.bookingnumber.length > 0) {
      Confirmation Number: @tripDetail.bookingnumber <br/>
    }
    @if(tripDetail.comments != null && tripDetail.comments.length > 0) {
      <br/>Note:<br/> @Html(transportReservation.getNotesPlainText) <br/>
    }
  </td>
</tr>

}

@showActivity(tripDetail: models.publisher.TripDetail, activityReservation: com.umapped.persistence.reservation.activity.UmActivityReservation) = {
<tr id="@tripDetail.getDetailsid">
  <td width="100%" style="float:left">
    <h4>
      @activityReservation.getActivity.name
      <div style="float:right">
        <button class="btn btn-danger" onclick="javascript:deleteAndReplace('@controllers.routes.BookingController.deleteParsedBooking(tripDetail.getDetailsid)','@tripDetail.getDetailsid'); return false;">Delete</button>
      </div>
    </h4>

    @if(activityReservation.getActivity.getOrganizedBy.contactPoint != null &&  activityReservation.getActivity.getOrganizedBy.contactPoint.length > 0){
      Contact: @activityReservation.getActivity.getOrganizedBy.contactPoint <br/>
    }

    @if(tripDetail.starttimestamp > 0) {
      Start Date: @v.getHumanTime(tripDetail.starttimestamp)
      @if(tripDetail.endtimestamp  > 0) {
        &nbsp;&nbsp;&nbsp;End Date: @v.getHumanTime(tripDetail.endtimestamp)
    }
      <br/>
    }


    @if(tripDetail.bookingnumber != null &&  tripDetail.bookingnumber.length > 0){
      Confirmation Number: @tripDetail.bookingnumber  <br/>
    }
    @if(tripDetail.comments != null && tripDetail.comments.length > 0) {
      <br/>Note:<br/> @Html(tripDetail.getReservation.getNotesPlainText) <br/>
    }

  </td>

</tr>
}



<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs" id="parsedBookingsTabs">
    <li @if(v.activeTab == TabType.FLIGHTS) {class="active"}><a href="#parsedFlightsTab" data-toggle="tab">
    <i class="fa fa-plane pull-left"></i> Flights @if(v.parseData.getFlights.size() > 0) {<span class="badge badge-success">@v.parseData.getFlights.size()</span>}</a></li>
    <li @if(v.activeTab == TabType.HOTELS) {class="active"}><a href="#parsedHotelsTab" data-toggle="tab">
    <i class="fa fa-home pull-left"></i> Accommodations @if(v.parseData.getHotels.size() > 0) {<span class="badge badge-success">@v.parseData.getHotels.size()</span>}</a></li>
    <li @if(v.activeTab == TabType.CRUISES) {class="active"}><a href="#parsedCruisesTab" data-toggle="tab">
      <i class="fa fa-life-ring pull-left"></i> Cruises @if(v.parseData.getCruises.size() > 0) {<span class="badge badge-success">@v.parseData.getCruises.size()</span>}</a></li>
    <li @if(v.activeTab == TabType.TRANSPORTS) {class="active"}><a href="#parsedTransportTab" data-toggle="tab">
    <i class="fa fa-road pull-left"></i> Transportation @if(v.parseData.getTransports.size() > 0) {<span class="badge badge-success">@v.parseData.getTransports.size()</span>}</a></li>
    <li @if(v.activeTab == TabType.ACTIVITIES) {class="active"}><a href="#parsedActivitiesTab" data-toggle="tab">
    <i class="fa fa-globe pull-left"></i> Activities @if(v.parseData.getActivities.size() > 0) {<span class="badge badge-success">@v.parseData.getActivities.size()</span>}</a></li>
    <li @if(v.activeTab == TabType.NOTES) {class="active"}><a href="#parsedNotesTab" data-toggle="tab">
      <i class="fa fa-globe pull-left"></i> Notes @if(v.parseData.getNotes.size() > 0) {<span class="badge badge-success">@v.parseData.getNotes.size()</span>}</a></li>
  </ul>

  <div class="tab-content" style="overflow-y:scroll;max-height: 500px">
    <div id="parsedFlightsTab" style="padding-bottom : 20px" @if(v.activeTab == TabType.FLIGHTS) {
      class='tab-pane active'
    } else {
      class='tab-pane fade'}>
    <table class="table table-striped" style="width:95%">
      <tbody>
        @for(tripDetail <- v.parseData.getFlights) {
          @showFlight(tripDetail)
        }
      </tbody>
    </table>
    </div>

    <div id="parsedHotelsTab" style="padding-bottom : 20px" @if(v.activeTab == TabType.HOTELS) {
      class='tab-pane active'
    } else {
      class='tab-pane fade'}>
      <table class="table table-striped" style="width:95%">
        <tbody>
        @for(tripDetail <- v.parseData.getHotels) {
          @showHotel(tripDetail)
        }
        </tbody>
      </table>
    </div>


    <div id="parsedCruisesTab" style="padding-bottom : 20px" @if(v.activeTab == TabType.CRUISES) {
      class='tab-pane active'
    } else {
      class='tab-pane fade'}>
      <table class="table table-striped" style="width:95%">
        <tbody>
        @for(tripDetail <- v.parseData.getCruises) {
          @showCruise(tripDetail, tripDetail.getReservation.asInstanceOf[UmCruiseReservation])
        }
        </tbody>
      </table>
    </div>

    <div id="parsedTransportTab" style="padding-bottom : 20px" @if(v.activeTab == TabType.TRANSPORTS) {
      class='tab-pane active'
    } else {
      class='tab-pane fade'}>
      <table class="table table-striped" style="width:95%">
        <tbody>
        @for(tripDetail <- v.parseData.getTransports) {
          @showTransport(tripDetail, tripDetail.getReservation.asInstanceOf[UmTransferReservation])
        }
        </tbody>
      </table>
    </div>

    <div id="parsedActivitiesTab" style="padding-bottom : 20px" @if(v.activeTab == TabType.ACTIVITIES) {
      class='tab-pane active'
    } else {
      class='tab-pane fade'}>
      <table class="table table-striped" style="width:95%">
        <tbody>
        @for(tripDetail <- v.parseData.getActivities) {
          @showActivity(tripDetail, tripDetail.getReservation.asInstanceOf[UmActivityReservation])
        }
        </tbody>
      </table>
    </div>

  </div>
</div>


