@(m: com.mapped.publisher.view.TripBookingView)
@import com.mapped.publisher.common.SecurityMgr.AccessLevel
@import com.mapped.publisher.view.TabType


<div id="templateTab" @if(m.activeTab == TabType.TEMPLATES) {
  class='tab-pane active'
} else {
  class='tab-pane fade'}>

@* @formatter:off *@
<script>
  $(document).ready(function () {
  //If calendar is on any tab other then the main one, it will not be rendered
  //Re-rendering is required
  $('#templateTabLink').on('shown', function (e) {
    $('#templateEventsCalendar').fullCalendar('render');

    $('a[tabType="bookingsTabLink"]').on('show', function (e) {
    console.log('calling Itinerary from Calendar');
      return getBookingPage(e.target); // activated tab
    });

    console.log("populate Calendar page");
  });

  /* Initialize auto completion box */
  $('#templateSearchTerm').autocomplete({
    source: "/template/autocompleteSearch",
    minLength: 3,
    select: function (event, ui) {
      $("#templateSearchTerm").val(ui.item.label);
      loadTripTemplateBookings(ui.item.id);
      return false;
    },
    response: function (event, ui) {
      if (ui.content.length == 1) {
        $("#templateSearchTerm").val(ui.content[ 0 ].label);
        loadTripTemplateBookings(ui.content[ 0 ].id);
        $(this).autocomplete("close");
      }
    }
  });
});



  $(function(){
    initializeTemplateCalendar(moment.utc('@m.tripStartDatePrint','MMM DD, YYYY'), '@m.tripId');
  });
</script>
@* @formatter:on *@
@if(m.accessLevel.ge(AccessLevel.APPEND)) {

  <div class="row-fluid">
    <div class="span4">
      <Label> Template Name <em>*</em></Label>
      <input type="text" placeholder="Enter Template Name" id="templateSearchTerm" name="inTemplateSearchTerm" class="required input-block-level" minlength="3">
    </div>
 </div>
 <br/>
}
  <div class="row-fluid">
    <div id='external-events' class="span3">
      <h4>Drag bookings into calendar </h4>
      <div class='fc-event'>No Events</div>
    </div>
    <div class="span9">
      <div id='templateEventsCalendar'></div>
    </div>
  </div>

</div>
