@(m: com.mapped.publisher.view.TripBookingView)
@import com.mapped.publisher.common.SecurityMgr.AccessLevel
@import com.mapped.publisher.view.TabType

<div id="offerTab" @if(m.activeTab == TabType.OFFERS) {
    class='tab-pane active'
} else {
    class='tab-pane fade'}>
    <div id="offer-filters" class="span4">
        <h4>Filters</h4>

        <label>Destinations</label>
        <select id="locations" onchange="javascript: getFilteredOffer('@m.tripId')"></select>

        <label>Offers</label>
        <select id="types" onchange="javascript: getFilteredOffer('@m.tripId')">
            <option value="Activity">Things to do</option>
        </select>

        <label>Categories</label>
        <input type="checkbox">&nbsp; Family Friendly</input>
            &nbsp; &nbsp;
        <input type="checkbox">&nbsp; Performances</input> <br/>
        <input type="checkbox">&nbsp; Culture</input>
            &nbsp; &nbsp;
        <input type="checkbox">&nbsp; Attractions</input><br/>
        <input type="checkbox">&nbsp; Adventure</input>
            &nbsp; &nbsp;
        <input type="checkbox">&nbsp; Sports</input><br/>

        <label>Duration</label>
        <select id="duration">
            <option value="">All</option>
            <option value="2H">Under Two hours</option>
            <option value="4H">Under Four hours</option>
            <option value="1D">One day</option>
            <option value="MD">Multiple days</option>
        </select>

    </div>

    <div id="offer-results" class="span8" style="overflow-y: hidden;">

    </div>
</div>

@* @formatter:off *@
<script>
        $(document).ready(function () {
            console.log("offer setup");
            $('#offerTabLink').on('shown', function (e) {
                $('a[tabType="bookingsTabLink"]').on('show', function (e) {
                    getPage('/trips/bookings/@m.tripId/ITINERARY');
                    return false; // activated tab
                });

                getOffers("@m.tripId");
            });
        });

        function getOffers(tripId) {
            $('#spinner').show();
            var request = $.ajax({
                type: "GET",
                cache:false,
                url: "/trips/offers/" + tripId,
                dataType: "json"
            });


            // callback handler that will be called on success
            request.done(function (response, textStatus, jqXHR){
                var offer = response;
                $("#locations").empty();
                if (offer.locationOffers) {
                    $.each(offer.locationOffers, function(index, offer) {
                        $("#locations").append("<option value='" + offer.location.id + "'>" + offer.location.name + ", " + offer.location.country + "</option>");
                    });
                    getFilteredOffer(tripId);
                }
            });

            // callback handler that will be called on failure
            request.fail(function (jqXHR, textStatus, errorThrown){
                // log the error to the console
                if(textStatus != 'abort') {
                    $('#alertMsg').text("A System Error has occurred - " + textStatus);
                    $('#alertBox').show();
                }
            });

            // callback handler that will be called regardless
            // if the request failed or succeeded
            request.always(function () {
                $('#spinner').hide();
            });
        }

        var offer = null;

        function getFilteredOffer(tripId) {
            $('#spinner').show();
            var locationId = $('#locations').val();
            var type = $('#types').val();
            var request = $.ajax({
                type: "GET",
                cache:false,
                url: "/trips/filterOffers/" + tripId + "?locationId=" + locationId + "&type=" + type + "&keyword=&startPos=0" ,
                dataType: "json"
            });


            // callback handler that will be called on success
            request.done(function (response, textStatus, jqXHR){
                offer = response;
                displayOffers(offer);
            });

            // callback handler that will be called on failure
            request.fail(function (jqXHR, textStatus, errorThrown){
                // log the error to the console
                if(textStatus != 'abort') {
                    $('#alertMsg').text("A System Error has occurred - " + textStatus);
                    $('#alertBox').show();
                }
            });

            // callback handler that will be called regardless
            // if the request failed or succeeded
            request.always(function () {
                $('#spinner').hide();
            });
        }

        function displayOffers(offer) {
            $("#offer-results").empty();
            if (offer) {
                $.each(offer.recommendedItems, function(index, value) {
                    var booking = "";
                    if (value.bookingUrl) {
                        booking = "<br/><a href='" + value.bookingUrl + "' target='supplier'>More details</a>";
                    }
                    var address = "";
                    if (value.address) {
                        address="<div style='front-size: 12px; font-weight: 100'>" + value.address.streetAddress;
                        if (value.address.locality) {
                            address = address + ", " + value.address.locality;
                        }
                        if (value.address.region) {
                            address = address + ", " + value.address.region;
                        }
                        if (value.address.country) {
                            address = address + ", " + value.address.country;
                        }
                        address = address + "</div><br/>"
                    }
                    var description = "";
                    if (value.description) {
                        description = value.description;
                    }

                    var price = "";
                    if (value.prices) {
                        price = "<strong>Price Information: </strong><ul>";
                        $.each(value.prices, function(index, p) {
                                    price = price + "<li style='margin-left: 200px'>";
                                    if (p.description) {
                                        price = price + p.description + ": ";
                                    }
                                    var currency = "USD";
                                    if (p.currency) {
                                        currency = p.currency;
                                    }
                                    price = price  + p.value + " " + currency + "</li>";
                                }
                        );
                        price = price + "</ul>";
                    }
                    var image = "";
                    if (value.imageUrl) {
                        image = "<img src='" + value.imageUrl + "' height='150' width='150' align='left' hspace='10'/>";
                    }
                    var book = "";
                    var jsFunc = "javaScript:addToItinerary(" + index + ")";
                    book = '&nbsp;&nbsp;&nbsp;<a class ="pull-right" style="margin-right:10px" href="' + jsFunc +  '">Add to itinerary</a>';
                    var content = '<div class="panel" style="clear:both"><div class="panel-heading"><h3 class="panel-title">' + value.name + book + '</h3>' + address + '</div><div class="panel-body">'  +  image + description + booking + '<br/>'  + price +  '</div></div>';
                    $("#offer-results").append(content);
                });
            }
        }

        function addToItinerary(index) {
            console.log('index:', index);
            console.log('time:', offer);
            console.log('selected offer', offer.recommendedItems[index]);
            var url =  '@routes.RecommendationNoteController.addRecommendationNote(m.tripId)';
            $.ajax({
                type: "POST",
                url: url,
                contentType: "application/json",
                data: JSON.stringify({ date: offer.offerDate, item: offer.recommendedItems[index] }),
                dataType: "json"
            }).success(function() {
                getPage('@routes.BookingController.bookings(m.tripId, new TabType.Bound(TabType.ITINERARY), null)');
            });;
        }

</script>

<style>
#offer-filters {
    padding: 0 10px;
    border: 1px solid #ccc;
    /* background: #eee; */
    text-align: left;
}

</style>