@(p: com.mapped.publisher.view.TripBookingDetailView, linkClasses : String)
@if(p.photos != null && p.photos.size > 0) {
  <a onclick="getModalPage('@routes.BookingController.bookingPhotos(p.detailsTypeId.getIdx(), p.detailsId)')" data-toggle="View Photos for @p.name " title="View Photos for @p.name"><i class="fa fa-camera" style="font-size: 26px; color: #666666"></i>&nbsp;</a>
}
