@(m:  com.mapped.publisher.view.TripsView)
@if(m.searchResults != null && m.searchResults.size() > 0) {
    @for(p <- m.searchResults){
        <tr>
            <td>
            @if(!p.isComplete) {
                <a onclick="javascript:activateMenu('#menuTour');javascript:getPage('@controllers.routes.TripController.tripInfo(p.tripId)');"> <h4> @p.tripName </h4></a>
            } else {
                <h4> @p.tripName </h4>
            }
            </td>
            <td>
                <h5> @p.tripStartDate - @p.tripEndDate </h5>
            </td>
            <td>
            @if(p.tripStatus == 1){
                <h5>Pending</h5>
            } else {
                <h5>Published</h5>
            }
            </td>
            <td>
                <h5>@p.userId </h5>
            </td>
            <td>
                <h5>@p.tripAgency </h5>
            </td>
            <td>
                <h5>@p.accessLevelVal</h5>
            </td>

            @if(p.userName != null && p.userName.length > 0) {
                <td>
                @p.userName
                </td>
            }
            <td>
            @if(!p.isComplete) { <a   class="btn btn-info pull-right" onclick="javascript:activateMenu('#menuTour');javascript:getPage('@controllers.routes.TripController.tripInfo(p.tripId)');"> Edit </a>}

            </td>
        </tr>
    }
    @if(m.nextPos>0 || m.nextAdminPos >0) {
        <tr id="moreRowBtn">
            <td colspan="7">
                <a onclick="javascript:$('#moreRowBtn').remove();getSearchResult('/sharedTrips/recent?inStartPos=@m.nextPos&inTableName=@m.tableName','@m.tableName');" >
            Load More Trips
            </a>
            </td>


        </tr>
    }

} else {
    <tr>
        <td colspan=6 style="background-color:#ffffff">
        @if(m.prevPos == -1 && m.prevAdminPos == -1 ){
            <h4> No More Trips Found</h4>

        } else {
            @if(m.noResults) {
                <div style="margin:auto;text-align:center;padding-top:20px;">
                    <h2> You currently have no shared trips.</h2>

                    <br/>

                    <p>
                        Umapped allows you to collaborate with other users as you build a trip itinerary.
                        <br/>
                            Click <a href="javascript:showHelp('help_start_collaboration')">  <img src="@m.imgUrl/img/u_btn_info.png?v20170405"> </a> to find out how collaboration works.
                    </p>

                </div>
            }
        }
        </td>
    </tr>

}
