@(m:  com.mapped.publisher.view.PoiBaseView)
@import com.mapped.publisher.view.ViewUtils
@import com.mapped.publisher.persistence.PoiTypeInfo

@if(m.message!=null && m.message.length > 0) {
<--alertMsg-->
<div id="alertMsg">
    <h4> @m.message</h4>
</div>
<--endAlertMsg-->
}

<--pageTitle-->
<div id="pageTitle">
  <h1 class="page-title">Vendors <a href="javascript:showHelpCurrentPage();"><img src="@m.imgUrl/img/u_btn_info.png?v20170405" /></a>
    @if(m.isUMappedAdmin) {
      <button id="poiButtonNew" type="button" role="button" class="btn btn-large btn-info pull-right">
        <i class="fa fa-plus"></i>&nbsp;Create</button>
    }
  </h1>

</div>
<--endPageTitle-->

<--pageHeader-->
<div id="pageHeader">
</div>
<--endPageHeader-->

<--pageBody-->
<div id="pageBody">
  <script type="application/javascript">
    $(function() {
      initPois();
    });
  </script>

  <div id="poiSearchRegion">
    <fieldset>
      <legend>Search Vendors</legend>
      <div class="row-fluid">
        <div class="span10">
          <Label>Keyword <em>*</em></Label>
          <div style="position: relative;">
            <input type="text" placeholder="Enter search keyword" id="poiSearchTerm" class="required input-block-level">
            <i id="poiSearchSpinner" class="fa fa-refresh fa-spin inputSpinner hide"></i>
          </div>
        </div>
        <div class="span2">
          <label> Company</label>
            <select id="inCmpyId" name="inCmpyId" class="input-block-level">
            @for((key, value) <- m.userCompanies) {
              <option selected="Y" value=@key>@value</option>
            }
            </select>
        </div>
      </div>
      <br>

      <div class="row-fluid" id="poiSearchTypes">
      @for((key, value) <- PoiTypeInfo.Instance().getTypeMap) {
        <label class="checkbox inline">
          <input type="checkbox" id="@key" value="@key"> @value
        </label>
      }
      </div>
    </fieldset>
    <br/>


    <div class="tabbable">
      <div id="searchMsg" class="subTitle" style="padding-top:40px;">NO VENDORS TO DISPLAY</div>
      <ul class="nav nav-tabs" id="poiTabs">
        @for((key, value) <- PoiTypeInfo.Instance().getTypeMap()) {
          <li id="poiType@{key}Tab" class="hide">
            <a href="#poiType@{key}TabContent" data-toggle="tab">
              <i class="fa @ViewUtils.getFontAwesomeIconForPoiType(key) pull-left"></i>&nbsp;@value
              <span id="poiTypeCount@key" class="badge badge-success"></span>
            </a>
          </li>
        }

      </ul>
      <div class="tab-content">
      @for((key, value) <- PoiTypeInfo.Instance().getTypeMap()) {
        <div class="tab-pane" id="poiType@{key}TabContent">
          <table id="tablePoiType@{key}" class="table table-striped">
            <thead>
              <tr>
                <th width="30%">NAME</th>
                <th width="25%">ADDRESS</th>
                <th width="20%">CONTACT</th>
                <th width="15%">COMPANY</th>
                <th width="5%"></th>
                <th width="5%"></th>
              </tr>
            </thead>
            <tbody>
          </tbody>
          </table>
        </div>
      }
      </div>
    </div>
  </div>

  @views.html.poi.poiEditor(m, "poiEditRegion")
  @views.html.poi.poiEditorModals(m)

</div>
<--endPageBody-->
