@(m:  com.mapped.publisher.view.PoiBaseView, editorId : String)
@import com.mapped.publisher.persistence.CountriesInfo.LangCode
@import com.mapped.publisher.persistence.PoiTypeInfo

<div id="@{editorId}" class="hide" style="margin-bottom: 20px;">
  <div class="tabbable"> @* Only required for left/right tabs *@
  <ul class="nav nav-tabs" id="@{editorId}_photoTabs">
    <li id="@{editorId}_infoTabBtn" class="active">
      <a href="#@{editorId}_infoTab" data-toggle="tab">
        <i class="fa fa-home pull-left"></i>Vendor Information</a>
    </li>
    <li id="@{editorId}_addressTabBtn" >
      <a href="#@{editorId}_addressTab" data-toggle="tab">
        <i class="fa fa-road pull-left"></i>Address Info</a>
    </li>
    <li id="@{editorId}_contactTabBtn" >
      <a href="#@{editorId}_contactTab" data-toggle="tab">
        <i class="fa fa-envelope pull-left"></i> Contact Info</a>
    </li>
    <li id="@{editorId}_featuresTabBtn" class="">
      <a href="#@{editorId}_featuresTab" data-toggle="tab">
        <i class="fa fa-star  pull-left"></i>&nbsp;Features</a>
    </li>
  </ul>

  <div class="tab-content">
    <div id="@{editorId}_infoTab" class="tab-pane active ">
      <legend>Information</legend>
      <div class="row-fluid">
        <div class="span3">
          <label>Company <em>*</em></label>
          <select id="@{editorId}_poiCmpyId"></select>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span6">
          <label> Name <em>*</em></label>
          <input type="hidden" id="@{editorId}_poiId" />
          <input type="text" id="@{editorId}_poiName" placeholder="Name" class="required input-block-level" minlength="2" maxlength="255" />
        </div>
        <div class="span2">
          <label>Category <em>*</em></label>
          <select id="@{editorId}_poiType" class="input-block-level">
          @for((key, value) <- PoiTypeInfo.Instance().getTypeMap) {
            <option value=@key>@value</option>
          }
          </select>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span3">
          <label id="@{editorId}_poiCodeLabel">Location Short Code (Unique Identifier)</label>
          <input type="text"  id="@{editorId}_poiCode" style="text-transform:uppercase;"
          class="input-block-level" minlength="2" placeholder="Location Short Code (Unique Identifier)">
        </div>
        <div class="span9">
          <label id="@{editorId}_poiTagsLabel">Tags</label>
          <input type="text"  id="@{editorId}_poiTags" style="text-transform:lowercase;"
          class="input-block-level" minlength="2">
        </div>
      </div>
    </div>

    <div id="@{editorId}_addressTab" class="tab-pane">
      <legend>Address</legend>
      <div class="row-fluid">
        <div class="span12">
          <label>Landmark Name</label>
          <input type="text" id="@{editorId}_poiLandmarkName" placeholder="Landmark Name" class="input-block-level" minlength="2" />
        </div>
      </div>
      <div class="row-fluid">
        <div class="span12">
          <label>Street Address</label>
          <textarea  id="@{editorId}_poiAddressStreetAddress" class="input-block-level" rows="3"></textarea>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span3">
          <label>Locality (City/Town/Village)</label>
          <input type="text"  id="@{editorId}_poiAddressLocality" class="input-block-level">
        </div>
        <div class="span3">
          <label>Postal Code (ZIP)</label>
          <input type="text"  id="@{editorId}_poiAddressPostalCode" class="input-block-level">
        </div>
        <div class="span3">
          <label>Region (State/Province)</label>
          <input type="text"  id="@{editorId}_poiAddressRegion" class="input-block-level">
        </div>
        <div class="span3">
          <label>Country <em>*</em></label>
          <select id="@{editorId}_poiAddressCountry" class="input-block-level required">
          @for(cntry <- com.mapped.publisher.persistence.CountriesInfo.Instance().getNameSortedCountryList()) {
            <option value=@cntry.getAlpha3.toUpperCase()>@cntry.getName(LangCode.EN)</option>
          }
          </select>
          @*
          <input type="text"  id="@{editorId}_poiAddressCountry" class="input-block-level required" required>
          *@
        </div>
      </div>

      <br/>
      <div class="row-fluid">
        <div class="span3">
          <label>Latitude</label>
          <input type="text" id="@{editorId}_poiAddressCoordsLat" placeholder="GPS Latitude" class="input-block-level" />
        </div>
        <div class="span3">
          <label>Longitude</label>
          <input type="text" id="@{editorId}_poiAddressCoordsLong" placeholder="GPS Longitude" class="input-block-level" />
        </div>
      </div>
    </div>

    <div id="@{editorId}_contactTab" class="tab-pane">
      <legend>Contact</legend>
      <div class="row-fluid">
        <div class="span3">
          <label>Email</label>
          <input type="text"  id="@{editorId}_poiEmail" class="input-block-level" class="email">
        </div>
        <div class="span3">
          <label>Website</label>
          <input type="text"  id="@{editorId}_poiUrl" class="input-block-level">
        </div>
        <div class="span3">
          <label>Phone</label>
          <input type="text"  id="@{editorId}_poiPhoneMain" class="input-block-level" class="phone" />
        </div>
        <div class="span3">
          <label>Fax</label>
          <input type="text"  id="@{editorId}_poiPhoneFax" class="input-block-level" class="phone" />
        </div>
      </div>
      <div class="row-fluid">
        <div class="span3">
          <label>Facebook</label>
          <input type="text"  id="@{editorId}_poiSocialLinkFacebook" class="input-block-level" />
        </div>
        <div class="span3">
          <label>Twitter</label>
          <input type="text"  id="@{editorId}_poiSocialLinkTwitter" class="input-block-level" />
        </div>
      </div>
      <div class="row-fluid">
        <div class="span12">
          <label>Description</label>
          <textarea id="@{editorId}_poiDesc" class="field span12" rows="5"></textarea>
        </div>
      </div>
    </div>

    <div id="@{editorId}_featuresTab" class="tab-pane">
      <legend>Benefits & Features</legend>
      <div id="@{editorId}_featuresTabContent"></div>
    </div>
  </div>
  </div>

  <div class="row-fluid">
    <div class="offset6 span6">
     <div class="row-fluid">
       <div class="span3" id="@{editorId}_poiButtonAreaAddPhoto">
         <a role="button" id="@{editorId}_poiButtonAddPhoto" class="btn input-block-level btn-primary">
           <i class="fa fa-camera"></i>&nbsp;Add a Photo</a>
       </div>
       <div class="span3" id="@{editorId}_poiButtonAreaDelete">
         <a role="button" id="@{editorId}_poiButtonDelete" href="#poiDeleteModal" class="btn btn-danger input-block-level" data-toggle="modal">
           <i class="fa fa-trash"></i>&nbsp;Delete</a>
       </div>
       <div class="span3" id="@{editorId}_poiButtonAreaSave">
         <a role="button"  id="@{editorId}_poiButtonSave" class="btn btn-success input-block-level">
           <i class="fa fa-database"></i>&nbsp;Update</a>
       </div>
       <div class="span3" id="@{editorId}_poiButtonAreaCreate">
         <a role="button" id="@{editorId}_poiButtonCreate" class="btn btn-success input-block-level">
           <i class="fa fa-plus"></i>&nbsp;Create</a>
       </div>
       <div class="span3 hide" id="@{editorId}_poiButtonAreaClose">
         <a role="button"  id="@{editorId}_poiButtonClose" class="btn btn-info input-block-level">
           <i class="fa fa-reply"></i>&nbsp;<span>To Booking</span></a>
       </div>

     </div>
    </div>
  </div>

    <!-- show attachments -->
  <div id="@{editorId}_poiPhotosRegion" class="hide">
    <br/><br/>
    <legend>
      <div class="row-fluid ">
        <div class="span9">Photos</div>
      </div>
    </legend>
    <div id="@{editorId}_poiPhotos" class="row-fluid">
    </div>
    <div id="@{editorId}_poiPhotosRegionNone" class="row-fluid hide">
      <h5 class="muted">No Photos Uploaded.</h5>
    </div>
  </div>
</div>
