@(m:  com.mapped.publisher.view.PoiBaseView)
@import models.publisher.ImageLibrary.ImgSrc

<div id="poiPhotoDeleteModal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Confirm Delete</h3>
  </div>
  <div class="modal-body">
    <p>Delete this photo?</p>
  </div>
  <div class="modal-footer">
    <fieldset>
      <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
      <button type="submit" class="btn btn-info " id="poiPhotoDeleteSubmit">Delete</button>
    </fieldset>
  </div>
</div>

<div id="poiDeleteModal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Confirm Delete</h3>
  </div>
  <div class="modal-body">
    <p>Delete this vendor?</p>
  </div>
  <div class="modal-footer">
    <fieldset>
      <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
      <button type="button" class="btn btn-danger" id="poiButtonDeleteConfirmed">Delete</button>
    </fieldset>
  </div>
</div>

<div id="poiPhotosModal" class="modal container hide fade" tabindex="-1" data-replace="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-header">
    <button id="poiImgSearchModalCloseTop" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Add a Photo</h3>
  </div>
  <div class="modal-body">
    <div class="alert fade in hide" id="poiImgAlertBox">
      <button type="button" class="close">×</button>
    </div>
    <div class="tabbable"> <!-- Only required for left/right tabs -->
      <ul class="nav nav-tabs" id="photoTabs">
        <li id="hotelPhotosTabArea">
          <a href="#poiHotelPhotosTab" data-toggle="tab">
            <i class="fa fa-building pull-left"></i>Hotel Photos</a>
        </li>
        <li class="active" id="imgLibraryTabArea">
          <a href="#poiImgLibTab" data-toggle="tab">
            <i class="fa fa-th pull-left"></i>Search Image Library</a>
        </li>
        <li>
          <a href="#poiImgWebTab" data-toggle="tab">
            <i class="fa fa-globe pull-left"></i> Search Web</a>
        </li>
        <li>
          <a href="#poiImgUploadTab" data-toggle="tab">
            <i class="fa fa-arrow-up pull-left"></i> Upload Photo</a>
        </li>
      </ul>
      <div class="tab-content">
        <div id="poiHotelPhotosTab" class="tab-pane">

          <div id="hotelPhotosArea">
            <legend>Official Hotel Photos</legend>
            <p> Click on a thumbnail to select the photo.</p>
            <div style="margin:auto;overflow:auto;padding-top:10px">
              <ul id="iceThumbnails" style="white-space:nowrap;padding-bottom: 10px">
                  </ul>
            </div>
          </div>

          <div id="hotelSuggestionArea">
            <legend>
                  Suggested Hotels
            </legend>
            <table id="iceRecordsTable" class="table table-striped" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Country</th>
                  <th>City</th>
                  <th>Address</th>
                  <th>Postal Code</th>
                  <th></th>
                </tr>
              </thead>
              <tbody id="iceRecordsTableData">
                </tbody>
            </table>
          </div>
        </div>

        <div id="poiImgLibTab" class="tab-pane">
          <legend>Search Image Library</legend>
          <form id="poiImgSearchForm">
            <input type="hidden" id="inCmpyId" name="inCmpyId">
            <input type="hidden"  name="inImgSearchType" value="@ImgSrc.UMAPPED" >
            <input type="hidden" id="inVendorId" name="inVendorId">
            <input type="hidden" id="inMultipleFiles" name="inMultipleFiles" value="1">
            <div class="row-fluid">
              <div class="span6">
                <label>Keyword</label>
                <input type="text" id="inKeyword" name='inKeyword' placeholder="keywords" class="input-block-level required"/>
              </div>
              <div class="span3 ">
                <label>&nbsp;</label>
                <button type="submit" class="btn btn-success pull-left btn-large" id="poiPhotoLibrarySearch">Search</button>
              </div>
            </div>
          </form>
          <div class="row-fluid">
            <p class="muted"> Search for a photo from your library and the Umapped database.</p>
          </div>
          <div id="poiImgSearchResults"></div>
        </div>

        <div id="poiImgWebTab" class="tab-pane">
          <legend>Search/Save Image From a Website</legend>
          <form id="poiImgWebSearchForm">
            <input type="hidden" id="inCmpyId" name="inCmpyId">
            <input type="hidden" name="inImgSearchType" value="@ImgSrc.WEB">
            <input type="hidden" id="inVendorId" name="inVendorId">
            <input type="hidden" id="inMultipleFiles" name="inMultipleFiles" value="1">
            <div class="row-fluid">
              <div class="span6">
                <label>Keyword</label>
                <input type="text" id="inKeyword" name='inKeyword' placeholder="keywords"
                class="input-block-level"/>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span6">
                <label>Website</label>
                <input type="text" id="inWebUrl" name='inWebUrl' placeholder="website url (e.g. www.umapped.com) or image url"
                class="input-block-level required"/>
              </div>
              <div class="span3 ">
                <label>&nbsp;</label>
                <button type="submit" class="btn btn-success pull-left btn-large" id="poiPhotoWebSearch">Search
                </button>
              </div>
            </div>
          </form>
          <div class="row-fluid">
            <p class="muted"> Search photos from an external website.</p>
          </div>
          <div id="poiImgWebSearchResults">
            </div>
        </div>

        <div id="poiImgUploadTab" class="tab-pane">
          <form id="poiPhotoUploadForm" method="post" enctype="multipart/form-data">
            <div class="row-fluid">
              <legend>Upload a Photo</legend>
              <div class="span9">
                <input type="hidden" id="key"                   name='key'/>
                <input type="hidden" id="AWSAccessKeyId"        name='AWSAccessKeyId'/>
                <input type="hidden" id="policy"                name='policy'/>
                <input type="hidden" id="signature"             name='signature'/>
                <input type="hidden" id="success_action_status" name='success_action_status' value='201'/>
                <input type="file"   id="poiPhotoFile"          name='file' />
              </div>
              <div class="span2 pull-right">
                <button type="submit" class="btn btn-success btn-large " id="poiPhotoUploadSubmit">Upload</button>
              </div>
            </div>
            <br/>
            <div class="row-fluid">
              <div class="span12">
                <label> Caption</label>
                <textarea id="poiPhotoCaption" name="poiPhotoCaption" class="field span12" rows="3"></textarea>
              </div>
            </div>

            <div style="height:120px">
              <div id="uploadSpinner" style="display:none;text-align:center">
                <img src="@{m.imgUrl}/img/ajax-loader.gif" />  Uploading...
                <div id="progressUpload"></div>
              </div>
            </div>
          </form>
        </div>

        <div id="poiImgSpinner" class="spinner" style="display:none; background: rgba(255,255,255,.7) url('@{m.imgUrl}/img/ajax-loader-white-1.gif') center center no-repeat;width:100%;height:100%;position: absolute; top: 0px; left: 0px;z-index:100;min-height:200px    ">
            </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true" id="poiImgSearchModalClose">Close</button>
  </div>
</div>

<div id="dynamicModal"></div>

<!-- modal for photo selection from the image library-->
<div id="poiPhotoModal" class="modal hide fade" tabindex="1" data-replace="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-header">
    <button id="poiPhotoModalCloseTop" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Photo Preview</h3>
  </div>
  <div class="modal-body">
    <img id="poiPhotoPreview" src="@{m.imgUrl}/img/spacer.gif" style="width:100%"
    onerror='alert("This photo was not found on the server. Please try again.");javascript:$("#poiPhotosModal").modal("show");'>

    <div id="poiPhotoModalSpinner" class="spinner" style="display:none; background: rgba(255,255,255,.7) url('@{m.imgUrl}/img/ajax-loader-white-1.gif') center center no-repeat;width:100%;height:100%;position: absolute; top: 0px; left: 0px;z-index:100;min-height:200px">
      </div>

    <div style="padding-top:10px">
      <p class="muted" id="poiPhotoDisclaimer">
            Note: Umapped is not the copyright holder of this photo.
        Please ensure your are authorized to use this photo.</p>
      <a href="#" target="_blank" id="poiPhotoLicence" class="hide">Click here to view the more information about this photo</a>
    </div>

    <div style="padding-top:10px;text-align:center;">
      <div class="row-fluid" id="inImgPhotoCaptionDiv">
        <div class="span12">
          <label> Caption</label>
          <textarea id="poiPhotoPreviewCaption"  class="field span12" rows="2"></textarea>
        </div>
      </div>
      <button id="poiPhotoAdd" type="button" class="btn btn-success btn-large" aria-hidden="true">Add Photo</button>
    </div>
  </div>
  <div class="modal-footer">
    <button id="poiPhotoModalClose" type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
