@(tripId: String, m:  List[com.umapped.external.travelbound.TravelboundBookingSearchResult])
<script>
  function importBooking(agentId, refNumber) {
     $('#dynamicModalBody').modal('hide');
     var url = "/travelbound/importBooking?tripId=@tripId&inAgentId=" + agentId + "&bookingRefNumber=" + refNumber;
     getPage(url);
  }

  function closeModal() {
  $('#dynamicModalBody').modal('hide');
  return false
  }

</script>

<div id="dynamicModalBody" class="modal container fade documentModal">
  <div class="modal-header">
    <button type="button" class="close" onclick="closeModal()">&times;</button>
    <h2 style="text-align:center;">TravelBound Import</h2>
  </div>
  <div class="modal-body" style="position:relative;font-family: 'Open Sans Condensed', sans-serif;">
    <div id="searchResultTable">
      <table class="table table-stripped">
        <thead>
        <tr>
          <th style="text-align: left; width: 110px">DEPARTURE DATE</th>
          <th style="text-align: left">NAME</th>
          <th style="text-align: left">REFERENCE NUMBER</th>
          <th style="text-align: left">BOOKING STATUS</th>
          <th style="text-align: center; width: 100px"></th>
        </tr>
        </thead>
        <tbody>
        @for(p <- m) {
        <tr >
          <td style="text-align: left; width: 110px">@p.getDepartureDateStr</td>
          <td style="text-align: left">@p.getName</td>
          <td style="text-align: left">@p.getBookingRefNumber</td>
          <td style="text-align: left">@p.getStatus</td>
          <td style="text-align: center; width: 100px">
            @if(p.isValid){
              <button class="btn btn-primary" onclick="javascript:importBooking(@p.getClientId, '@p.getBookingRefNumber');return false;"> Import</button>}
            &nbsp;</td>
        </tr>
        }
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" onclick="closeModal()">Close</button>
  </div>

</div>