@(bookingType: com.umapped.persistence.enums.ReservationType, tab: com.mapped.publisher.view.TabType, m: com.mapped.publisher.view.TripBookingView, p: com.mapped.publisher.view.TripBookingDetailView, i: Integer)
@import com.mapped.publisher.common.BookingSrc

@import com.mapped.publisher.view.TabType
@import com.mapped.publisher.common.SecurityMgr.AccessLevel
@import com.mapped.publisher.view.ViewUtils
  @import com.umapped.persistence.enums.ReservationType
 @import com.umapped.persistence.enums.ReservationType

<div class="" style="width:100%;">
  <div class="span6">
    @tab match {
      case TabType.FLIGHTS => {                       <span style="font-size: 18px ;font-weight: 700">Flight to: </span> <span style="font-size: 18px;font-weight: 400">@p.arrivalAirportCode @p.arrivalAirport</span>
      }
      case TabType.HOTELS => {                        <span style="font-size: 18px ;font-weight: 700">Check-In </span>
      }
      case TabType.CRUISES => {  <span style="font-size: 18px ;font-weight: 700">Cruise </span> }
      case TabType.TRANSPORTS => {
        <span style="font-size: 18px ;font-weight: 700">
        @if(p.detailsTypeId == ReservationType.CAR_RENTAL) {
           Car Rental Pickup


        } else {
          @if(p.detailsTypeId == ReservationType.TAXI) {
            Taxi
          } else {
            @if(p.detailsTypeId == ReservationType.PRIVATE_TRANSFER) {
              Transfer
            } else {
              @if(p.detailsTypeId == ReservationType.RAIL) {
                Train
              } else {
                @if(p.detailsTypeId == ReservationType.PUBLIC_TRANSPORT || p.detailsTypeId == ReservationType.BUS) {
                  Bus
                } else {
                  @if(p.detailsTypeId == ReservationType.CAR_DROPOFF) {
                  Car Rental Drop-Off
                } else {
                    @if(p.detailsTypeId == ReservationType.FERRY) {
                      Ferry
                    } else {
                      Transfer
                    }
                  }
                }
              }
            }
          }
        }
        </span>
      }
      case TabType.ACTIVITIES => {
        <span style="font-size: 18px ;font-weight: 700">
        @if(p.detailsTypeId == ReservationType.CRUISE_STOP) {
          Cruise Stop
        } else {
          @if(p.detailsTypeId == ReservationType.SHORE_EXCURSION) {
            Shore Excursion
          } else {
            @if(p.detailsTypeId == ReservationType.TOUR) {
              Tour
            } else {
              @if(p.detailsTypeId == ReservationType.RESTAURANT) {
                Restaurant Reservation
              } else {
                @if(p.detailsTypeId == ReservationType.EVENT) {
                  Event
                } else {
                  @if(p.detailsTypeId == ReservationType.SKI_LESSONS) {
                    Ski Lessons
                  } else {
                    @if(p.detailsTypeId == ReservationType.SKI_LIFT) {
                      Lift Tickets
                    } else {
                      @if(p.detailsTypeId == ReservationType.SKI_RENTALS) {
                        Equipment Rentals
                      } else {
                        Activity
                      }
                    }
                  }
                }
              }
            }
          }
        }
        </span>
      }
      case _ => {}
    }
  </div>
  <div class="span6 selectButton">
    <div style="float: right">
      @views.html.clientbase.details.importSrc(p)

      @if(i > 0) {

      @if(m.accessLevel.ge(AccessLevel.OWNER) || (m.accessLevel.ge(AccessLevel.APPEND) && p.createdById.equals(m.loggedInUserId))) {
        @if(!(p.importSrc != null && p.importSrcId != null &&  p.importSrc == BookingSrc.ImportSrc.API && p.importSrcId.contains("CLIENTBASE")) && !(p.importSrc != null && p.importSrc == BookingSrc.ImportSrc.CLIENT_BASE_PDF)) {
          <a id="add@p.getDetailsId" onclick="javascript:addBooking('@p.getDetailsId');return false;" style="padding-left: 10px;padding-right: 10px" data-toggle="Select @p.name " title="Select @p.name">
            <i class="fa fa-plus" style="font-size: 26px; color: #666666"></i> <span style="font-size: 20px; color: #666666">Select</span>
          </a>
          <a id="remove@p.getDetailsId" onclick="javascript:removeBooking('@p.getDetailsId');return false;" style="padding-left: 10px;padding-right: 10px; display:none" data-toggle="Select @p.name " title="Select @p.name">
            <i class="fa fa-minus" style="font-size: 20px; color: #666666"></i> <span style="font-size: 20px; color: #666666;">Remove</span>
          </a>
        }
      }
      }
    </div>
  </div>@* span6 *@
</div>
