@(m: com.mapped.publisher.view.TripBookingView, trv:  com.mapped.publisher.view.UmTransferReservationView,  i: Integer)
@import com.mapped.publisher.view.ViewUtils
@import com.umapped.persistence.enums.ReservationType
@import com.mapped.publisher.utils.Utils
@import com.umapped.persistence.enums.ReservationType
@import com.mapped.publisher.view.TabType

  <div class="bookingBox" style="padding:4px;width: 99%;margin: auto;margin-top: 10px;margin-bottom: 10px;background-color: #ffffff">

    <table style="width: 100%;">
      <tr style="width: 100%;">

        <td style="width:35px;vertical-align: top;padding-top:5px;">
        <div style="margin-top:@if(ViewUtils.getimgNameForBookingType(trv.getDetailsTypeId).contains("car")){10px} else {12px};margin-left: 7px;text-align: right">
        <img src="https://s3.amazonaws.com/static-umapped-com/public/img/icons/@ViewUtils.getimgNameForBookingType(trv.getDetailsTypeId)"
        width=@if(ViewUtils.getimgNameForBookingType(trv.getDetailsTypeId).contains("car")){"22"}else{ @if(ViewUtils.getimgNameForBookingType(trv.getDetailsTypeId).contains("cruise")){"28"}else{"16"}}>
  </div>
  </td>
  <td style="vertical-align: top;padding-top:5px;">
  <div>
    <table style="width:100%;margin-left: 0px;margin-top: 8px;">
      <tr>
        <td style="vertical-align: top;">
          <table style="width:100%;margin-left: 0px;margin-top: 0px;">
            <tr>
              <td colspan="7" style="padding-bottom: 20px;vertical-align: top;">
                @views.html.clientbase.details.bookingScheduleBtns(ReservationType.TRANSPORT, TabType.TRANSPORTS, m, trv, i)

              </td>
            </tr>
            <tr style="font-size: 11px;color: #818181;font-weight: 700">

              <td style="padding-bottom: 10px;width: 250px;vertical-align: text-top;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">
              @if(trv.getDetailsTypeId == ReservationType.RAIL) {
                TRAIN
              } else {
                @if(trv.getDetailsTypeId == ReservationType.PRIVATE_TRANSFER || trv.getDetailsTypeId == ReservationType.TRANSPORT) {
                  CONTACT
                } else {
                  COMPANY
                }
              }
              </div>
              </td>
              <td style="width:15px;border-top: none;"></td>
              <td style="width: 80px ;padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">BOOKING #</div></td>
              <td style="width:15px"></td>
              <td style="width: 125px ; padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">
                @if(trv.getDetailsTypeId == ReservationType.CAR_DROPOFF){
                   DROP-OFF
                } else {
                  @if(trv.getDetailsTypeId == ReservationType.CAR_RENTAL || trv.getDetailsTypeId == ReservationType.TAXI || trv.getDetailsTypeId == ReservationType.TRANSPORT) {
                    PICK-UP
                  } else {
                    START
                  }
                }
              </div></td>
              @if(trv.getDetailsTypeId != ReservationType.CAR_DROPOFF){

                <td style="width:15px"></td>
              <td style="width: 125px ; padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">
              @if(trv.getDetailsTypeId == ReservationType.CAR_RENTAL || trv.getDetailsTypeId == ReservationType.TAXI || trv.getDetailsTypeId == ReservationType.TRANSPORT) {
                DROP-OFF
              } else {
                FINISH
              }

              </div></td>
              }
            </tr>

            <tr style="font-size: 13px;color: #000000;line-height: 16px">

              <td style="width:130px ; padding-bottom: 20px;;vertical-align: text-top">
                @if(trv.getProviderName != null && trv.getProviderName.trim.length > 0) {
                  <span style="font-weight: 700">@trv.getProviderName</span> <br/>
                } else {
                  @if(trv.getName != null && trv.getName.trim.length > 0) {
                    <span style="font-weight: 700">@trv.getName</span> <br/>
                  }
                }
                @if(trv.getContact != null && trv.getContact.length > 0) {
                  Contact: @trv.getContact <br/>
                }
                @if(trv.getProviderAddr1 != null && trv.getProviderAddr1.length > 0) {
                @Html(trv.getProviderAddr1) <br>
                }
                @if(trv.getProviderAddr2 != null && trv.getProviderAddr2.length > 0) {
                @Html(trv.getProviderAddr2) <br/>
                }
                @if(trv.getProviderPhone != null && trv.getProviderPhone.length > 0) {
                Phone: @Html(trv.getProviderPhone) <br/>
                }
                @if(trv.getProviderFax != null && trv.getProviderFax.length > 0) {
                  Fax: @Html(trv.getProviderFax) <br/>
                }
                @if(trv.getProviderWeb != null && trv.getProviderWeb.length > 0) {
                Web: @Html(trv.getProviderWeb) <br/>
                }
              </td>
              <td style="width:15px"></td>
              <td style="width:80px ; padding-bottom: 20px;;vertical-align: text-top;">@trv.getBookingNumber</td>
              <td style="width:15px"></td>
              <td style="width:119px ; padding-bottom: 20px;vertical-align: text-top">
                @if(trv.getStartHour != null && trv.getStartHour.trim.length > 0) {
                  <div style="font-size: 18px;padding-bottom:12px">
                  @if(m.display12Hr) {
                    @Utils.formatTime12(trv.getStartDateMilli)
                  } else {
                    @Utils.formatTime24(trv.getStartDateMilli)
                  }
                  </div>
                }
                @if(trv.getStartDateItin != null && trv.getStartDateItin.trim.length > 0) {
                  <div style="padding-bottom:6px">@trv.getStartDateItin  </div>
                }
                @if(trv.getLocStartName != null && trv.getLocStartName.trim.length > 0) {
                  <span style="font-size: 14px;font-weight: 400">@trv.getLocStartName  </span>

                }
              </td>
              @if(trv.getDetailsTypeId != ReservationType.CAR_DROPOFF){
              <td style="width:15px"></td>
              <td style="width:119px ; padding-bottom: 20px;vertical-align: text-top">
                @if(trv.getEndHour != null && trv.getEndHour.trim.length > 0) {
                  <div style="font-size: 18px;padding-bottom:12px">
                  @if(m.display12Hr) {
                    @Utils.formatTime12(trv.getEndDateMilli)
                  } else {
                    @Utils.formatTime24(trv.getEndDateMilli)
                  }
                  </div>
                }
                @if(trv.getEndDateItin != null && trv.getEndDateItin.trim.length > 0) {
                  <div style="padding-bottom:6px">@trv.getEndDateItin </div>
                }
                @if(trv.getLocFinishName != null && trv.getLocFinishName.trim.length > 0) {
                  <span style="font-size: 14px;font-weight: 400">@trv.getLocFinishName  </span>

                }
                </td>
              }

            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
  </td>
  </tr>
  </table>
</div>
