@(m:  com.mapped.publisher.view.BaseView)
@import models.publisher.BillingSchedule


@if(m.message!=null && m.message.length > 0) {
<--alertMsg-->
<div id="alertMsg">
    <h4> @m.message</h4>
</div>
<--endAlertMsg-->
}

<--pageTitle-->
<div id="pageTitle">
  <h1 class="page-title">Company Billing Reports</h1>
</div>
<--endPageTitle-->

<--pageHeader-->
<div id="pageHeader">
</div>
<--endPageHeader-->

<--pageBody-->
<div id="pageBody">
  <script>
    $(function(){
      var cmpyDtTable = Object.create(BillingReportsCmpy);
      cmpyDtTable.init('@controllers.routes.AdminController.billingReportCmpyDT()');
      cmpyDtTable.tableInit('@BillingSchedule.Type.TRIP');
    billingCheckStatus('@routes.AdminController.billingStatus()', 'billingStateArea');
  });
  </script>

  <div id="billingStateArea" class="well hide">
    <legend id="billingState">feedCheckProgress</legend>
    <div class="progress progress-striped active">
      <div class="bar" style="width: 0%;"></div>
      <span></span>
    </div>
  </div>

  <legend>Company Billing Schedule</legend>
  <select id="billingSchedule">
    @for(bs <- BillingSchedule.getSchedulesForCmpy){
      <option value="@bs.name()" >@bs.getLongName</option>
    }
  </select>
  <hr/>

  <table class="table table-striped" id="cmpyTable">
    <thead>
      <tr>
        <th>Name</th>
        <th>Schedule</th>
        <th>Plan</th>
        <th>Payment Type</th>
        <th>Start Date</th>
        <th>Cutoff Date</th>
        <th>In Freshbooks</th>
        <th>Reports</th>
        <th>Profile</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
      <tr>
        <th>Name</th>
        <th>Schedule</th>
        <th>Plan</th>
        <th>Payment Type</th>
        <th>Start Date</th>
        <th>Cutoff Date</th>
        <th>In Freshbooks</th>
        <th>Reports</th>
        <th>Profile</th>
      </tr>
    </tfoot>
  </table>

  <div class="well">
    <legend>Freshbook Clients Controls</legend>
    <div class="row-fluid">
      <div class="offset6 span3">
        <a id="btnFreshbookSyncMod" role="button" class="btn btn-primary input-block-level">Sync Modified with Freshbooks</a>
      </div>
      <div class="span3">
        <a id="btnFreshbookSyncAll" role="button" class="btn btn-primary input-block-level">Sync All with Freshbooks</a>
      </div>
    </div>
  </div>

</div>
<--endPageBody-->
