@(m:  com.mapped.publisher.view.billing.InvoiceView)
@import com.mapped.publisher.view.billing.ReportBaseView
@import models.publisher.BillingInvoice.InvoiceState

@if(m.message!=null && m.message.length > 0) {
  <--alertMsg-->
  <div id="alertMsg">
    <h4> @m.message</h4>
  </div>
  <--endAlertMsg-->
}

  <--pageTitle-->
<div id="pageTitle">
  <h1 class="page-title">Billing Invoices</h1>
</div>
  <--endPageTitle-->

  <--pageHeader-->
<div id="pageHeader">
</div>
  <--endPageHeader-->

  <--pageBody-->
<div id="pageBody">
  <script>
  $(function(){
    var billingInvoices = Object.create(BillingInvoices);
    billingInvoices.init('@controllers.routes.AdminController.billingInvoices()',
                         '@routes.AdminController.billingStatus()');
  });
  </script>

  <div id="billingStateArea" class="well hide">
    <legend id="billingState">feedCheckProgress</legend>
    <div class="progress progress-striped active">
      <div class="bar" style="width: 0%;"></div>
      <span></span>
    </div>
  </div>

  <div class="well">
    <legend>Billing Cycle</legend>
    <div class="row-fluid">
      <div class="span2">
        <select id="billingMonth" class="input-block-level">
        @for(mnth <- ReportBaseView.MONTHS) {
          <option value="@mnth"
          @if(m.period != null && mnth == ReportBaseView.MONTHS.get(m.period.getMonthOfYear - 1)) {selected} >@mnth</option>
        }
        </select>
      </div>
      <div class="span2">
        <select id="billingYear" class="input-block-level">
        @for(year <- ReportBaseView.YEARS) {
          <option value="@year" @if(m.period != null && year == m.period.getYear) {selected} >@year</option>
        }
        </select>
      </div>
      <div class="span2">
        <a id="btnSwitchPeriod" role="button" class="btn btn-primary">Switch Cycle</a>
      </div>
    </div>

    <legend>Invoice Controls</legend>
    <div class="row-fluid">
      @if(m.invoices == null || m.invoices.size() == 0) {
      <div class="span2">
        <a id="btnGenerate" role="button" class="btn btn-primary input-block-level">Generate Invoice</a>
      </div>
      } else {
        <div class="span2">
          <a id="btnGenerate" role="button" class="btn btn-warning input-block-level">Generate Missing Invoices</a>
        </div>
      }

      @if(m.invoices != null && m.invoices.size() > 0 && !m.isPushed) {
        <div class="span2">
          <a id="btnPushFreshbooks" role="button" class="btn btn-info">Push to Freshbooks</a>
        </div>
      }

      @if(m.invoices !=null && m.invoices.size() > 0 && m.isPushed) {
        <div class="span2">
          <a id="btnSendFreshbooks" role="button" class="btn btn-info input-block-level">Send via Freshbooks</a>
        </div>
        <div class="span2">
          <a id="btnSyncFreshbooks" role="button" class="btn btn-info input-block-level">Sync with Freshbooks</a>
        </div>
      }

    </div>
  </div>
  <table class="table table-striped" id="invoicesTable">
    <thead>
      <tr>
        <th>Type</th>
        <th>Name</th>
        <th>Total</th>
        <th>State</th>
        <th>Freshbook Status</th>
        <th>Report</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      @for(inv <- m.invoices) {
        <tr>
          @if(inv.invoice.getUserId != null) {
            <td>User</td>
            <td>@inv.user.getFirstname @inv.user.getLastname <@{inv.user.getUserid}></td>
          } else {
            <td>Company</td>
            <td>@inv.cmpy.getName</td>
          }
          <td>@inv.invoice.getAmount</td>
          <td>@inv.invoice.getState</td>
          @if(inv.invoice.getState == InvoiceState.LOCAL){
            <td>N/A</td>
          } else {
            <td>@inv.invoice.getFreshbookInvoiceData.getStatus</td>
          }
          <td>
            <a role="button" class="btn btn-info pull-right" onclick="getPage('@inv.reportUrl');return false;">Detailed Report</a>
          </td>
          <td>
            @if(inv.deleteUrl != null) {
              <a role="button" class="btn btn-danger pull-right" onclick="doPost('@inv.deleteUrl');return false;">Delete Invoice</a>
            }
          </td>
        </tr>
      }
    </tbody>
    <tfoot>
      <tr>
        <th>Type</th>
        <th>Name</th>
        <th>Total</th>
        <th>State</th>
        <th>Freshbook Status</th>
        <th>Report</th>
        <th>Delete</th>
      </tr>
    </tfoot>
  </table>

</div>
  <--endPageBody-->
