@(m:  com.mapped.publisher.view.admin.CapabilityView)

@if(m.message!=null && m.message.length > 0) {
  <--alertMsg-->
  <div id="alertMsg">
    <h4> @m.message</h4>
  </div>
  <--endAlertMsg-->
}

<--pageTitle-->
<div id="pageTitle">
  <h1 class="page-title">Global Capabilities Management</h1>
</div>
<--endPageTitle-->

<--pageHeader-->
<div id="pageHeader">
</div>
<--endPageHeader-->

<--pageBody-->
<div id="pageBody">
  <script>
    $(function(){
      initCapability('@routes.AdminController.capabilityEdit()');
    });
  </script>

  @if(m.editable != null) {
  <div class="well container">
    <form id="formCapability">
      <input type="hidden" id="capPk" name="capPk" value="@if(m.editable != null){@m.editable.getPk}">
      <div class="row-fluid">
        <div class="span12">
          <label>System Name</label>
          <p class="muted">Capability System Name (Invisible To Users)</p>
          <input disabled type="text" class="required input-block-level" value="@m.editable.getCapability.name()">
        </div>
      </div>

      <div class="row-fluid">
        <div class="span12">
          <label>Summary<em>*</em></label>
          <p class="muted">Summary (Public Name) will be visible to the user</p>
          <input name="capSummary" type="text" class="required input-block-level" value="@m.editable.getSummary">
        </div>
      </div>

      <div class="row-fluid">
        <div class="span12">
          <label>Description</label>
          <p class="muted">Longer description, give more detail user about this capability and what it controls</p>
          <textarea name="capDescription" id="capDescription" rows="3" class="input-block-level">@m.editable.getDescription</textarea>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span3">
          <label>Enabled<em>*</em></label>
            <input type="checkbox" name="capEnabled" id="capEnabled" @if(m.editable != null && m.editable.getEnabled){checked}>
            <p class="muted">Currently just disables capability use in new features. In the future this will disable capability systemwide</p>
        </div>

        <div class="span3">
          <label>System Feature<em>*</em></label>
          <input type="checkbox" name="capUserControlled" id="capUserControlled" @if(m.editable != null && m.editable.getUserControlled){checked}>
          <p class="muted">Whether or not this is a system capability can be controlled via user preferences.</p>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span6 offset6">
          <div class="row-fluid">
            <div class="offset9 span3">
                <a role="button" class="btn bnt-success input-block-level" id="capabilityUpdate">Update</a>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  }

  <div class="subTitle">Capabilities</div>
  <table class="table table-striped" id="capabilitiesTable">
    <thead>
      <th>System Name</th>
      <th>Summary</th>
      <th>Enabled</th>
      <th>User Controlled</th>
      <th>Edit</th>
    </thead>
    <tbody>
    @for(v <- m.capabilities) {
      <tr>
        <td>@v.getCapability.name()</td>
        <td>@v.getSummary</td>
        <td>@v.getEnabled</td>
        <td>@v.getUserControlled</td>
        <td><a role="button" class="btn btn-primary" onclick="getPage('@routes.AdminController.capabilities(v.getPk)');return false;">Edit</a></td>
      </tr>
    }
    </tbody>
  </table>
</div>
<--endPageBody-->
