@(v:  com.mapped.publisher.view.admin.MessengerView)

@if(v.message!=null && v.message.length > 0) {
  <--alertMsg-->
  <div id="alertMsg">
    <h4> @v.message</h4>
  </div>
  <--endAlertMsg-->
}

  <--pageTitle-->
<div id="pageTitle">
  <h1 class="page-title">Messenger Conferences Management</h1>
</div>
  <--endPageTitle-->

  <--pageHeader-->
<div id="pageHeader">
</div>
  <--endPageHeader-->

  <--pageBody-->
<div id="pageBody">
  <script>
    $(function(){
      initMessengerAdmin('@routes.AdminController.messengerConferencesDT()',
              '@routes.AdminController.messengerCleanup()','@routes.AdminController.messengerState()');
    });
  </script>

  <div id="messengerStateArea" class="well hide">
    <legend id="messengerState"></legend>
    <div class="progress progress-striped active">
      <div class="bar" style="width: 0%;"></div>
      <span></span>
    </div>
  </div>

  <div class="well">
    <div class="row-fluid">
      <div class="span2">
        <a id="btnCleanMessenger" role="button" class="btn btn-info input-block-level">Clean Messenger</a>
      </div>
    </div>
  </div>

  <div class="subTitle" >Conferences</div>
  <table class="table table-striped" id="conferencesTable">
    <thead>
      <th>Trip</th>
      <th>Trip Starts On</th>
      <th>Trip Ends On</th>
      <th>Removed</th>
      <th>Removed On</th>
      <th>Rooms</th>
      <th>Messages</th>
      <th>Users</th>
      <th>Manage</th>
    </thead>
    <tbody>
    </tbody>
  </table>

</div>
  <--endPageBody-->
