

body { color: #777 }
/*
Add transition to containers so they can push in and out.
*/
#layout,
#menu,
.menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
/*
This is the parent `
` that contains the menu and the content area.
*/
#layout {
    padding-left: 245px; /* left col width "#menu" */
    left: 0;
}
/*
The content `
` is where all your content goes.
*/
.map {
    width: 100%;
    height: 350px;
    border-bottom: 5px solid #999999;
}
.content {
    margin: 0 auto;
    padding: 0 21px;
    margin-bottom: 50px;
    line-height: 1.6em;
    position: relative;
}
.header {
    margin: 0;
    color: #333;
    padding: 2.5em 2em 0;
    border-bottom: 1px solid #eee;
}
.header h1 {
    margin: 0.2em 0;
    font-size: 3em;
    font-weight: 300;
}
.header h2 {
    font-weight: 300;
    color: #ccc;
    padding: 0;
    margin-top: 0;
}
.content-subhead {
    margin: 25px 0 23px 0;
    font-weight: 300;
    color: #333333;
    border-bottom: 1px solid #666;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 20px;
    font-size: 21px !important;
}

span.blue {
	color: #00b4ff;
}

.note {
    position: absolute;
    font-family: 'Open Sans Condensed', sans-serif;
    right: 21px;
    top: 0px;
    text-transform: uppercase;
    font-size: 21px;
    background-image: url(https://s3.amazonaws.com/static-umapped-com/public/img/itinerary/icon_note.png);
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding-left: 32px;
}
/*
The `#menu` `
` is the parent `
` that contains the `.pure-menu` that
appears on the left side of the page.

By using the combination of `position: fixed; top: 0; bottom:0;`, we can make
the menu have 100% height and be fixed on the page as the rest of it scrolls.
*/
#menu {
    margin-left: -245px; /* this should be "#menu" width */
    border-right: 1px solid #666666;
    width: 245px;
    position: fixed;
    top: 0;
    left: 245px; /* this should be "#menu" width */
    bottom: 0;
    z-index: 1; /* so the menu or its navicon stays above all content */
    background: #575757;
    overflow-y: auto;
    -webkit-overflow-scroll: touch; /* for smooth scrolling on mobile */
}
/*
    All anchors inside the menu should be styled like this.
    */
#menu li a {
    color: #fff;
    border: none;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
}
.pure-menu-heading,
.pure-menu-heading a {
    padding: 0px !important;
    height: 138px;
}
.trip-title {
    background: #333333;
    border-top: 1px solid #656565;
    color: #fff;
    padding: 22px;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    line-height: 1em;
}
span.trip-dates { font-size: 14px !important }
.umapped-info {
    border-top: 1px solid #656565;
    color: #fff;
    padding: 10px 22px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    line-height: 1.2em;
}
.umapped-info a {
    color: #fff;
    text-decoration: underline;
    text-align: left;
    padding: 0 !important;
    line-height: 1.2em;
    transition: all 0.3s ease-in-out 0s;
}
.umapped-info a:hover { color: #00B4FF }
a.icon_facebook {
    width: 23px;
    height: 22px;
    display: inline-block;
    margin-top: 10px;
    margin-right: 4px;
    background-image: url(https://s3.amazonaws.com/static-umapped-com/public/img/itinerary/icon_facebook.png);
    background-repeat: no-repeat;
    transition: all 0.3s ease-in-out 0s;
}
a.icon_facebook:hover { background-image: url(https://s3.amazonaws.com/static-umapped-com/public/img/itinerary/icon_facebook_hover.png) }
a.icon_twitter {
    width: 23px;
    height: 22px;
    display: inline-block;
    margin-top: 10px;
    background-image: url(https://s3.amazonaws.com/static-umapped-com/public/img/itinerary/icon_twitter.png);
    background-repeat: no-repeat;
    transition: all 0.3s ease-in-out 0s;
}
a.icon_twitter:hover { background-image: url(https://s3.amazonaws.com/static-umapped-com/public/img/itinerary/icon_twitter_hover.png) }
.download-pdf {
    padding: 22px;
    border-top: 1px solid #666666;
}
a.pdf_btn {
    background-color: #333333;
    background-image: url(https://s3.amazonaws.com/static-umapped-com/public/img/itinerary/download_arrow.png);
    background-repeat: no-repeat;
    background-position: 164px 21px;
    color: #fff;
    width: 176px;
    height: 38px;
    padding: 15px 0 0 25px  !important;
    border: 1px solid #666666;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
}
a.pdf_btn:hover {
    color: #00B4FF !important;
    background-image: url(https://s3.amazonaws.com/static-umapped-com/public/img/itinerary/download_arrow_hover.png);
}
/*
    Remove all background/borders, since we are applying them to #menu.
    */
#menu .pure-menu,
#menu .pure-menu ul {
    border: none;
    background: transparent;
}
.pure-menu li a { padding:5px 22px !important }
li.btn_calendar a {
    background: url(https://s3.amazonaws.com/static-umapped-com/public/img/itinerary/icon_calendar.png) no-repeat 204px 50%;
    transition: all 0.3s ease-in-out 0s;
}
li.btn_calendar a:hover { background: url(https://s3.amazonaws.com/static-umapped-com/public/img/itinerary/icon_calendar_hover.png) no-repeat 204px 50% #fff !important }
li.btn_bookings a {
    background: url(https://s3.amazonaws.com/static-umapped-com/public/img/itinerary/icon_bookings.png) no-repeat 204px 50%;
    transition: all 0.3s ease-in-out 0s;
}
li.btn_bookings a:hover { background: url(https://s3.amazonaws.com/static-umapped-com/public/img/itinerary/icon_bookings_hover.png) no-repeat 204px 50% #fff!important }
li.btn_documents a {
    background: url(https://s3.amazonaws.com/static-umapped-com/public/img/itinerary/icon_documents.png) no-repeat 204px 50%;
    transition: all 0.3s ease-in-out 0s;
}
li.btn_documents a:hover { background: url(https://s3.amazonaws.com/static-umapped-com/public/img/itinerary/icon_documents_hover.png) no-repeat 204px 50% #fff!important }
li.btn_mobile a {
    background: url(https://s3.amazonaws.com/static-umapped-com/public/img/itinerary/icon_mobile.png) no-repeat 207px 50%;
    transition: all 0.3s ease-in-out 0s;
}
li.btn_mobile a:hover { background: url(https://s3.amazonaws.com/static-umapped-com/public/img/itinerary/icon_mobile_hover.png) no-repeat 207px 50% #fff!important }
li.btn_downloadpdf a {
    background: url(https://s3.amazonaws.com/static-umapped-com/public/img/itinerary/icon_download.png) no-repeat 204px 50%;
    transition: all 0.3s ease-in-out 0s;
}
li.btn_downloadpdf a:hover { background: url(https://s3.amazonaws.com/static-umapped-com/public/img/itinerary/icon_download_hover.png) no-repeat 204px 50% #fff!important }
/*
    Add that light border to separate items into groups.
    */
#menu .pure-menu .menu-item-divided { border-top: 1px solid #333333 }
.last { border-bottom: 1px solid #666666  !important }
#menu .pure-menu .menu-item-divided:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    border-top: 1px solid #666666;
}
.last:before {
    content: " ";
    position: absolute;
    z-index: -1;
    bottom: 1px;
    top: 1PX;
    border-bottom: 1px solid #333333;
}
/*
        Change color of the anchor links on hover/focus.
        */
#menu .pure-menu li a:hover,
#menu .pure-menu li a:focus {
    background: #fff;
    color: #00b4ff !important;
    border-top: 1px solid #333333;
}
/*
    This styles the selected menu item `
`.
    */
#menu .pure-menu-selected,
#menu .pure-menu-heading {
    background: #fff;
    color: #00b4ff !important;
}
/*
        This styles a link within a selected menu item `
`.
        */
#menu .pure-menu-selected a { color: #00b4ff !important }
.pure-menu-selected.btn_mobile a { background: url(https://s3.amazonaws.com/static-umapped-com/public/img/itinerary/icon_mobile_hover.png) no-repeat 207px 50% #fff !important }
.pure-menu-selected.btn_calendar a { background: url(https://s3.amazonaws.com/static-umapped-com/public/img/itinerary/icon_calendar_hover.png) no-repeat 204px 50% #fff !important }
.pure-menu-selected.btn_bookings a { background: url(https://s3.amazonaws.com/static-umapped-com/public/img/itinerary/icon_bookings_hover.png) no-repeat 204px 50% #fff!important }
.pure-menu-selected.btn_documents a { background: url(https://s3.amazonaws.com/static-umapped-com/public/img/itinerary/icon_documents_hover.png) no-repeat 204px 50% !important }
/*
    This styles the menu heading.
    */
#menu .pure-menu-heading {
    font-size: 110%;
    color: #fff;
    margin: 0;
}
/*
    This styles the menu footer.
    */
.menu-footer {
	font-family: 'Open Sans', sans-serif;
    padding: 22px;
    color: #cccccc;
	position:relative;
}

.powered {
	font-size:12px;
	font-weight:700;
	margin-bottom:15px;
}

a.footerlogo {
    position: absolute;
  	right: 54px;
    top: 15px;
}

.copyright {
	clear:both;
	font-size:11px;
	font-weight:600;
	color:#cccccc;
}
/* -- Dynamic Button For Responsive Menu -------------------------------------*/
/*
The button to open/close the Menu is custom-made and not part of Pure. Here's
how it works:
*/
/*
`.menu-link` represents the responsive menu toggle that shows/hides on
small screens.
*/
.menu-link {
    display: none; /* show this only on small screens */
    top: 0;
    left: 245px; /* `#menu`'s width */
    background: #000;
    font-size: 10px; /* change this value to increase/decrease button size */
    z-index: 10;
    width: 2em;
    height: auto;
    padding: 2.2em 1.6em;
}
.menu-link:hover,
.menu-link:focus { background: #000 }
.menu-link span {
    position: relative;
    display: block;
}
.menu-link span,
.menu-link span:before,
.menu-link span:after {
    background-color: #fff;
    width: 100%;
    height: 0.2em;
}
.menu-link span:before,
.menu-link span:after {
    position: absolute;
    margin-top: -0.6em;
    content: " ";
}
.menu-link span:after { margin-top: 0.6em }
.file_left { margin-right: 11px }
.file_right { margin-left: 11px }
.file_left,
.file_right {
    clear: both;
    min-height: 85px;
    position: relative;
}
.btn_download {
    background: url(https://s3.amazonaws.com/static-umapped-com/public/img/itinerary/icon_download.jpg) no-repeat 0 0 #000;
    width: 26px;
    height: 33px;
    display: block;
    position: absolute;
    top: 23px;
    right: 23px;
}
a.file_btn {
    border: 1px solid #666666;
    background: #fff;
    width: 100%;
    min-height: 85px;
    display: block;
    margin-bottom: 22px;
    margin-right: 22px;
    text-decoration: none;
    color: #333333;
    transition: all 0.3s ease-in-out 0s;
}

a.word {
    background: url(https://s3.amazonaws.com/static-umapped-com/public/img/itinerary/icon_file_word.jpg) repeat-y 0 50%, url(https://s3.amazonaws.com/static-umapped-com/public/img/itinerary/icon_download.jpg) no-repeat 100% 50%;
}

a.pdf {
    background: url(https://s3.amazonaws.com/static-umapped-com/public/img/itinerary/icon_file_pdf.jpg) repeat-y 0 50%, url(https://s3.amazonaws.com/static-umapped-com/public/img/itinerary/icon_download.jpg) no-repeat 100% 50%;
}

a.file_btn:hover {
    border: 1px solid #00b4ff;
    color: #00b4ff;
}

a.word:hover {
	    background: url(https://s3.amazonaws.com/static-umapped-com/public/img/itinerary/icon_file_word_hover.jpg) no-repeat 0 50%, url(https://s3.amazonaws.com/static-umapped-com/public/img/itinerary/icon_download_hover.jpg) no-repeat 100% 50%;
}

a.pdf:hover {
	    background: url(https://s3.amazonaws.com/static-umapped-com/public/img/itinerary/icon_file_pdf_hover.jpg) no-repeat 0 50%, url(https://s3.amazonaws.com/static-umapped-com/public/img/itinerary/icon_download_hover.jpg) no-repeat 100% 50%;
}
.file_meta {
    padding-right: 70px;
    word-wrap: break-word;
    margin-left: 95px;
    padding-top: 10px;
	font-family: Open Sans;
	font-weight:700;
	font-size:12px;
}
.file_meta p {
    font-size: 14px !important;
    font-weight: 600 !important;
    margin-top: 0;
    text-transform: uppercase;
}
span.timestamp {
    font-size: 12px;
    font-weight: bold;
}
.city-guides { width: 100% }
.fifty {
    width: 50%;
    background: blue;
    display: inline-block;
    min-height: 200px;
    padding: 0px !important;
    margin: 0px !important;
}
.guide_box_right,
.guide_box_left {
    border: 1px solid #666666;
    height: 215px;
    position: relative;
    margin-bottom: 22px;
}
.guide_box_left { margin-right: 11px }
.guide_box_right { margin-left: 11px }

.guide_box_infos {
	min-height:114px;
}

.guide_box_image { float: left }
.guide_box_image img { width: 215px; height: 215px; }

.guide_box_content {
    display: block;
    width: 100%;
    height: 215px;
    background: red;
}

.guide_box_title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    width: auto;
    background-color: #999999;
    vertical-align: top;
    color: #fff;
    padding:5px 0 5px 230px;
    display: block;
}

.guide_box_desc {
    width: auto;
    vertical-align: top;
    padding-left: 230px;
    padding-top: 10px;
}
.guide_box_view {
	font-family: Open Sans;
    font-size: 12px;
    font-weight: 600;
    height: 38px;
    width: auto;
    border-bottom: 1px solid #666666;
    vertical-align: top;
    padding-left: 278px;
    padding-top: 13px;
	
}
a.btn_view {
    display: block;
    background-image: url(https://s3.amazonaws.com/static-umapped-com/public/img/itinerary/icon_view.png);
    background-repeat: no-repeat;
    background-position: 230px 50%;
    text-decoration: none;
    color: #666666;
	transition: all 0.3s ease-in-out 0s;
}
a.btn_view:hover {
    background-color: #00b4ff;
    background-image: url(https://s3.amazonaws.com/static-umapped-com/public/img/itinerary/icon_view_hover.png);
    color: #fff;
}
.guide_box_download {
	font-family: Open Sans;
    font-size: 12px;
    font-weight: 600;
    height: 36px;
    width: auto;
    vertical-align: top;
    padding-left: 278px;
    padding-top: 13px;
}
a.btn_downloadpdf {
    display: block;
    background-image: url(https://s3.amazonaws.com/static-umapped-com/public/img/itinerary/icon_downloadpdf.png);
    background-repeat: no-repeat;
    background-position: 233px 50%;
    text-decoration: none;
    color: #666666;
	transition: all 0.3s ease-in-out 0s;
}
a.btn_downloadpdf:hover {
    background-color: #00b4ff;
    background-image: url(https://s3.amazonaws.com/static-umapped-com/public/img/itinerary/icon_downloadpdf_hover.png);
    color: #fff;
}

/* -- Mobile Page ------------------------------------- */

.step_box {
    border: 1px solid #666666;
    color: #333333;
    display: block;
	vertical-align: middle;
    margin-bottom: 22px;
    margin-right: 22px;
    min-height: 85px;
    width: 100%;
	font-size:21px;
	
}

.step_one {
background: url("https://s3.amazonaws.com/static-umapped-com/public/img/itinerary/step1_box.jpg") repeat-y scroll 0 0;
margin-bottom:0px !important;
}

.step_one p {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:18px;
	padding-left:105px;
	color:#999999;
	margin-top:5px;
}

.step_two {
background: url("https://s3.amazonaws.com/static-umapped-com/public/img/itinerary/step2_box.jpg") repeat-y scroll 0 50%;

}

.step_two img {
    display: inline-block;
    margin-left: 14px;
    vertical-align: middle;
}

.step_three {
background: url("https://s3.amazonaws.com/static-umapped-com/public/img/itinerary/step3_box.jpg") repeat-y scroll 0 0;
}
.step_box a {
	text-decoration: none;
	color: #333333;

	}
.step_title {
	font-family: 'Open Sans Condensed',sans-serif;
    font-size: 21px;
    line-height: 0.7em;
    padding-left: 105px;
    
	color:#333333;
	font-weight:700;
}

.step_one .step_title {
    padding-top: 20px ;
	line-height: 1.2em;
}

.step_two .step_title {
    padding-top: 20px ;
	line-height: 1.2em;
}

.step_three .step_title {
    line-height: 1.2em;
    padding-top: 17px ;
}

.step_email {
	border-right: 1px solid #666666;
	border-bottom: 1px solid #666666;
	border-left: 1px solid #666666;
	width:100%;
	display:block;
	margin-bottom:22px;
	padding-top:30px;
	padding-bottom:30px;
	
}

.step_email p  {
	padding-left:105px;
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
	color: #333333;
	max-width:355px;
	font-size:14px;
	line-height:1.2em;
}

.step_email label  {
	padding-left:105px;
	font-size:24px;
	font-family: 'Open Sans Condensed',sans-serif;
	color:#333;
	margin-right:13px;
}

.emailform {
    height: 35px;
    margin-bottom: 10px !important;
    margin-right: 0;
    vertical-align: top;
    width: 400px;
}


.emailregister {
	font-family: 'Open Sans Condensed',sans-serif;
	font-size:18px;
	background-color: #00b4ff;
	padding:9px 27px 9px 27px;
	border:0px;
	color:#fff;
	text-transform: uppercase;
}

input {
	padding-left:10px;
	font-family: 'Open Sans Condensed',sans-serif;
}

a.add_email {
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
	color: #999999;
	margin-left:612px;
	font-size:14px;
}

.registered-email {
	border: 1px solid #666666;
	font-family: 'Open Sans Condensed',sans-serif;
	font-size:18px;
	color: #333333;
	padding:5px;
	margin-bottom:10px;
	position:relative;
}

a.close_btn {
	display:block;
	width:35px;
	height:35px;
	background-image: url(https://s3.amazonaws.com/static-umapped-com/public/img/itinerary/close.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	position: absolute;
	right:0;
	top:0;
	border-left: 1px solid #666666;
}
 .umapped-ad-mockups {
	width:293px;
	height:360px;
	display:inline-block;
	margin-top:93px;
	margin-left:28px;
	margin-right: 5%;
 }
 
  .umapped-ad-text {
	max-width:400px;
	height:183px;
	display:inline-block;
	vertical-align:top;
	margin-top:93px;
 }
 
 .umapped-ad-text h3 {
	 color: #00b4ff;
	 text-transform:uppercase;
	 font-family: 'Open Sans Condensed',sans-serif;
	 font-size: 24px;
 }
 
  .umapped-ad-text p {
	 color: #666;
	 font-family: 'Open Sans',sans-serif;
	 font-weight:600;
	 font-size: 18px;
 }
 
 .umapped-ad-text a {
	 color: #00b4ff;
	 text-decoration: none;
 }
 
 /* BOOKINGS PAGE */

.bookings-box-left {
    margin-right: 11px;
	border:1px solid #999999;
	margin-bottom:33px;
}

.bookings-box-right {
	margin-left:11px;
	border:1px solid #999999;
	margin-bottom:33px;
}



.bookings-box-left p, .bookings-box-right p {
	margin: 12px;
	padding-top:15px;
	border-top:1px solid #999999;
	font-family: 'Open Sans',sans-serif;
	 font-weight:600;
	 font-size: 14px;
	 line-height:1.2em;
	 color: #333333;
}

.event-title {
	margin:0;
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
	background: #999999;
	color: #fff;
	font-size:14px;
	padding: 5px 5px 5px 50px;
	background-repeat:no-repeat;
	background-position:12px 50%;
	text-transform:uppercase;
}

.flights {
	background-image: url(https://s3.amazonaws.com/static-umapped-com/public/img/itinerary/booking_flights.png);
}

.hotels {
	background-image: url(https://s3.amazonaws.com/static-umapped-com/public/img/itinerary/booking_hotels.png);
}

.transportation {
	background-image: url(https://s3.amazonaws.com/static-umapped-com/public/img/itinerary/booking_transportation.png);
}

.activities {
	background-image: url(https://s3.amazonaws.com/static-umapped-com/public/img/itinerary/booking_activities.png);
}

a.btn_viewphotos {
	clear:both;
	background-color: #00b4ff;
	margin-top:19px;
	color: #fff;
	display:block;
	width:112px;
	height:24px;
	text-transform:uppercase;
	text-decoration: none;
	background-image: url(https://s3.amazonaws.com/static-umapped-com/public/img/itinerary/icon_camera.png);
	background-repeat: no-repeat;
	background-position: 14px 50%;
	padding-left:41px;
	padding-top:6px;
	font-family: 'Open Sans Condensed',sans-serif;
	font-size:18px;
	font-weight:700;
}

/* CALENDAR */

.month-select {
	display:block;
	width:75px;
	height:25px;
	float:left;
}

a.month-left {
	background-image: url(https://s3.amazonaws.com/static-umapped-com/public/img/itinerary/left.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color: #999999;
	width:35px;
	height:25px;
	display:inline-block;
}
a.month-left:hover {
	background-color: #00b4ff;
}
a.month-right {
	background-image: url(https://s3.amazonaws.com/static-umapped-com/public/img/itinerary/right.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color: #999999;
	width:35px;
	height:25px;
	display:inline-block;
}
a.month-right:hover {
	background-color: #00b4ff;
}

h2.month {
	font-size:21px;	
	text-align:center;
	text-transform:uppercase;
	font-family: 'Open Sans Condensed';
	font-weight:600;
}
.calendar { width: 100%; font-size: 0.75em;/*12*/ line-height: 1.25em;/*15*/ border-collapse: collapse; border-spacing: 0; }

	.calendar th { text-align: center; font-family: 'Open Sans Condensed',sans-serif; }
	.calendar th span { display: none; }

	.calendar tr { display: block; }
	.calendar td,
	.calendar th { display: none; }

	.calendar .day { margin: 1em 0 .5em 0; font-weight: bold; }

	.calendar .events { display: block;font-family: 'Open Sans',sans-serif; }

	.calendar ul { display: block; list-style: none; margin: 0 1.25em 0 0;/*15*/ padding: 0; }
	.calendar li { display: block; position: relative; margin: 0; padding: 0; height: 1.25em;/*15*/ }
	.calendar li a { display: block; position: absolute; left: 0; right: 0; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;  }

	.calendar tr td:nth-of-type(1n) .day:before { content: 'Mon '; }
	.calendar tr td:nth-of-type(2n) .day:before { content: 'Tue '; }
	.calendar tr td:nth-of-type(3n) .day:before { content: 'Wed '; }
	.calendar tr td:nth-of-type(4n) .day:before { content: 'Thu '; }
	.calendar tr td:nth-of-type(5n) .day:before { content: 'Fri '; }
	.calendar tr td:nth-of-type(6n) .day:before { content: 'Sat '; }
	.calendar tr td:nth-of-type(7n) .day:before { content: 'Sun '; }

	.calendar .prev-month,
	.calendar .next-month { display: none; }

/*-- map -- */
.map_div {
        height: 350px;
        width: 100%;
        margin:0 auto;
}
.map_div img {
        max-width: none;
}

/*--- Login --*/
.login_logo {
    font-family: 'Open Sans Condensed', sans-serif;
	padding-top:30px;
    text-transform: uppercase;
    font-size: 21px;
    padding-left: 32px;
    width:200px;
    display:none;
}
.login_logo img {
	display:none;
	width:90%;margin-left:auto;margin-right:auto;margin-top:20px
	height:0px;
}

 
	
/* -- Responsive Styles (Media Queries) ------------------------------------- */
/*
Hides the menu at `767px`, but modify this based on your app's needs.
*/
@media (max-width: 1030px) {


    .header { text-align: left }
    /*
        Navigation Push styles.
        */
    #layout {
        position: relative;
        padding-left: 0;
    }
    #layout.active {
        position: relative;
        left: 245px;
    }
    #layout.active #menu {
        left: 245px;
        width: 245px;
    }
    #menu { left: 0 }
    .menu-link {
        position: fixed;
        left: 0;
        display: block;
        /* show the button on small screens */
    }
    #layout.active .menu-link { left: 245px }
    .pure-u-1-2 {
        clear: both;
        width: 100%;
    }
    .file_left,
    .file_right {
        margin-right: 0px;
        margin-left: 0px;
    }
    .guide_box_left { margin-right: 0 }
    .guide_box_right { margin-left: 0 }
	.bookings-box-left { margin-right: 0px  }
	.bookings-box-right { margin-left: 0px }
	.note {
		position:relative;
		margin-left:22px;
		margin-bottom:5px;
	}
	
	.emailform {
    height: 35px;
   margin-right:0;
    vertical-align: top;
    width: auto;
}

a.add_email {
	margin-left: 105px;
}

.emailregister {
    padding:9px;
	 margin-left: 13px;
}

.step_three .step_title {
    padding-top: 0;
}





.step_one .step_title {
    padding-top: 10px;;
}
.login_logo {display:block;height:100%;margin-top:20px;}	

.login_logo img {display:block;}



		
}
@media (max-width: 1280px) {
    .pure-u-1-2 {
        clear: both;
        width: 100%;
    }
    .file_left,
    .file_right {
        margin-right: 0px;
        margin-left: 0px;
    }
    .guide_box_left { margin-right: 0 }
    .guide_box_right { margin-left: 0 }
	.bookings-box-left { margin-right: 0px  }
	.bookings-box-right { margin-left: 0px }
	

	
}
@media (max-width: 480px) {
    .guide_box_left { height: auto }
    .guide_box_right { height: auto }
	.bookings-box-left { margin-right: 0px  }
	.bookings-box-right { margin-left: 0px }
    .guide_box_image img { width: 100%; height: auto; }
    .guide_box_image {
        width: 100%;
        float: none;
    }
    
    .guide_box_title {
        padding-left: 15px;
        margin-top: 0px;
    }
    .guide_box_desc {
        padding-left: 15px;
        min-height: 36px;
        height: auto;
    }
    .guide_box_view { padding-left: 63px }
    a.btn_view { background-position: 15px 50% }
    .guide_box_download { padding-left: 63px }
    a.btn_downloadpdf { background-position: 18px 50% }
	
	.step_email p {
    max-width: auto;
    padding-left: 10px;
    
    
}

.step_email label {
    padding-left: 10px;
}
	
	 .umapped-ad-text {
	margin-top:0px;
 }
 
 .umapped-ad-mockups {

	 margin-right:0;
	 margin-left:0;
 }
 
 .umapped-ad-mockups img {
	 width:100%;
 }
 
 .step_two .step_title {
    padding-top: 0;
}

.step_two img {
   margin-left:0;
}

.step_title {
	font-size: 16px;
}
.emailform {
	margin-left:13px !important;
}

.login_logo {display:block;height:100%;margin-top:20px;position:relative;}	
.login_logo img {display:block;}		
	
}

.documentModal {
}

.documentModal ul {
    list-style: disc;
}

.documentModal ol {
    list-style: decimal;
}
.documentFont strong {
    font-weight: bold;
    color: #333333;
}

.documentFont {
    font-weight: 400;
    font-family: "Open Sans" sans-serif;
    color: #666666;
}



	@media only screen and (min-width: 30em) { /*480*/

		.calendar tr { display: table-row; }
		.calendar th, .calendar td { display: table-cell !important; margin: 0; width: 14.2857%; padding: 0.4166em;/*10*/ border: 1px solid #babcbf; vertical-align: top; }

		.calendar .prev-month .day,
		.calendar .next-month .day { color: #bbb; }

		.calendar td .day { display: block; float: right; margin: 0; font-weight: normal; }
		.calendar td .day:before { display: none; }
		.calendar td .suffix { display: none; }
		
	}

	


	

		.calendar td { height: 6.25em;/*75*/ }

