@(m:  com.mapped.publisher.view.BookingReservationView)
@import com.umapped.persistence.enums.ReservationType
@import com.mapped.publisher.view.ViewUtils

<tr>
  <td style="text-align: center">
    <input type="checkbox" name="checkBoxAll@m.pk" id="checkBoxAll@m.pk" value="true2" >
    <input class="checkBoxAll@m.pk" type="checkbox" style="visibility: hidden" name="inSelectedBookings" id="inSelectedBookings" value="@m.reservationPackagePK" >

  </td>
  <td data-toggle="collapse" data-target="#accordion@m.pk" class="clickable"> @m.recLocator </td>
  <td data-toggle="collapse" data-target="#accordion@m.pk" class="clickable"> @m.travelDate </td>
  <td data-toggle="collapse" data-target="#accordion@m.pk" class="clickable">
  @if(m.travelerName != null) {
    @m.travelerName
  }
  </td>
  <td data-toggle="collapse" data-target="#accordion@m.pk" class="clickable">
    <div>
      @m.details
    </div>
  </td>
  <td data-toggle="collapse" data-target="#accordion@m.pk" class="clickable"> Received from @m.src <br>on @m.receivedTS </td>
  <td data-toggle="collapse" data-target="#accordion@m.pk" class="clickable">
    <button class="btn btn-info" style="width: 60px" id="detailsBtn@m.pk">More</button>
  </td>
</tr>
<tr>

  <td colspan="6" >
    <div id="accordion@m.pk" class="collapse">
      <div style="border: 1px solid #f1f1f1;padding-top: 10px;padding-bottom: 10px">

      @for(p <- m.bookings) {
      <div class="row-fluid" style="width: 80%; margin-left:55px;padding-top: 10px">

        <div class="span12">
          <input class="checkBoxAll@m.pk" type="checkbox" style="visibility: hidden" name="inSelectedBookings" id="inSelectedBookings" value="@p.pk" >
          &nbsp;&nbsp;&nbsp;
          @if(p.bookingType == ReservationType.FLIGHT) {
            <img src="https://s3.amazonaws.com/static-umapped-com/public/img/38-airplane.png" style="width: 20px">&nbsp;
          } else {
            @if(p.bookingType == ReservationType.HOTEL) {
               &nbsp;<img src="https://s3.amazonaws.com/static-umapped-com/public/img/hotel-gray.png"  style="width: 10px" >&nbsp;&nbsp;&nbsp;
            } else {
              @if(p.bookingType == ReservationType.CRUISE) {
                <img src="https://s3.amazonaws.com/static-umapped-com/public/img/666-cruise.png"  style="width: 20px">&nbsp;
              } else {
                <img src="https://s3.amazonaws.com/static-umapped-com/public/img/icons/@ViewUtils.getimgNameForBookingType(p.bookingType)"   style="width: 20px">&nbsp;
                }
            }
          }
          &nbsp;@Html(p.details.replaceAll("\n","<br/>"))
        </div>
      </div>
      }
      </div>

    </div>
  </td>
</tr>
