@(m:  com.mapped.publisher.view.ImageResultsView)
@import com.mapped.publisher.common.APPConstants
@import models.publisher.ImageLibrary.ImgSrc

<div id=@if(m.searchType == ImgSrc.WEB){"imgWebSearchResultsTable"} else {"imgSearchResultsTable"} style="padding-top:20px">
  <script>
    $(function(){
      javascript:$('#imgSearchSpinner').hide();
      $('#imgAlertBox').hide();
      multipleFilesMode = @m.multipleFiles;

      //hide the phot caption box if we are in single photo mode
      @if(m.multipleFiles > 0) {
          $("#inImgPhotoCaptionDiv").show();
      } else {
          $("#inImgPhotoCaptionDiv").hide();
      }
    });
  </script>

  @if(m.message!=null && m.message.length > 0) {
    <h4> @m.message</h4>
  }

  @if(m != null && m.umappedResults != null && m.umappedResults.size > 0) {
    <div class="subTitleModal">Your Umapped Library (@m.umappedResults.size photos)</div>
    <p> Click on a thumbnail to select the photo.</p>
    <div style="margin:auto;overflow:auto;">
      <ul style="white-space:nowrap;">
      @for(p <- m.umappedResults){
        <li style="list-style-type: none;display: inline;">
          <img src="@p.thumbUrl" style="width:100px" alt="@p.title" title="@p.title @p.height x @p.width"
          onclick="onImageClick('@p.url','@p.title','@p.licenceUrl', '@p.fileName', '@m.cmpyId',
                   '@m.tripId', '@m.docId', '@m.pageId', '@m.vendorId','@m.templateId' , '@m.tripNoteId', '@m.multipleFiles')">
        </li>
      }
      </ul>
    </div>
  }


  @if(m != null && m.searchResults != null && m.searchResults.size > 0) {
    @for((src,imgViews) <- m.searchResults){
      <div class="subTitleModal">@src (@imgViews.size photos)</div>
        <p> Click on a thumbnail to select the photo.</p>
        <div style="margin:auto;overflow:auto;">
          <ul style="white-space:nowrap;">
           @for(p <- imgViews){
              <li style="list-style-type: none;display: inline;">
                <img src="@p.thumbUrl" style="width:100px" alt="@p.title" title="@p.title @p.height x @p.width"
                onclick="onImageClick('@p.url','@p.title','@p.licenceUrl', '@p.fileName', '@m.cmpyId',
                                      '@m.tripId', '@m.docId', '@m.pageId', '@m.vendorId','@m.templateId','@m.tripNoteId', '@m.multipleFiles')">
              </li>
           }
          </ul>
        </div>
    }
  } else {
    @if(m.message == null || m.message.length == 0) {
      <h3>No images found. Please try again.</h3>
    }
  }

</div>


