@(v: com.mapped.publisher.view.CollaboratorsView, pageUrl: String, originPage: String)
@import com.mapped.publisher.common.SecurityMgr.AccessLevel
@import models.publisher.UserInvite.InviteState;
@import models.publisher.TripInvite;
    <script>

        $(document).ready(function() {
	        $('.c-toggle1').change(function(){
		        $(this).parents().next('.hide').toggle();
	        });
        });

        $(document).ready(function() {
	        $('.c-toggle2').change(function(){
		        $(this).parents().next('.hide').toggle();
	        });
        });


        function resendInvite(inviteId, note, email) {
            $('#inInviteId' ).val(inviteId);
            $('#inInviteNote' ).val(note);
        $('#inviteEmail' ).text(email);

        $('#resendInviteModal' ).modal('show');
        }

        function resendShare(shareUserId, note, email) {
        $('#inShareUserId' ).val(shareUserId);
        $('#inShareNote' ).val(note);
        $('#shareEmail' ).text(email);

        $('#resendShareModal' ).modal('show');
        }
    </script>


<div id="collaboratorsPit" class="">
  @if(originPage != "review") {
    <div class="subTitle">COLLABORATE WITH TRAVEL PROFESSIONALS
    </div>
  }
  @if(v!= null ) {
      @if(v.canInvite) {
          <div class="row-fluid">
            <div class="span12" style="text-align: left; padding-bottom: 10px">
              <button style="" data-controls-modal="inviteAgentModal" data-backdrop="static" data-keyboard="false" type="button" href="#inviteAgentModal" id="inviteButton" class="btn btn-large btn-primary" data-toggle="modal">
                  <i class="fa fa-plus"></i> Add Collaborator
              </button>
            </div>
          </div>
      }

    @if((v.collaborators!=null && v.collaborators.size() > 0) ||
        (v.invites != null && v.invites.size() > 0)) {
      <table class="table table-striped">
        <thead>
          <tr>
            <th style="width:5%"></th>
            <th style="width:30%">Name</th>
            <th style="width:30%">User Name</th>
            <th style="width:15%">Access Level</th>
            <th style="width:15%">Status</th>
            <th style="width:10%"></th> <!-- Revoke/Resend Buttons -->
          </tr>
        </thead>
        <tbody>
          @if(v.collaborators != null) {
            @for(c <- v.collaborators) {
                <tbody>
                    <tr>
                        <td style="width:5%">
                            @if(v.collabEmailLogs != null && v.collabEmailLogs.get(c.user.getEmail()) != null && v.collabEmailLogs.get(c.user.getEmail()).size() > 0) {
                                <label for="@c.user" style="cursor: pointer"><i class="fa fa-envelope" style="color: #00b4ff;"></i>
                                <input class="c-toggle1" type="checkbox" name="@c.user" id="@c.user" data-toggle="toggle" style="display:none;"></label>
                            }
                        </td>
                      <td>@c.user.getFirstname() @c.user.getLastname()</td>
                      <td>@c.user.getUserid()</td>
                      <td>@v.getHumanAccessName(c.accesslevel)</td>
                      <td>Active</td>
                      <td>
                        @if(v.canInvite &&
                            (v.accessLevel.ge(AccessLevel.OWNER) ||
                             (v.accessLevel.ge(AccessLevel.APPEND_N_PUBLISH) &&
                              c.createdby.equals(v.currUserId) &&
                              !v.currUserId.equals(c.user.userid)))) {
                        <div class="btn-group">
                          <button class="btn btn-info" data-toggle="dropdown">Manage</button>
                          <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu">
                            <li>
                              <a onclick="javascript:doPost('@{controllers.routes.SharedTripsController.revokeTripShareFromUser}?inShareUserId=@c.getUser.getUserid()&inOriginPage=@originPage');return false;">
                                Revoke
                              </a>
                            </li>
                            <li @if(c.getSenttimestamp > (System.currentTimeMillis() - TripInvite.RESEND_TIME)) { class="disabled" }>
                              <a onclick="javascript:resendShare('@c.getUser.getUserid()','@c.getNote','@c.getUser.getEmail');return false;">
                              Resend Invite
                            </a>
                            </li>
                            <li class="dropdown-submenu pull-left">
                              <a tabindex="-1" href="#">Change Permissions</a>
                              <ul class="dropdown-menu">
                                <li>
                                  <a onclick="javascript:doPost('@{controllers.routes.SharedTripsController.changeSharedTripAccessLevel()}?inShareUserId=@{c.getUser.getUserid()}&inAccessLevel=READ&inOriginPage=@originPage');return false;">
                                  Review only</a></li>
                                <li>
                                  <a onclick="javascript:doPost('@{controllers.routes.SharedTripsController.changeSharedTripAccessLevel()}?inShareUserId=@{c.getUser.getUserid()}&inAccessLevel=APPEND&inOriginPage=@originPage');return false;">
                                  Contribute</a></li>
                                <li>
                                  <a onclick="javascript:doPost('@{controllers.routes.SharedTripsController.changeSharedTripAccessLevel()}?inShareUserId=@{c.getUser.getUserid()}&inAccessLevel=APPEND_N_PUBLISH&inOriginPage=@originPage');return false;">
                                  Contribute, Publish & Invite</a></li>
                                @if(v.accessLevel.ge(AccessLevel.OWNER)) {
                                  <li>
                                  <a onclick="javascript:doPost('@{controllers.routes.SharedTripsController.changeSharedTripAccessLevel()}?inShareUserId=@{c.getUser.getUserid()}&inAccessLevel=OWNER&inOriginPage=@originPage');return false;">
                                  Full Access</a></li>
                                }
                              </ul>
                            </li>
                          </ul>
                        </div>
                        }
                      </td>
                    </tr>
                </tbody>
                @if(v.collabEmailLogs != null && v.collabEmailLogs.get(c.user.getEmail()) != null && v.collabEmailLogs.get(c.user.getEmail()).size() > 0) {
                  <tbody class="hide" style="background-color:#fff; margin-bottom: 20px;">
                  <tr>
                      <td style="background-color:#fff;"></td>
                      <td style="background-color:#fff;" colspan="5">
                          <table class="table" style="background-color:#fff;font-style:italic;font-size: 12px;">
                              <thead>
                              <tr style="background-color:#fff;">
                                  <th style="background-color:#fff;width:25%;font-size: 12px;">EMAIL SENT ON</th>
                                  <th style="background-color:#fff;width:15%;font-size: 12px;">STATUS</th>
                                  <th style="background-color:#fff;width:30%;font-size: 12px;">STATUS UPDATED AT</th>
                                  <th style="background-color:#fff;width:15%;font-size: 12px;">EMAIL OPEN COUNT</th>
                                  <th style="background-color:#fff;width:15%;font-size: 12px;">CLICK COUNT</th>
                              </tr>
                              </thead>
                              <tbody>
                              @for(e <- v.collabEmailLogs.get(c.user.getEmail())) {
                              <tr style="background-color:#fff;font-weight: 400;">
                                  <td style="background-color:#fff;width:25%">@e.sentTs</td>
                                  <td style="background-color:#fff;width:15%">@e.status</td>
                                  <td style="background-color:#fff;width:30%">@e.timestamp</td>
                                  <td style="background-color:#fff;width:15%">@e.openCounter</td>
                                  <td style="background-color:#fff;width:15%">@e.clickCounter</td>
                              </tr>
                              }
                              </tbody>
                          </table>
                      </td>
                  </tr>
                  </tbody>
                }
            }
          }

          @if(v.invites != null) {
            @for(i <- v.invites) {
                <tbody>
                  <tr>
                    <td style="width:5%">
                        @if(v.collabEmailLogs != null && v.collabEmailLogs.get(i.userInvite.getEmail()) != null && v.collabEmailLogs.get(i.userInvite.getEmail()).size() > 0) {
                          <label for="@i.userInvite"  style="cursor: pointer"><i class="fa fa-envelope" style="color: #00b4ff;"></i>
                          <input class="c-toggle2" type="checkbox" name="@i.userInvite" id="@i.userInvite" data-toggle="toggle" style="display:none;"></label>
                        }
                    </td>
                    <td>@i.userInvite.getFirstname() @i.userInvite.getLastname()</td>
                    <td></td>
                    <td>@v.getHumanAccessName(i.accesslevel)</td>
                    <td>@v.getInviteState(i.userInvite.state)</td>
                    <td>
                    @if(v.canInvite && (v.accessLevel.ge(AccessLevel.OWNER) || (v.accessLevel.ge(AccessLevel.APPEND_N_PUBLISH) && i.createdby.equals(v.currUserId)))) {
                      <div class="btn-group">
                        <button class="btn btn-info" data-toggle="dropdown">Manage</button>
                        <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                          <li>
                          <a onclick="javascript:doPost('@{controllers.routes.UserController.revokeTripInviteFromNewUser()}?inInviteId=@i.getPk');return false;">
                          Revoke
                          </a>
                          </li>
                          <li @if(i.userInvite.getState == InviteState.INVITE_FRESH) { class="disabled" }>
                            <a onclick="javascript:resendInvite('@i.getPk','@i.getNote','@i.getUserInvite().getEmail()');return false;">
                            Resend Invite
                            </a>
                          </li>
                          <li class="dropdown-submenu pull-left">
                            <a tabindex="-1" href="#">Change Permissions</a>
                            <ul class="dropdown-menu">
                              <li>
                              <a onclick="javascript:doPost('@{controllers.routes.UserController.changeTripInviteAccessLevel()}?inInviteId=@{i.getPk}&inAccessLevel=READ');return false;">
                              Review only</a></li>
                              <li>
                              <a onclick="javascript:doPost('@{controllers.routes.UserController.changeTripInviteAccessLevel()}?inInviteId=@{i.getPk}&inAccessLevel=APPEND');return false;">
                              Contribute</a></li>
                              <li>
                              <a onclick="javascript:doPost('@{controllers.routes.UserController.changeTripInviteAccessLevel()}?inInviteId=@{i.getPk}&inAccessLevel=APPEND_N_PUBLISH');return false;">
                              Contribute, Publish & Invite</a></li>
                              @if(v.accessLevel.ge(AccessLevel.OWNER)) {
                              <li>
                              <a onclick="javascript:doPost('@{controllers.routes.UserController.changeTripInviteAccessLevel()}?inInviteId=@{i.getPk}&inAccessLevel=OWNER');return false;">
                              Full Access</a></li>
                              }
                            </ul>
                           </li>
                        </ul>
                      </div>
                      }
                    </td>
                  </tr>
                </tbody>
                @if(v.collabEmailLogs != null && v.collabEmailLogs.get(i.userInvite.getEmail()) != null && v.collabEmailLogs.get(i.userInvite.getEmail()).size() > 0) {
                  <tbody class="hide" style="background-color:#fff; margin-bottom: 20px;">
                  <tr>
                      <td style="background-color:#fff;"></td>
                      <td style="background-color:#fff;" colspan="5">
                          <table class="table" style="background-color:#fff;font-style:italic;font-size: 12px;">
                              <thead>
                              <tr style="background-color:#fff;">
                                  <th style="background-color:#fff;width:25%;font-size: 12px;">EMAIL SENT ON</th>
                                  <th style="background-color:#fff;width:15%;font-size: 12px;">STATUS</th>
                                  <th style="background-color:#fff;width:30%;font-size: 12px;">STATUS UPDATED AT</th>
                                  <th style="background-color:#fff;width:15%;font-size: 12px;">EMAIL OPEN COUNT</th>
                                  <th style="background-color:#fff;width:15%;font-size: 12px;">CLICK COUNT</th>
                              </tr>
                              </thead>
                              <tbody>
                              @for(e <- v.collabEmailLogs.get(i.userInvite.getEmail())) {
                              <tr style="background-color:#fff;font-weight: 400;">
                                  <td style="background-color:#fff;width:25%">@e.sentTs</td>
                                  <td style="background-color:#fff;width:15%">@e.status</td>
                                  <td style="background-color:#fff;width:30%">@e.timestamp</td>
                                  <td style="background-color:#fff;width:15%">@e.openCounter</td>
                                  <td style="background-color:#fff;width:15%">@e.clickCounter</td>
                              </tr>
                              }
                              </tbody>
                          </table>
                      </td>
                  </tr>
                  </tbody>
                }
            }
          }
        </tbody>
      </table>

    } else {
      <p style="text-align: left" class="muted">NO COLLABORATORS ADDED YET</p>
    }

  } else {
  <p>
    This trip contains traveller groups.<br/>
    Currently you cannot invite collaborators to the trips that have groups.<br/>
  </p>
  }
  <br>
  <div id="inviteAgentModal" class="modal container hide fade" data-replace="true">


    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="javascript:getPage('@pageUrl');return false;">&times;</button>
      <h3>Invite Collaborator</h3>
    </div>

    <div class="modal-body">
      <legend>Invite Collaborator</legend>
      <p>
        In order to add a trip collaborator you need to specify the e-mail address or Umapped username.<br/>
        If the collaborator does not have a Umapped account, an invitation to join Umapped will be sent automatically.<br/>
        <br/>
      </p>

      <form id="agentSearchForm">
        <input type="hidden" id="inTripId" name="inTripId" value=@v.tripId>

        <div class="row-fluid">
          <div class="span9">
            <label>Email or Umapped Username</label>
            <input type="text" id='inUsername' name='inUsername' placeholder="username" class="input-block-level required form-search"/>
            <input type="hidden" id='inDivName' value="agentSearchResults"/>
          </div>
          <div class="span3 ">
            <label>&nbsp;</label>
            <button type="submit" class="btn btn-success pull-left"
            onclick="javascript:$('#imgSearchSpinner').show();javascript:doSearchForm('/user/findUser', 'agentSearchForm', 'agentSearchResults');return false;"> Search
            </button>
          </div>
        </div>
      </form>

      <div id="agentSearchResults">


      </div>

    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true"
      onclick="javascript:getPage('@pageUrl');return false;">Close</button>
      <br/>
    </div>
  </div>


    <script>
    $('#resendInviteSubmit').click(function() {
    $('#resendInviteModal').modal('hide');
    });
    </script>

    <div id="resendInviteModal" class="modal container hide fade" data-replace="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Resend Invite</h3>
        </div>

        <div class="modal-body">
            <form id="resendInviteForm">
                <input type="hidden" id="inInviteId" name="inInviteId">
                <label>To:</label>
                <div id="inviteEmail"></div>
                <br/>
                <div class="row-fluid">
                    <div class="span6">
                        <label>Note:</label>

                        <textarea id="inInviteNote" name="inInviteNote" class="field span12" rows="5"></textarea>
                    </div>
                </div>
            </form>



      </div>


        <div class="modal-footer">
            <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>

            <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true" id="resendInviteSubmit"
            onclick="javascript:postForm('@{controllers.routes.UserController.resendTripInviteEmail()}','resendInviteForm');return false;">Resend</button>
            <br/>
        </div>
    </div>

    <script>
    $('#resendShareSubmit').click(function() {
    $('#resendShareModal').modal('hide');
    });
    </script>

    <div id="resendShareModal" class="modal container hide fade" data-replace="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Resend Invite</h3>
        </div>

        <div class="modal-body">
            <form id="resendShareForm">
                <input type="hidden" id="inShareUserId" name="inShareUserId">
                <label>To:</label>
                <div id="shareEmail"></div>
                <br/>
                <div class="row-fluid">
                    <div class="span6">
                        <label>Note:</label>

                        <textarea id="inShareNote" name="inShareNote" class="field span12" rows="5"></textarea>
                    </div>
                </div>
            </form>
         </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>

        <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true" id="resendShareSubmit"
        onclick="javascript:postForm('@{controllers.routes.SharedTripsController.resendTripShareEmail}','resendShareForm');return false;">Resend</button>
        <br/>
    </div>
    </div>

</div>
