@(v: com.mapped.publisher.view.CollaboratorInviteView)
@import com.mapped.publisher.common.SecurityMgr.AccessLevel

<div id="@{v.targetDivId}Table">
  <h3>Umapped Member Found</h3>
  <div class="row-fluid">
    <div class="span2">
    @if(v.userProfile.profilephotourl != null && v.userProfile.profilephotourl.length > 0) {
      <img class="img-polaroid" src="@v.userProfile.profilephotourl" width="100" height="100"  alt="@v.userProfile.getFirstname @v.userProfile.getLastname"></img>
    } else {
      <img class="img-polaroid" src="@{v.imgUrl}/img/user-placeholder.png" width="100" height="100" alt="Avatar"></img>
    }
    </div>

    <div class="span2">

      <label>Username</label>
      <h4>@v.userProfile.getUserid()</h4>
    </div>
    <div class="span5">
      <label>Full Name</label>
      <h4>@v.userProfile.getFirstname() @v.userProfile.getLastname()</h4>
    </div>
  </div>
  <br/>
  <legend>Share Trip</legend>
  <div id="sharePit">
    <form id="collaborationPermissionForm">
      <input type="hidden" name="inShareUserId" value="@v.userProfile.getUserid()">
      <div class="row-fluid">
        <div class="span12">
            <div class="span3">
              <label>Select Access Level: </label>
              @if(v.currUserAccessLevel.ge(AccessLevel.APPEND_N_PUBLISH)) {
                <label class="radio">
                  <input type="radio" name="inAccessLevel" value="READ">
                  Review Only
                </label>
                <label class="radio">
                  <input type="radio" name="inAccessLevel" value="APPEND" >
                  Contribute
                </label>
                <label class="radio">
                  <input type="radio" name="inAccessLevel" value="APPEND_N_PUBLISH" checked>
                  Contribute & Publish
                </label>
              }
              @if(v.currUserAccessLevel.ge(AccessLevel.OWNER)) {
                <label class="radio">
                  <input type="radio" name="inAccessLevel" value="OWNER">
                  Full Control
                </label>
              }
            </div>
            <div class="span6">
              <label>Note to the Collaborator: </label>
              <textarea name="inShareNote" class="input-block-level" rows="4"
                        placeholder="Please provide information that you want user to contribute"></textarea>
            </div>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span9">
          <button type="submit" class="btn btn-primary btn-large btn-block"
                  onclick="javascript:doPostFormAndReplace('/sharedTrips/shareWithUser',
                                                           'collaborationPermissionForm',
                                                           'sharePit');return false;">
            Share Trip
          </button>

        </div>
      </div>
    </form>
  </div>
</div>
