
@(formName: String, msg: String)

<div id="@{formName}Table">
  <div class="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Warning!</strong> @msg
  </div>
</div>
