@(m:  com.mapped.publisher.view.TripPreviewView)
@import com.umapped.persistence.enums.ReservationType
@import com.mapped.publisher.common.Capability
@import com.umapped.persistence.enums.ReservationType
@import com.mapped.publisher.common.SecurityMgr.AccessLevel
@import com.mapped.publisher.view.TabType
@import com.mapped.publisher.view.EnhancedTripBookingDetailView
@import com.mapped.publisher.view.UmFlightReservationView
@import com.mapped.publisher.view.UmAccommodationReservationView
@import com.mapped.publisher.view.UmCruiseReservationView
@import com.mapped.publisher.view.UmActivityReservationView
@import com.mapped.publisher.view.UmTransferReservationView
@import com.mapped.publisher.utils.Utils


@m.bookings.getChronologicalBookings()

@if(m.message!=null && m.message.length > 0) {
  <--alertMsg-->
  <div id="alertMsg">
    <h4> @m.message</h4>
  </div>
  <--endAlertMsg-->

}

  <--pageBody-->
<div id="pageBody">
<script>
$('#dateNavigation').ddslick({
width:190,
onSelected: function(data){
//callback function: do something with selectedData;
var selected = data.selectedData.value;
location.hash = selected;
}

});


$('#showbookings').ddslick({
  width:165,
onSelected: function(data){
//callback function: do something with selectedData;
var selected = data.selectedData.value;

$('#allBookingList').hide();
$('#dateNavigation').hide();

$('#activitiesList').hide();
$('#flightsList').hide();
$('#cruisesList').hide();
$('#transportsList').hide();
$('#hotelsList').hide();
$('#notesList').hide();

if (selected == 'FLIGHTS') {
$('#flightsList').show();
} else if (selected == 'TRANSPORTS') {
$('#transportsList').show();
} else if (selected == 'HOTELS') {
$('#hotelsList').show();
} else if (selected == 'CRUISES') {
$('#cruisesList').show();
} else if (selected == 'ACTIVITIES') {
$('#activitiesList').show();
} else if (selected == 'NOTES') {
$('#notesList').show();
} else {
$('#allBookingList').show();
$('#dateNavigation').show();

}

}

});

function toTop() {
$('#dateNavigation').ddslick('select', {index: 1 });

location.hash = '#date_top';
}

//BX Slider
$(document).ready(function(){
$('.slider').bxSlider({
slideWidth: 60,
minSlide: 1,
maxSlides: 9,
slideMargin: 6,
pager: false,
preloadImages: 'all',
infiniteLoop: false,
hideControlOnEnd: true,
});
});


function getYoutubeThumbnail( url, size )
{
if(url === null){ return ""; }

size = (size === null) ? "big" : size;
var vid;
var results;

if (url.indexOf('embed') > 0) {
var embedPos  = url.indexOf("embed/") + 6;
var ampersandPosition = url.indexOf('?');
if(ampersandPosition != -1) {
vid = url.substring(embedPos, ampersandPosition);
} else {
vid = url.substring(embedPos);
}
} else {
results = url.match ( "[\\?&]v=([^&#]*)" ) ;
vid = ( results === null ) ? url : results[1];
vid = vid.replace('https://youtu.be/','');
}

if(size == "small"){
return "http://img.youtube.com/vi/"+vid+"/1.jpg";
}else {
return "http://img.youtube.com/vi/"+vid+"/0.jpg";
}
}



/**
*MASONRY
*/

$(document).ready(function(){
  @if(m.bookings.notes != null && m.bookings.notes.length > 0) {

    @for(p <- m.bookings.notes) {
      @if(p.videos != null && p.videos.length > 0) {
        @for(v <- p.videos) {
          @if(v != null && v.attachUrl != null && v.attachUrl.trim.length > 0) {
            var v_@v.id = getYoutubeThumbnail('@v.attachUrl','small');
            $('#video_@v.id').attr("src",v_@v.id);
          }
        }
        @for(v <- p.videos) {
          @if(v != null && v.attachUrl != null && v.attachUrl.trim.length > 0) {
            var v_@v.id = getYoutubeThumbnail('@v.attachUrl','small');
            $('#video_@v.id--1').attr("src",v_@v.id);
          }
        }
      }
    }
  }
});

  var timeTwelve = 0;
function convertTime() {
  var regexpTwelve = /[0-9]{2}:[0-9]{2}\s(AM|PM)/ig;
  var regexpTwentyFour = /[0-9]{2}:[0-9]{2}(?!\s(AM|PM))/ig;
  var i;
  var timeElem = document.getElementsByClassName("timeField");

  var momentObj;

  if (timeTwelve == 1) {
    timeTwelve = 0;
    $('#switchTimeLbl').text('@Messages("webitinerary.time24Lbl")');
  } else {
    timeTwelve = 1;
    $('#switchTimeLbl').text('@Messages("webitinerary.time12Lbl")');
  }

  for(i = 0; i < timeElem.length; i++) {
    var timeStr = timeElem[i].innerText.trim();
    if(timeTwelve == 1) {
    momentObj = moment(timeStr.substring(0, 8), ["hh:mm A"]);

      if(momentObj.format("HH:mm") != "Invalid date" && (timeStr.indexOf("AM") > -1 || timeStr.indexOf("PM") > -1)) {
        timeElem[i].innerText = momentObj.format("HH:mm");
      }
    } else {

      momentObj = moment(timeStr.substring(0, 5), ["HH:mm"]);
      if(momentObj.format("hh:mm A") != "Invalid date" && (timeStr.indexOf(":") > -1)) {
        timeElem[i].innerText = momentObj.format("hh:mm A");
      }
    }
  }
}

  $(document).ready(function() {
  @if(!m.display12Hr) {
    convertTime() ;
  } else {
    $('#switchTimeLbl').text('@Messages("webitinerary.time24Lbl")');
  }
  });


</script>
  <a name="date_top"></a>



  <div id="allBookingsTab1" class="content">
  @if(m.tripCoverUrl != null && m.tripCoverUrl.trim().length > 0 && m.displayCover) {
    <div style="background: url(@m.tripCoverUrl) no-repeat center ; overflow: hidden; height:300px; width:100%;margin-left: 0px;-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;margin-top: 10px" > &nbsp;</div>
  }
    <a onClick="convertTime();" id="switchTimeLbl" class="pull-right" style="font-size: 16px"></a>

    @if(m.bookings.orderedBookings != null && m.bookings.orderedBookings.size() > 0) {

  <div class="row-fluid" style="padding-top:10px;padding-bottom: 5px">
    <div class="span12">
      @if(m.bookings != null &&
          ((m.bookings.flights != null && m.bookings.flights.size() > 0) ||
              (m.bookings.hotels != null && m.bookings.hotels.size() > 0) ||
              (m.bookings.cruises != null && m.bookings.cruises.size() > 0) ||
              (m.bookings.transfers != null && m.bookings.transfers.size() > 0) ||
              (m.bookings.activities != null && m.bookings.activities.size() > 0))) {
        <table>
          <tr>
            <td>
              <select id="showbookings">
                <option value="ITINERARY" data-description="">@Messages("webitinerary.bookings")</option>

                @if(m.bookings.flights != null && m.bookings.flights.size() > 0) {
                  <option value="FLIGHTS" data-description="">@Messages("webitinerary.flights")
                    (@m.bookings.flights.size())</option>
                }

                @if(m.bookings.hotels != null && m.bookings.hotels.size() > 0) {
                  <option value="HOTELS" data-description="">@Messages("webitinerary.hotels")
                    (@m.bookings.hotels.size())</option>
                }

                @if(m.bookings.cruises != null && m.bookings.cruises.size() > 0) {
                  <option value="CRUISES" data-description="">@Messages("webitinerary.cruises")
                    (@m.bookings.cruises.size())</option>
                }

                @if(m.bookings.transfers != null && m.bookings.transfers.size() > 0) {
                  <option value="TRANSPORTS" data-description="">@Messages("webitinerary.transports")
                    (@m.bookings.transfers.size())</option>
                }

                @if(m.bookings.activities != null && m.bookings.activities.size() > 0) {
                  <option value="ACTIVITIES" data-description="">@Messages("webitinerary.activities")
                    (@m.bookings.activities.size())</option>
                }

                @if(m.bookings.notes != null && m.bookings.notes.size() > 0) {
                  <option value="NOTES" data-description="">@Messages("webitinerary.notes")
                    (@m.bookings.notes.size())</option>
                }
              </select>
            </td>
            <td width="10"></td>
            <td>
              <select id="dateNavigation">

                <option value="#date_top">Select Date</option>

                @for((k, i) <- m.bookings.chronologicalDates.zipWithIndex) {
                  @if(k != null && k.trim.length > 0) {
                    <option value="#date_@i">@k</option>
                  }
                }
              </select>
            </td>
          </tr>
        </table>
      }
      <div style="font-size: 19px;padding-top: 10px">
      <a href="/trips/loadPdf?inTripId=@m.tripId" target="_blank">
        @Messages("webitinerary.downloadpdf") <i class="icon-download"></i>
      </a>

        @if(m.bookings.printFriendlyPDF) {
          <a href="/trips/loadPdf?inTripId=@m.tripId&inPrint=true" target="_blank" style="float : right">
            <i class="fa fa-print"></i>
          </a>
        }

      </div>


    </div>

   </div>

  <div id="allBookingList" style="background-color: #ffffff;min-height: 400px;padding-top:10px">

    @for((k, i) <- m.bookings.chronologicalDates.zipWithIndex ) {
      @if(k.trim().length() > 0) {
        <a name="date_@i"></a>
        <div id='@Utils.getJSDateFormat(k)' style="padding:0px;width: 100%;margin: auto;margin-top: 30px;padding-bottom:40px;background-color: #ffffff;">
          <div style="margin: auto;width: 100%;margin-left:2px;padding-right:4px;border-bottom: 2px solid #000000">
            <div style="padding-left: 0px">
              <h2 style="color: #000000">
                @k
                <a style="float: right; font-size:13px;font-weight: 500"  onclick="javascript:toTop();return false;">Top</a>
              </h2>
            </div>
          </div>
      }
      <ul id="sortNoteListDiv_@i" style="list-style-type: none; margin-left:0px; padding: 0;">

      @for((p, j) <- m.bookings.chronologicalBookings.get(k).zipWithIndex) {
        <li id="@p.detailsId">

        @if(p.noteId != null && p.noteId > 0) {
          @views.html.webItinerary.bookings.details.tripNote(m.bookings, p, j, m.travellerId)

        } else {
          @if(p.detailsTypeId.getRootLevelType == ReservationType.FLIGHT) {
            @views.html.webItinerary.bookings.details.flight(m.bookings, p.asInstanceOf[UmFlightReservationView], j, m.travellerId, m.hasCapability(Capability.COMMUNICATOR_TRAVELER_TALKBACK))
          } else {
            @if(p.detailsTypeId.getRootLevelType == ReservationType.HOTEL) {
              @views.html.webItinerary.bookings.details.hotel(m.bookings, p.asInstanceOf[UmAccommodationReservationView], j, m.travellerId, m.hasCapability(Capability.COMMUNICATOR_TRAVELER_TALKBACK))
            } else {
              @if(p.detailsTypeId.getRootLevelType == ReservationType.CRUISE) {
                @views.html.webItinerary.bookings.details.cruise(m.bookings, p.asInstanceOf[UmCruiseReservationView], j, m.travellerId, m.hasCapability(Capability.COMMUNICATOR_TRAVELER_TALKBACK))
              } else {
                @if(p.detailsTypeId.getRootLevelType == ReservationType.TRANSPORT) {
                  @views.html.webItinerary.bookings.details.transport(m.bookings, p.asInstanceOf[UmTransferReservationView], j, m.travellerId, m.hasCapability(Capability.COMMUNICATOR_TRAVELER_TALKBACK))

                } else {
                  @if(p.detailsTypeId == ReservationType.RESTAURANT || p.detailsTypeId == ReservationType.EVENT) {
                    @views.html.webItinerary.bookings.details.restaurants(m.bookings, p.asInstanceOf[UmActivityReservationView], j, m.travellerId, m.hasCapability(Capability.COMMUNICATOR_TRAVELER_TALKBACK))
                  } else {
                    @if(p.detailsTypeId != null) {
                      @if(p.detailsTypeId == ReservationType.CRUISE_STOP) {
                        @views.html.webItinerary.bookings.details.cruiseStop(m.bookings,p.asInstanceOf[UmActivityReservationView], j, m.travellerId, m.hasCapability(Capability.COMMUNICATOR_TRAVELER_TALKBACK))
                      } else {
                        @views.html.webItinerary.bookings.details.activity(m.bookings, p.asInstanceOf[UmActivityReservationView], j, m.travellerId, m.hasCapability(Capability.COMMUNICATOR_TRAVELER_TALKBACK))
                      }
                    }
                  }
                }
              }
            }
          }
        }
        </li>
      }
      </ul>

      @if(k.trim().length() > 0) {
      </div>
      }
    }
  </div>
}


  <!-- flights -->
@if(m != null && m.bookings != null && m.bookings.flights != null && m.bookings.flights.size() > 0) {
  <div id="flightsList" style="display: none;min-height: 400px">
  @for(p <- m.bookings.flights) {
    @views.html.webItinerary.bookings.details.flight(m.bookings, p.asInstanceOf[UmFlightReservationView], 0, m.travellerId, m.hasCapability(Capability.COMMUNICATOR_TRAVELER_TALKBACK))
  }
  </div>
}

  <!-- hotels -->
@if(m != null && m.bookings != null && m.bookings.hotels != null && m.bookings.hotels.size() > 0) {
  <div id="hotelsList" style="display: none;min-height: 400px">
  @for(p <- m.bookings.hotels) {
    @views.html.webItinerary.bookings.details.hotel(m.bookings, p.asInstanceOf[UmAccommodationReservationView], 0, m.travellerId, m.hasCapability(Capability.COMMUNICATOR_TRAVELER_TALKBACK))
  }
  </div>
}

  <!-- all cruises -->
@if(m != null && m.bookings != null && m.bookings.cruises != null && m.bookings.cruises.size() > 0) {
  <div id="cruisesList" style="display: none;min-height: 400px">
  @for(p <- m.bookings.cruises) {
    @views.html.webItinerary.bookings.details.cruise(m.bookings, p.asInstanceOf[UmCruiseReservationView], 0, m.travellerId, m.hasCapability(Capability.COMMUNICATOR_TRAVELER_TALKBACK))
  }
  </div>
}
  <!-- all activities -->
@if( m.bookings != null && m.bookings.activities != null && m.bookings.activities.size() > 0) {
  <div id="activitiesList" style="display: none;min-height: 400px">
  @for(p <- m.bookings.activities) {
    @if(p.detailsTypeId == ReservationType.RESTAURANT || p.detailsTypeId == ReservationType.EVENT) {
      @views.html.webItinerary.bookings.details.restaurants(m.bookings,p.asInstanceOf[UmActivityReservationView], 0, m.travellerId, m.hasCapability(Capability.COMMUNICATOR_TRAVELER_TALKBACK))
    } else {
      @if(p.detailsTypeId == ReservationType.CRUISE_STOP) {
        @views.html.webItinerary.bookings.details.cruiseStop(m.bookings,p.asInstanceOf[UmActivityReservationView], 0, m.travellerId, m.hasCapability(Capability.COMMUNICATOR_TRAVELER_TALKBACK))
      } else {
        @views.html.webItinerary.bookings.details.activity(m.bookings, p.asInstanceOf[UmActivityReservationView], 0, m.travellerId, m.hasCapability(Capability.COMMUNICATOR_TRAVELER_TALKBACK))
      }
    }
  }
  </div>
  }

  <!-- all transports -->
@if(m != null && m.bookings != null && m.bookings.transfers != null && m.bookings.transfers.size() > 0) {
  <div id="transportsList" style="display: none;min-height: 400px">
  @for(p <- m.bookings.transfers) {
    @views.html.webItinerary.bookings.details.transport(m.bookings, p.asInstanceOf[UmTransferReservationView], 0, m.travellerId, m.hasCapability(Capability.COMMUNICATOR_TRAVELER_TALKBACK))
  }
  </div>
}

  <!-- all notes -->
@if( m.bookings != null && m.bookings.notes != null && m.bookings.notes.size() > 0) {
  <div id="notesList" style="display: none;min-height: 400px">
  @for(p <- m.bookings.notes){
    @views.html.webItinerary.bookings.details.tripNote(m.bookings, p, -1, m.travellerId)
  }
  </div>
}

  </div>

  </div>
<--endPageBody-->
