@(m:  com.mapped.publisher.view.EventInfoView)
@import com.mapped.publisher.view.GenericTypeView
@import org.apache.commons.lang3.StringEscapeUtils.escapeEcmaScript

<--pageBody-->
<div id="pageBody">
    <script>

        @if(m.selectedPage != null && m.eventPages != null) {
         $(function() {
        $('#map_canvas').show();

        $('#map1').gmap3({
        clear: {
        name:["marker"]
        }
        });

            var myLocations = new Array();

            @for(pl <- m.eventPages.get(m.selectedPage)) {
                @if(pl.locLat != null && pl.locLong != null && pl.locLat.length > 3 && pl.locLong.length > 3 &&  pl.locLat != "0.0" && pl.locLong != "0.0") {
                    @if(pl.photos != null && pl.photos.size > 0) {
        myLocations.push({latLng:[@pl.locLat, @pl.locLong], data:" <img BORDER='0' ALIGN='Left' width='40px'  SRC='@pl.photos.get(0).attachUrl'></img> &nbsp;@escapeEcmaScript(pl.name) <br/> &nbsp;@escapeEcmaScript(pl.address)", id:"@escapeEcmaScript(pl.id)"});
                    } else {
        myLocations.push({latLng:[@pl.locLat, @pl.locLong], data:" &nbsp;@escapeEcmaScript(pl.name) <br/> &nbsp;@escapeEcmaScript(pl.address)", id:"@escapeEcmaScript(pl.id)"});
                    }


                }
            }
            if (myLocations.length > 0) {


        $("#map1").gmap3({

        marker:{
        values:myLocations,
        options:{
        draggable: false
        },
        events:{
        mouseover: function(marker, event, context){
        var map = $("#map1").gmap3("get"),
        infowindow = $("#map1").gmap3({get:{name:"infowindow"}});
        if (infowindow){
        infowindow.open(map, marker);
        infowindow.setContent(context.data);
        } else {
        $("#map1").gmap3({
        infowindow:{
        anchor:marker,
        options:{content: context.data}
        }
        });
        }
        },
        mouseout: function(){
        var infowindow = $("#map1").gmap3({get:{name:"infowindow"}});
        if (infowindow){
        infowindow.close();
        }
        }
        }
        },
        autofit:{}

        });
        google.maps.event.trigger(map1, 'resize');



        } else {
                $('#map_canvas').hide();
            }


         });

        }


        $(function() {

        @if(m.selectedPage != null && m.eventPages != null) {
            @for(p <- m.eventPages.get(m.selectedPage)) {
                @if(p.photos !=null && p.photos.size > 0){
                    $('carousel_@p.id').carousel({
                        interval: false
                    });
                }
            }
        }


        });
    </script>


    @if(m.selectedPage != null && m.eventPages != null) {
    <div class="row-fluid">
        <div style="background-color:#fff;height:60px;">
            <div class="contentHeader1" style="text-align:center;padding-top:40px;padding-bottom:0px">
                @if(m.selectedPage =="<OTHER>") {
                    OTHER
                } else {
                    @m.selectedPage
                }
            </div>
        </div>
    </div>

    <br/>
    <hr  style="margin:auto;width:70%"/>
    <br/>
    <div class="row-fluid">

        <ul class="nav nav-tabs" id="myTab">

    @for((p,i) <- m.eventPages.get(m.selectedPage).zipWithIndex){
        <li @if(i==0) {class="active"}><a href="#@p.id" data-toggle="tab"><h3>@p.name.toUpperCase</h3></a></li>
    }
    </ul>

    <div class="tab-content">
        @for((p,i) <- m.eventPages.get(m.selectedPage).zipWithIndex){
        <div class="tab-pane @if(i==0) { active} else { fade}" id="@p.id">
            <div class="row-fluid">
            <div class="span12" >

        <h3 style="padding-left:5%; width:90%; ">  @p.name </h3>

            <h5 style="padding-left:5%; width:90%">
                @if(p.startDatePrint != null && p.startDatePrint.length > 0) {
                 @p.startDatePrint
                &nbsp;
                }
                @if(p.startTimePrint != null && p.startTimePrint.length > 0) {
                 @p.startTimePrint
                }
            </h5>


        @if(p.address != null && p.address.length > 0) {
            <h5 style="padding-left:5%; width:90%">@p.address</h5>
        }
        @if(p.note != null) {
            <p class="lead" style="padding-left:5%; width:90%">@p.note</p>
        }

       <!-- audio -->
            @if(p.audio != null) {
            <div id="page_audio" style="padding-left:5%" >
                @for(a<-p.audio) {
                <div class="container">
                    <p>
                        <i class='icon-music icon-dark' pull-left " ></i>&nbsp; @a.name <br/>
                    </p>
                </div>
                <p>
                    <audio id=\"audioplayer\" controls style=\"width:280px; height:50px;\"> <source src='@a.attachUrl'/> </audio>
                </p>
                <br/>
                }
            </div>
            }

       <!-- photo caroussel -->
            @if(p.photos !=null && p.photos.size > 0) {
            <div id="carousel_@p.id" class="carousel slide" style="width:90%;margin:0 auto;" >
                <p> <br/> <br/></p>
                <div class="carousel-inner">

                    @for((a,i) <- p.photos.zipWithIndex){
                    @if(i == 0) {
                    <div class="item active">
                        } else {
                        <div class="item">
                            }


                            <img  src="@a.attachUrl" width="100%"/>
                            @if(a.comments != null && a.comments.length > 0) {
                            <div id="audio" class="carousel-caption">
                                <p class="lead">@a.comments</p>
                            </div>
                            }
                        </div> <!--item-->
                        }
                    </div> <!-- inner carousel-->
                    <!-- Carousel nav -->
                    @if(p.photos.size() > 1) {
                    <a class="carousel-control left" href="#carousel_@p.id" data-slide="prev">&lsaquo;</a>
                    <a class="carousel-control right" href="#carousel_@p.id" data-slide="next">&rsaquo;</a>
                    }
                    <br><br>
                </div> <!-- carousel -->
            }

                <!--videos for this page-->
                @if(p.videos != null) {
                @for(f <- p.videos) {
                <div class="container" style="width:800px;margin:0 auto;">
                    <video id="player"  controls  preload="auto" style="width:800px;margin:0 auto;" >
                        <source src="@f.tag" type="video/mp4"/>
                    </video>
                    @if(f.comments != null || f.comments.length() > 0) {
                    <div  class="">
                        <p class ="container">
                            @f.comments
                        </p>
                    </div>
                    } <!-- caption carousel -->
                </div>
                }
                } <!-- end videos -->




            </div> <!-- col span -->

    </div> <!-- row -->
    </div> <!-- tab-->
    }
        </div> <!-- tab content-->
    </div> <!-- row fluid-->
        <br/>
    }

</div>
<--endPageBody-->