@(h: com.mapped.publisher.view.UmAccommodationReservationView)
@import com.mapped.publisher.utils.Utils
@if(h != null && h.getPassengers != null && h.getPassengers.size() > 0) {
    @for(v <- h.getPassengers) {
        <div style="padding-top: 10px">
        @if(v.getName != null && !v.getName.trim.isEmpty){
            <strong>Name:</strong> @Html(v.getName) <br/>
        }
        @if(v.getRoomType != null && !v.getRoomType.trim.isEmpty){
            <strong>Room Type:</strong> @Html(v.getRoomType) <br/>
        }
        @if(v.getBedding != null && !v.getBedding.trim.isEmpty){
            <strong>Bedding:</strong> @Html(v.getBedding) <br/>
        }
        @if(v.getAmenities != null && !v.getAmenities.trim.isEmpty){
            <strong>Amenities:</strong> @Html(v.getAmenities) <br/>
        }
        @if(v.getStatus != null && !v.getStatus.trim.isEmpty){
            <strong>Status:</strong> @Html(v.getStatus) <br/>
        }
        @if(v.getMembershipId != null && !v.getMembershipId.trim.isEmpty) {
            <strong>Membership Id:</strong> @Html(v.getMembershipId) <br/>
        }
        </div>
    }
}