@(frv:  com.mapped.publisher.view.UmFlightReservationView)

@if(frv != null && frv.getPassengers != null && frv.getPassengers.size > 0) {
  @for(t <- frv.getPassengers) {
    <PASSENGER>
      @if(t.getName != null && !t.getName.isEmpty){
        <LASTNAME>@t.getFamilyName()</LASTNAME>
        <FIRSTNAME>@t.getGivenName()</FIRSTNAME>
      }
      @if(t.getSeat != null && !t.getSeat.isEmpty){
        <SEATNO>@t.getSeat</SEATNO>
      }
      @if(t.getSeatCategory != null && !t.getSeatCategory.isEmpty){
        <CLASSOFSERVICE>@t.getSeatCategory</CLASSOFSERVICE>
      }
      @if(t.getTicketNumber != null && !t.getTicketNumber.isEmpty){
        <STARTTICKETNO>@t.getTicketNumber</STARTTICKETNO>
      }
    </PASSENGER>
  }
}