@(m:  com.mapped.publisher.view.TripBookingView, allBookings: com.mapped.publisher.view.TripBookingView)
@import com.mapped.publisher.common.SecurityMgr.AccessLevel
@import com.mapped.publisher.view.TabType
@import com.mapped.publisher.common.SecurityMgr.AccessLevel
@import com.mapped.publisher.persistence.{FeedHelperGlobusTours, FeedSourcesInfo}
@import com.mapped.publisher.view.{EnhancedTripBookingDetailView, TabType}
@import com.umapped.persistence.enums.ReservationType
@import com.mapped.publisher.common.Capability;
@m.getChronologicalBookings()

@if(m.orderedBookings != null && m.orderedBookings.size() > 0) {
<RESCARD>
 <RESERVATIONLIST>
         @for( (k, i) <- m.chronologicalDates.zipWithIndex) {
          @for( (p, j) <- m.chronologicalBookings.get(k).zipWithIndex) {
           @if(p.detailsTypeId != null && (p.noteId == null || p.noteId == 0)) {
            @if(p.detailsTypeId.getRootLevelType == ReservationType.FLIGHT) {
              @views.html.clientbase.xml.ServiceProvider(m, p, EnhancedTripBookingDetailView.parseFlight(p))
            } else {
            @if(p.detailsTypeId.getRootLevelType == ReservationType.HOTEL) {
              @views.html.clientbase.xml.ServiceProvider(m, p, EnhancedTripBookingDetailView.parseHotel(p))
            } else {
            @if(p.detailsTypeId.getRootLevelType == ReservationType.CRUISE) {
              @views.html.clientbase.xml.ServiceProvider(m, p, EnhancedTripBookingDetailView.parseCruise(m, p, allBookings))
            } else {
              @views.html.clientbase.xml.ServiceProvider(m, p, null)
            }
            }
            }
            }
            }
            }
 </RESERVATIONLIST>
</RESCARD>
}
