@(m: com.mapped.publisher.view.TripBookingView, p:  com.mapped.publisher.view.TripBookingDetailView, f: com.mapped.publisher.view.EnhancedTripBookingDetailView, vendorInfo: play.libs.F.Tuple[String,String])
@import com.mapped.publisher.utils.Utils
@import com.umapped.persistence.enums.ReservationType
@import com.umapped.persistence.enums.ReservationType
@import com.mapped.publisher.view.UmFlightReservationView
@import com.mapped.publisher.view.UmAccommodationReservationView
@import controllers.ClientbaseController


<RESERVATION>
  <VENDORCODE>@vendorInfo._2</VENDORCODE>
  <VENDORNAME>@vendorInfo._1</VENDORNAME>
    @if(p.detailsTypeId == ReservationType.FLIGHT) {
    <RESTYPE>0</RESTYPE>
    } else {
    @if(p.detailsTypeId == ReservationType.HOTEL) {
    <RESTYPE>1</RESTYPE>
    } else {
    @if(p.detailsTypeId == ReservationType.CRUISE) {
    <RESTYPE>3</RESTYPE>
    } else {
    @if(p.detailsTypeId == ReservationType.CAR_RENTAL) {
    <RESTYPE>2</RESTYPE>
    } else {
    @if(p.detailsTypeId == ReservationType.RAIL) {
    <RESTYPE>6</RESTYPE>
    } else {
    @if(p.detailsTypeId == ReservationType.TOUR) {
    <RESTYPE>7</RESTYPE>
    } else {
    @if(p.detailsTypeId.getRootLevelType == ReservationType.TRANSPORT) {
    <RESTYPE>9</RESTYPE>
    } else {
    <RESTYPE>5</RESTYPE>
    }
    }
    }
    }
    }
    }
    }
        @if(p.createdTimestampMs > 0) {
    <RESDATE>@Utils.formatTimestamp(p.createdTimestampMs, "MMddyyyy")</RESDATE>
        } else {
    <RESDATE/>
     }
    <CONFIRMATIONNUMBER>@p.bookingNumber</CONFIRMATIONNUMBER>
    <SOURCEOFBOOKING>Umapped</SOURCEOFBOOKING>
    <BOOKINGSTATUS>Confirmed</BOOKINGSTATUS>
    <TOTALBASE>@ClientbaseController.formatCBPrices(p.getSubtotal())</TOTALBASE>
    <TOTALTAX>@ClientbaseController.formatCBPrices(p.getTaxes())</TOTALTAX>
    <TOTALCOMMISSION></TOTALCOMMISSION>
    @if(p.startDate != null && p.startDateMs > 0) {
    <STARTDATE>@Utils.formatTimestamp(p.startDateMs, "MMddyyyy")</STARTDATE>
        } else {
    <STARTDATE/>
       }
       @if(p.endDate != null && p.endDateMs > 0) {
    <ENDDATE>@Utils.formatTimestamp(p.endDateMs, "MMddyyyy")</ENDDATE>
       } else {
    <ENDDATE/>
       }
    <DURATION/>
    <STATUS>Confirmed</STATUS>
    <PASSENGERLIST>
      @if(p.detailsTypeId != null && (p.noteId == null || p.noteId == 0)) {
        @if(p.detailsTypeId.getRootLevelType == ReservationType.FLIGHT) {
          @views.html.clientbase.xml.flightPassengers(p.asInstanceOf[UmFlightReservationView])
        } else {
          @if(p.detailsTypeId.getRootLevelType == ReservationType.HOTEL) {
            @views.html.clientbase.xml.hotelPassengers(p.asInstanceOf[UmAccommodationReservationView])
          }
        }
      }
    </PASSENGERLIST>
    <SERVICEPROVIDERLIST>
        <SERVICEPROVIDER>
            @if(p.detailsTypeId == ReservationType.FLIGHT) {
            <PROVIDERTYPE>0</PROVIDERTYPE>
            } else {
            @if(p.detailsTypeId == ReservationType.HOTEL) {
            <PROVIDERTYPE>1</PROVIDERTYPE>
            } else {
            @if(p.detailsTypeId == ReservationType.CRUISE) {
            <PROVIDERTYPE>3</PROVIDERTYPE>
            } else {
            @if(p.detailsTypeId == ReservationType.CAR_RENTAL) {
            <PROVIDERTYPE>2</PROVIDERTYPE>
            } else {
            @if(p.detailsTypeId == ReservationType.RAIL) {
            <PROVIDERTYPE>6</PROVIDERTYPE>
            } else {
            @if(p.detailsTypeId == ReservationType.TOUR) {
            <PROVIDERTYPE>7</PROVIDERTYPE>
            } else {
            @if(p.detailsTypeId.getRootLevelType == ReservationType.TRANSPORT) {
            <PROVIDERTYPE>9</PROVIDERTYPE>
            } else {
            <PROVIDERTYPE>5</PROVIDERTYPE>
            }
            }
            }
            }
            }
            }
            }
        @if(p.detailsTypeId != ReservationType.FLIGHT) {
          @if(p.origComments != null) {
            @if(p.origComments.length < 256) {
          <DESCRIPTION>@p.origComments</DESCRIPTION>
          } else {
                @if(p.origComments.length <= 4000) {
          <INVOICEREMARKS>@p.origComments</INVOICEREMARKS>
                } else {
          <INVOICEREMARKS>@p.origComments</INVOICEREMARKS>
                }
            }
          }
        }
            @if(p.poiMain != null && p.poiMain.getName() != null) {
        <SERVICEPROVIDERNAME>@p.poiMain.getName()</SERVICEPROVIDERNAME>
            } else {
        <SERVICEPROVIDERNAME>@p.name</SERVICEPROVIDERNAME>
            }

            @if(p.detailsTypeId == ReservationType.FLIGHT) {
                @if(p.poiMain != null && p.poiMain.getCode != null) {
        <SERVICEPROVIDERCODE>@p.poiMain.getCode()</SERVICEPROVIDERCODE>
                } else {
                    @if(p.flightId != null && p.flightId.contains(" ")) {
        <SERVICEPROVIDERCODE>@p.flightId.substring(0, p.flightId.indexOf(" "))</SERVICEPROVIDERCODE>
                    }
                }
            } else {
        <SERVICEPROVIDERCODE></SERVICEPROVIDERCODE>
          }

            @if(p.startDate != null && p.startDateMs > 0) {
        <STARTDATE>@Utils.formatTimestamp(p.startDateMs, "MMddyyyy")</STARTDATE>
            } else {
        <STARTDATE></STARTDATE>
        }

         @if(p.endDate != null && p.endDateMs > 0) {
        <ENDDATE>@Utils.formatTimestamp(p.endDateMs, "MMddyyyy")</ENDDATE>
          } else {
        <ENDDATE/>
          }


            @if(p.startDate != null && p.startDateMs > 0) {
        <STARTTIME>@Utils.formatTimestamp(p.startDateMs, "HHmm")</STARTTIME>
            } else {
        <STARTTIME>0000</STARTTIME>
            }


            @if(p.endDate != null && p.endDateMs > 0) {
        <ENDTIME>@Utils.formatTimestamp(p.endDateMs, "HHmm")</ENDTIME>
            } else {
        <ENDTIME>0000</ENDTIME>
            }
        <SPBASE>@ClientbaseController.formatCBPrices(p.getSubtotal())</SPBASE>
        <TAX>@ClientbaseController.formatCBPrices(p.getTaxes())</TAX>
        <COMMISSION></COMMISSION>
        <TAXPERCENT>0</TAXPERCENT>
        <COMMPERCENT>0</COMMPERCENT>
        <MAXCOVERAGE>0</MAXCOVERAGE>
        @if(p.poiMain != null && p.poiMain.getMainAddress() != null) {
            @if(p.poiMain.getMainAddress().getStreetAddress() != null) {
        <ADDRLINE1>@p.poiMain.getMainAddress().getStreetAddress()</ADDRLINE1>
            }

            @if(p.poiMain.getMainAddress().getLocality() != null) {
        <ADDRCITY>@p.poiMain.getMainAddress().getLocality()</ADDRCITY>
            }
             @if(p.poiMain.getMainAddress().getRegion() != null) {
        <ADDRSTATE>@p.poiMain.getMainAddress().getRegion()</ADDRSTATE>
            }
            @if(p.poiMain.getMainAddress().getPostalCode() != null) {
        <ADDRZIP>@p.poiMain.getMainAddress().getPostalCode()</ADDRZIP>
            }
            @if(p.poiMain.getMainAddress().getCountryCode() != null) {
        <ADDRCOUNTRY>@p.poiMain.getMainAddress().getCountryCode()</ADDRCOUNTRY>
            }
        }
        @if(p.poiMain != null && p.poiMain.getMainPhone() != null){
            @if(p.poiMain.getMainPhone() != null && p.poiMain.getMainPhone().getNumber() != null){
        <ADDRPHONE>@p.poiMain.getMainPhone().getNumber()</ADDRPHONE>
            }
        }
        @if(p.detailsTypeId == ReservationType.FLIGHT) {
        @if(p.flightId.contains(" ")) {
        <FLIGHTNO>@p.flightId.substring(p.flightId.indexOf(" ")+1)</FLIGHTNO>
                } else {
        <FLIGHTNO>@p.flightId</FLIGHTNO>
            }

            @if(f != null) {
                @if(f.departTerminal != null) {
        <DEPARTTERMINAL>@f.departTerminal.replace("Terminal","").replace(":","").trim()</DEPARTTERMINAL>
                }
                @if(f.arriveTerminal != null) {
        <ARRIVETERMINAL>@f.arriveTerminal.replace("Terminal","").replace(":","").trim()</ARRIVETERMINAL>
                }
                @if(f.aircraft != null) {
        <AIRCRAFTTYPE>@f.aircraft</AIRCRAFTTYPE>
                }
                @if(f.distance != null) {
        <SEGMENTMILEAGE>@f.distance</SEGMENTMILEAGE>
                }
                @if(f.stops != null) {
        <NOOFSTOPS>@f.stops</NOOFSTOPS>
                }
                @if(f.duration != null) {
        <FLIGHTLENGTH>@f.duration</FLIGHTLENGTH>
                }
            }


        }
        @if(p.detailsTypeId == ReservationType.CRUISE && p.cruise != null) {
            @if(p.cruise.deck != null) {
        <SHIPDESCK>@p.cruise.deck</SHIPDESCK>
            }
            @if(p.cruise.cabinNumber != null) {
        <CABINROOM>@p.cruise.cabinNumber</CABINROOM>
            }
            @if(p.cruise.meal != null) {
        <DINING>@p.cruise.meal</DINING>
            }
        }
        @if(p.poiStart != null) {
            @if(p.poiStart.getCode() != null) {
        <DEPARTCITYCODE>@p.poiStart.getCode()</DEPARTCITYCODE>
            }
            @if(p.poiStart.getMainAddress() != null && p.poiStart.getMainAddress().getLocality() != null) {
        <DEPARTCITYNAME>@p.poiStart.getMainAddress().getLocality()</DEPARTCITYNAME>
            }
        } else {
        <DEPARTCITYCODE/>
        <DEPARTCITYNAME/>
        }
        @if(p.poiFinish != null) {
            @if(p.poiFinish.getCode() != null) {
        <ARRIVECITYCODE>@p.poiFinish.getCode()</ARRIVECITYCODE>
            }
            @if(p.poiFinish.getMainAddress() != null && p.poiFinish.getMainAddress().getLocality() != null) {
        <ARRIVECITYNAME>@p.poiFinish.getMainAddress().getLocality()</ARRIVECITYNAME>
            }
        } else {
        <ARRIVECITYCODE/>
        <ARRIVECITYNAME/>
        }
        @if(p.detailsTypeId == ReservationType.CRUISE && f != null && f.cruiseStops != null && f.cruiseStops.size > 0) {
        <ITINERARYLIST>
            @for(s <- f.cruiseStops) {
            <ITINERARY>
                @if(s.arrivePort != null) {
                <ARRIVECITYCODE>@s.arrivePort</ARRIVECITYCODE>
                } else {
                <ARRIVECITYCODE>UNK</ARRIVECITYCODE>
                }
                @if(s.arriveCity != null) {
                <ARRIVECITY>@s.arriveCity</ARRIVECITY>
                }  else {
                <ARRIVECITY>UNK</ARRIVECITY>
                }
                @if(s.departPort != null) {
                <DEPARTCITYCODE>@s.departPort</DEPARTCITYCODE>
                } else {
                <DEPARTCITYCODE>UNK</DEPARTCITYCODE>
                }
                @if(s.departCity != null) {
                <DEPARTCITY>@s.departCity</DEPARTCITY>
                } else {
                <DEPARTCITY>UNK</DEPARTCITY>
                }
                @if(s.arriveTimeMs > 0) {
                <ARRIVEDATE>@Utils.formatTimestamp(s.arriveTimeMs, "MMddyyyy")</ARRIVEDATE>

                <ARRIVETIME>@Utils.formatTimestamp(s.arriveTimeMs, "HHmm")</ARRIVETIME>
                }
                @if(s.departTimeMs > 0) {
                <DEPARTDATE>@Utils.formatTimestamp(s.departTimeMs, "MMddyyyy")</DEPARTDATE>

                <DEPARTTIME>@Utils.formatTimestamp(s.departTimeMs, "HHmm")</DEPARTTIME>
                }
            </ITINERARY>
            }
        </ITINERARYLIST>

        } else {
        <ITINERARYLIST/>
        }
        <SPPASSENGERLIST>
          @if(p.detailsTypeId != null && (p.noteId == null || p.noteId == 0)) {
            @if(p.detailsTypeId.getRootLevelType == ReservationType.FLIGHT) {
              @views.html.clientbase.xml.flightPassengers(p.asInstanceOf[UmFlightReservationView])
            } else {
              @if(p.detailsTypeId.getRootLevelType == ReservationType.HOTEL) {
                @views.html.clientbase.xml.hotelPassengers(p.asInstanceOf[UmAccommodationReservationView])
              }
            }
          }
        </SPPASSENGERLIST>
      </SERVICEPROVIDER>
    </SERVICEPROVIDERLIST>
 </RESERVATION>
