@(m:  com.mapped.publisher.view.TripPassengerInfoView)
@import com.mapped.publisher.view.DestinationSearchView.Tab;

@if(m.message!=null && m.message.length > 0) {
<--alertMsg-->
<div id="alertMsg">
    <h4> @m.message</h4>
</div>
<--endAlertMsg-->

}

<--pageTitle-->
<div id="pageTitle">
    <h1 class="page-title">Step 2 - Travellers</h1>
</div>
<--endPageTitle-->

<--pageHeader-->
<div id="pageHeader">
    <h3>TRIP: @m.tripName <br>
        DATE: @m.tripStartDate to @m.tripEndDate</h3>

</div>
<--endPageHeader-->

<--pageBody-->
<div id="pageBody">

    <div id="tripWizard" class="navbar">
        <div class="navbar-inner">
            <div style="padding-top:10px;padding-bottom:10px;margin-left:10px">
                <a onclick="javascript:activateMenu('#menuTour');javascript:getPage('/trips/trips');"> <i class="icon-arrow-left"></i> BACK TO MY TRIPS</a>
            </div>
            <ul class="nav">
                <li id="tripWizard1"><a   onclick="javascript:getPage('@controllers.routes.TripController.tripInfo(m.tripId)');">1. Trip Info</a></li>
                <li>
                    <img src="@{m.imgUrl}/img/spacer.gif" width="20px"/>
                </li>
                <li class='active' id="tripWizard2"><a  >2. Travellers </a></li>
                <li>
                    <img src="@{m.imgUrl}/img/spacer.gif" width="20px"/>
                </li>
                <li id="tripWizard3"><a   onclick="javascript:getPage('/trips/newTrip/booking');">3. Bookings</a></li>
                <li>
                    <img src="@{m.imgUrl}/img/spacer.gif" width="20px"/>
                </li>
                <li id="tripWizard4"><a   onclick="javascript:getPage('@routes.TripController.guides(m.tripId, new Tab.Bound(Tab.ATTACHMENTS))');">4. Documents</a></li>
                <li>
                    <img src="@{m.imgUrl}/img/spacer.gif" width="20px"/>
                </li>
                @if(m.numberOfBookings > 0) {
                <li id="tripWizard5"><a   onclick="javascript:getPage('/trips/newTrip/preview?tripId=@m.tripId');">5. Preview</a></li>
                } else {
                <li id="tripWizard5"><span class="muted" style="padding-left:10px;padding-right:10px;">5. Review</span></li>
                }

                <li>
                    <img src="@{m.imgUrl}/img/spacer.gif" width="20px"/>
                </li>
                <li id="tripWizard6"><span class="muted" style="padding-left:10px;padding-right:10px;">6. Review With Travellers</span></li>


            </ul>
        </div>
    </div>

    <div class="well">
        <h4> New Traveller </h4>
        <br/>

        <form class="form" id="addTravellerForm">
            <input type="hidden" class="input"  id="inTripId" name="inTripId" value="@m.tripId">

            <div class="row-fluid">
                <div class="span3">
                    <label>E-Mail</label>
                    <input type="text" class="input required email input-block-level" placeholder="Email" id="inEmail" name="inEmail">

                </div>
                <div class="span4">
                    <label>Name</label>

                     <input type="text" class="input required input-block-level" placeholder="Traveler's Name" id="inName" name="inName">
                </div>
                <div class="span2 " >
                    <label>&nbsp;</label>
                    <button type="button" class="btn btn-success btn-large pull-left"  onclick="javascript:postForm('/trips/newTrip/passenger', 'addTravellerForm');">Add</button>

                </div>
                <div class="span4 " >
                </div>

            </div>

        </form>
        <hr/>


        <table class="table table-striped ">
            <thead>
            <tr>
                <th style="width:30%">NAME</th>
                <th style="width:30%">EMAIL</th>
                <th style="width:10%;"></th>
            </tr>
            </thead>
            <tbody>

            @if(m.passengers != null && m.passengers.size() > 0) {
              @for((p,index) <- m.passengers.zipWithIndex) {

                   <tr>
                       <td style="width:30%">@p.name</td>
                       <td style="width:30%">@p.email</td>
                       <td style="width:10%" class="pull-left">
                           <a href="#deleteModal@p.id" role="button" class="btn btn-danger " data-toggle="modal">Delete</a>
                       </td>
                   </tr>
              }
            } else {
                <tr>
                    <td>No Travellers Added</td>
                </tr>
            }
            </tbody>


        </table>

        <div class="row-fluid">
            <div class="span10">

            </div>
            <div class="2">
                <button class="btn btn-info btn-large" onclick="javascript:getPage('/trips/newTrip/booking');"> Next ></button>

            </div>
        </div>
        <br/>
        <br/>
        <br/>

        <!-- generate modal for each passengger -->
        @if(m.passengers != null && m.passengers.size() > 0) {
            @for(p <- m.passengers) {
                <script>
                    $('#deleteTripSubmit@p.id').click(function() {
                        $('#deleteModal@p.id').modal('hide');
                    });
                </script>

                <div id="deleteModal@p.id" class="modal hide fade">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3>Confirm Delete @p.name</h3>
                    </div>
                    <div class="modal-body">
                        @if(m.tripStatus == 0) {
                            <h5> This trip is already published. It will be also be deleted for @p.name.</h5>
                            <p>Remove @p.name from this trip?</p>
                        } else {
                            <p>Remove @p.name from this trip?</p>
                        }
                    </div>
                    <div class="modal-footer">
                        <form id="deleteTripForm@p.id">
                            <input type="hidden" id="tripId" name="inTripId" value=@m.tripId>
                            <input type="hidden" id="passengerId" name="inPassengerId" value=@p.id>

                            <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
                            <button type="submit" class="btn btn-danger " id="deleteTripSubmit@p.id"
                                onclick="javascript:postForm('/trips/newTrip/deletePassenger', 'deleteTripForm@p.id');return false;">Delete
                            </button>
                        </form>
                    </div>
                </div>

            }
        }

    </div>
    <!-- form -->
</div>
<--endPageBody-->

