@(t:  com.mapped.publisher.view.TripReviewView)
@import com.mapped.publisher.view.GenericTypeView
@import controllers.WebItineraryApiController



@if(t.message!=null && t.message.length > 0) {
<--alertMsg-->
<div id="alertMsg">
    <h4> @t.message</h4>
</div>
<--endAlertMsg-->

}

<--pageTitle-->
<div id="pageTitle">
</div>
<--endPageTitle-->

<--pageHeader-->
<div id="pageHeader">
    @if(t!= null) {
    <h3> TRIP: @t.tripName <br>
        DATE: @t.tripStartDatePrint to @t.tripEndDatePrint</h3>
    }
</div>
<--endPageHeader-->

<--pageBody-->
<div id="pageBody">
    @if(t.tripBranding != null && t.tripBranding.size() > 0) {
        <script>
            function toggleTripBranding(cmpyid) {
                var isChecked = $('#brandingEnable'+cmpyid).is(':checked');
                if (isChecked) {
                    //enable the main brand radio
                    $('#brandingMain'+cmpyid).prop("disabled", false);
                    doPost('/trips/toggleBranding?inTripId=@t.tripId&inCmpyId='+cmpyid+'&inEnabled='+isChecked);

                } else {
                    //if this is the main brand, return error message
                    var isMain = $('#brandingMain'+cmpyid).is(':checked');
                    if (isMain) {
                        $('#brandingEnable'+cmpyid ).attr("checked", true);
                        alert('This company is the primary contact and cannot be disabled.');
                        return;
                    } else {
                        $('#brandingMain'+cmpyid).prop("disabled", true);
                        doPost('/trips/toggleBranding?inTripId=@t.tripId&inCmpyId='+cmpyid+'&inEnabled='+isChecked);
                    }

                }
            }


            function makeMainBrand (cmpyid) {
                var isChecked = $('#brandingMain'+cmpyid).is(':checked');
                doPost('/trips/toggleMainBrand?inTripId=@t.tripId&inEnabled=true&inCmpyId='+cmpyid);

            }
        </script>
    }

    @views.html.trip.simpleTripWizard(t.tripId, t.imgUrl, 2, t.accessLevel)

    <fieldset style="margin: 20px auto;"><legend></legend>  </fieldset>

    <div class="row-fluid">
        <div class="span3 offset6">
            @if(t.publishList != null && t.publishList.size() > 0) {
            <a class="btn btn-info btn-large" style="width: 100%; padding-right: 0; padding-left: 0;" href="@WebItineraryApiController.getItineraryUrl(t.tripId)" target="_blank">Preview Web Itinerary</a>
            }
        </div>
        <div class="span3"><a id="publishTripBtn" href="#publishTripModal" data-toggle="modal" class="btn btn-success btn-large input-block-level"> @if(t.tripStatus != 0){Publish Trip} else {Re-Publish Trip}</a></div>
    </div>
    <br/>

    <!-- collaboration -->
    <div class="">

        <div class="subTitle"> CO-BRANDING</div>
        @if(t.tripBranding != null && t.tripBranding.size() > 1) {
        <p style="text-align:left" class="muted"> Select the brand(s) that will appear to the travelers and set the primary contact for this trip itinerary. <br/> </p>
        <table class="table table-stripped">
            <thead>
            <tr>
                <th style="width: 100px">Company</th>
                <th style="width: 100px"></th>

                <th style="width: 50px;text-align: center;">Show/Hide</th>
                <th style="width: 50px;text-align: center;">Primary Contact</th>

            </tr>
            </thead>
            @for(p <- t.tripBranding) {
            <tr style="padding-bottom: 10px">
                <td style="width: 100pxl; vertical-align: middle">
                    @p.cmpyName
                </td>
                <td style="width: 100px">
                    @if(p.cmpyLogoUrl != null && p.cmpyLogoUrl.length > 0){ &nbsp <img src="@p.cmpyLogoUrl" alt="@p.cmpyName Logo" style="width: 70px;margin-top: 5px">}
                </td>
                <td style="text-align: center;width: 50px">
                    <input type="checkbox" name="brandingEnable@p.cmpyId" id="brandingEnable@p.cmpyId" value="Y" @if(p.isEnabled){checked} onchange="javascript:toggleTripBranding('@p.cmpyId')"><br>

                </td>
                <td style="text-align: center;width: 50px">
                    <input type="radio" name="brandingMain" id="brandingMain@p.cmpyId" value="Y" @if(p.isMainBrand){checked} @if(!p.isEnabled){disabled} onchange="javascript:makeMainBrand('@p.cmpyId')"><br>

                </td>
            </tr>
            }
        </table>
        } else {
        <p style="text-align:left" class="muted">
            Your trip itinerary can be co-branded to display your profile as well as that of the travel professional(s) that you are collaborating with.
            You can select who should be the primary contact and whether or not to hide a specific brand, including your own.<br/>
        <ul>
            <li class="muted">
                The co-branding feature is available for both Umapped members and non-members. Non-members are invited to create a free account and upload their branded profile information.
            </li>
            <li class="muted">
                The user who created the trip itinerary is the only one that can manage co-branding. Co-ordinate with your collaborators to decide how you would like your shared trip itinerary to be branded.
            </li>
        </ul>
        </p>
        }
    </div>
    <br/>
    <br/>

    <div id="SimpleTravelersPit" style="margin-top: 20px;">
        <div class="subTitle">ADD TRAVELERS</div>
        <fieldset><legend> Travelers @if(t.passengers != null && t.passengers.size>0){<span class="badge badge-success">@t.passengers.size()</span>}</legend>  </fieldset>

        <form id="simpleTripPassengerForm">
            <input type="hidden" id="inTripId" value="@t.tripId" name="inTripId">
            <input type="hidden" id="inGroupId" value="@t.groupId" name="inGroupId">
            <input type="hidden" id="inViewType" value="SimpleTripInfo" name="inViewType">
            <div class="row-fluid">
                <div class="span4">
                    <label>Email <em>*</em> </label>
                    <input type="text" class="input required email input-block-level" placeholder="Traveler's Email" id="inEmail" name="inEmail">
                </div>
                <div class="span2">
                    <label>First Name <em>*</em> </label>
                    <input type="text" class="input required input-block-level" placeholder="Traveler's First Name" id="inFirstName" name="inFirstName">
                </div>
                <div class="span2">
                    <label>Last Name <em>*</em> </label>
                    <input type="text" class="input required input-block-level" placeholder="Traveler's Last Name" id="inLastName" name="inLastName">
                </div>

                <div class="span2">
                    <label>Mobile Phone Number</label>
                    <input type="text" class="input phone input-block-level" placeholder="Traveler's Mobile Phone" id="inMSISDN" name="inMSISDN">
                </div>
                <div class="span2">
                    <label>&nbsp; </label>
                    <button id="addTravelerBtn" type="submit" class="btn btn-primary input-block-level"
                            onclick="javascript:postForm('/tours/newTour/reviewAddPassenger', 'simpleTripPassengerForm');return false;">Add Traveler
                    </button>
                </div>
            </div>
        </form>

        @if(t.passengers != null && t.passengers.size() > 0) {
        <table class="table table-striped table-condensed" style="border-collapse:collapse;">
            <thead>
            <tr>
                <th style="width:5%"></th>
                <th style="width:20%">NAME</th>
                <th style="width:20%">EMAIL</th>
                <th style="width:15%">MOBILE</th>
                <th style="width:20%">NOTE</th>
                <th style="width:20%"></th>
            </tr>
            </thead>
            <tbody>
            @for(p <- t.passengers) {
            <tbody>
            <tr>
                <td style="width:5%"></td>
                <td style="width:20%">@p.name</td>
                <td style="width:20%">@p.email</td>
                <td style="width:15%">@p.msisdn</td>
                <td style="width:20%">
                    @if(p.isUmappedUser){
                    Registered Mobile User
                    } else {
                    Not a registered Mobile user
                    }
                </td>
                <td style="width:20%; text-align: center">
                    <a href="#deletePassengerModal@p.id" role="button" class="btn btn-danger" data-toggle="modal">Remove</a>
                </td>
            </tr>
            </tbody>
            }
            </tbody>
        </table>
        } else {
        <h3> NO TRAVELERS ADDED</h3>
        }

    </div>
    <br/>



    <!--modal to delete passengers -->
    <!-- generate modal for each passengger -->
    @if(t.passengers != null && t.passengers.size() > 0) {
        @for(p <- t.passengers) {
            <script>
                $('#deletePassengerSubmit@p.id').click(function() {
                    $('#deletePassengerModal@p.id').modal('hide');
                });
            </script>

            <div id="deletePassengerModal@p.id" class="modal hide fade">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>Confirm Delete @p.name</h3>
                </div>
                <div class="modal-body">
                    <p>Remove @p.name from this trip?</p>
                </div>
                <div class="modal-footer">
                    <form id="deletePassengerForm@p.id">
                        <input type="hidden" id="tripId" name="inTripId" value=@t.tripId>
                        <input type="hidden" id="inOriginPage" name="inOriginPage" value="SimpleTripInfo">
                        @if(t.groupId != null && t.groupId.trim().length() > 0){
                        <input type="hidden" id="inGroupId" name="inGroupId" value="@t.groupId">
                        }

                        <input type="hidden" id="passengerId" name="inPassengerId" value=@p.id>
                        <input type="hidden" id="email" name="inEmail" value=@p.email>


                        <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
                        <button type="submit" class="btn btn-danger " id="deletePassengerSubmit@p.id"
                                onclick="javascript:postForm('/tours/newTour/reviewDeletePassenger', 'deletePassengerForm@p.id');return false;">Delete
                        </button>
                    </form>
                </div>
            </div>

        }
    }

    <!-- modal for publish -->
    <script>
        $('#publishTripSubmit').click(function() {
          $('#publishTripModal').modal('hide');
        });
    </script>

    <div id="publishTripModal" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Publish Trip</h3>
        </div>
        <form id="publishTripForm">

            <div class="modal-body">
                <div class="row-fluid">
                    <p>
                        When you publish this trip, an email notification will be sent to all the travelers and collaborators with a link to the
                        @if(t.publishList != null && t.publishList.size() > 0) {
                        <a href="@routes.WebItineraryController.index(t.compositeId)"  target="_blank"> online itinerary  </a>
                        } else {online itinerary} and the mobile app. <br><br>
                    </p>
                    <br/>
                    <label> Note:</label>
                    <textarea id="inComments" class="field span12" rows="3" name="inComments"></textarea>
                    <input type="hidden" id="inTripId" value="@t.tripId" name="inTripId">
                    <input type="hidden" id="inGroupId" value="@t.groupId" name="inGroupId">
                    <input type="hidden" id="inViewType" name="inViewType" value="SimpleTripInfo">
                    @if(t.tripStatus != 0){
                    <br/>
                    <label class="radio"><input type="radio" name="inPublish" value="Y" checked>Publish an interactive version of this trip<br></label>
                    <label class="radio"><input type="radio" name="inPublish" value="">Publish a read only version of this trip<br></label>
                    Tip: Publish as read-only for a proposal or before the trip is confirmed - the Trip will remain in Pending status <br/>


                    } else {
                    <input type="hidden" id="inPublish" value="Y" name="inPublish">
                    }

                    @if(t.publishList == null || t.publishList.size() == 0) {
                    <input type="hidden" id="inSkipTravellerEmail" name="inSkipTravellerEmail" value="false">
                    } else {
                    @if(t.passengers != null && t.passengers.size() > 0) {
                    <br/>
                    <p>AUTOMATED TRAVELER NOTIFICATION:</p>

                    <label class="radio"> <input type="radio" name="inSkipTravellerEmail" value="true" checked>Do Not Send Email Notification to Travelers<br></label>
                    <label class="radio">   <input type="radio" name="inSkipTravellerEmail" value="false">Send Notification Email to Travelers<br></label>

                    } else {
                    <input type="hidden" id="inSkipTravellerEmail" name="inSkipTravellerEmail" value="false">
                    }

                    }
                    <br/>
                    <p>
                        If you don't have the email addresses of the travelers, check the box below "Allow Self-Registration for Mobile". The travelers will be able to register and access the trip on the mobile app via the web link.
                    </p>
                    <label class="checkbox">
                        <input type="checkbox" name="inAllowSelfRegistration" value="Y" @if(t.allowSelfRegistration || t.publishList == null || t.publishList.size() == 0){checked}> ALLOW SELF-REGISTRATION FOR MOBILE
                    </label>


                </div>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
                <button type="submit" class="btn btn-success " id="publishTripSubmit"
                        onclick="javascript:postForm('/trips/newTrip/review','publishTripForm');return false;">Publish
                </button>
            </div>
        </form>
    </div>



</div><--endPageBody-->