@(date: String, pnr: String, city: String, m: com.mapped.publisher.view.TripBookingView)
@import com.umapped.persistence.enums.ReservationType
@import com.mapped.publisher.utils.Utils

@if(date != null){
@date <br/><br/>
}

@if(city != null){
@city <br/><br/>
}

@if(pnr != null){
@pnr <br/><br/>
}
@views.html.trip.tripSummary(m)

