@(m: com.mapped.publisher.view.TripBookingView)
@import com.umapped.persistence.enums.ReservationType
@import com.mapped.publisher.utils.Utils

@if(m != null){
    @m.getChronologicalBookings()

     @for((k, i) <- m.chronologicalDates.zipWithIndex ) {
        <p>
            <span style="font-size: 16px;color:#333333;">@k</span>
            <br/>
        @for((p, j) <- m.chronologicalBookings.get(k).zipWithIndex) {
          @if(p.noteId == null || p.noteId == 0) {
            @if(p.detailsTypeId.getRootLevelType == ReservationType.FLIGHT) {
              Flight from @p.departureAirport (@p.departureAirportCode) to @p.arrivalAirport (@p.arrivalAirportCode)
            } else {
              @if(p.detailsTypeId.getRootLevelType == ReservationType.HOTEL) {
                @if(p.endDatePrint != null && p.startDatePrint != null) {
                  @if(p.endDateMs == p.startDateMs) {
                    Check out: @p.providerName
                  } else {
                    Check in: @p.providerName (@Utils.getDaysBetween(p.startDateMs, p.endDateMs) @if(Utils.getDaysBetween(p.startDateMs, p.endDateMs) <= 1){Night}else{Nights})
                  }
                } else {
                  @if(p.endDatePrint != null) {
                    Check out of @p.providerName
                  } else {
                    Check in to @p.providerName (@Utils.getDaysBetween(p.startDateMs, p.endDateMs) @if(Utils.getDaysBetween(p.startDateMs, p.endDateMs) <= 1){Night}else{Nights})
                  }
                }
              } else {
                @if(p.detailsTypeId.getRootLevelType == ReservationType.CRUISE) {
                  Cruise: @p.providerName from @p.cruise.portDepart to @p.cruise.portArrive (@Utils.getDaysBetween(p.startDateMs, p.endDateMs) @if(Utils.getDaysBetween(p.startDateMs, p.endDateMs) <= 1){Day}else{Days})
                } else {
                  @if(p.detailsTypeId.getRootLevelType == ReservationType.ACTIVITY) {
                    @if(p.detailsTypeId == ReservationType.TOUR) {
                        @p.providerName
                    } else {
                      @if(p.detailsTypeId == ReservationType.EVENT) {
                          @p.providerName
                      } else {
                        @if(p.detailsTypeId == ReservationType.RESTAURANT) {
                          Restaurant Reservation at @p.providerName
                        } else {
                          @if(p.detailsTypeId == ReservationType.SHORE_EXCURSION) {
                            Shore Excursion - @p.providerName
                          } else {
                            @if(p.detailsTypeId == ReservationType.SKI_LESSONS) {
                              Ski Lessons - @p.providerName
                            } else {
                              @if(p.detailsTypeId == ReservationType.SKI_LIFT) {
                                Ski Lift - @p.providerName
                              } else {
                                @if(p.detailsTypeId == ReservationType.SKI_RENTALS) {
                                  Ski Rentals - @p.providerName
                                } else {
                                  @if(p.detailsTypeId == ReservationType.CRUISE_STOP) {
                                    Cruise Stop - @p.providerName
                                  } else {
                                    @p.providerName
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  } else {
                    @if(p.detailsTypeId.getRootLevelType == ReservationType.TRANSPORT) {
                      @if(p.detailsTypeId == ReservationType.CAR_RENTAL) {
                        Car Rental Pick-up from @p.providerName
                      } else {
                        @if(p.detailsTypeId == ReservationType.CAR_DROPOFF) {
                          Car Rental Dropoff at @p.providerName
                        } else {
                          @if(p.detailsTypeId == ReservationType.RAIL) {
                            Train: @p.providerName from @p.locStartName to @p.locFinishName
                          } else {
                            @if(p.detailsTypeId == ReservationType.PRIVATE_TRANSFER) {
                              @p.providerName
                            } else {
                              @if(p.detailsTypeId == ReservationType.TAXI) {
                                @p.providerName
                              } else {
                                @if(p.detailsTypeId == ReservationType.BUS) {
                                  @p.providerName
                                } else {
                                  @if(p.detailsTypeId == ReservationType.PUBLIC_TRANSPORT) {
                                    @p.providerName
                                  } else {
                                    @if(p.detailsTypeId == ReservationType.FERRY) {
                                      @p.providerName
                                    } else {
                                      @p.providerName
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    } else {
                      @p.providerName
                    }
                  }
                }
              }
            }
          }
          <br/>
        }
        </p>
       <br/>

    }

}

