@(m:  com.mapped.publisher.view.TripsView)
@if(m.message!=null && m.message.length > 0) {
<--alertMsg-->
<div id="alertMsg">
    <h4> @m.message</h4>
</div>
<--endAlertMsg-->
}

<--pageTitle-->
<div id="pageTitle">
    <h1 class="page-title"> My Trips <a  href="javascript:showHelpCurrentPage();"> <img src="@m.imgUrl/img/u_btn_info.png?v20170405"> </a>  </h1>
  <a class="btn btn-success btn-large pull-right" href="#" onclick="javascript:getPage('@routes.TripController.newTrip()');return false;"><i class="fa fa-plus"></i>&nbsp;New Trip</a>

</div>
<--endPageTitle-->

<--pageHeader-->
<div id="pageHeader">
</div>
<--endPageHeader-->

<--pageBody-->
<div id="pageBody">
<script>
  $(function () {
    $('#myTab a:first').tab('show');
    var term = escape($('#searchTerm').val());
    var cmpy = $('#cmpyId').val();
    getSearchResult('/tours/myTours?inSearchTerm='+ term+'&inCmpyId='+ cmpy + '&searchType=0&inTableName=myTours','myTours');
  })

  var selectedTable = "myTours";
  var lastRequests =  new Object();
  var timeoutBetweenRequests = 30 * 1000; // 30 seconds

  /* searchTrips (searchType, tableName)
  * ajax call to get the search results
  * built-in timeout to delay requests by 60secs
  */
  function searchTours(searchType, tableName) {
    if (selectedTable != tableName) {
      var now = new Date();
      var lastRequestTimestamp = 0;
      if (lastRequests.hasOwnProperty(tableName)) {
          lastRequestTimestamp =  lastRequests[tableName];
      }

      if ((now.getTime() - lastRequestTimestamp) > timeoutBetweenRequests) {
          $("#" + tableName + " > tbody tr").remove();
          var term = escape($('#searchTerm').val());
          var cmpy = $('#cmpyId').val();
          if (searchType == 0 || searchType == 1)
              getSearchResult('/tours/myTours?inSearchTerm='+ term+'&inCmpyId='+ cmpy + '&searchType=' + searchType  + '&inTableName=' + tableName,tableName);
          else
              getSearchResult('/tours/otherTours?inSearchTerm='+ term+'&inCmpyId='+ cmpy + '&searchType=' + searchType + '&inTableName=' + tableName ,tableName);

          selectedTable=tableName;
          lastRequests[tableName] = now.getTime();
      }
    }
  }

  function resetSearch () {
    lastRequests =  new Object();
    selectedTable = "";
    $('#myTab a:first').tab('show');
    $('#searchMsg').text("SEARCH RESULTS: " + $('#searchTerm').val());
  }
</script>

<div class="">
    <legend>
        <div style="font-family:'Open Sans Condensed',sans-serif;">Search Trips </div>
    </legend>
    <form id="tripSearchForm">
        <div class="row-fluid">
            <div class="span3">
                <Label> Keyword <em>*</em></Label>
                <input type="text" placeholder="Enter search keyword" id="searchTerm" name="inSearchTerm" class="required input-block-level" minLength="2"
                @if(m.searchTerm != null && m.searchTerm.length() > 0) {
                value="@m.searchTerm"
                }
                >
            </div>
            <div class="span3">
                <label> Trip Status</label>
                <select name="searchStatus" id="searchStatus">
                    <option selected="Y" value=3>All</option>
                    <option value=0>Published</option>
                    <option value=1>Pending</option>

                </select>

            </div>
            <div class="span3">
                <br/>
                @if(m != null && m.tripAgencyList != null) {
                <select style="display: none" name="inCmpyId" id="cmpyId">

                    @for((key, value) <- m.tripAgencyList) {
                    @if(key == m.cmpyId) {
                    <option selected="Y" value=@key>@value</option>
                    } else {
                    <option value=@key>@value</option>
                    }
                    }
                </select>
                }
              @if(m.displayCmpyTabs){
                  <input type="checkbox" name="inAllTrips" id="allTrips" value="true" @if(m.allTrips){checked}> Include all Company Trips
                  <br/>
              }
                <input type="checkbox" name="inArchived" id="archived" value="true" @if(m.searchArchives){checked}> Include Past trips

            </div>
            <div class="span2 pull-right">
                <label>&nbsp;</label>
                <button type="submit" class="btn btn-info btn-large pull-right"
                onclick="javascript:postForm('/trips/searchTrips','tripSearchForm');return false;">Search
                </button>
            </div>
        </div>
        <br>

    </form>
</div>
<br>

<div class="tabbable " style="">
  <div id="searchMsg" class="subTitle">ALL TRIPS</div>

  <ul class="nav nav-tabs" id="myTab" style="padding-top:10px;">
    <li ><a href="#published" data-toggle="tab" onclick="javascript:searchTours(0, 'myTours');"><i class="fa fa-check pull-left"></i> &nbsp;My Published Trips</a></li>
    <li ><a href="#pending" data-toggle="tab" onclick="javascript:searchTours(1, 'myPendingTours');" ><i class="fa fa-edit pull-left"></i> &nbsp;My Pending Trips </a></li>
    @if(m.displayCmpyTabs) {
    <li><a href="#publsihedGroup" data-toggle="tab" onclick="javascript:searchTours(2, 'otherTours');"><i class="fa fa-check pull-left"></i> &nbsp;All Published Trips </a></li>
    <li><a href="#pendingGroup" data-toggle="tab" onclick="javascript:searchTours(3, 'otherPendingTours');"><i class="fa fa-edit pull-left"></i> &nbsp;All Pending Trips </a></li>
    }
  </ul>

  <div class="tab-content">
    <div class="tab-pane fade" id="published">

      <table class="table" id="myTours">
          <thead>
          <tr>
              <th style="width:80px"></th>
              <th style="width:40%">NAME</th>
              <th style="width:20%">DATE</th>
              <th style="width:30%">COMPANY</th>
              <th style="width:10%"></th>
          </tr>
          </thead>
          <tbody>
          </tbody>
      </table>
    </div>

<div class="tab-pane fade" id="pending">
    <table class="table " id="myPendingTours">
        <thead>
        <tr>
            <th style="width:80px"></th>
            <th style="width:40%">NAME</th>
            <th style="width:20%">DATE</th>
            <th style="width:30%">COMPANY</th>
            <th style="width:10%"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
            </td>
        </tr>
        </tbody>
    </table>
</div>

@if(m.displayCmpyTabs){

<div class="tab-pane fade" id="publsihedGroup">

    <table class="table " id="otherTours">
        <thead>
        <tr>
            <th style="width:80px"></th>
            <th style="width:40%">NAME</th>
            <th style="width:20%">DATE</th>
            <th style="width:20%">COMPANY</th>
            <th style="width:15%">CREATED BY</th>
            <th style="width:5%"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="tab-pane fade" id="pendingGroup">

    <table class="table " id="otherPendingTours">
        <thead>
        <tr>
            <th style="width:80px"></th>
            <th style="width:40%">NAME</th>
            <th style="width:20%">DATE</th>
            <th style="width:20%">COMPANY</th>
            <th style="width:15%">CREATED BY</th>

            <th style="width:5%"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
            </td>
        </tr>
        </tbody>
    </table>
</div>
    }

</div> <!-- tab content -->
</div> <!-- tabable content -->

<div id="dynamicModal">
</div>

</div>
<--endPageBody-->
