@(m:  com.mapped.publisher.view.TripInfoView)
@import com.mapped.publisher.common.APPConstants
@import com.mapped.publisher.common.SecurityMgr.AccessLevel
@import models.publisher.ImageLibrary.ImgSrc


@if(m.message!=null) {
<--alertMsg-->
<div id="alertMsg">
    <h4> @m.message</h4>
</div>
<--endAlertMsg-->
}

<--pageTitle-->
<div id="pageTitle">
  <h1 class="page-title"></h1>
  <a class="btn btn-success btn-large pull-right" href="#" onclick="javascript:getPage('@routes.TripController.newTrip()');return false;"><i class="fa fa-plus"></i>&nbsp;New Trip</a>

</div>
<--endPageTitle-->

<--pageHeader-->
<div id="pageHeader">
  @if(m!= null && m.tripName != null) {
  <h3> @m.tripName | @m.tripStartDatePrint to @m.tripEndDatePrint</h3>
  }
</div>
<--endPageHeader-->

<--pageBody-->
<div id="pageBody">
  <script>

    @if(m.accessLevel.lt(AccessLevel.APPEND)) {
      $("#tripInfoForm :input").attr("disabled", true);
    }

    @if(m.accessLevel.ge(AccessLevel.APPEND)) {
      $("#messengerSubscription").bootstrapSwitch();
    }

  function reloadNeeded() {
    if (photoUploadedCount > 0) {
      var url = "trips/tripInfo?tripId=@m.tripId";
      getPage(url);
    }
  }

  $("#startDate").datepicker({
    defaultDate: "+1w",
    changeMonth: true,
    numberOfMonths: 2,
    onClose: function(selectedDate) {
      $("#endDate").datepicker("option", "minDate", selectedDate);
    }
  });
  $("#endDate").datepicker({
    defaultDate: "+1w",
    changeMonth: true,
    numberOfMonths: 2,
    onClose: function(selectedDate) {
      $("#startDate").datepicker("option", "maxDate", selectedDate);
    }
  });


  @if(m.tripId != null && m.tripId.length() > 0) {
  function showResponse(responseText, statusText, xhr, $form) {
    $('#uploadPhotoModal').modal('hide');
    getPage(uploadSuccessUrl);
  }

  function uploadPhoto() {
    $("#uploadSpinner").show();

    var uploadurl = '/tours/uploadCover?inTripId=@m.tripId&inCmpyPhotoName=' + escapeFilename($("#inCmpyPhotoFile")
                    .val()
                    .replace("C:\\fakepath\\", ""));
    if ($.browser.msie) {
      signedS3(uploadurl, function(signedURL, publicURL, s3Bucket) {
        return iFrameUpload(signedURL, publicURL, s3Bucket);
      });
    }
    else {
      var s3upload = s3upload != null ? s3upload : new S3Upload({
        file_dom_selector: 'inCmpyPhotoFile',
        s3_sign_put_url: uploadurl,
        s3_object_caption: $("#inCmpyPhotoCaption").val(),
        onProgress: function(percent, message) {
          $("#progressUpload").text(percent + "%");
        },
        onFinishS3Put: function(public_url) {
          $('#uploadPhotoModal').modal('hide');
          getPage(public_url);
          console.log('Upload finished: ', public_url);
        },
        onError: function(status) {
          $("#progressBarDiv").hide();
          alert('Upload error: ', status);
          console.log('Upload error: ', status);
        }
      });
    }
  }

  $('input[id=inCmpyPhotoFile]').change(function() {
    var extension = $("#inCmpyPhotoFile").val().substring($("#inCmpyPhotoFile").val().lastIndexOf('.'));
    var ValidFileType = ".jpeg, .jpg , .png , .gif";
    if (ValidFileType.toLowerCase().indexOf(extension.toLowerCase()) < 0) {
      alert("Please only select an image file of type (JPG, GIF, PNG)");
      $("#uploadPhotoSubmit").attr('disabled', true);
      return;
    }

    if (!$.browser.msie) {
      var size = this.files[0].size;
      if (size > 1024000) {
        alert("The image file must be less than 1MB");
        $("#uploadPhotoSubmit").attr('disabled', true);
        return;
      }
    }

    $('#pretty-input').val($(this).val().replace("C:\\fakepath\\", ""));
    $("#uploadPhotoSubmit").attr('disabled', false);

  });

  }

  $("#tripInfoForm :input").change(function() {
    $("#tripInfoForm").data('changed', true);
  });


  //update recently updated trip menu - remove duplicates and keep limit to 10
  @if(m != null && m.tripId !=null && m.tripName != null && m.tripName.length > 0) {
  $(function() {
    addRecentHistory('RecentTrips',
                     '@m.tripId',
                     '@m.tripName',
                     "javascript:getPage('@controllers.routes.TripController.tripInfo(m.tripId)');");
  });
  }


  //trip name autocomplete for merge
  @if(m.tripId != null && m.accessLevel.ge(AccessLevel.OWNER) &&
      !m.hasCollaboratorEntries &&
      m.tripStatus == APPConstants.STATUS_PUBLISH_PENDING) {

  $(function() {
    $("#mergeTripSubmit").prop('disabled', true);
  });
  $('#targetTripName').autocomplete({
    source: "@controllers.routes.TripController.tripAutocomplete(m.tripId)",
    minLength: 4,
    select: function(event, ui) {
      $("#targetTripName").val(ui.item.label);
      $("#targetTripId").val(ui.item.id);
      $("#mergeTripSubmit").prop('disabled', false);
      return false;
    },
    response: function(event, ui) {
      $("#targetTripId").val("");
      if (ui.content.length == 1) {
        $("#targetTripName").val(ui.content[0].label);
        $("#targetTripId").val(ui.content[0].id);
        $("#mergeTripSubmit").prop('disabled', false);
        $(this).autocomplete("close") ;
      }
    }
  });
  $("#targetTripName").autocomplete("option", "appendTo", "#mergeTripForm");

  }

  @if(m.cover != null) {
    //Image cropper handlers
    function submitCropImg() {
      var url = '@routes.TripController.tripInfo(m.tripId)';
      cropImg(url, '@m.cover.id', '@ImageController.CropUse.TRIP_COVER', '@m.tripId');
    }

    function restoreImgCropper() {
      var url = '@routes.TripController.tripInfo(m.tripId)';
      restoreOrigImg(url, '@m.cover.id', '@ImageController.CropUse.TRIP_COVER', '@m.tripId');
    }
  }
  </script>

  @views.html.trip.tripWizard(m.tripId, m.imgUrl, 1, m.accessLevel)

  <form id="tripInfoForm" class="currentWizardForm">
    <div class="row-fluid">
      <div class="span8">
        <div class="row-fluid">
            <div class="span8">
              <label> Trip Name <em>*</em></label>

              @if(m != null && m.tripId != null) {
                <input type="hidden" id="inTripId" name="inTripId" placeholder="Trip Name" class="required" minlength="5" value=@m.tripId >
              }

              <input type="text" id="inTripName" name="inTripName" placeholder="Trip Name" class="required input-block-level" minlength="5"
                @if(m != null && m.tripName != null) { value="@m.tripName"}>
            </div>
            <div class="span4">
                <label>Company</label>
                <h5> @m.tripAgency </h5>
                <input type="hidden" name="inTripAgency" value="@m.tripAgencyId">
            </div>
        </div>
        <br/>
        <div class="row-fluid">
          <div class="span2">
              <label> Start Date <em>*</em></label>
              <div class="input-append date" id="startDate1" >
                  <span class="add-on"><i class="fa fa-calendar"></i></span>
                  <input type="text"  id="startDate" name="inStartDate" readonly class="input-small required"
                  @if(m!= null && m.tripStartDate!=null) {
                  value=@m.tripStartDate
                  }>
              </div>
          </div>
          <div class="span2">

              <label> End Date <em>*</em></label>
              <div class="input-append date" id="endDate1" >
                  <span class="add-on"><i class="fa fa-calendar"></i></span>
                  <input type="text" id="endDate" name="inEndDate" readonly class="input-small required"
                  @if(m!= null && m.tripEndDate!=null) {
                  value=@m.tripEndDate
                  }>
              </div>
          </div>
        </div>

        <div class="row-fluid">
          <div class="span12">
            <label style="@if(m==null || m.tripNote==null || m.tripNote.length <= 1) {display:none;}">Message to Travellers:</label>
            <textarea style="@if(m==null || m.tripNote==null || m.tripNote.length <= 1) {display:none;}" id="inTripNote"
                      name="inTripNote" class="field span12" rows="5">@if(m!= null && m.tripNote!=null) {@m.tripNote}</textarea>
          </div>
        </div>

        <div class="row-fluid">
          <div class="span4">
            <label>Tag:</label>

            <input type="text" id="inTripTag" name="inTripTag" class="input-block-level" @if(m!= null && m.tripTag!=null) {value='@m.tripTag'} >
          </div>
        </div>

        @if(m.accessLevel.ge(AccessLevel.APPEND)) {
          @if(m.messengerSubscriptionControl) {
            <div class="row-fluid" style="padding-top: 20px">
              <div class="span4">
                <label>Subscribed to the Messenger</label>
                <input type="checkbox" id="messengerSubscription" name="inMessengerSubscription" @if(m.messengerSubscription) {checked}>
              </div>
            </div>
          } else {
            <input type="hidden" name="inMessengerSubscription" value="true">
          }
        }

      </div>
      <div class="span4 pagination-centered">
          @if(m.cover != null){
            <a href="@m.cover.url" data-lightbox="image-1" data-title= "" target="_blank">
                <a  href="#uploadPhotoModal" data-controls-modal="uploadPhotoModal" data-backdrop="static" data-keyboard="false" data-toggle="modal" >  <img class="img-rounded" src="@m.cover.url" width="100%"></img> </a>
            </a>
          } else {
              @if(m.tripId != null) {
                <a  href="#uploadPhotoModal"  data-controls-modal="uploadPhotoModal" data-backdrop="static" data-keyboard="false" data-toggle="modal">  <img class="img-rounded" width="290" height="290" src="@m.imgUrl/img/photo-placeholder-gray.png" alt="Add Cover Photo"/> </a>
              }
          }
          <br/><br/>
        @if(m.tripId != null && m.accessLevel.ge(AccessLevel.APPEND)){
          @if(m.cover != null){
            <button type="button" href="#deletePhotoModal" id="deleteBtn" class="btn btn-danger btn-small"  data-toggle="modal"><i class="fa fa-trash-o"></i>&nbsp;Delete</button>
            <button type="button"  id="cropBtn" class="btn btn-info btn-small"  onclick='imageCropper("@m.cover.url");return false;'><i class="fa fa-crop"></i>&nbsp;Crop</button>
          }
          <button  data-controls-modal="uploadPhotoModal" data-backdrop="static" data-keyboard="false" type="button" href="#uploadPhotoModal" id="uploadBtn" class="btn btn-primary btn-small" data-toggle="modal"><i class="fa fa-picture-o"></i> Upload </button>
          @if(m.autoPickPhoto) {
          <button type="button"  id="pickBtn" class="btn btn-info btn-small"  onclick='doPost("/trips/autoCover/@m.tripId");return false;'><i class="fa fa-magic"></i>&nbsp;Auto Pick</button>
          }
        }
      </div>
    </div>
    <br/>
    <br/>
    <div class="row-fluid">
      <div style="float:right;padding-right:0px">
        @if(m.tripId != null && m.accessLevel.ge(AccessLevel.OWNER) && !m.hasCollaboratorEntries) {
          <div class="btn-group" id="manageTripBtn">
            <button class="btn btn-primary btn-large" data-toggle="dropdown">Manage Trip</button>
            <button class="btn btn-primary btn-large dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              @if(m.tripStatus == APPConstants.STATUS_PUBLISH_PENDING && !m.hasCollaboratorEntries) {
                <li style=" padding-top: 5px;padding-bottom: 5px">
                  <a data-controls-modal="mergeTripModal" data-backdrop="static" data-keyboard="false" data-toggle="modal" href="#mergeTripModal">
                    Merge This Trip
                  </a>
                </li>
              }
              @if(!m.hasCollaboratorEntries) {

                <li style="padding-top: 5px;padding-bottom: 5px">
                  <a data-controls-modal="copyTripModal" data-backdrop="static" data-keyboard="false" data-toggle="modal" href="#copyTripModal">
                    Duplicate This Trip
                  </a>
                </li>
                <li style=" padding-top: 5px;padding-bottom: 5px">
                  <a data-controls-modal="convertTripModal" data-backdrop="static" data-keyboard="false" data-toggle="modal" href="#convertTripModal">
                    Convert To A Template
                  </a>
                </li>
              }
                </ul>
              </li>
            </ul>
          </div>
        }

        @if(m.tripId != null && m.accessLevel.gt(AccessLevel.APPEND_N_PUBLISH)){
          @if(m.tripStatus != APPConstants.STATUS_PUBLISHED || (m.tripStatus == APPConstants.STATUS_PUBLISHED
            && !m.hasPublishedGroups && m.collabView != null && (m.collabView.collaborators == null || m.collabView.collaborators.size() <= 0)
            && (m.passengers == null || m.passengers.size() <= 0))){
            <a  style="width:100px;text-align: center" href="#deleteModal" role="button" class="btn btn-danger btn-large" data-toggle="modal">Delete Trip</a>
          }
          <button type="submit" class="btn btn-success btn-large" style="padding: 11px 10px; width : 100px ;"
                  onclick="postForm ('@routes.TripController.createTrip()', 'tripInfoForm' );return false;">Save Trip</button>
        } else {
          @if(m.tripId == null) {
            <button type="submit" class="btn btn-success btn-large" style="padding: 11px 10px; width : 100px ;"
                    onclick="postForm ('@routes.TripController.createTrip()', 'tripInfoForm');return false;">Save Trip</button>
          }
        }
      </div>
    </div>
  </form>

  @if(m.tripId != null){
  <script>
      $('#deleteTripSubmit').click(function() {
        $('#deleteModal').modal('hide');
      });
  </script>

  <div id="deleteModal" class="modal hide fade">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3>Confirm Delete</h3>
      </div>
      <div class="modal-body">
          <p>Delete this trip?</p>


      </div>
      <div class="modal-footer">
          <form id="deleteTripForm">
              <input type="hidden" id="tripId" name="tripId" value=@m.tripId>
              <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
              <button type="submit" class="btn btn-danger " id="deleteTripSubmit"
                      onclick="javascript:postForm('/tours/deleteTour', 'deleteTripForm');return false;">Delete
              </button>
          </form>
      </div>
  </div>
  }




  @* Collaboration and Recent Activity appear only for existing trips *@
@if(m.tripId != null && m.tripId.length() > 0) {

  @if(m.collaborationEnabled) {
    <!-- Trip Collaboration -->
    @views.html.trip.collaborate.collaborators(m.collabView, routes.TripController.tripInfo(m.tripId).url, "home")
    <!-- END Trip Collaboration -->
  }

  <!-- Trip Activity -->
  @views.html.trip.recentActivity(m.rav)
  <!-- END Trip Activity -->
}

  <!-- modal for cover photo -->
  @if(m.tripId != null && m.tripId.length() > 0) {
    <div id="uploadPhotoModal" class="modal hide container fade" tabindex="-1" data-replace="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Add a Trip Cover Photo</h3>
      </div>
      <div class="modal-body">
        <div class="tabbable"> <!-- Only required for left/right tabs -->
          <ul class="nav nav-tabs" id="photoTabs">
            <li class="active">
              <a href="#imgLibraryTab" data-toggle="tab">
                <i class="fa fa-th pull-left"></i>Search Image Library</a>
            </li>
            <li>
              <a href="#imgWebTab" data-toggle="tab">
                <i class="fa fa-globe pull-left"></i> Search Web</a>
            </li>
            <li>
              <a href="#uploadTab" data-toggle="tab">
                <i class="fa fa-arrow-up pull-left"></i> Upload Photo</a>
            </li>
          </ul>
          <div class="tab-content">
            <div id="imgLibraryTab" class="tab-pane active ">
              <legend>Search Image Library</legend>
              <div class="">

                <form id="imgSearchForm">
                  <input type="hidden" id="inCmpyId" name="inCmpyId" value="@m.tripAgencyId" >
                  <input type="hidden" name="inImgSearchType" value="@ImgSrc.UMAPPED" >
                  <input type="hidden" id="inTripId" name="inTripId" value=@m.tripId>
                  <input type="hidden" id="inMultipleFiles" name="inMultipleFiles" value="0">

                  <div class="row-fluid">

                    <div class="span6">
                      <label>Keyword</label>
                      <input type="text" id='inKeyword' name='inKeyword' placeholder="keywords"
                      class="input-block-level required"/>
                    </div>
                    <div class="span3 ">
                      <label>&nbsp;</label>

                      <button type="submit" class="btn btn-success pull-left btn-large"
                      onclick="javascript:$('#imgSearchSpinner').show();
                      javascript:doSearchForm('/img/search', 'imgSearchForm', 'imgSearchResults');
                      return false;"> Search
                      </button>
                    </div>
                  </div>
                </form>
                <div class="row-fluid">
                  <p class="muted"> Search for a photo from your library and the Umapped database.</p>
                </div>
              </div>
              <div id="searchResults">
                <div id="imgSearchResults">

                </div>
              </div>
            </div>

            <div id="imgWebTab" class="tab-pane ">
              <legend>Search/Save Image From a Website</legend>
              <div class="well">

                <form id="imgWebSearchForm">
                  <input type="hidden" id="inCmpyId" name="inCmpyId" value="@m.tripAgencyId" >
                  <input type="hidden" name="inImgSearchType" value="@ImgSrc.WEB" >
                  <input type="hidden" id="inTripId" name="inTripId" value=@m.tripId>
                  <input type="hidden" id="inMultipleFiles" name="inMultipleFiles" value="0">

                  <div class="row-fluid">

                    <div class="span6">
                      <label>Keyword</label>
                      <input type="text" id='inKeyword' name='inKeyword' placeholder="keywords"
                      class="input-block-level"/>
                    </div>

                  </div>
                  <div class="row-fluid">

                    <div class="span6">
                      <label>Website</label>
                      <input type="text" id='inWebUrl' name='inWebUrl' placeholder="website url (e.g. www.umapped.com) or image url"
                      class="input-block-level required"/>
                    </div>
                    <div class="span3 ">
                      <label>&nbsp;</label>

                      <button type="submit" class="btn btn-success pull-left btn-large"
                      onclick="javascript:$('#imgSearchSpinner').show();
                      javascript:doSearchForm('/img/search', 'imgWebSearchForm', 'imgWebSearchResults');
                      return false;"> Search
                      </button>
                    </div>
                  </div>
                </form>
                <div class="row-fluid">
                  <p class="muted"> Search photos from an external website.</p>
                </div>
              </div>

              <div id="searchResults">
                <div id="imgWebSearchResults">

                </div>
              </div>
            </div>

            <div id="uploadTab" class="tab-pane ">
              <form id="uploadPhotoForm" method="post" enctype="multipart/form-data">
                <div class="row-fluid">
                  <legend>Upload a Photo</legend>
                  <div class="span9">
                    <input type="hidden" id="key" name='key'/>
                    <input type="hidden" id="AWSAccessKeyId" name='AWSAccessKeyId'/>
                    <input type="hidden" id="policy" name='policy'/>
                    <input type="hidden" id="signature" name='signature'/>
                    <input type="hidden" id="success_action_status" name='success_action_status' value='201'/>
                    <input type="file" id='inCmpyPhotoFile' name='file' />
                  </div>
                  <div class="span2 pull-right">
                    <button type="button" class="btn btn-success btn-large pull-right " id="uploadPhotoSubmit"
                    onclick="javascript:uploadPhoto();" >Upload
                    </button>
                  </div>
                </div>
                <br/>
                <div style="height: 120px">
                  <div id="uploadSpinner" style="display: none;
                    text-align: center">
                    <img src="@{
                      m.imgUrl
                    }/img/ajax-loader.gif" >  Uploading... <div id="progressUpload"></div>
                  </div>
                </div>
              </form>
            </div>
            <div id="imgSearchSpinner" class="spinner" style="display: none;
              background: rgba(255, 255, 255, .7) url('@{m.imgUrl}/img/ajax-loader-white-1.gif') center center no-repeat;
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0px;
              left: 0px;
              z-index: 100;
              min-height: 200px    ">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
        <br/>
      </div>
    </div>
    @if(m.cover != null) {
      <!-- image cropping modal -->
      @views.html.img.imgCropperModal(m, m.cover)
      <!-- allow for delete cover photo  -->
      <script>
              $('#deleteCoverSubmit').click(function() {
                $('#deletePhotoModal').modal('hide');
              });
      </script>

      <div id="deletePhotoModal" class="modal hide fade">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3>Confirm Delete Cover Photo</h3>
        </div>
        <div class="modal-body">
          <p>Delete the cover Photo?</p>
        </div>
        <div class="modal-footer">
          <form id="deleteCoverForm">
            <input type="hidden" id="tripId" name="tripId" value=@m.tripId>
            <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
            <button type="submit" class="btn btn-danger " id="deleteCoverSubmit"
                    onclick="javascript:postForm('/tours/deleteCover', 'deleteCoverForm');
                    return false;">Delete</button>
          </form>
        </div>
      </div>
    }

    <script>
            $('#convertTripSubmit').click(function() {
              $('#convertTripModal').modal('hide');
            });
    </script>

    <div id="convertTripModal" class="modal hide fade">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Convert Trip to Template</h3>
      </div>
      <form id="convertTripForm">
        <div class="modal-body">
          <div class="row-fluid">
            <div class="span12">
              <label>New Template Name</label>
              <input type="text" name='inTemplateName' class="input-block-level required" value="@m.tripName"/>
            </div>
          </div>
          <br/>
          <p>This trip will stay intact.</p>
        </div>
        <div class="modal-footer">
          <input type="hidden" id="tripId" name="tripId" value=@m.tripId>
          <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
          <button type="submit" class="btn btn-danger " id="convertTripSubmit"
          onclick="postForm('@controllers.routes.TemplateController.newFromTrip(m.tripId)', 'convertTripForm');
          activateTopMenu('mainMenuTripTemplate');
          return false;">Convert
          </button>
        </div>
      </form>
    </div>

      <!-- copy trip -->
    <script>
            $('#copyTripSubmit').click(function() {
              $('#copyTripModal').modal('hide');
            });
    </script>

    <div id="copyTripModal" class="modal hide fade">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Copy this Trip</h3>
      </div>
      <form id="copyTripForm">
        <div class="modal-body">
          A new trip will be created and all bookings and documents will copied to the new trip automatically. <br/><br/><br/>
          <div class="row-fluid">
            <div class="span12">
              <label>New Trip Name</label>
              <input type="text" name='inTripName' class="input-block-level required" value="@m.tripName Copy"/>
            </div>
          </div>
          <br/>
          <p>This trip will stay unchanged.</p>
        </div>
        <div class="modal-footer">
          <input type="hidden" id="tripId" name="tripId" value=@m.tripId>
          <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
          <button type="submit" class="btn btn-danger " id="copyTripSubmit"
          onclick="postForm('@controllers.routes.TripController.copyTrip(m.tripId)', 'copyTripForm');
          activateTopMenu('mainMenuDashboard');
          return false;">Copy
          </button>
        </div>
      </form>
    </div>

      <!-- merge trip -->
    <script>
            $('#mergeTripSubmit').click(function() {
              $('#mergeTripModal').modal('hide');
            });
    </script>
    <div id="mergeTripModal" class="modal hide fade">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Merge this Trip</h3>
      </div>
      <form id="mergeTripForm">
        <div class="modal-body">
          All bookings and documents will moved from this trip to an existing trip you have selected. <br/>
          This trip will be deleted after the merge.<br/><br/><br/>

          <div class="row-fluid">
            <div class="span9">
              <label> Select Trip</label>
              <input type="text" name='inTripName' id="targetTripName" class="input-block-level required" value="" placeholder="Trip name"/>
              <input type="hidden" id="targetTripId" name="inTargetTripId" value="">
            </div>
            <div class="span2">
              <label>&nbsp;</label>
              <button type="submit" class="btn btn-danger " id="mergeTripSubmit"
              onclick="postForm('@controllers.routes.TripController.mergeTrip(m.tripId)', 'mergeTripForm');
              activateTopMenu('mainMenuDashboard');
              return false;">Merge
              </button>
            </div>
          </div>
          <br/>
          Please note you can only merge to trips that have an end date greater than today.
        </div>
        <div class="modal-footer">
          <input type="hidden" id="tripId" name="tripId" value=@m.tripId>
          <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
      </form>
    </div>

  }
</div>

<--endPageBody-->
