@(m:  com.umapped.api.billing.BillingInfo)
@import com.mapped.publisher.persistence.CountriesInfo.LangCode
@import models.publisher.Account

@if(m.message!=null) {
<--alertMsg-->
<div id="alertMsg">
    <h4> @m.message</h4>
</div>
<--endAlertMsg-->
}

<--pageTitle-->
<div id="pageTitle">
    <h1 class="page-title">Plan And Add-Ons</h1>
</div>
<--endPageTitle-->

<--pageHeader-->
<div id="pageHeader">
</div>
<--endPageHeader-->

<--pageBody-->
<div id="pageBody" >
    <style>
      .braintree-hosted-fields {
        border: 1px solid #cccccc;
      }
      .braintree-hosted-fields-focused {
        border: 1px solid #0275d8;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
      }
      .braintree-hosted-fields-focused.focused-invalid {
        border: 1px solid #ebcccc;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(100,100,0,.6);
      }
      .table th {
        border-top: none;
      }
    </style>
    <script>
      var payloadCheck = 'none';
      var hostedFields = '';

      $(document).ready(function() {
        var bilStatus = '@m.billingStatus';

        $('#messageArea')[0].style.display = 'none';
        $('#creditArea')[0].style.display = 'none';
        $('#addressArea')[0].style.display = '';

        if(bilStatus == 'CREDIT_CARD_UPDATE_NEEDED') {
          $('#billingInfoModal').modal('show');
          braintreeInit();
          $('#messageSpan').text('Your payment information needs to be updated.  Please complete the following steps to update your account.');
          $('#messageArea')[0].style.display = '';
          $('#creditArea')[0].style.display = 'none';
          $('#addressArea')[0].style.display = 'none';
        }
        else if(bilStatus == 'CREDIT_CARD_SETUP_NEEDED') {
          $('#billingInfoModal').modal('show');
          braintreeInit();
          $('#messageSpan').text('Your payment information must be entered to complete your account setup.  Please complete the following steps to update your account.');
          $('#messageArea')[0].style.display = '';
          $('#creditArea')[0].style.display = 'none';
          $('#addressArea')[0].style.display = 'none';
        }
        else if(bilStatus == 'CREDIT_CARD_OK') {
          $('#messageArea')[0].style.display = 'none';
          $('#creditArea')[0].style.display = 'none';
          $('#addressArea')[0].style.display = '';
        }

        @if(m.bilAddr != null) {
          $('#firstName').val('@m.bilAddr.fName');
          $('#lastName').val('@m.bilAddr.lName');
          $('#companyName').val('@m.bilAddr.company');
          $('#address1Name').val('@m.bilAddr.streetAddress');
          $('#address2Name').val('@m.bilAddr.extendedAddress');
          $('#cityName').val('@m.bilAddr.locality');
          $('#stateProvinceName').val('@m.bilAddr.region');
          $('#zipPostalName').val('@m.bilAddr.postalCode');
          @if(m.bilAddr.country != null && com.mapped.publisher.persistence.CountriesInfo.Instance().searchByName(m.bilAddr.country) != null) {
            $('#countryName').val('@com.mapped.publisher.persistence.CountriesInfo.Instance().searchByName(m.bilAddr.country).getAlpha2().toUpperCase()');
          }
          $('#firstNameReadOnly').text('@m.bilAddr.fName');
          $('#lastNameReadOnly').text('@m.bilAddr.lName');
          $('#companyNameReadOnly').text('@m.bilAddr.company');
          $('#address1NameReadOnly').text('@m.bilAddr.streetAddress');
          $('#address2NameReadOnly').text('@m.bilAddr.extendedAddress');
          $('#cityNameReadOnly').text('@m.bilAddr.locality');
          $('#stateProvinceNameReadOnly').text('@m.bilAddr.region');
          $('#zipPostalNameReadOnly').text('@m.bilAddr.postalCode');
          $('#countryNameReadOnly').text('@m.bilAddr.country');
        }
      });

      var submitAddonChange = function() {
            var addon = $(this).parents('tr[data-addonid]');
            console.log(addon.data());

            var config = {
              addonId: addon.data('addonid'),
              userId: addon.data('user'),
              enabled:  addon.find('input[name="addonEnabled"]').bootstrapSwitch('state')
            };

            console.log(JSON.stringify(config));
            $.ajax({
              type: "POST",
              url: '/user/addons/edit',
              data: JSON.stringify(config),
              contentType: "application/json; charset=utf-8",
              dataType: "json"
            })
             .always(function (data, textStatus, jqXHR) {
               if (textStatus == 'success') {
                 reloadPage();
               }
               else if (textStatus == 'parsererror') {
                 //Need to go to login page
                 window.location.href = "/";
               }
               else if (textStatus != 'abort') {
                 debugger;
                 switch (jqXHR.status) {
                   case 400:
                     headLineAlertDisplay("Bad Request:");
                     break;
                   case 401:
                     headLineAlertDisplay("Not Authorized: ");
                     break;
                   case 501:
                     headLineAlertDisplay("Feature not yet implemented.");
                     break;
                   case 503:
                   case 504:
                     headLineAlertDisplay("Request timeout. Please try again in a couple of minutes.");
                     break;
                   default:
                     headLineAlertDisplay("Unknown System Error has occurred - " + textStatus);
                 }
               }
             });
            console.log("Updated requested...");
          };
          $(function(){
            var addonToggles = $('tr[data-addonid] input[type="checkbox"]');
            console.log(addonToggles);
            addonToggles.bootstrapSwitch('destroy');
            addonToggles.bootstrapSwitch({
                                           onColor: "success",
                                           offColor: "danger"
                                         });

            addonToggles.on('switchChange.bootstrapSwitch', submitAddonChange);
          });

      $(document).on('hidden.bs.modal','#billingInfoModal', function () {
        if(payloadCheck == 'none') {
          reloadPage();
        }
      });

      function isAddressGood() {
        $("#addressArea").validate();
        if($('#addressArea').valid()) {
          $('#submitSpinner').show();
          var addr = {
            fName: $('#firstName').val(),
            lName: $('#lastName').val(),
            company: $('#companyName').val(),
            streetAddress: $('#address1Name').val(),
            extendedAddress: $('#address2Name').val(),
            locality: $('#cityName').val(),
            region: $('#stateProvinceName').val(),
            postalCode: $('#zipPostalName').val(),
            country: $('#countryName').val()
          };

          console.log(JSON.stringify(addr));
          $.ajax({
            type: "POST",
            url: '/api/bil/v1/address',
            data: JSON.stringify(addr),
            contentType: "application/json; charset=utf-8",
            dataType: "json"
          }).success(function () {
              $('#creditArea')[0].style.display = '';
              $('#creditSubmitButton')[0].style.display = '';
              $('#addressArea')[0].style.display = 'none';
              $('#buttonNext2')[0].style.display = 'none';
          }).always( function() {
            $('#submitSpinner').hide();
          });
        }
      }

      function isCreditGood() {
        $('#submitB').click();
        $('#submitB').prop("disabled", true);
      }

      function toAddress() {
        $('#addressArea')[0].style.display = '';
        $('#messageArea')[0].style.display = 'none';
        $('#buttonNext1')[0].style.display = 'none';
        $('#buttonNext2')[0].style.display = '';
      }

      function openModal() {
        $('#billingInfoModal').modal('show');
        $('#buttonNext1')[0].style.display = 'none';
        $('#buttonNext2')[0].style.display = '';
        braintreeInit();
      }

      function braintreeInit() {
        var form = document.querySelector('#my-sample-form');
        var submit = document.querySelector('#submitB');
        var clientToken = '@m.btreeToken';

        braintree.client.create({
          authorization: clientToken
        }, function (clientErr, clientInstance) {
          if (clientErr) {
            console.error(clientErr);
            return;
          }
          // This example shows Hosted Fields, but you can also use this
          // client instance to create additional components here, such as
          // PayPal or Data Collector.
          console.log(hostedFields);
          braintree.hostedFields.create({
            client: clientInstance,
            styles: {
              'input': {
                'font-size': '14px',
                'font-family': 'helvetica, tahoma, calibri, sans-serif',
                'color': '#3a3a3a'
              },
              ':focus': {
                'color': 'black'
              }
            },
            fields: {
              number: {
                selector: '#card-number',
                placeholder: 'xxxx xxxx xxxx xxxx'
              },
              cvv: {
                selector: '#cvv'
              },
              expirationMonth: {
                selector: '#expiration-month',
                placeholder: 'MM'
              },
              expirationYear: {
                selector: '#expiration-year',
                placeholder: 'YY'
              }
            }
          }, function (hostedFieldsErr, hostedFieldsInstance) {
            if (hostedFieldsErr) {
              console.error(hostedFieldsErr);
              return;
            }
            hostedFields = hostedFieldsInstance;
            console.log('hosted field success');
            hostedFieldsInstance.on('blur', function (event) {
              document.querySelector('#card-number').className = 'braintree-hosted-fields';
              document.querySelector('#cvv').className = 'braintree-hosted-fields';
              document.querySelector('#expiration-month').className = 'braintree-hosted-fields';
              document.querySelector('#expiration-year').className = 'braintree-hosted-fields';
            });

            hostedFieldsInstance.on('validityChange', function (event) {
              var field = event.fields[event.emittedBy];
              $('#submitB').prop("disabled", false);

              if (field.isValid) {
                if (event.emittedBy === 'expirationMonth') {
                  if (!event.fields.expirationMonth.isValid) {
                    $('#expirationTextMonth').css('color', 'red');
                    $('#expirationTextMonth').text('Invalid expiration month');
                    return;
                  }
                  else {
                    $('#expirationTextMonth').text('');
                  }
                } else if (event.emittedBy === 'expirationYear') {
                  if (!event.fields.expirationYear.isValid) {
                    $('#expirationTextYear').css('color', 'red');
                    $('#expirationTextYear').text('Invalid expiration year');
                    return;
                  }
                  else {
                    $('#expirationTextYear').text('');
                  }
                } else if (event.emittedBy === 'number') {
                  $('#cardText').css('color', 'green');
                  $('#cardText').text(event.cards[0].niceType);
                }

                // Apply styling for a valid field
                $(field.container).parents('.form-group').addClass('has-success');
                $(field.container).style = 'border: 1px solid #ff0000';
              } else if (field.isPotentiallyValid) {
                // Remove styling  from potentially valid fields
                $(field.container).parents('.form-group').removeClass('has-warning');
                $(field.container).parents('.form-group').removeClass('has-success');
                if (event.emittedBy === 'number') {
                  if (event.cards.length === 1) {
                    $('#cardText').css('color', 'green');
                    $('#cardText').text(event.cards[0].niceType);
                  }
                }
              } else {
                // Add styling to invalid fields
                $(field.container).parents('.form-group').addClass('has-warning');
                // Add helper text for an invalid card number
                if (event.emittedBy === 'number') {
                  $('#cardText').css('color', 'red');
                  $('#cardText').text('Invalid card number');
                }
                else if(event.emittedBy === 'expirationMonth') {
                  $('#expirationTextMonth').css('color', 'red');
                  $('#expirationTextMonth').text('Invalid expiration month');
                }
                else if(event.emittedBy === 'expirationYear') {
                  $('#expirationTextYear').css('color', 'red');
                  $('#expirationTextYear').text('Invalid expiration year');
                }
              }
            });

            hostedFieldsInstance.on('cardTypeChange', function (event) {
              var field = event.fields[event.emittedBy];

              // Handle a field's change, such as a change in validity or credit card type
              if (event.cards.length === 1) {
                $('#cardText').css('color', 'green');
                $('#cardText').text(event.cards[0].niceType);
              } else {
                if(!field.isValid && !field.isPotentiallyValid) {
                  $('#cardText').css('color', 'red');
                  $('#cardText').text('Invalid card number');
                }
                else {
                  $('#cardText').text('');
                }
              }
            });

            form.addEventListener('submit', function (event) {
              event.preventDefault();

              hostedFieldsInstance.tokenize(function (tokenizeErr, payload) {
                if (tokenizeErr) {
                  console.error(tokenizeErr);

                  var error = '';

                  if(tokenizeErr.details.invalidFieldKeys) {
                      error = 'Error: There was a problem processing your credit card; please double check the following fields and try again:\n-';

                      for(var i = 0; i < tokenizeErr.details.invalidFieldKeys.length; i++) {
                        if(tokenizeErr.details.invalidFieldKeys[i] == 'number') {
                          error += 'Card Number';
                        }
                        else if(tokenizeErr.details.invalidFieldKeys[i] == 'cvv') {
                          error += 'CVV Number';
                        }
                        else if(tokenizeErr.details.invalidFieldKeys[i] == 'expirationMonth') {
                          error += 'Expiration Month';
                        }
                        else if(tokenizeErr.details.invalidFieldKeys[i] == 'expirationYear') {
                          error += 'Expiration Year';
                        }

                        if(i != tokenizeErr.details.invalidFieldKeys.length - 1) {
                          error += '\n-';
                        }
                      }
                  }
                  else {
                    error = 'Error: There was a problem processing your credit card because all fields are empty.';
                  }

                  $('#errorSpan').text(error);
                  return;
                }

                $('#submitSpinner').show();
                $('#submitB').prop("disabled", false);

                payloadCheck = payload.nonce;

                var config = {
                  token: payload.nonce
                };

                $.ajax({
                  type: "POST",
                  url: '/api/bil/v1/method/' + payload.nonce
                }).success(function (data, test, c) {
                  if(data == "/home") {
                    window.location.replace(window.location.protocol + "//" + window.location.host + data);
                  }
                  $('#billingInfoModal').modal('hide');
                  braintreeTeardown();
                }).error(function (jqXHR, textStatus, errorThrown) {
                  console.log(errorThrown);
                  $('#submitSpinner').hide();
                  $('#errorSpan').text('Error: ' + jqXHR.responseText);
                });
                // If this was a real integration, this is where you would
                // send the nonce to your server.
                console.log('Got a nonce: ' + payload.nonce);
              });
            }, false);
          });
        });
      }

      function braintreeTeardown() {
        if(hostedFields != '') {
            hostedFields.teardown(function (teardownErr) {
              if (teardownErr) {
                console.err('Could not tear down Hosted Fields!');
              } else {
                console.log('Hosted Fields has been torn down!');
              }
              reloadPage();
            });
        }
      }
    </script>
    <div id="mainPage">
        @if(m.myBilPlan != null) {
        <div class="subTitle" style="margin-top: 20px">Plan And Add-Ons</div>
        <table class="table table-striped">
            <thead>
            <th style="width: 30%">Plan Name</th>
            <th>Plan Description</th>
            <th>Price</th>
            </thead>
            <tbody>
            <tr plan-id="@m.myBilPlan.id" >
                <td>
                    @m.myBilPlan.name
                </td>
                <td>
                    @m.myBilPlan.description
                </td>
                <td>
                    $@("%.0f".format(m.myBilPlan.price.toFloat))&nbsp;@m.myBilPlan.cur
                </td>
                <td>

                </td>
            </tr>
            </tbody>
        </table>
        <table class="table table-striped" style="margin-top:50px;">
            <tbody>
            @if(m.myBilPlan.addons != null) {
            <tr>
                <th style="width: 30%">Add-On Name</th>
                <th>Add-On Description</th>
                <th>Price</th>
                <th>Start Date</th>
                <th>Valid Until</th>
                <th></th>
            </tr>
            @for(addon <- m.myBilPlan.addons) {
            <tr data-addonid="@addon.id" data-user="@models.publisher.Account.find.byId(Long.parseLong(m.custId)).getLegacyId()">
                <td>
                    @addon.name
                </td>
                <td>
                    @addon.description
                </td>
                <td>
                    $@("%.0f".format(addon.price.toFloat))&nbsp;@addon.cur
                </td>
                <td>
                @addon.startDate
                </td>
                <td>
                @addon.cutoffDate
                </td>
                <td>
                    <input cust-id="@m.custId" type="checkbox" name="addonEnabled" @if(addon.enabled) {checked}>
                </td>
            </tr>
            }
            }
            @if(m.myBilPlan.addons == null) {
            No Add-Ons
            }
            </tbody>
        </table>
        }
        @if(m.billedToMe != null && m.billedToMe.size() > 0) {
        <div class="subTitle">Agent's Plans And Add-Ons</div>
        @for((plan,index) <- m.billedToMe.zipWithIndex) {
        <table class="table table-striped" @if(index > 0) {style="margin-top:50px"}>
            <thead >
            <th>Agent Name</th>
            <th style="width: 30%">Plan Name</th>
            <th>Plan Description</th>
            <th>Price</th>
            </thead>
            <tbody>
            <tr plan-id="@plan.id" >
                <td>
                    @plan.agent.fName @plan.agent.lName
                </td>
                <td>
                    @plan.name
                </td>
                <td>
                    @plan.description
                </td>
                <td>
                    $@("%.0f".format(plan.price.toFloat))&nbsp;@plan.cur
                </td>
                <td>

                </td>
            </tr>
            </tbody>
        </table>
        <table class="table table-striped" style="margin-top:50px;">
            @if(plan.addons != null){
            <thead>
            <th style="width: 30%">Add-On Name</th>
            <th>Add-On Description</th>
            <th>Price</th>
            <th>Start Date</th>
            <th>Valid Until</th>
            <th></th>
            </thead>
            <tbody>
            @for(addon <- plan.addons) {
            <tr data-addonid="@addon.id" data-user="@plan.agent.legacyUserid">
                <td>
                    @addon.name
                </td>
                <td>
                    @addon.description
                </td>
                <td>
                    $@("%.0f".format(addon.price.toFloat))&nbsp;@addon.cur
                </td>
                <td>
                @addon.startDate
                </td>
                <td>
                @addon.cutoffDate
                </td>
                <td>
                    <input type="checkbox" name="addonEnabled" @if(addon.enabled) {checked}>
                </td>
            </tr>
            }
            </tbody>
            }
        </table>
        }
    </div>
    }
        <div class="subTitle" id="addressSubTitle" >Payment Information</div>
        <div class="row-fluid" id="addressRow1">
            <div class="span4">
                <label style="font-size: 16px; padding: 8px;">First Name</label>
                <span id="firstNameReadOnly" style="padding:8px;"></span>
            </div>
            <div class="span4">
                <label style="font-size: 16px; padding: 8px;">Last Name</label>
                <span id="lastNameReadOnly" style="padding:8px;"></span>
            </div>
            <div class="span4">
                <label style="font-size: 16px; padding: 8px;">Company</label>
                <span id="companyNameReadOnly" style="padding:8px;"></span>
            </div>
        </div>
        <div class="row-fluid" id="addressRow2" style="margin-top: 20px">
            <div class="span4">
                <label style="font-size: 16px; padding: 8px;">Address Line 1</label>
                <span id="address1NameReadOnly" style="padding:8px;"></span>
            </div>
            <div class="span4">
                <label style="font-size: 16px; padding: 8px;">Address Line 2</label>
                <span id="address2NameReadOnly" style="padding:8px;"></span>
            </div>
            <div class="span4">
                <label style="font-size: 16px; padding: 8px;">City</label>
                <span id="cityNameReadOnly" style="padding:8px;"></span>
            </div>
        </div>
        <div class="row-fluid" id="addressRow3" style="margin-top: 20px">
            <div class="span4">
                <label style="font-size: 16px; padding: 8px;">State/Province</label>
                <span id="stateProvinceNameReadOnly" style="padding:8px;"></span>
            </div>
            <div class="span4">
                <label style="font-size: 16px; padding: 8px;">Country</label>
                <span id="countryNameReadOnly" style="padding:8px;"></span>
            </div>
            <div class="span4">
                <label style="font-size: 16px; padding: 8px;">ZIP/Postal Code </label>
                <span id="zipPostalNameReadOnly" style="padding:8px;"></span>
            </div>
        </div>
          <div class="row-fluid" style="margin-top: 20px">
            @if(m.ccInfo != null) {
              <div class="span8">
                <label style="font-size: 16px; padding: 8px;">Credit Card</label>
                <img src="@m.ccInfo.imgUrl" alt="@m.ccInfo.cardType"/> @m.ccInfo.cardType   @m.ccInfo.cardNumber &nbsp;Expiry: @m.ccInfo.expiryMM/@m.ccInfo.expiryYY
              </div>
            }
            <div class="span2">
              <label>&nbsp;</label>
              <a role="button" class="btn btn-success btn-large" style="margin-bottom:5px;margin-left:8px;" onclick="openModal();">
                  &nbsp;Edit
              </a>
            </div>

          </div>
        <div class="row-fluid" style="margin-top: 20px">
            <div>
                <legend>Invoices</legend>
                <form id="invoiceForm" action="@routes.BillingApiController.printInvoice(Long.parseLong(m.custId))" method="get" target="_blank">
                    <div class="row-fluid">
                        <div class="span2">
                            <label>Month</label>
                            <select id="invmonth" name="invmonth">
                                <option value="1">January</option>
                                <option value="2">February</option>
                                <option value="3">March</option>
                                <option value="4">April</option>
                                <option value="5">May</option>
                                <option value="6">June</option>
                                <option value="7">July</option>
                                <option value="8">August</option>
                                <option value="9">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                        </div>
                        <div class="span2">
                            <label>Year</label>
                            <select id="invyear" name="invyear">
                                <option value="2017">2017</option>
                                <option value="2018">2018</option>
                            </select>
                        </div>
                        <div class="span2">
                            <label>&nbsp;</label>
                            <input type="submit" class="btn btn-success btn-large" style="margin-top:-6px;" value="Download">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    <div id="billingInfoModal" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Payment Information</h3>
        </div>
        <div class="modal-body">
            <div id="submitSpinner" class="spinner"
                 style="display:none; background: rgba(255,255,255,.7) url('@{m.imgUrl}/img/ajax-loader-white-1.gif') center center no-repeat;width:100%;height:100%;position: absolute; top: 0px; left: 0px;z-index:100;min-height:200px">
            </div>
            <form id="addressArea" style="display:none;">
                <div class="subTitle" id="addressSubTitle">Billing Address</div>
                <div class="row-fluid" id="addressRow1">
                    <div class="span4">
                        <label style="font-size: 16px; padding: 8px 8px 8px 0px;">First Name <em>*</em></label>
                        <input type="text" id="firstName" name="firstName" placeholder="First Name" class="input-block-level" required>
                    </div>
                    <div class="span4">
                        <label style="font-size: 16px; padding: 8px 8px 8px 0px;">Last Name <em>*</em></label>
                        <input type="text" id="lastName" name="lastName" placeholder="Last Name" class="required input-block-level">
                    </div>
                    <div class="span4">
                        <label style="font-size: 16px; padding: 8px 8px 8px 0px;">Company <em>*</em></label>
                        <input type="text" id="companyName" name="companyName" placeholder="Company" class="required input-block-level">
                    </div>
                </div>
                <div class="row-fluid" id="addressRow2">
                    <div class="span4">
                        <label style="font-size: 16px; padding: 8px 8px 8px 0px;">Address Line 1 <em>*</em></label>
                        <input type="text" id="address1Name" name="address1Name" placeholder="Street Address, P.O. Box, Company Name, C/O" class="required input-block-level">
                    </div>
                    <div class="span4">
                        <label style="font-size: 16px; padding: 8px 8px 8px 0px;">Address Line 2 </label>
                        <input type="text" id="address2Name" name="address2Name" placeholder="Apartment, Suite, Unit, Building Floor, etc." class="input-block-level">
                    </div>
                    <div class="span4">
                        <label style="font-size: 16px; padding: 8px 8px 8px 0px;">City <em>*</em></label>
                        <input type="text" id="cityName" name="cityName" placeholder="City" class="required input-block-level">
                    </div>
                </div>
                <div class="row-fluid" id="addressRow3">
                    <div class="span4">
                        <label style="font-size: 16px; padding: 8px 8px 8px 0px;">State/Province</label>
                        <input type="text" id="stateProvinceName" name="stateProvinceName" placeholder="State/Province" class="input-block-level">
                    </div>
                    <div class="span4">
                        <label style="font-size: 16px; padding: 8px 8px 8px 0px;">Country <em>*</em></label>
                        <select name="countryName" class="required input-block-level" id="countryName">
                            <option value="US">United States</option>
                            <option value="CA">Canada</option>
                            @for(cntry <- com.mapped.publisher.persistence.CountriesInfo.Instance().getNameSortedCountryList()) {
                              @if(!cntry.getAlpha2.toUpperCase().equals("CA") && !cntry.getAlpha2.toUpperCase().equals("US")) {
                                <option value=@cntry.getAlpha2.toUpperCase()>@cntry.getName(LangCode.EN)</option>
                              }
                            }
                        </select>
                    </div>
                    <div class="span4">
                        <label style="font-size: 16px; padding: 8px 8px 8px 0px;">ZIP/Postal Code <em>*</em></label>
                        <input type="text" id="zipPostalName" name="zipPostalName" placeholder="ZIP/Postal Code" class="required input-block-level">
                    </div>
                        <span style="float:left;">* Required</span>
                </div>
            </form>
            <div id="creditArea" style="display:none;">
                <div class="subTitle" id="creditSubTitle" >Credit Card</div>
                <div class="row-fluid" id="errorArea">
                    <span id="errorSpan" style="color:red;white-space:pre-line;"></span>
                </div>
                <div class="row-fluid" id="creditRow1" >
                    <form action="/" id="my-sample-form" method="post">
                        <div class="span4">
                            <label style="font-size: 16px; padding: 8px 8px 8px 0px;" for="card-number">Card Number <img style="margin-top:-10px;width:20%;" src="https://assets.braintreegateway.com/payment_method_logo/mastercard.png?environment=sandbox"/> <img style="margin-top:-10px;width:20%;" src="https://assets.braintreegateway.com/payment_method_logo/visa.png?environment=sandbox"/></label>
                            <div id="card-number" style="padding:4px;height:20px;" class="braintree-hosted-fields"></div>
                            <span id="cardText" style="color:red;"></span>
                        </div>
                        <div class="span2" style="width:10%;">
                            <label style="font-size: 16px; padding: 8px 8px 8px 0px;" for="cvv">CVV</label>
                            <div id="cvv" style="padding:4px;height:20px;" class="braintree-hosted-fields"></div>
                        </div>
                        <div class="span6">
                            <div class="span6" style="">
                                <label style="font-size: 16px; padding: 8px 8px 8px 0px;" for="expiration-month">Expiration Month</label>
                                <div id="expiration-month" style="padding:4px;height:20px;width:30%;" class="braintree-hosted-fields"></div>
                                <span id="expirationTextMonth" style="color:red;"></span>
                            </div>
                            <div class="span6" style="">
                                <label style="font-size: 16px; padding: 8px 8px 8px 0px;" for="expiration-year">Expiration Year</label>
                                <div id="expiration-year" style="padding:4px;height:20px;width:30%;" class="braintree-hosted-fields"></div>
                                <span id="expirationTextYear" style="color:red;"></span>
                            </div>
                        </div>
                        <div class="span12" style="padding-top:10px;margin-left:0px;">
                            <div class="span4">
                            </div>
                            <div class="span8">
                                <input id="submitB" type="submit" value="Pay" style="margin-left:-34px;display:none;"/>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <div id="messageArea" style="font-size: 16px; padding: 8px;">
                <div class="row-fluid">
                <span id="messageSpan" style="white-space:pre-line;"></span>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <form id="deleteTripForm">
                <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
                <a id="buttonNext1" role="button" class="btn btn-success" onclick="toAddress();" style="float:right;">&nbsp;Next
                </a>
                <a id="buttonNext2" role="button" class="btn btn-success" onclick="isAddressGood();" style="float:right;display:none;">&nbsp;Next
                </a>
                <a id="creditSubmitButton" role="button" class="btn btn-success" onclick="isCreditGood();" style="float:right;display:none;">&nbsp;Save
                </a>
            </form>
        </div>
    </div>
</div>
<--endPageBody-->