@(m:  com.mapped.publisher.view.InviteView)

@if(m.message!=null && m.message.length > 0) {
<--alertMsg-->
<div id="alertMsg">
    <h4> @m.message</h4>
</div>
<--endAlertMsg-->

}

<--pageTitle-->
<div id="pageTitle">
    <h1 class="page-title">Manage User Invitations</h1>

</div>
<--endPageTitle-->

<--pageHeader-->
<div id="pageHeader">
</div>
<--endPageHeader-->

<--pageBody-->
<div id="pageBody">
    @if(m.isUMappedAdmin) {
    <div class="well">
        <fieldset> <legend>Search Invitations</legend>  </fieldset>
        <div class="row-fluid">
            <form id="inviteSearchForm">
                <div class="span4">
                    <input type="text" class="input-block-level required" id="inTerm" name="inTerm" value=@m.term>
                </div>
                <div class="span3">
                    <button type="submit" class="btn btn-info pull-left" onclick="javascript:postForm('/user/invites','inviteSearchForm');return false;">Search</button>
                </div>
            </form>
        </div>
    </div>
    }

    @if(m.invites != null && m.invites.size > 0) {
    <div class="well">
        <table class="table ">
            <thead>
            <tr>
                <th style="width:0%"></th>
                <th style="width:25%">Name</th>
                <th style="width:25%">Email</th>
                <th style="width:15%">Expiry</th>
                <th style="width:15%">Created On</th>
                <th style="width:10%">Created By</th>
                <th style="width:5%"></th>
            </tr>
            </thead>
            <tbody>

            @for(p <- m.invites) {
            <tr>
                <td style="width:10px"></td>
                <td>@p.firstName @p.lastName </td>
                <td>
                    @p.email
                </td>
                <td>
                   @if(p.isExpired){<button type="button" class="btn btn-danger"> Expired on @p.expiryDate</button> } else { @p.expiryDate}

                </td>
                <td>@p.createdTimestamp</td>
                <td>@p.createdBy</td>

                <td><button type="button" class="btn btn-success" onclick="javascript:getPage('/user/invite?inInviteId=@p.inviteId');"> Select </button></td>

            </tr>
            }
            </tbody>
        </table>
    </div>
    }

</div>
<--endPageBody-->
