@(m:  com.mapped.publisher.view.InviteView)
@import org.apache.commons.lang3.StringEscapeUtils.escapeEcmaScript


@if(m.message!=null && m.message.length > 0) {
<--alertMsg-->
<div id="alertMsg">
    <h4> @m.message</h4>
</div>
<--endAlertMsg-->

}

<--pageTitle-->
<div id="pageTitle">
    <h1 class="page-title">Link Invitation to User</h1>

</div>
<--endPageTitle-->

<--pageHeader-->
<div id="pageHeader">
</div>
<--endPageHeader-->

<--pageBody-->
<div id="pageBody">


    @if(m.isUMappedAdmin && m.selectedInvite != null) {
    <script>
    function confirmLink (userId,  userName) {
        if (userId != null) {
            $("#inUserId").val(userId);
            $("#linkModalMsg").text(userName + "?");
            $("#linkModal").modal('show');
        }
    }
    </script>

    <div class="well">
        <fieldset> <legend>Invitation Info</legend>  </fieldset>
        <div class="row-fluid">
            <p>
            <strong>Name:</strong> @m.selectedInvite.firstName @m.selectedInvite.lastName <br/>
            <strong>Email:</strong> @m.selectedInvite.email <br/>
            <strong>Expiry:</strong> @m.selectedInvite.expiryDate <br/>
            <strong>Created By:</strong> @m.selectedInvite.createdBy <br/>
            <strong>Created On:</strong> @m.selectedInvite.createdTimestamp <br/>

            </p>
        </div>


    </div>




    <div class="well">
        <fieldset> <legend>Select User</legend>  </fieldset>
        <div class="row-fluid">
            <form id="inviteSearchForm">
                <input type="hidden" name="inInviteId" value="@m.selectedInvite.inviteId" >
                <div class="span4">
                    <input type="text" class="input-block-level required" id="inTerm" name="inTerm" value=@m.term>
                </div>
                <div class="span3">
                    <button type="submit" class="btn btn-info pull-left" onclick="javascript:postForm('/user/invite','inviteSearchForm');return false;">Search</button>
                </div>
            </form>
        </div>
        @if(m.users != null && m.users.size > 0) {

        <br><br>
        <table class="table ">
            <thead>
            <tr>
                <th style="width:25%">Name</th>
                <th style="width:25%">Email</th>
                <th style="width:15%">User Id</th>
                <th style="width:5%"></th>
            </tr>
            </thead>
            <tbody>

            @for(p <- m.users) {
            <tr>
                <td>@p.firstName @p.lastName </td>
                <td>
                    @p.email
                </td>

                <td>@p.userId</td>

                <td><button type="button" class="btn btn-success" onclick="javascript:confirmLink('@p.userId', '@Html(escapeEcmaScript(p.firstName)) @Html(escapeEcmaScript(p.lastName)) (@p.email)');return false;"> Select </button></td>

            </tr>
            }
            </tbody>
        </table>
        }
    </div>


    <!-- Merge confirmation modal -->
    <script>
    $('#linkSubmit').click(function() {
    $('#linkModal').modal('hide');
    });
    </script>
    <div id="linkModal" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Confirm Link</h3>

        </div>
        <div class="modal-body">

            <h3 style="text-align:center;">
                Link inviation for <br>
                @m.selectedInvite.firstName @m.selectedInvite.lastName (@m.selectedInvite.email) <br>
                to Umapped User                                          <br/>
                <div style="color:green;" id="linkModalMsg"></div>
                <br>
            </h3>

            <h2>Are you sure?</h2>


        </div>
        <div class="modal-footer">
            <form id="linkForm">
                <input type="hidden" id="inInviteId" name="inInviteId" value="@m.selectedInvite.inviteId">
                <input type="hidden" id="inUserId" name="inUserId" value="">

                <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
                <button type="submit" class="btn btn-danger " id="linkSubmit"
                        onclick="javascript:postForm('/user/linkInvite', 'linkForm');return false;">Link
                </button>
            </form>
        </div>
    </div>

    }

</div>
<--endPageBody-->
