@(m:  com.mapped.publisher.view.preferences.PreferencesView)
@import com.umapped.persistence.accountprop.TripPrefs;


@if(m.message!=null && m.message.length > 0) {
  <--alertMsg-->
  <div id="alertMsg">
    <h4> @m.message</h4>
  </div>
  <--endAlertMsg-->
}

  <--pageTitle-->
<div id="pageTitle">
  <h1 class="page-title">My Preferences</h1>
</div>
  <--endPageTitle-->

  <--pageHeader-->
<div id="pageHeader">
</div>
  <--endPageHeader-->

  <--pageBody-->
<div id="pageBody">
  <script>
    $("[name='inIsPrintFriendly']").bootstrapSwitch();
    $("[name='inDisplay24Hr']").bootstrapSwitch();

    @for(p <- m.capabilities){
      $("[name='inCapability_@p.capabilityPK']").bootstrapSwitch();
    }
  </script>
  <form id="prefForm">
  <div class="subTitle"> PDF Preferences</div>
  <div class="row-fluid" style="padding-top:20px">
    <div class="span3" style="text-align:left;font-weight:600;font-size:19px;margin-top:4px;"> PDF Template: </div>
    <div class="span9 pull-left">
      <select id="inPdfTemplate" name="inPdfTemplate" style="width:300px">
        <option value="@TripPrefs.TRIP_PDF_TMPLT.DEF" @if(m.pdfTemplate == TripPrefs.TRIP_PDF_TMPLT.DEF){selected}>Layout 1 (Default)</option>
        <option value="@TripPrefs.TRIP_PDF_TMPLT.PDF1" @if(m.pdfTemplate == TripPrefs.TRIP_PDF_TMPLT.PDF1){selected}>Layout 2 (Large Photos)</option>
        <option value="@TripPrefs.TRIP_PDF_TMPLT.PDF2" @if(m.pdfTemplate == TripPrefs.TRIP_PDF_TMPLT.PDF2){selected}>Layout 3 (Large Photos and thumbnails)</option>
        <option value="@TripPrefs.TRIP_PDF_TMPLT.PRINT"@if(m.pdfTemplate == TripPrefs.TRIP_PDF_TMPLT.PRINT){selected} >Layout 4 (Printer Friendly - no photos)</option>
      </select>

    </div>
  </div>
    <p >
      Select your preferred PDF layout from the following options:<br/>
    <ul>
      <li> Layout 1 (Default)    </li>
      <li>  Layout 2 <a href="https://s3.amazonaws.com/static-umapped-com/public/pdf/layout2.pdf" target="_blank">(Large photos) </a></li>
      <li>  Layout 3 <a href="https://s3.amazonaws.com/static-umapped-com/public/pdf/layout3.pdf" target="_blank">(Large photos and thumbnails) </a></li>
      <li>  Layout 4 <a href="https://s3.amazonaws.com/static-umapped-com/public/pdf/layout4.pdf" target="_blank">(Printer Friendly - no photos)</a></li>
    </ul>
    </p>

    <div class="row-fluid" style="padding-top:20px">
      <div class="span3" style="text-align:left;font-weight:600;font-size:19px;margin-top:4px;"> Printer Friendly PDF: </div>
      <div class="span9 pull-left">
          <input type="checkbox" id="inIsPrintFriendly" name="inIsPrintFriendly" value="true" @if(m.printFriendlyPdf){checked}>
      </div>
    </div>
    <p>
      Give your clients the option to to download a printer friendly PDF (layout) in addition to your preferred layout. Select “ON” below to activate this option. A ‘print’ icon <i class="fa fa-print"></i> will be displayed in the web itinerary.
    </p>
    <div class="subTitle" style="margin-top:50px">ITINERARY Preferences</div>
    <div class="row-fluid" style="padding-top:20px">
      <div class="span3" style="text-align:left;font-weight:600;font-size:19px;margin-top:4px;"> 24 hour clock: </div>
      <div class="span9 pull-left">
          <input type="checkbox" id="inDisplay24Hr" name="inDisplay24Hr" value="true" @if(m.display24Hr){checked}>


      </div>
    </div>
    <p >
      By default, all times are shown in a 12hr clock format. Select ‘ON’ below to switch to a 24hr clock
    </p>

    @for(p <- m.capabilities) {
      <div class="row-fluid" style="padding-top:20px">
        <div class="span3" style="text-align:left;font-weight:600;font-size:19px;margin-top:4px;"> @p.name: </div>
        <div class="span9 pull-left">
          <input type="checkbox" id="inCapability_@p.capabilityPK" name="inCapability_@p.capabilityPK" value="true" @if(p.enabled){checked}>
        </div>
      </div>
    <div class="row-fluid"  >

      @if(p.description != null && !p.description.isEmpty) {
      <p>
        @p.description
      </p>

      }
    </div>
    }

    <div class="row-fluid" style="margin-top: 30px">
      <div class="span2 offset10">
        <button class="btn btn-success btn-block"
                onclick="javascript : postForm ('@routes.UserController.savePreferences(m.loggedInUserId)', 'prefForm'); return false;">Save</button>
      </div>
    </div>


  </form>
</div>
  <--endPageBody-->
