@(m:  com.mapped.publisher.view.UserProfileView)
@import models.publisher.UserCmpyLink.LinkType;


@if(m.message!=null && m.message.length > 0) {
<--alertMsg-->
<div id="alertMsg">
    <h4> @m.message</h4>
</div>
<--endAlertMsg-->
}

<--pageTitle-->
<div id="pageTitle">
  <h1 class="page-title">Update User Profile <a href="javascript:showHelpCurrentPage();"> <img src="@m.imgUrl/img/u_btn_info.png?v20170405"></a></h1>
</div>
<--endPageTitle-->

<--pageHeader-->
<div id="pageHeader">
</div>
<--endPageHeader-->

<--pageBody-->
<div id="pageBody">
  <script>
    var showResponse = function(responseText, statusText, xhr, $form)  {
      $('#uploadPhotoModal').modal('hide');
      getPage(uploadSuccessUrl);
    };

    var uploadPhoto = function () {
      $("#uploadSpinner").show();
      var uploadurl = '@routes.UserController.signS3UserPhoto(m.up.userid, null, true)' +
                      '&photoName=' +
                      escapeFilename($("#inUserPhotoFile").val().replace("C:\\fakepath\\", ""));
      if($.browser.msie) {
        signedS3(uploadurl, function(signedURL, publicURL, s3Bucket) {
          return iFrameUpload( signedURL, publicURL, s3Bucket);
        });
      }
      else {
        var s3upload = s3upload != null ? s3upload : new S3Upload({
          file_dom_selector: 'inUserPhotoFile',
          s3_sign_put_url: uploadurl,
          s3_object_caption: $("#inCmpyPhotoCaption").val(),
          onProgress: function(percent, message) {

            $("#progressUpload").text(percent + "%");
          },
          onFinishS3Put: function(public_url) {
            $('#uploadPhotoModal').modal('hide');
            getPage(public_url);
          },
          onError: function(status) {
            $("#progressBarDiv").hide();
            alert('Upload error: ', status);
          }
        });
      }
      return false;
    };

    $(function(){
      $('#changePasswordSubmit').click(function() {
        if ($('#changePasswordForm').valid()) {
            $('#changePasswordModal').modal('hide');
        }
      });

      $('input[id=inUserPhotoFile]').change(function() {
        var extension = $("#inUserPhotoFile").val().substring($("#inUserPhotoFile").val().lastIndexOf('.'));
        var ValidFileType = ".jpeg, .jpg , .png , .gif";
        if (ValidFileType.toLowerCase().indexOf(extension.toLowerCase()) < 0) {
          alert("Please only select an image file of type (JPG, GIF, PNG)");
          $("#uploadPhotoSubmit").attr('disabled', true);
          return;
        }
        if ( !$.browser.msie ) {

          var size = this.files[0].size;
          if (size > 1024000) {
            alert("The image file must be less than 1MB");
            $("#uploadPhotoSubmit").attr('disabled', true);
            return;
          }
        }

        $('#pretty-input').val($(this).val().replace("C:\\fakepath\\", ""));
        $("#uploadPhotoSubmit").attr('disabled', false);

      });
    });
  </script>

  <form id="userForm">
    <input type="hidden" id="inUserId" name="inUserId" value="@m.up.userid">
    <div class="subTitle">USER INFORMATION</div>

    <div class="row-fluid">
      <div class="span2">
        <label>User Name <em>*</em></label>
        <h4>@m.up.userid</h4>
      </div>
      <div class="span2 ">
        @if(m.up.profilephotourl != null && m.up.profilephotourl.length > 0) {
          <img class="pull-left" src="@m.up.profilephotourl" width="100%" style="margin-top:10px"></img>
        }
      </div>

      <div class="span2">
        <label> Last Login </label>
        <h5>@m.lastLoginOn</h5>
      </div>

      <div class="span3">
        <label>Email <em>*</em></label>
        <input type="hidden" class="required email input-block-level" id="inUserEmail" name="inUserEmail" value="@m.up.getEmail">
        <h5>@m.up.getEmail</h5>
      </div>
    </div>

    <br/>
    <div class="row-fluid">
      <div class="span2">
        <label>First Name</label>
        <input type="hidden" class="required input-block-level" minlength="2" id="inUserFirstName" name="inUserFirstName" value="@m.up.getFirstname">
        @m.up.getFirstname
      </div>
      <div class="span2">
        <label>Last Name</label>
        <input type="hidden" class="required input-block-level" minlength="2" id="inUserLastName" name="inUserLastName" value="@m.up.getLastname">
        @m.up.getLastname
      </div>
      <div class="span2">
        <label>Member Since</label>
        <h5>@m.memberSince</h5>
      </div>
    </div>
    <br/>
    <div class="row-fluid">
      <label>Account Type :
      @m.cmpyLinkType match {
        case LinkType.ADMIN => { Company Administrator }
        case LinkType.POWER => { Power User }
        case LinkType.MEMBER => { Member }
        case LinkType.SUSPENDED => { Unknown }
      }
      </label>
    </div>
    <br/>

    <div class="subTitle">CONTACT INFORMATION</div>
    <div class="row-fluid">
      <div class="span4">
        <label>Phone</label>
        <input type="text" class="input-block-level" id="inUserPhone" name="inUserPhone" value="@m.up.getPhone" placeholder="Phone">
      </div>
      <div class="span3">
        <label>Mobile</label>
        <input type="text" class="input-block-level" id="inUserMobile" name="inUserMobile" value="@m.up.getMobile" placeholder="Mobile Phone">
      </div>
      <div class="span3">
        <label>Fax</label>
        <input type="text" class="input-block-level" id="inUserFax" name="inUserFax" value="@m.up.getFax" placeholder="Fax">
      </div>
      <div class="span2">
           <label>Ext.</label>
           <input type="text" class="input-block-level" id="inUserExtension" name="inUserExtension" value="@m.extension" placeholder="Extension">
      </div>
    </div>
    <br/>

    <div class="row-fluid">
      <div class="span4">
        <label>Facebook</label>
        <input type="text" class="input-block-level" id="inUserFacebook" name="inUserFacebook" value="@m.up.getFacebook" placeholder="Facebook Name">
      </div>
      <div class="span4">
        <label>Twitter</label>
        <input type="text" class="input-block-level" id="inUserTwitter" name="inUserTwitter" value="@m.up.getTwitter" placeholder="Twitter Handle">
      </div>
      <div class="span4">
        <label>Web</label>
        <input type="text" class="input-block-level" id="inUserWeb" name="inUserWeb" value="@m.up.getWeb" placeholder="Website Url">
      </div>
    </div>
    <br/>

    <div class="row-fluid">
      @if(m.isOwner) {
        <div class="offset4 span2">
          @if(m.isLoggedinClassicVacations) {
            <a role="button" class="btn btn-danger input-block-level" onclick="javascript:doPost('@routes.ClassicVacationsController.clearSession()')">Logout From Classic Vacations</a>
          }
        </div>
        <div class="span2">
          <button data-controls-modal="uploadPhotoModal" data-backdrop="static" data-keyboard="false" type="button" href="#uploadPhotoModal" id="uploadBtn" class="btn btn-primary input-block-level" data-toggle="modal"><i class="fa fa-picture"></i>
            Upload Profile Photo </button>
        </div>
        <div class="span2">
          <button type="button" href="#changePasswordModal" id="changePwdBtn" class="btn btn-info input-block-level" data-toggle="modal">
            Change Password</button>
        </div>
        <div class="span2">
          <button type="submit" class="btn btn-success input-block-level"
          onclick="javascript : postForm ( '@routes.UserController.profileUpdate(m.up.userid)', 'userForm' ) ; return false ;">Save
          </button>
        </div>

      }
    </div>
  </form>

  @if(m.isOwner && m.cmpyParseEmailAddr != null){
    <div>
      <legend>API EMAIL ADDRESS</legend>
      <p>
        Use the below email address to forward and add your travel documents (Word and PDF) to a Umapped trip itinerary. Depending on your company's setup, and the document types, the document contents may be processed and added directly to Step 2:Itinerary of your trip. Documents that cannot be processed will be added as attachments which are available on the web and mobile versions of the trip itinerary.
        <br/><br/>Email us at <a href="mailto:support@@umapped.com?subject=Email%20Api">support@@umapped.com</a> for more information
        <br/><br/>Important!
    <ol>
      <li>
        Only Word or PDF email attachments will be processed and/or attached.
      </li>
      <li>
        Make sure that the email from which you are sending the documents matches the email address in your Umapped account.
      </li>
      <li>
        Match the subject line of your email to the name of the Trip you have started in Umapped.
      </li>
    </ol>
      <br/>
      <strong><i>
        If you not yet started a trip in Umapped, a new trip will be created and the subject line of your email will be the name of this trip.
      </i></strong>

      </p>
      <br/>
      <div class="row-fluid">
        <span style="color : #00B4FF;font-size: 18px;font-weight: 600">
          <a href="mailto:@m.cmpyParseEmailAddr">@m.cmpyParseEmailAddr</a>
        </span>
        <span style="font-size: 16px;font-weight: 600;padding-left: 5px" > for @m.cmpy.getName</span>
        <br>
      </div>
    </div>
  }
  <!--user api links -->
  @views.html.user.apiUserLink(m.apiCmpyTokens, m.apiUserLinks, m.up.userid, m.cmpy.getCmpyid)

  <!-- modal for UserProfile -->
  @if(m.isOwner) {
    <div id="uploadPhotoModal" class="modal hide fade">
      <form id="uploadPhotoForm" method="post" enctype="multipart/form-data">

          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h3>Add a Profile Photo</h3>
          </div>
          <div class="modal-body">

              <div class="row-fluid">
                  <div class="span9">
                      <input type="hidden" id="key" name='key'/>
                      <input type="hidden" id="AWSAccessKeyId" name='AWSAccessKeyId'/>
                      <input type="hidden" id="policy" name='policy'/>
                      <input type="hidden" id="signature" name='signature'/>
                      <input type="hidden" id="success_action_status" name='success_action_status' value='201'/>
                      <input type="file"  id='inUserPhotoFile' name='file' />
                  </div>
              </div>
              <br/>

              <div id="uploadSpinner" style="display:none;text-align:center">
                  <img src="@{m.imgUrl}/img/ajax-loader.gif" > <h3> Uploading... <div id="progressUpload"></div></h3>

              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
              <button type="submit" class="btn btn-success "  id="uploadPhotoSubmit"
                      onclick="javascript:uploadPhoto();return false;" >Upload
              </button>

          </div>
      </form>
  </div>
  }

  <!-- modal for change password -->
  @if(m.isOwner) {
    <div id="changePasswordModal" class="modal hide fade">
    <form id="changePasswordForm" class="form-horizontal">
        <input type="hidden" id="inUserId" name="inUserId" value="@m.up.userid">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Change Password</h3>
        </div>
        <div class="modal-body">
          @if(m.isOwner) {
            <div class="control-group">
                <label class="control-label" for="inOrigPwd">Old Password <em>*</em></label>
                <div class="controls">
                    <input class="required" type="password" id="inOrigPwd" name="inOrigPwd" placeholder="Old Password">
                </div>
            </div>
            <br/>
          }
          <div class="control-group">
                <label class="control-label" for="inNewPwd">New Password <em>*</em></label>
                <div class="controls">
                    <input class="required" type="password" id="inNewPwd" name="inNewPwd" minlength="8" maxlength="20" placeholder="New Password">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inConfirmPwd">Confirm Password <em>*</em></label>
                <div class="controls">
                    <input type="password" equalTo="#inNewPwd" class="required" minlength="8"  maxlength="20"
                           id="inConfirmPwd" name="inConfirmPwd" placeholder="Confirm Password">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
            <button type="submit" class="btn btn-success "  id="changePasswordSubmit"
                    onclick="javascript:postForm('/user/changePassword','changePasswordForm');return false;" >Change Password
            </button>

        </div>
    </form>
  </div>
  }


</div>
<--endPageBody-->
