@(m:  com.mapped.publisher.view.UserView)
@import com.mapped.publisher.common.APPConstants
@import models.publisher.UserCmpyLink.LinkType;


@if(m.message!=null && m.message.length > 0) {
<--alertMsg-->
<div id="alertMsg">
    <h4> @m.message</h4>
</div>
<--endAlertMsg-->

}

<--pageTitle-->
<div id="pageTitle">
    @if(m.pageMode) {
    @if(m.userId){
    <h1 class="page-title">@m.cmpyName - Update User Profile</h1>

    } else {
    <h1 class="page-title">@m.cmpyName - Create User</h1>

    }

    } else {
    @if(m.userId){
    <h1 class="page-title">Update User Profile</h1>
    } else {
    <h1 class="page-title">Create Umapped User </h1>

    }
    }

</div>
<--endPageTitle-->

<--pageHeader-->
<div id="pageHeader">
</div>
<--endPageHeader-->

<--pageBody-->
<div id="pageBody">
<script>
    @if((m.isUMappedAdmin || m.isCmpyAdmin) && m.userId !=null) {
    $('#deleteUserSubmit').click(function() {
    $('#deleteModal').modal('hide');
    });
    }

    @if((m.isUMappedAdmin || m.isOwner) && m.userId !=null) {
    function uploadPhoto() {


        var uploadurl = '@routes.UserController.signS3UserPhoto(m.userId, null, false, m.cmpyId, m.pageMode)' +
                          @if(m.pageMode){'&'}else{'?'} + 'photoName=' +
                          escapeFilename($("#inUserPhotoFile").val().replace("C:\\fakepath\\", ""));

        console.log(uploadurl);
        var s3upload = s3upload != null ? s3upload : new S3Upload({
        file_dom_selector: 'inUserPhotoFile',
        s3_sign_put_url: uploadurl,
        s3_object_caption: $("#inCmpyPhotoCaption").val(),
        onProgress: function(percent, message) {
        if (!$("#progressBarDiv").is(":visible")) {
        $("#progressBarDiv").show();
        }
        $("#progressBar").width(percent+'%');
        $("#progressBarDiv").text(percent + "%");
        console.log('Upload progress: ', percent, message);
        },
        onFinishS3Put: function(public_url) {
        $('#uploadPhotoModal').modal('hide');
        getPage(public_url);
        console.log('Upload finished: ', public_url);
        },
        onError: function(status) {
        $("#progressBarDiv").hide();
        alert('Upload error: ', status);
        console.log('Upload error: ', status);
        }
        });
    }


    $('input[id=inUserPhotoFile]').change(function() {
    var extension = $("#inUserPhotoFile").val().substring($("#inUserPhotoFile").val().lastIndexOf('.'));
    var ValidFileType = ".jpeg, .jpg , .png , .gif";
    if (ValidFileType.toLowerCase().indexOf(extension.toLowerCase()) < 0) {
    alert("Please only select an image file of type (JPG, GIF, PNG)");
    $("#uploadPhotoSubmit").attr('disabled', true);
    return;
    }

    var size = this.files[0].size;
    if (size > 1024000) {
    alert("The image file must be less than 1MB");
    $("#uploadPhotoSubmit").attr('disabled', true);
    return;
    }

    $('#pretty-input').val($(this).val().replace("C:\\fakepath\\", ""));
    $("#uploadPhotoSubmit").attr('disabled', false);

    });

    }

</script>

@if(m.pageMode) {
<div id="cmpyNav" class="navbar">
    <div class="navbar-inner">
        <ul class="nav">
            <li  id="cmpyNav1"><a   onclick="javascript:getPage('/cmpy/cmpy?inCmpyId=@m.cmpyId');"> Profile </a></li>
            <li>
                <img src="@{m.imgUrl}/img/spacer.gif" width="20px"/>
            </li>
            <li class='' id="cmpyNav2"><a   onclick="javascript:getPage('/user/users?inCmpyId=@m.cmpyId&inCmpyMode=@m.pageMode');">Users </a></li>
            <li>
                <img src="@{m.imgUrl}/img/spacer.gif" width="20px"/>
            </li>
            <li id="cmpyNav3"><a   onclick="javascript:getPage('/cmpy/groups?inCmpyId=@m.cmpyId');">Groups </a></li>
            <li>
                <img src="@{m.imgUrl}/img/spacer.gif" width="20px"/>
            </li>
        </ul>
    </div>
</div>
}


<div class="well">
    <form id="userForm">
        <input type="hidden" id="inEditMode" name="inEditMode" value="@m.isExistingUser">
        <input type="hidden" id="inCmpyMode" name="inCmpyMode" value="@m.pageMode">
        <input type="hidden" id="inCmpyId" name="inCmpyId" value="@m.cmpyId">


        <fieldset><legend>
            User Information
        </legend>  </fieldset>
        <div class="row-fluid">
            <div class="span2">
                <label>User Name <em>*</em></label>
                <input type="text" class="required input-block-level" minlength="5" id="inUserId" name="inUserId" value="@m.userId" placeholder="User Id (min. 5 chars)">
            </div>
            <div class="span1 ">
                @if(m.profilePhotoUrl != null && m.profilePhotoUrl.length > 0) {
                <img class="img-rounded pull-left" src="@m.profilePhotoUrl" width="100%"></img>
                }
            </div>

            <div class="span3">
            </div>
            <div class="span3">
                <label>Email <em>*</em></label>
                <input type="text" class="required email input-block-level" id="inUserEmail" name="inUserEmail" value="@m.email" placeholder="Email">
            </div>
            <div class="span3">
                <label>Confirm Email <em>*</em></label>
                <input type="text" class="required email input-block-level" equalTo="#inUserEmail" id="inUserEmailConfirm" placeholder="Confirm Email" name="inUserEmailConfirm" value="@m.email">
            </div>


        </div>

        <br/>
        <div class="row-fluid">

            <div class="span5">
                <label>First Name <em>*</em></label>
                <input type="text" class="required input-block-level" minlength="2" id="inUserFirstName" name="inUserFirstName" value="@m.firstName" placeholder="First Name">
            </div>
            <div class="span1">
            </div>
            <div class="span5">
                <label>Last Name <em>*</em></label>
                <input type="text" class="required input-block-level" minlength="2" id="inUserLastName" name="inUserLastName" value="@m.lastName" placeholder="Last Name">
            </div>
        </div>
        <br/>
        <div class="row-fluid">
            @if((m.isCmpyAdmin || m.isUMappedAdmin) && m.cmpyId!=null && m.cmpyId.length > 0) {
            <label>Type<em>*</em></label>
            <label class="radio inline">
                <input type="radio" name="inUserType"  value=@LinkType.ADMIN.getIdx() @if(m.userType == LinkType.ADMIN.getIdx()){checked} >
                Administrator
            </label>
            <label class="radio inline">
                <input type="radio" name="inUserType" value=@LinkType.MEMBER.getIdx() @if(m.userType !=LinkType.ADMIN.getIdx()){checked}>
                Member
            </label>
            }
            @if(m.isUMappedAdmin && (m.cmpyId ==null || m.cmpyId.length == 0)) {
            <label>Type<em>*</em></label>
            <label class="radio inline">
                <input type="radio" name="inUserType"  value=@APPConstants.USER_ACCOUNT_TYPE_UMAPPED checked >
                Umapped Administrator
            </label>
            }

        </div>
        <br/>


        <fieldset><legend>Contact Information</legend> </fieldset>
        <div class="row-fluid">

            <div class="span4">
                <label>Phone</label>
                <input type="text" class="input-block-level" id="inUserPhone" name="inUserPhone" value="@m.phone" placeholder="Phone">
            </div>
            <div class="span4">
                <label>Mobile</label>
                <input type="text" class="input-block-level" id="inUserMobile" name="inUserMobile" value="@m.mobile" placeholder="Mobile Phone">
            </div>
            <div class="span4">
                <label>Fax</label>
                <input type="text" class="input-block-level" id="inUserFax" name="inUserFax" value="@m.fax" placeholder="Fax">
            </div>
        </div>

        <br/>

        <div class="row-fluid">

            <div class="span4">
                <label>Facebook</label>
                <input type="text" class="input-block-level" id="inUserFacebook" name="inUserFacebook" value="@m.facebook" placeholder="Facebook Name">
            </div>
            <div class="span4">
                <label>Twitter</label>
                <input type="text" class="input-block-level" id="inUserTwitter" name="inUserTwitter" value="@m.twitter" placeholder="Twitter Handle">
            </div>
            <div class="span4">
                <label>Web</label>
                <input type="text" class="input-block-level" id="inUserWeb" name="inUserWeb" value="@m.web" placeholder="Website Url">
            </div>
        </div>


        <br/>

        <div class="row-fluid">

            @if((m.isUMappedAdmin || m.isOwner) && m.userId !=null) {
            <div class="span2 ">
                <button type="button" href="#uploadPhotoModal" id="uploadBtn" class="btn btn-primary pull-left" data-toggle="modal"><i class="icon-picture"></i> Upload Profile Photo </button>
            </div>
            }
            <div class="span3 pull-right">
                @if((m.isUMappedAdmin || m.isCmpyAdmin) && m.userId !=null) {
                <a href="#deleteModal" role="button" class="btn btn-danger btn-large" data-toggle="modal">Delete</a>
                }
                <button type="submit" class="btn btn-success btn-large"
                        onclick="javascript:postForm('/user/newUMappedUser', 'userForm');return false;">Save >
                </button>
            </div>
        </div>
    </form>
</div>


<!--modal for delete -->
@if((m.isUMappedAdmin || m.isCmpyAdmin) && m.userId !=null) {


<div id="deleteModal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Confirm Delete</h3>
    </div>
    <div class="modal-body">
        <p>Delete this user?</p>
        Note: This user will no longer have access to any trips associated with this company.


    </div>
    <div class="modal-footer">
        <form id="deleteUserForm">
            <input type="hidden" id="inUserId" name="inUserId" value="@m.userId">
            <input type="hidden" id="inCmpyMode" name="inCmpyMode" value="@m.pageMode">
            <input type="hidden" id="inCmpyId" name="inCmpyId" value="@m.cmpyId">
            <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
            <button type="submit" class="btn btn-danger " id="deleteUserSubmit"
                    onclick="javascript:postForm('/user/removeUser', 'deleteUserForm');return false;">Delete
            </button>
        </form>
    </div>
</div>
}

<!-- modal for UserProfile -->
@if((m.isUMappedAdmin || m.isOwner) && m.userId !=null) {


<div id="uploadPhotoModal" class="modal hide fade">
    <form id="uploadPhotoForm">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Add a Profile Photo</h3>
        </div>
        <div class="modal-body">
            <div class="row-fluid">
                <div class="span9">
                    <input type="file"  id='inUserPhotoFile' name='inUserPhotoFile' class="hide ie_show"/>
                    <div class="input-append ie_hide">
                        <input id="pretty-input" class="input-block-level" type="text" onclick="$('input[id=file]').click();">
                        <a class="btn btn-info" onclick="$('input[id=inUserPhotoFile]').click();">Browse</a>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row-fluid" id="progressBarDiv">
                <div class="span12">
                    <div class="progress progress-striped active">
                        <div class="bar" id="progressBar" style="width: 0%;"></div>
                    </div>
                </div>​
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
            <button type="submit" class="btn btn-success "  id="uploadPhotoSubmit"  disabled
                    onclick="javascript:uploadPhoto();return false;" >Upload
            </button>

        </div>
    </form>
</div>

}
</div>
<--endPageBody-->
