@(m:  com.mapped.publisher.view.UsersView)
@import org.apache.commons.lang3.StringEscapeUtils.escapeEcmaScript
@import models.publisher.UserCmpyLink.LinkType

@if(m.message!=null && m.message.length > 0) {
<--alertMsg-->
<div id="alertMsg">
    <h4> @m.message</h4>
</div>
<--endAlertMsg-->

}

<--pageTitle-->
<div id="pageTitle">
    @if(m.pageMode) {
    <h1 class="page-title">@m.cmpyName - Users <a  href="javascript:showHelpCurrentPage();"> <img src="@m.imgUrl/img/u_btn_info.png?v20170405"> </a></h1>

    } else {
        <h1 class="page-title">User Management</h1>
     }

</div>
<--endPageTitle-->

<--pageHeader-->
<div id="pageHeader">
</div>
<--endPageHeader-->

<--pageBody-->
<div id="pageBody">
  <script>
    $('#addUserSubmit').click(function() {
        if ($('#addUserForm').valid()) {
            $('#addUserModal').modal('hide');
        }
    });


    $('#deleteUserSubmit').click(function() {
      $('#deleteModal').modal('hide');
    });

    function removeUser (userId, userName) {
      $('#inRemoveUserId').val(userId);
      $('#removeMsg').text('Remove ' + userName + ' from @escapeEcmaScript(m.cmpyName)?');
      $('#deleteModal').modal();
    }
  </script>

    @if(m.pageMode) {
    <div id="cmpyNav" class="navbar">
        <div class="navbar-inner">
            <ul class="nav">
                <li  id="cmpyNav1"><a   onclick="javascript:getPage('/cmpy/cmpy?inCmpyId=@m.cmpyId');"> Company Profile </a></li>
                <li>
                    <img src="@{m.imgUrl}/img/spacer.gif" width="20px"/>
                </li>
                <li class='active' id="cmpyNav2"><a>Users </a></li>
                <li>
                    <img src="@{m.imgUrl}/img/spacer.gif" width="20px"/>
                </li>
                <li id="cmpyNav3"><a   onclick="javascript:getPage('/cmpy/groups?inCmpyId=@m.cmpyId');">Groups </a></li>
                <li>
                    <img src="@{m.imgUrl}/img/spacer.gif" width="20px"/>
                </li>
                @if(m.isUMappedAdmin) {
                <li id="cmpyNav4"><a   onclick="javascript:getPage('/cmpy/merge?inCmpyId=@m.cmpyId');">MERGE </a></li>
                }
            </ul>
            <div style="margin-left:60%;margin-top:5px;float:right" >
                @if(m.isUMappedAdmin) {
                <button type="button" class="btn btn-success btn-large " href="#addUserModal" data-toggle="modal">Add a User</button>
                &nbsp;&nbsp;
                    <button type="button" class="btn btn-success  btn-large" onclick="javascript:getPage('/user/parseUser?inCmpyId=@m.cmpyId&inCmpyMode=@m.pageMode');">Add a User through Email</button>
                &nbsp;&nbsp;
                }
                <button type="button" class="btn btn-success  btn-large" onclick="javascript:getPage('/user/user?inCmpyId=@m.cmpyId&inCmpyMode=@m.pageMode');">Create a new user</button>
            </div>
        </div>
    </div>
    }
    <hr>

    <!-- New Datatables for Users -->
    <div class="" style="border: 1px solid #999999;">
        <div class="subTitle" > SEARCH USERS </div>
        <div style="padding:20px;">
            <script>
            $(function(){
              initUsersCmpy('@controllers.routes.UserController.usersDT(m.cmpyId, m.pageMode)');
            });
            </script>
            <table class="table table-striped" id="usersCmpyTable">
                <thead>
                <tr>
                    <th style="padding: 10px;">USER ID</th>
                    <th style="padding: 10px;">NAME</th>
                    <th style="padding: 10px;">EMAIL</th>
                    <th style="padding: 10px;">CONTACT</th>
                    <th style="padding: 10px;">ADMIN?</th>
                    <th style="padding: 10px;">ACCESS</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                <tr>
                    <th style="padding: 10px;">USER ID</th>
                    <th style="padding: 10px;">NAME</th>
                    <th style="padding: 10px;">EMAIL</th>
                    <th style="padding: 10px;">CONTACT</th>
                    <th style="padding: 10px;">ADMIN?</th>
                    <th style="padding: 10px;">ACCESS</th>
                    <th></th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>


    <!-- add existing user modal -->
    <div id="addUserModal" class="modal hide fade">
        <form id="addUserForm">
            <input type="hidden" id="inCmpyId" name="inCmpyId" value=@m.cmpyId>
            <input type="hidden" class="input-block-level required" id="inCmpyMode" name="inCmpyMode" value=@m.pageMode>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Add a user</h3>
            </div>
            <div class="modal-body">
                <div class="row-fluid">
                    <div class="span12">
                        <label>UserId <em>*</em></label>
                        <input type="text" id="inUserId" name="inUserId" class="required input-block-text">
                    </div>
                </div>
                <div class="row-fluid">
                    <label>Type<em>*</em></label>
                    <label class="radio inline">
                        <input type="radio" name="inUserType"  value=@LinkType.ADMIN.getIdx()>
                        Administrator
                    </label>
                  <label class="radio inline">
                    <input type="radio" name="inUserType" value=@LinkType.POWER.getIdx() >
                    Power Member
                  </label>
                    <label class="radio inline">
                        <input type="radio" name="inUserType" value=@LinkType.MEMBER.getIdx() checked>
                        Member
                    </label>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
                <button type="submit" class="btn btn-success "  id="addUserSubmit"
                        onclick="javascript:postForm('/user/addExistingUser','addUserForm');return false;" >Add
                </button>

            </div>
        </form>
    </div>

    <div id="deleteModal" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Confirm Delete</h3>
        </div>
        <div class="modal-body">
            <p id="removeMsg">Delete this user?</p>
            Note: This user will no longer have access to any trips associated with this company.


        </div>
        <div class="modal-footer">
            <form id="deleteUserForm">
                <input type="hidden" id="inRemoveUserId" name="inUserId" value="">
                <input type="hidden" id="inCmpyMode" name="inCmpyMode" value="@m.pageMode">
                <input type="hidden" id="inCmpyId" name="inCmpyId" value="@m.cmpyId">
                <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
                <button type="submit" class="btn btn-danger " id="deleteUserSubmit"
                        onclick="javascript:postForm('/user/removeUser', 'deleteUserForm');return false;">Delete
                </button>
            </form>
        </div>
    </div>

</div>
<--endPageBody-->
