@(m:  com.mapped.publisher.view.UserView)
@import com.mapped.publisher.common.APPConstants
@import models.publisher.UserCmpyLink.LinkType
@import models.publisher.{BillingEntity, BillingPmntMethod, BillingSchedule};


@if(m.message!=null && m.message.length > 0) {
<--alertMsg-->
<div id="alertMsg">
    <h4> @m.message</h4>
</div>
<--endAlertMsg-->

}

<--pageTitle-->
<div id="pageTitle">
    @if(m.pageMode) {
        @if(m.userId){
    <h1 class="page-title">@m.cmpyName - Update User Profile</h1>

    } else {
    <h1 class="page-title">@m.cmpyName - Create a New User</h1>

    }

    } else {
    @if(m.userId){
        <h1 class="page-title">Update User Profile <a  href="javascript:showHelpCurrentPage();"> <img src="@m.imgUrl/img/u_btn_info.png?v20170405"> </a></h1>
    } else {
    <h1 class="page-title">Create Umapped User <a  href="javascript:showHelp('createUserHelp');"> <img src="@m.imgUrl/img/u_btn_info.png?v20170405"> </a></h1>

    }
    }

</div>
<--endPageTitle-->

<--pageHeader-->
<div id="pageHeader">
</div>
<--endPageHeader-->

<--pageBody-->
<div id="pageBody">
<script>
  @* BILLING *@
  @if(m.isUMappedAdmin) {
      initBillingUser();
  }
  @* END OF BILLING *@


    @if((m.isUMappedAdmin || m.isCmpyAdmin) && m.userId !=null) {
        $('#deleteUserSubmit').click(function() {
            $('#deleteModal').modal('hide');
        });

        $('#resetPasswordSubmit').click(function() {
            $('#resetPasswordModal').modal('hide');
        });
    }

    @if((m.isUMappedAdmin || m.isOwner) && m.userId !=null) {
        $('#changePasswordSubmit').click(function() {
            if ($('#changePasswordForm').valid())
                $('#changePasswordModal').modal('hide');
    });
    }

    @if(m.isUMappedAdmin && m.userId !=null && (m.cmpyId == null || m.cmpyId.length == 0)) {
    $('#deleteUserSubmit1').click(function() {
    $('#deleteUserModal').modal('hide');
    });
    }



    @if((m.isUMappedAdmin || m.isOwner) && m.userId !=null) {
      function showResponse(responseText, statusText, xhr, $form)  {
      $('#uploadPhotoModal').modal('hide');
      getPage(uploadSuccessUrl);
      }

      function uploadPhoto() {
          $("#uploadSpinner").show();

        var uploadurl = '@routes.UserController.signS3UserPhoto(m.userId, null, false, m.cmpyId, m.pageMode)' +
                          @if(m.pageMode){'&'}else{'?'} + 'photoName=' +
                          escapeFilename($("#inUserPhotoFile").val().replace("C:\\fakepath\\", ""));

       if($.browser.msie) {
              signedS3(uploadurl, function(signedURL, publicURL, s3Bucket) {
                          return iFrameUpload( signedURL, publicURL, s3Bucket);
                  });

          } else {

          var s3upload = s3upload != null ? s3upload : new S3Upload({
              file_dom_selector: 'inUserPhotoFile',
              s3_sign_put_url: uploadurl,
              s3_object_caption: $("#inCmpyPhotoCaption").val(),
              onProgress: function(percent, message) {

              $("#progressUpload").text(percent + "%");
              },
              onFinishS3Put: function(public_url) {
                  $('#uploadPhotoModal').modal('hide');
                  getPage(public_url);
              },
              onError: function(status) {
                  $("#progressBarDiv").hide();
                  alert('Upload error: ', status);
              }
          });
          }
          return false;
      }


      $('input[id=inUserPhotoFile]').change(function() {
      var extension = $("#inUserPhotoFile").val().substring($("#inUserPhotoFile").val().lastIndexOf('.'));
      var ValidFileType = ".jpeg, .jpg , .png , .gif";
      if (ValidFileType.toLowerCase().indexOf(extension.toLowerCase()) < 0) {
      alert("Please only select an image file of type (JPG, GIF, PNG)");
      $("#uploadPhotoSubmit").attr('disabled', true);
      return;
      }
      if ( !$.browser.msie ) {

      var size = this.files[0].size;
      if (size > 1024000) {
      alert("The image file must be less than 1MB");
      $("#uploadPhotoSubmit").attr('disabled', true);
      return;
      }
      }

      $('#pretty-input').val($(this).val().replace("C:\\fakepath\\", ""));
      $("#uploadPhotoSubmit").attr('disabled', false);

      });
    }
</script>

    @if(m.pageMode) {
    <div id="cmpyNav" class="navbar">
        <div class="navbar-inner">
            <ul class="nav">
                <li  id="cmpyNav1"><a   onclick="javascript:getPage('/cmpy/cmpy?inCmpyId=@m.cmpyId');"> Company Profile </a></li>
                <li>
                    <img src="@{m.imgUrl}/img/spacer.gif" width="20px"/>
                </li>
                <li class='' id="cmpyNav2"><a   onclick="javascript:getPage('/user/users?inCmpyId=@m.cmpyId&inCmpyMode=@m.pageMode');">Users </a></li>
                <li>
                    <img src="@{m.imgUrl}/img/spacer.gif" width="20px"/>
                </li>
                <li id="cmpyNav3"><a   onclick="javascript:getPage('/cmpy/groups?inCmpyId=@m.cmpyId');">Groups </a></li>
                <li>
                    <img src="@{m.imgUrl}/img/spacer.gif" width="20px"/>
                </li>
            </ul>
        </div>
    </div>
    }




    <form id="userForm">
      <input type="hidden" id="inEditMode" name="inEditMode" value="@m.isExistingUser">
      <input type="hidden" id="inCmpyMode" name="inCmpyMode" value="@m.pageMode">
      <input type="hidden" id="inCmpyId" name="inCmpyId" value="@m.cmpyId">
      @if(m.isExistingUser && m.userId != null && m.userId.length > 0) {
      <input type="hidden" id="inUserId" name="inUserId" value="@m.userId">
      }
      @if(m.accountId != null) {
        <input type="hidden" id="inAccountId" name="inAccountId" value="@m.accountId">
      }
      <div class="subTitle">  USER INFORMATION </div>
      <div class="row-fluid">
          <div class="span2">
              <label>User Name <em>*</em></label>
              @if(m.isExistingUser && m.userId != null && m.userId.length > 0) {
                  <h4>@m.userId</h4>
              } else {
                  <input type="text" class="required input-block-level" style='text-transform: lowercase;' minlength="5" id="inUserId" name="inUserId" value="@m.userId" placeholder="User Id (min. 5 chars)">
              }
          </div>
          <div class="span2 ">
              @if(m.profilePhotoUrl != null && m.profilePhotoUrl.length > 0) {
                  <img class="pull-left" src="@m.profilePhotoUrl" width="100%" style="margin-top:10px"></img>
              }
          </div>

          <div class="span2">
              @if(m.lastLoginTimestamp != null && m.lastLoginTimestamp.length > 1 && m.userId != null && m.userId.length > 0){
                  <label> Last Login </label>
                    <h5>  @m.lastLoginPrint</h5>
              }
          </div>
          <div class="span3">
              <label>Email <em>*</em></label>
              @if(m.userId && !m.isUMappedAdmin){
                <input type="hidden" id="inUserEmail" name="inUserEmail" value="@m.email" placeholder="Email">
                @m.email
              } else {
                <input type="text" class="required email input-block-level" id="inUserEmail" name="inUserEmail" value="@m.email">
              }
          </div>
          @if(m.userId == null || m.userId.length > 0){
          <div class="span3">
            @if(m.userId && !m.isUMappedAdmin){
              <input type="hidden" id="inUserEmailConfirm"  name="inUserEmailConfirm" value="@m.email">
            } else {
              <label>Confirm Email <em>*</em></label>
              <input type="text" class="required email input-block-level" equalTo="#inUserEmail" id="inUserEmailConfirm" placeholder="Confirm Email" name="inUserEmailConfirm" value="@m.email">
             }
          </div>
          }
      </div>
      <br/>
      <div class="row-fluid">

          <div class="span5">
              <label>First Name <em>*</em></label>
            @if(m.userId && !m.isUMappedAdmin){
              <input type="hidden" class="required input-block-level" minlength="2" id="inUserFirstName" name="inUserFirstName" value="@m.firstName">
              @m.firstName
              } else {
              <input type="text" class="required input-block-level" minlength="2" id="inUserFirstName" name="inUserFirstName" value="@m.firstName">
              }
          </div>
           <div class="span5">
              <label>Last Name <em>*</em></label>
             @if(m.userId && !m.isUMappedAdmin){
               <input type="hidden" class="required input-block-level" minlength="2" id="inUserLastName" name="inUserLastName" value="@m.lastName">
               @m.lastName
              } else {
               <input type="text" class="required input-block-level" minlength="2" id="inUserLastName" name="inUserLastName" value="@m.lastName">
              }
          </div>
        <div class="span2">
        @if(m.userId != null && m.userId.length > 0) {
          <label> Member Since  </label>
          <h5>@m.createdon</h5>
        } else {
            @if(m.userId == null && m.isCmpyAdmin) {
                <input type="checkbox" name="sendEmail" id="sendEmail" value="true" checked> Send Welcome Email
            }
        }
        </div>
      </div>
      <br/>
      <div class="row-fluid">
          @if((m.isCmpyAdmin || m.isUMappedAdmin) && m.cmpyId!=null && m.cmpyId.length > 0) {
          <label>Type<em>*</em></label>
          <label class="radio inline">
              <input type="radio" name="inUserType"  value=@LinkType.ADMIN.getIdx() @if(m.userType == LinkType.ADMIN.getIdx()){checked} >
              Administrator
          </label>
            <label class="radio inline">
              <input type="radio" name="inUserType" value=@LinkType.POWER.getIdx() @if(m.userType == LinkType.POWER.getIdx()){checked}>
              Power Member
            </label>
          <label class="radio inline">
              <input type="radio" name="inUserType" value=@LinkType.MEMBER.getIdx() @if(m.userType == LinkType.MEMBER.getIdx()) {checked}>
              Member
          </label>

          }
          @if(m.isUMappedAdmin && (m.cmpyId ==null || m.cmpyId.length == 0)) {
          <label>Type<em>*</em></label>
          <label class="">
              @if(m.intUserType == APPConstants.USER_ACCOUNT_TYPE_UMAPPED){<h5> UMapped Administrator </h5>} else {
                  <h5>External User</h5>
              }

          </label>
          }

      </div>
      <br/>

      @* BILLING *@
      @if(m.isUMappedAdmin) {
        <div class="subTitle">BILLING</div>
        <div class="row-fluid">
          <div class="span2">
            <label>Account Billed To</label>
            <select name="billingBilledTo" id="billingBilledTo">
              @for(v <- m.billing.availableEntities) {
                <option value="@v.getName"
                @if((m.billing.bsUser != null && m.billing.bsUser.getBillTo.getName == v.getName) || (m.billing.bsUser == null && v.getName == BillingEntity.Type.USER) || m.billing.defaultEntity != null && m.billing.defaultEntity.getName == v.getName) {selected }>
                  @v.getName
                </option>
              }
            </select>
          </div>
          <div class="span2">
            <label>Billing Schedule</label>
            <select name="billingSchedule" id="billingSchedule">
              @for(v <- m.billing.availableSchedules) {
                <option value="@v.getName"
                  @if((m.billing.bsUser != null && m.billing.bsUser.getSchedule.getName == v.getName) || (m.billing.bsUser == null && v.getName == BillingSchedule.Type.TRIP ) || ( m.billing.defaultSchedule != null && m.billing.defaultSchedule.getLongName == v.getLongName)) { selected } >
                  @v.getLongName
                </option>
              }
            </select>
          </div>
          @if(m.cmpyId != null && m.userId != null) {
           <div class="span2">
             <a role="button" class="btn btn-danger " onclick="javascript:bkConfirmCCUpdate('@routes.BillingApiController.syncCCUser(m.userId, m.cmpyId)');return false;">Sync User from Braintree</a>
             <br/>
             Cust Id: @m.accountId
           </div>

           @if(m.creditCardInfo != null && m.creditCardInfo.isCreditCardEligible) {
            <div class="span2">
              <a role="button" class="btn btn-danger " onclick="javascript:bkConfirmCCUpdate('@routes.BillingApiController.updateCCBilling(m.userId, m.cmpyId)');return false;">Update Credit Card Subscription</a>
            </div>
            <div class="span4">
              Important - before updating the credit card subscription please makes sure that the plan changes have been saved. <br/>
              This user or the agent that this plan is billed to must have a credit card on record - if not this will not work.
            </div>
           }
          }
        </div>
        <div class="row-fluid">
          <div class="span4">
            <label>Billing Plan</label>
            <select name="billingPlan" id="billingPlan" class="input-block-level">

            @for(v <- m.billing.availablePlans) {
              <option value="@v.getPlanId"
              @if((m.billing.bsUser != null && m.billing.bsUser.getPlan != null && m.billing.bsUser.getPlan.getPlanId == v.getPlanId) || (m.billing.defaultPlan != null && m.billing.defaultPlan.getDescriptive == v.getDescriptive)){selected}>
                @v.getDescriptive
              </option>
            }

            </select>
          </div>
          <div class="span2">
            <label>Payment Method</label>
            <select name="billingPmntMethod" id="billingPmntMethod" class="input-block-level">

            @for(v <- BillingPmntMethod.Type.values()) {
              <option value="@v"
              @if(m.billing.bsUser != null && m.billing.bsUser.getPmntType != null && m.billing.bsUser.getPmntType.getName == v) {
                selected
              } >@v.name()</option>
            }
            </select>
          </div>
        </div>
        <div id="billingBilledToCompany">
          <div class="row-fluid">
            <div class="span2">
              <label>Billable Company</label>
              <input type="text" id="billingCmpyName" name="billingCmpyName" @if(m.billing.bsUser != null && m.billing.bsUser.getCmpyid != null){
                value="@m.billing.billableCmpyName" }>
              <input type="hidden" id="billingCmpyId" name="billingCmpyId" @if(m.billing.bsUser != null && m.billing.bsUser.getCmpyid != null){
                value="@m.billing.bsUser.getCmpyid" }>
            </div>
          </div>
        </div>
        <div id="billingBilledToAgent">
          <div class="row-fluid">
            <div class="span2">
              <label>Billable Agent</label>
              <input type="text" id="billingAgentName" name="billingAgentName" @if(m.billing.bsUser != null && m.billing.bsUser.getAgent != null){
              value="@m.billing.billableAgentName" }>
              <input type="hidden" id="billingAgentId" name="billingAgentId" @if(m.billing.bsUser != null && m.billing.bsUser.getAgent != null){
                value="@m.billing.bsUser.getAgent" }>
            </div>
          </div>
        </div>
        <div id="billingBilledToUser">

        </div>
        <div class="row-fluid">
          <div class="span2">
            <label>Billing Start Date</label>
            <div class="input-append date">
              <span class="add-on"><i class="fa fa-calendar"></i></span>
              <input type="text" id="billingStartDate" readonly class="input-small" name="billingStartDate" @if(m.billing.bsUser != null) {
                value="@m.billing.startTs"} @if(m.billing.defaultStartTs != null) {value="@m.billing.defaultStartTs"}>
            </div>
          </div>
          <div class="span2">
            <label>Service Cutoff Date</label>
            <div class="input-append date">
              <div  id="cutoffDateArea">
                <span class="add-on"><i class="fa fa-calendar"></i></span>
                <input type="text" id="serviceCutoffDate" readonly class="input-small" name="serviceCutoffDate" @if(m.billing.bsUser != null) {
                  value="@m.billing.cutoffTs"} @if(m.billing.defaultCutoffTs != null) {value="@m.billing.defaultCutoffTs"}>
              </div>
            </div>
          </div>
          <div class="span2">
            <label>Auto-renew / Recurrent</label>
            <input type="checkbox" name="billingRecurrent" id="billingRecurrent" value="true" @if(m.billing.bsUser != null && m.billing.bsUser.getRecurrent == false){} else {checked}>
          </div>

        </div>

        <br/>


        @* Only after billing is setup you can tweak add-ons *@
        @if(m.billing.bsUser != null) {
          <div class="subTitle">ADD-ONS</div>
          <p class="muted">Make sure billing settings are saved (below) before editing add-ons.</p>
          <table class="table table-stripped">
            <thead>
              <th>Name</th>
              <th>Billing Start Date (Auto)</th>
              <th>Service Cuttoff (Forced)</th>
              <th>Trial Days Used</th>
              <th>Enabled</th>
            </thead>
            <tbody>
            @for(addon <- m.billing.addons) {
              <tr data-addonid="@addon.addon.getPlanId" data-user="@addon.addonParams.getPk.userid">
                <td>@addon.addon.getName</td>
                <td>
                <div class="input-append date">
                  <span class="add-on"><i class="fa fa-calendar"></i></span>
                  <input type="text" readonly class="input-small" name="addonStartDate" value="@addon.startDate" >
                </div>

                </td>
                <td>
                <div class="input-append date">
                  <span class="add-on"><i class="fa fa-calendar"></i></span>
                  <input type="text" readonly class="input-small" name="addonCutoffDate" value="@addon.cutoffDate">
                </div>

                </td>
                <td>@addon.addonParams.getTrialCount</td>
                <td><input type="checkbox" name="addonEnabled" @if(addon.addonParams.getEnabled) {checked}></td>
              </tr>
            }
            </tbody>
          </table>
        }
      }
      @* END OF BILLING *@


      <div class="subTitle">CONTACT INFORMATION</div>
      <div class="row-fluid">

          <div class="span4">
              <label>Phone</label>
              <input type="text" class="input-block-level" id="inUserPhone" name="inUserPhone" value="@m.phone" placeholder="Phone">
          </div>
          <div class="span3">
              <label>Mobile</label>
              <input type="text" class="input-block-level" id="inUserMobile" name="inUserMobile" value="@m.mobile" placeholder="Mobile Phone">
          </div>
          <div class="span3">
              <label>Fax</label>
              <input type="text" class="input-block-level" id="inUserFax" name="inUserFax" value="@m.fax" placeholder="Fax">
          </div>
          <div class="span2">
              <label>Ext.</label>
              <input type="text" class="input-block-level" id="inUserExtension" name="inUserExtension" value="@m.extension" placeholder="Extension">
          </div>
      </div>

      <br/>

      <div class="row-fluid">

          <div class="span4">
              <label>Facebook</label>
              <input type="text" class="input-block-level" id="inUserFacebook" name="inUserFacebook" value="@m.facebook" placeholder="Facebook Name">
          </div>
          <div class="span4">
              <label>Twitter</label>
              <input type="text" class="input-block-level" id="inUserTwitter" name="inUserTwitter" value="@m.twitter" placeholder="Twitter Handle">
          </div>
          <div class="span4">
              <label>Web</label>
              <input type="text" class="input-block-level" id="inUserWeb" name="inUserWeb" value="@m.web" placeholder="Website Url">
          </div>
      </div>

      <br/>
    @if(m.isUMappedAdmin && m.createdby != null){
      @if(m.isViaCollab) {
        Created Via Collaboration - Invited by: @m.createdby
      } else {
        Created By: @m.createdby
      }
    }
    <br/>

    @if(!m.isOwner && m.isUMappedAdmin && m.cmpyLinks != null) {
      <div class="row-fluid">
         <legend>
             COMPANY LINKS
         </legend>
      @if(m.cmpyLinks == null || m.cmpyLinks.size() == 0){
          <div class="span8">
            <h3>NO COMPANY LINKS YET</h3>
          </div>
      } else {
          <div class="span8">
          @for(p <- m.cmpyLinks){
              <div class="row-fluid">
                  <div class="span1">
                      <a class="btn btn-info pull-left" style="margin-top:5px;" onclick="javascript:getPage('/cmpy/cmpy?inCmpyId=@p.cmpyId');">View</a>
                  </div>
                  <div class="span8">
                     <h4>@p.cmpyName</h4>
                         (@p.linkType)
                  </div>

              </div>
              <hr style="width:75%;">
          }
          </div>
      }
      </div>
      <br/><br/>
    }



    <div class="row-fluid">
      @if((m.isUMappedAdmin || m.isOwner) && m.userId !=null) {
        <div class="span3 ">
          <button data-controls-modal="uploadPhotoModal" data-backdrop="static" data-keyboard="false" type="button" href="#uploadPhotoModal" id="uploadBtn" class="btn btn-primary pull-left" data-toggle="modal"><i class="fa fa-picture"></i> Upload Profile Photo </button>
        </div>
      } else {
        <div class="span3 "> </div>
      }

      @if((m.isUMappedAdmin || m.isCmpyAdmin) && m.userId != null && m.cmpyId != null && m.cmpyId.length > 0) {
        <div class="span4">
          <a href="#deleteModal" role="button" class="btn btn-danger btn-large pull-right" data-toggle="modal">
            Remove</a>
        </div>
      } else {
        @if(m.isUMappedAdmin && m.userId != null && (m.cmpyId == null || m.cmpyId.length == 0)) {
          <div class="span4">
            <a href="#deleteUserModal" role="button" class="btn btn-danger btn-large pull-right" data-toggle="modal">
              Delete</a>
          </div>
        } else {
          <div class="span4"></div>
        }
      }
      <div class="span5">
        @if(m.isUMappedAdmin && m.canSendWelcomeEmail) {
          <button type="button" href="#sendWelcomeEmailModal" id="welcomeEmailBtn" class="btn btn-info btn-large" data-toggle="modal">
            Send Welcome Email </button>
            &nbsp;&nbsp;&nbsp;
        }

        @if((m.isUMappedAdmin || m.isOwner) && m.userId != null) {
          <button type="button" href="#changePasswordModal" id="changePwdBtn" class="btn btn-info btn-large" data-toggle="modal">
            Change Password</button>
            &nbsp;&nbsp;
        }
        @if((m.isUMappedAdmin || m.isCmpyAdmin) && !m.isOwner && m.userId != null) {
          <button type="button" href="#resetPasswordModal" id="resetPwdBtn" class="btn btn-info btn-large" data-toggle="modal">
            Reset Password </button>
            &nbsp;&nbsp;&nbsp;
        }

        <button type="submit" class="btn btn-success btn-large "
          onclick="javascript:postForm ('/user/editUser', 'userForm') ; return false ;">Save
        </button>
      </div>
    </div>
    @if(m.isOwner && m.userId !=null) {
      <div class="row-fluid">
        <div class=" span3">
          <a role="button" class="btn btn-danger " onclick="javascript:doPost('@routes.ClassicVacationsController.clearSession()')">Logout From Classic Vacations</a>
        </div>
      </div>
    }
  </form>
  @if(m.isUMappedAdmin && m.creditCardInfo != null) {
    <div style="padding-top: 20px">
      <div class="subTitle">CREDIT CARD INFORMATION</div>
      <div class="row-fluid">
        <div class="span6">
        @if(m.creditCardInfo.isCreditCardEligible) {
          @m.creditCardInfo.userBillingInfo<br/>
          @if(m.creditCardInfo.agentBillingInfo != null) {
            @m.creditCardInfo.agentBillingInfo <br/>
          }
        } else {
          <h3> No Credit Card Payment set up in Braintree</h3>
        }
        </div>
      </div>
      @if(!m.creditCardInfo.hasPlanSub) {
        <h3>Braintreen Subscription NOT SET UP YET.</h3>
      }
      @if(m.creditCardInfo.subscriptions != null && m.creditCardInfo.subscriptions.size() > 0 && m.userId != null && m.cmpyId != null) {
        <table class="table table-stripped">
          <thead>
            <th>Name</th>
            <th>Sub Id</th>
            <th>Status</th>
            <th>Amount</th>
            <th>Created On</th>
            <th>First Bill Date</th>
            <th>Next Bill Date</th>
            <th>Paid Thru Date</th>
            <th>Failed Count</th>
            <th>Days Past Due</th>
          </thead>
          <tbody>
          @for(p <- m.creditCardInfo.subscriptions) {
            <tr>
              <td>
                @if(p.isAddOn) {
                  Add-ON:
                } else {
                  Plan:
                }
                @p.name - Plan Id: @p.planId<br/>
                @if(p.braintreeStatus != null) {
                  Last Braintree Event: @p.braintreeStatus - @p.braintreeStatusAsOf
                }
                @if(!p.isAddOn && p.isActive) {
                  <a role="button" class="btn btn-danger " onclick="javascript:bkConfirmCCUpdate('@routes.BillingApiController.cancelCCBilling(m.userId, m.cmpyId)');return false;">Cancel Subscription</a>
                }
              </td>
              <td>
              @p.subId
              </td>
              <td>@if(p.isActive){Active}else{Cancelled}</td>
              <td>@p.amount</td>
              <td>@p.createdOn</td>
              <td>@p.firstBillDate</td>
              <td>@p.paidThru</td>
              <td>@p.nextBillDate</td>
              <td>@p.failureCount</td>
              <td>@p.daysPastDue</td>
            </tr>
          }
          </tbody>
        </table>
      }
      @if(m.creditCardInfo.isCreditCardEligible && m.billing.bsUser.getBillTo.getName == BillingEntity.Type.USER) {
      <div>
        <legend>Invoices</legend>
        <form id="invoiceForm" action="@routes.BillingApiController.printInvoice(m.accountId)" method="get" target="_blank">
          <div class="row-fluid">
            <div class="span2">
              <label>Month</label>
              <select id="invmonth" name="invmonth">
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
              </select>
            </div>
            <div class="span2">
              <label>Year</label>
              <select id="invyear" name="invyear">
                <option value="2017">2017</option>
                <option value="2018">2018</option>
              </select>
            </div>
            <div class="span2">
              <input type="submit" class="btn btn-success btn-large " value="Download">
            </div>
          </div>

        </form>
      </div>
      }
    </div>

  }

  <form id="eligiblePlanForm">
    @if(m.isUMappedAdmin && m.userId != null && m.stillOnTrial) {
      <input type="hidden" id="inEditMode" name="inEditMode" value="@m.isExistingUser">
      <input type="hidden" id="inCmpyMode" name="inCmpyMode" value="@m.pageMode">
      <input type="hidden" id="inCmpyId" name="inCmpyId" value="@m.cmpyId">
      @if(m.isExistingUser && m.userId != null && m.userId.length > 0) {
      <input type="hidden" id="inUserId" name="inUserId" value="@m.userId">
      }
      @if(m.accountId != null) {
      <input type="hidden" id="inAccountId" name="inAccountId" value="@m.accountId">
      }

      <div style="padding-top: 20px">
        <div class="subTitle">ELIGIBLE PLANS</div>
        <div class="row-fluid">
          <div class="span4">
            <label>Monthly Basic Plan</label>
            <select name="monthlyBasicPlanId" id="monthlyBasicPlanId" class="input-block-level">
              <option></option>
              @for(v <- m.monthlyBasicPlanList) {
                <option value="@v.getPlanId" @if(m.eligiblePlans != null && m.eligiblePlans.monthlyBasicPlanId == v.getPlanId) {selected}>
                    @v.getDescriptive
                </option>
              }
            </select>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4">
            <label>Yearly Basic Plan</label>
            <select name="yearlyBasicPlanId" id="yearlyBasicPlanId" class="input-block-level">
              <option></option>
              @for(v <- m.yearlyBasicPlanList) {
              <option value="@v.getPlanId" @if(m.eligiblePlans != null && m.eligiblePlans.yearlyBasicPlanId == v.getPlanId) {selected}>
                @v.getDescriptive
              </option>
              }
            </select>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4">
            <label>Monthly Pro Plan</label>
            <select name="monthlyProPlanId" id="monthlyProPlanId" class="input-block-level">
              <option></option>
              @for(v <- m.monthlyProPlanList) {
                <option value="@v.getPlanId" @if(m.eligiblePlans != null && m.eligiblePlans.monthlyProPlanId == v.getPlanId) {selected}>
                    @v.getDescriptive
                </option>
              }
            </select>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4">
            <label>Yearly Pro Plan</label>
            <select name="yearlyProPlanId" id="yearlyProPlanId" class="input-block-level">
              <option></option>
              @for(v <- m.yearlyProPlanList) {
                <option value="@v.getPlanId" @if(m.eligiblePlans != null && m.eligiblePlans.yearlyProPlanId == v.getPlanId) {selected}>
                    @v.getDescriptive
                </option>
              }
            </select>
          </div>
        </div>
        <div class="row-fluid">
          <div class="offset6 span2">
            <button type="submit" class="btn btn-success btn-large pull-right"
                    onclick="javascript:postForm ('/user/eligiblePlans', 'eligiblePlanForm') ; return false ;">Save
            </button>
          </div>
        </div>

      </div>
    }
  </form>

  @if(m.isOwner && m.cmpyApis != null && m.cmpyApis.size() > 0){
    <div style="padding-top: 20px">
      <legend>API EMAIL ADDRESS</legend>
      <p class="muted">
      Use the below email address to forward and add your travel documents (Word and PDF) to a Umapped trip itinerary. Depending on your company's setup, and the document types, the document contents may be processed and added directly to Step 2:Itinerary of your trip. Documents that cannot be processed will be added as attachments which are available on the web and mobile versions of the trip itinerary.
      <br/><br/>Email us at <a href="mailto:support@@umapped.com?subject=Email%20Api">support@@umapped.com</a> for more information
      <br/><br/>Important!
      <ol>
        <li>
          Only Word or PDF email attachments will be processed and/or attached.
        </li>
        <li>
          Make sure that the email from which you are sending the documents matches the email address in your Umapped account.
        </li>
        <li>
          Match the subject line of your email to the name of the Trip you have started in Umapped.
        </li>
      </ol>
      <br/>
      <strong><i>
      If you not yet started a trip in Umapped, a new trip will be created and the subject line of your email will be the name of this trip.
      </i></strong>

      </p>
      <br/>

      @for((k,v) <- m.cmpyApis) {
        <div class="row-fluid">
          <span style="color : #00B4FF;font-size: 18px;font-weight: 600" > <a href="mailto:@v"> @v</a> </span> <span style="font-size: 16px;font-weight: 600;padding-left: 5px" > for @k</span>
          <br><br>
        </div>
      }
    </div>
  }
  <!--user api links -->
  @if(m.userId != null && (m.isCmpyAdmin || m.isUMappedAdmin)) {
    @views.html.user.apiUserLink(m.apiCmpyTokens, m.apiUserLinks, m.userId, m.cmpyId)
  }


  <!--modal for remove user -->
  @if((m.isUMappedAdmin || m.isCmpyAdmin) && m.userId !=null) {
    <div id="deleteModal" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Confirm Delete</h3>
        </div>
        <div class="modal-body">
            <p>Delete this user?</p>
            Note: This user will no longer have access to any trips associated with this company.
        </div>
        <div class="modal-footer">
            <form id="deleteUserForm">
              <input type="hidden" id="inAccountId" name="inAccountId" value="@m.accountId">
              <input type="hidden" id="inUserId" name="inUserId" value="@m.userId">
                <input type="hidden" id="inCmpyMode" name="inCmpyMode" value="@m.pageMode">
                <input type="hidden" id="inCmpyId" name="inCmpyId" value="@m.cmpyId">
                <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
                <button type="submit" class="btn btn-danger " id="deleteUserSubmit"
                        onclick="javascript:postForm('/user/removeUser', 'deleteUserForm');return false;">Delete
                </button>
            </form>
        </div>
    </div>
  }

  <!-- modal for UserProfile -->
  @if((m.isUMappedAdmin || m.isOwner) && m.userId !=null) {
    <div id="uploadPhotoModal" class="modal hide fade">
      <form id="uploadPhotoForm" method="post" enctype="multipart/form-data">

          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h3>Add a Profile Photo</h3>
          </div>
          <div class="modal-body">

              <div class="row-fluid">
                  <div class="span9">
                      <input type="hidden" id="key" name='key'/>
                      <input type="hidden" id="AWSAccessKeyId" name='AWSAccessKeyId'/>
                      <input type="hidden" id="policy" name='policy'/>
                      <input type="hidden" id="signature" name='signature'/>
                      <input type="hidden" id="success_action_status" name='success_action_status' value='201'/>
                      <input type="file"  id='inUserPhotoFile' name='file' />
                  </div>
              </div>
              <br/>

              <div id="uploadSpinner" style="display:none;text-align:center">
                  <img src="@{m.imgUrl}/img/ajax-loader.gif" > <h3> Uploading... <div id="progressUpload"></div></h3>

              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
              <button type="submit" class="btn btn-success "  id="uploadPhotoSubmit"
                      onclick="javascript:uploadPhoto();return false;" >Upload
              </button>

          </div>
      </form>
  </div>
  }

  <!-- modal for change password -->
  @if((m.isOwner || m.isUMappedAdmin) && m.userId !=null) {
    <div id="changePasswordModal" class="modal hide fade">
    <form id="changePasswordForm" class="form-horizontal">
      <input type="hidden" id="inUserId" name="inUserId" value="@m.userId">
      <input type="hidden" id="inAccountId" name="inAccountId" value="@m.accountId">
      <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Change Password</h3>
        </div>
        <div class="modal-body">
          @if(m.isOwner) {
            <div class="control-group">
                <label class="control-label" for="inOrigPwd">Old Password <em>*</em></label>
                <div class="controls">
                    <input class="required" type="password" id="inOrigPwd" name="inOrigPwd" placeholder="Old Password">
                </div>
            </div>
            <br/>
          }
          <div class="control-group">
                <label class="control-label" for="inNewPwd">New Password <em>*</em></label>
                <div class="controls">
                    <input class="required" type="password" id="inNewPwd" name="inNewPwd" minlength="8" maxlength="20" placeholder="New Password">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inConfirmPwd">Confirm Password <em>*</em></label>
                <div class="controls">
                    <input type="password" equalTo="#inNewPwd" class="required" minlength="8"  maxlength="20"  id="inConfirmPwd" name="inConfirmPwd" placeholder="Confirm Password">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
            <button type="submit" class="btn btn-success "  id="changePasswordSubmit"
                    onclick="javascript:postForm('/user/changePassword','changePasswordForm');return false;" >Change Password
            </button>

        </div>
    </form>
  </div>
  }

  <!-- modal for change password -->
  @if((m.isUMappedAdmin || m.isCmpyAdmin) && m.userId !=null){
    <div id="resetPasswordModal" class="modal hide fade">
      <form id="resetPasswordForm" class="form-horizontal">
        <input type="hidden" id="inAccountId" name="inAccountId" value="@m.accountId">
        <input type="hidden" id="inCmpyId" name="inCmpyId" value="@m.cmpyId">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Reset Password</h3>
        </div>
        <div class="modal-body">
            <p> A password reset email will be sent to the user.</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
            <button type="submit" class="btn btn-success"  id="resetPasswordSubmit"
                    onclick="javascript:postForm('@routes.SecurityController.resetPwdAdmin()','resetPasswordForm');return false;" >Reset Password
            </button>
        </div>
      </form>
    </div>
  }

  @if(m.isUMappedAdmin && m.canSendWelcomeEmail) {
    <script>
        $('#sendWelcomeEmailSubmit').click(function() {
        $('#sendWelcomeEmailModal').modal('hide');
        });
    </script>
    <div id="sendWelcomeEmailModal" class="modal hide fade">
        <form id="sendWelcomeEmailForm" class="form-horizontal">
            <input type="hidden" id="inUserId" name="inUserId" value="@m.userId">
            <input type="hidden" id="inCmpyId" name="inCmpyId" value="@m.cmpyId">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Send Welcome Email</h3>
            </div>
            <div class="modal-body">
                <p> A welcome email with a link to the password set up will be sent to the user.</p>
                <p> Email: @m.email</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
                <button type="submit" class="btn btn-success"  id="sendWelcomeEmailSubmit" onclick="javascript:postForm('/user/welcomeEmail','sendWelcomeEmailForm');return false;" >Send Welcome Email
                </button>

            </div>
        </form>
    </div>
  }


  @if(m.isUMappedAdmin && m.userId !=null && (m.cmpyId == null || m.cmpyId.length == 0)) {
    <!-- modal for user delete -->
    <div id="deleteUserModal" class="modal hide fade">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Confirm Delete</h3>
      </div>
      <div class="modal-body">
        <p>Delete this user?</p>
        Note: This user will no longer have access to any trips.
      </div>
      <div class="modal-footer">
        <form id="deleteUserForm1">
          <input type="hidden" id="inUserId" name="inUserId" value="@m.userId">
          <input type="hidden" id="inCmpyMode" name="inCmpyMode" value="@m.pageMode">
          <input type="hidden" id="inCmpyId" name="inCmpyId" value="@m.cmpyId">
          <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
          <button type="submit" class="btn btn-danger " id="deleteUserSubmit1"
                  onclick="javascript:postForm('/user/deleteUser', 'deleteUserForm1');return false;">Delete
          </button>
        </form>
      </div>
    </div>

    <div id="addonEditModal" class="modal hide fade">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Edit Add-on Settings</h3>
      </div>
      <div class="modal-body">
        <div id="addonEditBody">

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>
  }
</div>
<--endPageBody-->
