@(m: com.mapped.publisher.view.AfarInfoView)

<div class="afar-content" style="font-weight: normal; word-wrap: break-word; padding: 10px;">
  <div class="row-fluid afar-poi-section afar-overview-section" style="width: 100%;">
    <hr>
    <div class="afar-overview-header">
      <h2 style="line-height: 20px;font-size: 110%; font-weight: bolder; margin-bottom: 25px; padding: 0 10px;">Overview of @m.cityName</h2>
    </div>
    <div class="afar-overview-text" style="margin: 0 20px 0 0; width: 100%;">
      <p style="padding: 0 10px;">
        @Html(m.overview)
      </p>
    </div>
    <div class="afar-see-more-btn" style="margin: 25px 0; padding: 0 10px;">
      <a style="border-width: 0; border-radius: 2px; background-color: #d8d8d8; font-weight: 500; font-size: 11pt;
      color: #333333; padding: 5px 15px; text-align: center; line-height: 20px; text-decoration: none;"
         href="@m.url" target="_blank">SEE MORE ON AFAR.COM</a>
    </div>
  </div>

  @if(m.selectedAfarLists != null && m.selectedAfarLists.size() > 0 && m.selectedAfarLists.get(0) != null) {
    <div class="row-fluid afar-poi-section" style="width: 100%;">
      <hr>
      <div class="afar-poi-header">
        <h2 style="line-height: 20px;font-size: 110%; font-weight: bolder; margin-bottom: 25px; padding: 0 10px;">@m.selectedAfarLists.get(0).title</h2>
      </div>
      <div class="afar-poi-container" style="width: 100%;">
        <div class="poi-sub-container" style="">
          @if(m.selectedAfarLists.get(0).afarPois != null && m.selectedAfarLists.get(0).afarPois.size() > 0 && m.selectedAfarLists.get(0).afarPois(0) != null) {
            <div class="afar-poi-card" style="margin-bottom: 40px; padding: 0 10px;">
              @if(m.selectedAfarLists.get(0).afarPois(0).images != null){
              <div class="afar-poi-image" style="height: 300px;
                background-position: center;
                background-size: cover;
                background-image: url(@m.selectedAfarLists.get(0).afarPois(0).images(0).url)">
              </div>
            }
              <div class="afar-poi-description">
                <h2 style="font-size: 110%; margin: 5px 0;line-height: 20px;">@m.selectedAfarLists.get(0).afarPois(0).title</h2>
                <p style="margin: 0;">@Html(m.selectedAfarLists.get(0).afarPois(0).description)</p>
              </div>
            </div>
          }
          @if(m.selectedAfarLists.get(0).afarPois != null && m.selectedAfarLists.get(0).afarPois.size() > 1 && m.selectedAfarLists.get(0).afarPois(1) != null) {
            <div class="afar-poi-card" style="margin-bottom: 40px; padding: 0 10px;">
              @if(m.selectedAfarLists.get(0).afarPois(1).images != null){

              <div class="afar-poi-image" style="height: 300px; background-position: center; background-size: cover;
              background-image: url(@m.selectedAfarLists.get(0).afarPois(1).images(0).url)">
              </div>
             }
              <div class="afar-poi-description">
                <h2 style="font-size: 110%; margin: 5px 0;line-height: 20px;">@m.selectedAfarLists.get(0).afarPois(1).title</h2>
                <p style="margin: 0;">@Html(m.selectedAfarLists.get(0).afarPois(1).description)</p>
              </div>
            </div>
          }
          @if(m.selectedAfarLists.get(0).afarPois != null && m.selectedAfarLists.get(0).afarPois.size() > 2 && m.selectedAfarLists.get(0).afarPois(2) != null) {
            <div class="afar-poi-card" style="margin-bottom: 40px; padding: 0 10px;">
              @if(m.selectedAfarLists.get(0).afarPois(2).images != null){
              <div class="afar-poi-image" style="height: 300px;
                background-position: center;
                background-size: cover;
                background-image: url(@m.selectedAfarLists.get(0).afarPois(2).images(0).url)">
              </div>
            }
              <div class="afar-poi-description">
                <h2 style="font-size: 110%; margin: 5px 0;line-height: 20px;">@m.selectedAfarLists.get(0).afarPois(2).title</h2>
                <p style="margin: 0;">@Html(m.selectedAfarLists.get(0).afarPois(2).description)</p>
              </div>
            </div>
          }
        </div>
      </div>

      <div class="afar-see-more-btn" style="margin: 25px 0; padding: 0 10px;">
        <a style="border-width: 0; border-radius: 2px; background-color: #d8d8d8; font-weight: 500; font-size: 11pt;
        color: #333333; padding: 5px 15px; text-align: center; line-height: 20px; text-decoration: none;"
           href="@m.selectedAfarLists.get(0).url" target="_blank">SEE MORE ON AFAR.COM</a>
      </div>
    </div>
  }


  @if(m.selectedAfarLists != null && m.selectedAfarLists.size() > 1 && m.selectedAfarLists.get(1) != null) {
    <div class="row-fluid afar-poi-section" style="width: 100%;">
      <hr>
      <div class="afar-poi-header">
        <h2 style="line-height: 20px;font-size: 110%; font-weight: bolder; margin-bottom: 25px; padding: 0 10px;">@m.selectedAfarLists.get(1).title</h2>
      </div>
      <div class="afar-poi-container" style="width: 100%;">
        <div class="poi-sub-container" style="">
          @if(m.selectedAfarLists.get(1).afarPois != null && m.selectedAfarLists.get(1).afarPois.size > 0 &&  m.selectedAfarLists.get(1).afarPois(0) != null) {
            <div class="afar-poi-card" style="margin-bottom: 40px; padding: 0 10px;">
              @if(m.selectedAfarLists.get(1).afarPois(0).images != null) {
              <div class="afar-poi-image" style="height: 300px; background-position: center; background-size: cover;
              background-image: url(@m.selectedAfarLists.get(1).afarPois(0).images(0).url)">
              </div>
              }
              <div class="afar-poi-description">
                <h2 style="font-size: 110%; margin: 5px 0;line-height: 20px;">@m.selectedAfarLists.get(1).afarPois(0).title</h2>
                <p style="margin: 0;">@Html(m.selectedAfarLists.get(1).afarPois(0).description)</p>
              </div>
            </div>
          }
          @if(m.selectedAfarLists.get(1).afarPois != null && m.selectedAfarLists.get(1).afarPois.size > 1  &&  m.selectedAfarLists.get(1).afarPois(1) != null) {
            <div class="afar-poi-card" style="margin-bottom: 40px; padding: 0 10px;">
              @if(m.selectedAfarLists.get(1).afarPois(1).images != null) {
              <div class="afar-poi-image" style="height: 300px; background-position: center; background-size: cover;
              background-image: url(@m.selectedAfarLists.get(1).afarPois(1).images(0).url)">
              </div>
              }
              <div class="afar-poi-description">
                <h2 style="font-size: 110%; margin: 5px 0;line-height: 20px;">@m.selectedAfarLists.get(1).afarPois(1).title</h2>
                <p style="margin: 0;">@Html(m.selectedAfarLists.get(1).afarPois(1).description)</p>
              </div>
            </div>
          }
          @if(m.selectedAfarLists.get(1).afarPois != null && m.selectedAfarLists.get(1).afarPois.size > 2 &&  m.selectedAfarLists.get(1).afarPois(2) != null) {
            <div class="afar-poi-card" style="margin-bottom: 40px; padding: 0 10px;">
              @if(m.selectedAfarLists.get(1).afarPois(2).images != null) {
              <div class="afar-poi-image" style="height: 300px; background-position: center; background-size: cover;
              background-image: url(@m.selectedAfarLists.get(1).afarPois(2).images(0).url)">
              </div>
              }
              <div class="afar-poi-description">
                <h2 style="font-size: 110%; margin: 5px 0;line-height: 20px;">@m.selectedAfarLists.get(1).afarPois(2).title</h2>
                <p style="margin: 0;">@Html(m.selectedAfarLists.get(1).afarPois(2).description)</p>
              </div>
            </div>
          }
        </div>
      </div>

      <div class="afar-see-more-btn" style="margin: 25px 0; padding: 0 10px;">
        <a style="border-width: 0; border-radius: 2px; background-color: #d8d8d8; font-weight: 500; font-size: 11pt;
        color: #333333; padding: 5px 15px; text-align: center; line-height: 20px; text-decoration: none;"
           href="@m.selectedAfarLists.get(1).url" target="_blank">SEE MORE ON AFAR.COM</a>
      </div>
    </div>
  }

  @if(m.selectedAfarLists != null && m.selectedAfarLists.size() > 2 && m.selectedAfarLists.get(2) != null) {
    <div class="row-fluid afar-poi-section" style="width: 100%;">
      <hr>
      <div class="afar-poi-header">
        <h2 style="line-height: 20px;font-size: 110%; font-weight: bolder; margin-bottom: 25px; padding: 0 10px;">More ideas from AFAR</h2>
      </div>
      <div class="afar-poi-container" style="width: 100%;">
        <div class="poi-sub-container" style="">
          @if(m.selectedAfarLists.get(2).afarPois != null && m.selectedAfarLists.get(2).afarPois.size > 0 &&  m.selectedAfarLists.get(2).afarPois(0) != null) {
            <div class="afar-poi-card" style="margin-bottom: 40px; padding: 0 10px;">
              @if(m.selectedAfarLists.get(2).afarPois(0).images != null){
              <div class="afar-poi-image" style="height: 300px;
                background-position: center;
                background-size: cover;
                background-image: url(@m.selectedAfarLists.get(2).afarPois(0).images(0).url)">
              </div>
            }
              <div class="afar-poi-description">
                <h2 style="font-size: 110%; margin: 5px 0;line-height: 20px;">@m.selectedAfarLists.get(2).afarPois(0).title</h2>
                <p style="margin: 0;">@Html(m.selectedAfarLists.get(2).afarPois(0).description)</p>
              </div>
            </div>
          }
          @if(m.selectedAfarLists.get(2).afarPois != null && m.selectedAfarLists.get(2).afarPois.size > 1  &&  m.selectedAfarLists.get(2).afarPois(1) != null) {
            <div class="afar-poi-card" style="margin-bottom: 40px; padding: 0 10px;">
              @if(m.selectedAfarLists.get(2).afarPois(1).images != null){
              <div class="afar-poi-image" style="height: 300px; background-position: center; background-size: cover;
              background-image: url(@m.selectedAfarLists.get(2).afarPois(1).images(0).url)">
              </div>
              }
              <div class="afar-poi-description">
                <h2 style="font-size: 110%; margin: 5px 0;line-height: 20px;">@m.selectedAfarLists.get(2).afarPois(1).title</h2>
                <p style="margin: 0;">@Html(m.selectedAfarLists.get(2).afarPois(1).description)</p>
              </div>
            </div>
          }
          @if(m.selectedAfarLists.get(2).afarPois != null && m.selectedAfarLists.get(2).afarPois.size > 2 &&   m.selectedAfarLists.get(2).afarPois(2) != null) {
            <div class="afar-poi-card" style="margin-bottom: 40px; padding: 0 10px;">
              @if(m.selectedAfarLists.get(2).afarPois(2).images != null){
              <div class="afar-poi-image" style="height: 300px; background-position: center; background-size: cover;
              background-image: url(@m.selectedAfarLists.get(2).afarPois(2).images(0).url)">
              </div>
              }
              <div class="afar-poi-description" >
                <h2 style="font-size: 110%; margin: 5px 0;line-height: 20px;">@m.selectedAfarLists.get(2).afarPois(2).title</h2>
                <p style="margin: 0;">@Html(m.selectedAfarLists.get(2).afarPois(2).description)</p>
              </div>
            </div>
          }
        </div>
      </div>

      <div class="afar-see-more-btn" style="margin: 25px 0; padding: 0 10px;">
        <a style="border-width: 0; border-radius: 2px; background-color: #d8d8d8; font-weight: 500; font-size: 11pt;
        color: #333333; padding: 5px 15px; text-align: center; line-height: 20px; text-decoration: none;"
           href="@m.selectedAfarLists.get(2).url" target="_blank">SEE MORE ON AFAR.COM</a>
      </div>
    </div>
  }

  <div class="row-fluid afar-poi-section afar-planner-section" style="text-align: center">
    <hr>
    <div class="afar-poi-header">
      <h2 style="text-align: center; line-height: 20px;font-size: 110%; font-weight: bolder; margin-bottom: 25px; padding: 0 10px;">Plan Your Trip with AFAR</h2>
    </div>
    <div class="afar-poi-description">
      <p style="text-align: center; margin: 40px; padding: 0 10px;">
        Save content from across AFAR.<br/>
        Organize what you need into a trip plan.<br/>
        Access it anywhere.
      </p>
    </div>
    <div class="afar-see-more-btn" style="text-align: center; margin: 40px 0; padding: 0 10px;">
      <a style="border-width: 0; border-radius: 2px; background-color: #d8d8d8; font-weight: 500; font-size: 11pt;
      color: #333333; padding: 5px 15px; text-align: center; line-height: 20px; text-decoration: none;"
         href="https://www.afar.com/saveplango" target="_blank">PLAN MY TRIP</a>
    </div>
  </div>
</div>