@(m: com.mapped.publisher.view.TripBookingView, arv:  com.mapped.publisher.view.UmActivityReservationView,  i: Integer)
@import com.mapped.publisher.view.ViewUtils
@import com.umapped.persistence.enums.ReservationType
@import com.mapped.publisher.utils.Utils
@import com.umapped.persistence.enums.ReservationType
@import com.mapped.publisher.view.TabType
  <div class="bookingBox">

    <table style="width: 100%;">
      <tr style="width: 100%;">

        <td style="width:35px;vertical-align: top;padding-top:5px;">
        <div style="margin-top: 13px;margin-left: 7px;text-align: right">
          <img src="https://s3.amazonaws.com/static-umapped-com/public/img/icons/@ViewUtils.getimgNameForBookingType(arv.getDetailsTypeId)" >
        </div>
        </td>
        <td style="vertical-align: top;padding-top:5px;">
        <div>
          <table style="margin-left: 0px;width: 100%;margin-top: 8px;">
            <tr>
              <td style="width: 100%;vertical-align: top;">
                <table style="margin-left: 0px;width: 100%;margin-top: 0px;">
                  <tr>
                    <td colspan="9" style="padding-bottom: 20px;vertical-align: top;">
                    @views.html.trip.bookings.bookingScheduleBtns(ReservationType.ACTIVITY, TabType.ACTIVITIES, m, arv)

                    </td>
                  </tr>
                  <tr style="font-size: 11px;color: #818181;font-weight: 700">
                    <td style="padding-bottom: 10px;width: 320px;vertical-align: text-top;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">
                    @if(arv.getDetailsTypeId == ReservationType.RESTAURANT) {
                      RESTAURANT
                    } else {
                      ABOUT
                    }
                    </div>
                    </td>
                    <td style="width:15px;border-top: none;"></td>
                    <td style="width: 80px ;padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">BOOKING #</div></td>
                    <td style="width:15px"></td>
                    <td style="width: 200px ; padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">START</div></td>
                    <td style="width:15px"></td>
                    <td style="padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">DETAILS</div></td>
                  </tr>

                  <tr style="font-size: 13px;color: #000000;line-height: 16px">
                    <td style="width:320px ; padding-bottom: 20px;;vertical-align: text-top">
                      @if(arv.getProviderName != null && arv.getProviderName.trim.length > 0) {
                        <span style="font-weight: 700">@arv.getProviderName</span> <br/>
                      }
                      @if(arv.getContact != null && arv.getContact.trim().length > 0) {
                        Contact: @arv.getContact <br/>
                      }
                      @if(arv.getDestinationId != null && arv.getDestinationId.trim.length > 0) {
                        Document: <a href = "@arv.getDestinationUrl"> @arv.getDestination</a> <br/>
                      }
                      @if(arv.getProviderAddr1 != null && arv.getProviderAddr1.length > 0) {
                      @Html(arv.getProviderAddr1) <br>
                      }
                      @if(arv.getProviderAddr2 != null && arv.getProviderAddr2.length > 0) {
                      @Html(arv.getProviderAddr2) <br/>
                      }
                      @if(arv.getProviderPhone != null && arv.getProviderPhone.trim().length > 0) {
                      Phone: @Html(arv.getProviderPhone) <br/>
                      }
                      @if(arv.getProviderFax != null && arv.getProviderFax.trim().length > 0) {
                        Fax: @Html(arv.getProviderFax) <br/>
                      }
                      @if(arv.getProviderEmail != null && arv.getProviderEmail.trim().length > 0) {
                      Email: @arv.getProviderEmail <br/>
                      }
                      @if(arv.getProviderWeb != null && arv.getProviderWeb.trim().length > 0) {
                        <a href="@arv.getProviderWeb" target="_blank">Website</a> <br/>
                      }
                    </td>
                    <td style="width:15px"></td>
                    <td style="width:80px ; padding-bottom: 20px;;vertical-align: text-top;">@arv.getBookingNumber</td>
                    <td style="width:15px"></td>
                    <td style="width:200px ; padding-bottom: 20px;vertical-align: top;">
                      @if(arv.getStartHour != null && arv.getStartHour.trim.length > 0) {
                        <div style="font-size: 18px;padding-bottom:12px">
                        @if(m.display12Hr) {
                          @Utils.formatTime12(arv.getStartDateMilli)
                        } else {
                          @Utils.formatTime24(arv.getStartDateMilli)
                        }
                        </div>
                      }
                      @if(arv.getStartDateItin != null && arv.getStartDateItin.trim.length > 0) {
                        <div style="padding-bottom:6px">@arv.getStartDateItin  </div>
                      }
                      @if(arv.getLocStartName != null && arv.getLocStartName.trim.length > 0) {
                        <span style="font-size: 14px;font-weight: 400">@arv.getLocStartName</span>
                      }
                    </td>
                    <td style="width:15px"></td>
                    <td style="padding-bottom: 20px;">
                      <table style="margin-left: 0px;width: 100%;margin-top: 0px;vertical-align: top;">
                      @if(arv.getNotesPlain != null && arv.getNotesPlain.trim.length > 0) {
                        <tr style="page-break-inside: avoid">
                          <td style="padding-bottom:20px;" class="bookingContent">
                            @Html(Utils.escapeHtml(arv.getNotesPlain))
                          </td>
                        </tr>
                      }
                        @if(arv.getProviderComments != null && arv.getProviderComments.trim.length > 0) {
                        <tr style="page-break-inside: avoid">
                          <td class="bookingContent">
                            @Html(arv.getProviderComments)
                          </td>
                        </tr>
                        }
                        @views.html.trip.bookings.details.bookingRate(arv)
                        @if(arv.getCancellation != null && arv.getCancellation.trim.length > 0) {
                        <tr style="page-break-inside: avoid">
                          <td class="bookingContent">Cancellation Policy: @Html(Utils.escapeHtml(arv.getCancellation))
                          </td>
                        </tr>
                        }
                      </table>

                    </td>
                  </tr>
                </table>
                @views.html.webItinerary.bookings.details.bookingFiles(arv, "7")
              </td>
            </tr>
          </table>
        </div>
        </td>
      </tr>
    </table>


</div>



