@(m: com.mapped.publisher.view.TripBookingView, p:  com.mapped.publisher.view.TripBookingDetailView,  i: Integer)
@import com.mapped.publisher.common.SecurityMgr.AccessLevel
@import com.mapped.publisher.utils.Utils
@import models.publisher.TripNote
@import com.mapped.publisher.view.TabType
@import com.mapped.publisher.common.APPConstants

<style>
  .noteHidden {
    height: 220px;
    overflow: hidden;
  }
  .noteVisible {
    height: 100%;
    overflow: visible;
  }
  .gradient {
    position: relative;
  }
  .gradient:after {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    content: "";
    background: linear-gradient(to top,
     rgba(255,255,255, 1) 20%,
     rgba(255,255,255, 0) 80%
    );
    pointer-events: none;
  }
  .noGradient {
    position: relative;
    background: transparent;
  }

  #tableNoteBody td p {
    margin-bottom: 5px;
  }

</style>

<script>

  $("#inTripNoteDate").datepicker({
    @if(p.startDate != null && p.startDate.length > 0){
      defaultDate : new Date ('@escapeEcmaScript(p.startDate)' ),
    } else {
      defaultDate : new Date ('@escapeEcmaScript(p.tripStartDatePrint)' ),
    }
    changeMonth: true,
    numberOfMonths: 1
  });

  $('#btnCal').on('click', function (e) {
    $('#inTripNoteDate').datepicker('show');
  });

  function toggleNote(arrow, element) {
    if($(element).hasClass('gradient')) {
      $(element).removeClass('noteHidden');
      $(element).addClass('noteVisible');
      $(element).addClass('noGradient');
      $(element).removeClass('gradient');
      $(arrow).children('i').removeClass('fa-chevron-down');
      $(arrow).children('i').addClass('fa-chevron-up');
    } else {
      $(element).removeClass('noteVisible');
      $(element).addClass('noteHidden');
      $(element).addClass('gradient');
      $(element).removeClass('noGradient');
      $(arrow).children('i').removeClass('fa-chevron-up');
      $(arrow).children('i').addClass('fa-chevron-down');
    }
  }

</script>

<div class="bookingBox" id="@p.noteId">

  <table class="noteTable">
    <tr style="width: 100%;">

      <td style="vertical-align: top;border-top: none;padding-top:0px;">
        <table style="width: 100%;margin-top: 5px;">
          <tr>
            <td style="width: 100%;vertical-align: top;">
              <table style="margin-left: 0px;width: 100%;margin-top: 0px;">
                <tr>
                  <td colspan="1" style="vertical-align: top;">
                  <div class="span6" style="font-size: 18px ;font-weight: 700">
                    @if(p.hasStartTimestamp) {
                      <span style="color: #000000">
                      @if(m.display12Hr) {
                        @Utils.formatTime12(p.getStartDateMsNote)
                      } else {
                        @Utils.formatTime24(p.getStartDateMsNote)
                      }

                      </span>
                    }
                    @p.getName
                  </div>
                    <div class="span6">
                      <div style="float: right">
                        @if(  !p.createdById.equals(m.loggedInUserId)) {
                          <span class="booking_owner">
                            Added by: @p.createdById
                          </span>
                        }
                        <div class="bookingButton" id="btn_@p.noteId">
                        @if(p.photos != null && p.photos.size > 0) {
                          <a   onclick="getModalPage('@routes.BookingNoteController.notePhotos(p.noteId)')" data-toggle="View Photos for @p.name " title="View Photos for @p.name"><i class="fa fa-camera" style="font-size: 26px; color: #666666"></i>&nbsp;</a>
                        }
                        @if(m.accessLevel.ge(AccessLevel.OWNER) || (m.accessLevel.ge(AccessLevel.APPEND) && p.createdById.equals(m.loggedInUserId))) {
                          <a href="#" onclick="javascript:editNoteDate('@p.noteId', '@p.name', '@p.startDate');" style="padding-left: 10px" data-toggle="Edit date for @p.name " title="Edit date for @p.name">
                            <i class="fa fa-calendar"  style="font-size: 22px; color: #666666"></i>
                          </a>

                          <div class="btn-group tags-dropdown" id="addContentBtn" style="padding-left: 10px; bottom: 2px;">
                            <button class="btn btn-default  dropdown-toggle" data-toggle="dropdown">
                              <i class="fa fa-tags"  style="font-size: 24px; color: #666666; padding-bottom: 5px"></i> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" id="noteTagDrop_@p.noteId">
                              <li style="padding: 5px 10px;"><label><input type="checkbox" id="lastItem" value="@APPConstants.NOTE_TAG_LAST_ITEM" @if(p.tagChecks != null && p.tagChecks.lastItem){checked} />&nbsp;Place at end of itinerary</label></li>
                              <li style="padding: 5px 10px; border-top: 1px solid #999999;"><label><input type="checkbox" id="pageBreakBefore" value="@APPConstants.TAG_PAGE_BREAK_BEFORE" @if(p.tagChecks != null && p.tagChecks.pageBreakBefore){checked} />&nbsp;Insert PDF page break before</label></li>
                              <li style="padding: 5px 10px; border-top: 1px solid #999999;"><label><input type="checkbox" id="pageBreakAfter" value="@APPConstants.TAG_PAGE_BREAK_AFTER" @if(p.tagChecks != null && p.tagChecks.pageBreakAfter){checked} />&nbsp;Insert PDF page break after</label></li>
                              <li style=" padding-top: 5px ; border-top: 1px solid #999999; text-align:center;">
                                <a href="#" onclick="javascript:addTags('@p.tripId', '@p.noteId', true);return false;" class="tagNote" style="padding-left: 10px;padding-right: 10px" >Save</a>
                              </li>
                            </ul>
                          </div>
                          <a  class="btnDeleteNote" data-noteid="@p.noteId" data-name="@escapeEcmaScript(p.name)"
                             style="padding-left: 10px;padding-right: 10px" data-toggle="Delete @p.name " title="Delete @p.name">
                            <i class="fa fa-trash"  style="font-size: 26px; color: #666666"></i>
                          </a>
                          @if(!(p.noteType != null && p.noteType == TripNote.NoteType.CONTENT)) {
                             <a onclick="javascript:getPage('@routes.BookingNoteController.redirectNote(m.tripId, p.noteId, null, null)');" style="padding-left: 10px;padding-right: 10px" data-toggle="Edit @p.name " title="Edit @p.name">
                                <i class="fa fa-pencil" style="font-size: 26px; color: #666666"></i>
                              </a>
                          }
                        }
                          <a style="display:none;" class="chevron-down" onclick="javascript:toggleNote($(this), $(this).closest('.bookingBox'))">
                            <i class="fa fa-chevron-down" style="font-size: 26px; color: #666666"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                @if((p.getProviderAddr1 != null && p.getProviderAddr1.trim.length >0) || (p.getProviderAddr2 != null && p.getProviderAddr2.trim.length >0)) {
                  <tr style="font-size: 12px;color: #818181;font-weight: 700">
                    <td style="padding-bottom: 10px">
                  @if(p.getProviderAddr1 != null && p.getProviderAddr1.trim.length >0) {
                    @p.getProviderAddr1 <br>
                  }
                  @if(p.getProviderAddr2 != null && p.getProviderAddr2.trim.length >0) {
                      @p.getProviderAddr2
                  }
                    </td>
                  </tr>
                }
                @if(p.getIntro != null || p.getDescription != null) {
                  <tr>
                    <td colspan="1" style="padding-bottom : 10px; vertical-align : top ;" class="noteContent">
                      @if(p.getIntro != null) {
                        <div>
                        @Html(p.getIntro)
                        </div>
                      }
                      @if(p.getDescription != null) {
                        <div>
                        @Html(p.getDescription)
                        </div>
                      }

                    </td>
                  </tr>
                }
                @if(p.links !=null && p.links.size > 0) {
                  @for(a <- p.links) {
                    <tr style="font-size: 14px ;
                      color: #666666 ;
                      font-weight: 400">
                      <td colspan="1" style="padding-bottom: 10px;
                        pa vertical-align: top ;">
                        <a href="@a.attachUrl" target="_blank">@a.attachName</a>
                        @if(a.comments != null && a.comments.length > 0) {
                          @Html(a.comments)
                        }
                      </td>
                    </tr>
                  }
                }

                @if(p.files !=null && p.files.size > 0) {
                <tr style="font-size : 14px ; color : #666666 ; font-weight : 400">
                  <div class="row-fluid">
                    <table class="table table-striped">
                      <thead>
                      <tr>
                        <th style="width:5%"></th>
                        <th style="width:30%"></th>
                        <th style="width:60%"> </th>

                      </tr>
                      </thead>
                      <tbody id="sortAttachDiv">
                      @for(a <- p.files) {
                      <tr id="@a.id">
                        <td>
                          <a href="@a.attachUrl" target="_blank">
                            @if(a.attachName.endsWith(".pdf")){
                            <img src="https://s3.amazonaws.com/static-umapped-com/public/img/pdf_icon.png" width="24px" style="padding-bottom: 0px; padding-top: 0px;">
                            }else {
                            <img src="https://s3.amazonaws.com/static-umapped-com/public/img/word_icon.png" width="24px" style="padding-bottom: 0px; padding-top: 0px;">

                            }
                          </a>

                        </td>
                        <td style="font-size: 12px; padding-right: 60px"><a href="@a.attachUrl" target="_blank" style="word-break: break-word;">@a.attachName</a></td>
                        <td style="font-size: 12px; font-weight: 100; padding-right: 60px"><em>@a.comments</em></td>

                      </tr>
                      }
                      </tbody>
                    </table>

                    <br/>
                  </div>
                </tr>
                }
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>


</div>



