@(p:  com.mapped.publisher.view.DestinationGuideView)
@import com.mapped.publisher.utils.Utils


<div class="accordion-inner documentFont">
    <div class="pageTitle" style="text-align:center;">
        @p.name
        @if(p.timestampPrint != null && p.timestampPrint.trim().length > 0) {
            @if(p.time12hr != null && p.time12hr.trim().length() > 0) { - @p.time12hr}
        }
    </div>

    <div style="text-align:center;">
        @if(p.streetAddr1 != null && p.streetAddr1.length > 0) {
            @p.streetAddr1 &nbsp;
            }
        @if(p.city != null && p.city.length > 0) {
            @p.city &nbsp;
        }
        @if(p.country != null && p.country.length > 0) {
            @p.country &nbsp;
        }
    </div>
    @if(p.intro != null && p.intro.length > 0) {
        <div class="row-fluid">
            <div class="span1"></div>
            <div class="span10">
                @Html(p.intro)
            </div>
            <div class="span1"></div>
        </div>
    }

    @if(p.description != null && p.description.length > 0) {
        <div class="row-fluid">
            <div class="span1"></div>
            <div class="span10">
                @Html(p.description)
            </div>
            <div class="span1"></div>
        </div>
    }

    @if(p.photos !=null && p.photos.size > 0 && !p.isMobilized) {
        <div id="carousel_@p.id" class="carousel slide" style="width:100%;margin:0 auto;" >
            <p> <br/> <br/></p>
            <div class="carousel-inner">

                @for((a,i) <- p.photos.zipWithIndex){
                    @if(i == 0) {
                        <div class="item active">
                        } else {
                        <div class="item">
                        }


                    <img  src="@a.attachUrl" width="100%"/>
                    @if(a.comments != null && a.comments.length > 0) {
                        <div id="audio" class="carousel-caption">
                            <p class="">@a.comments</p>
                        </div>
                    }
                </div> <!--item-->
                }
            </div> <!-- inner carousel-->
                <!-- Carousel nav -->
                @if(p.photos.size() > 1) {
                    <a class="carousel-control left" href="#carousel_@p.id" data-slide="prev">&lsaquo;</a>
                    <a class="carousel-control right" href="#carousel_@p.id" data-slide="next">&rsaquo;</a>
                }
                <br><br>
            </div> <!-- carousel -->


            }






    @if(p.videos !=null && p.videos.size > 0) {
        <h4 style="text-align:center;">Videos</h4>

        @for(a <- p.videos) {
            <div class="row-fluid">
                <div class="span1"></div>
                <div class="span10">
                    <iframe width='100%' src="@a.attachUrl" frameborder="0" allowfullscreen></iframe>

                </div>
                <div class="span1"></div>
            </div>
            @if(a.comments != null && a.comments.length > 0) {
                <div class="row-fluid">
                    <div class="span1"></div>
                    <div class="span10">
                        <p class="">@Html(a.comments)</p>
                    </div>
                    <div class="span1"></div>
                </div>
            }
        }
    }


    @if(p.links !=null && p.links.size > 0) {
    <div class="row-fluid">
            @for(v <- p.links) {
                <a href="@v.attachUrl" target="_blank" style="word-break: break-word;">@v.attachName</a><br/>
                @if(v.comments !=null) {
                    @Html(v.comments)<br/>
                }
            }
    </div>
    }



    @if(p.files !=null && p.files.size > 0 ) {
        <div class="row-fluid">
                @for(a <- p.files) {
                    <a href="@a.attachUrl" target="_blank" style="word-break: break-word;">@a.attachName</a><br/>
                    @if(a.comments != null) {
                        @Html(a.comments)<br/>
                    }

                }
        </div>
    }
</div>
