@(p:  com.mapped.publisher.view.DestinationGuideView, i: Integer)
@import com.mapped.publisher.common.APPConstants
@import com.mapped.publisher.utils.Utils

<div style="padding:0px;padding-top: 20px;width: 700px;">
  <div style="padding:0px;padding-bottom: 0px;width: 700px;">
    <table style="width: 700px;page-break-inside: avoid">
      <tr style="width: 700px;">
        @if(p.timestamp != null && p.timestamp > 0) {
          <td style="width : 70px ; text-align : center ; vertical-align : top;border-top: @if(i==0 || i == -1){3px}else{0px} solid #000000;padding-top:5px;">
            @if(i == -1 || i ==0) {
              <div style="font-size : 14px ; font-weight : 700 ; line-height : 16px ; padding-top : 5px ; ">
              @Utils.formatTimestamp(p.timestamp, "MMM").toUpperCase()
              </div>
              <div style="font-size : 30px ; font-weight : 400 ; line-height : 30px ;">
              @Utils.formatTimestamp(p.timestamp, "d")
              </div>
            } else {
              @if(p.time12hr != null && p.time12hr.size > 0) {
                <div style="text-align:center;font-size : 19px ; font-weight : 700 ; line-height : 20px ; padding-top:8px;">
                @p.time12hr
                </div>
              }
            }
          </td>


        }

        <td style="width: @if(p.timestamp != null && p.timestamp > 0){590px}else{660px};vertical-align:top;border-top: @if(i==0 || i == -1){3px}else{1px} solid #000000;padding-top:5px;" class="pageTitle">
          @p.name
  @if((p.streetAddr1 != null && p.streetAddr1.trim.length > 0) || (p.city != null && p.city.trim.length > 0) || (p.country != null && p.country.trim.length > 0) ) {
    <div  class="pageAddress">
      @if(p.streetAddr1 != null && p.streetAddr1.trim.length > 0) {
        @p.streetAddr1 <br/>
      }
      @if((p.city != null && p.city.trim.length > 0) || (p.country != null && p.country.trim.length > 0)) {
        @if(p.city != null && p.city.trim.length > 0) {
          @p.city
          @if(p.country != null && p.country.trim.length > 0) {
            ,
          }
        }
        @if(p.country != null && p.country.trim.length > 0) {
          @p.country
        }
      }
    </div>
  }
  </td>
      <td style="width:40px;vertical-align:top;border-top: @if(i==0 || i == -1){3px}else{1px} solid #000000;padding-top:5px;">
        @if(p.recommendationType == APPConstants.RECOMMENDATION_TYPE_FOOD) {
          <img src="https://s3.amazonaws.com/static-umapped-com/public/img/u_icon_food_drinks_black.png" style="float: right;padding-right: 10px;padding-top: 5px">
        } else {
          @if(p.recommendationType == APPConstants.RECOMMENDATION_TYPE_GOINGS_ON) {
            <img src="https://s3.amazonaws.com/static-umapped-com/public/img/u_icon_goingson_black.png"  style="float: right;padding-right: 10px;padding-top: 5px">
          } else {
            @if(p.recommendationType == APPConstants.RECOMMENDATION_TYPE_HOTEL) {
              <img src="https://s3.amazonaws.com/static-umapped-com/public/img/u_icon_hotels_black.png"  style="float: right;padding-right: 10px;padding-top: 5px">
            } else {
              @if(p.recommendationType == APPConstants.RECOMMENDATION_TYPE_OTHER) {
                <img src="https://s3.amazonaws.com/static-umapped-com/public/img/u_icon_other_black.png"  style="float: right;padding-right: 10px;padding-top: 5px">
              } else {
                @if(p.recommendationType == APPConstants.RECOMMENDATION_TYPE_SHOPPING) {
                  <img src="https://s3.amazonaws.com/static-umapped-com/public/img/u_icon_shopping_black.png"  style="float: right;padding-right: 10px;padding-top: 5px">
                } else {
                  @if(p.recommendationType == APPConstants.RECOMMENDATION_TYPE_SIGHTS) {
                    <img src="https://s3.amazonaws.com/static-umapped-com/public/img/u_icon_sights_black.png"  style="float: right;padding-right: 10px;padding-top: 5px">
                    }
                }
              }
            }
          }
        }
      </td>


      </tr>

    </table>

    @if((p.intro != null && p.intro.trim.length > 0) || (p.description != null && p.description.trim.length > 0)) {
      <table style="border:none;width:700px">
        <tr>
          @if(p.timestamp != null && p.timestamp > 0) {
            <td style="width : 70px ; text-align : center ; vertical-align : top;">
            @if(p.time12hr != null && p.time12hr.size > 0 && (i == -1 || i ==0) ) {
              <div style="text-align:center;font-size : 19px ; font-weight : 700 ; line-height : 20px ; padding-top:14px;">
              @p.time12hr
              </div>
            }

            </td>


          }
          <td style="@if(p.timestamp != null && p.timestamp > 0){width: 630px}else{width: 700px};padding-top:10px;">
          @if(p.intro != null && p.intro.trim.length > 0) {
            <div class="pageNote" style="@if(p.timestamp != null && p.timestamp > 0){width:630px} else {width:700px}">
            @Html(p.intro)
            </div>
          }
          @if(p.description != null && p.description.trim.length > 0) {
            <div class="pageNote" style="@if(p.timestamp != null && p.timestamp > 0) {width:630px} else {width:700px}">
            @Html(p.description)
          </div>
          }

          @if(p.links !=null && p.links.size > 0) {
            <div style="padding-top: 10px">
              @for(v <- p.links) {
                <a href="@v.attachUrl" target="_blank" style="word-break: break-word;">@v.attachUrl</a><br/>
                @if(v.comments != null) {
                  @Html(v.comments) <br/>
                }
              }
            </div>
          }



          @if(p.files !=null && p.files.size > 0) {
           <div style="padding-top: 10px">
           @for(v <- p.files) {
             <a href="@v.attachUrl" target="_blank" style="word-break: break-word;">@v.attachName</a> <br/>
            @if(v.comments != null) {
              @Html(v.comments) <br/>
            }
          }
  </div>

          }
        </td>
        </tr>
      </table>
      }

</div>


</div>
