@(m:  com.mapped.publisher.view.DestinationView)
@import com.mapped.publisher.view.DestinationView


<div class="coverPage">
  <div class="coverContent">
    <div class="coverImageBorder">
      <div class="coverImage" style="background: url(@if(m.coverUrl != null && m.coverUrl.trim.length >0){@m.coverUrl} else {https://s3.amazonaws.com/static-umapped-com/public/external/smartflyer/img/default_splash.jpg}) no-repeat center;" >
      &nbsp;
      </div>
      &nbsp;
    </div>
  </div>
  <div class="coverInfo">
    <div class="titleH1" @if(m.name!= null && m.name.trim.length < 30){style="font-size:50px;line-height: 50px"}>@m.name</div>
    @if(m.tripStartDatePrint != null && m.tripEndDatePrint != null && m.tripStartDatePrint.trim.length > 0 && m.tripEndDatePrint.trim.length > 0) {
    <div class="titleDate">
      @m.tripStartDatePrint - @m.tripEndDatePrint
    </div>
    }
    @if(m.intro != null && m.intro.trim.length > 0 && DestinationView.introFits(m.intro)) {
      <div class="titleNote">
      @Html(m.intro)
      </div>
    } else {
      <div style="height: 120px"></div>
    }

<table style="border: none;width: 600px;margin-top:20px">

  @if(m.tripCoBranding != null && m.tripCoBranding.size() > 1) {
    <tr style="border : none ; ">
      <td colspan="2" style="border-bottom:1px solid #969696 ; padding-bottom:10px ; color : #969696 ; font-size:11px">
        BROUGHT TO YOU BY
      </td>
      <td style="width :40px"></td>

      <td colspan="2" style="border-bottom:1px solid #969696 ; padding-bottom:10px ; color : #969696 ; font-size:11px">
        IN PARTNERSHIP WITH
      </td>
    </tr>
  }

  <tr style="border: none" style="margin-top: 10px">
    <td style="width: 150px; vertical-align: top;border:none;text-align: center;padding-top: 10px">
    @if(m.cmpyInfo != null) {
      <img src="@m.cmpyInfo.logoUrl" style="height: 50px"/>
    }
    </td>
    <td style=" vertical-align: top;border: none; text-align: left;width: 160px;color: #646464;font-size: 10px;padding-top: 10px;padding-left:20px ">
      <p style="font-size: 10px;line-height: 13px;">
        @if(m.agent != null) {
          @if(m.agent.name != null && m.agent.name.length > 0) {
            @m.agent.name
            <br/>
          }
          @if(m.agent.phone != null && m.agent.phone.length > 0) {
            <span style="color : #464646">t:</span> @m.agent.phone <br/>

          }
          @if(m.agent.mobile != null && m.agent.mobile.length > 0) {
            <span style="color : #464646">m:</span> @m.agent.mobile <br/>
          }

          @if(m.agent.email != null && m.agent.email.length > 0) {
            <span style="color : #464646">e:</span> @m.agent.email
            <br/>
          }
        } else {
          @if(m.cmpyInfo!= null && m.cmpyInfo.address != null &&  m.cmpyInfo.address.phone != null&& m.cmpyInfo.address.phone.length > 0) {
            <span style="color : #464646">t:</span> @m.cmpyInfo.address.phone <br/>

          }
          @if(m.cmpyInfo!= null && m.cmpyInfo.address != null &&  m.cmpyInfo.address.email != null&& m.cmpyInfo.address.email.length > 0) {
            <span style="color : #464646">e:</span> @m.cmpyInfo.address.email <br/>

          }
        }

        @if(m.cmpyInfo!= null && m.cmpyInfo.cmpyName != null && m.cmpyInfo.cmpyName.length > 0) {
          @m.cmpyInfo.cmpyName
          <br/>
        }
        @if(m.cmpyInfo!= null && m.cmpyInfo.address != null &&  m.cmpyInfo.address.web != null&& m.cmpyInfo.address.web.length > 0) {
          <span style="color:#464646">@m.cmpyInfo.address.web</span>
        }
      </p>
    </td>
    <td style="width: 40px"></td>
    <td style="width: 330px;padding-top: 10px;vertical-align: top">
    @if(m.tripCoBranding != null && m.tripCoBranding.size() > 1) {
      <table>
      @for(p <- m.tripCoBranding) {
        @if(!p.isMainBrand) {
          <tr>

            <td style="width: 150px; vertical-align: top;border:none;text-align: center; padding-top: 0px;padding-bottom: 10px">
            @if(p.cmpyLogoUrl != null) {
              <img src="@p.cmpyLogoUrl" style="height: 50px"/>
            }
            </td>
            <td style=" vertical-align: top;border: none; text-align: left;width: 160px;color: #646464;font-size: 10px;padding-top: 0px;padding-left: 10px;;padding-bottom: 10px ">
              <p style="font-size: 10px;line-height: 13px;">
                @p.cmpyName <br/>
                @if(p.cmpyPhone != null && p.cmpyPhone.length > 0) {
                  <span style="color:#464646">t:</span>@p.cmpyPhone
                  <br/>
                }
                @if(p.cmpyEmail != null && p.cmpyEmail.length > 0) {
                  <span style="color:#464646">e:</span>@p.cmpyEmail
                  <br/>
                }




                @if(p.cmpyWebsite != null && p.cmpyWebsite.length > 0) {
                  @p.cmpyWebsite
                }
              </p>
            </td>
          </tr>

        }
      }

      </table>
    }
    </td>
  </tr>
</table>

  </div>

</div>
