@(m:  com.mapped.publisher.view.FileResultsView)
@import com.mapped.publisher.common.APPConstants
@import models.publisher.ImageLibrary.ImgSrc

<div id="fileSearchResultsTable" style="padding-top:20px">
    <script>
        $(function(){
          javascript:$('#fileSearchSpinner').hide();
          $('#fileAlertBox').hide();
          multipleFilesMode = @m.multipleFiles;

        });

        @for(p <- m.umappedResults) {
            $(document).ready(function() {
                $('#newCaption_@p.attachId').change(function() {
                  $('#inFileCaption').val($('#newCaption_@p.attachId').val());
                });
            });
        }


     </script>

    @if(m.message!=null && m.message.length > 0) {
        <h4> @m.message</h4>
    }

    @if(m != null && m.umappedResults != null && m.umappedResults.size > 0) {
        <div class="subTitleModal">@m.umappedResults.size @if(m.umappedResults.size == 0){file}else{files} found </div>
        <p> &nbsp;</p>
        <div style="margin:auto;overflow:auto;">
            <table class="table">
                <thead>
                <tr>
                    <th style="width:5%"></th>
                    <th style="width:60%">FILE NAME</th>
                    <th style="width:10%"></th>
                    <th style="width:10%"></th>
                </tr>
                </thead>
                <tbody>
                @for(p <- m.umappedResults){
                <tr>
                    <td>@if(p.title.endsWith(".pdf")){
                            <img src="https://s3.amazonaws.com/static-umapped-com/public/img/pdf_icon.png" width="48px">
                        }else{
                            <img src="https://s3.amazonaws.com/static-umapped-com/public/img/word_icon.png" width="48px">
                        }
                    </td>
                    <td>@p.title</td>

                    <td><a style="padding-right:10px" href="@p.attachUrl" target="_blank" class="btn btn-success"> Preview </a></td>
                    <td><button type="button" class="btn btn-success" id="addFileToPageSubmit"
                                @if(m.inSearchOrigin.equals("TRIP")){
                                    onclick="javascript:$('#uploadFileModal').modal('hide');javascript:postForm('/copyFileToTrip?inFileId=@p.attachId', 'fileSearchForm');javascript:reloadNeeded();return false;"
                                } else {
                                    @if(m.inSearchOrigin.equals("NOTE")) {
                                        onclick="javascript:$('#addFileModal').modal('hide');javascript:postForm('/copyFileToNote?inFileId=@p.attachId', 'fileSearchForm');javascript:reloadNeeded();return false;"
                                    } else {
                                        onclick="javascript:$('#addFileModal').modal('hide');javascript:postForm('/copyFileToPage?inFileId=@p.attachId', 'fileSearchForm');javascript:reloadNeeded();return false;"
                                    }
                                }
                    > Add </button>
                    </td>
                </tr>
                }

                </tbody>
            </table>
        </div>
    } else {
        @if(m.message == null || m.message.length == 0) {
            <h3>No Files found. Please try again.</h3>
        }
    }

</div>

