@(m:  com.mapped.publisher.view.DestinationView)



<div id="mobilizerModal" class="modal container hide fade" tabindex="-1" data-replace="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Import External Content to your Umapped Document</h3>
  </div>

  <div class="modal-body">

    <div class="tabbable"> <!-- Only required for left/right tabs -->
      <ul class="nav nav-tabs" id="photoTabs">
        <li class="active">
          <a href="#webSearch" data-toggle="tab">
            <i class="fa fa-search"></i>&nbsp;Search Pages</a>
        </li>
        <li>
          <a href="#travel42" data-toggle="tab">
            <img src='@m.imgUrl/img/travel42_logo.png' style="width: 75px;vertical-align: text-top" >&nbsp; Trip Plans</a>
        </li>

      </ul>
      <div class="tab-content">
        <div id="webSearch" class="tab-pane active">
          <div class="row-fluid">
            <div class="span12">
              <p class="muted">Search for articles on one of the travel resources below.</p>
            </div>
          </div>
          <hr>
          <form id="webSearchForm">
            <input type="hidden" id="webSearchCmpyId" name="inCmpyId" value="@m.cmpyId" >
            <input type="hidden" id="webSearchDocId"  name="inDocId" value=@m.id>
            <div class="row-fluid">
              <div class="span9">
                <label>Keywords</label>
                <input type="text" id='webSearchKeywords' name='inKeyword' placeholder="keywords" class="input-block-level required" />
              </div>
              <div class="span2">
                <label>&nbsp;</label>
                <button id="mobilizerSearchSubmit" type="button" class="btn btn-success input-block-level">Search</button>
              </div>
              <div class="span11" id="mobilizedDomains">
              @for((key, value) <- m.mobilizedDomains) {
                <label class="checkbox inline">
                  <input type="checkbox" id="@value" value="@value" @if(m.mobilizedDomains.size() == 1){checked}> @key
                </label>
              }
              </div>
            </div>
          </form>
          <div id="mobilizerSearchResults">
          </div>
        </div>
        <div id="travel42" class="tab-pane">
          <div class="row-fluid" id="Travel42Login">
            <div class="row-fluid">
              <div class="span12">
                <p class="muted">Login to your travel42 account to view a list of your Trip Plans that you can import.
                  <br/>Note: We do not store your travel42 Credentials in the system.</p>
              </div>
            </div>
            <br/>
            <div id="travel42LoginMsg"></div>
            <form id="travel42LoginForm">
              <input type="hidden" id="travel42CmpyId" value="@m.cmpyId" >
              <input type="hidden" id="travel42DocId"  value=@m.id>
              <div class="row-fluid">
                <div class="span3">
                  <input type="text" id='travel42UserId' placeholder="travel42 User Id" class="input-block-level required" />
                </div>
                <div class="span4">
                  <input type="password" id='travel42Password' placeholder="travel42 Password" class="input-block-level required" />
                </div>
                <div class="span2">
                  <button id="travel42LoginSubmit" type="button" class="btn btn-success input-block-level">Login</button>
                </div>
              </div>
              <br/> <strong>Not a travel42 member?</strong><a href="http://www.travel-42.com/umapped" target="_blank"> Click here to start your free trial</a>

              <div class="row-fluid">
                <div class="span11">
                  <div class="alert alert-error hide" id="travel42LoginAlert">
                  </div>
                </div>
              </div>
            </form>
          </div>
         <div class="row-fluid" id="Travel42Report">
           <div class="row-fluid">
             <div class="span12">
               <p class="muted">Select your travel42 Trip Plan</p>
             </div>
           </div>

          <form id="travel42ReportForm">
            <input type="hidden" id="travel42ReportCmpyId" value="@m.cmpyId" >
            <input type="hidden" id="travel42ReportDocId"  value=@m.id>
            <div class="row-fluid">
              <div class="span9">
                <label>My travel42 Trip Plans </label>
                <select id="travel42ReportList"  class="input-block-level">
                  <option value="_default">Select a Trip Plan</option>
                  @if(m.travel42Reports != null) {
                    @for((key, value) <- m.travel42Reports) {
                      @if(!key.contains("travel-42")){
                        <option value="http://www.travel-42.com/Client/View/?rid=@key">@value</option>
                      } else {
                        <option value="@key">@value</option>
                      }
                    }
                  }
                  </select>
              </div>

              <div class="span2">
                <label>&nbsp;</label>
                <button id="travel42SelectReport" type="button" class="btn btn-success input-block-level">Import</button>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span9">
                <button id="travel42RefreshReport" type="button" class="btn btn-info">Refresh Trip Plans</button>
                <span class="muted"> (Requires your travel42 Credentials)</span>

              </div>

            </div>
            <div class="row-fluid">
              <div class="span11">
                <div class="alert alert-error hide" id="travel42ReportAlert">
                </div>
              </div>
            </div>
          </form>
         </div>
          <hr>
          <div class="row-fluid">
            <div class="row-fluid">
              <div class="span12">
                <p class="muted">Import a travel42 Trip Plan using the public URL (from the travel42 email)</p>
              </div>
            </div>
          <form id="travel42Form">
            <input type="hidden" id="travel42CmpyId" value="@m.cmpyId" >
            <input type="hidden" id="travel42DocId"  value=@m.id>
            <div class="row-fluid">
              <div class="span9">
                <label>travel42 Trip Plan URL</label>
                <input type="text" id='travel42Url' placeholder="Full client accessible URL" class="input-block-level required"/>
              </div>
              <div class="span2">
                <label>&nbsp;</label>
                <button id="travel42Submit" type="button" class="btn btn-success input-block-level">Import</button>
              </div>
            </div>
            <div class="row-fluid">
                <div class="span11">
                    <div class="alert alert-error hide" id="travel42Alert">
                    </div>
                </div>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>



    <div id="webSearchSpinner" class="spinner"
         style="display:none; background: rgba(255,255,255,.7) url('@{m.imgUrl}/img/ajax-loader-white-1.gif') center center no-repeat;width:100%;height:100%;position: absolute; top: 0px; left: 0px;z-index:100;min-height:200px">
    </div>

  </div> <!-- modal-body -->
  <div class="modal-footer">
    <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>


<div id="mobilizerResultModal" class="modal container hide fade" tabindex="-1" data-replace="true" data-backdrop="static" data-keyboard="false" data-modalOverflow="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="$('#mobilizerModal').modal('show');">&times;</button>
    <h3>Preview the way page will appear</h3>
  </div>

  <div class="modal-body documentFont">
    <div class="accordion" id="pagesAccordion" style="overflow: scroll;height:600px;">
    </div>



    <div id="mobilizerSpinner" class="spinner"
         style="display:none; background: rgba(255,255,255,.7) url('@{m.imgUrl}/img/ajax-loader-white-1.gif') center center no-repeat;width:100%;height:100%;position: absolute; top: 0px; left: 0px;z-index:100;min-height:200px">
    </div>
  </div> <!-- modal-body -->
  <div class="modal-footer">
    <form id="mobilizerForm">
      <input type="hidden" id="mobilizedCmpyId">
      <input type="hidden" id="mobilizedDocId">
      <input type="hidden" id="mobilizedUrl">
          <button id="mobilizerAddSubmit" type="button" class="btn btn-success ">Add to Document</button>
      <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true" onclick="$('#mobilizerModal').modal('show');">Back</button>

    </form>

  </div>
</div>
