@(m:  com.mapped.publisher.view.DestinationGuideView)
@import org.apache.commons.lang3.StringEscapeUtils.escapeEcmaScript
@import com.mapped.publisher.common.APPConstants
@import models.publisher.ImageLibrary.ImgSrc

@if(m.message!=null && m.message.length > 0) {
<--alertMsg-->
<div id="alertMsg">
    <h4> @m.message</h4>
</div>
<--endAlertMsg-->

}

<--pageTitle-->
<div id="pageTitle">
    @if(m.id != null) {
    <button type="button" href="#newPageModal" id="newPageBtn" class="btn btn-large btn-primary pull-right" data-toggle="modal" ><i class="fa fa-file"></i> New Page </button>
    }
</div>
<--endPageTitle-->

<--pageHeader-->
<div id="pageHeader">
    @if(m.id != null && m.name!= null) {
        <h2 class="page-title"> Edit Page</h2>
    }
</div>
<--endPageHeader-->

<--pageBody-->
<div id="pageBody">
    <script>
        //keep numb of photos uploaded while the image picker is open
        function reloadNeeded() {
            if (photoUploadedCount > 0) {
                var url = '@routes.DestinationController.newDestinationGuide(m.destinationId, m.id)';
                getPage(url);
            }
        }


        $(function () {
            photoUploadedCount = 0;

            $("#imgAlertBox").hide();

            var input = document.getElementById('inDestGuideLandmark');
            var autocomplete = new google.maps.places.Autocomplete(input);


            google.maps.event.addListener(autocomplete, 'place_changed', function() {
            var place = autocomplete.getPlace();
            if (!place.geometry) {
                input.className = 'notfound required input-block-level';
                return;
            }
            input.className = 'required input-block-level';
            $("#inDestGuideCountry").val("");
            $("#inDestGuideState").val("");
            $("#inDestGuideCity").val("");
            $("#inDestGuideAddr").val("");
            $("#inDestGuideLocLat").val("");
            $("#inDestGuideLocLong").val("");
            $("#inDestGuideZip").val("");


            for (var i = 0; i < place.address_components.length; i++) {
                var addr = place.address_components[i];
                if (addr.types[0] == 'country') {
                    var cntry =  addr.short_name;
                    var i;
                    if (cntry.length == 3)  {
                        i = countryCodes3.indexOf(cntry);
                    } else if (cntry.length == 2) {
                        i = countryCodes2.indexOf(cntry);
                    }

                    if (i != -1)
                        $("#inDestGuideCountry").val(countries[i]);
                    else
                        $("#inDestGuideCountry").val(addr.long_name);

                } else if (addr.types[0] == 'postal_code') {
                    $("#inDestGuideZip").val(addr.long_name);
                } else if (addr.types[0] == 'administrative_area_level_1') {
                    $("#inDestGuideState").val(addr.long_name);
                } else if (addr.types[0] == 'locality') {
                    $("#inDestGuideCity").val(addr.long_name);
                }  else if (addr.types[0] == 'street_address') {
                    $("#inDestGuideAddr").val(addr.long_name);
                } else if (addr.types[0] == 'route') {
                    if ($("#inDestGuideAddr").val() != null && $("#inDestGuideAddr").val().length > 0) {
                        $("#inDestGuideAddr").val($("#inDestGuideAddr").val() + " " + addr.long_name);
                    } else {
                        $("#inDestGuideAddr").val( addr.long_name);
                    }
                }
            }

            $("#inDestGuideLocLat").val(place.geometry.location.lat());
            $("#inDestGuideLocLong").val(place.geometry.location.lng());

            $("#inDestGuideLandmark").blur();
            setTimeout(function(){
                $("#inDestGuideLandmark").val(place.name);},10);
           });

        });


        function showResponse(responseText, statusText, xhr, $form)  {
        $('#uploadPhotoModal').modal('hide');
        $('#addFileModal').modal('hide');
        doPost(uploadSuccessUrl);
        }

        function uploadPhoto() {

            var uploadurl= '/guide/signedS3Url?inType=IMG&inDestId=@m.destinationId&inDestGuideId=@m.id&inDestPhotoCaption=' + $("#inDestPhotoCaption").val() + '&inDestPhotoName=' + $("#inDestPhotoFile").val().replace("C:\\fakepath\\", "");
            $("#uploadSpinner").show();
            if($.browser.msie) {
                signedS3(uploadurl, function(signedURL, publicURL, s3Bucket) {
                    return iFrameUpload( signedURL, publicURL, s3Bucket);
                });

            } else {
                var s3upload = s3upload != null ? s3upload : new S3Upload({
                    file_dom_selector: 'inDestPhotoFile',
                    s3_sign_put_url: uploadurl,
                    s3_object_caption: $("#inDestPhotoCaption").val(),
                    onProgress: function(percent, message) {
                     $("#progressUpload").text(percent + "%");
                    },
                    onFinishS3Put: function(public_url) {
                        $('#uploadPhotoModal').modal('hide');
                        doPost(public_url);
                        console.log('Upload finished: ', public_url);
                    },
                    onError: function(status) {
                        alert('Upload error: ', status);
                        console.log('Upload error: ', status);
                    }
                });
            }
        }

        //Function for File Upload
        function uploadFile() {

            var uploadurl= '/guide/signedS3Url?inType=FILE&inDestId=@m.destinationId&inDestGuideId=@m.id&inDestFileCaption=' + $("#inDestFileCaption").val() + '&inDestFileName=' + $("#inDestFileFile").val().replace("C:\\fakepath\\", "");
            $("#uploadSpinner").show();
            if($.browser.msie) {
                signedS3(uploadurl, function(signedURL, publicURL, s3Bucket) {
                    return iFrameUpload( signedURL, publicURL, s3Bucket);
                });

            } else {
                var s3upload = s3upload != null ? s3upload : new S3Upload({
                    file_dom_selector: 'inDestFileFile',
                    s3_sign_put_url: uploadurl,
                    s3_object_caption: $("#inDestFileCaption").val(),
                    onProgress: function(percent, message) {
                     $("#progressUpload").text(percent + "%");
                    },
                    onFinishS3Put: function(public_url) {
                        $('#addFileModal').modal('hide');
                        doPost(public_url);
                        console.log('Upload finished: ', public_url);
                    },
                    onError: function(status) {
                        alert('Upload error: ', status);
                        console.log('Upload error: ', status);
                    }
                });
            }
        }


        $('input[id=inDestPhotoFile]').change(function() {
            var extension = $("#inDestPhotoFile").val().substring($("#inDestPhotoFile").val().lastIndexOf('.'));
            var ValidFileType = ".jpeg, .jpg , .png , .gif";
            if (ValidFileType.toLowerCase().indexOf(extension.toLowerCase()) < 0) {
                alert("Please only select an image file of type (JPG, GIF, PNG)");
                $("#uploadPhotoSubmit").attr('disabled', true);
                return;
            }
            if(!$.browser.msie) {
                var size = this.files[0].size;
                if (size > 1024000) {
                    alert("The image file must be less than 1MB");
                    $("#uploadPhotoSubmit").attr('disabled', true);
                    return;
                }
            }

            $('#pretty-input').val($(this).val().replace("C:\\fakepath\\", ""));
            $("#uploadPhotoSubmit").attr('disabled', false);
        });

        //for File
        $('input[id=inDestFileFile]').change(function() {
            var extension = $("#inDestFileFile").val().substring($("#inDestFileFile").val().lastIndexOf('.'));
            var ValidFileType = ".pdf, .doc , .docx";
            if (ValidFileType.toLowerCase().indexOf(extension.toLowerCase()) < 0) {
                alert("Please only select a file of type (PDF, DOC, DOCX)");
                $("#uploadFileSubmit").attr('disabled', true);
                return;
            }
            if(!$.browser.msie) {
                var size = this.files[0].size;
                if (size > 10485760) {
                    alert("The file must be less than 10MB");
                    $("#uploadFileSubmit").attr('disabled', true);
                    return;
                }
            }

            $('#pretty-input').val($(this).val().replace("C:\\fakepath\\", ""));
            $("#uploadFileSubmit").attr('disabled', false);
        });



        $("#destinationGuideForm :input").change(function() {
        $("#destinationGuideForm").data('changed', true);
        });


        $('#newPhotoBtn').click(function() {
        if($("#destinationGuideForm").data('changed')) {
        return confirm('Your changes will be lost! Continue?');    }
        });

        $('#newVideoBtn').click(function() {
        if($("#destinationGuideForm").data('changed')) {
        return confirm('Your changes will be lost! Continue?');    }
        });

        $('#newLinkBtn').click(function() {
        if($("#destinationGuideForm").data('changed')) {
        return confirm('Your changes will be lost! Continue?');    }
        });

        $('#newFileBtn').click(function() {
        if($("#destinationGuideForm").data('changed')) {
        return confirm('Your changes will be lost! Continue?');    }
        });



        //reorder photos
        $(function(){
            $('#sortDiv').sortable(
                {
                    update: function( event, ui ) {
                        var order = $(this).sortable('toArray').toString();
                        doPost('/guide/reorderPhotos?inDestId=@m.destinationId&inDestGuideId=@m.id&inDestFileIds=' + order);
                    }
                }
            );
        })

        //initialize popove
        @if(m.photos != null && m.photos.size() > 0) {
            $(function(){
                @for(p <- m.photos) {
                    @if(p.comments != null && p.comments.length() > 0) {
                        $("#pop@p.id").popover();
                    }
                }
            });
        }

        $('#inDestGuideRecommendationTypeSelect').ddslick({
            onSelected: function(data){
                //callback function: do something with selectedData;
        if (data.selectedData.value != '@m.recommendationType') {
        $("#destinationGuideForm").data('changed', true);
        }
                $('#destGuideRecommendationType').val(data.selectedData.value);


        }

        });


    //hack - ckeditor sometimes does not display the text in chrome when called inline
   setTimeout(function(){
    CKEDITOR.replace('inDestGuideIntro');
    @if(!m.isMobilized) {
      CKEDITOR.replace ( 'inDestGuideDesc' ) ;
    }
   },500);

   </script>




    <div class="" >
        <form id="destinationGuideForm">


            <input type="hidden" id="inDestGuideId" name="inDestGuideId" value="@m.id">
            <input type="hidden" id="inDestId" name="inDestId" value="@m.destinationId">

            <div class="tabbable"> <!-- Only required for left/right tabs -->
                <ul class="nav nav-tabs" id="bookingTabs">
                    <li class="active"><a href="#mainTab" data-toggle="tab"> <i class="fa fa-heart pull-left"></i> Overview</a></li>
                    <li><a href="#locationTab" data-toggle="tab"> <i class="fa fa-map-marker pull-left"></i> Location</a></li>
                    <li><a href="#descriptionTab" data-toggle="tab"> <i class="fa fa-edit pull-left"></i> Description</a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="mainTab">
                        <div class="row-fluid">
                            <div class="span6">
                                <label> Title <em>*</em> </label>
                                <input type="text" id="inDestGuideName" name="inDestGuideName" class="required input-block-level" placeHolder="Enter the Title" @if(m.name){value="@m.name"}>
                            </div>


                        </div>
                        <br/>
                        <div class="row-fluid">
                            <div class="span12">
                                <label>Introduction</label>
                                <textarea id="inDestGuideIntro" name="inDestGuideIntro" class="field span12" rows="5">@if(m.intro){@m.intro}</textarea>

                            </div>
                        </div>
                        <br/>
                        <div class="row-fluid">
                            <div class="span6">
                                <label>Tag</label>
                                <input type="text" name="inDestGuideTag" id="inDestTag" placeholder="Tags" class="input-block-level" @if(m.tag!=null) {value="@m.tag"}>
                            </div>

                        </div>

                    </div>


                    <div class="tab-pane fade" id="locationTab">
                        <div class="row-fluid">
                                <div class="span6">
                                    <label> Landmark </label>
                                    <input type="text" id="inDestGuideLandmark" name="inDestGuideLandmark" class="input-block-level" placeHolder="Enter a Landmark" @if(m.landmark){value="@m.landmark"}>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span6">
                                    <label> Address </label>
                                    <input type="text" id="inDestGuideAddr" name="inDestGuideAddr" class="input-block-level" @if(m.streetAddr1){value="@m.streetAddr1"}>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span3">
                                    <label> City </label>
                                    <input type="text" id="inDestGuideCity" class="input-block-level" name="inDestGuideCity" @if(m.city){value="@m.city"}>
                                </div>
                                <div class="span3">
                                    <label> Zip/Postal Code </label>
                                    <input type="text" id="inDestGuideZip" class="input-block-level" name="inDestGuideZip" @if(m.zipCode){value="@m.zipCode"}>
                                </div>
                                <div class="span3">
                                    <label> State </label>
                                    <input type="text" id="inDestGuideState" class="input-block-level" name="inDestGuideState" @if(m.state){value="@m.state"}>
                                </div>
                                <div class="span3">
                                    <label> Country </label>
                                    <input type="text" id="inDestGuideCountry" class="input-block-level" name="inDestGuideCountry" @if(m.country){value="@m.country"}>
                                </div>
                        </div>
                        <br/>
                        <div class="row-fluid">
                            <div class="span3">
                                <label id="inDestLocLatLbl"> Latitude</label>

                                <input type="text" id="inDestGuideLocLat" name="inDestGuideLocLat" value="@m.locLat">
                            </div>

                            <div class="span3">
                                <label id="inDestLocLongLbl"> Longitude</label>

                                <input type="text" id="inDestGuideLocLong" name="inDestGuideLocLong" value="@m.locLong">
                            </div>

                        </div>
                    </div>


                    <div class="tab-pane fade" id="descriptionTab">
                    @if(m.isMobilized) {
                      <div class="well-large">
                        @Html(m.description)
                      </div>
                    } else {
                      <div class="row-fluid">
                        <div class="span12">
                          <label>Description</label>
                          <textarea id="inDestGuideDesc" name="inDestGuideDesc" class="field span12" rows="20">@if(m.description) {@m.description}</textarea>
                        </div>
                      </div>
                    }
                    </div>



                </div>
            </div>

            <div class="row-fluid" style="padding-bottom:10px">

            <div class="span8">
                <label>Recommendation Type</label>
                <select id="inDestGuideRecommendationTypeSelect" name="inDestGuideRecommendationTypeSelect" >
                    <option value="-1" @if(m.recommendationType == -1) {selected="selected"} data-description="">N/A</option>
                    <option value="1" @if(m.recommendationType == 1) {selected="selected"} data-imagesrc="@{m.imgUrl}/img/u_icon_hotels_blue.png"
                            data-description="&nbsp;Recommend this hotel.">&nbsp;Hotel</option>
                    <option value="2" @if(m.recommendationType == 2) {selected="selected"} data-imagesrc="@{m.imgUrl}/img/u_icon_food_drinks_blue.png"
                            data-description="&nbsp;Recommend this restaurant.">&nbsp;Food & Drink</option>
                    <option value="3" @if(m.recommendationType == 3) {selected="selected"} data-imagesrc="@{m.imgUrl}/img/u_icon_sights_blue.png"
                            data-description="&nbsp;Recommend this sight/landmark.">&nbsp;Sights</option>
                    <option value="4" @if(m.recommendationType == 4) {selected="selected"} data-imagesrc="@{m.imgUrl}/img/u_icon_goingson_blue.png"
                            data-description="&nbsp;Recommend this event.">Goings On</option>
                    <option value="5" @if(m.recommendationType == 5) {selected="selected"} data-imagesrc="@{m.imgUrl}/img/u_icon_shopping_blue.png"
                            data-description="&nbsp;Recommend this shopping spot.">&nbsp;Shopping</option>
                    <option value="6" @if(m.recommendationType == 6) {selected="selected"} data-imagesrc="@{m.imgUrl}/img/u_icon_other_blue.png"
                            data-description="&nbsp;Recommend this place.">&nbsp;Other</option>
                </select>
                <input type="hidden" id="destGuideRecommendationType" name="inDestGuideRecommendationType" value="@m.recommendationType">

            </div>
                </div>

            <div class="row-fluid">
                <div class="span6">
                @if(!m.isMobilized) {
                  <a href="#searchGuideModal" data-toggle="modal" class="btn btn-info btn-large pull-left">
                    Copy This Page</a>
                }
                </div>
                <div class="span6 pull-right">
                   <div style="float:right">
                       <a role="button" class="btn btn-info btn-large"
                          onclick="javascript:getPage('/guide/newDestination?inDestId=@m.destinationId');"><i class="fa fa-reply"></i>&nbsp;To Document
                       </a>
                       &nbsp;&nbsp;&nbsp;
                       <a href="#deleteDestGuideModal" class="btn btn-danger btn-large " data-toggle="modal"> Delete </a>
                       &nbsp;&nbsp;&nbsp;
                        <a  class="btn btn-success btn-large " onclick="javascript:postRichTextForm('/guide/newDestinationGuide',
                        ['inDestGuideIntro' @if(!m.isMobilized) {, 'inDestGuideDesc'}],'destinationGuideForm');return false;"> Save </a>
                   </div>

                </div>
            </div>

        </form>

      @if(!m.isMobilized) {
        <br>
        <div class="row-fluid">
          <div class="span12">
            <a style="padding-right:10px" data-controls-modal="uploadPhotoModal" data-backdrop="static" data-keyboard="false" href="#uploadPhotoModal" id="newPhotoBtn" data-toggle="modal" class="btn btn-large btn-primary"> <i class="fa fa-camera"></i> &nbsp; Add a Photo</a>
            <a style="padding-right:10px" href="#uploadVideoModal" id="newVideoBtn" data-toggle="modal" class="btn btn-large btn-primary"> <i class="fa fa-video-camera"></i>  &nbsp; Add a Video</a>
            <a style="padding-right:10px" href="#addLinkModal" id="newLinkBtn" data-toggle="modal" class="btn  btn-large btn-primary"> <i class="fa fa-globe"></i> &nbsp; Add a Link</a>
            <a style="padding-right:10px" href="#addFileModal" id="newFileBtn" data-toggle="modal" class="btn btn-large btn-primary"> <i class="fa fa-file"></i> &nbsp; Add a File</a>
          </div>
        </div>
      }

    </div>
    <br/>
    <br/>

    <!-- uploaded photos -->
    @if(m.photos != null && m.photos.size() > 0) {

        <div class="subTitle"> Uploaded Photos</div>
      <p class="muted"> Simply drag and drop the photos to change the order they will appear in this page. </p>

      <div class="row-fluid" >
       <div class="span12">
           <ul id="sortDiv" style="list-style-type: none; margin-left:20px; padding: 0;">

        @for((p,i) <- m.photos.zipWithIndex) {

        <li style="width:30%;float: left;padding-bottom:20px;margin: 20px 20px 10px 0;background-color:#fff;" id="@p.id">

            <table class="tableNoBorder" style="width:100%; height:350px;margin-top:0px" title="@p.comments">
                <body>
                <tr>
                    <td style="padding-bottom:10px; ">
                       <a href="@p.attachUrl"  data-lightbox="image-1" data-title= "@p.comments" target="_blank">
                         <img class="img-rounded span12" src="@p.attachUrl" alt="@p.comments">

                         <!--
                        <div style="background-image:url(@p.attachUrl);background-size: cover;width:100%;height:300px; " title="@p.comments">
                            &nbsp;
                        </div> -->
                        <!-- <img class="img-rounded span12"  src="@p.attachUrl"></img> -->
                       </a>
                    </td>
                </tr>

                <tr>
                    <td style="padding-left:10px;padding-right:20px;width:100%" >
                        @if(p.comments != null && p.comments.length() > 0){
                        <a href="#" rel="popover" id="pop@p.id" data-content="@p.comments" data-original-title="Caption">
                            <i class="fa fa-info pull-left" style="width:120px;">&nbsp;Photo Caption</i>
                        </a>
                        }
                        @if(!m.isMobilized) {
                          <a href="#deletePhotoModal_@p.id" data-toggle="modal" class="btn btn-danger btn-small pull-right">
                            Delete</a>
                        }
                    </td>
                </tr>
                </body>

            </table>

        </li>
        }
       </ul>
       </div>
    </div>
        <br/>
    }

    <!-- uploaded Files -->
    @if(m.files != null && m.files.size() > 0) {
    <br/>
    <div class="row-fluid">
        <div class="subTitle"> ATTACHED FILES @if(m.files.size() > 0) {(@m.files.size())} </div>
        <br/>

        <table class="table table-striped">
            <thead>
            <tr>
                <th style="width:5%"></th>
                <th style="width:30%">
                    File Name
                </th>
                <th style="width:40%"> Notes</th>

                <th style="width:15%"> Uploaded by</th>

                <th style="width:10%"></th>
            </tr>
            </thead>
            <tbody id="sortAttachDiv">
            @for(p <- m.files) {
            <tr id="@p.id">
                <td>
                    <a href="@p.attachUrl" target="_blank">
                        @if(p.attachName.endsWith(".pdf")){
                        <img src="https://s3.amazonaws.com/static-umapped-com/public/img/pdf_icon.png" width="48px">
                        }else{
                        <img src="https://s3.amazonaws.com/static-umapped-com/public/img/word_icon.png" width="48px">
                        }
                    </a>

                </td>
                <td><a href="@p.attachUrl" target="_blank" style="word-break: break-word;">@p.attachName</a></td>
                <td style="font-weight: 100; padding-right: 60px"><em>@p.comments</em></td>
                <td> @p.createdById</td>

                <td style="text-align: center">
                    <a href="#deleteFileModal_@p.id" data-toggle="modal" class="btn btn-danger"> Delete</a>
                </td>
            </tr>
            }
            </tbody>
        </table>

        <br/> <br/>
    </div>
    }

    <!-- uploaded videos -->
    @if(m.videos != null && m.videos.size() > 0) {

    <div class="row-fluid">
        <div class="subTitle"> Uploaded Videos</div>
        @for((p,i) <- m.videos.zipWithIndex) {
        @if(i%4 == 0) {
        <div class="row-fluid">   <!-- open a new row for 4 items -->
         }
         <div class="span3 well">
            <table class="tableNoBorder" style="width:100%">
                <tbody>
                <tr>
                    <td style="text-align:center;width:100%" >
                      <h5>@p.attachName</h5>
                    </td>
                </tr>
                <tr>
                    <td  >
                        <a href="@p.attachUrl" target="_blank">
                            @if(p.youTubeCover != null) {
                                <img class="span12" src="@p.youTubeCover"/>
                            }
                        </a>

                    </td>
                </tr>
                <tr>
                    <td    >
                        @p.comments
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center;" class="pull-right">
                        <a href="#deleteVideoModal_@p.id" data-toggle="modal" class="btn btn-danger btn-small"> Delete</a>
                    </td>
                </tr>

                </tbody>

            </table>
        </div>
            @if((i+1)%4 == 0 || (i+1) == m.videos.size()) { <!-- close the row for every 4th item-->
        </div>
        }
        }


    </div>
        <br/>
    }

    <!-- added links -->
    @if(m.links != null && m.links.size() > 0) {
    <div class="row-fluid">
        <div class="subTitle"> Links</div>
        @for((p,i) <- m.links.zipWithIndex) {
        @if(i%4 == 0) {
        <div class="row-fluid">   <!-- open a new row for 4 items -->
            }
        <div class="span3 well">
            <table class="tableNoBorder">
                <tbody>
                <tr>
                    <td style="text-align:center;width:100%" >
                        <a href="@p.attachUrl" target="_blank">@p.attachName</a>
                    </td>
                </tr>
                <tr>
                    <td  >
                        @p.comments
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center;" class="pull-right">
                        <a href="#deleteLinkModal_@p.id" data-toggle="modal" class="btn btn-danger btn-small"> Delete</a>
                    </td>
                </tr>
                </tbody>

            </table>
        </div>
        @if((i+1)%4 == 0 || (i+1) == m.links.size()) { <!-- close the row for every 4th item-->
        </div>
        }
        }
    </div>
    }

    <!-- Modal for uploading photo -->

    <div id="uploadPhotoModal" class="modal container hide fade" tabindex="-1" data-replace="true">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="javascript:reloadNeeded();">&times;</button>
                <h3>Add a Photo</h3>
            </div>
            <div class="modal-body">
                <div class="alert fade in" id="imgAlertBox">
                    <button type="button" class="close">×</button>

                </div>
                <div class="tabbable"> <!-- Only required for left/right tabs -->
                    <ul class="nav nav-tabs" id="photoTabs">
                        <li class="active">
                            <a href="#imgLibraryTab" data-toggle="tab">
                                <i class="fa fa-th pull-left"></i>Search Image Library</a>
                        </li>
                        <li>
                            <a href="#imgWebTab" data-toggle="tab">
                                <i class="fa fa-globe pull-left"></i> Search Web</a>
                        </li>
                        <li>
                            <a href="#uploadTab" data-toggle="tab">
                                <i class="fa fa-arrow-up pull-left"></i> Upload Photo</a>
                        </li>
                    </ul>



                    <div class="tab-content">
                        <div id="imgLibraryTab" class="tab-pane active ">
                            <legend>Search Image Library</legend>
                            <div class="">

                                <form id="imgSearchForm">
                                    <input type="hidden" id="inCmpyId" name="inCmpyId" value="@m.cmpyId" >
                                    <input type="hidden"  name="inImgSearchType" value="@ImgSrc.UMAPPED" >
                                    <input type="hidden" id="inDocId" name="inDocId" value="@m.destinationId">
                                    <input type="hidden" id="inPageId" name="inPageId" value="@m.id">

                                    <input type="hidden" id="inMultipleFiles" name="inMultipleFiles" value="1">

                                    <div class="row-fluid">

                                        <div class="span6">
                                            <label>Keyword</label>
                                            <input type="text" id='inKeyword' name='inKeyword' placeholder="keywords"
                                                   class="input-block-level required"/>
                                        </div>
                                        <div class="span3 ">
                                            <label>&nbsp;</label>

                                            <button type="submit" class="btn btn-success pull-left btn-large"
                                                    onclick="javascript:$('#imgSearchSpinner').show();javascript:doSearchForm('/img/search', 'imgSearchForm', 'imgSearchResults');return false;"> Search
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                <div class="row-fluid">
                                    <p class="muted"> Search for a photo from your library and the Umapped database.</p>
                                </div>
                            </div>
                            <div id="searchResults1">
                                <div id="imgSearchResults">

                                </div>
                            </div>
                        </div>

                        <div id="imgWebTab" class="tab-pane ">
                            <legend>Search/Save Image From a Website</legend>
                            <div class="">

                                <form id="imgWebSearchForm">
                                    <input type="hidden" id="inCmpyId" name="inCmpyId" value="@m.cmpyId" >
                                    <input type="hidden"  name="inImgSearchType" value="@ImgSrc.WEB" >
                                    <input type="hidden" id="inDocId" name="inDocId" value="@m.destinationId">
                                    <input type="hidden" id="inPageId" name="inPageId" value="@m.id">
                                    <input type="hidden" id="inMultipleFiles" name="inMultipleFiles" value="1">

                                    <div class="row-fluid">

                                        <div class="span6">
                                            <label>Keyword</label>
                                            <input type="text" id='inKeyword' name='inKeyword' placeholder="keywords"
                                                   class="input-block-level"/>
                                        </div>

                                    </div>
                                    <div class="row-fluid">

                                        <div class="span6">
                                            <label>Website</label>
                                            <input type="text" id='inWebUrl' name='inWebUrl' placeholder="website url (e.g. www.umapped.com) or image url"
                                                   class="input-block-level required"/>
                                        </div>
                                        <div class="span3 ">
                                            <label>&nbsp;</label>

                                            <button type="submit" class="btn btn-success pull-left btn-large"
                                                    onclick="javascript:$('#imgSearchSpinner').show();javascript:doSearchForm('/img/search', 'imgWebSearchForm','imgWebSearchResults');return false;"> Search
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                <div class="row-fluid">
                                    <p class="muted"> Search photos from an external website.</p>
                                </div>
                            </div>

                            <div id="searchResults2">
                                <div id="imgWebSearchResults">

                                </div>
                            </div>
                        </div>

                        <div id="uploadTab" class="tab-pane ">

                            <form id="uploadPhotoForm" method="post" enctype="multipart/form-data">

                                <div class="row-fluid">
                                    <legend>Upload a Photo</legend>
                                    <div class="span9">
                                        <input type="hidden" id="key" name='key'/>
                                        <input type="hidden" id="AWSAccessKeyId" name='AWSAccessKeyId'/>
                                        <input type="hidden" id="policy" name='policy'/>
                                        <input type="hidden" id="signature" name='signature'/>
                                        <input type="hidden" id="success_action_status" name='success_action_status' value='201'/>
                                        <input type="file"  id='inDestPhotoFile' name='file' />
                                        <input type="hidden" id="inDestGuideId" name="inDestGuideId"  value="@m.id">

                                    </div>
                                    <div class="span2 pull-right">
                                        <button type="submit" class="btn btn-success btn-large" id="uploadPhotoSubmit"
                                                onclick="javascript:uploadPhoto();return false;">Upload
                                        </button>

                                    </div>
                                </div>
                                <br/>
                                <div class="row-fluid">
                                    <div class="span12">
                                        <label> Caption</label>
                                        <textarea id="inDestPhotoCaption" name="inDestPhotoCaption" class="field span12" rows="3"></textarea>
                                    </div>
                                </div>

                                <div style="height:120px">
                                    <div id="uploadSpinner" style="display:none;text-align:center">
                                        <img src="@{m.imgUrl}/img/ajax-loader.gif" > Uploading... <div id="progressUpload"></div>

                                    </div>
                                </div>

                            </form>


                        </div>
                        <div id="imgSearchSpinner" class="spinner" style="display:none; background: rgba(255,255,255,.7) url('@{m.imgUrl}/img/ajax-loader-white-1.gif') center center no-repeat;width:100%;height:100%;position: absolute; top: 0px; left: 0px;z-index:100;min-height:200px    ">
                        </div>
                    </div>


                </div>




            </div>
            <div class="modal-footer">


                <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true" onclick="javascript:reloadNeeded();">Close</button>


            </div>
    </div>


    <!-- Modal for uploading File -->
    <script>
        $('#uploadFileSubmit').click(function() {
        $('#addFileModal').modal('hide');
        });
    </script>

    <div id="addFileModal" class="modal container hide fade" tabindex="-1" data-replace="true">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Attach a PDF or Word File</h3>
        </div>
        <div class="modal-body">
            <div class="tabbable"> <!-- Only required for left/right tabs -->
                <ul class="nav nav-tabs" id="fileTabs">
                    <li class="active">
                        <a href="#fileSearchTab" data-toggle="tab">
                            <i class="fa fa-globe pull-left"></i> Search File Library</a>
                    </li>
                    <li>
                        <a href="#fileUploadTab" data-toggle="tab">
                            <i class="fa fa-th pull-left"></i>Upload File</a>
                    </li>

                </ul>
                <div class="tab-content">
                    <div id="fileSearchTab" class="tab-pane active ">
                        <legend>Search File Library</legend>
                        <div class="">

                            <form id="fileSearchForm">
                                <input type="hidden" id="inCmpyId" name="inCmpyId" value="@m.cmpyId" >
                                <input type="hidden" name="inFileSearchType" value="@ImgSrc.UMAPPED" >
                                <input type="hidden" id="inDocId" name="inDocId" value="@m.destinationId">
                                <input type="hidden" id="inPageId" name="inPageId" value="@m.id">
                                <input type="hidden" id="inFileCaption" name="inFileCaption">

                                <input type="hidden" id="inMultipleFiles" name="inMultipleFiles" value="1">

                                <div class="row-fluid">

                                    <div class="span6">
                                        <label>Keyword</label>
                                        <input type="text" id='inKeyword' name='inKeyword' placeholder="keywords"
                                               class="input-block-level required"/>
                                    </div>
                                    <div class="span3 ">
                                        <label>&nbsp;</label>

                                        <button type="submit" class="btn btn-success pull-left btn-large" id="fileSearchBtn"
                                                onclick="javascript:$('#fileSearchSpinner').show();javascript:doSearchForm('/file/search?inSearchOrigin=GUIDE', 'fileSearchForm', 'fileSearchResults');return false;"> Search File
                                        </button>
                                    </div>
                                </div>
                            </form>

                            <div class="row-fluid">
                                <p class="muted"> Search for a file from your library.</p>
                            </div>
                        </div>
                        <div id="searchResultsFile">
                            <div id="fileSearchResults">

                            </div>
                        </div>
                    </div>

                    <div id="fileUploadTab" class="tab-pane ">
                        <form id="uploadFileForm" method="post" enctype="multipart/form-data">
                            <div class="row-fluid">
                                <legend>Upload a File</legend>
                                <div class="span9">
                                    <input type="hidden" id="key" name='key'/>
                                    <input type="hidden" id="AWSAccessKeyId" name='AWSAccessKeyId'/>
                                    <input type="hidden" id="policy" name='policy'/>
                                    <input type="hidden" id="signature" name='signature'/>
                                    <input type="hidden" id="success_action_status" name='success_action_status' value='201'/>
                                    <input type="file"  id='inDestFileFile' name='file' />
                                    <input type="hidden" id="inDestGuideId" name="inDestGuideId"  value="@m.id">

                                </div>
                                <div class="span2 pull-right">
                                    <button type="button" class="btn btn-success btn-large pull-right " id="uploadFileSubmit"
                                            onclick="javascript:uploadFile();return false;" >Upload
                                    </button>
                                </div>
                            </div>
                            <br/>
                            <div class="row-fluid">
                                <div class="span12">
                                    <label> Caption</label>
                                    <textarea id="inDestFileCaption" name="inDestFileCaption" class="field span12" rows="3"></textarea>
                                </div>
                            </div>
                            <div style="height: 120px">
                                <div id="uploadSpinner" style="display: none;text-align: center">
                                    <img src="" >  Uploading... <div id="progressUpload"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div id="fileSearchSpinner" class="spinner" style="display: none;
          background: rgba(255, 255, 255, .7) url('@{m.imgUrl}/img/ajax-loader-white-1.gif') center center no-repeat;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0px;
          left: 0px;
          z-index: 100;
          min-height: 200px    ">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">

            <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true" onclick="javascript:reloadNeeded();">Close</button>

        </div>
    </div>



    <!-- Modal for uploading video -->
    <script>
        $('#uploadVideoSubmit').click(function() {
        $('#uploadVideoModal').modal('hide');
        });
    </script>

    <div id="uploadVideoModal" class="modal hide fade">
        <form id="uploadVideoForm">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Add a YouTube Video</h3>
            </div>
            <div class="modal-body">
                <div class="row-fluid">
                    <label> Title <em> *</em></label>
                    <input type="text" id="inDestGuideUrlTitle" name="inDestGuideUrlTitle" class="required input-block-level">
                </div>

                <div class="row-fluid">
                    <label> Video Url <em> *</em></label>
                    <input type="text" id="inDestGuideUrl" name="inDestGuideUrl" class="required input-block-level">

                </div>
                <br/>
                <div class="row-fluid">
                    <div class="span12">
                        <label> Caption</label>
                        <textarea id="inDestGuideUrlCaption" name="inDestGuideUrlCaption" class="field span12" rows="5"></textarea>
                    </div>
                </div>
                <br/>
            </div>
            <div class="modal-footer">

                <input type="hidden" id="inDestGuideId" name="inDestGuideId"  value="@m.id">
                <input type="hidden" id="inDestId" name="inDestId" value="@m.destinationId">
                <input type="hidden" id="inDestGuideUrlType" name="inDestGuideUrlType" value="1">


                <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
                <button type="submit" class="btn btn-success " id="uploadVideoSubmit"
                        onclick="javascript:postForm('/guide/newDestinationGuideUrl','uploadVideoForm');return false;">Add
                </button>

            </div>
        </form>
    </div>


    <!-- Modal for uploading video -->
    <script>
        $('#addLinkSubmit').click(function() {
        $('#addLinkModal').modal('hide');
        });
    </script>

    <div id="addLinkModal" class="modal hide fade">
        <form id="addLinkForm">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Add a Web Link</h3>
            </div>
            <div class="modal-body">
                <div class="row-fluid">
                    <label> Title <em> *</em></label>
                    <input type="text" id="inDestGuideUrlTitle" name="inDestGuideUrlTitle" class="required input-block-level">
                </div>

                <div class="row-fluid">
                    <label> Url <em> *</em></label>
                    <input type="text" id="inDestGuideUrl" name="inDestGuideUrl" class="required input-block-level">

                </div>
                <br/>
                <div class="row-fluid">
                    <div class="span12">
                        <label> Caption</label>
                        <textarea id="inDestGuideUrlCaption" name="inDestGuideUrlCaption" class="field span12" rows="5"></textarea>
                    </div>
                </div>
                <br/>
            </div>
            <div class="modal-footer">

                <input type="hidden" id="inDestGuideId" name="inDestGuideId"  value="@m.id">
                <input type="hidden" id="inDestId" name="inDestId" value="@m.destinationId">
                <input type="hidden" id="inDestGuideUrlType" name="inDestGuideUrlType" value="2">


                <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
                <button type="submit" class="btn btn-success " id="addLinkSubmit"
                        onclick="javascript:postForm('/guide/newDestinationGuideUrl','addLinkForm');return false;">Add
                </button>

            </div>
        </form>
    </div>



    <!--modal for delete -->
    @if(m.id != null){
    <script>
        $('#deleteDestGuideSubmit').click(function() {
            $('#deleteDestGuideModal').modal('hide');
        });
    </script>

    <div id="deleteDestGuideModal" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Confirm Delete</h3>
        </div>
        <div class="modal-body">
            <p>Delete this page?</p>



        </div>
        <div class="modal-footer">
            <form id="deleteDestGuideForm">
                <input type="hidden" id="destId" name="inDestId" value="@m.destinationId">
                <input type="hidden" id="destGuideId" name="inDestGuideId" value="@m.id">

                <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
                <button type="submit" class="btn btn-info " id="deleteDestGuideSubmit"
                        onclick="javascript:postForm('/guide/deleteDestinationGuide', 'deleteDestGuideForm');return false;">Delete
                </button>
            </form>
        </div>
    </div>


    <!-- modal search guides -->
    <div id="searchGuideModal" class="modal hide fade">
        <form id="searchGuideForm" >
            <input type="hidden"  id='inDestGuideId' name='inDestGuideId' value="@m.id"/>
            <input type="hidden"  id='inCmpyId' name='inCmpyId' value="@m.cmpyId"/>
            <input type="hidden"  id='inDestIds' name='inDestIds' value="@m.destinationId"/>



            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Copy This Page</h3>
            </div>
            <div class="modal-body">
                <p>Search For Documents</p>
                <div class="well">
                    <div class="row-fluid">
                        <div class="span9">
                            <label>Keyword</label>
                            <input type="text"  id='inKeyword' name='inKeyword' placeholder="keywords" class="input-block-level"/>
                        </div>
                    </div>
                    <br/>
                    <div class="row-fluid" >
                        <div class="span12 ">
                            <button type="submit" class="btn btn-success pull-right"  id="searchButton"
                                    onclick="javascript:doSearchForm('guide/destinationCopySearch','searchGuideForm');return false;" >Search
                            </button>
                        </div>​
                    </div>
                </div>
                <div id="searchResults">
                    <div id="searchResultsTable">

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>


            </div>
        </form>
    </div>
    }

    <!-- modal for photo delete -->
    @if(m.photos != null && m.photos.size() > 0) {
      @for(p <- m.photos) {
        <script>
            $('#deleteDeletePhotoSubmit_@p.id').click(function() {
            $('#deletePhotoModal_@p.id').modal('hide');
            });
        </script>

         <div id="deletePhotoModal_@p.id" class="modal hide fade">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Confirm Delete</h3>
            </div>
            <div class="modal-body">
                <p>Delete this photo?</p>
            </div>
            <div class="modal-footer">
                <form id="deletePhotoForm_@p.id">
                    <input type="hidden" id="destId" name="inDestId" value="@m.destinationId">
                    <input type="hidden" id="destGuideId" name="inDestGuideId" value="@m.id">
                    <input type="hidden" id="inDestGuideUrlId" name="inDestGuideUrlId" value="@p.id">
                    <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
                    <button type="submit" class="btn btn-info " id="deleteDeletePhotoSubmit_@p.id" onclick="javascript:postForm('/guide/deleteDestinationGuideUrl', 'deletePhotoForm_@p.id');return false;">Delete</button>
               </form>
            </div>
         </div>
      }
    }

    <!-- modal for File delete -->
    @if(m.files != null && m.files.size() > 0) {
    @for(p <- m.files) {
    <script>
            $('#deleteDeleteFileSubmit_@p.id').click(function() {
            $('#deleteFileModal_@p.id').modal('hide');
            });
        </script>

    <div id="deleteFileModal_@p.id" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Confirm Delete</h3>
        </div>
        <div class="modal-body">
            <p>Delete this File?</p>
        </div>
        <div class="modal-footer">
            <form id="deleteFileForm_@p.id">
                <input type="hidden" id="destId" name="inDestId" value="@m.destinationId">
                <input type="hidden" id="destGuideId" name="inDestGuideId" value="@m.id">
                <input type="hidden" id="inDestGuideUrlId" name="inDestGuideUrlId" value="@p.id">
                <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
                <button type="submit" class="btn btn-info " id="deleteDeleteFileSubmit_@p.id" onclick="javascript:postForm('/guide/deleteDestinationGuideUrl', 'deleteFileForm_@p.id');return false;">Delete</button>
            </form>
        </div>
    </div>
    }
    }

    <!-- modal for videos delete -->
    @if(m.videos != null && m.videos.size() > 0) {
     @for(p <- m.videos) {
        <script>
            $('#deleteDeleteVideoSubmit_@p.id').click(function() {
            $('#deleteVideoModal_@p.id').modal('hide');
            });
        </script>

        <div id="deleteVideoModal_@p.id" class="modal hide fade">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Confirm Delete</h3>
            </div>
            <div class="modal-body">
                <p>Delete this video?</p>
            </div>
            <div class="modal-footer">
                <form id="deleteVideoForm_@p.id">
                    <input type="hidden" id="destId" name="inDestId" value="@m.destinationId">
                    <input type="hidden" id="destGuideId" name="inDestGuideId" value="@m.id">
                    <input type="hidden" id="inDestGuideUrlId" name="inDestGuideUrlId" value="@p.id">
                    <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
                    <button type="submit" class="btn btn-info " id="deleteDeleteVideoSubmit_@p.id" onclick="javascript:postForm('/guide/deleteDestinationGuideUrl', 'deleteVideoForm_@p.id');return false;">Delete</button>
                </form>
            </div>
        </div>
     }
    }

    <!-- modal for photo delete -->
    @if(m.links != null && m.links.size() > 0) {
        @for(p <- m.links) {
            <script>
                $('#deleteDeleteLinkSubmit_@p.id').click(function() {
                    $('#deleteLinkModal_@p.id').modal('hide');
                });
            </script>

            <div id="deleteLinkModal_@p.id" class="modal hide fade">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>Confirm Delete</h3>
                </div>
                <div class="modal-body">
                    <p>Delete this link?</p>
                </div>
                <div class="modal-footer">
                    <form id="deleteLinkForm_@p.id">
                        <input type="hidden" id="destId" name="inDestId" value="@m.destinationId">
                        <input type="hidden" id="destGuideId" name="inDestGuideId" value="@m.id">
                        <input type="hidden" id="inDestGuideUrlId" name="inDestGuideUrlId" value="@p.id">
                        <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
                        <button type="submit" class="btn btn-info " id="deleteDeleteLinkSubmit_@p.id" onclick="javascript:postForm('/guide/deleteDestinationGuideUrl', 'deleteLinkForm_@p.id');return false;">Delete</button>
                    </form>
                </div>
            </div>
        }
    }

    <!-- Modal for adding a new page -->
    <script>
        $('#addNewPageSubmit').click(function() {
        $('#newPageModal').modal('hide');
        });
    </script>

    <div id="newPageModal" class="modal hide fade">
        <form id="newPageForm">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>New Page</h3>
            </div>
            <div class="modal-body">
                <div class="row-fluid">
                    <div class="span6">
                        <label> Title <em>*</em> </label>
                        <input type="text" id="inDestGuideName" name="inDestGuideName" class="required input-block-level" placeHolder="Enter the Title">
                    </div>


                </div>
                <br/>
                <div class="row-fluid">
                    <div class="span12">
                        <label>Introduction</label>
                        <textarea id="inDestGuideIntro" name="inDestGuideIntro" class="field span9" rows="5"></textarea>
                    </div>
                </div>
                <br/>
            </div>
            <div class="modal-footer">

                <input type="hidden" id="inDestId" name="inDestId"  value="@m.destinationId">

                <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
                <button type="submit" class="btn btn-success " id="addNewPageSubmit"
                        onclick="javascript:postForm('/guide/newDestinationGuide','newPageForm');return false;">Create
                </button>

            </div>
        </form>
    </div>

</div>
<--endPageBody-->
