@(m:  com.mapped.publisher.view.DestinationSearchView)
@import com.mapped.publisher.view.GenericTypeView

<div id="searchResultsTable">
    <h3 class="page-title">@m.message</h3>

    <table class="table table-striped">
        <thead>
            <tr>
                <!-- <th></th> -->
                <th style="width:30%">NAME</th>
                <th style="width:10%">TYPE</th>
                <th style="width:20%">LOCATION</th>
                <th style="width:35%">ABOUT</th>
                <th style="width:5%"></th>
            </tr>
        </thead>
        <tbody>
            @if(m.destinationList != null) {
                @for(p <- m.destinationList) {
                    <tr>
                        <!--<td>@if(p.coverUrl != null){<img class="fixed_width" src="@p.coverUrl"></img>}</td>-->
                        <td>@p.name</td>
                        <td>@p.destinationTypeDesc</td>
                        <td>@p.city @p.country</td>
                        <td>@if(p.intro != null){@Html(p.intro)}</td>
                        @if(m.tripId != null) {
                        <td><button type="button" class="btn btn-primary" onclick="javascript:$('#searchGuideModal').modal('hide');doPost('trips/newTrip/addGuide?inTripId=@m.tripId&inDestId=@p.id');"> Add </button></td>
                        }
                    </tr>
                }
            }

        </tbody>
    </table>


</div>