@socialButtonRev1(accountUrl: String, iconUrl: String) = {

<table align="left" border="0" cellpadding="0" cellspacing="0"
style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
  <tbody>
    <tr>
      <td valign="top" align="center"
      style="padding-right: 3px;padding-left:3px; padding-bottom: 5px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"
      class="mcnShareContentItemContainer">

      <a href="@accountUrl"
      target="_blank"
      style="word-wrap: break-word;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"><img
      src="@iconUrl"
      style="display: block;border: 0;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;"
      height="22" width="22"></a>

      </td>
    </tr>
  </tbody>
</table>

}



@* @formatter:off *@



              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <!-- // END BODY -->
  </td>
</tr>
<tr>
  <td align="center" valign="top"
      style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
    <!-- BEGIN FOOTER // -->
    <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateFooter"
           style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #f1f1f1;border-top: 0;border-bottom: 0;">
      <tr>
        <td align="center" valign="top"
            style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
          <table border="0" cellpadding="0" cellspacing="0" width="600" class="templateContainer"
                 style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
            <tr>
              <td valign="top" class="footerContainer"
                  style="padding-top: 10px;padding-bottom: 10px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                <table border="0" cellpadding="0" cellspacing="0" width="600" class="mcnShareBlock"
                       style="border: 1px solid #f1f1f1;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                  <tbody class="mcnShareBlockOuter">
                  <tr>
                      <td valign="top"
                        style="padding-top: 0px;padding-bottom: 0px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"
                        class="mcnShareBlockInner">
                            <a href="http://www.umapped.com" title="" target="_blank"
                               style="word-wrap: break-word;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                              <img align="left" alt=""
                                   src="https://s3.amazonaws.com/static-umapped-com/public/email_flat_gray/Umapped_Email_UTTJGB_Gray_800.png"
                                   width="400" height="70"
                                   style="max-width:400px;padding-bottom: 0;display: inline !important;vertical-align: bottom;border: 0;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;">
                            </a>

                        </td>

                    <td valign="center"
                        style="padding-top: 0px;padding-bottom: 0px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"
                        class="mcnShareBlockInner">

                            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnShareContent"
                                   style="border: 1px solid #f1f1f1;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                              <tbody>
                              <tr>
                                <td align="center" valign="top" style="padding-bottom: 4px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                  <a href="http://www.umapped.com"
                                     style="margin: 0;padding: 0;display: block;font-family: Helvetica;font-size: 14px;font-style: normal;font-weight: bold; letter-spacing:2px; line-height: 125%;text-align: right;text-decoration: none;color: #999999 !important;">www.umapped.com</a>
                                </td>
                              </tr>
                              <tr>
                                <td align="right" valign="top" style="padding-top: 4px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                  <table border="0" cellpadding="0" cellspacing="0"
                                         style="border: 1px solid #f1f1f1;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                                    <tbody>
                                    <tr>
                                      <td align="left" valign="top"
                                          style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">

                                          @* Facebook *@
                                        @socialButtonRev1("https://www.facebook.com/pages/UMapped/215388181930597", "https://s3.amazonaws.com/static-umapped-com/public/email_flat_gray/Umapped_Email_Facebook_Gray_Circle_44.png")

                                        <!--[if gte mso 6]>
                                        </td>
                                        <td align="left" valign="top">
                                        <![endif]-->

                                          @* Twitter *@
                                        @socialButtonRev1("https://twitter.com/umapped", "https://s3.amazonaws.com/static-umapped-com/public/email_flat_gray/Umapped_Email_Twitter_Gray_Circle_44.png")

                                        <!--[if gte mso 6]>
                                        </td>
                                        <td align="left" valign="top">
                                        <![endif]-->

                                          @* LinkedIn *@
                                        @socialButtonRev1("http://www.linkedin.com/company/2847064", "https://s3.amazonaws.com/static-umapped-com/public/email_flat_gray/Umapped_Email_LinkedIn_Gray_Circle_44.png")

                                        <!--[if gte mso 6]>
                                        </td>
                                        <td align="left" valign="top">
                                        <![endif]-->

                                          @* Instagram *@
                                        @socialButtonRev1("http://instagram.com/umapped/","https://s3.amazonaws.com/static-umapped-com/public/email_flat_gray/Umapped_Email_Instagram_Gray_Circle_44.png")

                                        <!--[if gte mso 6]>
                                        </td>
                                        <td align="left" valign="top">
                                        <![endif]-->

                                          @* YouTube *@
                                        @socialButtonRev1("https://www.youtube.com/channel/UCmzJWyqwCMRBzFugnKbdlaw", "https://s3.amazonaws.com/static-umapped-com/public/email_flat_gray/Umapped_Email_YouTube_Gray_Circle_44.png")

                                        <!--[if gte mso 6]>
                                        </td>
                                        <td align="left" valign="top">
                                        <![endif]-->

                                          @* Google+ *@
                                        @socialButtonRev1("https://plus.google.com/+UmappedTravel","https://s3.amazonaws.com/static-umapped-com/public/email_flat_gray/Umapped_Email_Google_Gray_Circle_44.png")

                                        <!--[if gte mso 6]>
                                        </td>
                                        <![endif]-->

                                      </td>
                                    </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                              </tbody>
                            </table>


                    </td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <!-- // END FOOTER -->
  </td>
</tr>
</table>
<!-- // END TEMPLATE -->
</td>
</tr>
</table>
</center>
</body>
</html>
@* @formatter:on *@
