@(m:  com.mapped.publisher.view.FlightAlertView)


  @views.html.email.emailTemplateHeader(m.getTitle)



@* @formatter:off *@

<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock"
style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
  <tbody class="mcnTextBlockOuter">
    <tr>
      <td valign="top" class="mcnTextBlockInner"
      style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
        <table align="left" border="0" cellpadding="0" cellspacing="0" width="600"
        class="mcnTextContentContainer"
        style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
          <tbody>

          @* Flight Info*@
            <tr>
              <td valign="top" class="mcnTextContent"
              style="padding-top: 20px;padding-right: 0px;padding-bottom: 9px;padding-left: 0px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #666666;font-family: Helvetica;font-size: 15px;line-height: 150%;text-align: left;">
                <h1 align="left"
                style="margin: 0;padding: 0;display: block;font-family: Helvetica;text-transform:uppercase;font-size: 22px; font-style:normal; font-weight:bold; line-height: 125%;text-align: left;color:#00b4ff !important;">
                  @m.tripName.toUpperCase()
                </h1>
                <br/>
                <h1 align="left"
                style="margin: 0;padding: 0;display: block;font-family: Helvetica;text-transform:uppercase;font-size: 22px; font-style:normal; font-weight:bold; line-height: 125%;text-align: left;color:#00b4ff !important;">
                  @m.airlineName @m.airlineCode @m.flightId <br/>
                  from @m.departAirportName
                </h1>


              </td>
            </tr>
            @if(m.events != null && m.events.size() > 0) {
              @for(p <- m.events) {
                   <tr>
                      <td valign="top" align="left" class="mcnTextContent"
                      style="padding-top: 9px;padding-right: 0px;padding-bottom: 9px;padding-left: 0px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #666666;font-family: Helvetica;font-size: 15px;line-height: 150%;text-align: left;">
                        <span>@Messages("email.departingfrom") <strong>@m.departAirportName (@m.departAirportCode)</strong> </span><br>
                        <span>@Messages("email.departingon") <strong>@p.departTime</strong></span><br>
                        @if(m.departTerminal != null && m.departTerminal.trim.length > 0) {
                        <span>@Messages("email.terminal"):<strong> @m.departTerminal</strong></span>  <br/>
                        }
                        @if(m.departGate != null && m.departGate.trim.length > 0) {
                        <span>Gate: <strong>@m.departGate</strong></span>  <br/>
                        }
                        @if(m.checkinUrl != null && m.checkinUrl.trim.length > 0) {
                          <a href="@m.checkinUrl">@Messages("email.checkin")</a> <br/>
                        }
                        <br/>
                        <span>@Messages("email.arrivingto") <strong>@m.arriveAirportName (@m.arriveAirportCode)</strong> </span><br>
                        <span>@Messages("email.arrivingon") <strong>@p.arriveTime</strong></span><br>
                        @if(m.arriveTerminal != null && m.arriveTerminal.trim.length > 0) {
                        <span>@Messages("email.terminal"): <strong>@m.arriveTerminal</strong></span>  <br/>
                        }
                        @if(m.arriveGate != null && m.arriveGate.trim.length > 0) {
                        <span>Gate: <strong>@m.arriveGate</strong></span>  <br/>
                        }
                        <br/><br/>
                       <span style="color:#666666">@p.getAlertDesc() @Messages("email.updatedat") @p.timestamp GMT </span><br>
                        <span style="color:#666666"> This is a <a href="http://www.flightstats.com">flightstats.com</a> notification and the accuracy of this information cannot be 100% guaranteed. Contact your travel agent or airline directly to confirm your flight change(s).</span><br>
                      </td>
                    </tr>
              }
             }
             <tr>
                    <td style="padding-top: 0;padding-right: 18px;padding-bottom: 18px;padding-left: 18px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"
                        valign="top" align="center" class="mcnButtonBlockInner">

                      <table border="0" cellpadding="0" cellspacing="0" class="mcnButtonContentContainer"
                             style="border-collapse: separate !important;border: 1px solid #999999; border-top-left-radius: 5px;border-top-right-radius: 5px;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;background-color:#00B4FF; mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                        <tbody>
                        <tr>
                          <td align="center" valign="middle" class="mcnButtonContent"
                              style="font-family: Arial;font-size: 16px;padding: 16px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                            <a class="mcnButton " title='View Your Trip' href="@m.tripUrl"
                               target="_blank"
                               style="font-weight: bold;letter-spacing: normal;line-height: 100%;text-align: center;text-decoration: none;color: #ffffff;word-wrap: break-word;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                              @if(m.isAgent) {
                              VIEW YOUR CLIENT'S TRIP
                                } else  {
                              VIEW YOUR TRIP
                                }
                            </a>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </td>
                     </tr>
          </tbody>
        </table>

      </td>
    </tr>
  </tbody>
</table>
<br/><br/>

@* @formatter:on *@
@views.html.email.emailTemplateFooter.render()
