@(m:  com.mapped.publisher.view.EmailView)
@import com.mapped.publisher.common.APPConstants


@if(m.updated == true) {
  @views.html.email.emailTemplateHeader(Messages("email.updatedItineraryReady"))
} else {
  @views.html.email.emailTemplateHeader(Messages("email.itineraryReady"))
}
    @* @formatter:off *@

    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock"
    style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
        <tbody class="mcnTextBlockOuter">
            <tr>
                <td valign="top" class="mcnTextBlockInner"
                style="mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                  <table align="left" border="0" cellpadding="0" cellspacing="0" width="600"
                         class="mcnTextContentContainer"
                         style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                    <tbody>
                      <tr>
                          <td style="text-align:center;">
                            <span style="font-size:11px;font-style:italic;color:grey;">Do not reply to this email. Contact your Travel Professional directly with any questions about your itinerary.</span>
                          </td>
                      </tr>
                      @* Trip name and dates*@
                      <tr>
                        <td valign="top" class="mcnTextContent"
                            style="padding-top: 20px;padding-right: 0px;padding-bottom: 9px;padding-left: 0px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #666666;font-family: Helvetica;font-size: 15px;line-height: 150%;text-align: left;">

                          <h1 align="left"
                              style="margin: 0;padding: 0;display: block;font-family: Helvetica;text-transform:uppercase;font-size: 22px; font-style:normal; font-weight:bold; line-height: 125%;text-align: left;color:#00b4ff !important;">@m.tripInfo.tripName</h1>

                          <span style="padding-top: 9px;padding-right: 0px;padding-bottom: 9px;padding-left: 0px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #666666;font-family: Helvetica;font-size: 18px; font-weight:bold; fontline-height: 150%;text-align: left;">
                            @m.tripInfo.tripStartDatePrint - @m.tripInfo.tripEndDatePrint
                          </span>

                        </td>
                      </tr>
                    </tbody>
                  </table>

                  <table align="left" border="0" cellpadding="0" cellspacing="0" width="600"
                         class="mcnTextContentContainer"
                         style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                    <tbody>

                      @* Trip name and dates*@
                      <tr>
                        <td valign="top" align="center" class="mcnTextContent"
                            style="padding-top: 9px;padding-right: 0px;padding-bottom: 9px;padding-left: 0px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #666666;font-family: Helvetica;font-size: 15px;line-height: 150%;text-align: center;">
                          <img align="center"
                            src="@m.tripInfo.cover.url"
                            width="600"
                            style="max-width:600px;padding-bottom: 0;display: inline !important;vertical-align: bottom;border: 0;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;">
                        </td>
                      </tr>
                    </tbody>
                  </table>





                  <table align="left" border="0" cellpadding="0" cellspacing="0" width="600"
                         style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                    <tbody>
                    @if(m.businessCard != null && m.businessCard.companyName != null && m.businessCard.companyName.trim.length > 0) {
                      <tr>
                        <td valign="top" class="mcnTextContent"
                            style="padding-top: 9px;padding-right: 0px;padding-bottom: 9px;padding-left: 0px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #666666;font-family: Helvetica;font-size: 15px;line-height: 150%;text-align: center;">

                          @if(m.note != null && m.note.length() > 0) {
                  <table align="left" border="0" cellpadding="0" cellspacing="0" width="600"
                         class="mcnTextContentContainer"
                         style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                    <tbody>

                      @* Trip name and dates*@
                      <tr>
                        <td valign="top" align="left" class="mcnTextContent"
                            style="padding-top: 9px;padding-right: 0px;padding-bottom: 9px;padding-left: 0px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #666666;font-family: Helvetica;font-size: 15px;line-height: 150%;text-align: left;">

                           <span style="color:#666666"><strong>@Messages("email.notefrom") @m.businessCard.getFirstName.toUpperCase()&nbsp;@m.businessCard.getLastName.toUpperCase():</strong></span><br>
                          <span>@Html(m.note)</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  }
                        </td>
                      </tr>
                    }
                      <tr>
                    <td style="padding-top: 0;padding-right: 18px;padding-bottom: 18px;padding-left: 18px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;"
                        valign="top" align="center" class="mcnButtonBlockInner">

                      <table border="0" cellpadding="0" cellspacing="0" class="mcnButtonContentContainer"
                             style="border-collapse: separate !important;border: 1px solid #999999; border-top-left-radius: 5px;border-top-right-radius: 5px;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;background-color:#00B4FF; mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                        <tbody>
                        <tr>
                          <td align="center" valign="middle" class="mcnButtonContent"
                              style="font-family: Arial;font-size: 16px;padding: 16px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
                            @if(!m.published) {
                               <a class="mcnButton " title='@Messages("email.viewitinerary")' onclick="alert('This preview is only available when the trip is published. Please click Publish Trip in Step 5.');"
                               target="_blank"
                               style="font-weight: bold;letter-spacing: normal;line-height: 100%;text-align: center;text-decoration: none;color: #ffffff;word-wrap: break-word;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">@Messages("email.viewitinerary")</a>
                            } else {
                            <a class="mcnButton " title='@Messages("email.viewitinerary")' href="@m.tripUrl"
                               target="_blank"
                               style="font-weight: bold;letter-spacing: normal;line-height: 100%;text-align: center;text-decoration: none;color: #ffffff;word-wrap: break-word;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">@Messages("email.viewitinerary")</a>
                              }
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </td>
                     </tr>
                      @if(m.displayMobileApps) {



                      <tr>
                        <td valign="top" class="mcnTextContent" align="center">
                          <table>
                            <tr>
                              <td valign="middle">
                                  <a href="@m.url/trip/appstore/ios/@m.tripInfo.tripId" title="Download from the App Store">
                                      <img src = 'http://www.umapped.com/img/mobile/appstore.png' width="120" alt="Download from the App Store">
                                  </a>
                              </td>
                              <td valign="middle">
                                  <a href="@m.url/trip/appstore/android/@m.tripInfo.tripId" title="Download from the Play Store">
                                      <img src = 'http://www.umapped.com/img/mobile/play_store.png' width="100" alt="Download from the Play Store">
                                  </a>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                      }
                      <tr>
                        <td valign="top" class="mcnTextContent"
                         style="padding-top: 9px;padding-right: 18px;padding-bottom: 9px;padding-left: 18px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #666666;font-family: Helvetica;font-size: 15px;line-height: 150%;text-align: left;">
                        <br/><br/>@Messages("email.questions")<br/>
                        @views.html.email.businessCard(m.businessCard)

                        </td>
                      </tr>
                    </tbody>
                  </table>

                </td>
            </tr>
        </tbody>
    </table>
    <br/><br/>
    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock"
       style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
        <tbody class="mcnTextBlockOuter">
            <tr>
                <td valign="top" class="mcnTextContent"
                    style="padding-top: 9px;padding-right: 18px;padding-left: 18px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #666666;font-family: Helvetica;font-size: 12px;text-align: left;">
                    View in
                    <a href="@m.url/previewEmail/@m.tripInfo.tripId/@m.travelerId?inGroupId=&inLang=en" id="emailen" target="_blank">En</a>
                    <a href="@m.url/previewEmail/@m.tripInfo.tripId/@m.travelerId?inGroupId=&inLang=fr" id="emailfr" target="_blank">Fr</a>
                    <a href="@m.url/previewEmail/@m.tripInfo.tripId/@m.travelerId?inGroupId=&inLang=es" id="emailes" target="_blank">Es</a>
                    <a href="@m.url/previewEmail/@m.tripInfo.tripId/@m.travelerId?inGroupId=&inLang=pt" id="emailpt" target="_blank">Pt</a>
                </td>
            </tr>
        </tbody>
    </table>
@* @formatter:on *@
@views.html.email.emailTemplateFooter.render()
