

/******************************************************************************
 ******************************************************************************
 * CSS SOUP. ELEMENTS NEED TO BE EXTRACTED FROM HERE                          *
 ******************************************************************************
 ******************************************************************************/

td {
  padding-bottom: 4px;
}

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff;
}

table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

pre {
  padding: 0 3px 2px;
  font-family: @um-font-mono;
  font-size: 12px;
  color: @um-grey-dark;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

code {
  padding: 2px 4px;
  color: #d14;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}

small {
  font-size: 85%;
}

em {
  font-style: normal;
}

cite {
  font-style: normal;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
  page-break-inside: avoid;
}

@font-face {
  font-family: 'fontello';
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1.2em;
  margin-left: .2em;
  font-size: 16px;
}

.icon-right-open-1:before {
  content: '\e801';
}

.marker {
  padding: 1px 1px;
  background-color: #ffff00;
  border: 0px transparent;
}

.umapped {
  text-shadow: none;
  background-color: #5fae2c;
  background: #5fae2c;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #0d8e27), color-stop(1, #11a72f));
  background: -ms-linear-gradient(bottom, #0d8e27, #11a72f);
  background: -moz-linear-gradient(center bottom, #0d8e27 0%, #11a72f 100%);
  background: -o-linear-gradient(bottom, #0d8e27, #11a72f);
}

.img_center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tableNoBorder {
  like: ".table";
}

.tableNoBorder th, .tableNoBorder td {
  border-top: none;
}

.mainTitleFont {
  .titleFont();
  font-size: 40px;
  line-height: 44px;
  color: #009933;
}

.mainTitleFontBlue {
  .titleFont();
  font-size: 30px;
  line-height: 34px;
}

.pageTitleFont {
  .titleFont();
  font-size: 18px;
  color: #093;
  line-height: 25px;
  text-transform: uppercase;
}

.cmpyFont {
  font-family: @um-fonts;
  font-size: 14px;
  font-weight: normal;
  color: @um-grey-dark;
  line-height: 15px;
}

.pageFont {
  font-family: @um-fonts;
  font-size: 18px;
  font-weight: normal;
  color: #666;
  line-height: 25px;
}

.bodyFont {
  font-family: @um-fonts;
  color: @um-grey-dark;
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
  overflow: scroll;
}


.captionFont {
  font-family: @um-fonts;
  font-size: 12px;
  font-weight: normal;
  color: @um-grey-dark;
  line-height: 18px;
}

.bodyFontBold {
  font-family: @um-fonts;
  font-size: 16px;
  font-weight: bold;
  color: @um-grey-dark;
  line-height: 18px;
}

.countryFont {
  font-family: @um-fonts;
  font-size: 19px;
  font-weight: bold;
  color: @um-grey-dark;
  line-height: 18px;
}

.cityFont {
  font-family: @um-fonts;
  font-size: 19px;
  font-weight: normal;
  color: @um-grey-dark;
  line-height: 18px;
}

ol, ul {
  font-family: @um-fonts;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

.h2_overview {
  font-family: @um-font-condensed;
  font-size: 21px;
  font-weight: bold;
  color: @um-grey-dark;
  text-transform: uppercase;
  margin-bottom: 11px;
}



.spacing {
  margin-top: 20px;
}



.pictures {
  margin-top: 16px;
  font-family: @um-fonts;
  font-size: 10px;
  font-weight: normal;
  p {
    font-weight: normal;
    padding-top: 25px;
    padding-bottom: 22px;
    line-height: 14px;
  }
}

.footer {
  width: 100%;
  height: 37px;
  position: absolute;
  bottom: 0;
  display: block;
  border-top: 1px solid #b9b9b9;
  font-family: @um-fonts;
  font-size: 10px;
  font-weight: bolder;;
  padding-top: 10px;
  color: @um-grey-light;
  img {
    margin-right: 3px;
  }
}




.collab {
  border-top: 1px solid @um-grey-light;
}

.eventDay {
  padding-bottom: 0px;
}




.event_bg {
  background-color: @um-offwhite-lighter;
  min-height: 80px;
  padding-bottom: 10px;
  border-left: 1px solid @um-offwhite-darker;
  border-right: 1px solid @um-offwhite-darker;
  vertical-align: text-top;
  line-height: 13px;
}

.table_bg {
  background-color: @um-offwhite-lighter;
  border-top: 1px solid @um-offwhite-darker;
  border-left: 1px solid @um-offwhite-darker;
  border-right: 1px solid @um-offwhite-darker;
  padding: 4px;
  padding-bottom: 8px;
  font-family: @um-fonts;
  font-weight: bolder;;
  font-size: 13px;
  color: @um-grey-dark;
}

.cell_bg {
  border-bottom: 1px solid @um-offwhite-darker;
  border-left: 1px solid @um-offwhite-darker;
  padding: 4px;
  font-family: @um-fonts;
  font-weight: normal;
  font-size: 9px;
  color: #000000;
  line-height: 13px;
}

.details_left {
  width: 250px;
  display: block;
  float: left;
  padding: 8px 10px 10px 10px;
  min-height: 75px;
  line-height: 13px;
  h4 {
    font-family: @um-font-condensed;
    font-weight: bolder;;
    font-size: 11px;
    margin-top: 5px;
    color: @um-grey-dark;
    line-height: 13px;
  }
  .add {
    font-family: @um-fonts;
    font-weight: bolder;;
    font-size: 10px;
    margin-top: 5px;
    color: @um-grey-medium;
    line-height: 13px;
  }
}

.details_note {
  display: block;
  float: left;
  font-family: @um-fonts;
  font-weight: bolder;;
  font-size: 9px;
  color: @um-grey-medium;
  line-height: 13px;
  min-height: 75px;
  p {
    padding: 7px;
  }
}

.note {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: @um-fonts;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  page-break-inside: avoid;
}

.desc_text {
  font-family: 'Open Sans', sans-serif;
  color: #333;
  font-size: 16px;
}

.desc_text p {
  margin: 0;
  padding: 0;
  line-height: 20px;
  font-size: 16px;
}

/* attempt to control mobilizer font*/
.desc_text p {
  padding-top: 5px;
  line-height:20px;
  font-size: 16px;
  color: #666666;
  font-weight: 400;


}

.desc_text a {
  line-height:20px;
  color: #444444;
  font-weight: 400;
  page-break-inside: auto;

}

.desc_text h1 {
  margin-top:30px;
  padding-bottom:0px;
  color: #666666;
  font-size: 19px;
  line-height: 22px;
  text-transform: none;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;

}

.desc_text h2 {
  margin-top:30px;
  padding-bottom:0px;
  font-size: 18px;
  line-height: 22px;
  text-transform: none;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;


}

.desc_text h3 {
  margin-top:30px;
  padding-bottom:0px;
  font-size: 18px;
  line-height: 16px;
  text-transform: none;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;

}

.desc_text img {
  padding-top:20px;
  padding-bottom:20px;
  display:block;margin:0 auto;
  page-break-inside: avoid;
  max-width: 400px;
}

.card__figure__img {
  width: 400px;
}
