@um-fonts :           'Arial Unicode MS',  Arial,  sans-serif;
@um-font-mono:        'DejaVu Sans Mono', monospace;
@um-font-branding:     'Open Sans', sans-serif;
@um-font-condensed:    'Open Sans Condensed', sans-serif;
@um-background:       #ffffff;
@um-grey-dark:        #333333;
@um-grey-medium:      #666666;
@um-grey-light:       #999999;
@um-blue:             #00b4ff;
@um-black:            #000000;
@um-offwhite-darker:  #cfcfcf;
@um-offwhite-lighter: #efefef;

/******************************************************************************
 ******************************************************************************
 * PAGE SETUP                                                                 *
 ******************************************************************************
 ******************************************************************************/

/******************************************************************************
 * CSS3 Page Media Module Page Definitions                                    *
 ******************************************************************************/

.pageDimentions() {
  size: 8.5in 11in; /* US Letter */
  margin: 1in 0.5in 1in 0.5; /*top right bottom left */
  display: block;
}

@page {
.pageDimentions();
  padding: 0px 0px 4px 0px;
  @bottom-center {
    content: element(pageFooter)
  }
}

@page :first {
.pageDimentions();
  counter-increment: page;
  counter-reset: page 1;
  padding: 0px;
  @bottom-center {
    content: element(mainFooter)
  }
}

div.pageFooter {
  position: running(pageFooter);
  margin: 4px 0px 0px 0px;
  border-top: 1px solid #b9b9b9;
}

#pagenumber:before {

  content: counter(page);
}

#pagecount:before {
  content: counter(pages);
}

.firstPage {
  background-color: @um-background;
  margin-left: 0px;
  display: block;
}

.page {
  .firstPage();
}

/******************************************************************************
 ******************************************************************************
 * Umapped Page Design Elements                                               *
 ******************************************************************************
 ******************************************************************************/
.content {
  margin: auto;
  margin-top: 0px !important;
  border: 1px solid transparent;
  position: relative;
}

.overview {
  padding-top: 0px;
  padding-bottom: 30px;
  margin-bottom: 11px;
  border-top: 1px solid #535353;
}

.footerFont {
  font-family: @um-fonts;
  font-weight: normal;
  font-size: 11px;
  line-height: 20px;
  color: @um-grey-medium;
}

.left {
  width: 50%;
  display: block;
  float: left;
}

.right {
  width: 50%;
  display: block;
  float: right;
  text-align: right;
  font-size: 11px;
  color: @um-grey-medium;
  font-weight: normal;
}

table.branding {
  float: right;
  margin-top: 40px
}

.brandingFont() {
  font-family: @um-font-branding;
  font-weight: normal;
}

.client-info {
  .brandingFont();
  font-size: 13px;
  line-height: 16px;
  padding-left: 20px;
}

.collab-title {
  .brandingFont();
  font-size: 13px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 30px;
}

.collab-info {
  .brandingFont();
  font-size: 10px;
  line-height: 11px;
}

.clear {
  clear: both;
}

.featured_image {
  width: 300px;
  position: absolute;
  top: 452px;
  img {
    margin-bottom: 18px;
  }
  p {
    color: @um-grey-dark;
    font-family: @um-fonts;
    font-weight: bolder;
    font-size: 12px;
  }
}

.full_img {
  width: 720px;
}

.titleFont() {
  font-family: @um-font-condensed;
  font-weight: bold; /* same as 700 */
  color: @um-black;
  text-transform: uppercase;
}

.h1_title {
  .titleFont();
  font-size: 24px;
  margin-bottom: 10px;
}

.h2_title {
  .titleFont();
  font-size: 21px;
  margin-bottom: 11px;
  padding-top: 10px;
}

.h2_title_border {
  .titleFont();
  font-size: 21px;
  margin-bottom: 11px;
  border-top: 3px solid @um-black;
  padding-top: 0px;
}

.article__author {
  font-weight: bold;
  font-style: normal;
  margin-bottom: 20px;
}

.date {
  font-family: @um-fonts;
  font-weight: bolder;
  font-size: 14px;
  color: @um-black;
  line-height: 18px;
  margin-bottom: 12px;
}

.event {
  padding-bottom: 0px;
  padding-top: 10px;
  display: block;
  margin: auto;
  line-height: 13px;
  page-break-inside: avoid;
  p {
    font-family: @um-fonts;
    font-weight: bolder;
    font-size: 13px;
    line-height: 13px;
  }
  strong {
    font-family: @um-fonts;
    color: @um-grey-dark;
  }
}

.eventPage {
  padding-top: 0px;
  margin-bottom: 11px;
  border-top: 3px solid @um-black;
  h2 {
    color: @um-black;
  }
}

.schedule {
  height: 20px;
  line-height: 20px;
  padding-left: 0px;
  padding-bottom: 10px;
  background-repeat: no-repeat;
  background-size: 15px 15px;
  margin: 5px 0 5px 0;
  font-family: @um-font-condensed;
  font-size: 12px;
  td {
    font-family: @um-fonts;
    font-size: 17px;
    font-weight: normal;
    color: @um-grey-dark;
  }
}

.details_right {
  display: block;
  float: right;
  font-family: @um-fonts;
  font-weight: bolder;;
  font-size: 9px;
  color: @um-grey-medium;
  line-height: 13px;
  min-height: 75px;
  vertical-align: text-top;
  td {
    //border-right: solid 1px #000000;
  }
  p {
    padding: 2px 7px 2px 7px;
    font-family: @um-fonts;
    font-weight: normal;
    font-size: 10px;
    line-height: 13px;
  }
}

.event_details {
  width: 100%;
  border: 1px solid @um-offwhite-darker;
  margin-bottom: 7px;
  page-break-inside: avoid;
  line-height: 13px;
  td {
    padding: 0px;
  }
}

/******************************************************************************
 ******************************************************************************
 * General HTML Elements styles                                               *
 ******************************************************************************
 ******************************************************************************/
body {
  margin: 0;
  font-family: @um-fonts;
  font-size: 14px;
  color: @um-grey-dark;
  background-color: @um-background;
  line-height: 1;
}

a {
  text-decoration: none;
  color: @um-blue;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-family: @um-fonts;
  line-height: 20px;
  color: @um-grey-medium;
  page-break-after: avoid; /* When there is a header - never split it from content */
  a {
    color: @um-grey-medium;
  }
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-weight: normal;
  line-height: 1;
  color: @um-grey-light;
}

h1, h2, h3 {
  line-height: 40px;
}

h1 {
  font-size: 38.5px;
  small {
    font-size: 24.5px;
  }
}

h2 {
  font-size: 31.5px;
  small {
    font-size: 17.5px;
  }
}

h3 {
  font-size: 24.5px;
  small {
    font-size: 14px;
  }
}

h4 {
  color: @um-grey-dark;
  font-family: @um-font-condensed;
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  text-transform: uppercase;
  small {
    font-size: 14px;
  }
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 11.9px;
}

p {
  margin: 0 0 0 0px;
  font-family: @um-fonts;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
}

//Unprocessed rules
@import "_pdf_doc_elems.less";
