@(p:  com.mapped.publisher.view.TripBookingDetailView, cols: String)


@if(p.files != null && p.files.size() > 0) {
  <tr style="font-size: 13px;color: #000000;line-height: 16px">
    <td style="padding-bottom: 20px;" colspan="@cols">
      <div>
        <table style="margin-left: 0px;width: 100%;margin-top: 0px;">


          @for(t <- p.files) {
            <tr style="padding-bottom: 10px;font-size:11px;color:#60bdff">
              <td style="padding-bottom : 5px">
                <a href="@t.attachUrl" target="_blank" style="font-size: 14px">
                  @if(t.attachType == "application/msword"){
                    <img src="https://s3.amazonaws.com/static-umapped-com/public/img/word_icon.png" width="20px">
                  } else {
                    @if(t.attachType == "application/pdf"){
                      <img src="https://s3.amazonaws.com/static-umapped-com/public/img/pdf_icon.png" width="20px">
                    } else {
                      <img src="https://s3.amazonaws.com/static-umapped-com/public/img/spacer.gif" width="20px">
                      }
                  }
                  @t.attachName
                </a>
              </td>
            </tr>
          }
        </table>
      </div>
    </td>
  </tr>
}