@(m: com.mapped.publisher.view.TripBookingView, arv:  com.mapped.publisher.view.UmActivityReservationView,  i: Integer, travelerId: String, talkback: Boolean)
@import com.mapped.publisher.utils.Utils
@import com.mapped.publisher.view.ViewUtils
@import com.umapped.persistence.enums.ReservationType
@import com.mapped.publisher.view.TabType


  <div class="bookingBox">

      <!-- ipad view -->
    <table style="width: 100%;" class="bkdetailsSmCol">
      <tr style="width: 100%;">

        <td style="width:35px;vertical-align: text-top;padding-top:5px;">
          <div style="min-width:20px;margin-top: 10px;margin-left: 7px;text-align: right">
            <img src="https://s3.amazonaws.com/static-umapped-com/public/img/icons/@ViewUtils.getimgNameForBookingType(arv.getDetailsTypeId)" >
          </div>
        </td>
        <td style="vertical-align: text-top;padding-top:5px;">
          <div style="width: 100%">
            <table style="width: 100%;margin-left: 0px;margin-top: 8px;">
              <tr>
                <td style="vertical-align: text-top;">
                  <table style="width: 100%;margin-left: 0px;margin-top: 0px;">
                    <tr>
                      <td colspan="3" style="padding-bottom: 20px;vertical-align: text-top;">
                      @views.html.webItinerary.bookings.details.bookingScheduleBtns(ReservationType.CRUISE_STOP, TabType.ACTIVITIES, m, arv, travelerId, talkback)

                      </td>
                    </tr>
                    <tr style="font-size: 11px;color: #818181;font-weight: 700">
                      <td colspan="3" style="padding-bottom: 10px;width: 200px;vertical-align: text-top;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">@Messages("webitinerary.port").toUpperCase</div></td>

                    </tr>

                    <tr style="font-size: 13px;color: #000000;line-height: 16px">
                      <td colspan="3" style="width:200px ; padding-bottom: 20px;;vertical-align: text-top">
                        @if(arv.getProviderName != null && arv.getProviderName.trim.length > 0) {
                          <span style="font-weight: 700">@arv.getProviderName</span> <br/>
                        }
                        @if(arv.getContact != null && arv.getContact.length > 0) {
                          @Messages("webitinerary.contact"): @arv.getContact <br/>
                        }
                        @if(arv.getDestinationId != null && arv.getDestinationId.trim.length > 0) {
                          @Messages("webitinerary.document"): <a href = "@arv.getDestinationUrl"> @arv.getDestination</a> <br/>
                        }
                        @if(arv.getProviderAddr1 != null && arv.getProviderAddr1.length > 0) {
                        @arv.getProviderAddr1 <br>
                        }
                        @if(arv.getProviderAddr2 != null && arv.getProviderAddr2.length > 0) {
                        @arv.getProviderAddr2 <br>
                        }
                        @if(arv.getProviderPhone != null && arv.getProviderPhone.length > 0) {
                        Phone: @arv.getProviderPhone <br/>
                        }
                        @if(arv.getProviderEmail != null && arv.getProviderEmail.length > 0) {
                        @arv.getProviderEmail <br/>
                        }
                        @if(arv.getProviderWeb != null && arv.getProviderWeb.length > 0) {
                        <a href="@Html(arv.getProviderWeb)">Website</a> <br/>
                        }
                      </td>



                    </tr>
                    <tr style="font-size: 11px;color: #818181;font-weight: 700">
                      <td style="width: 125px ; padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">@Messages("webitinerary.arrivingat").toUpperCase</div></td>
                      <td style="width:15px"></td>
                      <td style="width: 125px ; padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">@Messages("webitinerary.departingat").toUpperCase</div></td>

                    </tr>

                    <tr style="font-size: 13px;color: #000000;line-height: 16px">
                      <td style="width:119px ; padding-bottom: 20px;vertical-align: text-top;">
                        @if(arv.getStartHour != null && arv.getStartHour.trim.length > 0) {
                          <div style="font-size: 18px;padding-bottom:12px" class="timeField">
                          @Utils.formatTime12(arv.getStartDateMilli)
                          </div>
                        }
                        @if(arv.getStartDateItin != null && arv.getStartDateItin.trim.length > 0) {
                          <div style="padding-bottom:6px">@arv.getStartDateItin  </div>
                        }
                        @if(arv.getLocStartName != null && arv.getLocStartName.trim.length > 0) {
                          <span style="font-size: 14px;font-weight: 400">@arv.getLocStartName</span>
                        }
                      </td>
                      <td style="width:15px"></td>
                      <td style="width:119px ; padding-bottom: 20px;vertical-align: text-top;">
                        @if(arv.getEndHour != null && arv.getEndHour.trim.length > 0) {
                          <div style="font-size: 18px;padding-bottom:12px" class="timeField">  @Utils.formatTime12(arv.getEndDateMilli)
                          </div>
                        }
                        @if(arv.getEndDateItin != null && arv.getEndDateItin.trim.length > 0) {
                          <div style="padding-bottom:6px">@arv.getEndDateItin </div>
                        }
                        @if(arv.getLocFinishName != null && arv.getLocFinishName.trim.length > 0) {
                          <span style="font-size: 14px;font-weight: 400">@arv.getLocFinishName</span>
                        }
                      </td>


                    </tr>
                      <tr style="font-size: 11px;color: #818181;font-weight: 700">

                        <td colspan="3" style="padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">@Messages("webitinerary.details").toUpperCase</div></td>
                      </tr>

                      <tr style="font-size: 13px;color: #000000;line-height: 16px">

                        <td colspan="3" style="padding-bottom: 20px;">
                          <table style="margin-left: 0px;width: 100%;margin-top: 0px;vertical-align: text-top;">
                          @if(arv.getNotesPlain != null && arv.getNotesPlain.trim.length > 0) {
                            <tr style="page-break-inside: avoid">
                              <td class="bookingContent">
                              @Html(Utils.escapeHtml(arv.getNotesPlain))
                              </td>
                            </tr>
                          }
                          @if(arv.getProviderComments != null && arv.getProviderComments.trim.length > 0) {
                              <tr style="page-break-inside: avoid">
                                <td class="bookingContent">
                                @Html(arv.getProviderComments)
                                </td>
                              </tr>
                            }
                            @views.html.webItinerary.bookings.details.bookingWebItineraryRate(arv)
                            @if(arv.getCancellation != null && arv.getCancellation.trim.length > 0) {
                            <tr style="font-size: 11px;color: #818181;font-weight: 700">
                              <td colspan="7">@Messages("webitinerary.cancellation").toUpperCase:
                                <span class="descFont"  style="padding-top: 10px; width:630px; font-weight: normal">
                                @Html(Utils.escapeHtml(arv.getCancellation))
                                </span>
                              </td>
                            </tr>
                            }
                          </table>

                        </td>
                      </tr>
                    @views.html.webItinerary.bookings.details.bookingFiles(arv, "3")
                  </table>
                </td>
              </tr>
            </table>
          </div>
        </td>
      </tr>
    </table>

    <!-- ipad view -->
  <table style="width: 100%;" class="bkdetailsMdCol">
    <tr style="width: 100%;">

      <td style="width:35px;vertical-align: text-top;padding-top:5px;">
        <div style="min-width:20px;margin-top: 10px;margin-left: 7px;text-align: right">
          <img src="https://s3.amazonaws.com/static-umapped-com/public/img/icons/@ViewUtils.getimgNameForBookingType(arv.getDetailsTypeId)" >
        </div>
      </td>
      <td style="vertical-align: text-top;padding-top:5px;">
        <div style="width: 100%">
          <table style="width: 100%;margin-left: 0px;margin-top: 8px;">
            <tr>
              <td style="vertical-align: text-top;">
                <table style="width: 100%;margin-left: 0px;margin-top: 0px;">
                  <tr>
                    <td colspan="5" style="padding-bottom: 20px;vertical-align: text-top;">
                    @views.html.webItinerary.bookings.details.bookingScheduleBtns(ReservationType.CRUISE_STOP, TabType.ACTIVITIES, m, arv, travelerId, talkback)

                    </td>
                  </tr>
                  <tr style="font-size: 11px;color: #818181;font-weight: 700">
                    <td style="padding-bottom: 10px;width: 200px;vertical-align: text-top;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">@Messages("webitinerary.port").toUpperCase</div></td>
                    <td style="width:15px;border-top: none;"></td>
                    <td style="width: 125px ; padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">@Messages("webitinerary.arrivingat").toUpperCase</div></td>
                    <td style="width:15px"></td>
                    <td style="width: 125px ; padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">@Messages("webitinerary.departingat").toUpperCase</div></td>

                  </tr>

                  <tr style="font-size: 13px;color: #000000;line-height: 16px">
                    <td style="width:200px ; padding-bottom: 20px;;vertical-align: text-top">
                      @if(arv.getProviderName != null && arv.getProviderName.trim.length > 0) {
                        <span style="font-weight: 700">@arv.getProviderName</span> <br/>
                      }
                      @if(arv.getContact != null && arv.getContact.length > 0) {
                        @Messages("webitinerary.contact"): @arv.getContact <br/>
                      }
                      @if(arv.getDestinationId != null && arv.getDestinationId.trim.length > 0) {
                        @Messages("webitinerary.document"): <a href = "@arv.getDestinationUrl"> @arv.getDestination</a> <br/>
                      }
                      @if(arv.getProviderAddr1 != null && arv.getProviderAddr1.length > 0) {
                      @arv.getProviderAddr1 <br>
                      }
                      @if(arv.getProviderAddr2 != null && arv.getProviderAddr2.length > 0) {
                      @arv.getProviderAddr2 <br>
                      }
                      @if(arv.getProviderPhone != null && arv.getProviderPhone.length > 0) {
                      Phone: @arv.getProviderPhone <br/>
                      }
                      @if(arv.getProviderEmail != null && arv.getProviderEmail.length > 0) {
                      @arv.getProviderEmail <br/>
                      }
                      @if(arv.getProviderWeb != null && arv.getProviderWeb.length > 0) {
                      <a href="@Html(arv.getProviderWeb)">Website</a> <br/>
                      }
                    </td>
                    <td style="width:15px"></td>
                    <td style="width:119px ; padding-bottom: 20px;vertical-align: text-top;">
                      @if(arv.getStartHour != null && arv.getStartHour.trim.length > 0) {
                        <div style="font-size: 18px;padding-bottom:12px" class="timeField">
                        @Utils.formatTime12(arv.getStartDateMilli)
                        </div>
                      }
                      @if(arv.getStartDateItin != null && arv.getStartDateItin.trim.length > 0) {
                        <div style="padding-bottom:6px">@arv.getStartDateItin  </div>
                      }
                      @if(arv.getLocStartName != null && arv.getLocStartName.trim.length > 0) {
                        <span style="font-size: 14px;font-weight: 400">@arv.getLocStartName</span>
                      }
                    </td>
                    <td style="width:15px"></td>
                    <td style="width:119px ; padding-bottom: 20px;vertical-align: text-top;">
                      @if(arv.getEndHour != null && arv.getEndHour.trim.length > 0) {
                        <div style="font-size: 18px;padding-bottom:12px" class="timeField">  @Utils.formatTime12(arv.getEndDateMilli)
                        </div>
                      }
                      @if(arv.getEndDateItin != null && arv.getEndDateItin.trim.length > 0) {
                        <div style="padding-bottom:6px">@arv.getEndDateItin </div>
                      }
                      @if(arv.getLocFinishName != null && arv.getLocFinishName.trim.length > 0) {
                        <span style="font-size: 14px;font-weight: 400">@arv.getLocFinishName</span>
                      }
                    </td>


                  </tr>
                  <tr style="font-size: 11px;color: #818181;font-weight: 700">
                    <td style="padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">@Messages("webitinerary.details").toUpperCase</div></td>
                  </tr>
                  <tr style="font-size: 13px;color: #000000;line-height: 16px">
                    <td style="padding-bottom: 20px;">
                      <table style="margin-left: 0px;width: 100%;margin-top: 0px;vertical-align: text-top;">
                      @if(arv.getNotesPlain != null && arv.getNotesPlain.trim.length > 0) {
                        <tr style="page-break-inside: avoid">
                          <td class="bookingContent">
                          @Html(Utils.escapeHtml(arv.getNotesPlain))
                          </td>
                        </tr>
                      }
                        @if(arv.getProviderComments != null && arv.getProviderComments.trim.length > 0) {
                          <tr style="page-break-inside: avoid">
                            <td class="bookingContent">
                            @Html(arv.getProviderComments)
                            </td>
                          </tr>
                        }
                        @views.html.webItinerary.bookings.details.bookingWebItineraryRate(arv)
                        @if(arv.getCancellation != null && arv.getCancellation.trim.length > 0) {
                        <tr style="font-size: 11px;color: #818181;font-weight: 700">
                          <td colspan="7">@Messages("webitinerary.cancellation").toUpperCase:
                            <span class="descFont"  style="padding-top: 10px; width:630px; font-weight: normal">
                            @Html(Utils.escapeHtml(arv.getCancellation))
                            </span>
                          </td>
                        </tr>
                        }
                      </table>

                    </td>
                  </tr>
                  @views.html.webItinerary.bookings.details.bookingFiles(arv, "1")
                </table>
              </td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
  </table>


  <!-- normal view -->
  <table style="width: 100%;" class="bkdetailsCol">
    <tr style="width: 100%;">

      <td style="width:35px;vertical-align: text-top;padding-top:5px;">
        <div style="min-width:20px;margin-top: 10px;margin-left: 7px;text-align: right">
          <img src="https://s3.amazonaws.com/static-umapped-com/public/img/icons/@ViewUtils.getimgNameForBookingType(arv.getDetailsTypeId)" >
        </div>
      </td>
      <td style="vertical-align: text-top;padding-top:5px;">
        <div style="width: 100%">
          <table style="width: 100%;margin-left: 0px;margin-top: 8px;">
            <tr>
              <td style="vertical-align: text-top;">
                <table style="width: 100%;margin-left: 0px;margin-top: 0px;">
                  <tr>
                    <td colspan="7" style="padding-bottom: 20px;vertical-align: text-top;">
                    @views.html.webItinerary.bookings.details.bookingScheduleBtns(ReservationType.CRUISE_STOP, TabType.ACTIVITIES, m, arv, travelerId, talkback)

                    </td>
                  </tr>
                  <tr style="font-size: 11px;color: #818181;font-weight: 700">
                    <td style="padding-bottom: 10px;width: 320px;vertical-align: text-top;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">@Messages("webitinerary.port").toUpperCase</div></td>
                    <td style="width:15px;border-top: none;"></td>
                    <td style="width: 125px ; padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">@Messages("webitinerary.arrivingat").toUpperCase</div></td>
                    <td style="width:15px"></td>
                    <td style="width: 125px ; padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">@Messages("webitinerary.departingat").toUpperCase</div></td>
                    <td style="width:15px"></td>
                    <td style="padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">@Messages("webitinerary.details").toUpperCase</div></td>
                  </tr>

                  <tr style="font-size: 13px;color: #000000;line-height: 16px">
                    <td style="width:200px ; padding-bottom: 20px;;vertical-align: text-top">
                      @if(arv.getProviderName != null && arv.getProviderName.trim.length > 0) {
                        <span style="font-weight: 700">@arv.getProviderName</span> <br/>
                      }
                      @if(arv.getContact != null && arv.getContact.length > 0) {
                        @Messages("webitinerary.contact"): @arv.getContact <br/>
                      }
                      @if(arv.getDestinationId != null && arv.getDestinationId.trim.length > 0) {
                        @Messages("webitinerary.document"): <a href = "@arv.getDestinationUrl"> @arv.getDestination</a> <br/>
                      }
                      @if(arv.getProviderAddr1 != null && arv.getProviderAddr1.length > 0) {
                      @arv.getProviderAddr1 <br>
                      }
                      @if(arv.getProviderAddr2 != null && arv.getProviderAddr2.length > 0) {
                      @arv.getProviderAddr2 <br>
                      }
                      @if(arv.getProviderPhone != null && arv.getProviderPhone.length > 0) {
                      Phone: @arv.getProviderPhone <br/>
                      }
                      @if(arv.getProviderEmail != null && arv.getProviderEmail.length > 0) {
                      @arv.getProviderEmail <br/>
                      }
                      @if(arv.getProviderWeb != null && arv.getProviderWeb.length > 0) {
                      <a href="@Html(arv.getProviderWeb)">Website</a> <br/>
                      }
                    </td>
                    <td style="width:15px"></td>
                    <td style="width:119px ; padding-bottom: 20px;vertical-align: text-top;">
                      @if(arv.getStartHour != null && arv.getStartHour.trim.length > 0) {
                        <div style="font-size: 18px;padding-bottom:12px" class="timeField">
                        @Utils.formatTime12(arv.getStartDateMilli)
                        </div>
                      }
                      @if(arv.getStartDateItin != null && arv.getStartDateItin.trim.length > 0) {
                        <div style="padding-bottom:6px">@arv.getStartDateItin  </div>
                      }
                      @if(arv.getLocStartName != null && arv.getLocStartName.trim.length > 0) {
                        <span style="font-size: 14px;font-weight: 400">@arv.getLocStartName</span>
                      }
                    </td>
                    <td style="width:15px"></td>
                    <td style="width:119px ; padding-bottom: 20px;vertical-align: text-top;">
                      @if(arv.getEndHour != null && arv.getEndHour.trim.length > 0) {
                        <div style="font-size: 18px;padding-bottom:12px" class="timeField">  @Utils.formatTime12(arv.getEndDateMilli)
                        </div>
                      }
                      @if(arv.getEndDateItin != null && arv.getEndDateItin.trim.length > 0) {
                        <div style="padding-bottom:6px">@arv.getEndDateItin </div>
                      }
                      @if(arv.getLocFinishName != null && arv.getLocFinishName.trim.length > 0) {
                        <span style="font-size: 14px;font-weight: 400">@arv.getLocFinishName</span>
                      }
                    </td>

                    <td style="width:15px"></td>
                    <td style="padding-bottom: 20px;vertical-align: top;">
                      <table style="margin-left: 0px;width: 100%;margin-top: 0px;vertical-align: top;">
                      @if(arv.getNotesPlain != null && arv.getNotesPlain.trim.length > 0) {
                        <tr style="page-break-inside: avoid">
                          <td class="bookingContent">
                          @Html(Utils.escapeHtml(arv.getNotesPlain))
                          </td>
                        </tr>
                      }
                        @if(arv.getProviderComments != null && arv.getProviderComments.trim.length > 0) {
                          <tr style="page-break-inside: avoid">
                            <td class="bookingContent">
                            @Html(arv.getProviderComments)
                            </td>
                          </tr>
                        }
                        @views.html.webItinerary.bookings.details.bookingWebItineraryRate(arv)
                        @if(arv.getCancellation != null && arv.getCancellation.trim.length > 0) {
                        <tr style="font-size: 11px;color: #818181;font-weight: 700">
                          <td colspan="7">@Messages("webitinerary.cancellation").toUpperCase:
                            <span class="descFont"  style="padding-top: 10px; width:630px; font-weight: normal">
                            @Html(Utils.escapeHtml(arv.getCancellation))
                            </span>
                          </td>
                        </tr>
                        }
                      </table>

                    </td>
                  </tr>

                  @views.html.webItinerary.bookings.details.bookingFiles(arv, "7")


                </table>
              </td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
  </table>

  @views.html.webItinerary.bookingPhotos(arv.getPhotos, arv)

</div>
