@(m: com.mapped.publisher.view.TripBookingView, arv: com.mapped.publisher.view.UmAccommodationReservationView, i: Integer, travelerId: String, talkback: Boolean)
@import com.mapped.publisher.utils.Utils
@import com.umapped.persistence.enums.ReservationType
@import com.mapped.publisher.view.TabType


<div class="bookingBox">

    <!-- iphone view -->
  <table style="width: 100%;" class="bkdetailsSmCol">
    <tr style="width: 100%;">

      <td style="width:25px;vertical-align: text-top;padding-top:5px;">
        <div style="min-width:20px;margin-top: 10px;margin-left: 2px;margin-right: 2px;text-align: right">
          <img src="https://s3.amazonaws.com/static-umapped-com/public/img/hotel-gray.png" >
        </div>
      </td>
      <td style=";vertical-align: text-top;padding-top:5px;">
        <div>
          <table style="margin-left: 0px;width: 100%;margin-top: 8px;">
            <tr>
              <td style="width: 100%;vertical-align: text-top;">
                <table style="margin-left: 0px;width: 100%;margin-top: 0px;">
                  <tr>
                    <td colspan="3" style="padding-bottom: 20px;vertical-align: text-top;">
                    @views.html.webItinerary.bookings.details.bookingScheduleBtns(ReservationType.HOTEL, TabType.HOTELS, m, arv, travelerId, talkback)

                    </td>
                  </tr>
                  <tr style="font-size: 11px;color: #818181;font-weight: 700">
                    <td @if((arv.getBookingNumber != null && arv.getBookingNumber.trim.length > 0) || (arv.getReservationStatus != null && arv.getReservationStatus.trim.length > 0)) {colspan="1" } else {colspan="3"} style="padding-bottom: 10px;width: 250px;vertical-align: text-top;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">@Messages("webitinerary.hotel").toUpperCase</div></td>
                    @if((arv.getBookingNumber != null && arv.getBookingNumber.trim.length > 0) || (arv.getReservationStatus != null && arv.getReservationStatus.trim.length > 0)) {
                    <td style="width:15px;border-top: none;"></td>
                    <td style="width: 100px ;padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">@Messages("webitinerary.bookingnum").toUpperCase</div></td>
                    }
                  </tr>

                  <tr style="font-size: 13px;color: #000000;line-height: 16px">
                    <td @if((arv.getBookingNumber != null && arv.getBookingNumber.trim.length > 0) || (arv.getReservationStatus != null && arv.getReservationStatus.trim.length > 0)) {colspan="1" } else {colspan="3"} style="width:250px ; padding-bottom: 20px;;vertical-align: text-top">
                      @if(arv.getProviderName != null && arv.getProviderName.trim.length > 0) {
                        <span style="font-weight: 700">@arv.getProviderName</span> <br/>
                      }
                      @if(arv.getProviderAddr1 != null && arv.getProviderAddr1.length > 0) {
                      @arv.getProviderAddr1 <br>
                      }
                      @if(arv.getProviderAddr2 != null && arv.getProviderAddr2.length > 0) {
                      @arv.getProviderAddr2 <br>
                      }
                      @if(arv.getProviderPhone != null && arv.getProviderPhone.length > 0) {
                      Phone: @arv.getProviderPhone <br/>
                      }
                      @if(arv.getProviderFax != null && arv.getProviderFax.length > 0) {
                        Fax: @Html(arv.getProviderFax) <br/>
                      }
                      @if(arv.getProviderEmail != null && arv.getProviderEmail.length > 0) {
                        @Html(arv.getProviderEmail) <br/>
                      }
                      @if(arv.getProviderWeb != null && arv.getProviderWeb.length > 0) {
                      <a href="@Html(arv.getProviderWeb)">Website</a> <br/>
                      }
                    </td>
                    <td style="width:15px"></td>
                    @if((arv.getBookingNumber != null && arv.getBookingNumber.trim.length > 0) || (arv.getReservationStatus != null && arv.getReservationStatus.trim.length > 0)) {
                      <td style="width: 100px ;
                        padding-bottom: 20px;;
                        vertical-align: text-top;">
                        @if(arv.getBookingNumber != null && arv.getBookingNumber.trim.length > 0) {
                          @arv.getBookingNumber <br/>
                        }
                        @if(arv.getReservationStatus != null && arv.getReservationStatus.trim.length > 0) {
                          @arv.getReservationStatus <br/>
                        }
                      </td>
                    }
                  </tr>
                  <tr style="font-size: 11px;color: #818181;font-weight: 700">
                    <td style="width: 125px ; padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">@Messages("webitinerary.checkinat").toUpperCase</div></td>
                    <td style="width:15px"></td>
                    <td style="width: 125px ; padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">@Messages("webitinerary.checkoutat").toUpperCase</div></td>
                  </tr>

                  <tr style="font-size: 13px;color: #000000;line-height: 16px">
                    <td style="width:119px ; padding-bottom: 20px;vertical-align: text-top;">
                      @if(arv.getStartHour != null && arv.getStartHour.trim.length > 0) {
                        <div style="font-size: 18px;padding-bottom:12px" class="timeField">
                        @if(arv.getStartTime != null && arv.getStartTime.trim.length > 0) {
                          @Utils.formatTime12(arv.getStartDateMilli)
                        }
                        </div>
                      }
                      @if(arv.getStartDateItin != null && arv.getStartDateItin.trim.length > 0) {
                        <div style="padding-bottom:6px">@arv.getStartDateItin  </div>
                      }
                    </td>
                    <td style="width:15px"></td>
                    <td style="width:119px ; padding-bottom: 20px;vertical-align: text-top;">
                      @if(arv.getEndHour != null && arv.getEndHour.trim.length > 0) {
                        <div style="font-size: 18px;padding-bottom:12px" class="timeField"> @Utils.formatTime12(arv.getEndDateMilli) </div>
                      }
                      @if(arv.getEndDateItin != null && arv.getEndDateItin.trim.length > 0) {
                        <div style="padding-bottom:6px">@arv.getEndDateItin </div>
                      }
                    </td>
                  </tr>
                    <tr style="font-size: 11px;color: #818181;font-weight: 700">
                    <td style="padding-bottom: 10px;" colspan="3"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">@Messages("webitinerary.details").toUpperCase</div></td>
                  </tr>

                  <tr style="font-size: 13px;color: #000000;line-height: 16px">
                    <td style="padding-bottom: 20px;"  colspan="3">
                      <div >
                        <table style="margin-left: 0px;margin-top: 0px;">
                          @if(arv.getPassengers != null && arv.getPassengers.size() > 0) {
                          <tr style="page-break-inside: avoid;">
                            <td style="padding-top:20px;width: 630px;vertical-align: text-top;padding-bottom: 20px;margin-top: 0px;">
                              <table style="page-break-inside: avoid;width: 630px">
                                <tr style="getAmefont-size: 11px;color: #818181;font-weight: 700">
                                  <td style="border-top: 1px solid #AFAFAF;width:140px ; padding-bottom: 10px;padding-top: 5px;text-transform:uppercase">@Messages("webitinerary.name").toUpperCase</td>
                                  <td style="width:10px"></td>
                                  <td style="border-top: 1px solid #AFAFAF;width: 100px ; padding-bottom: 10px;padding-top: 5px;text-transform:uppercase">@Messages("webitinerary.roomType").toUpperCase</td>
                                  <td style="width:10px"></td>
                                  <td style="border-top: 1px solid #AFAFAF;width: 100px ; padding-bottom: 10px;padding-top: 5px;text-transform:uppercase">@Messages("webitinerary.status").toUpperCase</td>
                                  <td style="width:10px"></td>
                                  <td style="border-top: 1px solid #AFAFAF;width: 100px ; padding-bottom: 10px;padding-top: 5px;text-transform:uppercase">@Messages("webitinerary.membershipID").toUpperCase</td>
                                </tr>
                                @for(v <- arv.getPassengers) {
                                <tr class="descFont" style="font-size : 11px ;">
                                  <td style="padding-bottom : 5px">
                                    @if(v.getName != null){
                                    @Html(v.getName)
                                    }
                                  </td>
                                  <td></td>
                                  <td style="font-size : 10px ; padding-bottom : 5px">
                                    @if(v.getRoomType != null){
                                    @Html(v.getRoomType)
                                    }
                                  </td>
                                  <td></td>
                                  <td style="font-size : 10px ; padding-bottom : 5px">
                                    @if(v.getStatus != null){
                                    @Html(v.getStatus)
                                    }
                                  </td>
                                  <td></td>
                                  <td style="font-size : 10px ; padding-bottom : 5px">
                                    @if(v.getMembershipId != null) {
                                    @Html(v.getMembershipId)
                                    }
                                  </td>
                                </tr>
                                  @if(v.getAmenities != null && !v.getAmenities.trim.isEmpty){
                                    <tr>
                                      <td colspan="9" style="font-size: 10px;padding-bottom : 5px">
                                        <strong>@Messages("webitinerary.amenities"):</strong> @Html(v.getAmenities)
                                      </td>
                                    </tr>
                                  }
                                }
                              </table>
                            </td>
                          </tr>



                          }
                          @if(arv.getNotesPlain != null && arv.getNotesPlain.trim.length > 0) {
                          <tr style="page-break-inside: avoid">
                            <td class="bookingContent">
                              @Html(Utils.escapeHtml(arv.getNotesPlain))
                            </td>
                          </tr>
                          }
                          @if(arv.getProviderComments != null && arv.getProviderComments.trim.length > 0) {
                          <tr style="page-break-inside: avoid">
                            <td class="bookingContent">
                              @Html(arv.getProviderComments)
                            </td>
                          </tr>
                          }
                          @views.html.webItinerary.bookings.details.bookingWebItineraryRate(arv)
                          @if(arv.getCancellation != null && arv.getCancellation.trim.length > 0) {
                          <tr style="font-size: 11px;color: #818181;font-weight: 700">
                            <td colspan="7">@Messages("webitinerary.cancellation").toUpperCase:
                            <span class="descFont"  style="padding-top: 10px; width:630px; font-weight: normal">
                            @Html(Utils.escapeHtml(arv.getCancellation))
                            </span>
                          </tr>
                          }
                        </table>
                      </div>
                    </td>
                  </tr>
                  @views.html.webItinerary.bookings.details.bookingFiles(arv, "3")

                </table>
              </td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
  </table>



    <!-- ipad view -->
  <table style="width: 100%;" class="bkdetailsMdCol">
    <tr style="width: 100%;">

      <td style="width:25px;vertical-align: text-top;padding-top:5px;">
        <div style="min-width:20px;margin-top: 10px;margin-left: 2px;margin-right: 2px;text-align: right">
          <img src="https://s3.amazonaws.com/static-umapped-com/public/img/hotel-gray.png" >
        </div>
      </td>
      <td style=";vertical-align: text-top;padding-top:5px;">
        <div>
          <table style="margin-left: 0px;width: 100%;margin-top: 8px;">
            <tr>
              <td style="width: 100%;vertical-align: text-top;">
                <table style="margin-left: 0px;width: 100%;margin-top: 0px;">
                  <tr>
                    <td colspan="7" style="padding-bottom: 20px;vertical-align: text-top;">
                    @views.html.webItinerary.bookings.details.bookingScheduleBtns(ReservationType.HOTEL, TabType.HOTELS, m, arv, travelerId, talkback)

                    </td>
                  </tr>
                  <tr style="font-size: 11px;color: #818181;font-weight: 700">
                    <td @if((arv.getBookingNumber != null && arv.getBookingNumber.trim.length > 0) || (arv.getReservationStatus != null && arv.getReservationStatus.trim.length > 0)) {colspan="1" } else {colspan="3"} style="padding-bottom: 10px;width: 250px;vertical-align: text-top;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">@Messages("webitinerary.hotel").toUpperCase</div></td>
                    <td style="width:15px;border-top: none;"></td>
                    @if((arv.getBookingNumber != null && arv.getBookingNumber.trim.length > 0) || (arv.getReservationStatus != null && arv.getReservationStatus.trim.length > 0)) {
                    <td style="width: 100px ;padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">@Messages("webitinerary.bookingnum").toUpperCase </div></td>
                    <td style="width:15px"></td>
                     }
                    <td style="width: 125px ; padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">@Messages("webitinerary.checkinat").toUpperCase</div></td>
                    <td style="width:15px"></td>
                    <td style="width: 125px ; padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">@Messages("webitinerary.checkoutat").toUpperCase</div></td>
                  </tr>

                  <tr style="font-size: 13px;color: #000000;line-height: 16px">
                    <td @if((arv.getBookingNumber != null && arv.getBookingNumber.trim.length > 0) || (arv.getReservationStatus != null && arv.getReservationStatus.trim.length > 0)) {colspan="1" } else {colspan="3"} style="width:250px ; padding-bottom: 20px;;vertical-align: text-top">
                      @if(arv.getProviderName != null && arv.getProviderName.trim.length > 0) {
                        <span style="font-weight: 700">@arv.getProviderName</span> <br/>
                      }
                      @if(arv.getProviderAddr1 != null && arv.getProviderAddr1.length > 0) {
                      @arv.getProviderAddr1 <br>
                      }
                      @if(arv.getProviderAddr2 != null && arv.getProviderAddr2.length > 0) {
                      @arv.getProviderAddr2 <br>
                      }
                      @if(arv.getProviderPhone != null && arv.getProviderPhone.length > 0) {
                      Phone: @arv.getProviderPhone <br/>
                      }
                      @if(arv.getProviderEmail != null && arv.getProviderEmail.length > 0) {
                        @Html(arv.getProviderEmail) <br/>
                      }
                      @if(arv.getProviderWeb != null && arv.getProviderWeb.length > 0) {
                      <a href="@Html(arv.getProviderWeb)">Website</a> <br/>
                      }
                    </td>
                    <td style="width:15px"></td>
                    @if((arv.getBookingNumber != null && arv.getBookingNumber.trim.length > 0) || (arv.getReservationStatus != null && arv.getReservationStatus.trim.length > 0)) {
                      <td style="width: 100px ;
                        padding-bottom: 20px;;
                        vertical-align: text-top;">
                        @if(arv.getBookingNumber != null && arv.getBookingNumber.trim.length > 0) {
                          @arv.getBookingNumber <br/>
                        }
                        @if(arv.getReservationStatus != null && arv.getReservationStatus.trim.length > 0) {
                          @arv.getReservationStatus <br/>
                        }
                      </td>
                      <td style="width: 15px"></td>
                    }
                    <td style="width:119px ; padding-bottom: 20px;vertical-align: text-top;">
                      @if(arv.getStartHour != null && arv.getStartHour.trim.length > 0) {
                        <div style="font-size: 18px;padding-bottom:12px" class="timeField">
                        @if(arv.getStartTime != null && arv.getStartTime.trim.length > 0) {
                          @Utils.formatTime12(arv.getStartDateMilli)
                        }
                        </div>
                      }
                      @if(arv.getStartDateItin != null && arv.getStartDateItin.trim.length > 0) {
                        <div style="padding-bottom:6px">@arv.getStartDateItin  </div>
                      }
                    </td>
                    <td style="width:15px"></td>
                    <td style="width:119px ; padding-bottom: 20px;vertical-align: text-top;">
                      @if(arv.getEndHour != null && arv.getEndHour.trim.length > 0) {
                        <div style="font-size: 18px;padding-bottom:12px" class="timeField"> @Utils.formatTime12(arv.getEndDateMilli) </div>
                      }
                      @if(arv.getEndDateItin != null && arv.getEndDateItin.trim.length > 0) {
                        <div style="padding-bottom:6px">@arv.getEndDateItin </div>
                      }
                    </td>

                  </tr>
                    <tr style="font-size: 11px;color: #818181;font-weight: 700">
                    <td style="padding-bottom: 10px;" colspan="7"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">@Messages("webitinerary.details").toUpperCase</div></td>
                    </tr>

                    <tr style="font-size: 13px;color: #000000;line-height: 16px">
                      <td style="padding-bottom: 20px;" colspan="7">
                        <div >
                          <table style="margin-left: 0px;margin-top: 0px;">
                            @if(arv.getPassengers != null && arv.getPassengers.size() > 0) {
                            <tr style="page-break-inside: avoid;">
                              <td style="padding-top:20px;width: 630px;vertical-align: text-top;padding-bottom: 20px;margin-top: 0px;">
                                <table style="page-break-inside: avoid;width: 630px">
                                  <tr style="font-size: 11px;color: #818181;font-weight: 700">
                                    <td style="border-top: 1px solid #AFAFAF;width:140px ; padding-bottom: 10px;padding-top: 5px;text-transform:uppercase">@Messages("webitinerary.name").toUpperCase</td>
                                    <td style="width:10px"></td>
                                    <td style="border-top: 1px solid #AFAFAF;width: 100px ; padding-bottom: 10px;padding-top: 5px;text-transform:uppercase">@Messages("webitinerary.roomType").toUpperCase</td>
                                    <td style="width:10px"></td>
                                    <td style="border-top: 1px solid #AFAFAF;width: 100px ; padding-bottom: 10px;padding-top: 5px;text-transform:uppercase">@Messages("webitinerary.status").toUpperCase</td>
                                    <td style="width:10px"></td>
                                    <td style="border-top: 1px solid #AFAFAF;width: 100px ; padding-bottom: 10px;padding-top: 5px;text-transform:uppercase">@Messages("webitinerary.membershipID").toUpperCase</td>
                                  </tr>
                                  @for(v <- arv.getPassengers) {
                                  <tr class="descFont" style="font-size : 11px ;">
                                    <td style="padding-bottom : 5px">
                                      @if(v.getName != null){
                                      @Html(v.getName)
                                      }
                                    </td>
                                    <td></td>
                                    <td style="font-size : 10px ; padding-bottom : 5px">
                                      @if(v.getRoomType != null){
                                      @Html(v.getRoomType)
                                      }
                                    </td>
                                    <td></td>
                                    <td style="font-size : 10px ; padding-bottom : 5px">
                                      @if(v.getStatus != null){
                                      @Html(v.getStatus)
                                      }
                                    </td>
                                    <td></td>
                                    <td style="font-size : 10px ; padding-bottom : 5px">
                                      @if(v.getMembershipId != null) {
                                      @Html(v.getMembershipId)
                                      }
                                    </td>
                                  </tr>
                                    @if(v.getAmenities != null && !v.getAmenities.trim.isEmpty){
                                      <tr>
                                        <td colspan="9" style="font-size: 10px;padding-bottom : 5px">
                                          <strong>@Messages("webitinerary.amenities"):</strong> @Html(v.getAmenities)
                                        </td>
                                      </tr>
                                    }
                                  }
                                </table>
                              </td>
                            </tr>

                            }
                            @if(arv.getNotesPlain != null && arv.getNotesPlain.trim.length > 0) {
                            <tr style="page-break-inside: avoid">
                              <td class="bookingContent">
                                @Html(Utils.escapeHtml(arv.getNotesPlain))
                              </td>
                            </tr>
                            }
                            @if(arv.getProviderComments != null && arv.getProviderComments.trim.length > 0) {
                            <tr style="page-break-inside: avoid">
                              <td class="bookingContent">
                                @Html(arv.getProviderComments)
                              </td>
                            </tr>
                            }
                            @views.html.webItinerary.bookings.details.bookingWebItineraryRate(arv)
                            @if(arv.getCancellation != null && arv.getCancellation.trim.length > 0) {
                            <tr style="font-size: 11px;color: #818181;font-weight: 700">
                              <td colspan="7">@Messages("webitinerary.cancellation").toUpperCase:
                                <span class="descFont"  style="padding-top: 10px; width:630px; font-weight: normal">
                                @Html(Utils.escapeHtml(arv.getCancellation))
                                </span>
                              </td>
                            </tr>
                            }
                          </table>
                        </div>
                      </td>
                    </tr>
                  @views.html.webItinerary.bookings.details.bookingFiles(arv, "7")
                </table>
              </td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
  </table>


<!-- normal view -->
  <table style="width: 100%;" class="bkdetailsCol">
    <tr style="width: 100%;">

      <td style="width:25px;vertical-align: text-top;padding-top:5px;">
        <div style="min-width:20px;margin-top: 10px;margin-left: 2px;margin-right: 2px;text-align: right">
          <img src="https://s3.amazonaws.com/static-umapped-com/public/img/hotel-gray.png" >
        </div>
      </td>
      <td style=";vertical-align: text-top;padding-top:5px;">
        <div>
          <table style="margin-left: 0px;width: 100%;margin-top: 0px;">
            <tr>
              <td colspan="9" @if((arv.getBookingNumber != null && arv.getBookingNumber.trim.length > 0) || (arv.getReservationStatus != null && arv.getReservationStatus.trim.length > 0)) {colspan="9"} else {colspan="7"} style="padding-bottom: 20px;vertical-align: text-top;">
              @views.html.webItinerary.bookings.details.bookingScheduleBtns(ReservationType.HOTEL, TabType.HOTELS, m, arv, travelerId, talkback)

              </td>
            </tr>
            <tr style="font-size: 11px;color: #818181;font-weight: 700">
              <td @if((arv.getBookingNumber != null && arv.getBookingNumber.trim.length > 0) || (arv.getReservationStatus != null && arv.getReservationStatus.trim.length > 0)) {colspan="1" } else {colspan="3"} style="padding-bottom: 10px;width: 320px;vertical-align: text-top;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">@Messages("webitinerary.hotel").toUpperCase</div></td>
              <td style="width:15px;border-top: none;"></td>
              @if((arv.getBookingNumber != null && arv.getBookingNumber.trim.length > 0) || (arv.getReservationStatus != null && arv.getReservationStatus.trim.length > 0)) {
                <td style="width: 100px ;padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">@Messages("webitinerary.bookingnum").toUpperCase</div></td>
                <td style="width:15px"></td>
              }
              <td style="width: 125px ; padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">@Messages("webitinerary.checkinat").toUpperCase</div></td>
              <td style="width:15px"></td>
              <td style="width: 125px ; padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">@Messages("webitinerary.checkoutat").toUpperCase</div></td>
              <td style="width:15px"></td>
              <td style="padding-bottom: 10px;"><div style="border-top: 1px solid #AFAFAF;padding-top:5px">@Messages("webitinerary.details").toUpperCase</div></td>
            </tr>

            <tr style="font-size: 13px;color: #000000;line-height: 16px">
              <td @if((arv.getBookingNumber != null && arv.getBookingNumber.trim.length > 0) || (arv.getReservationStatus != null && arv.getReservationStatus.trim.length > 0)) {colspan="1" } else {colspan="3"} style="padding-bottom: 20px;;vertical-align: text-top;min-width: 150px">
                @if(arv.getProviderName != null && arv.getProviderName.trim.length > 0) {
                  <span style="font-weight: 700">@arv.getProviderName</span> <br/>
                }
                @if(arv.getProviderAddr1 != null && arv.getProviderAddr1.length > 0) {
                @arv.getProviderAddr1 <br>
                }
                @if(arv.getProviderAddr2 != null && arv.getProviderAddr2.length > 0) {
                @arv.getProviderAddr2 <br>
                }
                @if(arv.getProviderPhone != null && arv.getProviderPhone.length > 0) {
                Phone: @arv.getProviderPhone <br/>
                }
                @if(arv.getProviderEmail != null && arv.getProviderEmail.length > 0) {
                  @Html(arv.getProviderEmail) <br/>
                }
                @if(arv.getProviderWeb != null && arv.getProviderWeb.length > 0) {
                <a href="@Html(arv.getProviderWeb)">Website</a> <br/>
                }
              </td>
              @if((arv.getBookingNumber != null && arv.getBookingNumber.trim.length > 0) || (arv.getReservationStatus != null && arv.getReservationStatus.trim.length > 0)) {
                <td style="width: 15px"></td>
                <td style=" padding-bottom: 20px;;
                  vertical-align: text-top;
                ">
                  @if(arv.getBookingNumber != null && arv.getBookingNumber.trim.length > 0) {
                    @arv.getBookingNumber <br/>
                  }
                  @if(arv.getReservationStatus != null && arv.getReservationStatus.trim.length > 0) {
                    @arv.getReservationStatus <br/>
                  }
                </td>
              }
                <td style="width:15px"></td>
              <td style=" padding-bottom: 20px;vertical-align: text-top;">
                @if(arv.getStartHour != null && arv.getStartHour.trim.length > 0) {
                  <div style="font-size: 18px;padding-bottom:12px" class="timeField">
                  @if(arv.getStartTime != null && arv.getStartTime.trim.length > 0) {
                    @Utils.formatTime12(arv.getStartDateMilli)
                  }
                  </div>
                }
                @if(arv.getStartDateItin != null && arv.getStartDateItin.trim.length > 0) {
                  <div style="padding-bottom:6px">@arv.getStartDateItin  </div>
                }
              </td>
              <td style="width:15px"></td>
              <td style="padding-bottom: 20px;vertical-align: text-top;">
                @if(arv.getEndHour != null && arv.getEndHour.trim.length > 0) {
                  <div style="font-size: 18px;padding-bottom:12px" class="timeField"> @Utils.formatTime12(arv.getEndDateMilli) </div>
                }
                @if(arv.getEndDateItin != null && arv.getEndDateItin.trim.length > 0) {
                  <div style="padding-bottom:6px">@arv.getEndDateItin </div>
                }
              </td>
              <td style="width:15px"></td>
              <td style="padding-bottom: 20px; max-width: 900px;min-width: 300px ">
                <div >
                  <table style="margin-left: 0px;margin-top: 0px;">
                    @if(arv.getPassengers != null && arv.getPassengers.size() > 0) {
                    <tr style="page-break-inside: avoid;">
                      <td style="padding-top:20px;width: 630px;vertical-align: text-top;padding-bottom: 20px;margin-top: 0px;">
                        <table style="page-break-inside: avoid;width: 630px">
                          <tr style="font-size: 11px;color: #818181;font-weight: 700">
                            <td style="border-top: 1px solid #AFAFAF;width:140px ; padding-bottom: 10px;padding-top: 5px;text-transform:uppercase">@Messages("webitinerary.name").toUpperCase</td>
                            <td style="width:10px"></td>
                            <td style="border-top: 1px solid #AFAFAF;width: 100px ; padding-bottom: 10px;padding-top: 5px;text-transform:uppercase">@Messages("webitinerary.roomType").toUpperCase</td>
                            <td style="width:10px"></td>
                            <td style="border-top: 1px solid #AFAFAF;width: 100px ; padding-bottom: 10px;padding-top: 5px;text-transform:uppercase">@Messages("webitinerary.bedding").toUpperCase</td>
                            <td style="width:10px"></td>
                            <td style="border-top: 1px solid #AFAFAF;width: 90px ; padding-bottom: 10px;padding-top: 5px;text-transform:uppercase">@Messages("webitinerary.status").toUpperCase</td>
                            <td style="width:10px"></td>
                            <td style="border-top: 1px solid #AFAFAF;width: 100px ; padding-bottom: 10px;padding-top: 5px;text-transform:uppercase">@Messages("webitinerary.membershipID").toUpperCase</td>
                          </tr>
                          @for(v <- arv.getPassengers) {
                          <tr class="descFont" style="font-size : 11px ;">
                            <td style="padding-bottom : 5px">
                              @if(v.getName != null){
                              @Html(v.getName)
                              }
                            </td>
                            <td></td>
                            <td style="font-size : 10px ; padding-bottom : 5px">
                              @if(v.getRoomType != null){
                              @Html(v.getRoomType)
                              }
                            </td>
                            <td></td>
                            <td style="font-size : 10px ; padding-bottom : 5px">
                              @if(v.getBedding != null){
                              @Html(v.getBedding)
                              }
                            </td>

                            <td></td>
                            <td style="font-size : 10px ; padding-bottom : 5px">
                              @if(v.getStatus != null){
                              @Html(v.getStatus)
                              }
                            </td>
                            <td></td>
                            <td style="font-size : 10px ; padding-bottom : 5px">
                              @if(v.getMembershipId != null) {
                              @Html(v.getMembershipId)
                              }
                            </td>
                          </tr>
                            @if(v.getAmenities != null && !v.getAmenities.trim.isEmpty){
                              <tr>
                                <td colspan="9" style="font-size: 10px;padding-bottom : 5px">
                                  <strong>@Messages("webitinerary.amenities"):</strong> @Html(v.getAmenities)
                                </td>
                              </tr>
                            }
                          }
                        </table>
                      </td>
                    </tr>

                    }
                    @if(arv.getNotesPlain != null && arv.getNotesPlain.trim.length > 0) {
                      <tr style="page-break-inside: avoid">
                        <td class="bookingContent">
                        @Html(Utils.escapeHtml(arv.getNotesPlain))
                        </td>
                      </tr>
                    }
                    @if(arv.getProviderComments != null && arv.getProviderComments.trim.length > 0) {
                      <tr style="page-break-inside: avoid">
                        <td class="bookingContent">
                        @Html(arv.getProviderComments)
                        </td>
                      </tr>
                    }

                    @views.html.webItinerary.bookings.details.bookingWebItineraryRate(arv)

                    @if(arv.getCancellation != null && arv.getCancellation.trim.length > 0) {
                    <tr style="font-size: 11px;color: #818181;font-weight: 700">
                      <td colspan="7">@Messages("webitinerary.cancellation").toUpperCase:
                        <span class="descFont"  style="padding-top: 10px; width:630px; font-weight: normal">
                        @Html(Utils.escapeHtml(arv.getCancellation))
                        </span>
                      </td>
                    </tr>
                    }
                  </table>
                </div>
              </td>
            </tr>
            @views.html.webItinerary.bookings.details.bookingFiles(arv, "7")

          </table>
        </div>
      </td>
    </tr>
  </table>

  @views.html.webItinerary.bookingPhotos(arv.getPhotos, arv)

</div>

