@(m:  com.mapped.publisher.view.CmpyInfoView)
@import  com.mapped.publisher.utils.Utils

@if(m.isUMappedAdmin) {
  <form id="apicmpyTokenForm">
  <legend style="padding-top: 20px">Company API TOKENS</legend>
  <div class="row-fluid">
      <input type="hidden" id="inCmpyId" name="inCmpyId" value="@m.cmpyId">
      @if(m.selectedApiCmpyToken != null) {
      <input type="hidden" id="inPk" name="inPk" value="@m.selectedApiCmpyToken.pk">
      }

      <div class="span2">
        <label>External Cmpy Id</label>
        <input type="text" id="inSrcCmpyId" name="inSrcCmpyId" class="required" @if(m.selectedApiCmpyToken != null){value = '@m.selectedApiCmpyToken.srcCmpyId'}>
      </div>
      <div class="span2">
      <label>Token Type</label>
      <select name="tokenType" >
        <option value="CUSTOM-RANDOM" @if(m.selectedApiCmpyToken != null && m.selectedApiCmpyToken.tokenType.equalsIgnoreCase("CUSTOM-RANDOM")){ selected}>CUSTOM-RANDOM</option>
        <option value="EXTERNAL" @if(m.selectedApiCmpyToken != null && m.selectedApiCmpyToken.tokenType.equalsIgnoreCase("CUSTOM-RANDOM")){ EXTERNAL}>EXTERNAL</option>
      </select>
      </div>
      <div class="span2">
        <label>External System</label>
        <select name="inSrcTypeId">
        @for((k,v) <- m.apiSrcTypeList){
          <option value="@k" @if(m.selectedApiCmpyToken != null && m.selectedApiCmpyToken.srcId == k){ selected}>@v</option>
        }
        </select>
      </div>
      <div class="span2">
        <label>External Token</label>
        <input type="text" id="token" name="token" class="" @if(m.selectedApiCmpyToken != null){ value='@m.selectedApiCmpyToken.token'}>
      </div>

  </div>
    <div class="row-fluid">
      <div class="span8">
        Tag ( for api auto publish: API-AUTO-PUBLISH, for no email: API-AUTO-PUBLISH-NO-EMAIL, API-AUTO-TRIP-COVER, API-SUMMARY-NOTE, API-SUMMARY-NOTE-1, API-NOTIFY-AGENT-PUBLISH-EVENT, API-NOTIFY-AGENT-REPUBLISH-EVENT,API_FULL_RESERVATION_PACKAGE, API-ATTACH-PDF-IN-EMAIL, API-CONTROL-TRAVELERS, API-UPDATE-TRIP-NAME, API-AUTO-AFAR-GUIDE, API-AUTO-WCITIES):<br/>
        <input type="text" id="tag" name="tag" class="input-block-level" @if(m.selectedApiCmpyToken != null){ value='@m.selectedApiCmpyToken.tag'}>
      </div>
      <div class="span2">
        <button class="btn btn-primary" onclick="javascript:postForm('@routes.ApiBookingController.addCmpyTokenLink()', 'apicmpyTokenForm');return false;">@if(m.selectedApiCmpyToken != null){Update}else{Add}</button>
      </div>
    </div>
  </form>

  @if(m.apicmpyTokens != null && !m.apicmpyTokens.isEmpty) {
    <table class="table table-striped">
      <thead>
        <tr>
          <th> Mapped Cmpy Id</th>
          <th> External System</th>
          <th> Token</th>
          <th></th>
        </tr>
      </thead>
    @for(p <- m.apicmpyTokens) {
      <tr>
        <td>@p.srcCmpyId</td>
        <td>@p.srcName</td>
        <td>@p.token<br/>
            Type:@p.tokenType expires @Utils.formatDatePrint(p.expiryTS)<br/>
            Tags:@p.tag
        </td>
        <td><button class="btn btn-danger" onclick="javascript:doPost('@routes.ApiBookingController.deleteCmpyTokenLink(p.pk)');return false;">Delete</button></td>
        <td><button class="btn btn-info" onclick="javascript:getPage('/cmpy/cmpy?cmpyId=@m.cmpyId&apiCmpyTokenPK=@p.pk');return false;">Update</button></td>
      </tr>
    }
    </table>
  }
} else {
  @if(m.apicmpyTokens != null && !m.apicmpyTokens.isEmpty) {
    <legend style="padding-top: 20px">Company API TOKENS</legend>
    <table class="table table-striped">
      <thead>
        <tr>
          <th> Mapped Cmpy Id</th>
          <th> External System</th>

        </tr>
      </thead>
      @for(p <- m.apicmpyTokens) {
        <tr>
          <td>@p.srcCmpyId</td>
          <td>@p.srcName</td>

        </tr>
      }
    </table>
  }
}
