@(m:  com.mapped.publisher.view.CmpiesView)

@if(m.message!=null && m.message.length > 0) {
<--alertMsg-->
<div id="alertMsg">
    <h4> @m.message</h4>
</div>
<--endAlertMsg-->

}

<--pageTitle-->
<div id="pageTitle">
    <h1 class="page-title">Manage Companies</h1>

</div>
<--endPageTitle-->

<--pageHeader-->
<div id="pageHeader">
</div>
<--endPageHeader-->

<--pageBody-->
<div id="pageBody">
    @if(m.isUMappedAdmin) {
    <div class="well">
        <fieldset> <legend>Search</legend>  </fieldset>
        <div class="row-fluid">
          <form id="cmpySearchForm">
            <div class="span8">
                 <input type="text" class="input-block-level required" id="inTerm" name="inTerm" value=@m.term>
            </div>
            <div class="span3">
                <button type="submit" class="btn btn-info pull-right" onclick="javascript:postForm('/cmpy/cmpies','cmpySearchForm');return false;">Search</button>
            </div>
          </form>
        </div>
    </div>
    }

    @if(m.cmpies != null && m.cmpies.size > 0) {
    <div class="">
    <table class="table ">
        <thead>
        <tr>
            <th style="width:0%"></th>
            <th style="width:30%">Name</th>
            <th style="width:25%">Address</th>
            <th style="width:25%">Contact</th>

            <th style="width:15%">Type</th>
            <th style="width:5%"></th>
        </tr>
        </thead>
        <tbody>

        @for(p <- m.cmpies) {
        <tr>
            <td style="width:10px"></td>
            <td>@if(p.cmpyName != null){@p.cmpyName}</td>
            <td>
                <address>
                    @if(p.address != null) {
                    @if(p.address.formatAddr1 !=null && p.address.formatAddr1.length() > 0) {
                    @p.address.formatAddr1<br>
                    }
                    @if(p.address.formatAddr2 !=null && p.address.formatAddr2.length() > 0) {
                    @p.address.formatAddr2<br>
                    }

                    }
                </address>
            </td>
            <td>
                @p.contact
                <address>
                    @if(p.address != null) {
                    @if(p.address.phone !=null && p.address.phone.length() > 0) {
                    <abbr title="Phone">Phone:</abbr> @p.address.phone <br>
                    }
                    @if(p.address.email !=null && p.address.email.length() > 0) {
                    <abbr title="Email">Email:</abbr> @p.address.email <br>
                    }
                    @if(p.address.web !=null && p.address.web.length() > 0) {
                    <a href="@p.address.web" target="_blank"><h5>Website</h5></a>
                    }
                    }
                </address>
            </td>
            <td>@if(p.cmpyType == "1"){Travel Company} @if(p.cmpyType == "2"){Destination Company} @if(p.cmpyType == "3"){Trial Company}</td>
            <td><button type="button" class="btn btn-info" onclick="javascript:getPage('/cmpy/cmpy?inCmpyId=@p.cmpyId');"> Edit </button></td>

        </tr>
        }
        </tbody>
    </table>
    </div>
    }

</div>
<--endPageBody-->
