@(m:  com.mapped.publisher.view.MergeCmpiesView)
@import org.apache.commons.lang3.StringEscapeUtils.escapeEcmaScript

@if(m.message!=null && m.message.length > 0) {
<--alertMsg-->
<div id="alertMsg">
    <h4> @m.message</h4>
</div>
<--endAlertMsg-->

}

<--pageTitle-->
<div id="pageTitle">
    <h1 class="page-title">@m.cmpyName - Merge</h1>

</div>
<--endPageTitle-->

<--pageHeader-->
<div id="pageHeader">
</div>
<--endPageHeader-->

<--pageBody-->
<div id="pageBody">
    <script>
    function confirmMerge (targetCmpyId, targetCmpyName) {
        if (targetCmpyId != null) {
            $("#inTargetCmpyId").val(targetCmpyId);
            $("#mergeModalMsg").text(targetCmpyName + "?");
            $("#mergeModal").modal('show');
        }
    }
    </script>

    @if(m.cmpyId != null && m.cmpyId.length > 0) {
    <div id="cmpyNav" class="navbar">
        <div class="navbar-inner">
            <ul class="nav">
                <li  id="cmpyNav1"><a   onclick="javascript:getPage('/cmpy/cmpy?inCmpyId=@m.cmpyId');"> Company Profile </a></li>
                <li>
                    <img src="@{m.imgUrl}/img/spacer.gif" width="20px"/>
                </li>
                <li id="cmpyNav2"><a   onclick="javascript:getPage('/user/users?inCmpyId=@m.cmpyId&inCmpyMode=true');">Users </a></li>
                <li>
                    <img src="@{m.imgUrl}/img/spacer.gif" width="20px"/>
                </li>
                <li id="cmpyNav3"><a   onclick="javascript:getPage('/cmpy/groups?inCmpyId=@m.cmpyId');">Groups </a></li>
                <li>
                    <img src="@{m.imgUrl}/img/spacer.gif" width="20px"/>
                </li>
                @if(m.isUMappedAdmin) {
                <li id="cmpyNav4" class="active"><a   onclick="javascript:getPage('/cmpy/merge?inCmpyId=@m.cmpyId');">MERGE </a></li>
                }
            </ul>
        </div>
    </div>
    }

    @if(m.isUMappedAdmin) {
    <div class="well">
        <fieldset> <legend>Search Target Company</legend>  </fieldset>
        <div class="row-fluid">
            <form id="cmpySearchForm">
                <input type="hidden"  id="inCmpyId" name="inCmpyId" value=@m.cmpyId>

                <div class="span4">
                    <input type="text" class="input-block-level required" id="inTerm" name="inTerm" value=@m.term>
                </div>
                <div class="span3 ">
                    <button type="submit" class="btn btn-info pull-left" onclick="javascript:postForm('/cmpy/merge','cmpySearchForm');return false;">Search</button>
                </div>
            </form>
        </div>
    </div>
    }

    @if(m.cmpies != null && m.cmpies.size > 0) {
    <div class="well">
        <table class="table ">
            <thead>
            <tr>
                <th style="width:0%"></th>
                <th style="width:30%">Name</th>
                <th style="width:25%">Address</th>
                <th style="width:25%">Contact</th>

                <th style="width:15%">Type</th>
                <th style="width:5%"></th>
            </tr>
            </thead>
            <tbody>

            @for(p <- m.cmpies) {
            <tr>
                <td style="width:10px"></td>
                <td>@if(p.cmpyName != null){@p.cmpyName}</td>
                <td>
                    <address>
                        @if(p.address != null) {
                        @if(p.address.formatAddr2 !=null && p.address.formatAddr2.length() > 0) {
                        @p.address.formatAddr1<br>
                        }
                        @if(p.address.formatAddr2 !=null && p.address.formatAddr2.length() > 0) {
                        @p.address.formatAddr2<br>
                        }

                        }
                    </address>
                </td>
                <td>
                    @p.contact
                    <address>
                        @if(p.address != null) {
                        @if(p.address.phone !=null && p.address.phone.length() > 0) {
                        <abbr title="Phone">Phone:</abbr> @p.address.phone <br>
                        }
                        @if(p.address.email !=null && p.address.email.length() > 0) {
                        <abbr title="Email">Email:</abbr> @p.address.email <br>
                        }
                        @if(p.address.web !=null && p.address.web.length() > 0) {
                        <a href="@p.address.web" target="_blank"><h5>Website</h5></a>
                        }
                        }
                    </address>
                </td>
                <td>@if(p.cmpyType == "1"){Travel Company} @if(p.cmpyType == "2"){Destination Company} @if(p.cmpyType == "3"){Trial Company}</td>
                <td><button type="button" class="btn btn-success" onclick="javascript:confirmMerge('@p.cmpyId','@Html(escapeEcmaScript(p.cmpyName))');"> Merge </button></td>

            </tr>
            }
            </tbody>
        </table>
    </div>
    }


    <!-- Merge confirmation modal -->
    <script>
    $('#mergeSubmit').click(function() {
    $('#mergeModal').modal('hide');
    });
    </script>
    <div id="mergeModal" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Confirm Merge</h3>

        </div>
        <div class="modal-body">

            <h3 style="text-align:center;">
                Move EVERYTHING from <br>
                <div style="color:red;"> @m.cmpyName  </div>
                to                                          <br/>
                <div style="color:green;" id="mergeModalMsg"></div>
                <br>
            </h3>

            <h2>Are you sure?</h2>


        </div>
        <div class="modal-footer">
            <form id="mergeForm">
                <input type="hidden" id="inCmpyId" name="inCmpyId" value="@m.cmpyId">
                <input type="hidden" id="inTargetCmpyId" name="inTargetCmpyId" value="">

                <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
                <button type="submit" class="btn btn-danger " id="mergeSubmit"
                        onclick="javascript:postForm('/cmpy/doMerge', 'mergeForm');return false;">Merge
                </button>
            </form>
        </div>
    </div>

</div>
<--endPageBody-->