@(m:  com.mapped.publisher.view.ConsortiaView)

@if(m.message!=null && m.message.length > 0) {
<--alertMsg-->
<div id="alertMsg">
    <h4> @m.message</h4>
</div>
<--endAlertMsg-->
}

<--pageTitle-->
<div id="pageTitle">
  <div class="row-fluid">
  </div>
</div>
<--endPageTitle-->

<--pageHeader-->
<div id="pageHeader">
</div>
<--endPageHeader-->

<--pageBody-->
<div id="pageBody">
  <script>

    $(document).ready(function() { //wait for document ready
      var timer;
      var delay = 600; // 0.6 seconds delay after last input

      $(this).scrollTop(0);

      $('#searchTerm').keypress(function(event) {
        if (event.keyCode == 13) {
          event.preventDefault();
        }
      });

      $('#searchTerm').bind('input', function() {
        window.clearTimeout(timer);
        timer = window.setTimeout(function(){
          //insert delayed input change action/event here
          var table = $('#allConsortiaTable').DataTable();
          // Search for a data point
          table.draw();
        }, delay);
      });
    }); // END READY

    $(function() {
      initConsortiaAdmin();
    });

    $('#filterConsortium').on( "change", function() {
      var table = $('#allConsortiaTable').DataTable();

      // Search for a data point
      table.draw();
      return false;
    });

  </script>

  <div class="row-fluid" style="border: 1px solid #999999;">
    <div class="subTitle" >MANAGE CONSORTIA </div>
    <div style="padding:20px;">
        <div class="row-fluid">
          <div class="span2">
            <button class="btn btn-info input-block-level" id="newConsortiumButton"> <i class="fa fa-plus"></i>&nbsp;Consortium</button>
          </div>
        </div>
        <br/><br/>
        <div class="row-fluid">
          <div class="span4">
            <label>Select Consortium</label>
            <select style="width:100%" id="consortiumSelect" class="input-medium">
              @for((k, v) <- m.consortiaMap) {
              <option value="@k">@v</option>
              }
            </select>
          </div>
          <div class="span2">
            <button style="margin-top: 25px;" class="btn btn-info input-block-level" onclick="editConsortium();return false;">Edit</button>
          </div>

        </div>

    </div>
  </div>

  <div class="row-fluid" style="margin-top:50px; border: 1px solid #999999;">
    <div class="subTitle" >CONSORTIUM COMPANIES </div>
    <div style="padding:20px;">
      <form id="ConsortiaSearchForm">
        <div class="row-fluid">
          <div class="span4">
            <Label> Keyword <em>*</em></Label>
            <input type="text" placeholder="Enter search keyword" id="searchTerm" name="inSearchTerm" class="required input-block-level" minLength="2">
          </div>
          <div class="span4">
            <label>Filter By Consortium</label>
            <select style="width:100%" name="filterConsortium" id="filterConsortium" class="input-medium">
              <option selected="Y" value="-1">All</option>
              @for((k, v) <- m.consortiaMap) {
                <option value="@k">@v</option>
              }
            </select>
          </div>
          <div class="span2"></div>

          <div class="span2">
              <button type="button"
                      class="btn btn-info input-block-level"
                      id="addCompanyButton"
                      data-controls-modal="consortiumAddCompanyModal"
                      data-backdrop="static"
                      data-keyboard="false"
                      data-toggle="modal"
                      href="#consortiumAddCompanyModal"
                      style="margin-top: 25px;"><i class="fa fa-plus"></i>&nbsp;Company</button>

          </div>
        </div>

      </form>
      <script>
    $(function(){
    initAllConsortia('@controllers.routes.CompanyController.consortiaSearchDT()');
    });
    </script>
      <table style="width:100%" class="table table-striped" id="allConsortiaTable">
        <thead>
        <tr>
          <th style="width:30%;padding-left:10px;">COMPANY</th>
          <th style="width:35%;padding-left:10px;">CONSORTIUM</th>
          <th style="width:10%;padding-left:10px;"></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
        </tfoot>
      </table>
    </div>
  </div>

  <div id="consortiumAddCompanyModal" class="modal hide fade">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Add company to the consortium</h3>
    </div>
    <div class="modal-body">

      <label>Company Name</label>
      <div class="row-fluid">
        <div class="span6">
          <input type="text" id="companyNameSearchTerm" class="input-block-level required"/>
        </div>
        <div class="span6">
          <select style="width:100%" id="modalConsortiumSelect" class="input-medium">
            @for((k, v) <- m.consortiaMap) {
              <option value="@k">@v</option>
            }
          </select>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <input type="hidden" id="companyNameSearchId">
      <button type="button" class="btn btn-info" id="addFoundCompanyButton"></i>Add</button>
    </div>
  </div>

  <div id="editConsortiumModal" class="modal hide fade">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3></h3>
    </div>
    <form id="consortiumForm">
      <div class="modal-body">
        <div class="row-fluid">

          <div class="span12">
            <input type="hidden" name="inConsortiumId" id="inConsortiumId">
            <label>Name<em>*</em></label><input type="text" class="required input-block-level" name="inConsortiumName" id="inConsortiumName">
          </div>
        </div>
        <div class="row-fluid">
          <div class="offset6 span3" >
            <button class="btn btn-danger input-block-level hide" id="deleteConsortiumButton">
              <i class="fa fa-remove"></i>&nbsp;Delete
            </button>
          </div>
          <div class="span3">
            <button type="submit" class="btn btn-success input-block-level"
                    onclick="consortiumEdit('consortiumForm');return false;"><i class="fa fa-database"></i>&nbsp;Save
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>

</div>
<--endPageBody-->
