@(m:  com.mapped.publisher.view.TripBookingView)

<style>
.approachAlt {
    background-color: #f9f9f9;
}

.approachRow {
    padding-top: 15px;
    margin-top: -3px;
}

.approachLabel {
    margin-top: -3px;
}

.approachBtn {
    margin-top: -7px;
}
</style>

<div id="approachModal" class="modal container hide fade" tabindex="-1" data-replace="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Approach Guides</h3>
    </div>

    <div class="modal-body">

        <div class="tabbable"> <!-- Only required for left/right tabs -->
            <ul class="nav nav-tabs" id="photoTabs">
                <li class="active">
                    <a href="#webSearch" data-toggle="tab">
                        <i class="fa fa-search"></i>&nbsp;Approach Guides</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="webSearch" class="tab-pane active">
                    <form id="webSearchForm">
                        <input type="hidden" id="approachCmpyId" name="inCmpyId" value="@m.tripCmpyId" >
                        <input type="hidden" id="approachTripId"  name="inDocId" value=@m.tripId>
                        <input type="hidden" id="approachDate"  name="inDate">
                        <div class="row-fluid" style="padding-bottom: 15px;">
                            <div class="span12">
                                Add an Approach Guides guidebook from the list of complimentary destinations below.<br/>
                                <span style="font-style:italic;">View the complete list of available guidebooks <a href="http://www.approachguides.com/destinations/" target="_blank">here</a> and email <a href="mailto:support@@umapped.com" target="_blank">support@@umapped.com</a> with your destination requests.</span>
                            </div>
                        </div>
                        <div class="row-fluid approachAlt approachRow">
                            <div class="span10">
                                <label class="approachLabel">Italy Destination Insights</label>
                            </div>
                            <div class="span2 pull-right">
                                <button class="btn btn-primary approachBtn" onclick="javascript:importApproach('@m.tripId', 1);return false;">Add</button>
                            </div>
                        </div>
                        <div class="row-fluid approachRow">
                            <div class="span10">
                                <label class="approachLabel">New York City Destination Insights</label>
                            </div>
                            <div class="span2 pull-right">
                                <button class="btn btn-primary approachBtn" onclick="javascript:importApproach('@m.tripId', 2);return false;">Add</button>
                            </div>
                        </div>
                        <div class="row-fluid approachAlt approachRow">
                            <div class="span10">
                                <label class="approachLabel">South Africa Destination Insights</label>
                            </div>
                            <div class="span2 pull-right">
                                <button class="btn btn-primary approachBtn" onclick="javascript:importApproach('@m.tripId', 3);return false;">Add</button>
                            </div>
                        </div>
                        <div class="row-fluid approachRow">
                            <div class="span10">
                                <label class="approachLabel">Las Vegas Destination Insights</label>
                            </div>
                            <div class="span2 pull-right">
                                <button class="btn btn-primary approachBtn" onclick="javascript:importApproach('@m.tripId', 4);return false;">Add</button>
                            </div>
                        </div>
                        <div class="row-fluid approachAlt approachRow">
                            <div class="span10">
                                <label class="approachLabel">Iceland Destination Insights</label>
                            </div>
                            <div class="span2 pull-right">
                                <button class="btn btn-primary approachBtn" onclick="javascript:importApproach('@m.tripId', 5);return false;">Add</button>
                            </div>
                        </div>
                        <div class="row-fluid approachRow">
                            <div class="span10">
                                <label class="approachLabel">Andalucia Destination Insights</label>
                            </div>
                            <div class="span2 pull-right">
                                <button class="btn btn-primary approachBtn" onclick="javascript:importApproach('@m.tripId', 6);return false;">Add</button>
                            </div>
                        </div>
                        <div class="row-fluid approachAlt approachRow">
                            <div class="span10">
                                <label class="approachLabel">London Destination Insights</label>
                            </div>
                            <div class="span2 pull-right">
                                <button class="btn btn-primary approachBtn" onclick="javascript:importApproach('@m.tripId', 7);return false;">Add</button>
                            </div>
                        </div>
                        <div class="row-fluid approachRow">
                            <div class="span10">
                                <label class="approachLabel">Mexico Destination Insights</label>
                            </div>
                            <div class="span2 pull-right">
                                <button class="btn btn-primary approachBtn" onclick="javascript:importApproach('@m.tripId', 8);return false;">Add</button>
                            </div>
                        </div>
                        <div class="row-fluid approachAlt approachRow">
                            <div class="span10">
                                <label class="approachLabel">Portugal Destination Insights</label>
                            </div>
                            <div class="span2 pull-right">
                                <button class="btn btn-primary approachBtn" onclick="javascript:importApproach('@m.tripId', 9);return false;">Add</button>
                            </div>
                        </div>
                        <div class="row-fluid approachRow">
                            <div class="span10">
                                <label class="approachLabel">Morocco Destination Insights</label>
                            </div>
                            <div class="span2 pull-right">
                                <button class="btn btn-primary approachBtn" onclick="javascript:importApproach('@m.tripId', 10);return false;">Add</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="webSearchSpinner" class="spinner"
             style="display:none; background: rgba(255,255,255,.7) url('@{m.imgUrl}/img/ajax-loader-white-1.gif') center center no-repeat;width:100%;height:100%;position: absolute; top: 0px; left: 0px;z-index:100;min-height:200px">
        </div>

    </div> <!-- modal-body -->
    <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>

<script>
    function importApproach(tripId, type) {
        $('#approachModal' ).modal('hide');
        var tripDate = $('#approachDate').val();
        doPost('/trips/bookings/import/approach?tripId=' + tripId + '&tripDate=' + tripDate + '&type=' + type);
    }
</script>