@(m:  com.mapped.publisher.view.DestinationSearchView)
@import com.mapped.publisher.common.SecurityMgr.AccessLevel
@import com.mapped.publisher.common.ConfigMgr
@import com.mapped.publisher.view.DestinationSearchView.Tab
@import com.mapped.publisher.common.Capability;

<script>
  $(function(){
    @if(m.tripDestinationView !=null && m.tripDestinationView.id != null && m.tripDestinationView.id.length() > 0) {
      initT42('@m.tripDestinationView.id');
    }
  });

  @if(m.tripDestinationView !=null && m.tripDestinationView.cover != null) {
        //Image cropper handlers
        function submitCropImg() {
          var url = '@routes.TripController.guides(m.tripId, new Tab.Bound(Tab.CUSTOM_DOC))';
          cropImg(url, '@m.tripDestinationView.cover.id', '@ImageController.CropUse.DOC_COVER', '@m.tripDestinationView.id');
        }

        function restoreImgCropper() {
          var url = '@routes.TripController.guides(m.tripId, new Tab.Bound(Tab.CUSTOM_DOC))';
          restoreOrigImg(url, '@m.tripDestinationView.cover.id', '@ImageController.CropUse.DOC_COVER', '@m.tripDestinationView.id');
        }
    }
</script>

<div  class="tab-pane @if(m.selectedTab == Tab.CUSTOM_DOC){active} else {fade}" id="tripDocTab">
  <div id="form">
    <form id="destinationForm" class="currentWizardForm">
      <div>
        <fieldset>
          <legend>
            <div class="row-fluid" style="padding-bottom: 10px;">
              <div class="span3">Trip Document</div>
            </div>

          </legend>
          <br/>
          <div class="row-fluid">
            <div class="span9">
              <div class="row-fluid">
                <div class="span6">
                  <label> Title <em>*</em></label>
                  <input type="hidden" id="inTripId" name="inTripId" value="@m.tripId">
                  <input type="hidden" id="inCmpyId" name="inCmpyId" value="@m.cmpyId">

                  @if(m!= null && m.tripDestinationView !=null && m.tripDestinationView.id!=null) {
                    <input type="hidden" id="inDestId" name="inDestId" minlength="5"
                    value="@m.tripDestinationView.id">
                  }

                  @if(m!= null && m.tripDestinationView !=null && m.tripDestinationView.locLat!=null) {
                    <input type="hidden" id="inDestLocLat" name="inDestLocLat" minlength="5"
                    value="@m.tripDestinationView.locLat">
                  }

                  @if(m!= null && m.tripDestinationView !=null && m.tripDestinationView.locLong!=null) {
                    <input type="hidden" id="inDestLocLong" name="inDestLocLong" minlength="5"
                    value="@m.tripDestinationView.locLong">
                  }

                  <input type="text" id="inDestName" name="inDestName" placeholder="Name"
                  class="required input-block-level" minlength="2"
                    @if(m!= null && m.tripDestinationView !=null && m.tripDestinationView.name!=null) {
                      value="@m.tripDestinationView.name"
                      }
                  >
                </div>
                <div class="span6 pull-left">
                  <label> &nbsp;</label>
                  <input type="checkbox" name="inMergeBookings" id="inMergeBookings" value="true" @if(m.tripDestinationView != null && m.tripDestinationView.mergeBookings) {checked }> Include Bookings when generating the PDF
                </div>
              </div>
              <div class="row-fluid">
                <div class="span6">
                  <label>Tag</label>
                  <input type="text" name="inDestTag" id="inDestTag" placeholder="Tags" class="input-block-level" @if(m !=null && m.tripDestinationView !=null && m.tripDestinationView.tag!=null) {value="@m.tripDestinationView.tag"}>
                </div>
              </div>
              <br/>
              <div class="row-fluid">
                <div class="span9">
                  <label>Note</label>
                  <textarea id="inDestIntro" name="inDestIntro" class="field span9" maxlength="200" rows="2">@if(m!= null && m.tripDestinationView !=null && m.tripDestinationView.intro!=null) {@Html(m.tripDestinationView.intro)}</textarea>
                </div>
              </div>

            </div>


            @if(m.tripDestinationView !=null && m.tripDestinationView.id != null && m.tripDestinationView.id.length() > 0 ) {
              <div class="span3" style="text-align:center">
                <label style="text-align:left">Cover Photo</label>
                @if(m.tripDestinationView !=null && m.tripDestinationView.coverUrl != null) {
                    <a href="@m.tripDestinationView.coverUrl" data-lightbox="image-1" data-title= "" target="_blank">
                        <img class=" pull-left" src="@m.tripDestinationView.coverUrl" width="100%" style="padding-bottom: 20px;"></img>
                    </a>
                } else {
                    <a  href="#uploadPhotoModal"  data-controls-modal="uploadPhotoModal" data-backdrop="static" data-keyboard="false" data-toggle="modal">  <img class="img-rounded" width="290" height="290" style="padding-bottom: 20px;" src="@m.imgUrl/img/photo-placeholder-gray.png" alt="Add Cover Photo"/> </a>
                }
                @if(m.tripDestinationView !=null && m.tripDestinationView.id != null && m.tripDestinationView.id.length() > 0) {
                  <br/>
                @if(m.tripDestinationView !=null && m.tripDestinationView.cover != null){
                <button type="button" href="#deletePhotoModal" id="deleteBtn" class="btn btn-danger btn-small"  data-toggle="modal"><i class="fa fa-trash-o"></i>&nbsp;Delete</button>
                <button type="button"  id="cropBtn" class="btn btn-info btn-small"  onclick='imageCropper("@m.tripDestinationView.coverUrl");return false;'><i class="fa fa-crop"></i>&nbsp;Crop</button>
                }
                <button  data-controls-modal="uploadPhotoModal" data-backdrop="static" data-keyboard="false" type="button" href="#uploadPhotoModal" id="uploadBtn" class="btn btn-primary btn-small" data-toggle="modal"><i class="fa fa-picture-o"></i> Upload </button>
                }


              </div>
            }
          </div>
          <br>

          <div class="row-fluid" style="margin-top: 40px">
            <div style="float : left" class="span6"></div>

            @if(m.accessLevel.ge(AccessLevel.OWNER)) {
                <div class="offset3 span6 pull-right">
                    <div style="float: right">
                @if(m.tripDestinationView !=null && m.tripDestinationView.id != null &&
                    m.tripDestinationView.id.length() > 0) {
                    <!--button data-controls-modal="uploadPhotoModal" data-backdrop="static" data-keyboard="false" type="button" href="#uploadPhotoModal" id="uploadBtn" class="btn btn-primary btn-large"
                    data-toggle="modal"><i class="fa fa-picture"></i> Add Cover Photo</button-->
                      <div class="btn-group" id="manageDocBtn">
                        <button class="btn btn-primary btn-large" data-toggle="dropdown">Manage Document</button>
                        <button class="btn btn-primary btn-large dropdown-toggle" data-toggle="dropdown">
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                          @if(m.tripInfo.userId.equals(m.loggedInUserId) || m.isAdminOfACompany) {
                          <li style="padding-top: 5px;padding-bottom: 5px">
                            <a href="#copyModal" data-toggle="modal">
                              Duplicate This Document
                            </a>
                          </li>
                          }
                          <li style=" padding-top: 5px;padding-bottom: 5px">
                            <a href="/guide/loadPdf?inDestId=@m.tripDestinationView.id&inTripId=@m.tripId" target="_blank">
                              Download as PDF
                            </a>
                          </li>
                        </ul>
                        </li>
                        </ul>
                      </div>
                      &nbsp;&nbsp;
                    <a href="#deleteModal" role="button" class="btn btn-danger btn-large" data-toggle="modal">Delete</a>
                      &nbsp;&nbsp;
                    <button type="submit" class="btn btn-success btn-large"
                    onClick="javascript:postForm ( '/trips/newTrip/tripDestination','destinationForm' ) ; return false ;">
                      Save
                    </button>
                } else {
                  <button type="submit" class="btn btn-success btn-large"
                  onClick="javascript:postForm('/trips/newTrip/tripDestination','destinationForm');return false;">
                    Create
                  </button>
                }
                    </div>
                </div>
            }
          </div>
          @if(m.accessLevel.ge(AccessLevel.APPEND) && m.tripDestinationView !=null && m.tripDestinationView.id != null && m.tripDestinationView.id.length() > 0) {
            <br/><hr/>

            <div class="row-fluid">

              <div class="span4 ">
                <div class="btn-group" id="addPagesBtn">
                  <button class="btn btn-primary btn-large" style="width: 230px" data-toggle="dropdown"><i class="fa fa-plus"></i> Add Pages </button>
                  <button class="btn btn-primary  btn-large dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li style=" padding-top: 10px;padding-bottom: 10px;padding-left: 5px;border-bottom: 1px solid #999999">
                      <a href="#" onclick="javascript:getPage('/guide/newDestinationGuide?inDestId=@m.tripDestinationView.id');" id="newPageBtn" data-toggle="modal">
                        <i class="fa fa-plus" style="margin-left:2px;padding-right:18px;font-size: 16px"></i> <span style="font-size: 16px;font-weight: 400;"> Add a New Page </span>
                      </a>
                    </li>
                    <li style=" padding-top: 10px;padding-bottom: 10px;padding-left: 5px;border-bottom: 1px solid #999999">
                      <a href="#searchPageModal" id="searchPageBtn" data-toggle="modal">
                        <i class="fa fa-plus" style="margin-left:2px;padding-right:18px;font-size: 16px"></i> <span style="font-size: 16px;font-weight: 400;"> Add Existing Page </span>
                      </a>
                    </li>
                    @if(m.hasCapability(Capability.TRAVEL42_GUIDES)){
                    <li style=" padding-top: 10px;padding-bottom: 10px;padding-left: 5px;border-bottom: 1px solid #999999">
                      <a href="#mobilizerModal" id="mobilizerBtn" data-toggle="modal">
                        <i class="fa fa-newspaper-o" style="padding-right:15px;font-size: 16px"></i> <span style="font-size: 16px;font-weight: 400;"> Add External Content&nbsp;&nbsp;<span class="badge badge-warning">Beta</span> </span>
                      </a>
                    </li>

                    <li style=" padding-top: 5px;padding-bottom: 5px;">
                      <a href="#t42SearchModal" id="t42Btn" data-toggle="modal">
                        <i class="fa fa-plus" style="margin-left:8px;padding-right:18px;font-size: 16px"></i><span style="font-size: 16px;font-weight: 400;"><img src='@m.imgUrl/img/travel42_logo.png' style="width: 75px;vertical-align: text-top" >&nbsp;Content </span>
                      </a>
                    </li>
                    } else {
                    <li style=" padding-top: 10px;padding-bottom: 10px;padding-left: 5px;">
                      <a href="#mobilizerModal" id="mobilizerBtn" data-toggle="modal">
                        <i class="fa fa-newspaper-o" style="padding-right:15px;font-size: 16px"></i> <span style="font-size: 16px;font-weight: 400;"> Add External Content&nbsp;&nbsp;<span class="badge badge-warning">Beta</span> </span>
                      </a>
                    </li>
                    }

                  </ul>
                </div>
              </div>
            </div>
          }
        </fieldset>
      </div>
    </form>
  </div>


  <div class="tabbable" style="min-height:200px"> <!-- Only required for left/right tabs -->
    @if(m.tripDestinationView != null && m.tripDestinationView.guides != null && m.tripDestinationView.guides.size() >0) {
        <!-- display the list of places -->

        <ul class="nav nav-tabs" id="bookingTabs1">
          <li class="active"><a href="#mainTab" data-toggle="tab"> <i class="fa fa-heart pull-left"></i> Pages</a></li>
          @if(m.displayMap) {
            <li><a id="mapTabHref" href="#mapTab" data-toggle="tab"> <i class="fa fa-map-marker pull-left"></i> Map</a>
            </li>
          }
        </ul>

        <div class="tab-content"  style="overflow: visible;">
          <div class="tab-pane active" id="mainTab" style="overflow: visible;">

          @if(m.tripDestinationView !=null && m.tripDestinationView.guides != null){
            <p class="muted"> Simply drag and drop the pages to change the order they will appear in the itinerary. </p>

            <div class="row-fluid" style="padding-left:10px;padding-right:0px;">
              <ul id="sortDiv" style="list-style-type: none; margin:auto; padding: 0;">

              @for(v <- m.tripDestinationView.guides) {
                  @if(v.groupedViews == null || v.groupedViews.size() == 0) {
                      @views.html.trip.documents.customPage(m, v)
                  } else {
                      @for(v1 <-v.groupedViews){
                          @views.html.trip.documents.customPage(m, v1)

                      }
                  }
              }
              </ul>

            </div>
          }
          </div>
          @if(m.displayMap) {
            <div class="tab-pane active" id="mapTab">
              <div class="row-fluid">
                <div class="span12">

                  <div id="map1" class="border span12"></div>
                </div>


              </div>
              <br/> <br/>
            </div>
          }
        </div>
        @* Adding search code *@
    }
  </div> <!-- end page tab -->
  @views.html.guide.afar.modals()
  @views.html.guide.t42.modals()
</div>
