@(m:  com.mapped.publisher.view.DestinationSearchView ,v:  com.mapped.publisher.view.DestinationGuideView)
@import com.mapped.publisher.common.SecurityMgr.AccessLevel


<li class=""
 style="width:15%;float: left;padding-bottom:10px;margin: 5px;background-color:#fff;border:1px solid #cfcfcf" id="@v.id">
    <a onclick="getPage('@routes.DestinationController.newDestinationGuide(v.destinationId, v.id)');return false;">
      <table class="tableNoBorder" style="width:100%;min-height: 250px">
        <body>
            <tr>
                <td style="text-align:center;font-size: 11px;color: #666666;padding-left: 4px;padding-right: 4px;padding-top: 4px">

                        @v.name
                        @if(v.timestampPrint != null && v.timestampPrint.trim().length > 0) {
                            <br>
                                @v.timestampPrint
                        }else {
                            <br><br> <!-- to keep the size the same -->
                        }

                </td>
            </tr>

            @if(v.coverUrl!=null) {
                <tr>
                    <td style="padding-bottom:4px; ">
                        <div style="background-image:url(@v.coverUrl);background-size: cover;background-position: center;height:100px;margin:auto; ">
                                &nbsp;
                        </div>
                            <!-- <img class="img-rounded span12" src="@v.coverUrl"> -->
                    </td>
                </tr>
            } else {
                <tr>
                    <td style="padding-bottom:4px; ">
                      <div style="background-image:url(@m.imgUrl/img/photo-placeholder-gray.png);background-position: center;background-size:cover;width:100%;height:100px;margin:auto; ">
                                &nbsp;
                        </div>

                    </td>
                </tr>
            }
            <tr>
                <td style="text-align:right;font-size: 10px;color: #666666;padding-left: 4px;padding-right: 4px;">
               by: @v.createdById
                </td>
            </tr>


            <tr style="text-align:center;">
              <td>
                @if(m.accessLevel.ge(AccessLevel.OWNER) || (m.accessLevel.ge(AccessLevel.APPEND) && v.createdById.equals(m.loggedInUserId))) {
                    <a class="btn btn-info btn-small"
                    onclick="return false;">
                    Edit Page</a>
                }
              </td>
            </tr>

        </body>
      </table>
    </a>
</li>
