@(m:  com.mapped.publisher.view.TripBookingView)



<div id="mobilizerModal" class="modal container hide fade" tabindex="-1" data-replace="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Import External Content to your Itinerary</h3>
    </div>

    <div class="modal-body">

        <div class="tabbable"> <!-- Only required for left/right tabs -->
            <ul class="nav nav-tabs" id="photoTabs">
                <li class="active">
                    <a href="#webSearch" data-toggle="tab">
                        <i class="fa fa-search"></i>&nbsp;Search External Content</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="webSearch" class="tab-pane active">
                    <form id="webSearchForm">
                        <input type="hidden" id="webSearchCmpyId" name="inCmpyId" value="@m.tripCmpyId" >
                        <input type="hidden" id="webSearchTripId"  name="inDocId" value=@m.tripId>
                        <input type="hidden" id="webSearchDate"  name="inDate">

                        <div class="row-fluid">
                            <div class="span9">
                                <label>Keywords</label>
                                <input type="text" id='webSearchKeywords' name='inKeyword' placeholder="keywords" class="input-block-level required" />
                            </div>
                            <div class="span2">
                                <label>&nbsp;</label>
                                <button id="mobilizerSearchSubmit" type="button" class="btn btn-success input-block-level">Search</button>
                            </div>
                            <div class="span11" id="mobilizedDomains" style="display: none">
                                @for((key, value) <- m.mobilizedDomains) {
                                <label class="checkbox inline">
                                    <input type="checkbox" id="@value" value="@value" checked> @key
                                </label>
                                }

                            </div>
                        </div>
                    </form>
                    <div id="mobilizerSearchResults">
                    </div>
                </div>
            </div>
        </div>



        <div id="webSearchSpinner" class="spinner"
             style="display:none; background: rgba(255,255,255,.7) url('@{m.imgUrl}/img/ajax-loader-white-1.gif') center center no-repeat;width:100%;height:100%;position: absolute; top: 0px; left: 0px;z-index:100;min-height:200px">
        </div>

    </div> <!-- modal-body -->
    <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>


<div id="mobilizerResultModal" class="modal container hide fade" tabindex="-1" data-replace="true" data-backdrop="static" data-keyboard="false" data-modalOverflow="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="$('#mobilizerModal').modal('show');">&times;</button>
        <h3>Preview the way page will appear</h3>
    </div>

    <div class="modal-body documentFont">
        <div class="accordion" id="pagesAccordion" style="overflow: scroll;height:600px;">
        </div>



        <div id="mobilizerSpinner" class="spinner"
             style="display:none; background: rgba(255,255,255,.7) url('@{m.imgUrl}/img/ajax-loader-white-1.gif') center center no-repeat;width:100%;height:100%;position: absolute; top: 0px; left: 0px;z-index:100;min-height:200px">
        </div>
    </div> <!-- modal-body -->
    <div class="modal-footer">
        <form id="mobilizerForm">
            <input type="hidden" id="mobilizedCmpyId">
            <input type="hidden" id="mobilizedTripId">
            <input type="hidden" id="mobilizedUrl">
            <input type="hidden" id="mobilizedDate">

            <button id="mobilizerAddSubmit" type="button" class="btn btn-success ">Add to Trip</button>
            <button type="button" class="btn btn-info" data-dismiss="modal" aria-hidden="true" onclick="$('#mobilizerModal').modal('show');">Back</button>

        </form>

    </div>
</div>