@(m:  com.mapped.publisher.view.BillingView)
@if(m.message!=null) {
<--alertMsg-->
<div id="alertMsg">
    <h4> @Html(m.message)</h4>
</div>
<--endAlertMsg-->
}

<--pageTitle-->
<div id="pageTitle">
    <h1 class="page-title">Billing</h1>


</div>
<--endPageTitle-->

<--pageHeader-->
<div id="pageHeader">

</div>
<--endPageHeader-->

<--pageBody-->
<div id="pageBody">
    <script>
        $( "#startDate" ).datepicker({
        defaultDate: "+1w",
        changeMonth: true,
        numberOfMonths: 2,
        onClose: function( selectedDate ) {
        $( "#endDate" ).datepicker( "option", "minDate", selectedDate );
        }
        });
        $( "#endDate" ).datepicker({
        defaultDate: "+1w",
        changeMonth: true,
        numberOfMonths: 2,
        onClose: function( selectedDate ) {
        $( "#startDate" ).datepicker( "option", "maxDate", selectedDate );
        }
        });


        //initialize sortable data tables
        $(document).ready(function() {
            $('#summaryTable').dataTable();
            $('#summaryTable1').dataTable();
            $('#summaryTable2').dataTable();

            $('#detailTable').dataTable();
            $('#detailTable1').dataTable();
        $('#detailTable2').dataTable();
        $('#detailTable3').dataTable();

        } );

    </script>

    <div class="well">

        <form id="billingForm" action="/dashboard/doBillingCSV" method="POST">
            <div class="row-fluid">
                <div class="span4">
                    <label> Company</label>
                    @if(m != null && m.cmpies != null) {
                    <select name="inCmpyId">
                        @for((key, value) <- m.cmpies) {
                            @if(key == m.cmpyId) {
                                <option selected="Y" value=@key>@value</option>
                            } else {
                                <option value=@key>@value</option>
                            }
                        }
                    </select>
                    }
                </div>

                <div class="span2">
                    <label> Start Date <em>*</em></label>
                    <div class="input-append date" id="startDate1" >
                        <span class="add-on"><i class="icon-calendar"></i></span>
                        <input type="text"  id="startDate" name="inStartDate" readonly class="input-small required"
                        @if(m!= null && m.startDate!=null) {
                            value=@m.startDate
                        }>
                    </div>
                </div>
                <div class="span2">

                    <label> End Date <em>*</em></label></label>
                    <div class="input-append date" id="endDate1" >
                        <span class="add-on"><i class="icon-calendar"></i></span>
                        <input type="text" id="endDate" name="inEndDate" readonly class="input-small required"
                        @if(m!= null && m.endDate!=null) {
                        value=@m.endDate
                        }>
                    </div>
                </div>
            </div>
            <br/>


            <div class="row-fluid">
                <div class="span2">

                    <button type="submit" class="btn btn-success btn-large"
                            onclick="javascript:postForm('/dashboard/doBilling', 'billingForm');return false;"> Get Billing
                    </button>
                </div>

                <div class="span3">

                    <button type="submit" class="btn btn-success btn-large"> Download Billing Report
                    </button>
                </div>

            </div>

        </form>
    </div>

    @if(m.cmpyName != null) {
    <div class="well">
        <h3> Billing Report for @m.cmpyName Period: @m.startDatePrint to @m.endDatePrint</h3>
        Summary: <br/>
            @m.numOfTrips New Trips Published to @m.numOfTravellers Travellers and @m.numOfAgents Travel Agents   <br/>
            @m.numOfTravellersExistingTrips Travellers and @m.numOfAgentsExistingTrips Travel Agents added to Existing Trips  <br/>
            Number of Transactions for the period: @m.numOfTransactions

        <br/> <br/>

        <div class="tabbable well">

            <ul class="nav nav-tabs" id="myTab">
                <li class="active" ><a href="#summaryView" data-toggle="tab"><i class="icon-calendar pull-left"></i> &nbsp;Summary View</a></li>
                <li ><a href="#detailView" data-toggle="tab"><i class="icon-calendar pull-left"></i> &nbsp;Detail View</a></li>


            </ul>

            <div class="tab-content">

                <div class="tab-pane active" id="summaryView">
                    @if(m.trips != null) {
                    <table class="table table-striped" id="summaryTable">
                        <h2> NEWLY PUBLISHED TRIPS </h2>
                        <thead>
                            <tr>
                                <th style="width:30%">Trip Name</th>
                                <th style="width:10%">Published Date </th>
                                <th style="width:10%"># Travellers </th>
                                <th style="width:10%"># Travel Agents </th>
                                <th style="width:10%"># Transactions </th>

                                <th style="width:30%">Published By </th>


                            </tr>
                        </thead>
                        <tbody>
                        @for((key, p) <- m.trips) {
                            <tr>
                                <td>@p.tripName @if(p.groupName != null && p.groupName.length > 0){&nbsp;(Group: @p.groupName)}</td>
                                <td>@p.publishedDate</td>

                                @if(p.travellers != null && p.travellers.size() > 0){
                                <td>@p.travellers.size()</td>
                                } else {
                                <td>0</td>
                                }

                                @if(p.agents != null && p.agents.size() > 0){
                                <td>@p.agents.size()</td>
                                } else {
                                <td>0</td>
                                }

                                <td>@p.numOfTransactions</td>

                                <td>@p.firstName&nbsp;@p.lastName&nbsp;(@p.createdBy)</td>

                            </tr>

                        }
                        </tbody>
                    </table>
                    }

                    @if(m.addedTravellers != null && m.addedTravellers.size() > 0 ) {
                    <br/> <br/>  <br/>

                    <table class="table table-striped" id="summaryTable1">
                        <h2> Newly Added Travellers to Existing Trips </h2>
                        <thead>
                        <tr>
                            <th style="width:30%">Trip Name</th>
                            <th style="width:10%">Added Date </th>
                            <th style="width:10%"># Travellers </th>
                            <th style="width:10%"># Transactions </th>

                            <th style="width:30%">Added By </th>


                        </tr>
                        </thead>
                        <tbody>
                        @if( m.addedTravellers != null) {
                            @for((key, passengerList) <- m.addedTravellers) {
                                @if(passengerList != null && passengerList.size > 0) {
                        <tr>
                            <td>@passengerList.get(0).tripName @if(passengerList.get(0).groupName != null && passengerList.get(0).groupName.length > 0){&nbsp;(Group: @passengerList.get(0).groupName)}</td>
                            <td>@passengerList.get(0).publishedDate</td>

                            @if(passengerList.size() > 0){
                            <td>@passengerList.size()</td>
                            } else {
                            <td>0</td>
                            }
                            <td>@m.addedTravellersTransactions.get(key)</td>
                            <td>@passengerList.get(0).userId</td>

                        </tr>
                                }
                            }
                        }

                        </tbody>
                    </table>
                    }


                    @if(m.addedAgents != null && m.addedAgents.size() > 0 ) {
                    <br/> <br/>  <br/>

                    <table class="table table-striped" id="summaryTable2">
                        <h2> Newly Added Travel Agents to Existing Trips </h2>
                        <thead>
                        <tr>
                            <th style="width:30%">Trip Name</th>
                            <th style="width:10%">Added Date </th>
                            <th style="width:10%"># Agents </th>
                            <th style="width:40%">Added By </th>


                        </tr>
                        </thead>
                        <tbody>
                        @if( m.addedAgents != null) {
                        @for((key, passengerList) <- m.addedAgents) {
                        @for( v <-  passengerList) {
                        <tr>
                            <td>@v.tripName @if(v.groupName != null && v.groupName.length > 0){&nbsp;(Group: @v.groupName)}</td>
                            <td>@v.publishedDate</td>

                            @if(passengerList.size() > 0){
                            <td>@passengerList.size()</td>
                            } else {
                            <td>0</td>
                            }

                            <td>@v.userId</td>

                        </tr>
                        }
                        }
                        }

                        </tbody>
                    </table>
                    }
                </div>



                <div class="tab-pane" id="detailView">
                    @if(m.trips != null) {
                    <table class="table table-striped" id="detailTable">
                        <h2> NEW TRIP - TRAVELLER DETAILS </h2>
                        <thead>
                        <tr>
                            <th style="width:30%">Trip Name</th>
                            <th style="width:10%">Published Date </th>
                            <th style="width:10%">Traveller Email </th>
                            <th style="width:50%">Added By </th>



                        </tr>
                        </thead>
                        <tbody>
                        @for((key, p) <- m.trips) {
                            @for(v <- p.travellers) {
                        <tr>
                            <td>@p.tripName @if(p.groupName != null && p.groupName.length > 0){&nbsp;(Group: @p.groupName)}</td>
                            <td>@p.publishedDate</td>
                            <td>@v.email</td>
                            <td>@v.createdBy</td>

                        </tr>
                            }


                        }
                        </tbody>
                    </table>

                    <br/><br/><br/>

                    <table class="table table-striped" id="detailTable1">
                        <h2> NEW TRIP - TRAVEL AGENTS DETAILS </h2>
                        <thead>
                        <tr>
                            <th style="width:30%">Trip Name</th>
                            <th style="width:10%">Published Date </th>
                            <th style="width:10%">Agent Email </th>
                            <th style="width:50%">Added By </th>


                        </tr>
                        </thead>
                        <tbody>
                        @for((key, p) <- m.trips) {
                        @if(p.agents != null) {
                        @for(v <- p.agents) {
                        <tr>
                            <td>@p.tripName @if(p.groupName != null && p.groupName.length > 0){&nbsp;(Group: @p.groupName)}</td>
                            <td>@p.publishedDate</td>
                            <td>@v.email</td>
                            <td>@v.createdBy</td>

                        </tr>
                        }
                        }


                        }
                        </tbody>
                    </table>

                    }



                    @if(m.addedTravellers != null && m.addedTravellers.size() > 0 ) {
                    <br/> <br/>  <br/>

                    <table class="table table-striped" id="detailTable2">
                        <h2> Newly Added Travellers to Existing Trips </h2>
                        <thead>
                        <tr>
                            <th style="width:40%">Trip Name</th>
                            <th style="width:10%">Added Date </th>
                            <th style="width:20%">Traveller Email </th>
                            <th style="width:20%">Added By </th>


                        </tr>
                        </thead>
                        <tbody>
                        @if( m.addedTravellers != null) {
                        @for((key, passengerList) <- m.addedTravellers) {
                        @for( v <-  passengerList) {
                        <tr>
                            <td>@v.tripName @if(v.groupName != null && v.groupName.length > 0){&nbsp;(Group: @v.groupName)}</td>
                            <td>@v.publishedDate</td>
                            <td>@v.email</td>

                            <td>@v.userId</td>

                        </tr>
                        }
                        }
                        }

                        </tbody>
                    </table>
                    }


                    @if(m.addedAgents != null && m.addedAgents.size() > 0 ) {
                    <br/> <br/>  <br/>

                    <table class="table table-striped" id="detailTable3">
                        <h2> Newly Added Travel Agents to Existing Trips </h2>
                        <thead>
                        <tr>
                            <th style="width:40%">Trip Name</th>
                            <th style="width:10%">Added Date </th>
                            <th style="width:20%">Agent Email</th>
                            <th style="width:20%">Added By </th>


                        </tr>
                        </thead>
                        <tbody>
                        @if( m.addedAgents != null) {
                        @for((key, passengerList) <- m.addedAgents) {
                        @for( v <-  passengerList) {
                        <tr>
                            <td>@v.tripName @if(v.groupName != null && v.groupName.length > 0){&nbsp;(Group: @v.groupName)}</td>
                            <td>@v.publishedDate</td>
                            <td>@v.email</td>


                            <td>@v.userId</td>

                        </tr>
                        }
                        }
                        }

                        </tbody>
                    </table>
                    }
                </div>
            </div>
        </div>


    </div>
    }


</div>
<--endPageBody-->
