@(m:  com.mapped.publisher.view.StatsView)
@if(m!=null && m.message != null && m.message.length > 0) {
<--alertMsg-->
<div id="alertMsg">
    <h4> @m.message</h4>
</div>
<--endAlertMsg-->
}
<--pageHeader-->
<div id="pageHeader">
</div>
<--endPageHeader-->


<--pageTitle-->
<div id="pageTitle">
    <h1 class="page-title">Dashboard - Summary</h1>
</div>
<--endPageTitle-->
<--pageBody-->
<div id="pageBody">
<script>
    //initialize sortable data tables
    $(document).ready(function() {
    @for((v,i) <- m.dates.zipWithIndex){
    $('#declined@i').dataTable();
    $('#outstanding@i').dataTable();
    $('#locked@i').dataTable();
    $('#neverLoggedIn@i').dataTable();
    }
    } );

</script>

@if(m.summaryActivityByMonth != null) {

<div class="tabbable well">

<ul class="nav nav-tabs" id="myTab">
    @for((v,i) <- m.dates.zipWithIndex){
    <li @if(i == 0) {class="active"} ><a href="#month@i" data-toggle="tab"><i class="icon-calendar pull-left"></i> &nbsp;@v</a></li>
    }

</ul>

<div class="tab-content">

@for((v,i) <- m.dates.zipWithIndex){
<div class="tab-pane @if(i == 0) {active}" id="month@i">
@if(m.summaryActivityByMonth(v) != null){
<div class="" style="padding-bottom:20px;">
    <h2> SUMMARY</h2>
    <div class="row-fluid">
        <div class="span3 well" >
            <h3 style="text-align:center;text-decoration:underline"> COMPANY ACTIVITY</h3>
            <br/>
            <table class="table ">
                <tr>
                    <td>
                        <h5> # of Companies: </h5>
                    </td>
                    <td>
                        <h5>  @m.summaryActivityByMonth(v).numActiveCmpy</h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5> # of New Companies: </h5>
                    </td>
                    <td>
                        <h5>  @m.summaryActivityByMonth(v).numNewCmpy</h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5> # of Deleted Companies: </h5>
                    </td>
                    <td>
                        <h5> @m.summaryActivityByMonth(v).numDeletedCmpy </h5>
                    </td>
                </tr>
            </table>
        </div>
        <div class="span3 well" >
            <h3 style="text-align:center;text-decoration:underline"> USER ACTIVITY</h3>
            <br/>
            <table class="table ">
                <tr>
                    <td>
                        <h5> # of Active Users: </h5>
                    </td>
                    <td>
                        <h5>  @m.summaryActivityByMonth(v).numActiveUsers</h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5> # of New Users: </h5>
                    </td>
                    <td>
                        <h5>  @m.summaryActivityByMonth(v).numNewUsers</h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5> # of Deleted Users: </h5>
                    </td>
                    <td>
                        <h5> @m.summaryActivityByMonth(v).numDeletedUsers </h5>
                    </td>
                </tr>
            </table>
        </div>

        <div class="span3 well" >
            <h3 style="text-align:center;text-decoration:underline"> TRIPS ACTIVITY</h3>
            <br/>
            <table class="table ">
                <tr>
                    <td>
                        <h5> # of Active Trips: </h5>
                    </td>
                    <td>
                        <h5>  @m.summaryActivityByMonth(v).numTripsCreated</h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5> # of Pending Trips: </h5>
                    </td>
                    <td>
                        <h5>  @m.summaryActivityByMonth(v).numTripsPending</h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5> # of Deleted Trips: </h5>
                    </td>
                    <td>
                        <h5> @m.summaryActivityByMonth(v).numTripsDeleted </h5>
                    </td>
                </tr>
            </table>
        </div>


    </div>
    <div class="row-fluid">
        <div class="span3 well" >
            <h3 style="text-align:center;text-decoration:underline"> LOGON ACTIVITY</h3>
            <br/>
            <table class="table ">
                <tr>
                    <td>
                        <h5> # of Successful Logons: </h5>
                    </td>
                    <td>
                        <h5>  @m.summaryActivityByMonth(v).numLogons</h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5> # of Failed Logons: </h5>
                    </td>
                    <td>
                        <h5>  @m.summaryActivityByMonth(v).numFailedLogons</h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5> # of Password Resets: </h5>
                    </td>
                    <td>
                        <h5> @m.summaryActivityByMonth(v).numPasswordReset </h5>
                    </td>
                </tr>
            </table>
        </div>

        <div class="span3 well" >
            <h3 style="text-align:center;text-decoration:underline"> TOP #5 USERS FAILED LOGONS</h3>
            <br/>
            <table class="table ">
                <thead>
                <tr>
                    <th style="width:10%">USERID</th>
                    <th style="width:10%">COUNT </th>
                </tr>
                </thead>
                <tbody>

                @for((k,v) <- m.summaryActivityByMonth(v).topFailedLogons) {
                    <tr>
                        <td>
                            <h5> @k </h5>
                        </td>
                        <td>
                            <h5>  @v</h5>
                        </td>
                    </tr>
                }
                </tbody>

            </table>
        </div>

        <div class="span3 well" >
            <h3 style="text-align:center;text-decoration:underline"> TOP #5 USERS PWD RESET</h3>
            <br/>
            <table class="table ">
                <thead>
                <tr>
                    <th style="width:10%">USERID</th>
                    <th style="width:10%">COUNT </th>
                </tr>
                </thead>
                <tbody>

                @for((k,v) <- m.summaryActivityByMonth(v).topPwdReset) {
                <tr>
                    <td>
                        <h5> @k </h5>
                    </td>
                    <td>
                        <h5>  @v</h5>
                    </td>
                </tr>
                }
                </tbody>

            </table>
        </div>
    </div>


</div>
}
<br/>   <br/>  <br/> <hr> <br/>  <br/>


<table class="table table-striped" id="outstanding@i">
    <h2> COMPANIES - OUTSTANDING AGREEMENTS </h2>
    <thead>
    <tr>
        <th style="width:10%">CMPY</th>
        <th style="width:10%">AGREEMENT VER </th>
    </tr>
    </thead>
    <tbody>
    @for(p <- m.summaryActivityByMonth(v).noAcceptedUserAgreement){
    <tr>
        <td>
            <a onclick="javascript:activateMenu('#menuAdmin');getPage('/cmpy/cmpy?inCmpyId=@p.cmpyid');"> @p.name </a>
        </td>
        <td>
            @p.targetAgreement
        </td>
    </tr>

    }

    </tbody>
</table>
<br/>   <br/>  <br/> <hr> <br/>  <br/>
    <table class="table table-striped" id="declined@i">
        <h2> COMPANIES - DECLINED AGREEMENTS </h2>
        <thead>
        <tr>
            <th style="width:40%">CMPY</th>
            <th style="width:10%">AGREEMENT VER </th>
            <th style="width:20%">DECLINED BY </th>
            <th style="width:30%">DECLINED ON </th>

        </tr>
        </thead>
        <tbody>
        @for(p <- m.summaryActivityByMonth(v).declinedUserAgreement){
        <tr>
            <td>
                <a onclick="javascript:activateMenu('#menuAdmin');getPage('/cmpy/cmpy?inCmpyId=@p.cmpyid');"> @p.name  </a>
            </td>
            <td>
                @p.targetAgreement
            </td>
            <td>
                @p.userid
            </td>
            <td>
                @p.timestamp
            </td>
        </tr>

        }

        </tbody>
    </table>
<br/>   <br/>  <br/> <hr> <br/>  <br/>
    <table class="table table-striped" id="locked@i">
        <h2> USERS - LOCKED </h2>
        <thead>
        <tr>
            <th style="width:15%">USERID</th>
            <th style="width:25%">NAME</th>
            <th style="width:30%">CMPY </th>
            <th style="width:30%">EMAIL </th>

        </tr>
        </thead>
        <tbody>
        @for(p <- m.summaryActivityByMonth(v).inactiveUsers){
        <tr>
            <td>
                <a onclick="javascript:activateMenu('#menuAdmin');getPage('/user/user?inUserId=@p.userid&inCmpyId=@p.cmpyId&inCmpyMode=false');"> @p.userid  </a>
            </td>
            <td>
                @p.firstName &nbsp; @p.lastName
            </td>
            <td>
                <a onclick="javascript:activateMenu('#menuAdmin');getPage('/cmpy/cmpy?inCmpyId=@p.cmpyId');"> @p.cmpyName  </a>
            </td>
            <td>
                @p.email
            </td>
        </tr>

        }

        </tbody>
    </table>
    <br/>   <br/>  <br/> <hr> <br/>  <br/>
<table class="table table-striped" id="neverLoggedIn@i">
    <h2> USERS - NEVER LOGGED IN </h2>
    <thead>
    <tr>
        <th style="width:15%">USERID</th>
        <th style="width:25%">NAME</th>
        <th style="width:30%">CMPY </th>
        <th style="width:30%">EMAIL </th>

    </tr>
    </thead>
    <tbody>
    @for(p <- m.summaryActivityByMonth(v).neverLoggedInUsers){
    <tr>
        <td>
            <a onclick="javascript:activateMenu('#menuAdmin');getPage('/user/user?inUserId=@p.userid&inCmpyId=@p.cmpyId&inCmpyMode=false');"> @p.userid  </a>
        </td>
        <td>
            @p.firstName &nbsp; @p.lastName
        </td>
        <td>
            <a onclick="javascript:activateMenu('#menuAdmin');getPage('/cmpy/cmpy?inCmpyId=@p.cmpyId');"> @p.cmpyName  </a>
        </td>
        <td>
            @p.email
        </td>
    </tr>

    }

    </tbody>
</table>
<br/>



</div>  <!-- tab pane -->
}



</div> <!-- tab content -->
</div> <!-- tabable content -->


}



<div id="dynamicModal">
</div>


</div>
<--endPageBody-->