@(m:  com.mapped.publisher.view.StatsView)
@if(m!=null && m.message != null && m.message.length > 0) {
<--alertMsg-->
<div id="alertMsg">
    <h4> @m.message</h4>
</div>
<--endAlertMsg-->
}
<--pageHeader-->
<div id="pageHeader">
</div>
<--endPageHeader-->


<--pageTitle-->
<div id="pageTitle">
    <h1 class="page-title">Dashboard - Mobile Activity</h1>
</div>
<--endPageTitle-->
<--pageBody-->
<div id="pageBody">
<script>
    //initialize sortable data tables


</script>

@if(m.summaryMobileActivityByMonth != null) {

<div class="tabbable well">

<ul class="nav nav-tabs" id="myTab">
    @for((v,i) <- m.dates.zipWithIndex){
    <li @if(i == 0) {class="active"} ><a href="#month@i" data-toggle="tab"><i class="icon-calendar pull-left"></i> &nbsp;@v</a></li>
    }

</ul>

<div class="tab-content">

@for((v,i) <- m.dates.zipWithIndex){
<div class="tab-pane @if(i == 0) {active}" id="month@i">
@if(m.summaryMobileActivityByMonth(v) != null){
<div class="" style="padding-bottom:20px;">
    <h2> SUMMARY</h2>
    <div class="row-fluid">
        <div class="span3 well" >
            <h3 style="text-align:center;text-decoration:underline"> USER ACTIVITY</h3>
            <br/>
            <table class="table ">
                @if(i==0){
                <tr>
                    <td>
                        <h5> # of Active Users: </h5>
                    </td>
                    <td>
                        <h5>  @m.summaryMobileActivityByMonth(v).numActiveUsers</h5>
                    </td>
                </tr>
                }
                <tr>
                    <td>
                        <h5> # of New Users: </h5>
                    </td>
                    <td>
                        <h5>  @m.summaryMobileActivityByMonth(v).numNewUsers</h5>
                    </td>
                </tr>
            </table>
        </div>
        <div class="span3 well" >
            <h3 style="text-align:center;text-decoration:underline"> EVENT ACTIVITY</h3>
            <br/>
            <table class="table ">
                @if(i==0){
                <tr>
                    <td>
                        <h5> # of Active Events: </h5>
                    </td>
                    <td>
                        <h5>  @m.summaryMobileActivityByMonth(v).numActiveEvents</h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5> # of Active Trips: </h5>
                    </td>
                    <td>
                        <h5>  @m.summaryMobileActivityByMonth(v).numActiveTrips</h5>
                    </td>
                </tr>
                }
                <tr>
                    <td>
                        <h5> # of New Events: </h5>
                    </td>
                    <td>
                        <h5>  @m.summaryMobileActivityByMonth(v).numNewEvents</h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5> # of New Trips: </h5>
                    </td>
                    <td>
                        <h5> @m.summaryMobileActivityByMonth(v).numNewTrips </h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5> # of Modified Events: </h5>
                    </td>
                    <td>
                        <h5>  @m.summaryMobileActivityByMonth(v).numModifiedEvents</h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5> # of Deleted Events: </h5>
                    </td>
                    <td>
                        <h5>  @m.summaryMobileActivityByMonth(v).numDeletedEvents</h5>
                    </td>
                </tr>
            </table>
        </div>

        <div class="span3 well" >
            <h3 style="text-align:center;text-decoration:underline"> NEW SHARE ACTIVITY</h3>
            <br/>
            <table class="table ">
                <tr>
                    <td>
                        <h5> # of New Shares: </h5>
                    </td>
                    <td>
                        <h5>  @m.summaryMobileActivityByMonth(v).numNewShares</h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5> # of New Full Access: </h5>
                    </td>
                    <td>
                        <h5>  @m.summaryMobileActivityByMonth(v).numNewFullShares</h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5> # of New Recommend Access: </h5>
                    </td>
                    <td>
                        <h5>  @m.summaryMobileActivityByMonth(v).numNewFullShares</h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5> # of New View Access: </h5>
                    </td>
                    <td>
                        <h5>  @m.summaryMobileActivityByMonth(v).numNewRecommendShares</h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5> # of Deleted Shares: </h5>
                    </td>
                    <td>
                        <h5> @m.summaryMobileActivityByMonth(v).numNewViewShares </h5>
                    </td>
                </tr>
            </table>
        </div>

        @if(i ==0) {
        <div class="span3 well" >
            <h3 style="text-align:center;text-decoration:underline"> ALL SHARE ACTIVITY</h3>
            <br/>
            <table class="table ">
                <tr>
                    <td>
                        <h5> # of New Shares: </h5>
                    </td>
                    <td>
                        <h5>  @m.summaryMobileActivityByMonth(v).numActiveShares</h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5> # of New Full Access: </h5>
                    </td>
                    <td>
                        <h5>  @m.summaryMobileActivityByMonth(v).numActiveFullShares</h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5> # of New Recommend Access: </h5>
                    </td>
                    <td>
                        <h5>  @m.summaryMobileActivityByMonth(v).numActiveRecommendShares</h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5> # of New View Access: </h5>
                    </td>
                    <td>
                        <h5>  @m.summaryMobileActivityByMonth(v).numActiveViewShares</h5>
                    </td>
                </tr>

            </table>
        </div>
        }



    </div>


</div>
}
<br/>   <br/>  <br/> <hr> <br/>  <br/>


<table class="table table-striped" id="outstanding@i">
    <h2> SESSIONS</h2>
    <thead>
    <tr>
        <th style="width:10%">DEVICE</th>
        <th style="width:10%">OS </th>
        <th style="width:10%">OS VER</th>
        <th style="width:10%">COUNT </th>
  </tr>
    </thead>
    <tbody>
    @for(p <- m.summaryMobileActivityByMonth(v).sessions){
    <tr>
        <td>
            @p.device
        </td>
        <td>
            @p.os
        </td>
        <td>
            @p.osVer
        </td>
        <td>
            @p.count
        </td>
    </tr>

    }

    </tbody>
</table>




</div>  <!-- tab pane -->
}



</div> <!-- tab content -->
</div> <!-- tabable content -->


}



<div id="dynamicModal">
</div>


</div>
<--endPageBody-->