@(m:  com.mapped.publisher.view.StatsView)
@if(m!=null && m.message != null && m.message.length > 0) {
<--alertMsg-->
<div id="alertMsg">
    <h4> @m.message</h4>
</div>
<--endAlertMsg-->
}


<--pageTitle-->
<div id="pageTitle">
    <h1 class="page-title">Dashboard - User Activity</h1>
</div>
<--endPageTitle-->
<--pageBody-->
<div id="pageBody">
    <script>
        //initialize sortable data tables
        $(document).ready(function() {
        @for((v,i) <- m.dates.zipWithIndex){
        $('#publish_activity@i').dataTable();
         $('#user_activity@i').dataTable();
          }
        } );
    </script>

    @if(m.userActivityByMonth != null) {

    <div class="tabbable well">

        <ul class="nav nav-tabs" id="myTab">
            @for((v,i) <- m.dates.zipWithIndex){
            <li @if(i == 0) {class="active"} ><a href="#month@i" data-toggle="tab"><i class="icon-calendar pull-left"></i> &nbsp;@v</a></li>
            }

        </ul>

        <div class="tab-content">

            @for((v,i) <- m.dates.zipWithIndex){
            <div class="tab-pane @if(i == 0) {active}" id="month@i">

                <table class="table table-striped" id="publish_activity@i">
                    <h2> PUBLISHING ACTIVITY BY USER </h2>
                    <thead>
                    <tr>
                        <th style="width:20%">USER ID</th>
                        <th style="width:20%">CMPY</th>
                        <th style="width:10%">#NEW TRIPS <br/> PUBLISHED </th>
                        <th style="width:10%">TOTAL <br/>PUBLISHED ACTIVITY</th>
                        <th style="width:10%">#TRIPS <br/>CREATED</th>
                        <th style="width:10%">#TRIPS <br/>PENDING</th>
                        <th style="width:10%">#TRIPS <br/>DELETED</th>
                        <th style="width:10%">#TOURS <br/>CREATED</th>
                        <th style="width:10%">#TOURS <br/>PENDING</th>
                        <th style="width:10%">#TOURS <br/>DELETED</th>

                    </tr>
                    </thead>
                    <tbody>
                    @for(p <- m.userActivityByMonth(v)){
                    <tr>

                        <td>
                            <a onclick="javascript:getPage('/user/user?inUserId=@p.userid&inCmpyId=@p.cmpyId&inCmpyMode=false');">
                            @p.userid <br/>
                            @p.firstName &nbsp; @p.lastName
                            </a>
                        </td>
                        <td>
                            @p.cmpyName
                        </td>
                        <td>
                            @p.numTripsPublished
                        </td>
                        <td>
                            @p.numTripsPublishedActivity
                        </td>
                        <td>
                            @p.numTripsCreated
                        </td>
                        <td>
                            @p.numTripsPending
                        </td>
                        <td>
                            @p.numTripsDeleted
                        </td>
                        <td>
                            @p.numToursCreated
                        </td>
                        <td>
                            @p.numToursPending
                        </td>
                        <td>
                            @p.numToursDeleted
                        </td>
                    </tr>

                    }

                    </tbody>
                </table>
                <br/>

              <table class="table table-striped" id="user_activity@i">
                <h2> NEW ACTIVE USERS </h2>
                <thead>
                  <tr>
                    <th style="width:10%">USER ID</th>
                    <th style="width:20%">NAME</th>
                    <th style="width:20%">COMPANY</th>
                    <th style="width:10%">CREATED BY </th>
                    <th style="width:10%">CREATED ON</th>
                  </tr>
                </thead>
                <tbody>
                @for(p <- m.users.get(v).users){
                  <tr>

                    <td>
                      <a onclick="javascript:getPage('/user/user?inUserId=@p.userId&inCmpyId=@p.cmpyId&inCmpyMode=false');">
                      @p.userId
                    </td>
                    <td>
                      @p.firstName &nbsp; @p.lastName
                    </td>
                    <td>
                    @p.cmpyName
                    </td>
                    <td>
                    @p.createdby
                    </td>
                    <td>
                    @p.createdon
                    </td>

                  </tr>

                }

                </tbody>
              </table>
              <br/>

            </div>
            }



        </div> <!-- tab content -->
    </div> <!-- tabable content -->


    }



    <div id="dynamicModal">
    </div>


</div>
<--endPageBody-->
