@(p: com.mapped.publisher.view.TripBookingDetailView, lang: String)
@import com.mapped.publisher.utils.Utils
@import play.i18n._

@if(p.getRates != null && p.getRates.size() > 0) {
<tr style="page-break-inside: avoid;">
    <td style="padding-top:10px;width: 100%;vertical-align: text-top;padding-bottom: 10px;margin-top: 0px;">
        <table style="page-break-inside: avoid;width: 100%">
            <tr style="font-size: 11px;color: #000000;font-weight: 700">
                <td style="border-top: 1px solid #000000;width: 70px ; padding-bottom: 0px;padding-top: 0px">@Messages.get(Lang.forCode(lang), "webitinerary.description")</td>
                <td style="width:10px"></td>
                <td style="border-top: 1px solid #000000;width: 80px ; padding-bottom: 0px;padding-top: 0px">@Messages.get(Lang.forCode(lang), "webitinerary.amount")</td>
            </tr>
            @for(v <- p.getRates) {
            <tr style="font-size : 11px ;color:#000000;">
                <td style="width:80%;font-size : 10px ; padding-bottom : 5px">
                    @if(v.getDescription != null){
                    @Html(v.getDescription) @if(!v.getDisplayName.equals("N/A")){- @Html(v.getDisplayName)}
                    }
                </td>
                <td></td>
                <td style="width:20%;font-size : 10px ; padding-bottom : 5px">
                    @if(v.getPrice != null){
                    @v.getPrice
                    }
                </td>
            </tr>
            }
        </table>
    </td>
</tr>

}

    @if((p.getSubtotal != null && !p.getSubtotal.isEmpty) || (p.getTaxes != null && !p.getTaxes.isEmpty) || (p.getFees != null && !p.getFees.isEmpty) || (p.getCurrency != null && !p.getCurrency.isEmpty) || (p.getTotal != null && !p.getTotal.isEmpty)) {
        <tr style="page-break-inside: avoid;">
            <td style="padding-top: 10px;
                width: 630px;
                vertical-align: text-top;
                padding-bottom: 10px;
                margin-top: 0px;">
                <table style="page-break-inside: avoid;
                    width: 630px">
                    <tr style="font-size: 11px;
                        color: #000000;
                        font-weight: 700">
                        @if(p.getSubtotal != null) {
                            <td style="border-top: 1px solid #000000;
                                width: 100px ;
                                padding-bottom: 0px;
                                padding-top: 5px;
                                text-transform: uppercase">@Messages.get(Lang.forCode(lang), "webitinerary.subtotal")</td>
                            <td style="width: 10px"></td>
                        }
                        @if(p.getTaxes != null) {
                            <td style="border-top: 1px solid #000000;
                                width: 80px ;
                                padding-bottom: 0px;
                                padding-top: 5px;
                                text-transform: uppercase">@Messages.get(Lang.forCode(lang), "webitinerary.taxes")</td>
                            <td style="width: 10px"></td>
                        }
                        @if(p.getFees != null) {
                            <td style="border-top: 1px solid #000000;
                                width: 70px ;
                                padding-bottom: 0px;
                                padding-top: 5px;
                                text-transform: uppercase">@Messages.get(Lang.forCode(lang), "webitinerary.fees")</td>
                            <td style="width: 10px"></td>
                        }
                        @if(p.getCurrency != null) {
                            <td style="border-top: 1px solid #000000;
                                width: 90px ;
                                padding-bottom: 0px;
                                padding-top: 5px;
                                text-transform: uppercase">@Messages.get(Lang.forCode(lang), "webitinerary.currency")</td>
                            <td style="width: 10px"></td>
                        }
                        @if(p.getTotal != null) {
                            <td style="border-top: 1px solid #000000;
                                width: 100px ;
                                padding-bottom: 0px;
                                padding-top: 5px;
                                text-transform: uppercase">@Messages.get(Lang.forCode(lang), "webitinerary.total")</td>
                        }
                    </tr>
                    <tr class="descFont" style="font-size: 11px ;">
                        @if(p.getSubtotal != null) {
                            <td style="font-size: 10px ;
                                padding-bottom: 5px">
                            @Html(p.getSubtotal)
                            </td>
                            <td></td>
                        }
                        @if(p.getTaxes != null) {
                            <td style="font-size: 10px ;
                                padding-bottom: 5px">
                            @Html(p.getTaxes)
                            </td>
                            <td></td>
                        }
                        @if(p.getFees != null) {
                            <td style="font-size: 10px ;
                                padding-bottom: 5px">
                            @Html(p.getFees)
                            </td>
                            <td></td>
                        }
                        @if(p.getCurrency != null) {
                            <td style="font-size: 10px ;
                                padding-bottom: 5px">
                            @Html(p.getCurrency)
                            </td>
                            <td></td>
                        }
                        @if(p.getTotal != null) {
                            <td style="font-size: 10px ;
                                padding-bottom: 5px">
                            @Html(p.getTotal)
                            </td>
                        }
                    </tr>
                </table>
            </td>
        </tr>
    }