<div id="footer_inner">

  <div class="footer_left">
    <a id="supportLink" href="/support" target="_blank"> Support</a>
    | <a href="http://umapped.com/whatsnew" target="_blank"> What's New</a>
    | <a href="mailto:support@@umapped.com">Contact Us</a>
    | <a href="https://itunes.apple.com/au/app/umapped-v2/id1263115316?mt=8" target="_blank"> Download </a>
    | <a href="http://umapped.com/privacy-policy" target="_blank"> Privacy Policy </a>
    | <a href="http://umapped.com/terms-of-service" target="_blank">Terms of use</a> <br />
    <p>Copyright &copy; 2018 Umapped Inc. All Rights Reserved.  Version 1.60.2</p>
  </div>

  <div class="footer_right">
    <a> <img src="https://s3.amazonaws.com/static-umapped-com/public/img/footer_bar.png" alt="" usemap="#Map" border="0">
      <map name="Map" id="Map">
        <area shape="rect" coords="-7,-2,95,22" href="http://www.umapped.com" />
        <area shape="rect" coords="101,0,126,28" href="https://www.facebook.com/pages/UMapped/215388181930597" title="facebook"/>
        <area shape="rect" coords="134,-8,160,24" href="https://www.twitter.com/umapped" title="twitter"/>
        <area shape="rect" coords="167,-5,194,28" href="https://www.linkedin.com/company/2847064" title="Linked In"/>
      </map>
    </a>
  </div>

</div>
