@(m:  String)
<--pageBody-->
  <div id="pageBody">
    <script>
    $(function() {
      $('#spinner').show();
      getPage('@m');
    });
    </script>
    <div class="" style="height: 300px">
      <h3>Completing the Wetu Itinerary Import - the page will refresh in a few seconds.</h3>
      If the page does not refresh, please click <a onclick="javascript:getPage('@m');return false;">here</a>
    </div>
  </div>
<--endPageBody-->