@(tripId: String, startDate: String, logo: String, cmpyName: String, cmpyId: String, publicItinerary: Boolean)
@import org.joda.time.DateTimeConstants;
@import org.apache.commons.lang3.StringEscapeUtils.escapeEcmaScript


<script>
function searchWetu() {
  $('#dynamicModalBody' ).modal('hide');
  //weird bug when chaining modals
  var url = '/wetu/supplier/@cmpyId/searchConfirmation?keywords=' + $('#confirmNumber').val() + '&type=AllItineraries&sort=StartDateDesc&tripId=@tripId';
  setTimeout(function() { getModalPage(url); }, 500);

  return false;
}

function searchWetuPublic() {
  $('#dynamicModalBody' ).modal('hide');
  //weird bug when chaining modals
  var url = '/wetu/supplier/@cmpyId/searchPublic?keywords=' + $('#keywords').val()  + '&sort=StartDateDesc&tripId=@tripId';
  setTimeout(function() { getModalPage(url); }, 500);

  return false;
}

  function closeModal() {
  $('#dynamicModalBody').modal('hide');
  return false
  }

  </script>

<div id="dynamicModalBody" class="modal container hide fade documentModal">
    <div class="modal-header">
        <button type="button" class="close" onclick="closeModal()">&times;</button>
      @if(publicItinerary) {
        <h2 style="text-align: center;">@cmpyName Tours</h2>
      } else {
        <h2 style="text-align: center;">@cmpyName Itinerary Import</h2>
      }
    </div>
    <div class="modal-body" style="position:relative;font-family: 'Open Sans Condensed', sans-serif;">

      <div class="tabbable">
        <ul class="nav nav-tabs" id="searchTab" style="list-style-type:none;" >
          <li class="active">
            <a href="#importItineraryTab" data-toggle="tab"> <i class="pull-left"></i> &nbsp; Search by Reference Number </a>
          </li>
            <li>
              <a href="#searchPublicTab" data-toggle="tab"> <i class="pull-left"></i> &nbsp; Search Available Tours </a>
            </li>
        </ul>
      </div>

  <div class="tab-content">
    <div id="importItineraryTab" class="tab-pane active">
      <div class="row-fluid">
        <div class="span7">
          <label>Reference Number</label>
          <input type="text" id='confirmNumber' name='confirmNumber' placeholder="Reference Number" class="input-block-level"/>
        </div>

        <div class="span2">
          <label>&nbsp;</label>
          <button class="btn btn-info " onclick="javascript:searchWetu();"> Search </button>
        </div>
        <div class="span2">
        @if(logo != null){
          <img src="@logo" style="height: 50px">
          }
        </div>
      </div>
      <input type="hidden" name="typeId" id="typeId" value="AllItineraries">
      <input type="hidden" name="sortId" id="sortId" value="StartDateDesc">
    </div>
    <div id="searchPublicTab" class="tab-pane ">
      <div class="row-fluid">
        <div class="span7">
          <label>Keywords</label>
          <input type="text" id='keywords' name='keywords' placeholder="e.g. Kenya" class="input-block-level"/>
        </div>

        <div class="span2">
          <label>&nbsp;</label>
          <button class="btn btn-info " onclick="javascript:searchWetuPublic();"> Search </button>
        </div>
        <div class="span2">
        @if(logo != null){
          <img src="@logo" style="height: 50px">
          }
        </div>
      </div>
    </div>
  </div>





    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-info" onclick="closeModal()">Close</button>
    </div>

</div>
