@import models.publisher.AfarCity
@(cities: List[AfarCity])

@if(cities.size() > 0) {
<table class="table table-striped" id="afarSearchResultsTable">
    <thead>
    <tr>
        <td>Name</td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    @for( city <- cities) {
    <tr>
        <td>@city.getAfarCityId()</td>
        <td><a class="btn btn-info pull-right" data-key="@city.getAfarCityId" data-target="afarChoice">
            Select</a>
        </td>
    </tr>
    }
    </tbody>
</table>
} else {
<div class="alert">
    <p>No destinations match your query.</p>
</div>
}

